[2017-10-23 17:42] carlspring opened #365 "Implement a validator which only accepts lowercase artifactId-s"
This validator should be applicable for Maven repositories. It should check that the `artifactId` component of the `path` is lowercase.

For more information, check the `strongbox-storage-api` module under the `org.carlspring.strongbox.storage.validation` package.

This task is similar to #366.

[2017-10-23 17:43] carlspring opened #366 "Implement a validator which only accepts lowercase groupId-s"
This validator should be applicable for Maven repositories. It should check that the `groupId` component of the `path` is lowercase.

For more information, check the `strongbox-storage-api` module under the `org.carlspring.strongbox.storage.validation` package.

This task is similar to #365.

[2017-10-23 17:59] carlspring opened #367 "Rename the 'repository.config.xml' property to 'strongbox.config.xml'"
Currently, all the project's properties are prefixed with `strongbox.*` and this is the only property in the that does not conform with the convention.

Tasks:
* The code of the project will have to be scanned for occurrences of this and they should be replaced.
* Building and executing the following projects should pass:
  * [strongbox](https://github.com/strongbox/strongbox/)
  * [strongbox-weba

[2017-10-23 18:01] carlspring opened #368 "Add ICLA links to all strongbox projects pointing to the one in the strongbox project"
Just copy the ICLA.md file from this project into all of the projects in this organization.

[2017-10-25 00:46] carlspring opened #370 "Figure out artifact extensions using Apache Tika"
We need to be able to figure out the extensions of artifact files. It seems that Apache Tika is one way to do this. Doing a simple `path.subString(path.lastIndexOf(File.separatorChar), path.length))` is not good enough, because there are certain extensions that are more complex like for example `tar.gz`, `tar.bz2` and the likes.

This will probably have to be implemented in the `LayoutProvider` im

[2017-10-25 00:48] carlspring opened #371 "Replace the implementation="file-system" with data-store="file-system" + package renaming"
* Replace the `implementation="file-system"` with `data-store="file-system"`.
* Replace the `org.carlspring.strongbox.providers.storage` with `org.carlspring.strongbox.providers.datastore`.

[2017-10-25 01:52] carlspring opened #372 "Implement HEAD requests support for artifacts"
We need to be able to respond to `HTTP HEAD` requests issued against the `org.carlspring.strongbox.controllers.maven.MavenArtifactController` and `org.carlspring.strongbox.controllers.nuget.NugetPackageController` classes.

Possible headers to return:
- `Content-Length`
- `Checksum-MD5`
- `Checksum-SHA1`
- `Creation-Date`
- `Last-Updated`

[2017-10-28 11:26] PradnyaBora commented on #371
I  have started working on this issue

[2017-10-28 11:28] carlspring commented on #371
Hi!

Great! Thanks!

Let me know, if you need any help!

[2017-10-28 18:28] PradnyaBora commented on #371
I made changes but how do I do build to test.

[2017-10-28 21:09] carlspring commented on #371
Have you checked the [wiki](https://github.com/strongbox/strongbox/wiki)? More specifically, the [Building the code](Building the code) page? Please, have a look at the wiki. I believe it should have more than enough to get you started.

[2017-10-30 03:28] carlspring commented on #371
@PradnyaBora ,

Have you been able to build the code?

[2017-10-31 18:03] carlspring opened #374 "Define dependency convergence checking using the maven-enforcer-plugin"
It would be great to have this set up, so that our dependencies could be kept clean.

This will also involve cleaning up any currently existing diamond dependencies.

For more details on how this can be done, check [here](https://maven.apache.org/enforcer/enforcer-rules/dependencyConvergence.html).

[2017-11-10 16:20] carlspring commented on #371
@PradnyaBora ,

Any update on this?

[2017-11-24 12:29] IIEleniII commented on #367
Hello @carlspring . I'm new to GitHub and i'd like to help with the issue you opened.
But first i'd like to ask a few questions to see if i understood correctly.
1.You want to replace  strongbox-any method it has with the conventional one?
2.What is the name of the  conventional one?
Looking forward to yr reply=)

[2017-11-24 13:22] carlspring commented on #367
@IIEleniII ,

You will have to have a look at the code and search for the `repository.config.xml` property, in order to find all the places it's used and replace them. This could be both in source and resource files.

Does this answer your question?
Kind regards,

Martin

[2017-11-25 16:53] IIEleniII commented on #367
Yes! Thank you for the detailed answer!
I would like to do that.
Is next Sunday OK for me to finish?

[2017-11-25 17:56] carlspring commented on #367
Sure, take your time.

On 25 Nov 2017 16:53, "IIEleniII" <notifications@github.com> wrote:

[2017-11-26 11:35] PradnyaBora commented on #371
I committed 7 files today but it is showing 105 files changes in my fork. I am not understanding. Also my changes were not reflected.
Kindly help.

[2017-11-26 13:09] carlspring commented on #371
@PradnyaBora ,

I appreciate your efforts, but if you would like to contribute to projects on Github, you will have to learn how to use Git, Github and how forks and pull requests work.

Your fork needs to be in sync with ours. In your case your `master` will have to be in sync with ours. Then you need to commit and push to your fork. Once you're done and the code compiles and the tests pass, you

[2017-12-06 04:10] Matthew-Kwan commented on #367
Hi, just wondering but has this been completed yet?

[2017-12-06 04:23] Matthew-Kwan commented on #365
Hi, this is my first time attempting to help out with a project on github. I would like to get a better understanding of this problem so I can help you fix it as well as fix #366. I'm looking at ArtifactsOperationsValidator.java right now and I'm not sure what I have the freedom to do or what exactly it is I should be doing. Particularly what the artifactId component of the path is. Any help would

[2017-12-06 06:18] carlspring commented on #365
Hi!

Thanks for offering to help !

If you decide to pick this task, I would recommend that you also pick #366, as these two tasks aalmost the same.
Have a look at [this](https://github.com/strongbox/strongbox/blob/2fd5ad3562e84bc8535da7932cde4eb2fb05a8ad/strongbox-storage/strongbox-storage-api/src/main/java/org/carlspring/strongbox/storage/validation/version/VersionValidator.java) and the classes

[2017-12-06 07:38] Matthew-Kwan commented on #365
Thanks for the tips Martin! I'll take a look at both the links you sent. I'll attempt to resolve the issue in my fork sometime soon this week.

[2017-12-07 18:12] carlspring commented on #371
Fixed in #400 and #402.

[2017-12-07 18:13] #371 closed

[2017-12-07 20:14] Matthew-Kwan commented on #365
Hi Martin,

I had a question. Am I supposed to create a new java file to implement this validator or add on to an existing file?

Thanks!

Mattthew

[2017-12-07 20:22] carlspring commented on #365
Hi,

You will have to create a new one.

On 7 Dec 2017 9:14 pm, "Matthew Kwan" <notifications@github.com> wrote:

[2017-12-07 20:22] carlspring commented on #365
Under the strongbox-maven-layout-provider module.

On 7 Dec 2017 9:22 pm, "Martin Todorov" <carlspring@gmail.com> wrote:

[2017-12-08 23:48] carlspring opened #403 "Upgrade org.springframework:* to >= 5.0.2.RELEASE"
Upgrade the standard Spring dependencies to >= `5.0.2.RELEASE`.

Make sure that:
- The project still builds
- The tests are still passing

The version is controlled via the `strongbox-parent/pom.xml`.

(This should not include the `spring-data` and `spring-security-*` ones).

[2017-12-09 00:09] carlspring opened #404 "Upgrade org.springframework.security:* to 5.0.0.RELEASE"
Upgrade the dependencies and make sure that:
- The project still builds
- The tests are still passing

The version is controlled via the `strongbox-parent/pom.xml`.

[2017-12-09 00:13] carlspring opened #405 "Upgrade the logging dependencies to the latest"
We need to upgrade the versions of the following dependencies to their latest compatible versions:
* `org.slf4j:jcl-over-slf4j:${version.jcl}`
* `org.slf4j:jul-to-slf4j:${version.jcl}`
* `ch.qos.logback:logback-core:${version.logback}`
* `ch.qos.logback:logback-classic:${version.logback}`

Make sure that:
* The project still builds
* The tests are still passing

The version is controlled via the `

[2017-12-09 00:18] carlspring opened #406 "Upgrade org.quartz-scheduler:quartz to >= 2.3.0"
We need to upgrade to the latest version of quartz.

Make sure that:
* The project still builds
* The tests are still passing

The version is controlled via the `strongbox-parent/pom.xml`.

The cron task tests which use Quartz can be executed using:

[code]

These must all be passing successfully. For more information on the cron tasks, check [here](https://github.com/strongbox/strongbox/wiki/Cron

[2017-12-09 00:26] carlspring opened #407 "Upgrade the version of Jetty to >= 9.4.8.v20171121"
We need to upgrade to the latest version of Jetty.

Make sure that:
* The project still builds
* The tests are still passing

The version is controlled via the `strongbox-parent/pom.xml`.

The webapp can be executed using:

[code]

If Jetty is starting the webapp correctly, then things should be alright. To test things, try accessing:
http://localhost:48080/configuration/strongbox/xml with `admin`

[2017-12-09 00:33] carlspring opened #408 "Upgrade org.apache.httpcomponents:* to >= 4.5.4"
We need to upgrade to the latest version of Jetty.

Make sure that:
* The project still builds
* The tests are still passing

The version is controlled via the `strongbox-parent/pom.xml`.

[2017-12-09 01:32] carlspring opened #409 "Fix the deprecation warnings in the strongbox-storage-maven-layout-provider"
The following warning can be seen in the `strongbox-storage-maven-layout-provider`:
[code]

This needs to be investigated and resolved.

[2017-12-09 03:46] dinesh19aug commented on #366
Opened a pull request. @carlspring  Please review if it looks good, I will add a vlaidator for #365 as well

[2017-12-09 03:47] dinesh19aug commented on #408
Created a pull request with #366 fix. Updated the version to 4.5.4. The tests were successful.

[2017-12-09 04:19] dinesh19aug commented on #408
Rolled back changes. The change builds fine(all test cases pass) on my machine but fails in Jenkins

[2017-12-09 04:28] dinesh19aug commented on #370
Assuming I create a method findExtension(Argument: argument) -
1) What should be the return type - String name of the extension - ex - "xlsx" or "tar.gz"?
2) What would be the input argument file or list of files(will return list or Hashmap<fileName, extension> ?

[2017-12-09 04:51] sbespalov commented on #370
I think it should be a method in 'RepositoryPath' without parameters and extension string result.

[2017-12-09 11:52] carlspring commented on #370
Yes.
Examples:
foo-1.2.3.tar.gz --> tar.gz
foo-1.2.3.gz --> gz
foo-1.2.3.tar.bz2 --> tar.bz2
foo-1.2.3.jar --> jar
foo-1.2.3.zip --> zip

As far, as I'm aware Apache Tika works with `InputStream`-s. What I would like is this:
* We currently have `ArtifactInputStream` (this is what is used for the artifacts to be read; it also calculates the artifact's checksums in realtime)
* It would be great, if

[2017-12-09 13:33] carlspring commented on #408
BTW, you may want to join our [chat](https://gitter.im/strongbox/strongbox).

[2017-12-09 13:33] carlspring commented on #408
@dinesh19aug,

BTW, you may want to join our [chat](https://gitter.im/strongbox/strongbox).

[2017-12-09 13:37] carlspring commented on #365
@Matthew-Kwan ,

BTW, you may want to join our [chat](https://gitter.im/strongbox/strongbox).

[2017-12-09 13:39] carlspring commented on #365
@Matthew-Kwan,

@dinesh19aug is already working on these two validators in #410 . Perhaps you would like to pick another task?

[2017-12-11 05:57] carlspring commented on #406
Thanks for the help, @sanket407!

[2017-12-11 05:57] #406 closed

[2017-12-11 06:00] sanket407 commented on #407
Started working on this !

[2017-12-11 06:01] sanket407 commented on #407
Expecting to finish in a day !

[2017-12-11 06:09] carlspring commented on #407
Great! Thanks!

[2017-12-12 04:47] dinesh19aug commented on #370
Got it. I can take this up and start working on it.

[2017-12-12 22:25] fuss86 opened #418 "Fix error 500 response when calling the REST API for a non-existing directory in a Maven repository"
**Steps to reproduce**
1. Compile the project (https://github.com/strongbox/strongbox/wiki/Building-the-code#building)
2. Run jetty server (https://github.com/strongbox/strongbox/wiki/Building-the-code#running-jetty-in-blocked-mode)
3. Visit for example http://localhost:48080/storages/storage-common-proxies/maven-central/pl/fuss/

**Problem**
See StackTrace at https://gist.github.com/fuss86/df8bdc

[2017-12-12 22:46] fuss86 opened #419 "Fix error 500 response when calling the REST API for a non-existing artifact in a non-existing directory in a Maven repository"
**Preface**
Similar to #418

**Steps to reproduce**
1. Compile the project (https://github.com/strongbox/strongbox/wiki/Building-the-code#building)
2. Run jetty server (https://github.com/strongbox/strongbox/wiki/Building-the-code#running-jetty-in-blocked-mode)
3. Visit for example http://localhost:48080/storages/storage-common-proxies/maven-central/pl/fuss/mummy.jar

**Problem**
See StackTrace at

[2017-12-12 23:01] fuss86 opened #420 "Fix error 500 response when calling the REST API for an invalid artifact in an existing directory in a Maven repository"
**Similar to**
#418 and #419

**Steps to reproduce**
1. Compile the project (https://github.com/strongbox/strongbox/wiki/Building-the-code#building)
2. Run jetty server (https://github.com/strongbox/strongbox/wiki/Building-the-code#running-jetty-in-blocked-mode)
3. Visit 2 locations one by one:
* http://localhost:48080/storages/storage-common-proxies/maven-central/org/carlspring/maven/derby-maven-

[2017-12-13 09:40] sanket407 opened #422 "Update jetty to version >= 9.4.7.v20170914"
We need to upgrade to the latest version of Jetty.

Make sure that:

* The project still builds
* The tests are still passing
* The version is controlled via the strongbox-parent/pom.xml.

The webapp can be executed using:

[code]

If Jetty is starting the webapp correctly, then things should be alright. To test things, try accessing:
http://localhost:48080/configuration/strongbox/xml with admin/p

[2017-12-13 15:14] carlspring commented on #422
Relates to #421.

[2017-12-13 15:15] carlspring commented on #407
Relates to #421 , #422.

[2017-12-14 11:02] carlspring commented on #366
Implemented in #416.

[2017-12-14 11:02] #366 closed

[2017-12-14 11:03] carlspring commented on #365
Implemented in #416.

[2017-12-14 11:03] #365 closed

[2017-12-14 23:51] carlspring opened #423 "Add a configurable coordinates validator"
In continuation of the work done or Maven artifact coordinate validators (#365 and #366, work done by @dinesh19aug) and in relation to #332, we should make it possible to define additional artifact coordinate validators. The ones implemented in #332 (by @fuss86) only cover version validation and artifact deployment/redeployment.

We now need to somehow be able to specify these non-default validato

[2017-12-15 10:49] #409 closed

[2017-12-15 23:24] carlspring opened #426 "Remove the copying of Spring resource to strongbox/META-INF/spring"
In the past, we used to have Spring context XML files across the modules. Since we migrated everything to annotation-based configuration, there are no longer such files, (except for one in the `META-INF/spring/strongbox-web-context.xml`, which should be unaffected by this change).

We need all the occurrences of `META-INF/spring/**` to be removed from all executions of the `maven-dependency-plugin

[2017-12-16 01:52] carlspring opened #427 "When uploading a new Maven artifact, if it's an archive (jar, war, zip, etc) add it's classes to the index"
The Maven 2.0 layout provider uses the [Maven Indexer](https://github.com/strongbox/strongbox/wiki/Maven-Indexer), in addition to OrientDB as it's place for storing useful information about the artifacts.

We need to be able to keep a record of the `.class` files discovered in the common Maven archive formats (`jar`, `war`, etc).

What needs to be done:
* Make sure classes are added to the Lucene

[2017-12-16 02:02] carlspring opened #428 "When uploading a checksum file for a Maven artifact, add the checksums to the index"
The Maven 2.0 layout provider uses the [Maven Indexer](https://github.com/strongbox/strongbox/wiki/Maven-Indexer), in addition to OrientDB as it's place for storing useful information about the artifacts.

We need to be able to keep a record of the checksum files in the local Maven Index.

What needs to be done:
* Make sure that checksums are added to the Lucene (Maven Indexer) local index
* Make

[2017-12-16 14:10] carlspring commented on #374
Implemented by @sanket407.

[2017-12-16 14:10] #374 closed

[2017-12-17 03:23] carlspring opened #430 "Create integration tests that resolve artifacts from Strongbox using Ant+Ivy"
We need to add integration tests (in the [strongbox-web-integration-tests](https://github.com/strongbox/strongbox-web-integration-tests/) project) that resolve and deploy artifacts using Ant+Ivy.

Here's a "Hello, World!" application that we've already created for illustrating how to configure Ant+Ivy to work with Strongbox.

The tests should be invoked in a similar way to how they're currently be

[2017-12-17 03:25] carlspring opened #431 "Create integration tests that resolve artifacts from Strongbox using Gradle"
We need to add integration tests (in the [strongbox-web-integration-tests](https://github.com/strongbox/strongbox-web-integration-tests/) project) that resolve and deploy artifacts using Gradle.

There's a ["Hello, World!"](https://github.com/strongbox/strongbox-examples/tree/master/hello-strongbox-gradle/) application that we've already created for illustrating how to configure Gradle to work wit

[2017-12-17 03:27] carlspring opened #432 "Create integration tests that resolve artifacts from Strongbox using SBT"
We need to add integration tests (in the [strongbox-web-integration-tests](https://github.com/strongbox/strongbox-web-integration-tests/) project) that resolve and deploy artifacts using SBT.

There's a ["Hello, World!"](https://github.com/strongbox/strongbox-examples/tree/master/hello-strongbox-sbt/) application that we've already created for illustrating how to configure SBT to work with Strongb

[2017-12-17 04:29] carlspring opened #433 "Create integration tests that resolve artifacts from Strongbox using NPM"
We need to add integration tests (in the [strongbox-web-integration-tests](https://github.com/strongbox/strongbox-web-integration-tests/) project) that resolve and deploy artifacts using NPM.

There's a ["Hello, World!"](https://github.com/strongbox/strongbox-examples/tree/master/hello-strongbox-npm/) application that we've already created for illustrating how to configure NPM to work with Strongb

[2017-12-17 05:39] sanket407 commented on #427
Working on this !
Expected time of completion : A week !

[2017-12-18 03:11] carlspring opened #434 "Merge the NugetHierarchicalArtifactCoordinates into the NugetArtifactCoordinates and carry out minor refactoring"
Initially, we thought we would have more than one implementation of a layout provider for NuGet.
* The code from `NugetHierarchicalArtifactCoordinates` class needs to be merged into the `NugetArtifactCoordinates` class.
* The `NugetHierarchicalArtifactCoordinates` needs to be removed. All classes using it, should be changed to use the `NugetArtifactCoordinates` class instead.
* Replace all `Nuget

[2017-12-18 10:35] carlspring opened #437 "Remove the RepositoryLayoutEnum class"
All the classes using this enum like this:

[code]

should now be using:

[code]

[2017-12-18 10:38] carlspring commented on #437
@sanket407 ,

This is related to #434. Would you perhaps Like to look into this as well?

[2017-12-18 11:49] sanket407 commented on #437
@carlspring  yes

[2017-12-18 11:57] sanket407 commented on #437
@carlspring RepositoryLayoutEnum class has to be deleted too ? Or only the enum use should be changed as given above ? As RepositoryLayoutEnum.MAVEN_2 is used else where too.

[2017-12-18 13:38] carlspring commented on #437
I was just giving an example with NuGet. The same approach used for NuGet
should be applied to Maven as well. This `getLayout()` string should be
replaced with the `ALIAS` of the respective layout provider implementation.

On 18 Dec 2017 1:57 pm, "Sanket Sawant" <notifications@github.com> wrote:

[2017-12-18 16:20] deannaji commented on #422
Hi,
Can I  try working on this?

Thanks
Dean

[2017-12-18 16:25] carlspring commented on #422
Sure, you can give it a go!

[2017-12-19 13:37] carlspring commented on #434
Implemented in #434 by @sanket407 .

[2017-12-19 13:37] #434 closed

[2017-12-19 19:23] deannaji commented on #403
Hi there,
I'm trying to build the original project on my machine first, but I'm still facing an error in (strongbox:commons) module. I'm using:
- Java 1.8
- Maven 3.3.9

The log:
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building Strongbox: Commons 1.0-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO]

[2017-12-19 20:31] carlspring commented on #403
You need to have the git binary on your PATH variable.

On 19 Dec 2017 9:23 pm, "Dean Naji" <notifications@github.com> wrote:

[2017-12-20 02:20] carlspring commented on #367
Implemented by @sanket407 in #439.

[2017-12-20 02:21] #367 closed

[2017-12-20 05:07] sanket407 commented on #372
Working on this .

[2017-12-23 00:28] carlspring commented on #372
@sanket407 ,

As per your request, I have updated the task's description.

[2017-12-24 02:55] steve-todorov opened #444 "Implement a Spring controller that returns the list of files and directories in a path as JSON"
# Description

We need a new Spring controller to be implemented that returns a JSON representation of the contents of a path.

* The controller should:
  * Be called `BrowsingController`
  * Be placed in the `strongbox-web-core` under the `org.carlspring.strongbox.controllers`
* The web resource path should be `/browse/{storageId}/{repository}/{path}`.
* The returned results must be sorted

# Exa

[2017-12-24 03:31] steve-todorov opened #445 "Refactor UserController to return proper JSON messages upon successful/failed action"
Refactor `org.carlspring.strongbox.controllers.users.UserController` (located in `strongbox-web-core`) so that it returns `JSON` messages upon successful/failed actions with the appropriate messages as follows:

1. If an action is successful we need to return the following JSON:
[code]

2. If the action has failed we need to return an error message that describes what's wrong:
[code]

[2017-12-24 03:46] carlspring opened #446 "Extract the code for the directory browsing into a set of methods in the BaseArtifactController and make the implementation generic enough to be able to serve all layout providers"
At the moment, the logic for this exists only in the `MavenArtifactController`. The code for this needs to be extracted into the `BaseArtifactController` and made more re-usable. The respective layout provider implementations of the controllers should then use these methods as required, to avoid duplication.

This task is similar to #447 .

Relates to #418, #419, #420.

[2017-12-24 03:47] carlspring opened #447 "Extract the code for the ranged requests into a set of methods in the BaseArtifactController and make the implementation generic enough to be able to serve all layout provider controllers"
At the moment, the logic for this exists only in the `MavenArtifactController`. The code for this needs to be extracted into the `BaseArtifactController` and made more re-usable. The respective layout provider implementations of the controllers should then use these methods as required, to avoid duplication.

This task is similar to #446.

[2017-12-25 21:01] epidemia commented on #405
#442 You can close this issue.

[2017-12-25 21:04] carlspring commented on #405
Thanks a lot for this!

[2017-12-25 21:04] #405 closed

[2017-12-27 14:18] carlspring commented on #408
Blocked by https://github.com/jersey/jersey/issues/3629.

[2017-12-28 00:58] carlspring opened #458 "Implement a Spring controller that displays the environment variables and properties"
# Description

We need a new Spring controller to be implemented that returns a list of the environment variables and system properties used to launch the application.

* The controller should:
  * Produce a JSON response
  * Have a `/configuration/environment/info` web resource path
  * Be called `EnvironmentInfoController`
  * Be placed in the `strongbox-web-core` under the `org.carlspring.stron

[2017-12-29 04:03] carlspring opened #460 "When an artifact has been deployed, or requested via a proxy repository, the parent directory(ies) of the temporary file is not removed on successful download"
# Description
When an artifact is being deployed, or downloaded, the temporary file is stored under:
[code]
with the respective path of the artifact (for example: `org/foo/bar/1.2.3/bar/...`.

When the artifact has successfully finished being written (regardless of whether this is a deploy, or resolve operation) and the file has been moved under the proper place under the repository's directory (`

[2017-12-29 04:08] carlspring opened #461 "The Maven Indexes are being downloaded to the java.io.tmpdir, instead of the respective repository's .temp dir"
The maven indexes are currently being downloaded to the `java.io.tmpdir`. This is incorrect. Each repository has a `.temp` directory in it's base directory. If all of the indexes that have been downloaded temporarily to the `java.io.tmpdir` are all just spewed there, it becomes a mess and it's hard to figure out which of them belongs to which repository.

Once the remote index has been downloaded

[2017-12-29 04:18] carlspring opened #462 "Get the maven plugin's prefix properly when generating metadata"
This needs to be addressed properly, as it's not correct.
This can be obtained from the jar's `META-INF/maven/plugin.xml` and could be read via a `ZipInputStream`.

For more details, please check `org.carlspring.strongbox.storage.metadata.MetadataMerger.updateMetadataAtGroupLevel()`.

[2017-12-29 13:37] carlspring opened #464 "Make it possible to list storages and their repositories when browsing"
At the moment, it's not possible to list storages, or repositories, just the content of repositories.

It would be great to have this implemented.

This relates to #418, #419, #420, #444.

[2017-12-30 05:06] carlspring commented on #418
Resolved in #463 by @sanket407.

[2017-12-30 05:06] #418 closed

[2017-12-30 05:06] carlspring commented on #419
Resolved in #463 by @sanket407.

[2017-12-30 05:06] #419 closed

[2017-12-30 05:06] carlspring commented on #420
Resolved in #463 by @sanket407.

[2017-12-30 05:06] #420 closed

[2017-12-30 15:35] sanket407 commented on #464
Working on this !!

[2017-12-30 15:35] sanket407 commented on #446
Working on this !!

[2018-01-02 22:01] dinesh19aug commented on #423
So since version validator is already there,

we need to add validator for groupid, artifactId and packaging?
Do we just need to validate the remaining "required coordinates"? (group and artifactId) or optional packaging as well?

[2018-01-02 22:34] carlspring commented on #423
My idea is this: right now the validators that we have are aimed at version-related stuff. We need to make this more generic, because you might want to validate different things for the different layout providers.

We should instead have replace the configuration with artifact coordinate validators that work with paths and perform the required validation. This task will have to involvw a bit of re

[2018-01-02 23:23] carlspring commented on #446
@sanket407 ,

I assume this is now to be considered resolved, so I will close it. Let me know, if this is not the case! Thanks for your help! :)

[2018-01-02 23:23] #446 closed

[2018-01-02 23:55] carlspring commented on #464
Thanks for implementing this! :)

[2018-01-02 23:55] #464 closed

[2018-01-03 01:30] carlspring opened #470 "Implement directory browsing for repositories with NuGet layouts"
Similarly to #446 and #464, we need to implement directory browsing for repositories with NuGet layouts. This is currently only implemented for repositories with Maven layouts.

[2018-01-03 01:34] carlspring opened #471 "Implement HEAD requests support for artifacts for proxied repositories"
We need to be able to respond to `HTTP HEAD` requests issued against the `org.carlspring.strongbox.controllers.maven.MavenArtifactController` and `org.carlspring.strongbox.controllers.nuget.NugetPackageController` classes.

This task should only cover the implementation for `HEAD` requests against proxy repositories.

Possible headers to return:
- `Content-Length`
- `Checksum-MD5`
- `Checksum-SHA1

[2018-01-03 01:36] carlspring opened #472 "Implement HEAD requests support for artifacts for group repositories"
We need to be able to respond to `HTTP HEAD` requests issued against the `org.carlspring.strongbox.controllers.maven.MavenArtifactController` and `org.carlspring.strongbox.controllers.nuget.NugetPackageController` classes.

This task should only cover the implementation for `HEAD` requests against group repositories.

Possible headers to return:
- `Content-Length`
- `Checksum-MD5`
- `Checksum-SHA1

[2018-01-03 03:43] dinesh19aug commented on #423
I see. In that case here's how I see how it should be done.
- refactor interface MavenVersionValidator to CoordinateValidator and add a method validate
- Create a new ENUM or some some form of Constants to identify which coordinates are required and which are optional.
- The implementing class implements validate() method and pulls in all the coordinates, the checks mandatory coordinates by lookin

[2018-01-04 05:48] dinesh19aug commented on #462
`org.carlspring.strongbox.storage.metadata.MetadataMerger.updateMetadataAtGroupLevel() `
The above method is trying to update the information if artifact is not a plugin. Please clarify if I need to fix this method or add a new method to update the metadata for plugin artifact.
If you look at the existing method. The if condition code -` if(!found) ` will only be entered  if the artifact type is n

[2018-01-04 10:21] ptirador commented on #458
Hello @carlspring. I've been reading the wiki and I'd like to help with this issue you opened.

[2018-01-04 10:29] carlspring commented on #458
Hi @ptirador ,

This is great! Please, feel free to pick this task and create a pull for it!

Kind regards,

Martin

[2018-01-04 11:58] ptirador commented on #458
Hi again @carlspring, I'd like to ask you a question:
Is it necessary to return a 400 status code if any of the lists (env variables or system props) is empty?

[2018-01-04 19:49] carlspring commented on #423
@dinesh19aug ,

Apologies for the delay in my reply, but I've been quite swamped. Please, see below:

Actually, no. We need a new interface called `ArtifactCoordinateValidator`. For all layout providers there will be a base class, such as, for example `MavenArtifactCoordinatesValidator` that extends this interface. All sub-coordinate validators (such as (in the example case of Maven) ones validati

[2018-01-05 22:30] carlspring commented on #458
Thanks for implementing this! :)

[2018-01-05 22:30] #458 closed

[2018-01-05 23:17] carlspring opened #477 "Make the EnvironmentInfoController controller also display JVM args used to run Strongbox"
In continuation of #458, make the `EnvironmentInfoController` also show the JVM args used to start Strongbox.

[2018-01-08 20:20] carlspring commented on #477
Implemented by @ptirador.

[2018-01-08 20:20] #477 closed

[2018-01-09 21:03] carlspring commented on #462
Implemented by @dinesh19aug .

[2018-01-09 21:03] #462 closed

[2018-01-09 21:16] carlspring opened #482 "Implement a method that returns all the repositories with a given layout"
We need a method that could return a list of `Repository` objects that are of a specified layout format. The method should be implemented in the `ConfigurationManagementService` class (+implementation).

The method should be called `getRepositoriesWithLayout(String storageId, String layout)`. If the `storageId` is `null`, search all storages.

A small test should also be provided.

[2018-01-09 21:21] carlspring opened #483 "Create a "System Requirements" wiki page"
# Task Description

Gather the list of requirements here and produce a wiki page with them.

You will need to create a PR in the [strongbox-docs](https://github.com/strongbox/strongbox-docs) repository. Please add this as a page under the `User Guide`.

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86
  * @steve-todorov

[2018-01-09 21:21] carlspring opened #484 "Create an "FAQ" wiki page"

[2018-01-09 21:24] carlspring opened #485 "Improve the documentation on the configuration files"
We need to improve our documentation for all of the `etc/conf/strongbox*xml` files, as it's very basic. We could use some more examples for different configurations.

[2018-01-09 21:29] carlspring opened #486 "Make it possible to configure a cron task so that it can have one concurrent execution"
Some tasks might need to have a guarantee that just one instance is executing against a given repository, or against all repositories. We need to implement this sort of limitation.

For more details on cron tasks, [check here](https://github.com/strongbox/strongbox/wiki/Cron-Tasks).

[2018-01-10 02:06] carlspring opened #487 "Make all cron tasks exclusive per repository execution by default"
Note: This issue depends on #486.

We need to make it so that only one task of a given type could be running simultaneously. This should be the default behavior. There should be an option to override this, of course.

We will need a proper test case for this.

[2018-01-11 20:43] steve-todorov opened #490 "Refactor the port management code in ConfigurationManagementController"
The port management code located in `org.carlspring.strongbox.controllers.ConfigurationManagementController` is not exactly working as expected. We need to have the following changes made:

1. `GET /configuration/strongbox/port` - needs to return in `JSON` the following output:

[code]

2. `PUT /configuration/strongbox/port` - (new endpoint) which should require the following `JSON` body to be sub

[2018-01-12 00:27] carlspring commented on #490
I think that all of the similar methods in this controller.

[2018-01-12 02:17] carlspring commented on #445
Implemented by @ptirador.

[2018-01-12 02:17] #445 closed

[2018-01-12 17:27] ptirador commented on #490
What if a method, similar to point 3, also returns a `Status 404`? Do I respond with that status and plain text body `NOT FOUND`?

[2018-01-12 17:54] carlspring commented on #490
Well, yeah, you can respond in the manner defined by the "Accepts" header.

On 12 Jan 2018 5:41 pm, "Pablo" <notifications@github.com> wrote:

[2018-01-14 03:06] carlspring opened #494 "Remove the ArtifactFileUtils class, as it's no longer used"
This class is no longer needed, as it's been properly replaced by a better mechanism -- the `RepositoryFileAttributes`.

Check if the [strongbox-web-integration-tests](https://github.com/strongbox/strongbox-web-integration-tests) still need this (the order of building is `strongbox` > `strongbox-web-integration-tests`).

[2018-01-14 03:10] carlspring opened #495 "Move the strongbox-storage-api-resources module under the strongbox-resources one"
The module is currently under:
* `strongbox-resources/strongbox-storage-resources/strongbox-storage-api-resources`
It should be moved under:
* `strongbox-resources/strongbox-storage-api-resources`

The remaining contents of the `strongbox-resources/strongbox-storage-resources` directory should be removed.

This is a minor clean up issue.

[2018-01-14 06:15] carlspring opened #496 "Implement directory browsing for NuGet"
The directory browsing doesn't seem to work for repositories with a NuGet layout format.

[2018-01-14 06:18] carlspring opened #497 "Implement directory browsing for repositories with a Raw layout"
The code for the Raw layout provider has been implemented on the SB-749 branch in #435.

It seems that the directory browsing isn't working here.

Related to #496 and #418, #419, #420.

[2018-01-14 06:28] carlspring opened #498 "Implement directory browsing for repositories with an NPM layout"
Similarly to the Maven implementation, we need to also implement directory browsing for NPM.

[2018-01-14 21:57] carlspring commented on #495
Implemented by @gokhankuyucak .

[2018-01-14 21:57] #495 closed

[2018-01-14 22:05] carlspring commented on #470
Duplicate of #496 .

[2018-01-14 22:05] #470 closed

[2018-01-14 23:47] steve-todorov commented on #494
Fixed in #501 by @gokhankuyucak.

[2018-01-14 23:47] #494 closed

[2018-01-15 08:10] sbespalov opened #503 "Make artifact checksum values to be available thru RepositoryFileAttributes"
Within this issue we need to add `RepositoryFileAttributes.getChecksumMap()` method, which will return `Map<String, byte[]>` instance like below:
[code]
How to implement:
- this should be implemented in `RepositoryFileSystemProvider.readAttributes` and `RepositoryFileSystemProvider.readAttributes` methods;
- checksum values should be resolved from the checksum files stored near the artifact file w

[2018-01-15 21:41] carlspring commented on #403
Implemented by @epidemia .

[2018-01-15 21:41] #403 closed

[2018-01-15 21:42] carlspring commented on #404
Implemented by @epidemia .

[2018-01-15 21:42] #404 closed

[2018-01-16 03:41] sbespalov opened #504 "Review NuGet functionality implemented in Strongbox"
Currently we assume that Nuget protocol version 2 is sufficient implemented for real use.
Within this task we need for someone with .Net experience to confirm that common NuGet cases will work in real world.
What need to be done:
1. Update the list of commands for different build tools ([nuget cli](https://docs.microsoft.com/en-us/nuget/tools/nuget-exe-cli-reference), [dotnet](https://docs.microso

[2018-01-18 01:27] carlspring commented on #444
Implemented by @guidograzioli.

[2018-01-18 01:27] #444 closed

[2018-01-18 01:42] carlspring opened #509 "Update the licensing information"
* All the `LICENSE` files should have the year changed to 2018:
[code]
* All the `pom.xml` files should have the `<inceptionYear>` set to 2018.

The same changes should be applied to all of the projects in the [Strongbox](https://github.com/strongbox) organization on Github:
* ~~[strongbox-assembly](https://github.com/strongbox/strongbox-assembly)~~ _[done in [strongbox-assembly #9](https://github

[2018-01-18 02:00] steve-todorov opened #510 "Make sure TrashController is following the "How To Write Controllers" guide"
Currently the [TrashController](https://github.com/strongbox/strongbox/blob/master/strongbox-web-core/src/main/java/org/carlspring/strongbox/controllers/TrashController.java) is not fully following the [How-To-Write-Controllers](https://github.com/strongbox/strongbox/wiki/How-To-Implement-Spring-Controllers) guide. This needs to be fixed.

[2018-01-18 19:18] carlspring opened #512 "Make sure LoggingManagementController is following the "How To Write Controllers" guide"
Currently the [LoggingManagementController](https://github.com/strongbox/strongbox/blob/master/strongbox-web-core/src/main/java/org/carlspring/strongbox/controllers/LoggingManagementController.java) is not fully following the [How-To-Write-Controllers](https://github.com/strongbox/strongbox/wiki/How-To-Implement-Spring-Controllers) guide. This needs to be fixed.

[2018-01-18 19:41] carlspring opened #513 "Make sure HttpConnectionPoolConfigurationManagementController is following the "How To Write Controllers" guide"
Currently the [HttpConnectionPoolConfigurationManagementController](https://github.com/strongbox/strongbox/blob/master/strongbox-web-core/src/main/java/org/carlspring/strongbox/controllers/HttpConnectionPoolConfigurationManagementController.java) is not fully following the [How-To-Write-Controllers](https://github.com/strongbox/strongbox/wiki/How-To-Implement-Spring-Controllers) guide. This needs

[2018-01-18 19:51] carlspring opened #514 "Create a hello-strongbox-nuget-visual-studio example"
We need a "Hello, World!" example that could be run under Visual Studio using NuGet.

* It should have some simple dependency defined, for example, some logging dependency, or unit test dependency.
* It should contain a `README.md` outlining exactly what needs to be done in order to get things working.
* Update the [NuGet Layout Provider](https://github.com/strongbox/strongbox/wiki/NuGet-Layout-Pr

[2018-01-19 00:56] carlspring opened #516 "Make sure UserController is following the "How To Write Controllers" guide"
Currently the [UserController](https://github.com/strongbox/strongbox/blob/master/strongbox-web-core/src/main/java/org/carlspring/strongbox/controllers/users/UserController.java) is not fully following the [How-To-Write-Controllers](https://github.com/strongbox/strongbox/wiki/How-To-Implement-Spring-Controllers) guide. This needs to be fixed.

[2018-01-19 01:12] carlspring opened #517 "Make sure CorsConfigurationController is following the "How To Write Controllers" guide"
Currently the [CorsConfigurationController](https://github.com/strongbox/strongbox/blob/master/strongbox-web-core/src/main/java/org/carlspring/strongbox/controllers/security/cors/CorsConfigurationController.java) is not fully following the [How-To-Write-Controllers](https://github.com/strongbox/strongbox/wiki/How-To-Implement-Spring-Controllers) guide. This needs to be fixed.

[2018-01-20 14:12] carlspring opened #518 "Create separate logback.xml-s for production and development"
* The contents of the current `logback.xml` should be moved into a new file called `logback-debug.xml`.
* The `logback.xml`'s logging level should be set to `ERROR`.
* All the configuration for the `maven-surefire-plugin`, `maven-failsafe-plugin` and `jetty-maven-plugin` will have to be set to use the `logback-debug.xml` for ease during development. This should be done for:
  * [`strongbox`](https

[2018-01-21 02:48] carlspring opened #520 "Rename the NpmPackageController and NugetPackageController"
For consistency, please rename the following artifact controllers:
* `NpmPackageController` to `NpmArtifactController` (for more info, check [NPM Layout Provider](https://github.com/strongbox/strongbox/wiki/NPM-Layout-Provider))
* `NugetPackageController` to `NugetArtifactController` (for more info, check [Nuget Layout Provider](https://github.com/strongbox/strongbox/wiki/NuGet-Layout-Provider))

[2018-01-21 03:59] carlspring commented on #497
Implemented by @sanket407 in #435.

[2018-01-21 03:59] #497 closed

[2018-01-21 06:39] carlspring opened #521 "Document how to use the Groovy scheduled tasks"
Have a look a look at the code in the [`strongbox`](https://github.com/strongbox/strongbox-cron-tasks/) module, deduct how things work and document this on the [Cron Tasks](https://github.com/strongbox/strongbox/wiki/Cron-Tasks) page.

[2018-01-21 08:09] danielbrzn commented on #520
I'll work on this!

[2018-01-21 08:23] carlspring commented on #520
Hi,

Yes, they will! Thanks for picking this up! Also, please sign the ICLA as described in the CONTRIBUTING.md.

Martin

[2018-01-22 00:33] carlspring commented on #482
Implemented by @SoulSilence

[2018-01-22 00:33] #482 closed

[2018-01-22 20:39] fuss86 opened #528 "HandlerMethodArgumentResolver to resolve Repository instance based on `{storageId}/{repositoryId}` path variables"
We'd like to have a Controller request method argument resolver for `org.carlspring.strongbox.storage.repository.Repository` instances.

For example, consider existing `org.carlspring.strongbox.controllers.TrashController#undelete` method which looks like this:

[code]
In many Controllers we have repeated pre-conditions validating existence of the repository for provided path variables.

It'd be a

[2018-01-22 21:17] fuss86 commented on #486
@carlspring, we already have on board `org.carlspring.strongbox.cron.jobs.OnePerRepositoryJavaCronJob`. Isn't it something that we want ? `org.carlspring.strongbox.cron.jobs.OnePerRepositoryJavaCronJob#beforeScheduleCallback` method removes/unschedules all previous configurations/tasks for the same job, if found any.

Please take a look.

[2018-01-22 22:40] #520 closed

[2018-01-22 22:41] carlspring opened #529 "Sort out the test issues with the BrowseControllerTest"
The test is currently `@Ignored` due to random failures.

[2018-01-22 22:44] carlspring commented on #529
@guidograzioli ,

I've created a follow-up to #444/#454 and #520, could you please investigate why these failures are happening? (If anyone else would like to investigate this issue as well, that's also fine).

Thanks! :)

[2018-01-22 23:24] carlspring commented on #486
Thanks a lot, @fuss86!

[2018-01-23 01:05] carlspring opened #531 "Test the packed indexes using Nexus 2.x"
* Start the `strongbox-distribution`
* Deploy artifacts to one of the Maven 2 repositories
* Run the cron task for rebuilding the Maven Indexes. This should produce a packed Maven Index once it's finished.
* Create a new proxy repository in Nexus 2 pointing to the one in Strongbox the you've deployed the artifacts to.
* Via the web interface, try to browse the remote index. If you see the artifact

[2018-01-23 01:06] carlspring opened #532 "Test the packed indexes using Nexus 3.x"
* Start the `strongbox-distribution`
* Deploy artifacts to one of the Maven 2 repositories
* Run the cron task for rebuilding the Maven Indexes. This should produce a packed Maven Index once it's finished.
* Create a new proxy repository in Nexus 3 pointing to the one in Strongbox the you've deployed the artifacts to.
* Via the web interface, try to browse the remote index. If you see the artifact

[2018-01-23 01:23] carlspring opened #533 "Test the packed indexes using Archiva"
* Start the `strongbox-distribution`
* Deploy artifacts to one of the Maven 2 repositories
* Run the cron task for rebuilding the Maven Indexes. This should produce a packed Maven Index once it's finished.
* Create a new proxy repository in Archiva pointing to the one in Strongbox the you've deployed the artifacts to.
* Via the web interface, try to browse the remote index. If you see the artifact

[2018-01-23 01:33] carlspring opened #534 "Test the packed indexes using Artifactory"
* Start the `strongbox-distribution`
* Deploy artifacts to one of the Maven 2 repositories
* Run the cron task for rebuilding the Maven Indexes. This should produce a packed Maven Index once it's finished.
* Create a new proxy repository in Artifactory pointing to the one in Strongbox the you've deployed the artifacts to.
* Via the web interface, try to browse the remote index. If you see the arti

[2018-01-23 02:01] sbespalov commented on #528
@fuss86 I think this validation could also check that target repository is in service `Repository.isInService()`.

[2018-01-23 02:19] carlspring commented on #528
I think it should also, check if there is such a storage in the first place.

[2018-01-23 03:50] sbespalov commented on #528
@fuss86 also I have thoughts that we can provide `Repository` instance using something like `ThreadLocal` context which can be populated within `HeaderMappingFilter`, the thing is that we already have similar validation logic there. In this case `HandlerMethodArgumentResolver` will just check these `Repository` instance in `ThreadLocal` context.

[2018-01-23 13:48] carlspring commented on #472
Implemented by @sbespalov.

[2018-01-23 13:48] #472 closed

[2018-01-23 13:48] carlspring commented on #471
Implemented by @sbespalov.

[2018-01-23 13:48] #471 closed

[2018-01-23 17:33] carlspring opened #535 "Produce proper code coverage reports using JaCoCo for both unit and integration tests"
We need to produce a merged report of both our unit and integration tests and store this in Sonar. We have Jenkins in place that could be doing this for automatically.

Our unit tests are executed using the `maven-surefire-plugin`. We also have integration tests (triggered by passing in `-Dintegration.tests`). In the `strongbox/strongbox-parent/pom.xml` we have our configuration settings for JaCoC

[2018-01-23 17:35] carlspring commented on #487
@fuss86 : I assume this can be closed with your recent changes, or...?

[2018-01-23 17:56] steve-todorov commented on #535
I would like to add that we currently have Sonar 6.6 which are running from the official [sonar:6.6](https://hub.docker.com/r/library/sonarqube/tags/) docker image. There seems to be a newer version - 6.7 which you can pull using docker.

[2018-01-23 19:11] carlspring commented on #490
Fixed by @ptirador .

[2018-01-23 19:32] fuss86 commented on #528
Correct, updated ticket description. Thanks.

Of course.

I like this idea, in general ...

but `HeaderMappingFilter` works only for `"/storages"` mapping. I'd like to to make it worked not only for this mapping (consider also `org.carlspring.strongbox.controllers.TrashController`). I know it makes this task more challenged but it's doable. Person picking this task may also take some ideas from `o

[2018-01-23 20:01] fuss86 commented on #487
No, not all cron tasks are exclusive per repository execution by default, currently. It needs to be re-worked. See `org.carlspring.strongbox.cron.jobs.OnePerRepositoryJavaCronJob` for reference.

[2018-01-23 22:07] carlspring commented on #510
Implemented by @ptirador.

[2018-01-23 22:07] #510 closed

[2018-01-25 03:33] carlspring opened #538 "Create checkstyle rules for the project based on the coding convention"
We have a clearly defined [Coding Convention](https://github.com/strongbox/strongbox/wiki/Coding-Convention) in the wiki. It would be great to have rules created for this, so that the convention could be checked by Jenkins when new pull requests have been made.

[2018-01-25 12:45] carlspring commented on #509
Implemented by @gokhankuyucak .

[2018-01-25 12:45] #509 closed

[2018-01-25 22:38] #490 closed

[2018-01-26 02:53] sbespalov opened #540 "NuGet checksum validation during package uploading"
Currently we have checksum generated on server side within `NugetArtifactController`, which is wrong because checksum assume to check the uploaded artifact consistency, so it's not damaged during uploading.
Within this task we need to know how checksums assumed to be provided by NuGet client.
Is there any specification for this on protocol level?
After the understanding of how the checksums work i

[2018-01-26 03:06] carlspring commented on #540
@gokhankuyucak ,

Could you please help us investigate how this should be done? Does NuGet generate these checksums on the client side? How does this work in [NuGet Gallery](https://github.com/NuGet/NuGetGallery), for example? Is it done on the server side?

If you can't find anything, could you please ask a question on their Github issue tracker and/or on Stackoverflow?

[2018-01-27 05:44] carlspring commented on #426
Fixed by @dinesh19aug .

[2018-01-27 05:44] #426 closed

[2018-01-27 05:51] danielbrzn commented on #433
I'll work on this 👍

[2018-01-27 05:56] carlspring commented on #433
Great! Could you please join our channel on [Gitter](https://gitter.im/strongbox/strongbox)? @SoulSilence is working on same thing but for SBT. I guess you could help each other out and also, it would be easier to explain things in one place, when there are questions (and the questions are applicable to all tools). :)

Thanks!

[2018-01-27 06:13] carlspring opened #542 "Implement a test case for proxy repository with raw layout"
We currently have [Raw Layout](https://github.com/strongbox/strongbox/wiki/Raw-Layout-Provider) implemented for hosted repositories. Raw layouts have no particular format -- artifacts could be stored in whatever place, or way needed.

For proxy repositories, this would mean that whatever's on the remote host could be downloaded via the raw proxy repository.

We need a test that can cover the case,

[2018-01-27 06:17] carlspring opened #543 "Implement a test case for group repositories with raw layout"
**NOTE:** This issue depends on #542.

We currently have [Raw Layout](https://github.com/strongbox/strongbox/wiki/Raw-Layout-Provider) implemented for hosted repositories. Raw layouts have no particular format -- artifacts could be stored in whatever place, or way needed.

For proxy repositories, this would mean that whatever's on the remote host could be downloaded via the raw proxy repository.

[2018-01-27 06:35] sbespalov commented on #542
@carlspring I think that this can't be implemented within our UnitTests because for proxy repositories we need URL which must be avaliable through http. So as a proxy repository, we need to have our RAW hosted repository which is deployed somewhere and available with http.
So I think this tests need to be done within `s-w-i-t`.

[2018-01-27 06:40] sbespalov commented on #542
Also I think that it will be good to improve `s-w-i-t` structure regarding groovy tests. My suggestion is to place appropriate tests under `src/test/groovy` folder.

[2018-01-27 06:43] carlspring commented on #542
As these will be integration tests, they will be expected to be able to connect to the Internet, just like the tests implemented for Maven repositories that @fuss86 wrote.

Have a look at [this test](https://github.com/strongbox/strongbox/blob/2d53eb7b8371b6283cd005e3a45718e8218ec640/strongbox-storage/strongbox-storage-layout-providers/strongbox-storage-maven-layout-provider/src/test/java/org/carl

[2018-01-27 06:47] carlspring commented on #542
Also, I agree with your idea about the restructuring.

Could you please raise a new issue for this and we'll look into it? @SoulSilence , @danielbrzn : You might want to do this from now'

[2018-01-27 12:30] sbespalov commented on #542
ok, will do it after @danielbrzn PR with gradle tests will be merged

[2018-01-27 12:37] carlspring commented on #542
That doesn't matter. The purpose of this would be to be able to proxy anything that is, or is not a repository. It could be any file or directory out there on the internet.

[2018-01-27 12:51] sbespalov commented on #542
oh, seems that I see now the RAW layout purpose.
@carlspring sorry for this confusion :)
In this case we really can use Maven Central as RAW artifact source :)

[2018-01-27 17:01] carlspring commented on #542
Yes, the whole point of this sort of layout provider is that there are times when you need to be able to host, or proxy artifacts that have no special layout format (like Maven, Gradle, NPM, NuGet, or whatever). For, example, let's say that some third-party application, or library that you use, is published as a zip somewhere like `http://some-third-party-corp.com/binaries/betascool-app/coolapp-1.

[2018-01-28 01:42] SoulSilence commented on #542
I'd like to take this task

[2018-01-28 23:17] carlspring opened #548 "Make the .index directories browsable"
It seems that currently the `.index` directories in Maven 2 repositories are not browsable. We should allow browsing them.

[2018-01-28 23:19] carlspring opened #549 "Resolve FileNotFoundException when browsing"
Investigate and fix the following exception related to browsing the directory of a Maven 2 repository:
[code]

[2018-01-28 23:20] carlspring commented on #549
@sanket407 ,

Is this perhaps something you could look into?

[2018-01-29 12:50] carlspring commented on #514
Thanks for this fantastic tutorial that you've created, @gokhankuyucak ! It looks absolutely great! :)

[2018-01-29 12:50] #514 closed

[2018-01-29 18:46] carlspring opened #550 "The paths in the directory listing are not sorted"
When displaying the list of files and directories the results should be sorted like this:
* Directories should be listed first and they should be sorted alphabetically
* Files should be listed after the list of directories and they should also be sorted alphabetically

How to test manually:
* Start up a Jetty in blocked mode, as explained [here](https://github.com/strongbox/strongbox/wiki/Building

[2018-01-29 19:58] carlspring commented on #531
It seems this is not working properly due to the number of columns Nexus expects.

![screenshot - nexus - 2 14 3-02 - directory browsing in nexus proxy repository agasint strongbox hosted repository](https://user-images.githubusercontent.com/1436265/35531369-aa5e1eac-052e-11e8-9778-821df7a794b8.png)

[2018-01-31 06:07] sanket407 commented on #549
@carlspring  What is  the request for?
If is it .index file then browsing logic currently doesnt support for files starting with "."

[2018-01-31 20:00] steve-todorov commented on #512
Fixed by @ptirador in #545.

[2018-01-31 20:00] #512 closed

[2018-02-01 20:16] steve-todorov commented on #513
Fixed in #546 by @ptirador.

[2018-02-01 20:16] #513 closed

[2018-02-01 22:03] fuss86 commented on #461
#559

[2018-02-01 22:18] carlspring commented on #461
Implemented by @fuss86 in #559 .

[2018-02-01 22:18] #461 closed

[2018-02-01 22:31] fuss86 commented on #531
#560

[2018-02-02 06:24] SoulSilence commented on #550
I published artifact to my local strongbox and got such response.

{
    "directories": [],
    "files": [
        "hello-strongbox-sbt_2.12-1.0-SNAPSHOT-javadoc.jar",
        "hello-strongbox-sbt_2.12-1.0-SNAPSHOT-javadoc.jar.md5",
        "hello-strongbox-sbt_2.12-1.0-SNAPSHOT-javadoc.jar.sha1",
        "hello-strongbox-sbt_2.12-1.0-SNAPSHOT-sources.jar",
        "hello-strongbox-sbt_2.12-1.0-SN

[2018-02-02 11:34] carlspring commented on #550
This is not necessarily always sorted (I've actually seen it not sorted, which why I've raised this issue). Do we have an explicit sort being invoked, or are we relying on the underlying OS to do it for us?

[2018-02-02 13:59] SoulSilence commented on #550
` Files.list(baseDir)
                 .filter(p -> !p.getFileName().toString().startsWith("."))
                 .sorted()
                 .forEach(p -> (Files.isDirectory(p) ? directories : files).add(p.getFileName().toString()));
          `

[2018-02-02 14:02] SoulSilence commented on #550
As I see it sorts in case sensitive order. Is it a problem? Do tou want case insensitive order?

[2018-02-02 17:37] carlspring opened #561 "Refactor the strongbox-web-integration-tests to be one module per build tool"
We are starting to have more and more integration tests for different build tools. Initially, this only contained a set of tests that would execute Maven (from within Maven itself via the `maven-invoker-plugin`) and perform various checks using Groovy validation scripts.

A while ago @sbespalov added some tests written in Groovy that would check things for our NuGet layout support by invoking NuGe

[2018-02-02 17:45] carlspring opened #562 "The public/nuget-public groups requires authentication by default when browsing"
The `public:nuget-public` repository currently pops up an authentication window when trying to browse. This should not be so and it should be possible to browse this group repository, unless it's specifically configured otherwise.

Relates to #496.

[2018-02-02 17:45] carlspring commented on #562
@sanket407 ,

Any idea why this is happening?

[2018-02-02 17:54] carlspring commented on #550
Please, have a look at this:

![screenshot - strongbox - directory browsing in hosted repository not sorted](https://user-images.githubusercontent.com/1436265/35747383-0451a756-0842-11e8-8cb7-a17e130507c2.png)

[2018-02-02 17:55] carlspring commented on #550
Based on the code you quoted, I don't see what you mean by case-sensitive here, really... What am I not seeing?

[2018-02-02 18:09] carlspring commented on #550
Also. I believe you're confusing things. I'm not talking about the `BrowserController` which returns JSON. If you open `http://localhost:48080/storages/storage0/snapshots/` (and, of course you have some artifacts deployed to that repository, you will see what I mean. (It's best to try [building strongbox against strongbox](https://github.com/strongbox/strongbox/wiki/Building-Strongbox-Against-Stro

[2018-02-02 23:15] steve-todorov opened #564 "Fix failing HttpConnectionPoolConfigurationManagementControllerTest test under windows."
It seems that #546 has introduced some failing test cases under windows. All of the tests in `org.carlspring.strongbox.controllers.HttpConnectionPoolConfigurationManagementControllerTest` are failing only on windows machines.

[code]

[2018-02-03 05:57] sanket407 commented on #562
@carlspring yes this is something specifically implemented by @sbespalov  in the NugetArtifactController when a GET request comes for a repository. Check the method called 'greet()'. Also our current master has no support for Nuget Browsing. Only Maven and Raw browsing is supported.

[2018-02-03 18:13] #550 closed

[2018-02-03 18:15] steve-todorov opened #569 "Require proper roles/privileges to access LoggingManagementController endpoints"
Our `org.carlspring.strongbox.controllers.LoggingManagementController` currently is not properly secured. It needs to have `@PreAuthorize` for each method. The list of privileges can be found in `org.carlspring.strongbox.users.domain.Privileges`.

[code]

[2018-02-03 18:46] carlspring opened #570 "Implement directory browsing for the log files"
We need to implement directory browsing for the log files.

There may be more the one log file in the `${STRONGBOX_VAULT}/logs` directory (please, use `PropertyUtils.getVaultDirectory()` for this).

A new method should be added to the `LoggingManagementController` that handles requests for `/logging/logs`. This should display the contents of the `${STRONGBOX_VAULT}/logs` directory.

Accessing thes

[2018-02-03 19:37] adityasrini commented on #570
Hi Carl! I intend to work on a solution for this.

[2018-02-03 19:57] danielbrzn opened #571 "Fix failing Nuget integration tests"
Currently, Nuget integration tests are failing because the deletion of an artifact from the repository doesn't seem to be working, although it says that there is a successful deletion.

Log:
[code]

@sbespalov

[2018-02-03 20:04] carlspring opened #572 "The directory browsing under /storages should not contain "..", as it points to a non-existing path"
When browsing `http://localhost:48080/storages/`, there is a link to `..` which is incorrect, as there is nothing above the path that can, or should be browseable.

The code for this is somewhere in the controllers under the `strongbox-web-core` module.

[2018-02-03 20:05] carlspring commented on #572
@sanket407 ,

It looks like this is one for you? Would you like to investigate it?

[2018-02-03 20:22] carlspring commented on #571
@danielbrzn ,

Thanks for reporting this!

@sbespalov ,

Could you have a look, when you get a chance, please? Thanks! :)

[2018-02-03 20:41] carlspring commented on #550
I've tested this and it works as expected! Thanks! :)

[2018-02-03 20:48] carlspring commented on #549
@sanket407 , I was hoping your recent fixes on #557 (#548) would solve this, but I've just checked it against a Maven 2 proxy repository and, unfortunately, this issue is still present.

Maven 2 proxy repositories have two types of indexes a `local` and `remote` one. These directories are created for them, even if they're empty when the server starts. Currently, it doesn't seem to be possible to b

[2018-02-03 20:52] carlspring commented on #549
Sorry, it seems I tested it against an incorrect revision! This works fine! :)

[2018-02-03 20:52] #549 closed

[2018-02-03 20:52] carlspring commented on #549
Solved with #557 .

[2018-02-03 20:53] carlspring commented on #548
Implemented by @sanket407 .

[2018-02-03 20:53] #548 closed

[2018-02-03 20:56] carlspring opened #573 "It should not be possible to delete paths under .index directories in Maven 2 repositories"
* We need a test case that checks this.
* If the test case proves that this is currently possible, then the required changes should be applied in order to disallow this.

[2018-02-04 13:49] fuss86 commented on #531
#576

[2018-02-04 14:44] fuss86 commented on #531
Fixed and tested in #576

[2018-02-04 14:44] #531 closed

[2018-02-04 16:59] carlspring commented on #573
@fuss86 , @sbespalov ,

I assume this should be covered using Spring Security, or is there another way?

[2018-02-04 22:57] carlspring opened #578 "Convert the org.carlspring.strongbox.storage.repository.Repository class to use RepositoryPath objects instead of File-s"
We should try to avoid the use of `File`-s at all cost. There are a couple of methods in the `org.carlspring.strongbox.storage.repository.Repository` class that are currently returning `File`-s. A minor refactoring will be required in order to sort this out.

[2018-02-05 02:13] sbespalov commented on #571
it seems that this is some sort of regress.
Maybe @gokhankuyucak will be interesting to dig into our Nuget stuff and fix it?

[2018-02-05 03:31] sbespalov commented on #571
@carlspring

[2018-02-06 00:20] carlspring commented on #571
@sbespalov,

Well, if @gokhankuyucak could look into it, that would be great! It would give him a chance to get acquainted with how things works in terms of the code. :)

@gokhankuyucak,

This is how to test it:
[code]

[2018-02-06 17:35] #431 closed

[2018-02-06 17:49] carlspring commented on #431
Implemented by @danielbrzn .

[2018-02-06 17:50] carlspring commented on #432
Implemented by @SoulSilence .

[2018-02-06 17:50] #432 closed

[2018-02-06 18:18] carlspring opened #584 "Convert the org.carlspring.strongbox.controllers.BaseArtifactController class to use RepositoryPath objects instead of File-s"
We should try to avoid the use of `File`-s at all cost. The `BaseArtifactController` has a few methods that are currently using `File`-s. A minor refactoring will be required in order to sort this out.

While at it, please, check any controllers that are sub-classing this and apply the same fixes for them as well.

Check `org.carlspring.strongbox.controllers.TrashController` for an illustration of

[2018-02-06 19:41] #516 closed

[2018-02-06 19:42] steve-todorov commented on #516
Fixed in #580

[2018-02-07 16:44] gokhankuyucak commented on #571
@sbespalov, @carlspring
As I checked, nuget list function gets the results from database, but nuget delete function deletes  only the nuspec file from folder. So I think we need to delete both from db and folder.

In code, we need to pass parameters "version" and "packageId" to **ArtifactManagementService**.delete method in **NugetArtifactController**.deletePackage method.

- **NugetArtifactContro

[2018-02-08 02:04] sbespalov commented on #571
@gokhankuyucak you can find ArtefactEntry with parameters you have there using method below:
[code]
and then you can delete it with:
[code]

[2018-02-09 00:02] adityasrini commented on #569
I’m taking this on. Unless someone else is working on this.

[2018-02-09 11:00] carlspring commented on #569
Okay, thanks! :)

[2018-02-09 17:16] steve-todorov opened #590 "Make sure AuthenticatorsConfigController is following the How-To-Write-Controllers guide"
Currently the [AuthenticatorsConfigController](https://github.com/strongbox/strongbox/blob/master/strongbox-web-core/src/main/java/org/carlspring/strongbox/controllers/AuthenticatorsConfigController.java) is not fully following the [How-To-Write-Controllers](https://github.com/strongbox/strongbox/wiki/How-To-Implement-Spring-Controllers) guide. This needs to be fixed.

[2018-02-09 17:42] carlspring commented on #564
@steve-todorov , @fuss86

Is this issue still relevant, or can it be close?

[2018-02-09 18:25] ptirador commented on #590
I'm taking this, if there's no problem.

[2018-02-09 18:26] carlspring commented on #590
Ok, great!

[2018-02-09 18:41] carlspring commented on #584
@ptirador ,

Would you like to also have a look at this one?

[2018-02-09 18:53] steve-todorov opened #591 "Make sure AuthorizationConfigController is following the How-To-Write-Controllers guide"
Currently the [AuthorizationConfigController](https://github.com/strongbox/strongbox/blob/master/strongbox-web-core/src/main/java/org/carlspring/strongbox/controllers/AuthorizationConfigController.java) is not fully following the [How-To-Write-Controllers](https://github.com/strongbox/strongbox/wiki/How-To-Implement-Spring-Controllers) guide. This needs to be fixed.

Also, keep in mind this needs

[2018-02-09 18:55] ptirador commented on #591
I'm taking this on if there's no problem.

[2018-02-09 20:01] steve-todorov commented on #591
Sure! :)

[2018-02-09 20:04] steve-todorov commented on #564
I believe @fuss86 has resolved this in https://github.com/strongbox/strongbox/pull/581 ?

[2018-02-10 09:46] gokhankuyucak commented on #571
Created PR #593

[2018-02-10 12:49] fuss86 commented on #564
Yes, it can be closed.

[2018-02-10 12:49] #564 closed

[2018-02-10 12:59] carlspring commented on #571
@danielbrzn ,

I've merged @gokhankuyucak 's PR for this. Would you like to give it another go, just in case?

[2018-02-10 14:40] danielbrzn commented on #571
Seems to have fixed the problem. However there's an issue with the `test-install-with-transitive-deps` script. Log as shown below.

[code]

[2018-02-10 15:07] carlspring commented on #571
@danielbrzn ,

I propose handling this in as a separate issue. Would you mind raising it as a new one?
Thanks!

[2018-02-10 17:05] Dannih95 commented on #503
Hi! I'm looking for a first issue to start contributing. Do you mind if I take this one? :)

[2018-02-10 17:11] carlspring commented on #503
Hi,

No, not at all. Please, feel free to dig in!

[2018-02-10 18:22] carlspring commented on #503
You can also join our Gitter channel for more help and advice.

[2018-02-10 22:26] carlspring opened #594 "Test the Groovy cron tasks"
* Create some dummy Groovy scripts (perhaps one that prints the date and another -- the time)
* Create cron tasks for these and see how it behaves

Check out the [Cron-Tasks](https://github.com/strongbox/strongbox/wiki/Cron-Tasks) for more details. This task relates to #521.

[2018-02-11 00:04] carlspring opened #595 "Make the strongbox-web-integration tests use the locally installed tools, or download and install them, if they aren't already installed"
The [`strongbox-web-integration-tests`](https://github.com/strongbox/strongbox-web-integration-tests/) requires the following tools to be installed in order to be able to run the tests:
* Gradle
* Maven
* NuGet
* SBT

As Maven is a pre-requisite to running the build, this will not affect Maven.

For Gradle, the script currently uses the `gradlew` wrapper, which is great, unless this is running ins

[2018-02-11 00:25] carlspring opened #597 "Check the strongbox-web-integration and potentially remove obsolete tests"
The following three tests are most-probably obsolete:
* [deploy-and-delete-artifact-directory-to-trash](https://github.com/strongbox/strongbox-web-integration-tests/tree/master/maven/src/it/deploy-and-delete-artifact-directory-to-trash)
* [deploy-and-delete-artifact-directory](https://github.com/strongbox/strongbox-web-integration-tests/tree/master/maven/src/it/deploy-and-delete-artifact-directory

[2018-02-11 03:36] carlspring commented on #531
![screenshot - nexus - 11-02-2018 - 2 14 3-02 - directory browsing in nexus proxy repository agasint strongbox hosted repository](https://user-images.githubusercontent.com/1436265/36069194-c736bd38-0edc-11e8-9570-500739514cec.png)
![screenshot - nexus - 11-02-2018 - 2 14 3-02 - remote index browsing in nexus proxy repository agasint strongbox hosted repository](https://user-images.githubuserconten

[2018-02-11 04:05] carlspring opened #598 "Make strongbox port configurable from etc/conf/strongbox.xml"
This is configurable via the [`etc/conf/strongbox.xml`](https://github.com/strongbox/strongbox/blob/master/strongbox-resources/strongbox-storage-api-resources/src/main/resources/etc/conf/strongbox.xml#L8) file. However, at the moment, this configuration property is not taken into consideration when starting Strongbox via the [`strongbox-assembly/strongbox-distribution`](https://github.com/strongbo

[2018-02-11 05:20] carlspring commented on #534
@fuss86,

For some reason, there are dots ( ".." ) when browsing the remote. It seems they're expecting something else as a response... Maybe we'll have to return a different response for their `User-Agent`...?

[code]

![screenshot - artifactory - 11-02-2018 - 5 8 4 - remote directory browsing in nexus proxy repository agasint strongbox hosted repository](https://user-images.githubusercontent.com

[2018-02-11 06:19] carlspring commented on #532
[Remote repository browsing is not available in Nx3](https://stackoverflow.com/questions/39901695/browsing-remote-repository-in-nexus-repository-v3-x).

[2018-02-11 10:32] fuss86 commented on #598
Additionally, it'd be really cool to be able to configure `jetty-maven-plugin` in the `strongbox/strongbox-web-core` to use value provided in `etc/conf/strongbox.xml`.

[2018-02-11 10:39] fuss86 commented on #532
So... we can close this ticket ?:-)

[2018-02-11 11:23] fuss86 commented on #534
after the review of `org.artifactory.repo.remote.browse.HtmlRepositoryBrowser` it's enough to replace `".."` by `"../"` specifying the link's destination.

tested under Nx2 too.

[2018-02-11 11:26] fuss86 commented on #534
#599

[2018-02-11 19:47] SoulSilence commented on #595
I would like to take this task

[2018-02-11 19:48] carlspring commented on #595
Ok, thanks! :)

[2018-02-11 19:50] carlspring commented on #532
Well, yeah, I think we can close this task and whenever this feature is implemented by them, (if ever), we can re-open it.

[2018-02-11 19:50] #532 closed

[2018-02-11 20:06] SoulSilence commented on #571
on. My sbt test before new PR cleared all strongbox that was deployed in target. And it could make harm for another tests. If nuget tests at this moment are ok I think that all's fine. At this moment they are fine for me on my machine.

[2018-02-11 20:19] carlspring commented on #571
Okay, thanks for confirming!

...And thanks to everyone for helping! :)

[2018-02-11 20:19] #571 closed

[2018-02-12 03:00] sbespalov opened #602 "Implement `npm install` command support"
Currently, we have only partially implemented [npm](https://www.npmjs.com/) layout, so you can publish and download packages.
Within this task we need to implement `npm install` command support according to the [documentation](https://docs.npmjs.com/cli/install).

### How to begiп:
- Deploy/Start strongbox instance locally ([see here](https://github.com/strongbox/strongbox/wiki/Installation)) (or

[2018-02-12 19:38] fuss86 commented on #534
Done.

[2018-02-12 19:38] #534 closed

[2018-02-13 23:42] carlspring opened #606 "Improve the configuration of the embedded OrientDB"
We need to resolve the warnings when the embedded OrientDB instance is launched. At the moment, we're getting these warnings during the build.

[code]

[2018-02-14 01:48] sbespalov commented on #606
@carlspring also I suggest to make configurable parameter for OrientDB memory usage limitation which is `-Dstorage.diskCache.bufferSize` if I remember correctly.

[2018-02-14 03:04] carlspring commented on #606
Yes, I agree.

[2018-02-14 19:48] #570 closed

[2018-02-14 21:09] steve-todorov commented on #590
Fixed in #600

[2018-02-14 21:09] #590 closed

[2018-02-16 00:48] #572 closed

[2018-02-17 20:19] steve-todorov opened #609 "Make sure RepositoryVersionValidatorsManagementController is following the How-To-Write-Controllers guide"
Currently the [RepositoryVersionValidatorsManagementController](https://github.com/strongbox/strongbox/blob/master/strongbox-web-core/src/main/java/org/carlspring/strongbox/controllers/RepositoryVersionValidatorsManagementController.java) is not fully following the [How-To-Write-Controllers](https://github.com/strongbox/strongbox/wiki/How-To-Implement-Spring-Controllers) guide. This needs to be fi

[2018-02-20 07:18] gokhankuyucak commented on #540
I traced the Nuget push command and found nothing about checksum validation, it overwrites the existing files if exists and didn't find any validation control after successful upload.
Checked the class [PackageUpdateResource.cs](https://github.com/NuGet/NuGet.Client/blob/993e1f2742da08f8e3e1858857f134a7b6dcd84c/src/NuGet.Core/NuGet.Protocol/Resources/PackageUpdateResource.cs#L179:23)
and following

[2018-02-21 01:48] carlspring commented on #540
@gokhankuyucak ,

Thanks for investigating!

@sbespalov ,

Any thoughts/comments on this?

[2018-02-21 03:02] sbespalov commented on #540
yeah, we have it base 64 encoded as it was implemented in JNuget :)

so, if they have no checksum validation within upload, then where they using `sha512` then?

[2018-02-21 03:24] sbespalov commented on #540
@gokhankuyucak also, am I understand correctly that there is no way to get package checksum from Nuget Gallery?

[2018-02-21 06:24] steve-todorov commented on #517
Fixed in #558.

[2018-02-21 06:24] #517 closed

[2018-02-21 06:36] steve-todorov commented on #561
@carlspring I believe this is now fixed? Can we close it?

[2018-02-21 09:36] sbespalov opened #611 "Exclude `ru.aristar.jnuget.files.Nupkg` usage from Strongbox"
Within this task we need to replace `ru.aristar.jnuget.files.Nupkg` implementations usage with our custom entities.

# What should be re-implemented
- `org.carlspring.strongbox.controllers.nuget.NugetArtifactController.putPackage` method;
- `org.carlspring.strongbox.artifact.generator.NugetPackageGenerator`

# What to do
This task can be separated with 2 main parts:

* [ ] We need to be able to ex

[2018-02-21 09:37] sbespalov commented on #611
@carlspring  can you please review and approve this task?

[2018-02-21 14:55] carlspring commented on #561
Closing, thanks!

[2018-02-21 14:56] carlspring commented on #561
Implemented by @SoulSilence.

[2018-02-21 20:01] ptirador commented on #609
I'm taking this one.

[2018-02-21 20:29] carlspring commented on #606
@sbespalov ,

Should this task now be closed?

[2018-02-21 20:31] #561 closed

[2018-02-21 20:32] steve-todorov commented on #609
@carlspring is this still on hold? :)

[2018-02-21 20:39] carlspring commented on #460
@fuss86,

Could you please remind me, if you fixed this, or whether it's still up for grabs?

[2018-02-21 20:43] carlspring commented on #428
@fuss,

Please, remind me, did you implement this already? If so, please close the issue.

[2018-02-21 20:43] carlspring commented on #427
@fuss,

Please, remind me, did you implement this already? If so, please close the issue.

[2018-02-21 22:38] carlspring commented on #573
@ptirador ,

Is this something that you could maybe pick as one of your next tasks?

[2018-02-21 23:05] carlspring commented on #609
@steve-todorov : I am in the middle of a big refactoring around the version validators, which are now a sub type of the newly introduced concept of artifact coordinate validators. The refactoring is almost ready, but it still needs some more work. There's no point in working on this until I'm done.

[2018-02-22 04:22] sanket407 commented on #447
@carlspring  I will check this out.

[2018-02-22 04:30] carlspring commented on #447
Okay, thanks! :)

[2018-02-22 08:25] ptirador commented on #609
Ok, then. I'll wait for it.

[2018-02-22 20:03] fuss86 commented on #427
Yes, we can close it.

[2018-02-22 20:03] #427 closed

[2018-02-22 20:10] fuss86 commented on #428
As we can read in https://github.com/strongbox/strongbox/wiki/Maven-Indexer, maven indexer does not store checksum files as artifacts, but indeed they index artifact related checksum if the file exists. We can close this ticket.

[2018-02-22 20:10] #428 closed

[2018-02-22 20:40] fuss86 commented on #460
I don't think so I've fixed this :)

[2018-02-23 00:49] carlspring commented on #437
This will be handled as part of #612.

[2018-02-23 06:09] sanket407 commented on #447
@carlspring I think this has already been resolved. All artifact controllers now call the provideArtifactDownloadResponse() in BaseArtifactController. So they all should be supporting ranged requests.

[2018-02-24 04:14] carlspring commented on #437
Resolved.

[2018-02-24 04:14] #437 closed

[2018-02-24 05:04] carlspring commented on #447
@sanket407 : You are right! Thanks for checking! :)

[2018-02-24 05:04] #447 closed

[2018-02-24 05:33] carlspring commented on #460
Okay -- so I can close this?
Could you please backlink this to your pull by mentioning which PR it was? Thanks?

[2018-02-24 05:33] #460 closed

[2018-02-24 05:48] carlspring commented on #609
This issue depends on #612 .

[2018-02-24 07:12] sanket407 commented on #597
@carlspring

Is the sentence incomplete ? Should it be

[2018-02-24 07:28] carlspring commented on #609
@ptirador : This should now be good to go

[2018-02-24 08:01] carlspring commented on #597
The three tests that I've mentioned from the `strongbox-web-integration-tests` could probably all be removed. I believe we already have this as tests with restassured, so it doesn't make sense to have them duplicated.

[2018-02-24 10:24] sbespalov opened #614 "Move `Repository.implementation` into `Storage.implementation`"
**Repository.implementation** attribute means how repository store it's files, which can be *File System* or cloud storages. But actually the `StorageProvider` implementation is responsible for storage type, so we should have `implementation` atrubute to be in `Storage` instead of `Repository`.

[2018-02-25 23:08] carlspring commented on #614
Hm... This is not necessarily so. You could have multiple repositories in a storage that use different data stores.

[2018-02-26 18:06] ptirador opened #616 "Upgrade org.junit:* to >= 5.1.0"
We need to upgrade to the latest version of JUnit: JUnit 5.

In order for JUnit 5 to be compatible with older versions, they have created the `org.junit.jupiter` package to avoid collisions.

Make sure that:
- The project still builds
- The tests are still passing

The version is controlled via the `strongbox-parent/pom.xml`.

The tests can be executed using:

`mvn clean install -Dintegration.test

[2018-02-26 22:14] #569 closed

[2018-02-26 22:24] steve-todorov commented on #591
Fixed in #608

[2018-02-26 22:24] #591 closed

[2018-02-26 22:54] carlspring opened #618 "Upgrade the Jackson dependencies to >= 2.9.4"
Due to vulnerabilities in our current version of Jackson, we need to upgrade to 2.9.4.

Unfortunately, just bumping the version in the `strongbox-parent/pom.xml` doesn't do the trick and it caused the following test failures:

[code]

These will have to be investigated and sorted out.

[2018-02-26 23:06] carlspring opened #619 "Add methods for listing the available artifact coordinate validators in the ArtifactCoordinateValidatorsManagementController"
We need the following new methods added to the `ArtifactCoordinateValidatorsManagementController`
* `listArtifactCoordinateValidators()` : This should return a list of all the available artifact coordinate validators in the registry.
* `listArtifactCoordinateValidatorsForLayoutProvider(String layoutProvider)` : This should return a list of artifact coordinate validators supported for a given layou

[2018-02-27 02:40] steve-todorov opened #621 "Make sure LoggingManagementController is following the How-To-Write-Controllers guide"
Currently the [LoggingManagementController](https://github.com/strongbox/strongbox/blob/master/strongbox-web-core/src/main/java/org/carlspring/strongbox/controllers/LoggingManagementController.java) is not fully following the [How-To-Write-Controllers](https://github.com/strongbox/strongbox/wiki/How-To-Implement-Spring-Controllers) guide. This needs to be fixed for all endpoints except for the `ge

[2018-02-28 00:20] carlspring commented on #609
Implemented by @ptirador.

[2018-02-28 00:20] #609 closed

[2018-02-28 00:23] carlspring commented on #619
@ptirador , @adityasrini ,

Would either of you like to pick this task?

[2018-02-28 01:26] #614 closed

[2018-02-28 06:54] gokhankuyucak commented on #540
according to class [PackageUpdateResource.cs](https://github.com/NuGet/NuGet.Client/blob/993e1f2742da08f8e3e1858857f134a7b6dcd84c/src/NuGet.Core/NuGet.Protocol/Resources/PackageUpdateResource.cs) the "PushPackageCore" method is checking the source parameter, if the source  parameter is a file it will check the nuget version, if the nuget version v2 there will be no sha control, otherwise it will c

[2018-02-28 07:03] sbespalov commented on #540
@gokhankuyucak great research, thanks
but this is client, and how about server?

seems that they assume to have **sha512** file [here](https://github.com/NuGet/NuGet.Client/blob/98fd6e140c80c3932d6e857b456ee5120751ae46/src/NuGet.Core/NuGet.Protocol/Utility/OfflineFeedUtility.cs#L39) and if I understand correctly it should be also pushed to server.

Am I right?

[2018-02-28 14:09] gokhankuyucak commented on #540
hi sorry but I gave wrong reference for ServerPackageRepository. the correct one should be under the package NuGet.Server.Core.Infrastructure.
I think in our case the methods are invoked in the following order

1. Nuget Client pushes the nupkg  to the source server
2. On the server side [NuGetODataController.UploadPackage](https://github.com/NuGet/NuGet.Server/blob/2ee751ab71048d87f97f45807a420517

[2018-02-28 14:41] sbespalov commented on #540
seems that I am starting to understand something :)

they just generate sha512 checksum on server side in [ExpandedPackageRepository](https://github.com/NuGet/NuGet2/blob/e89c4b2fc6dc2fc752d2fceecd2a2175b0f4ab69/src/Core/Repositories/ExpandedPackageRepository.cs#L56)
so our v2 protocol implementation is the same, and seems that we found why it was implemented like this in JNuget

@gokhankuyucak ,

[2018-02-28 15:41] carlspring commented on #540
@gokhankuyucak ,

Thanks for tracking this stuff down! It seems like a lot of digging around! This will make our implementation of NuGet (protocol v2) feature complete!

[2018-02-28 18:59] adityasrini commented on #619
I'll sign up if @ptirador isn't working on this.

[2018-02-28 19:17] adityasrini commented on #619
You got it!

[2018-02-28 19:19] carlspring commented on #619
Okay, thanks! :)

[2018-02-28 19:33] ptirador commented on #618
I'll pick this up ;)

[2018-02-28 19:55] carlspring commented on #618
Great! Thanks! :)

[2018-03-01 06:50] gokhankuyucak commented on #540
@sbespalov my Nuget Client is NuGet Version: 4.4.1.4656

[2018-03-05 14:10] gokhankuyucak commented on #504
@sbespalov while testing with cake build tool. I found that Cake script is using
localhost:48080/storages/public/nuget-public/FindPackagesById()?**id**='Cake'&semVerLevel=2.0.0'

but in [NugetArtifactController.searchPackageById ](https://github.com/strongbox/strongbox/blob/2d6b8a742ec4451333f456f7d961fda1c253753a/strongbox-web-core/src/main/java/org/carlspring/strongbox/controllers/nuget/NugetArt

[2018-03-05 19:40] ptirador commented on #618
If I upgrade this to version 2.9.2, everything's working ok.
The problem starts from version 2.9.3. If I try to retrieve all users from `UserController`, there's an error about serialization:

`Could not write JSON: Failed to specialize base type java.util.Map<java.lang.String,java.util.Collection<java.lang.String>> as com.orientechnologies.orient.core.db.record.OTrackedMap, problem: Type paramete

[2018-03-05 19:50] ptirador commented on #618
I've implemented a test which works on 2.9.2, but not from 2.9.3:

` @Test
    public void testSerialization() throws Exception {
        UserOutput user =  new UserOutput();
        AccessModel accessModel = new AccessModel();
        Map<String, Collection<String>> repoPrivilegesMap = **new OTrackedMap(null);**
        String key = "/storages/storage0/releases";
        Collection<String> values

[2018-03-05 20:03] carlspring commented on #618
@fuss86 , @sbespalov ,

Any ideas?

[2018-03-06 02:47] sbespalov commented on #504
@gokhankuyucak I think that first will be good, also we already have `org.carlspring.strongbox.utils.CustomAntPathMatcher` for our Spring MVC.
@carlspring  do you approve case insensitive URLs?

[2018-03-06 02:52] carlspring commented on #504
Hi,

Yes, I think that we should allow this for the NuGet controller.

[2018-03-06 03:40] sbespalov commented on #504
@gokhankuyucak probably we should just change it back to lower case `id`
see this issue, https://github.com/NuGet/Home/issues/2439

[2018-03-06 04:41] sbespalov commented on #606
@carlspring no, this warning still appears in log.

[2018-03-06 04:44] sbespalov commented on #562
@carlspring @steve-todorov I think this should go away since we moved to `browse` URL prefix for browsing.
@steve-todorov can you please check this in current master?

[2018-03-06 04:45] sbespalov commented on #540
@carlspring I think we can resolve this task

[2018-03-06 04:48] sbespalov commented on #529
Within this task we need properly implementation of `BrowseControllerTest.setup()` method, which is wrong implemented now.
there is a set of methods in `TestCaseWithMavenArtifactGenerationAndIndexing`, which is parent for `BrowseControllerTest`, to create repositories, so we should use these methods in `BrowseControllerTest.setup()`

[2018-03-06 04:50] sbespalov commented on #529
Also there should be a `cleanUp` method which removes all that was created in setup
this should be implemented like in other tests that create repositories within startup.

[2018-03-06 04:51] sbespalov commented on #529
@sanket407 you still want to take this task?

[2018-03-06 04:54] sbespalov commented on #503
@Boburmirzo do you want to take this task?

[2018-03-06 05:04] sanket407 commented on #529
Yes

On 6 Mar 2018 10:21 am, "Sergey Bespalov" <notifications@github.com> wrote:

@sanket407 <https://github.com/sanket407> you still want to take this task?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/strongbox/strongbox/issues/529#issuecomment-370661824>,
or mute the thread
<https://github.com/notifications/unsubscribe

[2018-03-06 05:06] steve-todorov commented on #562
@sbespalov I'll have a look later today :)

[2018-03-06 08:30] sbespalov opened #629 "Improve `AuthorizationConfig` entity structure"
For now we have following structure of `AuthorizationConfig`:
[code]
intermediate entity `Roles` is excessive here and need to be reduced.

#### How to do
1. Make `AuthorizationConfig` entity look like follows:
[code]
2. Remove `org.carlspring.strongbox.security.Roles` class;
3. Resolve all compilation errors;
4. Create DB migration script to drop `AuthorizationConfig.roles` field, and replace it

[2018-03-06 08:36] sbespalov commented on #629
@steve-todorov this task can affect on API and UI part;

[2018-03-06 08:42] steve-todorov commented on #629
Breaking the UI part is fine by me. Ping @carlspring regarding the API part - he's currently doing some refactoring to the API and moving it into a separate context.. :)

[2018-03-06 14:56] Boburmirzo commented on #503
@sbespalov Hi, yes, I will try.

[2018-03-06 19:25] carlspring commented on #618
@ptirador ,

Could you maybe check the release notes of the Jackson project and/or their issue tracker and link back, if they have any matching issues...?

[2018-03-06 23:39] steve-todorov commented on #562
@sbespalov  There seems to be an issue with the URL for the public nuget repo as well as other repos:

http://strongbox-snapshot.carlspring.org/api/browse/public/nuget.org/
http://strongbox-snapshot.carlspring.org/api/browse/public/carlspring/

Is this a bug or I got the wrong links?

[2018-03-07 00:15] steve-todorov opened #630 "Refactor the configuration controller into multiple sub-controllers and move existing configuration classes into the new locations"
### Description
The [ConfigurationManagementController](https://github.com/strongbox/strongbox/blob/master/strongbox-web-core/src/main/java/org/carlspring/strongbox/controllers/ConfigurationManagementController.java) is becoming bigger and harder to work with. We need to refactor this controller into smaller sub-controllers - each of which will only handle a specific part of the configuration. The

[2018-03-07 01:26] sbespalov commented on #562
yes, probably it is a bug :)

[2018-03-07 01:27] sbespalov commented on #562
it worked before moving under `api` prefix

[2018-03-07 02:17] carlspring commented on #562
Shouldn't the link for browsing be `/storages/${storageId}/${repositoryId}/...`?

[2018-03-07 02:18] sbespalov commented on #562
currently we agreed to use `browse` prefix instead of `storages` for browsing

[2018-03-07 02:18] carlspring commented on #562
@sbespalov,

Please, remember that as stated by our Windows guru (@fuss86) "There are no bugs in Strongbox".

[2018-03-07 02:22] carlspring commented on #562
Ah, yeah, I forgot this was a temporary solution.
So... this no longer works after the API URL refactoring?

[2018-03-07 02:23] sbespalov commented on #562
I will take a look

[2018-03-07 10:00] sbespalov commented on #562
@carlspring I want to say that you was defenetely right here, because it's not a bug... IT'S A FEATURE!!! :sweat_smile:

the issue is that `public` is group repository and browsing currently not support group repositories. :simple_smile:

[2018-03-07 10:11] sbespalov commented on #562
https://github.com/strongbox/strongbox/pull/631

fixed

[2018-03-07 21:34] carlspring commented on #562
@sbespalov , I've merged it. So, we can close this issue now?

[2018-03-08 01:27] sbespalov commented on #562
@steve-todorov  you approve that its work?

чт, 8 мар. 2018 г., 4:34 Martin Todorov <notifications@github.com>:

[2018-03-08 07:48] gokhankuyucak commented on #504
One more issue while using remote proxy https://www.nuget.org/api/v2
While running nuget install command for package id="Cake" version="0.26.0", the application first searches in local repos  if there is no result it tries to execute request for proxy url to download artifact but  it logs that "Remote repository https://www.nuget.org/api/v2 is down".
In [ProxyRepositoryArtifactResolver.getInputStr

[2018-03-08 18:33] ptirador commented on #630
I'll take it :)

[2018-03-08 18:34] ptirador commented on #618
@carlspring I'll take a look at the Jackson project and I'll tell you about it.

[2018-03-09 02:31] carlspring commented on #629
As there is no UI as of yet, I see no issue with proceeding with this. :)

[2018-03-09 02:52] carlspring commented on #504
@fuss86 ,

Do you have any thoughts on this? Could you have a look at it, please? Thanks! :)

[2018-03-09 03:18] carlspring commented on #540
@gokhankuyucak ,

Once again -- thanks for all your help with this investigation that checks whether, or not our implementation is correct! I will now close this task, as per @sbespalov 's recommendation.

[2018-03-09 03:18] #540 closed

[2018-03-09 20:37] carlspring opened #634 "Make the strongbox-web-core use the OrientDB in-memory when running Jetty in blocked mode"
In the `strongbox-web-core/pom.xml`, under the settings of the `jetty-maven-plugin`, add and option for -`orientdb.profile=orientdb_MEMORY`.

Test things and make sure the OrientDB only takes a moment to load, as opposed to half a minute.

[2018-03-10 17:33] ptirador commented on #618
I've reported an issue in Jackson-databind module:
[Failed to specialize base type when serializing to JSON](https://github.com/FasterXML/jackson-databind/issues/1964).

[2018-03-10 23:43] carlspring opened #636 "Make the strongbox-web-integration-tests use the in-memory OrientDB"
This will speed up the tests. This issue relates to #634.

We could consider added a parent pom such as `strongbox-web-integration-tests/strongbox-web-integration-tests-parent` and then have all the `pom.xml` files the `strongbox-web-integration-tests` module to extend it with a `<relativePath>../strongbox-web-integration-tests-parent</relativePath>`. This way we could the `<profiles/>` section (w

[2018-03-10 23:53] carlspring commented on #618
@ptirador ,

Thanks for raising this with them! Hopefully, we'll get some help from them soon! The current version of Jackson is vulnerable and we need to upgrade to `2.9.4`, or higher in order to resolve this.

[2018-03-11 10:40] fuss86 commented on #504
I'll run and test why it claims that

maybe it was just a temporary problem accessing this URL. Will let you know.

[2018-03-11 10:58] fuss86 commented on #504
I think everything works as expected, so I suspect temporary problem with unavailability of https://www.nuget.org/api/v2

@gokhankuyucak, `RemoteRepositoryHeartbeatMonitor` is a scheduled job for each remote repository checking the accessibility of the remote repository. We cache the `aliveness` status for default `60 seconds` time.

Could you please let me know if this issue still occurs on your

[2018-03-11 11:00] fuss86 commented on #578
@ptirador are you working on this ?

[2018-03-11 11:38] sbespalov commented on #634
@carlspring it's fixed

[2018-03-11 17:09] #634 closed

[2018-03-11 17:09] carlspring commented on #634
Resolved.

[2018-03-12 00:42] steve-todorov commented on #562
Sorry for the delay. Yes it appears it's working now. I believe we can close this. :)

[2018-03-12 18:44] ptirador commented on #578
Uhm, no at the moment. You can take it if you want.

[2018-03-13 02:05] carlspring opened #641 "Make all invocations of the ConfigurationResourceResolver.getConfigurationResource method use property keys prefixed with "strongbox""
All invocations of the `ConfigurationResourceResolver.getConfigurationResource` method shouold use property keys that are prefixed with `strongbox`. For example:

[code]

In this case:
[code]
Should be:
[code]

[2018-03-13 14:01] gokhankuyucak commented on #504
@fuss86 , I still got this issue with below steps:
 in maven projects > strongbox-web-core > Plugins > right click to "jetty:run" and select run or debug.

[2018-03-13 14:10] carlspring commented on #504
@gokhankuyucak ,

I don't think that's the best way to be running things. There is a special profile for running Jetty. It does a bunch of things. You can trigger this by doing:

[code]

[2018-03-14 18:45] #621 closed

[2018-03-15 00:23] pranavi commented on #641
I would like to work on this

[2018-03-15 00:43] carlspring commented on #641
@pranavi : Please, feel free to proceed! :-)

[2018-03-15 01:13] #433 closed

[2018-03-15 03:46] sbespalov commented on #504
@carlspring @fuss86 @gokhankuyucak
seems that I meet the same issue:
[code]
it says that remote repo is down, but it's not true :)

[2018-03-15 09:15] carlspring commented on #504
Okay, could someone please pick this up?

On Thu, 15 Mar 2018, 03:46 Sergey Bespalov, <notifications@github.com>
wrote:

[2018-03-15 09:27] sbespalov commented on #504
I will, after SWIT

[2018-03-15 12:53] sbespalov commented on #504
@gokhankuyucak I have fixed this issue with remote repositories, can you please check it with current master?

[2018-03-17 04:45] carlspring commented on #611
@SevastyanDark ,

Feel free to pick this task.

[2018-03-17 13:57] carlspring commented on #611
@gokhankuyucak :

Are you working on this task? If you are, then @SevastyanDark , perhaps we could find you something else to work on?

[2018-03-17 17:35] ptirador commented on #629
I'd like to work on this issue.

[2018-03-17 17:48] carlspring commented on #629
Okay, Pablo!

[2018-03-18 05:15] carlspring commented on #611
@SevastyanDark ,

It might be a good idea to join our [Gitter chat](https://gitter.im/strongbox/strongbox) where all our developers hang out, so you could get quicker help/answers to your questions.

[2018-03-18 14:07] sanket407 commented on #597
@carlspring  I am not able to get my head around how groovy works. Even though by looking at the integration tests, it looks like they do the same tasks as done by restassured. But I am not able to get how to prove this

[2018-03-18 14:35] #529 closed

[2018-03-18 14:36] carlspring commented on #529
Fixed by @sanket407 in #647.

[2018-03-18 22:56] carlspring opened #650 "Implement repository accepted/denied patterns"
Make it possible to define accepted/denied regex patterns for artifact paths.

* If no `accepted` / `denied` patterns are defined, assume everything is allowed.
* If there is an `accepted` list of patterns and no `denied` list, assume that only those are allowed.
* If a `denied` list is defined and there is a pattern in the `accepted` list, then the accepted pattern should take precedence.

[2018-03-18 23:45] carlspring opened #651 "Implement read-only mode"
* If the server is in "read-only" mode, artifacts will be resolvable from:
  * Hosted repositories
  * Group repositories
  * Proxy repositories' cache only (external requests should not be sent in order to truly be in read-only mode)
* It should not be possible to deploy artifacts.
* This should be configurable via an option in the `etc/conf/strongbox.xml`.

[2018-03-19 01:48] carlspring commented on #630
Implemented by @ptirador in #633.

[2018-03-19 01:48] #630 closed

[2018-03-19 20:53] fuss86 opened #653 "`Repository#httpConnectionPool` field is not respected for new repositories added in runtime"
We use the `org.apache.http.impl.conn.PoolingHttpClientConnectionManager` to maintain pool of HTTP connections per repository. By default, we have some predefined value specifying max number of connections in pool for each repository/route.

Every repository may be defined with its own value of max connections in pool (`repository.getHttpConnectionPool().getAllocatedConnections()`). This value per

[2018-03-19 22:31] carlspring opened #654 "Upgrade org.apache.commons:commons-compress to version 1.16 or higher"
As described in [this vulnerability warning](https://snyk.io/vuln/SNYK-JAVA-ORGAPACHECOMMONS-32122), we should upgrade our direct and transitive dependencies of org.apache.commons:commons-compress to version 1.16 or higher. If this is coming via a transitive dependency and there is a newer version of it that already uses a recent enough version of org.apache.commons:commons-compress, then we shoul

[2018-03-20 01:14] sbespalov commented on #602
@carlspring I have started to work on this.

[2018-03-20 02:49] carlspring commented on #602
Great to hear!

[2018-03-20 12:06] carlspring commented on #636
Thanks for all the hard work to everyone involved! :)

[2018-03-20 12:45] #636 closed

[2018-03-20 22:13] fuss86 opened #657 "Create and store the history of executed scheduled jobs"
Please create and store the history of executed scheduled jobs.

This will require creation of new `@Entity`/`GenericEntity` classes (see `org.carlspring.strongbox.domain.ArtifactEntry` as an example) and new liquibase changeset (see `v1.0.0.2__ArtefactEntry.xml`) as an example.

The history should contain a list of entries with:
* task name
* thread name
* start datetime
* end datetime (either fa

[2018-03-22 19:10] ptirador commented on #654
I'm picking this up.

[2018-03-22 21:03] steve-todorov opened #660 "Refactor the UserController to use form validation and return proper responses on failed validation"
The `UserController` needs to be refactored so that it uses spring form validation. Also, make sure that the controller returns the proper responses according to the [How-To-Implement-Spring-Controllers](https://github.com/strongbox/strongbox/wiki/How-To-Implement-Spring-Controllers) when there is an error in the validation.

[2018-03-22 21:52] steve-todorov opened #661 "Create a new endpoint in ServerConfigurationController which will handle a form for submitting both baseUrl and port"
We need to create a new endpoint in the `ServerConfigurationController` which will be responsible for validating a form which contains both the `baseUrl` and `port`. This endpoint will be used in the front-end to "bulk" update the url and port. Please make sure you follow the  [How-To-Write-Controllers](https://github.com/strongbox/strongbox/wiki/How-To-Implement-Spring-Controllers) guide.

Valida

[2018-03-22 21:58] steve-todorov commented on #542
@carlspring, @SoulSilence ping? What is the state of this issue - can we close it?

[2018-03-23 00:04] carlspring commented on #542
No, this is not implemented.

[2018-03-23 12:35] ptirador commented on #661
I'll take this. Name if the new endpoint?

[2018-03-23 13:41] SevastyanDark commented on #611
@carlspring yes, i'm working, but i cant get this done.

[2018-03-23 14:05] carlspring commented on #611
@SevastyanDark, @gokhankuyucak told me he was working on this.

@gokhankuyucak : What have you done so far?
@SevastyanDark : Have you started this as well? (Also, please join our [Gitter chat](https://gitter.im/strongbox/strongbox)).

[2018-03-23 14:49] steve-todorov commented on #661
I think `/form` would be ok. Do you have better ideas? :)

[2018-03-23 14:53] ptirador commented on #661
I was thinking about `/serverSettings`. I'm not sure...

[2018-03-23 15:26] steve-todorov commented on #661
`serverSettings` it is then. We can always rename it later if we find a better name. :)

[2018-03-25 04:06] SevastyanDark commented on #611
@carlspring Yes, i'm reinstalled windows and will continue work.

[2018-03-25 13:43] ptirador commented on #660
I'll pick this up :)

[2018-03-25 14:15] steve-todorov commented on #660
Happy coding! :)

[2018-03-26 20:26] carlspring commented on #654
Fixed! ;)

[2018-03-26 20:26] #654 closed

[2018-03-26 22:41] carlspring opened #665 "Upgrade commons-fileupload:commons-fileupload to version 1.3.2 or higher"
As described in [this vulnerability warning](https://snyk.io/vuln/SNYK-JAVA-COMMONSFILEUPLOAD-30401), we should upgrade our direct and transitive dependencies of commons-fileupload:commons-fileupload to version 1.3.2 or higher. If this is coming via a transitive dependency and there is a newer version of it that already uses a recent enough version of commons-fileupload:commons-fileupload, then we

[2018-03-26 23:03] #665 closed

[2018-03-27 08:59] steve-todorov commented on #616
This task has been picked up by @SevastyanDark.

[2018-03-27 12:45] carlspring commented on #618
Tried it with `2.9.5` which was released the other day, but that didn't help.

[2018-03-27 14:07] #616 closed

[2018-03-27 17:47] ptirador commented on #660
In this method:
[code]

Do I need to validate `AccessModel` object? In that case, what should I validate? It has 3 `Maps` as attributes...

[2018-03-28 01:21] sbespalov opened #670 "Improve `UserAccessModel` class structure"
We need to remove XML list wrapper classes starting from `UserAccessModel` down to the component structure tree.
Following wrapper classes should be directly replaced with collections:
- `UserAccessModel.UserStorages` replace with `UserAccessModel.Set<UserStorage>`  and remove `UserStorages` class
- `UserStorage.UserRepositories` replace with `UserStorage.Set<UserRepository>`  and remove `UserRepo

[2018-03-28 01:22] #629 closed

[2018-03-28 01:25] sbespalov commented on #629
@ptirador there is upcoming similar task #670

[2018-03-28 02:24] #562 closed

[2018-03-28 02:24] carlspring commented on #562
Thanks! :)

[2018-03-28 11:15] ptirador commented on #670
I'll take this.

[2018-03-28 13:08] carlspring commented on #670
Okay, thanks! I've assigned it to you! :)

[2018-03-28 16:25] steve-todorov commented on #660
@carlspring, @fuss86 , @sbespalov could one of you pitch in and let @ptirador know what needs to be validated here. I believe the submitted `accessModel` should be validated (as well as anything that is accepted from the user and saved in the database) but I'm not sure what exactly needs to be validated.

[2018-03-28 16:32] carlspring commented on #660
@fuss86 ,

As I won't be around tonight, would you mind having a look? Many thanks! :)

[2018-03-28 19:15] fuss86 commented on #660
Every map fits into the following validation rules:
* not mandatory
* if provided then
  * keys _should_ follow pattern `/storages/${storageId}/${repositoryId}`
  * values _should not_ be `empty` nor `null`

Each map is independent to the others.

[2018-03-28 19:51] adityasrini commented on #368
I can work on this! It's been open for a while and I feel that this is too straightforward to not work on!

[2018-03-28 19:56] steve-todorov commented on #368
Nobody seems to be working on this so it's yours! :)

[2018-03-30 00:46] sbespalov commented on #521
@highdefsquirrelgirl yes of course. You can take it if you like.

[2018-03-30 04:38] carlspring commented on #521
@highdefsquirrelgirl : Fire away, if you have any questions! Also, I would recommend you join our [Gitter channel](https://gitter.im/strongbox/strongbox) were all our developers hang out.

[2018-03-30 04:49] #670 closed

[2018-03-30 16:33] ptirador commented on #660
@fuss86 Thanks for the info. What about the `User` class? It has these attributes:

[code]

[2018-03-30 16:48] steve-todorov commented on #660
`username` - required, must not be blank
`password` - required, must not be blank and must be more than 6 symbols
`enabled` - can be either true or false.
`roles` - should be an array of valid roles.
`securityToken` - this was used for `nuget` and I'm not sure, @sbespalov could you give your thoughts?
`accessModel` - I believe @fuss86 already answered this?

[2018-03-30 17:03] ptirador commented on #660
Thanks @steve-todorov!

[2018-03-30 17:06] carlspring commented on #660
@ptirador ,

Yes, you are right. There are the also these follow-up issues:
* There's `org.carlspring.strongbox.security.User` and `org.carlspring.strongbox.users.domain.User`, vs. `org.carlspring.strongbox.controllers.users.UserInput`. I think there is some duplication here that needs to be sorted out. I don't personally support the idea of having multiple classes with the same name under the sam

[2018-03-30 21:38] #619 closed

[2018-04-02 18:36] ptirador commented on #660
@carlspring,

The classes `org.carlspring.strongbox.security.Users` and `org.carlspring.strongbox.security.User` are used as mapping classes to load users from XML configuration file. For this, they need to be annotated with XML annotations. They could be renamed to `UsersXml` and `UserXml`, or something more appropiate.

On the other hand, the class `org.carlspring.strongbox.users.domain.User` se

[2018-04-02 18:47] carlspring commented on #660
Okay, thanks for the clarification!

On Mon, 2 Apr 2018, 19:36 Pablo, <notifications@github.com> wrote:

[2018-04-03 17:10] ptirador commented on #641
@pranavi Are you still working on this? I'm picking it up if there's no problem about it.

[2018-04-03 17:33] carlspring commented on #641
@ptirador: Please, feel free to pick this up!

[2018-04-03 18:41] #641 closed

[2018-04-05 03:26] adityasrini commented on #657
Sign me up!

[2018-04-05 22:12] #661 closed

[2018-04-05 22:16] steve-todorov opened #681 "Refactor ProxyConfiguration to use Form Validation and make sure it follows the How-To-Write-Controllers guide"
The `ProxyConfiguration` needs to be refactored so that it uses spring form validation. Also, make sure that the controller returns the proper responses according to the [How-To-Implement-Spring-Controllers](https://github.com/strongbox/strongbox/wiki/How-To-Implement-Spring-Controllers) when there is an error in the validation.

Validation rules:

| Field | Validation  |
| --- | --- |
| host  | r

[2018-04-05 22:42] steve-todorov opened #682 "Make sure the LdapAuthenticatorConfigurationController is following the How-To-Write-Controllers guide"
The `LdapAuthenticatorConfigurationController` needs to be refactored a bit so that it is following the [How-To-Implement-Spring-Controllers](https://github.com/strongbox/strongbox/wiki/How-To-Implement-Spring-Controllers). It looks like the `toError` method, which is stored in the `BaseController`, can be deleted after the refactoring. Use the appropriate `getSuccessful/getFailed/getNotFound/getB

[2018-04-06 16:50] ptirador commented on #682
I'll take it!

[2018-04-07 01:41] carlspring commented on #578
Implemented by @fu

[2018-04-07 01:43] #578 closed

[2018-04-07 01:43] carlspring commented on #584
Implemented by @fuss86 in #640.

[2018-04-07 01:43] #584 closed

[2018-04-07 01:48] carlspring commented on #660
Fixed by @ptirador! :)

[2018-04-07 01:48] #660 closed

[2018-04-09 09:34] sbespalov opened #683 "Create `ArtifactEntry.created` property"
New property should looks like this:
[code]
Also we need to populate this property with `new Date()` every time we store new `ArtifactEntry` instance in DB.
Note that we shouldn't initialize field with `new Date()` directly in class definition, we must do it in code which crates new `ArtifactEntry` instead.

_**PS**_
new Liquibase changeset required here to modify our DB schema.

[2018-04-09 18:38] ptirador commented on #682
There are a few metods that produce `MediaType.APPLICATION_XML_VALUE`. Should they still produce it?
- `getRolesMapping`
- `getUserDnPatterns`
- `getUserSearchFilter`
- `getGroupSearchFilter`

[2018-04-09 19:34] mkuligowski commented on #683
Let me take this one

[2018-04-09 19:54] carlspring commented on #683
Hi @mkuligowski ,

Feel free to pick this task! :)

[2018-04-09 19:58] carlspring commented on #683
@mkuligowski ,

Also, please feel free to join our [Gitter chat](gitter.im/strongbox/strongbox) where all the developers hang out and where you could get help, if you need it.

[2018-04-09 22:02] steve-todorov commented on #682
I'm not sure if that will be necessary. I would leave only the `JSON` as having output `XML` will do no good for the front-end. @carlspring thoughts?

[2018-04-10 00:08] carlspring commented on #682
I think these should be both in XML and JSON. What do you guys think?

[2018-04-10 10:34] ptirador commented on #682
I agree with @steve-todorov on this one.

[2018-04-10 10:44] carlspring commented on #682
Okay then, please proceed as you find fit!

[2018-04-13 08:27] ptirador commented on #681
I'd like to pick this issue.

[2018-04-13 19:10] ptirador commented on #681
The proxy types must be uppercase, or the validation can be case insensitive (e.g., "http" is valid as well as "HTTP") ?

[2018-04-13 19:13] carlspring commented on #681
I believe it would be better for these to be case insensitive.

[2018-04-13 19:14] ptirador commented on #681
Ok, great! Thanks.

[2018-04-19 23:02] carlspring commented on #618
It seems there was a recent fix for this that will be included in `2.9.6`! Would you like to give it a go?

[2018-04-20 12:32] ptirador commented on #618
Done!

[2018-04-22 20:43] #618 closed

[2018-04-23 22:29] steve-todorov commented on #657
@adityasrini ping, have you had a chance to work on this yet? :)

[2018-04-23 22:31] steve-todorov opened #692 "Refactor RoutingConfigurationController to use Form Validation and make sure it follows the How-To-Write-Controllers guide"
The `RoutingConfigurationController` needs to be refactored so that it uses spring form validation. Also, make sure that the controller returns the proper responses according to the [How-To-Implement-Spring-Controllers](https://github.com/strongbox/strongbox/wiki/How-To-Implement-Spring-Controllers) when there is an error in the validation.

Validation rules for `RuleSet`:

| Field | Validation  |

[2018-04-23 22:42] carlspring opened #693 "Add an instance name field in the strongbox.xml"
We need to add an `instance-name` field in the `strongbox.xml`. The code for handling this resides in the `org.carlspring.strongbox.configuration.Configuration` class.

[2018-04-24 00:44] steve-todorov opened #695 "Refactor StoragesConfigurationController to use Form Validation and make sure it follows the How-To-Write-Controllers guide"
The `StoragesConfigurationController` needs to be refactored so that it uses spring form validation. Also, make sure that the controller returns the proper responses according to the [How-To-Implement-Spring-Controllers](https://github.com/strongbox/strongbox/wiki/How-To-Implement-Spring-Controllers) when there is an error in the validation.

Validation rules for `Storage`:

| Field | Validation

[2018-04-25 17:34] adityasrini commented on #657
Not yet since I was involved with some csv to database sanitization stuff! I'll pick this up now and ping you on gitter.

[2018-04-26 00:46] #693 closed

[2018-04-29 15:57] #692 closed

[2018-04-29 15:57] carlspring commented on #692
Fixed!

[2018-04-29 15:58] carlspring commented on #683
Implemented by @mkuligowski! :)

[2018-04-29 15:58] #683 closed

[2018-05-09 07:16] ptirador commented on #695
Hello, @steve-todorov. As you state in the description, I'm starting with these tasks:
- Make a service which returns the layouts list => How can I retrieve this?
- Make a service which returns the status list => Given the status as an enum type (`RepositoryStatusEnum`), should I just return an array of enums (`RepositoryStatusEnum.values()`), or their string values?

[2018-05-10 20:15] carlspring commented on #695
Check the `LayoutProvidersRegistry`. In fact, I think you should be able to use that directly.

This should be their string values.

[2018-05-17 17:37] carlspring opened #704 "Upgrade com.google.guava:guava to version 25.0-jre or higher"
This is required in order to avoid deserialization of untrusted data, as explained [here](https://snyk.io/vuln/SNYK-JAVA-COMGOOGLEGUAVA-32236).

[2018-05-17 20:18] carlspring commented on #408
There is now a `4.5.5`.

[2018-05-17 20:18] carlspring commented on #408
@ptirador,

Would you like maybe to look into this?

[2018-05-17 23:03] carlspring opened #705 "Upgrade Spring to 5.0.6.RELEASE (or higher) and Spring Security to 5.0.5.RELEASE (or higher)"
This is required in order to avoid:
* [Multipart Content Pollution](https://snyk.io/vuln/SNYK-JAVA-ORGSPRINGFRAMEWORK-32199)
* [Directory Traversal](https://snyk.io/vuln/SNYK-JAVA-ORGSPRINGFRAMEWORK-32202)

[2018-05-18 06:59] ptirador commented on #408
Yeah, sure! I'll look into it.

[2018-05-23 10:48] steve-todorov commented on #695
@ptirador how are things going? Did you had a chance to start with this yet? :)

[2018-05-23 11:37] carlspring commented on #542
Implemented as part of #709.

[2018-05-23 11:37] #542 closed

[2018-05-23 11:37] carlspring commented on #543
Implemented as part of #709.

[2018-05-23 11:37] #543 closed

[2018-05-23 16:36] carlspring commented on #408
Fixed by @ptirador! :)

[2018-05-23 16:36] #408 closed

[2018-05-23 17:21] carlspring opened #710 "Failed to update the proxy configuration! java.lang.NullPointerException: null"
[code]

[2018-05-23 17:56] #704 closed

[2018-05-23 20:04] ptirador commented on #695
Hi! I've started, but I haven't had much time lately. I'll keep going in a few days ;)

[2018-05-23 20:34] carlspring commented on #710
On hold: waiting for input from @fuss86.

[2018-05-23 20:59] carlspring commented on #695
@ptirador ,

@fuss86 has started an urgent refactoring that will affect you. This should take a few days, hopefully not longer than 30/05/2018. If you're up for tasks during this time, could you please ping me, or pick something else?

Sorry for the inconvenience!

[2018-05-27 21:46] #705 closed

[2018-06-03 20:17] carlspring opened #719 "Make the layout providers expose a header mapping and register it dynamically in the HeaderMappingFilter, or some other facility class"
The [`HeaderMappingFilter`](https://github.com/strongbox/strongbox/blob/08eec179a8c9ccd0d56353ab1dd47fae8bb71677/strongbox-web-core/src/main/java/org/carlspring/strongbox/web/HeaderMappingFilter.java#L85) currently has a hard-coded map of supported user agents for the different layout providers. Instead, we need to make each layout provider register it's supported user agent string in some sort of

[2018-06-04 02:01] sbespalov opened #721 "AQL case insensetive keywords"
Within this task we need to make AQL keywords case insensitive. This should be done within antlr grammar, so all the keyword rules will look like below:
[code]

### How to implement:

- you need to modify **antlr** grammar file `strongbox-aql/src/main/antlr4/AQL.g4`;
- keyword rules are all uppercase named (it's anltr convention), so you need modify all such rules that contains keywords;
- at the

[2018-06-04 02:13] sbespalov commented on #721
@carlspring can you please approve this task?

[2018-06-04 02:53] carlspring commented on #721
@sbespalov ,

Thanks, I approve it!

[2018-06-16 00:48] carlspring commented on #518
Implemented.

@sbespalov , @fuss86 : You may want to have a look at these changes, just FYI.

[2018-06-16 00:48] #518 closed

[2018-06-16 00:52] carlspring commented on #710
@fuss86 : I assume this now obsolete, or out of date...?

[2018-06-16 00:53] carlspring commented on #695
@fuss86 : Can the work on this be resumed/continued?

[2018-06-16 22:51] carlspring commented on #721
Useful links:
* [ANTLR: Case-insensitive Lexing](https://github.com/antlr/antlr4/blob/master/doc/case-insensitive-lexing.md)
* https://github.com/antlr/antlr4/issues/1002

[2018-06-16 22:59] carlspring commented on #710
This seems to still be occuring when you run the integrations tests in the `strongbox-web-core`.

[2018-06-16 23:13] #721 closed

[2018-06-17 10:12] fuss86 commented on #710
Ok, so we can drop the `on hold` label and ask someone from OSS community for help :)

[2018-06-17 10:13] fuss86 commented on #695
Yes, please proceed @ptirador. Please rebase to the latest master, there was a lot of changes in this area.

[2018-06-26 15:53] alecbuchanan commented on #651
I'll take this one

[2018-06-26 15:56] carlspring commented on #651
Great! Let me know, if you need help! :)

[2018-07-07 22:30] batarian71 opened #745 "Logo"
Hi. I am a graphic designer. I would like to volunteer to design a logo for this repository that you can use in the readme file. What do you say?

[2018-07-07 22:50] carlspring commented on #745
Hi!

This would be a massive help for us!

Would you like to join out chat on [Gitter](https://gitter.im/strongbox/strongbox/) or message me on my gmail (carlspring@...)?

[2018-07-08 04:43] carlspring commented on #745
@batarian71 ,

We're actually actively working on our project's (yet uncommitted) UI. Here's a preview of the UI for our search.

![screenshot-2018-07-08-strongbox-ui-search](https://user-images.githubusercontent.com/1436265/42416856-97e2460c-8271-11e8-8ef2-dbb9927b028d.png)

We have some ideas of how it should look like, but we're also open to suggestions.

I look forward to hearing from you! :)

[2018-07-23 23:38] steve-todorov commented on #695
@ptirador are you still interested in doing this task? :)

[2018-07-23 23:40] steve-todorov commented on #504
@gokhankuyucak , @sbespalov hi guys - what is the state of this issue? Can we consider it as fixed?

[2018-07-24 18:09] ptirador commented on #695
I'm not having much time lately, so please proceed to assign it to anyone else.

[2018-07-24 22:19] steve-todorov commented on #695
No worries, many thanks for replying! :)

[2018-07-25 21:50] fuss86 commented on #695
I'm picking up this task :)

[2018-07-25 21:52] fuss86 commented on #695
there is missed a `type` with valid values  `"hosted","proxy", "group"`

[2018-07-25 22:06] fuss86 commented on #695
in progress  #765

[2018-07-26 06:44] steve-todorov commented on #695
Good catch! I've updated the description. :)

[2018-08-03 20:16] carlspring commented on #719
Done.

[2018-08-03 20:16] #719 closed

[2018-08-06 20:24] #695 closed

[2018-08-10 02:09] samsony17 commented on #422
@carlspring  Is this still an issue? Based on my observations I was able to view the server configuration XML after logging into http://localhost:48080/api/configuration/strongbox

[2018-08-14 19:30] rmereddy commented on #594
Hi,
Is this issue still open?

Thanks,
Rohit

[2018-08-14 19:34] carlspring commented on #594
Hi,

Yes! Would you like to help? You can join our chat on Gitter (
http://gitter.im/strongbox/strongbox/).

See you there!

Martin

On Tue, 14 Aug 2018, 22:30 Rohit Mereddy, <notifications@github.com> wrote:

[2018-09-17 02:48] sbespalov commented on #602
done

[2018-09-17 02:48] #602 closed

[2018-09-25 16:32] andreybleme commented on #594
Hi @carlspring can you assign this task to me? I'll work on it. I'm joining the gitter to gather ideas about how we can better test the crons.

[2018-09-25 21:25] fuss86 opened #795 "Use awaitility for asynchronous tests"
We should get rid of `org.carlspring.strongbox.cron.jobs.BaseCronJobWithMavenIndexingTestCase#expectEvent(long, long)` and `org.carlspring.strongbox.cron.jobs.BaseCronJobWithMavenIndexingTestCase#expectEvent()` methods and simplify all subtypes of `org.carlspring.strongbox.cron.jobs.BaseCronJobWithMavenIndexingTestCase` by using https://github.com/awaitility/awaitility tool.

[2018-09-25 22:07] carlspring commented on #598
We should not proceed with this task before #755.

[2018-09-26 01:04] carlspring opened #797 "Upgrade com.google.guava:guava to version 24.1.1 or higher"
As described [here](https://snyk.io/vuln/SNYK-JAVA-COMGOOGLEGUAVA-32236), earlier versions of Guava are prone to deserialization of untrusted data vulnerability.

[2018-09-26 01:06] carlspring commented on #498
@sbespalov ,

Can this task be closed?

[2018-09-26 01:06] carlspring commented on #496
@sbespalov ,

Can this task be closed?

[2018-09-26 01:13] sbespalov commented on #498
@carlspring I will check it during the day

[2018-09-27 20:27] v3rtumnus commented on #795
I could do that if no one else is working on it :)

[2018-09-27 20:35] fuss86 commented on #795
Don't hesitate to start doing it 👍

[2018-09-27 20:39] carlspring commented on #795
@v3rtumnus ,

This would be much appreciated! Please, feel free to take this task! Also, I would like to recommend that you join our [Gitter](https://gitter.im/strongbox/strongbox) channel where the other developers hang out and where you could get answers and help. :)

[2018-09-29 00:47] carlspring commented on #611
@gokhankuyucak ,

How's it going? Have you had any time to look into this?

[2018-09-29 10:13] ptirador commented on #797
I see that the current version used in strongbox is 25.0-jre, which is greater than 24.1.1-jre. The latest version of guava is 26.0-jre. Should it be updated to the latest one?

[2018-09-29 13:48] carlspring commented on #797
Hi,

In this case, it seems it has been resolved as a transitive dependency of one of the vulnerable dependencies fixed by the Snyk.io bot! Thanks for double-checking!

[2018-09-29 13:48] #797 closed

[2018-09-30 08:28] fuss86 commented on #795
Good job, @v3rtumnus ! @carlspring it's good to be merged !

[2018-09-30 08:30] fuss86 commented on #653
@v3rtumnus, are you open for this task ?

[2018-09-30 10:40] ptirador opened #803 "Upgrade org.junit:* to >= 5.3.0 and upgrade tests annotations"
In the last issue about upgrading to JUnit 5 (#616), version was upgraded in poms but not test annotations in Java test classes. See more at [this link](https://junit.org/junit5/docs/5.0.2/user-guide/#migrating-from-junit4).

Make sure that:

- JUnit version is upgraded to 5.3.0

- JUnit 5 anotations are used in tests.

- The project still builds

- The tests are still passing

The version is cont

[2018-09-30 10:41] ptirador commented on #803
I'm taking it if there's no problem about it.

[2018-09-30 11:54] carlspring commented on #803
Great! Glad to see you're back!
Please, feel free to proceed!

[2018-09-30 11:55] carlspring commented on #803
(Closed by accident).

[2018-09-30 15:28] v3rtumnus commented on #653
I can have a look at it :)

[2018-09-30 15:31] #795 closed

[2018-09-30 15:58] carlspring commented on #653
Thanks! :)

[2018-10-02 01:33] sbespalov commented on #486
seems that `org.carlspring.strongbox.cron.jobs.OnePerRepositoryJavaCronJob#beforeScheduleCallback` not prevent from parallel task execution but just don't allow to create same(identical) Cron Jobs for repository.

Within this issue we should guarantee that same Job will not produce parallel executed tasks.

[2018-10-02 01:39] sbespalov commented on #486
@carlspring I will fix it
The anticipated solution is that task will be canceled if same already triggered and not finished.

[2018-10-02 01:41] carlspring commented on #486
Okay, @sbespalov !

Thanks for looking into this!

[2018-10-02 01:50] sbespalov commented on #486
also we probably need a follow up task to have configurable exclusive repository/storage access for CronJobs.

[2018-10-02 01:54] sbespalov opened #805 "Configurable exclusive storage/repository access for CronJob"
Within this task we should be able to configure CronJob so that if we have triggered task on storage/repository then other tasks will wait until current exclusive task will complete.

[2018-10-02 01:55] sbespalov commented on #486
805

[2018-10-02 02:36] carlspring commented on #805
Could you please make sure you document how this works on the [[Cron Tasks]] page?

[2018-10-03 16:01] carlspring commented on #594
@andreybleme ,

How's it going? Any issues, or updates?

[2018-10-03 18:41] carlspring opened #807 "Implement PyPi layout support"
# General Description

This is the master task for the implementation of the PyPi layout support support.

Please, gather all the requirements and useful links here.

# Getting Started

To get started, check out the "Developer Guide" section of our [wiki](https://github.com/strongbox/strongbox/wiki) and,
more specifically:
* [Getting Started](https://github.com/strongbox/strongbox/wiki/Getting-Sta

[2018-10-03 18:44] carlspring opened #808 "Implement a PythonWheelArtifactGenerator"
# Task Description

We need to implement a simple Python Wheel package generator to be used during testing.

The format of the Python Wheel files is described [here](https://www.python.org/dev/peps/pep-0427/#file-contents).

The code should be located in a class called `PythonWheelArtifactGenerator` under `strongbox/strongbox-storage/strongbox-storage-layout-providers/strongbox-storage-python-whee

[2018-10-03 19:55] carlspring opened #809 "Implement a PypiWheelArtifactCoordinates"
# Task Description

We need to identify what the artifact coordinates are for PyPi packages and implement a class for this.

The Python Wheel artifact coordinates are described [here](https://www.python.org/dev/peps/pep-0427/#file-format). They can be inferred from the path.

## Specification

*File name convention*

The wheel filename is `{distribution}-{version}(-{build tag})?-{python tag}-{abi

[2018-10-03 20:02] carlspring opened #810 "Implement a PypiLayoutProvider"
We need to implement a layout provider which handles the logic of managing PyPi artifacts. Most of this functionality should be implemented as part of the layout provider.

This is a sub-task of #807 and you should get acquainted with the master task, before proceeding.

# Seel Also:
* [How To Implement Your Own Repository Format](https://github.com/strongbox/strongbox/wiki/How-To-Implement-Your-O

[2018-10-03 20:51] carlspring opened #811 "Implement a PypiArtifactController"
# Task Description

We need to:
* [ ] Implement a controller that handles incoming requests for PyPi packages
* [ ] Investigate what PyPi commands, (if any), we need to support

The code should be located in a class called `PypiArtifactController` under `strongbox/strongbox-web-core/src/main/java/org/carlspring/strongbox/controllers/layout/pypi`.

# Tasks

* [ ] Implement downloading of artifacts

[2018-10-03 21:04] carlspring opened #812 "Implement a hello-strongbox-pypi example"
# Task Description

We need a simple "Hello, World!"-styled application that illustrates:
* [x] The creation of a PyPi package
* [x] Deploying PyPi packages to Strongbox
* [ ] Resolving PyPi packages
* [ ] A detailed step-by-step `README.md` illustrating how to configure things, as well as how to execute the steps above, along with actual successful output

The code should be located under the [st

[2018-10-03 21:09] leonorader commented on #538
Your coding convention looks awesome! :) I would like to work on this!
If you accept, could you please decide if I should add it as a plugin, too, or just make a ruleset, so that you can import it into you IDEs?

[2018-10-03 21:16] carlspring commented on #538
Hi,

Thanks for the feedback! We'd love the help!

Could you please share the pros and cons of each of these?

[2018-10-03 21:21] carlspring opened #813 "Implement PyPi hosted repositories"
Make sure that as a consequence #810, PyPi hosted repositories work.

This would require implementing some unit tests. Testing this out manually with `pip` or other tools would also be of help.

This is a sub-task of #807.

[2018-10-03 21:29] carlspring opened #814 "Implement PyPi proxy repositories"
Make sure that as a consequence #810, PyPi proxy repositories work.

Investigate if and how we need to maintain metadata and implement it as necessary.

This would require implementing some unit tests. Testing this out manually with `pip` or other tools would also be of help.

This is a sub-task of #807.

[2018-10-03 21:31] carlspring opened #815 "Implement PyPi group repositories"
Make sure that as a consequence #810, PyPi group repositories work.

Investigate if and how we need to maintain metadata and implement it as necessary.

This would require implementing some unit tests. Testing this out manually with `pip` or other tools would also be of help.

This is a sub-task of #807.

[2018-10-03 21:32] leonorader commented on #538
Sure!

Adding as a maven build step:
- PRO: if you have any Checkstyle violation in the code then you will not be able to finish a build, until all of these are corrected (it can go very well if you really followed all the conventions, but it might cause hundreds, even thousands of errors, so it might take a lot of time to fix)
- CON: taking it seriously will allow you to make sure that all the co

[2018-10-03 21:33] carlspring opened #816 "Implement PyPi integration tests in the strongbox-web-integration-tests module"
As a follow-up of #812, implement automated tests in the [strongbox-web-integration-tests](https://github.com/strongbox/strongbox-web-integration-tests/) module, using `pip`, or a similar tool.

This is a sub-task of #807.

[2018-10-03 23:31] carlspring commented on #538
Thank you for your explanation!

I believe what you're suggesting is a good idea. Please, feel fre to proceed with the ruleset and we'll see how it works out. :)

[2018-10-04 00:29] carlspring opened #817 "Implement Docker layout support"
# General Description

This is the master task for the implementation of the Docker layout support support.

The code should be located in a new module called `strongbox-storage-docker-layout-provider` under [strongbox-storage/strongbox-storage-layout-providers](https://github.com/strongbox/strongbox/tree/master/strongbox-storage/strongbox-storage-layout-providers).

Please, gather all the require

[2018-10-04 00:30] carlspring opened #818 "Implement a DockerArtifactGenerator"
We need to implement a simple Docker package generator to be used during testing.

The code should be located in a class called `DockerArtifactGenerator` under `strongbox/strongbox-storage/strongbox-storage-layout-providers/strongbox-storage-docker-layout-provider/src/test/java/org/carlspring/strongbox/artifact/generator`.

The generator must produce packages that are valid, along with all the req

[2018-10-04 00:38] carlspring opened #819 "Implement a DockerArtifactCoordinates"
We need to identify what the artifact coordinates are for Docker packages and implement a class for this.

The code should be located in a class called `DockerArtifactCoordinates` under `strongbox/strongbox-storage/strongbox-storage-layout-providers/strongbox-storage-docker-layout-provider/src/main/java/org/carlspring/strongbox/artifact/coordinates`.

Have a look at the [Artifact Coordinates](http

[2018-10-04 00:40] carlspring opened #820 "Implement a DockerLayoutProvider"
We need to implement a layout provider which handles the logic of managing Docker artifacts. Most of this functionality should be implemented as part of the layout provider.

The code should be located in a class called `DockerLayoutProvider` under `strongbox/strongbox-storage/strongbox-storage-layout-providers/strongbox-storage-docker-layout-provider/src/main/java/org/carlspring/strongbox/provide

[2018-10-04 00:41] carlspring opened #821 "Implement a DockerArtifactController"
We need to:
* Implement a controller that handles incoming requests for Docker packages
* Investigate what Docker commands, (if any), we need to support

The code should be located in a class called `DockerArtifactCoordinates` under `strongbox/strongbox-web-core/src/main/java/org/carlspring/strongbox/controllers/layout/docker`.

This is a sub-task of #817. It should be relatively straight-forward

[2018-10-04 00:44] carlspring opened #822 "Implement a hello-strongbox-docker example"
We need a simple "Hello, World!"-styled application that illustrates:
* The creation of a Docker package
* Resolving Docker packages
* Deploying Docker packages to Strongbox
* A detailed step-by-step `README.md` illustrating how to configure things, as well as how to execute the steps above, along with actual successful output

The code should be located under the [strongbox-examples](https://gith

[2018-10-04 00:48] carlspring opened #823 "Implement Docker hosted repositories"
Make sure that as a consequence #820, Docker hosted repositories work.

This would require implementing some unit tests. Testing this out manually with `docker` would also be of help.

This is a sub-task of #817.

[2018-10-04 00:50] carlspring opened #824 "Implement Docker proxy repositories"
Make sure that as a consequence #820, PyPi proxy repositories work.

Investigate if and how we need to maintain metadata and implement it as necessary.

This would require implementing some unit tests. Testing this out manually with `docker` would also be of help.

This is a sub-task of #817.

[2018-10-04 00:51] carlspring opened #825 "Implement Docker group repositories"
Make sure that as a consequence #820, Docker group repositories work.

Investigate if and how we need to maintain metadata and implement it as necessary.

This would require implementing some unit tests. Testing this out manually with `docker` would also be of help.

This is a sub-task of #817.

[2018-10-04 00:52] carlspring opened #826 "Implement Docker integration tests in the strongbox-web-integration-tests module"
As a follow-up of #822, implement automated tests in the `[strongbox-web-integration-tests](https://github.com/strongbox/strongbox-web-integration-tests/)` module, using `pip`, or a similar tool.

This is a sub-task of #817.

[2018-10-04 01:28] sbespalov opened #827 "`maven-metadata.xml` not updated within group+proxy repository"
We have a snapshot Maven proxy repository in Strongbox proxying to a Nexus one. The issue is that the information in the `maven-metadata.xml` is not getting updated properly. The snapshot artifact's metadata in Strongbox is [here](https://strongbox.carlspring.org/storages/storage-common-proxies/carlspring/org/carlspring/strongbox/npm-metadata-jackson/1.0-SNAPSHOT/maven-metadata.xml) and the Nexus

[2018-10-04 22:10] #653 closed

[2018-10-04 22:15] carlspring commented on #597
@v3rtumnus ,

Would you like to take this task? Is should be quite simple.

[2018-10-04 22:30] v3rtumnus commented on #597
I can have a look at it. If I understand you correctly, the goal of this ticket is to see if the mentioned tests in the integration-tests can be removed (and following that conclusion remove them) because they are covered by RestAssured. Is that correct?

[2018-10-05 03:06] chaudharydeepak commented on #823
@carlspring - I am availabel to support with this effort, if you approve. I am primarily Java guy with good docker expereince. Let me know if I may. Thank you.

[2018-10-05 10:06] carlspring commented on #823
Hi @chaudharydeepak ,

Thanks for offering to help!

You will have to have a look at the master task. There is a list of tasks which need to be implemented more, or less in the order they've been listed, before you can get to this particular task. (The only longer task that would be ongoing work, would be the one regarding the controller). I think it would be best, if you could start with the pack

[2018-10-05 15:15] v3rtumnus commented on #597
Ok thanks for clarification! Will have a look into it

[2018-10-05 16:33] carlspring opened #829 "Implement Ruby Gems layout support"
# General Description

This is the master task for the implementation of the Ruby Gems layout support support.

The code should be located in a new module called `strongbox-storage-gems-layout-provider` under [strongbox-storage/strongbox-storage-layout-providers](https://github.com/strongbox/strongbox/tree/master/strongbox-storage/strongbox-storage-layout-providers).

Please, gather all the requir

[2018-10-05 16:41] carlspring opened #830 "Implement a GemsArtifactGenerator"
We need to implement a simple Ruby Gems package generator to be used during testing.

The code should be located in a class called `RubyGemsArtifactGenerator` under `strongbox/strongbox-storage/strongbox-storage-layout-providers/strongbox-storage-ruby-gems-layout-provider/src/test/java/org/carlspring/strongbox/artifact/generator`.

The generator must produce packages that are valid, along with all

[2018-10-05 16:44] carlspring opened #831 "Implement a RubyGemsArtifactCoordinates"
We need to identify what the artifact coordinates are for Ruby Gems packages and implement a class for this.

The code should be located in a class called `RubyGemsArtifactCoordinates` under `strongbox/strongbox-storage/strongbox-storage-layout-providers/strongbox-storage-ruby-gems-layout-provider/src/main/java/org/carlspring/strongbox/artifact/coordinates`.

Have a look at the [Artifact Coordinat

[2018-10-05 16:46] carlspring opened #832 "Implement a RubyGemsLayoutProvider"
We need to implement a layout provider which handles the logic of managing Ruby Gems artifacts. Most of this functionality should be implemented as part of the layout provider.

The code should be located in a class called `RubyGemsLayoutProvider` under `strongbox/strongbox-storage/strongbox-storage-layout-providers/strongbox-storage-ruby-gems-layout-provider/src/main/java/org/carlspring/strongbox

[2018-10-05 16:53] carlspring opened #833 "Implement a RubyGemsArtifactController"
We need to:
* Implement a controller that handles incoming requests for Ruby Gems packages
* Investigate what Ruby Gems commands, (if any), we need to support

The code should be located in a class called `RubyGemsArtifactController` under `strongbox/strongbox-web-core/src/main/java/org/carlspring/strongbox/controllers/layout/gems`.

This is a sub-task of #829. It should be relatively straight-for

[2018-10-05 16:56] carlspring opened #834 "Implement a hello-strongbox-ruby-gems example"
We need a simple "Hello, World!"-styled application that illustrates:
* The creation of a Ruby Gems package
* Resolving Ruby Gems packages
* Deploying Ruby Gems packages to Strongbox
* A detailed step-by-step `README.md` illustrating how to configure things, as well as how to execute the steps above, along with actual successful output

The code should be located under the [strongbox-examples](htt

[2018-10-05 16:58] carlspring opened #835 "Implement Ruby Gems hosted repositories"
Make sure that as a consequence #832, Docker hosted repositories work.

This would require implementing some unit tests. Testing this out manually with `docker` would also be of help.

This is a sub-task of #829.

[2018-10-05 17:00] carlspring opened #836 "Implement Ruby Gems proxy repositories"
Make sure that as a consequence #832, Ruby Gems proxy repositories work.

Investigate if and how we need to maintain metadata and implement it as necessary.

This would require implementing some unit tests. Testing this out manually with `ruby` would also be of help.

This is a sub-task of #829.

[2018-10-05 17:02] carlspring opened #837 "Implement Ruby Gems group repositories"
Make sure that as a consequence #832, Docker group repositories work.

Investigate if and how we need to maintain metadata and implement it as necessary.

This would require implementing some unit tests. Testing this out manually with `ruby` would also be of help.

This is a sub-task of #829.

[2018-10-05 17:03] carlspring opened #838 "Implement Ruby Gems integration tests in the strongbox-web-integration-tests module"
As a follow-up of #833, implement automated tests in the [strongbox-web-integration-tests](https://github.com/strongbox/strongbox-web-integration-tests/) module, using `ruby`, or a similar tool.

This is a sub-task of #829.

[2018-10-06 18:33] ror6ax commented on #810
Hi @carlspring , I will be looking into this.

[2018-10-06 18:36] carlspring commented on #810
Hi!

Excellent, could you please have a look at the master task and start working your way down the list? There are a few tasks before you could do this one, such as, for example, #808.

[2018-10-06 18:51] ror6ax commented on #810
Yep, sure. I'll be taking #808 first then.

[2018-10-07 17:40] carlspring opened #839 "Make it possible to run our tests concurrently"
We are now able to build modules of our multi-module projects in parallel with the Maven command line option `-T` .

We should try to parallelize the tests in our modules, in order to be able to run them concurrently per module (https://maven.apache.org/surefire/maven-surefire-plugin/examples/fork-options-and-parallel-execution.html), if possible.

[2018-10-07 18:15] carlspring opened #840 "Create an RPM distribution"
We are currently producing `zip` and `gzip` packages for our distribution. We need to be able to create RPM distributions using the [`rpm-maven-plugin`](https://www.mojohaus.org/rpm-maven-plugin/) (or similar). The place where we produce our assemblies is the [`strongbox-distribution`](https://github.com/strongbox/strongbox/tree/master/strongbox-distribution) module.

This task is similar to #841

[2018-10-07 18:15] carlspring opened #841 "Create a Debian distribution"
# Task Description

We are currently producing `zip` and `gzip` packages for our distribution. We need to be able to create `deb` distributions.

We need to evaluate the following plugins (please, feel free to add any others you might think would be a good fit) and decide which one we should use:
* [jdeb](https://github.com/tcurdt/jdeb) : This plugin allows you to build the project on any OS witho

[2018-10-07 21:17] carlspring opened #842 "Fix deprecation warnings during build time"
There are some deprecation warnings when compiling the code. These need to be addressed.

Examples:
[code]

[2018-10-07 21:19] v3rtumnus commented on #597
In my opinion, these tests can be removed as you suggested (I have done this in the merge request)

[2018-10-07 21:33] v3rtumnus commented on #842
I'll take it!

[2018-10-07 21:34] carlspring commented on #842
Fantastic! :)

[2018-10-07 21:49] #597 closed

[2018-10-07 22:23] carlspring opened #843 "Update the documentation regarding the layout providers"
As we now have some improvements in regards to how our layout providers work, (most notably, our file system), it would be great to have the wiki page on [How To Implement Your Own Repository Format](https://github.com/strongbox/strongbox/wiki/How-To-Implement-Your-Own-Repository-Format) updated as necessary.

Also, I think the page needs to be renamed to "How To Implement Your Own Layout Provider

[2018-10-08 01:45] sbespalov opened #844 "Create a test in the strongbox-web-integration-tests/npm module that installs an artifact via group with a proxy to npmjs.org"
There is already a set of **npm** tests in [strongbox-web-integration-tests](https://github.com/strongbox/strongbox-web-integration-tests) which can be taken as an example.
Within this task there should be a new test `npm/src/it/resolve-package-via-proxy`.

[2018-10-08 02:43] carlspring opened #845 "Implement YUM layout support"
# General Description

This is the master task for the implementation of the YUM layout support support.

The code should be located in a new module called `strongbox-storage-yum-layout-provider` under [strongbox-storage/strongbox-storage-layout-providers](https://github.com/strongbox/strongbox/tree/master/strongbox-storage/strongbox-storage-layout-providers).

Please, gather all the requirements

[2018-10-08 02:44] carlspring opened #846 "Implement an RPMArtifactGenerator"
# Task Description

We need to implement a simple RPM package generator to be used during testing.

The code should be located in a class called `RpmArtifactGenerator` under `strongbox/strongbox-storage/strongbox-storage-layout-providers/strongbox-storage-yum-layout-provider/src/test/java/org/carlspring/strongbox/artifact/generator`.

The generator must produce packages that are valid, along with

[2018-10-08 02:54] carlspring opened #847 "Implement RpmArtifactCoordinates"
# Task Description

We need to identify what the artifact coordinates are for Yum (RPM) packages and implement a class for this.

The code should be located in a class called `YumArtifactCoordinates` under `strongbox/strongbox-storage/strongbox-storage-layout-providers/strongbox-storage-yum-layout-provider/src/main/java/org/carlspring/strongbox/artifact/coordinates`.

Have a look at the [Artifact

[2018-10-08 02:56] carlspring opened #848 "Implement a YumLayoutProvider"
We need to implement a layout provider which handles the logic of managing Yum (RPM) artifacts. Most of this functionality should be implemented as part of the layout provider.

The code should be located in a class called `YumLayoutProvider` under `strongbox/strongbox-storage/strongbox-storage-layout-providers/strongbox-storage-yum-layout-provider/src/main/java/org/carlspring/strongbox/providers/

[2018-10-08 03:02] carlspring opened #849 "Implement a YumArtifactController"
We need to:
* Implement a controller that handles incoming requests for RPM packages
* Investigate what `rpm` commands, (if any), we need to support

The code should be located in a class called `YumArtifactController` under `strongbox/strongbox-web-core/src/main/java/org/carlspring/strongbox/controllers/layout/yum`.

This is a sub-task of #845. It should be relatively straight-forward to implemen

[2018-10-08 03:13] carlspring opened #850 "Implement a hello-strongbox-yum example"
We need a simple "Hello, World!"-styled application that illustrates:
* The creation of an RPM package
* Resolving RPM packages
* Deploying RPM packages to Strongbox
* A detailed step-by-step `README.md` illustrating how to configure things, as well as how to execute the steps above, along with actual successful output

The code should be located under the [strongbox-examples](https://github.com/s

[2018-10-08 03:15] carlspring opened #851 "Implement Yum hosted repositories"
Make sure that, as a consequence #848, Yum hosted repositories work.

This would require implementing some unit tests. Testing this out manually with `docker` would also be of help.

This is a sub-task of #845.

[2018-10-08 03:16] carlspring opened #852 "Implement Yum proxy repositories"
Make sure that, as a consequence #848, Yum proxy repositories work.

This would require implementing some unit tests. Testing this out manually with `rpm` would also be of help.

This is a sub-task of #845.

[2018-10-08 03:17] carlspring opened #853 "Implement Yum group repositories"
Make sure that, as a consequence #848, Yum group repositories work.

This would require implementing some unit tests. Testing this out manually with `rpm` would also be of help.

This is a sub-task of #845.

[2018-10-08 03:18] carlspring opened #854 "Implement Yum integration tests in the strongbox-web-integration-tests module"
As a follow-up of #850, implement automated tests in the [strongbox-web-integration-tests](https://github.com/strongbox/strongbox-web-integration-tests/) module, using `pip`, or a similar tool.

This is a sub-task of #845.

[2018-10-08 21:15] v3rtumnus commented on #840
Hi @carlspring , I just created a PR for this. Could you please have a look into it, as my experience with RPM packages is limited and I am not completely sure that this is what you expect as outcome of this issue.

[2018-10-08 21:36] carlspring commented on #840
Do you know, if it's possible to set up services via this plugin?

[2018-10-08 21:45] v3rtumnus commented on #840
I am not sure unfortunately since I cannot test it (running on a debian based system atm)

[2018-10-08 21:52] carlspring commented on #840
Would you like to try it under Docker with an image from [here](https://hub.docker.com/_/centos/)?

I think that, optimally, the produced `rpm` should be able to register the service management scripts which are packaged in the distribution. I assume this is possible with the plugin. Perhaps we will need to create a spec file.

Check out these resources:
* http://ftp.rpm.org/max-rpm/s1-rpm-build-c

[2018-10-08 22:13] v3rtumnus commented on #840
Will have a look into it!

[2018-10-08 22:46] v3rtumnus commented on #842
@carlspring Should I also remove deprecated classes / methods from inside strongbox or only calls to external libraries? I am just asking because the first option could require some refactoring.

[2018-10-08 23:03] carlspring commented on #842
Could you sort out the external ones first and make a list of the internal ones? We could do them in two pulls, if necessary.

[2018-10-09 06:02] v3rtumnus commented on #842
Yep, sounds like a good plan. Will sort out the external ones as part of the first pull and provide a list for the internal ones.

[2018-10-09 10:35] amogozov commented on #839
Hi @carlspring , I would like to work on this

[2018-10-09 10:41] carlspring commented on #839
Hi!

Great! Please, feel free to experiment with it and report your finding and fixes!

Good luck! :)

[2018-10-09 15:55] bamarch commented on #521
I'll improve the wiki documentation for Groovy cron tasks, and include an example

[2018-10-09 15:56] bamarch commented on #594
I'll test out a simple/dummy Groovy script and add it to the wiki documentation for Groovy cron tasks

[2018-10-09 21:45] bamarch commented on #594
I think this is a duplicate of #521

[2018-10-09 21:52] bamarch commented on #594
I took a look at CronTaskConfigurationControllerTest, which demonstrates:

[code]

This instantiates some config for a groovy cron task (the name, interval it runs at etc...)

Then when the app is running, it seems you hit the correct endpoint with the groovy script body and pass in cronName parameter

[code]

where MyCron would match configuration.setName(name).

So one question

- Where would be

[2018-10-09 22:06] fuss86 commented on #594
it should be

`PUT - http://localhost:48080/api/configuration/crontasks/cron/groovy?cronName=MyCron`

[2018-10-09 22:08] carlspring commented on #594
Yeah, you will have to update documentation for that, @bamarch... (Thanks! @fuss86!)

[2018-10-09 22:08] fuss86 commented on #594
`Where would be the appropriate place that all the groovy cron configuration should be defined?`

are you asking for

`String path = ConfigurationResourceResolver.getVaultDirectory() + "/etc/conf/cron/groovy";`

?

[2018-10-09 22:36] fuss86 opened #857 "Load tests using Faban"
http://faban.org/about.html

We need some benchmarks and stress tests of `strongbox`.

At the beginning it could be helpful to:
* show the results of deploying the same artifact to some hosted repository by many clients using some intervals.
* show the results of downloading the same artifact from some group/proxy repository by many clients using some intervals.

Use `fhb` tool for now:
http://fab

[2018-10-09 22:44] steve-todorov commented on #857
[Gatling](https://gatling.io/continuous-integration/) is another tool which I've been hoping to try out at some point because it has some integration with Jenkins and you can publish graphs. Also you can create `scenarios` to be executed to simulate user interactions. Might be worth having a look into that as well.

[2018-10-10 15:52] shalini-s commented on #847
I'll take this!

[2018-10-10 15:59] carlspring commented on #847
Okay, thanks! Have a look at the master task as well.
Are you familiar with `yum` and  `rpm`?

[2018-10-10 18:48] shalini-s commented on #847
I'm not that familiar with it, but I'm looking to learn. I'm reading though the master task - are there any other resources I should look at?

[2018-10-10 22:27] fuss86 commented on #827
#858

[2018-10-11 18:55] carlspring commented on #827
I think we should implement it like this:
* An artifact gets downloaded
* A request for it comes in:
  * If it's a snapshot
    * If it's a Maven repository:
      * We should have an option for the expiration of metadata (not just the artifacts)
      * Try to get the `maven-metadata.xml.sha1` or `maven-metadata.xml.md5` from the remote. Compare it with the local. If it's newer, get the resource

[2018-10-11 19:35] carlspring commented on #847
Generally, this would require some level of familiarity with `rpm`, `yum` and Linux. It may be worth joining our [gitter](gitter.im/strongbox/strongbox) chat channel.

[2018-10-11 19:36] carlspring opened #859 "Create docker-compose.yml-s for the strongbox-web-integration-tests"

[2018-10-12 00:42] shalini-s commented on #847
Okay, I'll let someone else take it then.

[2018-10-12 00:49] sbespalov commented on #827
@carlspring in case of checksum invalidation it's not clear how this will work for group repositories. It will be much overheads if we will check checksum for all proxy repositories in group on every request.

[2018-10-12 01:59] carlspring commented on #827
You are right and I've been thinking about this since you raised it the other day. However, I think there are two aspects to consider here:
* The behavior in proxy repositories. If you're proxying a remote repository, then you're definitely working with one copy (umerged) of the remote. So, in this case, (if my theory is true), it would be safe to check the local and remote checksums. Right?
* The

[2018-10-12 02:16] sbespalov commented on #827
I think we can invalidate checksums for proxies in group in parallel. So from the performance point of view it will be the same as for direct proxies.
So I think we should try it. :)

[2018-10-12 02:35] carlspring commented on #847
Have a look at [this](https://bobcares.com/blog/rpm-basics/) article.

Based on the additional example in the line above, I'd say the coordinates, are (actually) most-probably five, (and not just four):

[code]

So, the coordinates would be:
| Coordinate       | Description                               | Is Mandatory |
|  --------------------- | ------------------------------------------ | ------

[2018-10-12 03:10] carlspring commented on #847
@shalini-s ,

If you think this task is something you can do and if you have the proper environment in which to test it and do the necessary research, then, by all means, feel free to proceed! If not, please join our [gitter](gitter.im/strongbox/strongbox) chat channel and we'll try to find you some tasks with which you could help out! :)

[2018-10-12 03:30] carlspring opened #860 "Implement NuGet protocol v3 support"
We currently have support for NuGet protocol version 2 implemented. This version is XML based. The newer version 3 uses JSON.

We need to analyze what needs to be done in order for us to implement support for NuGet v3.

We think we'll need the following:
* A new Spring controller to handles requests for repositories hosting/proxying NuGet v3.
* Perhaps a new module for the handling of the JSON-bas

[2018-10-12 03:55] carlspring commented on #611
It would be useful to sort this out, before implementing #860.

@gokhankuyucak , @SevastyanDark : Are either of you still interested in looking into this?

[2018-10-12 04:40] carlspring opened #861 "Implement Debian layout support"
# General Description

This is the master task for the implementation of the `deb` layout support support.

The code should be located in a new module called `strongbox-storage-deb-layout-provider` under [strongbox-storage/strongbox-storage-layout-providers](https://github.com/strongbox/strongbox/tree/master/strongbox-storage/strongbox-storage-layout-providers).

Please, gather all the requirement

[2018-10-12 04:41] carlspring opened #862 "Implement an DebArtifactGenerator"
We need to implement a simple Deb package generator to be used during testing.

The code should be located in a class called `DebArtifactGenerator` under `strongbox/strongbox-storage/strongbox-storage-layout-providers/strongbox-storage-deb-layout-provider/src/test/java/org/carlspring/strongbox/artifact/generator`.

The generator must produce packages that are valid, along with all the required met

[2018-10-12 04:41] carlspring opened #863 "Implement a DebArtifactCoordinates"
We need to identify what the artifact coordinates are for Deb packages and implement a class for this.

The code should be located in a class called `DebArtifactCoordinates` under `strongbox/strongbox-storage/strongbox-storage-layout-providers/strongbox-storage-deb-layout-provider/src/main/java/org/carlspring/strongbox/artifact/coordinates`.

Have a look at the [Artifact Coordinates](https://githu

[2018-10-12 04:41] carlspring opened #864 "Implement a DebLayoutProvider"
We need to implement a layout provider which handles the logic of managing Deb artifacts. Most of this functionality should be implemented as part of the layout provider.

The code should be located in a class called `DebLayoutProvider` under `strongbox/strongbox-storage/strongbox-storage-layout-providers/strongbox-storage-deb-layout-provider/src/main/java/org/carlspring/strongbox/providers/layout

[2018-10-12 04:42] carlspring opened #865 "Implement a DebArtifactController"
We need to:
* Implement a controller that handles incoming requests for Deb packages
* Investigate what `deb` commands, (if any), we need to support

The code should be located in a class called `DebArtifactController` under `strongbox/strongbox-web-core/src/main/java/org/carlspring/strongbox/controllers/layout/deb`.

This is a sub-task of #861. It should be relatively straight-forward to implemen

[2018-10-12 04:42] carlspring opened #866 "Implement a hello-strongbox-deb example"
We need a simple "Hello, World!"-styled application that illustrates:
* The creation of an `deb` package
* Resolving `deb` packages
* Deploying `deb` packages to Strongbox
* A detailed step-by-step `README.md` illustrating how to configure things, as well as how to execute the steps above, along with actual successful output

The code should be located under the [strongbox-examples](https://github

[2018-10-12 04:43] carlspring opened #867 "Implement Deb hosted repositories"
Make sure that, as a consequence #864, Deb hosted repositories work.

This would require implementing some unit tests. Testing this out manually with `apt`, `aptitude`, `dpkg`, (or similar) would also be of help.

This is a sub-task of #861.

[2018-10-12 04:43] carlspring opened #868 "Implement Deb proxy repositories"
Make sure that, as a consequence #864, Deb proxy repositories work.

This would require implementing some unit tests. Testing this out manually with `apt`, `aptitude`, `dpkg`, (or similar), would also be of help.

This is a sub-task of #861.

[2018-10-12 04:44] carlspring opened #869 "Implement Deb group repositories"
Make sure that, as a consequence #864, Deb group repositories work.

This would require implementing some unit tests. Testing this out manually with `apt`, `aptitude`, `dpkg`, (or similar), would also be of help.

This is a sub-task of #861.

[2018-10-12 04:44] carlspring opened #870 "Implement Deb integration tests in the strongbox-web-integration-tests module"
As a follow-up of #866, implement automated tests in the [strongbox-web-integration-tests](https://github.com/strongbox/strongbox-web-integration-tests/) module, using `apt`, `aptitude`, `dpkg`, or a similar tool.

This is a sub-task of #861.

[2018-10-12 21:23] carlspring opened #872 "Implement PHP Composer layout support"
# Task Description

This is the master task for the implementation of the PHP Composer layout support support.

The code should be located in a new module called `strongbox-storage-composer-layout-provider` under [strongbox-storage/strongbox-storage-layout-providers](https://github.com/strongbox/strongbox/tree/master/strongbox-storage/strongbox-storage-layout-providers).

The work on these tasks w

[2018-10-12 21:26] carlspring opened #873 "Implement a PHP ComposerArtifactGenerator"
# Task Description

We need to implement a simple PHP Composer package generator to be used during testing.

The work on these tasks will have to be based against the `composer-layout-provider` feature branch.

The code should be located in a class called `ComposerArtifactGenerator` under `strongbox/strongbox-storage/strongbox-storage-layout-providers/strongbox-storage-composer-layout-provider/src

[2018-10-12 21:57] carlspring opened #874 "Implement a ComposerArtifactCoordinates"
We need to identify what the artifact coordinates are for Composer packages and implement a class for this. This task requires someone with basic PHP and Composer knowledge.

The code should be located in a class called `ComposerArtifactCoordinates` under `strongbox/strongbox-storage/strongbox-storage-layout-providers/strongbox-storage-composer-layout-provider/src/main/java/org/carlspring/strongbo

[2018-10-12 22:01] carlspring opened #875 "Implement a ComposerLayoutProvider"
We need to implement a layout provider which handles the logic of managing PHP Composer artifacts. Most of this functionality should be implemented as part of the layout provider.

The code should be located in a class called `ComposerLayoutProvider` under `strongbox/strongbox-storage/strongbox-storage-layout-providers/strongbox-storage-composer-layout-provider/src/main/java/org/carlspring/strongb

[2018-10-12 22:03] carlspring opened #876 "Implement a ComposerArtifactController"
We need to implement a Spring controller for PHP Composer:
* Implement a controller that handles incoming requests for Composer packages
* Investigate what Composer commands, (if any), we need to support

The code should be located in a class called `ComposerArtifactController` under `strongbox/strongbox-web-core/src/main/java/org/carlspring/strongbox/controllers/layout/composer`.

This is a sub-t

[2018-10-12 22:06] carlspring opened #877 "Implement a hello-strongbox-composer example"
We need a simple "Hello, World!"-styled application that illustrates:
* The creation of a PHP Composer package
* Resolving PHP Composer packages
* Deploying PHP Composer packages to Strongbox
* A detailed step-by-step `README.md` illustrating how to configure things, as well as how to execute the steps above, along with actual successful output

The code should be located under the [strongbox-exam

[2018-10-12 22:14] carlspring opened #878 "Implement Composer hosted repositories"
Make sure that as a consequence #875, Docker hosted repositories work.

This would require implementing some unit tests. Testing this out manually with `composer` would also be of help.

This is a sub-task of #872.

[2018-10-12 22:15] carlspring opened #879 "Implement Composer proxy repositories"
Make sure that as a consequence #875, Composer proxy repositories work.

This would require implementing some unit tests. Testing this out manually with `composer` would also be of help.

This is a sub-task of #872.

[2018-10-12 22:17] carlspring opened #880 "Implement Composer group repositories"
Make sure that as a consequence #875, Composer group repositories work.

This would require implementing some unit tests. Testing this out manually with `composer` would also be of help.

This is a sub-task of #872.

[2018-10-12 22:19] carlspring opened #881 "Implement Composer integration tests in the strongbox-web-integration-tests module"
As a follow-up of #877, implement automated tests in the [strongbox-web-integration-tests](https://github.com/strongbox/strongbox-web-integration-tests/) module, using `pip`, or a similar tool.

This is a sub-task of #872.

[2018-10-13 11:34] fuss86 commented on #827
@carlspring , @sbespalov please add your comments, please

[2018-10-13 11:34] carlspring commented on #827
I believe this covers things quite thoroughly.

There's just one case I'd like to clarify: the case where the group's timeout is different than the proxy's. In this case, whichever's lower should take precedence.

[2018-10-14 04:04] sbespalov commented on #827
Regarding **2.2** i thought that it not just first matched but always agregated from group members

[2018-10-14 16:29] bamarch commented on #594
ConfigurationResourceResolver.getVaultDirectory() + "/etc/conf/cron/groovy" is where the script is stored after hitting the endpoint

`PUT - http://localhost:48080/api/configuration/crontasks/cron/groovy?cronName=MyCron`

What I meant to ask for is... when you upload a script it only contains the body. Where do you first define the name, cron expression etc...?

But I took a look at `CronTaskContr

[2018-10-15 21:58] carlspring commented on #839
@amogozov : Any luck with this?

[2018-10-15 22:28] amogozov commented on #839
Hey @carlspring . I did some investigation, I think that concurrent test execution is enabled by default when you pass the `-T` parameter. For example

(meaning that one JVM will be forked to run one test class, up to number of cores) finished on my MacBook Pro in 4:40. Whereas

took 5:11.

Would you like to run tests concurrently even when `-T` param is not provided?

[2018-10-17 11:12] carlspring commented on #842
Issue was auto-closed and it's only half-way done. @v3rtumnus will open a follow up pull request.

[2018-10-17 22:03] v3rtumnus commented on #842
@sbespalov / @fuss86 I have a question regarding the use of `StandardPasswordEncoder` in the class `CacheManagerAuthenticationCache`, since I was not sure if you really want to replace it with one of the other encoders. Should I keep it as is or replace it with a different encoder?

[2018-10-17 22:11] fuss86 commented on #842
`StandardPasswordEncoder` was intentionally used there, AFAIR. @sbespalov, please confirm.

[2018-10-17 22:49] v3rtumnus commented on #842
Thanks!

A few other questions:

- `LayoutProvider` contains the two deprecated methods `containsPath` and `deleteMetadata`. I would move these methods to `RepositoryProvider` and `RepositoryPath`
- How should the class `PropertiesBooter` be replaced in your opinion?
- Should the classes `SafeArtifactContextProducer` and `StrongboxIndexer` be replaced by their corresponding superclasses?

[2018-10-18 01:18] sbespalov commented on #842
yes, I confirm. It used due to better performance then other encoders.

[2018-10-18 02:39] sbespalov opened #884 "`LayoutProvider.containsPath` should be replaced with `RepositoryFiles.artifactExists`"
What need to be done:
- replace `LayoutProvider.containsPath` with `RepositoryFiles.artifactExists` in `GroupRepositoryArtifactExistenceChecker`
- drop `LayoutProvider.containsPath` method
- check that corresponding logic in `GroupRepositoryArtifactExistenceChecker` covered with UnitTests

[2018-10-18 02:50] sbespalov opened #885 "`LayoutProvider.deleteMetadata` method should be moved into `Maven2FileSystemProvider`"
What need to be done:
- move `deleteMetadata` method from `LayoutProvider` into `RepositoryLayoutFileSystemProvider` with `protected` modifier
- `RepositoryLayoutFileSystemProvider.deleteMetadata` should be called within `RepositoryLayoutFileSystemProvider.delete`, so all corresponding metadata should be removed within artifact delete,
- move `Maven2LayoutProvider.deleteMetadata` logic into `Maven

[2018-10-18 02:52] sbespalov commented on #842
@v3rtumnus
Feel free to continue with #884 or #885

[2018-10-18 03:03] sbespalov commented on #842
you also may be interested in following tasks: #857, #844, #805, #611. #503

[2018-10-18 06:31] v3rtumnus commented on #842
Thanks for the answers! :) I will create a separate PR then for the rest, which doesn't fit into an own issue

[2018-10-18 12:45] vigneshtdev commented on #884
where can the tests for the <code>GroupRepositoryArtifactExistenceChecker</code> be found?

[2018-10-18 13:34] ror6ax commented on #807
* pypi does not support .egg anymore as per pypa/pip#1749
* PyPi only has one canonical implementation
* both eggs and current standard, wheels (.whl) are tar.gz archives
* internals differ quite a bit, wheels wheels still use parts of egg file structure inside.
* wheels differ based on Python flavour you use
like cpython, jython, pypy etc
then there are versions of them
ABI(binary compatibility l

[2018-10-19 00:56] sbespalov commented on #884
@vigneshtdev you can trace this class call stack in you IDE and look REST controllers and Cron Jobs which using it. Then you will be able to find tests.

[2018-10-19 05:29] vigneshtdev commented on #884
@sbespalov  thanks for the reply. I am unable to resolve a dependency issue, which is causing an import failure & I am not able to run the existing test cases.

The import which is failing is <code>import org.carlspring.maven.commons.util.ArtifactUtils;</code>
Package maven is not found.

[2018-10-19 05:33] sbespalov commented on #884
you should use [settings.xml](https://raw.githubusercontent.com/wiki/strongbox/strongbox/resources/maven/settings.xml)

[2018-10-19 05:51] vigneshtdev commented on #884
@sbspalov Thanks, was able to fix it.

[2018-10-19 08:56] carlspring commented on #863
Hi!

Are you experienced with Debian?

[2018-10-19 09:04] CrazyUnderdog commented on #863
Not really, to be honest. I hoped that this issue didn't require much.

[2018-10-19 13:35] ror6ax commented on #811
Warehouse( pypi.org ) api methods are basically new and legacy ones:

https://warehouse.pypa.io/api-reference/json/
https://warehouse.pypa.io/api-reference/legacy/

Legacy in this context is relatively fresh (see http://pyfound.blogspot.com/2018/03/warehouse-all-new-pypi-is-now-in-beta.html), so there is a possibility we still want it done, if you guys feel like it.

JSON methods look like a good

[2018-10-19 15:18] carlspring commented on #807
It seems that we should still call the implementation PyPi layout support, except that we should clarify that it's using Python Wheels.

@ror6ax : What do you think?

[2018-10-20 05:30] CodeJoshCode commented on #885
I'm going in!

[2018-10-21 13:57] bamarch opened #890 "Upgrade Jetty to 9.4.12.v20180830"
Using the current Jetty version of 9.4.6 there is a RuntimeException when starting Jetty, see here https://gist.github.com/bamarch/72bba0d8ca988902b2d7e9fd9bcdd6c4

The issue is related to compatibility with JDK 9 features that are present in some dependency jars.

The solution is to either downgrade the jars or upgrade Jetty (to a version >= 9.4.9).

Relates to:
https://github.com/strongbox/stron

[2018-10-22 22:49] carlspring commented on #890
If things are working properly after our recent Spring Boot migration, perhaps we should close all these similar tasks?

[2018-10-22 22:54] carlspring opened #891 "We need exhaustive integration tests for our cron jobs"
# General Description

We need to improve our integration tests for our implementations of the `CronJob`-s.

The following is a list of tasks that need to be covered:
- [ ] Check that we have no concurrent same name CronJobs execution
- [ ] Check immediate execution
- [ ] Check oneTimeExecution (we shouldn't store oneTimeExecution CronJobs)
- [ ] Check reschedule
- [ ] Check termination
- [ ] Chec

[2018-10-23 00:12] carlspring opened #892 "We need exhaustive Unit Tests for all cases of all Authentication types we have"
# General Description

We need to improve our tests, so that they could cover all possible cases:
- [ ] For all `Authentication` components that we have:
* `AuthenticationSupplier`
* `UserDetailsService`
* `HttpFilters`

- [ ] The tests should check for the proper response codes for all cases of valid and invalid authentication.

The main goal of this task is to not allow code changes to break our

[2018-10-23 00:33] carlspring commented on #859
Done!

[2018-10-23 00:33] #859 closed

[2018-10-23 17:16] bamarch commented on #594
nvm updated docker-compose.yml to use spring boot

[2018-10-23 18:22] bamarch commented on #594
the tests in CronTaskConfigurationControllerTest all pass, and reviewing this class I got a list of the correct relevant paths for uploading groovy scripts, doing the cron configuration etc...

the issue is that I get this error when trying to make this requests to an instance of the application

`| org.springframework.web.servlet.PageNotFound       | No mapping found for HTTP request with URI [/a

[2018-10-23 22:17] fuss86 commented on #594
It looks like `strongbox-cron-rest` is not in the classpath, thanks for spotting this !

Will you be able to add necessary dependency to make it work ?

[2018-10-24 00:30] carlspring commented on #839
@amogozov / @ptirador , it would be interesting to see how things behave once #871 has been merged into the `master`.

@amogozov : Perhaps you might like to try it from the branch and report back?

[2018-10-24 05:11] bamarch commented on #594
Yep I’ll bundle it with the change to remove the outdated readme.md stuff

[2018-10-25 21:50] carlspring opened #895 "Re-structure the Maven layout provider modules"
We need a small refactoring in order to tidy up our Maven layout modules.

The following is required:
- [x] Rename the `strongbox-metadata-maven-api` module to `strongbox-maven-metadata-api`.
- [x] Reflect the above change in all `pom.xml` files that are affected.
- [x] Create a new aggregator called `strongbox-storage-maven-layout` under `strongbox-storage/strongbox-storage-layout-providers`.
- [

[2018-10-25 22:07] ben-dasilva commented on #895
I would be glad to help with these Maven changes, if that's okay.

[2018-10-28 01:00] carlspring opened #897 "Devise test cases that handles the uploading and downloading of large files"
We need to implement test case that handles the uploading and downloading of large files (2 GB).

The files should not be stored on the file system, or in-memory, their contents should be disregarded.

There is a limitation in RestAssured that will have to somehow be addressed, or worked around in order to implement this sort of test.

[2018-10-28 16:49] carlspring commented on #895
This task is now still up for grabs.

[2018-10-28 17:14] #407 closed

[2018-10-28 17:14] #890 closed

[2018-10-28 17:14] #422 closed

[2018-10-29 01:32] carlspring opened #900 "Add a license badge"
We'd like to have a license badge added to the `README.md`.

[2018-10-29 01:34] carlspring commented on #895
Leaving this open due to the wiki pages.

[2018-10-29 01:58] vamvindev commented on #900
Submitted a pull request.

[2018-10-29 02:02] #900 closed

[2018-10-29 22:15] carlspring opened #904 "Remove the example controller, form and associated test"

[2018-10-30 00:15] carlspring opened #907 "Implement tests for the strongbox-web-forms module"
We need to add tests for forms in the `strongbox-web-forms` module. The tests should check if the forms properly handle valid/invalid data.

[2018-10-30 01:12] #904 closed

[2018-10-30 17:14] fuss86 commented on #907
Please follow https://github.com/strongbox/strongbox/wiki/How-To-Implement-Spring-Controllers convention and consider `ExampleControllerTest` as an example.

[2018-10-30 18:59] bamarch commented on #895
👍 I'll do them - but I will be out of action until next week whilst I'm abroad

[2018-10-30 22:17] #535 closed

[2018-11-04 21:16] #803 closed

[2018-11-06 00:50] steve-todorov opened #916 "Write test cases that check if all user interface assets are accessible"
We need to have some tests which check if UI assets are accessible. This should be done by reading the `assets-manifest.json` and doing a `for` loop which goes through all of the assets in the manifest and tries to access them with a request to the defined URL.

The `assets-manifest.json` is available in `strongbox-web-core/target/assets-manifest.json` and will look like so:

[code]

Once you've p

[2018-11-07 04:34] carlspring opened #919 "Upgrade `org.springframework.security:spring-security-ldap` to versions `5.0.9`, `5.1.1`, or higher"
# Overview
This issue has been reported by snyk.io.
[org.springframework.security:spring-security-ldap](https://springframework.org/) provides security services for the Spring IO Platform.

Affected versions of the package are vulnerable to Authentication Bypass.

# Remediation
Upgrade `org.springframework.security:spring-security-ldap` to versions `5.0.9`, `5.1.1`, or higher.

# References
[GitHu

[2018-11-07 11:38] carlspring commented on #916
@goel-sunny , please feel free to take it. Nobody else is working on this at the moment.

[2018-11-08 03:47] carlspring opened #923 "Start publishing our distribution on Github"
- [x] Implement [jutzig/github-release-plugin/issues/28](https://github.com/jutzig/github-release-plugin/issues/28). Opened https://github.com/jutzig/github-release-plugin/pull/38.
- [x] Wait for a release of `de.jutzig:github-release-plugin:1.3.0` to be made.
- [ ] Switch our builds to deploy to Github.
- [ ] Make the necessary changes to our build pipeline.

[2018-11-08 18:46] ptirador opened #925 "Error running integration tests - after migration to JUnit 5"
When command `mvn clean install -Dintegration.tests` is run, the following error appears:

[code]

[2018-11-08 19:00] ptirador opened #927 "Failing test in AqlControllerTest class"
When executing the command `mvn clean install -Dintegration.tests`, the following test is failing (disabled for obvious reasons):

Module: `strongbox-web-core`
Class: `org.carlspring.strongbox.controllers.aql.AqlControllerTest`
Test: `testSearchValidMavenCoordinates`

The error is:
[code]

Remove the `@Disabled` annotation from the test and find out what's happening.

[2018-11-08 19:12] #925 closed

[2018-11-08 19:31] ptirador commented on #919
With the migration to Spring Boot, i think the Spring Security versions cannot be updated specifically. I guess that if Spring Boot is update to last version (2.1.0 now), it will update the rest of dependencies.

According to this [release note](https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.1-Release-Notes), Spring Boot 2.1 builds on and requires Spring Framework 5.1.

[2018-11-08 19:35] carlspring commented on #919
@ptirador ,

Thanks for following up on this! I think we need to wait a newer release that contains the proper version, or maybe even raise an issue with the Spring Boot guys to bump in a newer version...?

[2018-11-08 19:37] carlspring commented on #927
@sbespalov ,

Would you mind having a look at what's going on here?

[2018-11-09 15:30] ptirador commented on #919
@carlspring,

What I meant is that, if we update Spring Boot to `2.1.0`, all Spring Security dependencies will be updated automatically to `5.1.1`. That solves your problem?

[2018-11-09 15:46] ptirador opened #929 "JUnit 5 - Parameterize tests using annotation @ParameterizedTest"
WIth the new migration to JUnit 5, many tests can be now parameterized. The most typical examples are located in `strongbox-web-core` tests:
[code]

This can be parameterized like this:

[code]

List of affected tests classes:

`strongbox-web-core`:

- [x] `ArtifactCoordinateValidatorsManagementControllerTest`
- [ ] `AuthenticatorsConfigControllerTestIT`
- [x] `AuthorizationConfigControllerTestIT`

[2018-11-09 15:58] carlspring commented on #929
Yeah, we could make a list of such tests and improve them.

[2018-11-09 16:19] carlspring commented on #919
I see! I must have misunderstood. Well, let's try upgrading Spring Boot to `2.1.0`, then! :)

[2018-11-09 16:20] ptirador commented on #919
I'll start on it.

[2018-11-09 16:50] ptirador commented on #839
It seems that parallel test execution is availiable as an experimental feature of JUnit 5.3:
[Link](https://junit.org/junit5/docs/snapshot/user-guide/#writing-tests-parallel-execution)

[2018-11-09 21:11] fuss86 commented on #929
This is really great proposal, thank you @ptirador ! Awesome !

👍

[2018-11-09 21:33] fuss86 commented on #927
@ptirador , I believe it was fixed 2 days ago here https://github.com/strongbox/strongbox/pull/920/files Would you mind upgrading your branch to latest master and try again  ?

[2018-11-10 09:53] ptirador commented on #927
@fuss86, I tested it with your fix but it keeps failing...

[2018-11-11 14:05] fuss86 commented on #927
Could you please paste here `  Actual: [...]` value ?

[2018-11-11 18:35] ptirador commented on #927
@fuss86: Value pasted.

[2018-11-11 19:51] ptirador commented on #907
I have a doubt, how I can test custom validators? For example, `UniqueRoleName` is defined in `strongbox-web-forms` module, but its implementation is declared in `strongbox-web-core` module, and I can't add the `strongbox-web-core` dependency in the pom.xml (it would be cyclic).

Code example:

[code]

What can I do? Moving the implementations to `strongbox-web-forms` module?
Please help @sbespalo

[2018-11-11 20:55] carlspring commented on #907
The actual tests should be in the web core.

On Sun, 11 Nov 2018, 19:51 Pablo Tirado <notifications@github.com wrote:

[2018-11-12 10:35] fuss86 opened #931 "MavenArtifactControllerTest proper cleanup"
We need to properly cleanup test resources left.

PR example: https://github.com/strongbox/strongbox/pull/920/files

See also
- `@AfterEach`
- `removeRepositories();`
- `removeRepositories(getRepositoriesToClean());`
along the codebase.

Required for #927

[2018-11-12 10:38] fuss86 commented on #927
@ptirador we need to address #931 first - it is directly related. Are you open to handle it first ?

[2018-11-12 10:42] fuss86 commented on #907
Exactly.

[2018-11-12 13:13] ptirador commented on #927
@fuss86 Sure, I'll handle It.

[2018-11-12 18:29] fuss86 commented on #927
Great, thanks !

[2018-11-12 20:56] bamarch commented on #895
I updated the first two wiki pages - I was not sure how [Maven Metadata](https://github.com/strongbox/strongbox/wiki/Maven-Metadata) would require updating though, maybe you could take a look? ta

[2018-11-13 21:56] carlspring commented on #895
Thanks for updating the links! It's all good! :)

[2018-11-13 21:56] #895 closed

[2018-11-13 23:56] #931 closed

[2018-11-14 22:27] carlspring opened #937 "Upgrade the Jackson dependencies to >= 2.9.7"
Reported by [snyk.io](https://snyk.io/vuln/SNYK-JAVA-COMFASTERXMLJACKSONCORE-72448).

# Overview
[com.fasterxml.jackson.core:jackson-databind](https://github.com/FasterXML/jackson-databind) contains the general-purpose data-binding functionality and tree-model for Jackson Data Processor.

Affected versions of this package are vulnerable to Deserialization of Untrusted Data.An attacker could perfor

[2018-11-16 19:18] steve-todorov opened #940 "Create a custom annotation and validator for the SettingsForm"
Currently, the `SettingsForm` has multiple children forms such as `CorsConfigurationForm`, `SmtpConfigurationForm` and `ProxyConfigurationForm`. Each one of these is annotated with `@Valid` which requires the user to populate the values of each one of these. This is correctly validated. However, in the UI, the user might want to populate only a portion of the full `SettingsForm` and leave the othe

[2018-11-16 21:40] #907 closed

[2018-11-17 23:44] #923 closed

[2018-11-18 00:15] carlspring opened #942 "The EnvironmentInfoController is not producing the proper results for the JVM args"
In the `EnvironmentInfoController`, the JVM args seem to be incorrectly listed -- they are a mixture between JVM args and the system properties which have been specified. You can have a look [here](http://strongbox-snapshot.carlspring.org/admin/environment-info) for an example of what I mean.

[2018-11-20 02:36] giovannottix commented on #937
I would like to contribute here. I've been working on software development for 10 years but I'm new in the Open Souce community. I would appreciate if you could help with a few more details.

Thanks in advance.

[2018-11-20 02:46] carlspring commented on #937
Hi @giovannottix !

I'm afraind @bamarch has already taken this task and submitted #943!

Please, feel free to pick another task! Also, you can join our [chat](http://chat.carlspring.org/) where we hang out and discuss tasks. :)

[2018-11-20 02:48] giovannottix commented on #937
Hi @carlspring
I'll be looking forward to any other issue in which I can contribute.

[2018-11-20 20:16] carlspring commented on #937
@giovannottix ,

If you're looking for tasks you can help with, please message me on our chat channel and we'll come up with something! :)

[2018-11-23 00:06] #919 closed

[2018-11-24 17:04] steve-todorov commented on #916
@goel-sunny apologize, the right path is `./strongbox-web-core/target/classes/assets-manifest.json`

[2018-11-24 17:19] carlspring commented on #916
You don't need to know where it is on the file system really, you'll be testing this with RestAssured.

[2018-11-24 19:03] ptirador opened #944 "Fix failing test in strongbox-web-integration-tests for NuGet Layout Provider"
After the [Spring Boot upgrade to 2.1.0 version](https://github.com/strongbox/strongbox/issues/919) (see pull request #930), the `strongbox-web-integration-tests` module for NuGet Layout Provider is failing. The following error is shown:

[code]

This error is happening at `NugetController#putPackage#extractPackageMultipartStream#writePackagePart `method.

The error, `org.apache.commons.fileupload

[2018-11-24 20:47] carlspring commented on #944
Upgrading `httpclient` to `4.5.6` doesn't seem to help.

[2018-11-24 21:04] carlspring commented on #944
Downgrading `commons-fileupload` to `1.3.2` didn't help either.

[2018-11-24 21:05] carlspring commented on #944
@ptirador : Should we consider reverting the Spring Boot upgrade, until we've been able to figure this out?

[2018-11-24 23:05] steve-todorov commented on #916
@carlspring Actually this file is not exposed via the public, so it's not accessible via http/rest. You need to read it from the filesystem/classpath i.e. with `Resource manifest = new ClassPathResource("assets-manifest.json");`. Afterwards - iterate over the assets to check if they are accessible by doing an actual http request using RestAssured. :)

[2018-11-25 00:14] ptirador commented on #944
Yes, I agree. We can revert it.

[2018-11-26 09:44] sbespalov commented on #944
seems that this issue related with Jetty version which was updated in `spring-boot` v.2.1.0 from **9.4.11* to **9.4.12**.
with new Jetty version it can't read bytes from request stream in `NugetArtifactController.putPackage`, and `ServletRequest.getInputStream()` always read 0 bytes.

[2018-11-26 23:33] #942 closed

[2018-11-26 23:48] carlspring commented on #839
@amogozov ,

Would you like to join in and help out with the refactoring of the tests in these modules?

[2018-11-27 00:43] #937 closed

[2018-11-27 04:01] carlspring opened #947 "Make the strongbox-storage-nuget-layout-provider's tests work in parallel"
# Task Description

The test cases in this module are taking quite a long time, as they're all running consecutively.

With our upgrade of JUnit to JUnit5 (handled by @ptirador in #871), we now have the means to further fine-tune the parallelization of our tests.

* [x] Each test method of each test must now take care of creating its own test resources and not rely on them to be created by a commo

[2018-11-27 04:04] carlspring opened #948 "Make the strongbox-storage-npm-layout-provider's tests work in parallel"
The test cases in this module are taking quite a long time, as they're all running consecutively.

With our upgrade of JUnit to JUnit5 (handled by @ptirador in #871), we now have the means to further fine-tune the parallelization of our tests.

* [ ] Each test method of each test must now take care of creating its own test resources and not rely on them to be created by a common test initializatio

[2018-11-27 04:06] carlspring opened #949 "Make the strongbox-web-core's tests work in parallel"
The test cases in this module are taking quite a long time, as they're all running consecutively.

With our upgrade of JUnit to JUnit5 (handled by @ptirador in #871), we now have the means to further fine-tune the parallelization of our tests.

* [ ] Each test method of each test must now take care of creating its own test resources and not rely on them to be created by a common test initializatio

[2018-11-27 13:10] carlspring opened #950 "Make the strongbox-storage-api's tests work in parallel"
The test cases in this module are taking quite a long time, as they're all running consecutively.

With our upgrade of JUnit to JUnit5 (handled by @ptirador in #871), we now have the means to further fine-tune the parallelization of our tests.

* [x] Each test method of each test must now take care of creating its own test resources and not rely on them to be created by a common test initializatio

[2018-11-29 02:20] #827 closed

[2018-12-02 17:50] ptirador commented on #916
@steve-todorov: Can I take this issue? Or is @goel-sunny still working on it?

[2018-12-02 18:07] carlspring commented on #916
@ptirador: Please, feel free to take it!

[2018-12-02 19:35] #916 closed

[2018-12-03 13:57] steve-todorov commented on #538
This has been fixed [PR-889](https://github.com/strongbox/strongbox/pull/889).

[2018-12-03 13:57] #538 closed

[2018-12-08 00:56] carlspring commented on #949
@ptirador : Would you like to take the part regarding the web form tests?

[2018-12-08 10:47] ptirador commented on #949
@carlspring: Yes, I'll take them. BTW, great work with the test list!

[2018-12-08 22:40] carlspring commented on #949
Thanks! :)

Feel free to pick any other tests, if you want to.

[2018-12-09 16:55] steve-todorov opened #955 "Refactor CronTaskController to use Form Validation and make sure it follows the How-To-Write-Controllers guide"
### Description
Make sure existing `CronTaskController` (located in `org.carlspring.strongbox.cron.controller`) is following the [How-To-Write-Controllers](https://github.com/strongbox/strongbox/wiki/How-To-Implement-Spring-Controllers) guide. Make sure to change the appropriate test cases as well.

### Endpoints:

The existing endpoints need to be changed:

1. `GET /api/configuration/crontasks` -

[2018-12-09 18:46] carlspring opened #956 "Fix the JWT test issues in the SpringSecurityTest"
Tests methods to be re-written in the `SpringSecurityTest`:
* [ ] `testJWTAuth()`
* [ ] `testJWTExpire()`

[2018-12-09 20:36] carlspring commented on #949
@fuss86:

Do we need these tests and are they ever enabled:
* `MavenArtifactIndexControllerTest`
* `MavenSearchControllerTest`

Would you mind reminding me how these worked and whether we disabled them...? (I remember we agreeded to drop the Maven Indexer support, apart from the generation of packed Maven Indexes).

Thanks! :)

[2018-12-10 13:10] kdpapado commented on #956
Hi @carlspring! Could you please explain what's the problem with these test methods?

[2018-12-10 15:01] carlspring commented on #956
Hi, @kdpapado!

Thanks for offering to help! It seems like one of our core developers (@sbespalov) will be taking this one. Would you like to join our [chat](https://chat.carlspring.org/], so that we could discuss some other issues, that you oculd perhaps help out with...?

[2018-12-10 17:19] kdpapado commented on #956
Thank you @carlspring ! Are there open issues available for beginners? I am new in GitHub world and I'm looking for a way to do my first contribution. I 'd prefer to contribute in code (something easy like this issue) for the beginning!

[2018-12-10 17:23] carlspring commented on #956
Yes, there are quite a few. Please, join our chat and we'll discuss it there.

[2018-12-10 23:12] carlspring commented on #843
Thanks, @sbespalov! :)

[2018-12-10 23:12] #843 closed

[2018-12-10 23:19] carlspring commented on #595
Implemented in a better way in #859, where this is solved by using `docker-compose`.

[2018-12-10 23:19] #595 closed

[2018-12-10 23:49] carlspring commented on #498
@sbespalov, I don't think we followed up on this? Does this still need to be implemented?

[2018-12-10 23:49] carlspring commented on #496
@sbespalov : ping?

[2018-12-11 04:51] sbespalov commented on #498
I think we can close it.

[2018-12-11 04:52] sbespalov commented on #496
we can close it

[2018-12-11 19:58] #927 closed

[2018-12-12 22:07] #940 closed

[2018-12-13 22:33] steve-todorov opened #958 "Separate the endpoints for adding and updating storages"
Currently, the `StoragesConfigurationController` is using the same route for both actions and acts does `add or update` based on whether or not the storage exists in the database or not.  We need to have separate endpoints for these actions, because the following issues arise with it:

1. Unable to update an existing storage's `id`
2. Unable to display a `duplication error` to the user when creati

[2018-12-16 01:44] carlspring commented on #949
Issue #957 is required to be resolved for some of the remaining tests to be finished.

[2018-12-16 06:13] hexadecimal16A commented on #958
Hey, I want to work on this.

[2018-12-16 06:18] carlspring commented on #958
Hi!

Okay, feel free to pick it up!

[2018-12-16 10:01] fuss86 commented on #949
`MavenArtifactIndexControllerTest` is disabled by default. You can run it using command:

`mvn test -pl strongbox-web-core -Dtest=MavenArtifactIndexControllerTest -Dmaven.indexer.enabled=true`

or add thise line `<maven.indexer.enabled>true</maven.indexer.enabled>` to the `strongbox-web-core/pom.xml` in the `maven-surefire-plugin` area.

I see it needs some adjustments to work now.

We disabled th

[2018-12-17 01:40] carlspring commented on #949
@fuss86 : Thanks for reminding me about this! I don't think we need to do anything about these tests then.

[2018-12-19 02:24] sbespalov opened #960 "Enable LdapAuthenticatorConfigurationControllerTest.ldapConfigurationTestShouldFailWithWithInvalidManagerDn()"
# Task Description

Currently this test is disabled because the `ManagerDN` doesn't work as expected in unit tests.

What to do:
- Find out how to disable anonymous access for Embedded Open LDAP server configured in `ldapServerApplicationContext.xml`
- Configure proper `ManagerDN` credentials in `strongbox.ldif`

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspri

[2018-12-19 02:30] sbespalov opened #961 "Store Authentication configuration properties changes in File System resource"
We have `AuthenticationResourceManager` which can only read **Authentication** properties resource. Thereafter all properties changes stored only in memory and not stored back into resource.

What need to be done:
1. Method `AuthenticationResourceManager.updateAuthenticationConfigurationResource(Resource r, InputStream is)` should be implemented (note that we don't need to store classpath resource

[2018-12-19 02:31] sbespalov commented on #961
we need to wait https://github.com/strongbox/strongbox/pull/935 merged first.

[2018-12-22 08:39] sbespalov commented on #961
resolved within #935

[2018-12-22 08:39] #961 closed

[2018-12-28 04:27] sbespalov opened #965 "Convert the strongbox configuration files from XML to YAML format"
# Task Description

We would like to convert our configuration files from XML into YAML.

* [x] Re-work the `XmlFileManager` into `YamlFileManager`, so that we could start converting the XML files into YAML. The property names will have to be changed and they'll have to be camel case instead of using hyphens.
* `etc/conf/strongbox.xml`:
  * [x] Convert to `yaml`
  * [ ] Add a page called "The stro