[2019-07-05 09:33] ptirador commented on #1165
Okay, here's what I saw:
In class `MavenArtifactGeneratorStrategy`, we have this:
[code]

`attributesMap` is a `Map<String, Object>` with 8 attributes:

![](http://oi67.tinypic.com/dqfxae.jpg)

Here we can seee that there's no `classifiers` key. If we trace back to see how `attributesMap` is filled, we arrive to `ArtifactManagementTestExecutionListener`class, where we can see this code:
[code]

I

[2019-07-05 09:34] sbespalov commented on #1165
yeah, this seems like a bug
I will have a look tomorrow

[2019-07-05 09:36] ptirador commented on #1165
Okay, thanks @sbespalov :)

[2019-07-05 09:36] sbespalov commented on #1165
@ptirador as a workaround you can try use it with shortcut annotations. Please have a look at `ArtifactMetadataServiceSnapshotsTest.MavenArtifactWithClassifiers`

[2019-07-05 20:50] adavid9 commented on #1368
@fuss86 Hi Przemyslaw, I can start to work on that one ;)

[2019-07-05 20:54] carlspring commented on #1368
Welcome back, @adavid9 ! Feel free to dig into it!

[2019-07-06 14:10] LSariel commented on #1185
Could I give this a go? :)

[2019-07-06 16:37] carlspring commented on #1185
Hi @LSariel ,

Feel free to pick it up. Is it clear what needs to be done? Would you like to join
our [chat channel](https://chat.carlspring.org/)?

[2019-07-07 09:49] LSariel commented on #1185
Thank you! :)
I'm not 100% sure that I know exactly what should be done, but I'll take a closer look at it after work to make it clearer.

[2019-07-07 11:31] fuss86 commented on #1120
I've raised https://github.com/orientechnologies/orientdb/issues/8947

Looks like a bug in the orientDb cascade updates.

@carlspring , @steve-todorov , @sbespalov , please, vote up :)

[2019-07-08 09:17] sbespalov commented on #1165
@ptirador @carlspring I've fixed the `classifiers` attribute:
https://github.com/strongbox/strongbox/pull/1372

[2019-07-08 10:00] carlspring commented on #1165
Thanks! I've merged it into the `master`.

[2019-07-08 13:36] vikss commented on #1323
I will take it back.

[2019-07-08 23:28] carlspring commented on #1323
Okay! Don't give up! :)

[2019-07-09 01:49] sbespalov opened #1373 "OrientDBJobStore for Quartz"
To make cron tasks works in a distributed environment, we need to implement custom `org.quartz.spi.JobStore` to work with OrientDB persistence.

There is [quartz-orientdb](https://github.com/smartspaces-io/quartz-orientdb) which can be taken as an example.

What need to be done:
1. Provide `OrientDBJobStore` and related classes under `org.carlspring.strongbox.cron.quartz` package.
2. Make `CronTas

[2019-07-09 02:02] sbespalov opened #1374 "Enable console logging for `./bin/strongbox console`"
There is [STRONGBOX_LOG_CONSOLE_ENABLED](https://strongbox.github.io/user-guide/application-properties.html#strongbox_log_console_enabled) environment property which is disabled by default within Strongbox Distribution. This works fine  when application started as background process with `./bin/strongbox start`, so there is no redundant console logs appears in `wrapper-*.log` files. The problem is

[2019-07-09 03:07] sbespalov opened #1375 "Prohibition to modify system roles"
There is `SystemRole` enum, which contains predefined system role names, some of the system roles should not be allowed to modify by the users.

Every role which assumed to be "static" should have calculated hash value, which will be compared with actual role hash on every `strongbox-authorization.yaml` update

What need to be done:
1. Add the optional `SystemRole.hash` field of `Integer` type
2.

[2019-07-09 11:20] pyashwanthkumar commented on #1165
@carlspring / @sbespalov

I would also like to pick up other test cases while I am working on my previous ones. The one that I am looking at right now is this test case "MavenGroupIdLowercaseValidatorTest". In this test, do we want to replace instantiation of MavenArtifactCoordinates and place this inside the test case(after inserting test annotations) or am I looking at it wrong?

[2019-07-09 16:17] #1143 closed

[2019-07-09 16:19] carlspring commented on #1165
@pyashwanthkumar : Have a look at some of the associated pull requests for examples of what needs to be done.

[2019-07-09 18:01] priyanka-tyagi commented on #1328
@carlspring could I work on this issue?

[2019-07-10 01:04] sbespalov commented on #1335
@fuss86 @carlspring this property probably better to be placed in `strongbox.yaml` as all storages and repositories configurations are there.

[2019-07-10 07:16] carlspring commented on #1335
You are absolutely right, @sbespalov. I hadn't realized the description was wrong. I've corrected it now.

[2019-07-10 09:51] ptirador commented on #1165
@pyashwanthkumar: Take a look at this [commit](https://github.com/strongbox/strongbox/pull/1370/commits/5de2a325078c599aa16534e0ebe6de33c91270c9) I just did.

[2019-07-10 18:35] fuss86 commented on #1335
@sbespalov yeah, since it is going to be set per repository, it's better to be placed there, thanks 👍

[2019-07-10 21:42] fuss86 commented on #1299
Hi  @ptirador , what's the status of this task ?

[2019-07-11 07:06] priyanka-tyagi commented on #1328
I am picking up this issue. 😀

[2019-07-11 07:32] sbespalov opened #1376 "Implement `Repository.private=true|false` attribute"
Currently anonymous user have `ARTIFACTS_RESOLVE` role, so all such users can download artifacts from all repositories. From other side it will be not comfortable to drop global `ARTIFACTS_RESOLVE` from `ANONYMOUS_ROLE` and manually configure access per repository for authorized and anonymous users.

The solution is to make possible dynamically assign `ARTIFACTS_RESOLVE` privilege for `/storages`

[2019-07-11 07:59] sbespalov opened #1377 "Make StoragesConfigurationController follow the HATEOAS concept"
We need to provide allowed Storage and Repository authorities within the `StoragesConfigurationController` with **HATEOAS** following the [Building a Hypermedia-Driven RESTful Web Service](https://spring.io/guides/gs/rest-hateoas/) Spring Boot guide.

[2019-07-11 10:11] ptirador commented on #1299
HI @fuss86, I haven't had time to look at it... I release it so that anyone can take it up.

[2019-07-11 12:54] carlspring commented on #1328
Hi!

@VishwajeetNehra : Sorry, I seem to have missed your comments.

@priyanka-tyagi : Please, feel free to pick this up!

This should be a quick and easy task. If you guys are looking for more tasks, please feel free to pick up tests in #1165 and #1327.

[2019-07-12 02:40] sbespalov commented on #1377
@steve-todorov can you please verify this issue from the point of UI?

[2019-07-12 15:49] adavid9 commented on #1204
@carlspring I am using Mac OS and without any issues I am able to compile the project and run `mvn clean install`

[2019-07-12 15:51] steve-todorov commented on #1377
I've added an `on hold` label, because I have a few others before I can get to this. We should think it through very carefully.

[2019-07-12 16:58] steve-todorov commented on #1204
Thanks for reporting things are working @adavid9! It looks like this issue is appearing only for **some** MacOS users and not all of them.

[2019-07-12 18:43] #1368 closed

[2019-07-12 20:13] fuss86 commented on #1202
@cbrianhill did you give up ?  :)

[2019-07-13 16:28] steve-todorov opened #1379 "Make sure to set the iat property when issuing JWT"
# Task Description

We need to add the `iat` property when we issue JWT. This property stands for "Issued At" and contains the starting date and time from which the generated token is valid. This should be added in the [SecurityTokenProvider](https://github.com/strongbox/strongbox/blob/master/strongbox-security/strongbox-user-management/src/main/java/org/carlspring/strongbox/users/security/Securit

[2019-07-13 18:46] Twb3 commented on #1379
Hey I attempted to tackle this and didn't post here first because it's my first contribution to an open source project.  Wasn't sure if I could get it done, but it was pretty straightforward.  Looking forward to feedback.

[2019-07-13 20:42] Twb3 commented on #1289
This is probably related to the running user's ulimit of maximum number of open file descriptors.  You can check it with ulimit -n

[2019-07-13 21:56] #1358 closed

[2019-07-14 00:51] steve-todorov opened #1383 "Adding a repository fails because of null proxyConfiguration object"
# Bug Description

`Cannot read property 'hasData' of null` is being thrown when adding a repository from the UI because the object transformation sometimes returns `null`.

# Steps To Reproduce

Add a repository from the UI.

# Expected Behavior

Successful response.

# Environment

* Strongbox Version: 1.0-SNAPSHOT(b645f65bff8b3496)
* Browser (if related to UI): any browser

[2019-07-14 01:41] #1383 closed

[2019-07-16 04:06] vikss commented on #1323
All,

I cannot find the time to work on it right now. Feel free to grab it. If it's open, I will try to catch it in the next 2 weeks.

[2019-07-16 10:10] carlspring commented on #1323
This has already been handled by @ptirador as part of #1370  for #1165 .

[2019-07-16 10:10] #1323 closed

[2019-07-16 10:13] carlspring commented on #1205
This is still using things like `createTimestampedSnapshotArtifact(,,,)`. We have annotations for this in place, right @ptirador? I think this still requires some more work.

@ptirador : Would you like to look into this?

[2019-07-16 10:20] carlspring commented on #1032
Thanks for double-checking, @LeifBrooks (and sorry for the late reply) ! :)

[2019-07-16 10:20] #1032 closed

[2019-07-16 10:22] carlspring commented on #598
@fuss86 / @adavid9  @ptirador : Is this now obsolete with the migration to Spring Boot and YAML-based configuration? Is it configurable now? If not, perhaps we should update the description...?

[2019-07-16 10:25] carlspring commented on #573
@fuss86 / @sbespalov : I assume this is now obsolete, right?

[2019-07-16 10:27] fuss86 commented on #573
Why so ? :) We will still provide packaged index to download, right ?

[2019-07-16 10:30] carlspring commented on #573
Ah, you're right!

[2019-07-16 10:58] fuss86 commented on #598
@carlspring in my opinion we have proper property `server.port` in `application.yaml` but we should get rid of `configuration.port` from `strongbox.yaml`

[2019-07-16 12:13] carlspring commented on #598
I agree. This should be a simple task now. This should be configurable through the REST API and UI.

@adavid9 : When implementing the Spring Boot support did you do any work related to this?

[2019-07-16 12:14] ptirador commented on #1205
Sure! Let me look at it.

[2019-07-16 12:30] adavid9 commented on #598
@carlspring Hi, I am not sure about which issue you're talking about if you could remind me it, but I am totally agree with @fuss86 If we use the `server.port` in the `application.yaml` the `configuration.port` is useless.

[2019-07-16 13:06] carlspring commented on #1205
Thanks a lot, @ptirador !

[2019-07-16 13:09] carlspring commented on #598
The configuration controller will need to be changed to use the correct property now and we should drop the old property. This might affect the `strongbox-web-integration-tests`, although it's highly unlikely.

@adavid9 : Would you like to look into this?

[2019-07-16 13:20] adavid9 commented on #598
@carlspring Yes I can do it.

[2019-07-16 13:24] carlspring commented on #598
Great! Thanks! :)

[2019-07-16 13:33] fuss86 commented on #598
@carlspring, currently Spring Boot uses `server.port` from `application.yaml` which is embedded in the `jar` file, you can't make it

unless we will decide to use external `application.yaml` file or read the port from other external file where we are allowed to write. You can't write to the configuration file embedded in `jar` package.

[2019-07-16 13:36] fuss86 commented on #598
https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html

[2019-07-16 15:15] adavid9 commented on #598
@fuss86 What do you propose, should we leave it for now until we will decide to use the external `application.yaml` file?

[2019-07-16 22:49] carlspring commented on #598
@strongbox/core-developers , @adavid9 , @ptirador ,

I think that we need to re-work things, so that:
* [ ] When we package the `strongbox-distribution`, it's in such a way that the `application.yaml` file ends up in the `etc/conf` directory inside the distribution
* [ ] The `StrongboxConfigurationController` (?) can modify this value.
* [ ] This is configurable via the UI.
* [ ] Clearly, changing

[2019-07-17 01:48] steve-todorov commented on #598
This task will open up other issues like the environment variables need to be taken into account so that they take precedence over the configuration files.

We should probably come back to this task later.

[2019-07-17 20:51] bamarch commented on #1252
it's looking good on jenkins (Y)

[2019-07-17 21:21] #1252 closed

[2019-07-19 11:31] juanmanuelromeraferrio commented on #950
Hi, I would like to work on this.

[2019-07-19 11:45] carlspring commented on #950
@juanmanuelromeraferrio ,

I would suggest having a look at the work in #1165 and possibly helping out there first. Thanks! :)

[2019-07-21 19:04] cbrianhill commented on #1202
@fuss86 , @carlspring , no, not given up, but haven't had much time to contribute in the past couple of months.  I want to jump back onto this if no one else has picked it up.

[2019-07-21 19:08] fuss86 commented on #1202
Thanks @cbrianhill , but unfortunately I picked it up https://github.com/strongbox/strongbox/pull/702

Please look around and choose another one :)

[2019-07-21 19:13] cbrianhill commented on #1202
👍 thanks @fuss86 , will grab another issue!

[2019-07-21 20:31] ptirador commented on #1165
@Gcolon021 @yugander-krishan-singh @pyashwanthkumar @SergeyHydra
Are any of hoy still working on this?

[2019-07-21 20:35] pyashwanthkumar commented on #1165
@ptirador yes, I am still working on MavenGroupIdLowercaseValidatorTest and MavenProxyRepositoryProviderTestIT :)

[2019-07-21 20:35] carlspring commented on #1165
@ptirador : There's a PR for one of the tests in #1360.

I've removed @Gcolon021 and @SergeyHydra from the list of tests, as they're not working on them.

[2019-07-22 06:04] SergeyHydra commented on #1165
Hm, hi! I'm still working on test.

[2019-07-22 10:43] carlspring commented on #1165
Ah, okay, sorry, @SergeyHydra ! Which one was it?

[2019-07-22 10:44] ptirador commented on #1165
I've already added it @carlspring  ;)
It was `BaseMavenIndexGroupRepositoryComponentTest`.

[2019-07-22 17:47] #1379 closed

[2019-07-22 18:40] steve-todorov opened #1389 "Investigate and fix MavenGroupRepositoryProviderTest random failures"
# Task Description

We need to investigate and resolve why the `org.carlspring.strongbox.providers.repository.MavenGroupRepositoryProviderTest.testGroupIncludesWildcardRule` test case is failing randomly (mostly under Windows, but sometimes in Linux as well).

The exception is:

[code]

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @fuss86
  * @sbespal

[2019-07-23 14:37] carlspring opened #1390 "Upgrade to Jackson >= 2.9.9.1"
# Task Description

[CVE-2019-12814](https://nvd.nist.gov/vuln/detail/CVE-2019-12814)
(moderate severity)
*Vulnerable versions:* >= `2.0.0`, < `2.9.9.1`
*Patched version:* `2.9.9.1`

A Polymorphic Typing issue was discovered in FasterXML `jackson-databind` `2.x` through `2.9.9`. When Default Typing is enabled (either globally or for a specific property) for an externally exposed JSON endpoint and

[2019-07-23 16:18] SergeyHydra commented on #1165
Wow! So what are left undone?

[2019-07-23 16:22] carlspring commented on #1165
Well, the ones that have @ptirador 's name against them, but are not ticked, are already things he's either done in his latest pull request, or will include in it.

Have a look for any remaining ones, or ping us on the channel for new tasks. There's plenty more tasks to be done! :)

[2019-07-23 17:10] carlspring commented on #1342
@Firstmol ,

What's the status of this task? If it's not yet implemented, would you like to walk @SergeyHydra through what needs to be done and either pair up, or guide him? Thanks! :)

[2019-07-25 11:24] carlspring opened #1392 "Make the Hazelcast settings configurable"
# Task Description

Currently, the Hazelcast configuration is hard-coded in the `org.carlspring.strongbox.config.hazelcast.HazelcastConfiguration`. We need to be able to configure this via the `application.yaml` instead.

# Tasks

The following tasks will need to be carried out:
* [ ] Make the Hazelcast settings configurable via the `application.yaml`.
* [ ] ~~Make the Hazelcast settings configura

[2019-07-25 11:28] carlspring opened #1393 "Make the OrientDB settings configurable"
# Task Description

At the moment, the OrientDB configuration is stored in three different `properties` files, based on the Spring profile to be used:
* `orientdb_EMBEDDED.properties`
* `orientdb_MEMORY.properties`
* `orientdb_REMOTE.properties`

We need to be able to configure this via the `strongbox.yaml` instead and to drop the `properties` files.

# Tasks

The following tasks will need to be c

[2019-07-26 02:02] cbrianhill commented on #1392
Starting work on this.  I notice that `HazelcastConfiguration.artifactEntryCacheConfig()` appears to be unused.  Should we retain this and hook it up to a cache?  Or should it be cleaned up?

[2019-07-26 14:42] carlspring commented on #1165
@pyashwanthkumar,

Are you currently still working on:
* `org.carlspring.strongbox.storage.validation.groupid.MavenGroupIdLowercaseValidatorTest `
* `org.carlspring.strongbox.providers.repository.MavenProxyRepositoryProviderTestIT`

If you're not, then perhaps @ptirador could have a look at them as well and we can wrap this up?

[2019-07-26 14:47] pyashwanthkumar commented on #1165
@carlspring I finished working on org.carlspring.strongbox.storage.validation.groupid.MavenGroupIdLowercaseValidatorTest.

I am almost done with org.carlspring.strongbox.providers.repository.MavenProxyRepositoryProviderTestIT.

If I am unable to finish it by the end of day Saturday, I will pass this on to @ptirador.

[2019-07-26 17:04] carlspring commented on #1165
Thanks! Take your time! :)

Just checking...

[2019-07-27 01:04] carlspring opened #1394 "Implement UI for"
# Task Description

We need to implement a UI for the logging functionality.

# Tasks

The following tasks will need to be carried out:
* [ ] Implement UI for the logging configuration
  * [ ] Make it possible to add a logger for a new package
  * [ ] Make it possible to update a logger for an existing package
  * [ ] Make it possible to delete a logger for an existing package
* [ ] Log file opera

[2019-07-27 01:21] carlspring opened #1395 "Implement UI for the cron tasks"
# Task Description

We need to implement a UI for the cron tasks.

# Tasks

The following tasks will need to be carried out:
* [ ] Implement UI for the configuration of cron tasks
  * [ ] Make it possible to add a new cron task
  * [ ] Make it possible to update an existing cron task
  * [ ] Make it possible to delete an existing cron task
* [ ] Filtering
* [ ] Cron task operations:
  * [ ] Browse

[2019-07-27 01:40] carlspring opened #1396 "Implement UI for the LDAP configuration"
# Task Description

We need to implement a UI for the LDAP configuration.

# Tasks

The following tasks will need to be carried out:
* [ ] Enable/Disable LDAP configuration
* [ ] Configure LDAP settings
* [ ] Test LDAP configuration

# Useful Information

**Classes of Interest**

* `org.carlspring.strongbox.controllers.configuration.security.ldap.LdapAuthenticatorConfigurationController`

# Useful

[2019-07-27 21:31] steve-todorov commented on #1173
Sorry for the late reply on this.

I agree with you - we should create a new object type which has the `storageId` and `repositoryId` fields. This should then be used across Strongbox in that format and we should **always** have both fields.

Another place where this is being used is the `Routing` and specially the `Repositories` part which holds the list of accepted/denied repositories.

Changes

[2019-07-28 11:28] carlspring opened #1397 "Implement partial downloads with multiple byte ranges"
# Task Description

At the moment, we only support single byte ranges. This means we only support resuming a download from a certain byte that was reached when the connection was terminated. We should add support for multiple byte ranges.

# Tasks

The following tasks will need to be carried out:
* [x] Implement the support for multiple byte ranges
* [x] Add tests

# Useful Classes

* `org.carlspr

[2019-07-28 17:12] carlspring opened #1398 "Implement strict checksum validation for proxy repositories resolving from remotes"
# Task Description

We need to implement checksum validation for artifacts that are being resolved via repositories in Strongbox.

Each layout provider exposes a list of checksum formats that it supports. The artifact files in the remote will (typically) have these checksums available, unless the remote is configured to not have them, or unless they have been uploaded in a non-standard way (for ex

[2019-07-28 20:36] carlspring opened #1399 "Add a generic end-point for copying repository paths in the StoragesConfigurationController"
# Task Description

We need to create an end-points for `copying` repository paths. The code should be located in the `StoragesConfigurationController` class and a separate form class should be created so that it is able to handle the `JSON` below. Be sure to check our [How to write Spring Controllers guide](https://github.com/strongbox/strongbox/wiki/How-To-Implement-Spring-Controllers) to see ho

[2019-07-28 20:37] carlspring opened #1400 "Add a generic end-point for moving repository paths in the StoragesConfigurationController"
# Task Description

We need to create an end-points for moving repository paths. The code should be located in the `StoragesConfigurationController` class and a separate form class should be created so that it is able to handle the `JSON` below. Be sure to check our [How to write Spring Controllers guide](https://github.com/strongbox/strongbox/wiki/How-To-Implement-Spring-Controllers) to see how w

[2019-07-28 20:37] carlspring opened #1401 "Add a generic end-point for deleting repository paths in the StoragesConfigurationController"
# Task Description

We need to create an end-points for moving repository paths. The code should be located in the `StoragesConfigurationController` class and a separate form class should be created so that it is able to handle the `JSON` below. Be sure to check our [How to write Spring Controllers guide](https://github.com/strongbox/strongbox/wiki/How-To-Implement-Spring-Controllers) to see how w

[2019-07-29 01:10] sbespalov commented on #1392
@cbrianhill I think we can drop it

[2019-07-29 01:13] sbespalov commented on #1393
@carlspring there is something we need to discuss regarding this task, so it's better hold a little

[2019-07-29 02:30] sbespalov commented on #1398
I think `409 Conflict` will suit better in case of checksum validation failed, so it will be treated as checksums conflict. Also it will not affect on UI unlike `403`, which means the security restrictions for us at most cases.

Also we should have same issue for hosted repositories. Currently we already have `ChecksumCacheManager` which is used for uploaded artifacts checksum validation, but ther

[2019-07-29 03:04] sbespalov commented on #1399
@carlspring for **Maven** we already have `MavenArtifactController.copy` which seems implemented, so we should move it into  `StoragesConfigurationController`?

[2019-07-29 04:08] SergeyHydra commented on #1373
Hi! I want to try do this issue. @carlspring can you submit it to me?

[2019-07-29 07:31] carlspring commented on #1373
Great!! Sure!
Feel free to proceed!

[2019-07-29 20:49] fuss86 commented on #1335
@TylerHaze are you still working on this task ?

[2019-07-29 21:07] fuss86 opened #1404 "Make the initial maven index related cron jobs cronExpressions configurable"
# Task Description
When new maven repository is created (including initial strongbox startup with pre-configured repositories) and its indexing is enabled one of the following cron jobs [RebuildMavenIndexesCronJob](https://github.com/strongbox/strongbox/blob/master/strongbox-storage/strongbox-storage-layout-providers/strongbox-storage-maven-layout/strongbox-storage-maven-layout-provider/src/main/j

[2019-07-29 21:42] fuss86 commented on #1398
I don't think we have it, @carlspring .

I think it's good option too.

[2019-07-29 22:19] steve-todorov commented on #1398
We can't use `403` for sure because as @sbespalov mentioned it would cause issues in the UI would be misleading to the user.

It looks like the only sane status code would be `409` :+1:  :)

[2019-07-29 22:44] carlspring commented on #1398
@fuss86 :

We actually support this via the [`AbstractLayoutProvider.getDigestAlgorithmSet()`](https://github.com/strongbox/strongbox/blob/master/strongbox-storage/strongbox-storage-api/src/main/java/org/carlspring/strongbox/providers/layout/AbstractLayoutProvider.java#L75). (Thanks, @sbespalov!).

I've updated the description. Thanks!
:)

[2019-07-30 01:08] #1389 closed

[2019-07-30 14:21] mahendraramesh commented on #1390
@carlspring Please let me know if i can help with this ticket. I can update the pom files for both strongbox-parent and strongbox-proto-parent.

[2019-07-30 22:57] carlspring commented on #1399
@sbespalov ,

This will probably cover things for most layout providers. Somebody needs to look into it and just refactor things. It's quite possible that the layout providers will also need to do some additional tasks like make sure there is an `ArtifactEntry` properly added to the database and possibly some addtional things.

[2019-07-31 02:20] sbespalov opened #1407 "Make the `ConfigurationResourceResolver` use the Spring environment properties instead of System properties"
# Task Description
Currently the `ConfigurationResourceResolver` uses `System.getProperty` to get the configuration files location. Within this task the `ConfigurationResourceResolver` should be reworked to resolve the configuration files locations from `Environment.getProperty()`.

# Task Relationships

This task:
* Relates to: SB-1286

[2019-07-31 12:46] steve-todorov opened #1409 "Move the `wrapper.conf` file into `etc` instead of `etc/conf`"
# Task Description

We need to move the `wrapper.conf` file for `strongbox-distribution` under `etc` instead of `etc/conf`. This is necessary mainly for the `docker` images, because when the `wrapper.java.classpath.*` change (or any other configuration) - you would need to manually apply the in your mounted `etc/conf` directory as well which makes it impossible to create build jobs to automaticall

[2019-07-31 18:32] #1409 closed

[2019-07-31 21:46] fuss86 opened #1411 "Storage creation via API does not create storage directory"
# Bug Description

Storage creation via API does not create storage directory

# Steps To Reproduce

1. Go to http://localhost:48080/admin/storages
2. Create new storage
3. Check strongbox-vault/storages directory

# Expected Behavior

Storage directory should be created

# Environment

* Strongbox Version:

version | "1.0-SNAPSHOT"
-- | --
revision | "faff6d6e5ea5120e"

[2019-07-31 21:57] fuss86 commented on #1411
related to issue #1129 and PR #1159

[2019-07-31 21:59] fuss86 commented on #1411
@carlspring , what do you think ?

@steve-todorov please add some comments

[2019-07-31 22:14] steve-todorov commented on #1411
This is a **critical** issue which seems to be re-occurring every so often (usually due to changes in the code or refactoring). I haven't gone very deep into the code, but however we chose to fix this issue - **it is imperative to have the highest test coverage** possible so that we **avoid** breaking it by accident after the next refactoring.

What I've noticed (and @fuss86 as well) is that when

[2019-08-01 03:20] cbrianhill commented on #1392
@carlspring , @sbespalov and @fuss86 , I have built most of the config file support to host the Hazelcast configurable parameters.  In wiring everything up, I've discovered some Maven dependency issues between modules and I wanted to ask before making any structural changes.  The Hazelcast instantiation lives in `strongbox-data-service`, as Hazelcast is needed in tandem with OrientDB.  But most of

[2019-08-01 03:23] sbespalov opened #1412 "Expose logging configuration properties for s-w-i-t"
# Task Description
Currently there is no way to enable debug logging for s-w-i-t.

# Tasks

The following tasks will need to be carried out:
* [x] Expose `logging.debug` property as `STRONGBOX_DEBUG` environment variable
* [x] Expose `logging.console.enabled` property as `STRONGBOX_LOG_CONSOLE_ENABLED` environment variable
* [x] Expose `logging.file.enabled` property as `STRONGBOX_LOG_FILE_ENABLED

[2019-08-01 03:29] sbespalov commented on #1392
@cbrianhill it seems not really clear what is the problem you have with modules. As I see you need to use `@Value` annotation instead of hard-coded values within current Hazelcast configurations.

[2019-08-01 11:53] steve-todorov commented on #1412
@sbespalov I was thinking that we should probably add a warning comments over these environment variables both in `strongbox/strongbox` and `strongbox/strongbox-web-integraion-tests`. The comment should mention that changing these will require changes in the opposite project and the pipeline code. If we ever decide to change this - it will for sure break everything down the line so it would be goo

[2019-08-01 12:17] carlspring commented on #1392
@cbrianhill :

I'm afraid I didn't get the problem as well. Would you mind re-phrasing your questions/problem? Thanks! :)

[2019-08-01 22:40] steve-todorov opened #1413 "Creating storages/repositories results in various exceptions due to wrong STRONGBOX_VAULT"
# Bug Description

When you navigate to the UI and try to create a storage which has no `basedir` and then create a `repository` in that storage. Having an empty `basedir` means that underneath the code should be falling back to `$STRONGBOX_VAULT`. However it does not.

Depending on the environment in which you're running Strongbox, the above steps will either fail or not (i.e. if you're in a dock

[2019-08-02 03:00] cbrianhill commented on #1392
Hi,

I've added config attributes in `strongbox.yaml` for Hazelcast, and also added the config attributes in `Configuration` / `MutableConfiguration` and similar classes.  I think what I'm not clear on is how properties defiend in `strongbox.yaml` make it into a PropertySource so that they can be used in `@Value` annotations.  All the `@Value` annotations I can find the code are referring to prope

[2019-08-02 03:15] sbespalov commented on #1392
@cbrianhill thanks for clarification, seems I understand now

@carlspring do you mind if we will put this properties in `application.yaml` instead of `strongbox.yaml`?
we already have logging configuration properties in `application.yaml` and I think the hazelcast caches configuration would be fine to place there as well. This will also resolve the issue that @cbrianhill meet regarding `strongbox.

[2019-08-02 03:17] carlspring commented on #1392
That perfectly fine and it is indeed a better place! Thanks for clarifying!

[2019-08-02 03:22] cbrianhill commented on #1392
I can certainly do that.  Will we still create configuration UI for these properties?  It seems like all of the properties currently in the configuration UI are persisted in `strongbox.yaml`.

[2019-08-02 03:31] sbespalov commented on #1392
I am not sure is there a reason to have this properties configurable with UI because applying changes will require application restart.

[2019-08-02 03:55] sbespalov commented on #1392
BTW, we probably should improve our documentation and provide some clarifications of what properties should be placed within what configuration file.

@carlspring @cbrianhill what do you think?

[2019-08-02 11:21] cbrianhill commented on #1392
That detail is where I got stuck.  I think it would be technically possible to make `strongbox.yaml` a PropertySource, but it seems as if Hazelcast is needed for OrientDB, and it doesn't look like we have yet implemented a full restart functionality.

I can wire this up to `application.yaml` instead so that the usual Spring Boot config mechanisms will work.  Should we also add it to the config for

[2019-08-02 11:39] pyashwanthkumar commented on #1397
I will pick up this issue

[2019-08-02 16:02] carlspring commented on #1397
Okay, good luck!

[2019-08-03 08:21] ptirador commented on #1328
Hi! I'd like to pick this up.

[2019-08-03 08:38] carlspring commented on #1328
Great! Thank you!

[2019-08-03 12:36] LSariel commented on #1185
Hi! I just wanted to update that I'm starting to work on this now. I suddenly got ill, but am fine now. :)

[2019-08-03 12:41] carlspring commented on #1185
Hi!
Okay! Good luck!

[2019-08-04 23:14] #1413 closed

[2019-08-04 23:23] steve-todorov opened #1418 "Deployed artifacts with curl do not appear when browsing"
# Bug Description

When you create a new storage, raw repository and then deploy an artifact it does not appear in the directory listing / browsing. If, however, you deploy the same artifact to `storage-raw/raw-releases` it'll work just fine.

# Steps To Reproduce

* `mvn clean install -DskipTests`
* `cd strongbox-web-core`
* `mvn spring-boot:run`
* Go to `http://localhost:48080/admin/storages`
*

[2019-08-04 23:24] steve-todorov commented on #1418
@sbespalov I'm guessing this issue is probably related to some  `ArtifactEntry` records not being added?

[2019-08-05 01:09] sbespalov commented on #1418
@steve-todorov I will have a look

[2019-08-05 20:51] adithyaChander commented on #1401
Hey, can I give this a try ?

[2019-08-05 20:55] carlspring commented on #1401
Sure, feel free to give it a go!

[2019-08-05 20:57] adithyaChander commented on #1401
Thanks

[2019-08-06 00:03] steve-todorov opened #1420 "Create a boot splash screen"
# Task Description

When Strongbox is started for the first time (or any other time) it takes a while for it to fully boot and start accepting requests. Depending on the machine this could be anywhere between 30 seconds to a few minutes (on a new installation). During this time the only thing the user sees is `connection refused` which is not very helpful or user friendly.

We need to create a boo

[2019-08-06 23:25] #1412 closed

[2019-08-07 09:40] carlspring commented on #1165
A massive thank you to everybody who helped with this extremely large refactoring!

[2019-08-07 12:06] #1165 closed

[2019-08-07 12:40] steve-todorov commented on #1165
Thanks guys! This was a huge task indeed and we deeply appreciate all of your efforts and contributions! :)

[2019-08-07 13:29] steve-todorov commented on #1401
@adithyaChander FYI - I've slightly updated the task description with some more details regarding what needs to be done. :)

[2019-08-08 08:20] sbespalov commented on #1418
@steve-todorov the issue is that you probably need to enable "Directory Browsing" for repository.

![image](https://user-images.githubusercontent.com/22783811/62687012-15c48100-b9f0-11e9-952e-8c87cc6e710b.png)

[2019-08-08 10:27] ptirador opened #1423 "Investigate and fix failure in NpmArtifactControllerTest.testViewPackage"
# Task Description

We need to investigate and resolve why the `org.carlspring.strongbox.controllers.layout.npm.NpmArtifactControllerTest.testViewPackage` test case is failing (under Windows and Linux).

The exception is:
[code]

# Task Relationships

This task:
* Relates to: #1328.

# Useful Links

* [Pull Request: Issue-1328: Migrate the NPM layout provider tests to use the new annotations](http

[2019-08-08 10:28] ptirador commented on #1423
Issue set on hold till this [PR](https://github.com/strongbox/strongbox/pull/1416) is merged.

[2019-08-08 10:38] ptirador opened #1424 "Investigate and fix failure in NugetArtifactControllerTest.testLastVersionPackageSearch"
# Task Description

We need to investigate and resolve why the `org.carlspring.strongbox.controllers.layout.nuget.NugetArtifactControllerTest.testLastVersionPackageSearch` test case is failing (mostly under Linux).

The exception is:
[code]

In my local environment it works correctly.

# Task Relationships

This task:
* Relates to: #1327

# Useful Links

* [Pull Request: Issue-1327: Migrate the Nu

[2019-08-08 10:39] ptirador commented on #1424
Issue set on hold till this [PR](https://github.com/strongbox/strongbox/pull/1405) is merged.

[2019-08-08 12:15] #1328 closed

[2019-08-08 15:28] ptirador commented on #992
@carlspring: This issue can be closed.

[2019-08-08 15:43] carlspring commented on #992
Thanks! :)

[2019-08-08 15:43] #992 closed

[2019-08-08 17:56] ptirador commented on #950
Hi, I'd like to pick this up.

[2019-08-08 17:59] carlspring commented on #950
Great! Go for it! :)

[2019-08-09 11:12] ptirador commented on #948
@carlspring : Currently there are 3 tests in this module:

`org.carlspring.strongbox.artifact.coordinates.NpmArtifactCoordinatesTest`
`org.carlspring.strongbox.cron.jobs.FetchChangesFeedCronJobTestIT`
`org.carlspring.strongbox.dependency.snippet.NpmDependencyFormatterTest`

All of them have an `@Execution(CONCURRENT)` annotation, and they're all working.
Should we mark this as done?

[2019-08-09 11:16] ptirador commented on #947
HI, I'd like to work on this.

[2019-08-09 12:21] carlspring commented on #948
In the junit properties file, is the setting for parallel tests enabled?

[2019-08-09 12:23] carlspring commented on #947
Great! Feel free to dig in!

[2019-08-09 12:30] ptirador commented on #948
Yes, it is:
strongbox-storage/strongbox-storage-layout-providers/strongbox-storage-npm-layout-provider/src/test/resources/junit-platform.properties

[2019-08-09 14:35] cbrianhill commented on #1393
@sbespalov , @carlspring wanted me to reach out to you about this task.  We can take a similar approach to #1419 implementing this, which will give the ability to control the configurations for Hazelcast, but making configuration part of `strongbox.yaml` and editable via API / UI will run into the same limitations I faced in trying to implement #1392 .

[2019-08-09 15:28] ptirador commented on #1097
@carlspring : Now that this class has been migrated in PR #1370  to use new annotations in order to create repositories and artifacts (the method `setUp` was even deleted )... Should this be considered as solved?

[2019-08-10 14:47] carlspring commented on #1097
@ptirador / @fuss86 : I will close this, because now all the Maven tests have been migrated to the new annotations and this should no long be an issue. I don't think we've hit this issue lately, either.

@ptirador : Thanks for following up on this! :)

[2019-08-10 14:47] #1097 closed

[2019-08-10 22:39] #1392 closed

[2019-08-11 09:09] #1423 closed

[2019-08-11 16:14] manikantanallagatla commented on #1390
@carlspring: I've created 2 PRs (one for each project) ready for merging, https://github.com/strongbox/strongbox-proto-parent/pull/3, https://github.com/strongbox/strongbox-parent/pull/35.
 Please take a look whenever you can.

[2019-08-11 16:41] carlspring commented on #1390
Hi,

Thanks for looking into this. You will also need to apply it to the `strongbox-npm-metadata` project as well.

[2019-08-11 16:52] manikantanallagatla commented on #1390
@carlspring I have created PR to the strongbox-npm-metadata as well: https://github.com/strongbox/strongbox-npm-metadata/pull/10

[2019-08-11 18:43] carlspring commented on #1390
Hi @manikantanallagatla ,

Thank you for your contribution!

Have you actually tested this? Have you gone over the acceptance test criteria? We cannot accept pull requests without these tests passing. You will need to sign the ICLA, as described in the [Contributing](https://github.com/strongbox/strongbox/blob/master/CONTRIBUTING.md) page.

There's now also a newer version of Jackson. It appears t

[2019-08-12 06:23] #947 closed

[2019-08-13 16:03] #1424 closed

[2019-08-14 01:38] carlspring commented on #1202
Implemented by @fuss86.

[2019-08-14 01:38] #1202 closed

[2019-08-14 01:46] carlspring commented on #1407
@sbespalov : Is this ready? If "yes", could you please close it? If "not", then could you please clarify what still needs to be done? Thanks! :)

[2019-08-14 01:54] carlspring commented on #1327
Thanks @ptirador and @sbespalov for looking into this! :)

@ptirator: Do you have the before and after build times? It would be cool to compare them and see how this impacted the build times.

[2019-08-14 01:54] #1327 closed

[2019-08-14 02:13] #1407 closed

[2019-08-14 02:15] carlspring commented on #985
@ptirador : This is probably now obsolete. Please, feel freel to close it, if you think it's working fine now.

Thanks! :)

[2019-08-14 02:16] carlspring commented on #1101
@ptirador : This is probably now obsolete. Please, feel freel to close it, if you think it's working fine now.

Thanks! :)

[2019-08-14 02:18] carlspring commented on #948
@ptirador :

Please, feel free to close this, if you think it's now working properly!

Thanks! :)

[2019-08-14 11:13] ptirador commented on #1101
@carlspring: Currently this test class is working fine, without any random failure.
I proceed to close it.

[2019-08-14 11:13] #1101 closed

[2019-08-14 11:13] ptirador commented on #985
@carlspring: Currently this test class is working fine, without any random failure.
I proceed to close it.

[2019-08-14 11:13] #985 closed

[2019-08-14 11:17] carlspring commented on #985
Thank you!

[2019-08-14 11:18] carlspring commented on #1101
Thank you!

[2019-08-14 19:31] fuss86 opened #1430 "java.lang.StackOverflowError on cancelled download request"
# Bug Description

When we cancel file download, `java.lang.StackOverflowError` occurs in logs.

# Steps To Reproduce

0. Run `strongbox`
1. Hit http://localhost:48080/storages/storage-common-proxies/maven-central/.index/nexus-maven-repository-index.gz in the browser (wait for the file if it's locked)
2. Cancel a running download
3. See `strongbox` logs

# Expected Behavior

Proper handle file dow

[2019-08-16 02:33] sbespalov commented on #1418
@steve-todorov you agree to close it as false positive?

[2019-08-16 02:34] sbespalov commented on #1411
@steve-todorov @carlspring so what we will decide on this issue?

[2019-08-16 02:37] sbespalov commented on #1247
@carlspring this probably should be closed

[2019-08-16 03:08] sbespalov commented on #1393
@cbrianhill we probably won't be able to have OrientDB configurable with UI as you noticed.

Another thing is that this task seems obsolete to me because we already have OrientDB settings configurable with Spring Environment properties (see [CommonOrientDbConfig#orientDbServerProperties](https://github.com/strongbox/strongbox/blob/master/strongbox-data-service/src/main/java/org/carlspring/strongbo

[2019-08-16 06:58] carlspring commented on #1247
Thanks!

[2019-08-16 06:58] #1247 closed

[2019-08-16 09:25] sbespalov opened #1431 "Make all TestCaseWithRepository based tests to use @TestRepository and @TestArtifact annotations"
# Task Description

We need to complete test resources management refactoring and make all tests to use `@TestRepository` and `@TestArtifact` annotations (or layout specific shortcut annotations).

As a result we should get rid of `TestCaseWithRepository` class.

Please note, that this task could be done by multiple people as smaller pull requests fixing separate tests.

# Tasks

The following tes

[2019-08-17 08:45] BogdanSukonnov commented on #1430
Hi. Can I take this?

[2019-08-17 09:44] carlspring commented on #1430
Hi!
Yes, please!

[2019-08-17 19:33] BogdanSukonnov commented on #1430
I'll catch the EOFException in OutputStream.write() and flush().

- Is the message `Output stream is closed. Possibly, user cancelled download.` good for debug?

- Should I change response status to `202 ACCEPTED` ? Or it will break something else and it better still be `200 OK`?

[2019-08-17 22:19] carlspring commented on #1430
@fuss86 : What would you advise?

[2019-08-18 07:52] fuss86 commented on #1430
Hi @BogdanSukonnov , thanks for your interest :)

Probably we should also check the cause `Caused by: java.io.IOException: Connection reset by peer `

Yeah, sounds good. Alternatively we can say that `socket` has been closed.

The `socket` has been closed, you are not able to send response status to this channel anymore.

[2019-08-18 08:50] fuss86 commented on #1404
@cbrianhill are you up for this task ? :)

[2019-08-18 17:40] ptirador commented on #1431
Hi! I'd like to pick this up.

[2019-08-18 17:52] carlspring commented on #1431
Great! Thanks! :)

[2019-08-19 00:40] cbrianhill commented on #1404
@fuss86 yes, for sure

[2019-08-19 16:01] steve-todorov commented on #1418
Ahhh... Sorry I haven't had a chance to check it out but I think you're right. I didn't check the allow directory browsing checkbox. Let's close it. Thanks for looking into this!

[2019-08-19 16:01] #1418 closed

[2019-08-20 04:03] cbrianhill opened #1437 "RepositoryHostedIndexCreatorTest and MavenIndexCreatorTest fail on MacOS"
# Bug Description

On master, as of commit https://github.com/strongbox/strongbox/commit/868626f3ec2f0616d5110d3c363780ebbcd67ada, the unit tests `RepositoryHostedIndexCreatorTest` and `MavenIndexCreatorTest` both fail on MacOS.

# Steps To Reproduce

1. `git clone git@github.com:strongbox/strongbox` on MacOS computer
2. `cd strongbox`
3. `mvn clean install`
4. Observe the two tests above may fail

[2019-08-20 18:54] fuss86 commented on #1437
Thanks @cbrianhill for great description and investigation !

Could you please check if we can change `Files.getLastModifiedTime(indexPath)` to `indexPath.toFile().lastModified()` ? Will it work ? So we would replace `java.nio` by `java.io` in these tests.

Horrible MacOS JDK bug :)

[2019-08-20 19:55] Zernerus commented on #1398
Hi, I'd like to try solving this issue, if it's still available!

[2019-08-20 20:04] carlspring commented on #1398
Hello again, @Zernerus !

Go for it! Feel free to ask any questions.

[2019-08-21 22:27] Zernerus opened #1438 "Test fails due to JwtAuthenticationTest"
# Bug Description
Testing JwtAuthenticationTest.testJWTAuthShouldFailWithoutToken (which automatically occurs when running `mvn clean install`) on Windows 10 Pro fails with the following error:
[code]
Changing the system language to english fixes the error.

# Steps To Reproduce

1. Change system language to german
2. clone the repo
3. `cd strongbox`
4. `mvn test -Dtest=JwtAuthenticationTest#testJ

[2019-08-22 05:09] cbrianhill commented on #1437
Hi @fuss86 , unfortunately `File.lastModified()` suffers from the same problem: it doesn't return any subsecond granularity.  I haven't checked it, but supposedly Java 10 has this fixed.

[2019-08-22 05:50] fuss86 commented on #1437
@sbespalov, @carlspring  what do you guys think ? Maybe we should skip this test for MacOS under some JDK ?

[2019-08-22 08:49] sbespalov commented on #1437
@cbrianhill @fuss86 As an option we can calculate and check the file checksum instead of modification time.

[2019-08-22 16:52] carlspring commented on #1437
@fuss86 : All our test cases should be able to run under all OS.

@sbespalov / @cbrianhill : I'm happy with both adding a `Thread.sleep(1000L);` and with the suggestion of re-calculating the checksum, so is it up to you Brian. This is just one test. An increase by a second won't be all that dramatic, to be honest.

[2019-08-22 17:16] fuss86 commented on #1437
@carlspring, in my opinion, this is not a good way to handle it.

[2019-08-23 04:17] cbrianhill commented on #1437
@carlspring  @fuss86  I like the checksum idea.  Let me give this a try.  Can't think of a reason it shouldn't work.

[2019-08-24 14:29] LSariel commented on #1185
Really sorry. But due too an accident I won't be able to work anymore on this before school starts again. Hoping to be able to take up some other issue when everything is back in order!

[2019-08-24 15:55] carlspring commented on #1185
Hi!

Get well soon! Thanks for letting us know.

This task is now up for grabs.

[2019-08-25 06:24] carlspring commented on #1438
@Zernerus ,

Thanks for reporting this! Would you mind having a look at @ptirador 's pull request and trying it out? Thanks!

[2019-08-25 09:47] ptirador commented on #1401
Hi, if @adithyaChander is not working on this, can I pick this up?

[2019-08-28 02:14] sbespalov opened #1442 "Investigate difference between testRegenerateArtifactChecksum and testRegenerateChecksumInRepository test cases in RegenerateMavenChecksumCronJobTestIT"
# Task Description
Currently there seems no difference between `testRegenerateArtifactChecksum` and `testRegenerateChecksumInRepository` test cases in `RegenerateMavenChecksumCronJobTestIT` test class. Probably we lost something during refactoring. We need to find out what was the initial difference and restore original logic for this test cases.

# Task Relationships

This task:
* Relates to: [PR

[2019-08-28 03:05] sbespalov opened #1443 "Get rid of ArtifactManagementServiceImplTest#setArtifactsTimestampAndRedeploy"
# Task Description
Currently there is workaround method `ArtifactManagementServiceImplTest#setArtifactsTimestampAndRedeploy` which targets to make SNAPSHOT timestamps suit for `MavenRepositoryFeatures.removeTimestampedSnapshots` logic when SNAPSHOT versions should be removed by date. We need to rework the `MavenRepositoryFeatures.removeTimestampedSnapshots` parameters to be able to pass a date as

[2019-08-28 17:00] #1431 closed

[2019-08-28 17:07] #1438 closed

[2019-08-29 22:45] #1430 closed

[2019-08-30 07:17] us3rna commented on #1443
Can I work on this issue?

[2019-08-30 07:56] carlspring commented on #1443
Hi @us3rna ,

If course! Is the description clear enough? Please, feel free to join our [chat channel](https://chat.carlspring.org/) for more help.

Martin

[2019-08-30 14:30] #948 closed

[2019-08-30 14:32] carlspring commented on #948
Thanks! :)

[2019-08-30 14:59] carlspring opened #1448 "Investigate and fix the ignored tests and evaluate whether some of them might need to be removed"
# Task Description

As seen here:

![image](https://user-images.githubusercontent.com/1436265/64030618-d7c60300-cb3e-11e9-8296-350f597873ab.png)

There are currently several test cases which are ignored and need to either be investigated and fixed, or re-evaluated and possibly be removed.

# Tasks

The following tasks will need to be carried out:
* [ ] Fix those tests that make sense to be re-enab

[2019-08-30 15:22] #1299 closed

[2019-08-31 15:41] ptirador commented on #1205
@carlspring: This PR can be closed, as it was already solved in PR https://github.com/strongbox/strongbox/pull/1434.

[2019-08-31 16:40] carlspring commented on #1205
Thanks for letting me know!

[2019-08-31 16:40] #1205 closed

[2019-08-31 22:14] TheCakeIsNaOH commented on #1113
Chocolatey has issues installing, searching, and upgrading packages that have a hyphen/dash in their name from Strongbox. Many, quite possibly a majority of packages on Chocolatey.org have a hyphen in their name as it is the recommended way to deal with a space in the name of the software rather than say a dot.

Install requests from nuget.exe are similar to this, and work fine-
`0.0.0.0:48080/sto

[2019-08-31 23:24] pyashwanthkumar commented on #1443
@Daniel-Jacob
are you still working on this?

[2019-09-01 07:26] carlspring commented on #1113
You might want to have a look at these classes:
* [`NugetODataFilter`](https://github.com/strongbox/strongbox/blob/master/strongbox-storage/strongbox-storage-layout-providers/strongbox-storage-nuget-layout-provider/src/main/antlr4/org/carlspring/strongbox/nuget/filter/NugetODataFilter.g4)
* [`org/carlspring/strongbox/nuget/filter`](https://github.com/strongbox/strongbox/tree/master/strongbox-stora

[2019-09-01 21:30] steve-todorov commented on #1437
This has been fixed in #1435. Thanks to everybody! :)

[2019-09-01 21:30] #1437 closed

[2019-09-01 23:26] TheCakeIsNaOH commented on #1113
Like as a separate application or as a code test in strongbox?

[2019-09-01 23:51] carlspring commented on #1113
I would say more like a proper JUnit test case that tries the above. Have a look at the Nuget controller test, or the ones in the Nuget layout provider for more details.

[2019-09-02 08:49] PedroHReis22 commented on #1448
can I take this one?

[2019-09-02 08:58] carlspring commented on #1448
Sure! Go ahead!

Feel free to join our [chat channel](https://chat.carlspring.org/).

[2019-09-02 16:53] #1404 closed

[2019-09-02 23:36] tizzymac commented on #1376
Hi can I look into this?

[2019-09-03 00:09] carlspring commented on #1376
@tizzymac : Hi, would you like to join our [chat channel](https://chat.carlspring.org/)?

[2019-09-03 16:25] hduhar commented on #1390
@carlspring i am willing to working on fixing this if this has not been fixed yet.

[2019-09-03 16:33] carlspring commented on #1390
@hduhar : Would you mind picking another task instead?

[2019-09-03 20:51] fuss86 opened #1456 "Standardize tests assertions to AssertJ"
# Task Description

Within tests, we have at least 3 kinds of libraries used for assertions:

* `org.hamcrest.Matchers.*`
* `org.junit.jupiter.api.Assertions.*`
* `org.assertj.core.api.Assertions.*`

We should standardize them and prepare a doc on how to write test assertions. We decided to use AssertJ (https://joel-costigliola.github.io/assertj/) to replace JUnit 5 and Hamcrest assertions. See al

[2019-09-03 20:57] tizzymac commented on #1456
I can take this

[2019-09-03 20:59] fuss86 commented on #1456
@tizzymac go for it :)

[2019-09-03 22:37] fuss86 opened #1457 "Better StorageBooter lock release approach"
# Task Description

At the moment [StorageBooter.lockFile](https://github.com/strongbox/strongbox/blob/master/strongbox-storage/strongbox-storage-api/src/main/java/org/carlspring/strongbox/booters/StorageBooter.java#L52) is acquired in the [StorageBooter.initialize()](https://github.com/strongbox/strongbox/blob/master/strongbox-storage/strongbox-storage-api/src/main/java/org/carlspring/strongbox/b

[2019-09-04 08:49] snehalatapandit commented on #1400
Hi,

Can I take this one?

[2019-09-04 08:51] sbespalov commented on #1226
I confirm once again :)

[2019-09-04 09:59] carlspring commented on #1400
Could you please pick another task that is not on hold?

[2019-09-04 10:00] #1226 closed

[2019-09-04 10:00] carlspring commented on #1226
Thanks, @sbespalov !

[2019-09-04 18:16] ykabusalah commented on #1457
Can I take this?

[2019-09-04 18:23] steve-todorov commented on #1457
Sure @ykabusalah ! Feel free to pick it up :)

[2019-09-04 22:04] fuss86 commented on #1457
Go ahead :)

[2019-09-05 11:18] carlspring opened #1459 "Migrate from the Tanuki Java Service Wrapper to an alternative solution"
# Task Description

We are currently using the Java Service Wrapper (from Tanuki) via the `appassembler`. This is being generated using the `maven-assembly-plugin` in the `strongbox-distribution`. We'd like to move away from this solution, due to its licensing implications.

As a contender, we might consider looking into the alternative provided by the Springframework. We are already quite investe

[2019-09-05 15:36] steve-todorov opened #1460 "Implement different maven metadata expiration strategies"
# Task Description

`MavenMetadataExpiredRepositoryPathHandler` needs to be improved so that it supports different `expiration` strategies which need to be configurable per `maven repository`:

1. `ChecksumMetadataStrategy` - this is the current implementation and needs to be preserved (this should also be the default option)
2. `RefreshMetadataStrategy` - once the metadata cache `TTL` has occurre

[2019-09-06 01:47] pyashwanthkumar commented on #1443
@carlspring @sbespalov
Can I start working on this issue?

[2019-09-06 08:16] carlspring commented on #1443
Hi @pyashwanthkumar ,

Yes, please!

[2019-09-06 19:10] TheCakeIsNaOH opened #1462 "Chocolatey installs, upgrades and searches fail when package name has hyphen."
# Bug Description
Chocolatey has issues installing, searching, and upgrading packages that have a hyphen/dash in their name from Strongbox. Many, quite possibly a majority of packages on Chocolatey.org have a hyphen in their name as it is the recommended way to deal with a space in the name of the software rather than say a dot.

# Steps To Reproduce

1. Setup chocolatey to use strongbox as it's s

[2019-09-07 06:29] BogdanSukonnov commented on #1375
I want to take this issue.

[2019-09-07 09:44] carlspring commented on #1375
Okay, go for it.

[2019-09-08 20:49] carlspring commented on #1462
I have updated the bug description with a list of classes and resources that are related to this behaviour. Most-likely, the grammar file will need to be slightly re-worked.

[2019-09-08 21:18] #1420 closed

[2019-09-09 15:11] pyashwanthkumar commented on #1443
I almost finished development on the issue. There is a small part which needs fixing i.e promoting backward compatibility of our java method. Currently, I am working on that. Will update once its done.

[2019-09-10 02:31] cbrianhill commented on #1460
@steve-todorov, @carlspring , question on this:  how is the metadata cache TTL determined?  I'm probably missing something obvious, but I'm not understanding how I would determine if `maven-metadata.xml` has expired.  I see that the context of this is handling a `ProxyRepositoryPathExpiredEvent`, but would this mean that the `RefreshMetadataStrategy` should unconditionally fetch the metadata when

[2019-09-11 20:27] PedroHReis22 commented on #1448
Here is the outcome of what I found:
- `AqlParserTest`: one test is being skipped (`testValidQueryWithUpperLowercaseCheck`). The test case seems to be invalid as currently, AQL is case sensitive. Can I change the test adjusting the expectation?
- `LoggingManagementControllerTestIT`: all 16 tests are being skipped. On top of the class, there's a comment regarding migrating to spring boot actuator a

[2019-09-11 22:26] carlspring commented on #1448
The AQL is currently on hold. If the only test is for ignore case, then we can really ignore this.

@fuss86 : Any thoughts on this?

Great, if these are working, you could re-enable them.

Who put the comment? Does the test actually pass?

Great, if these are working, you could re-enable them.

[2019-09-13 21:43] steve-todorov opened #1464 "Improve PasswordEncoderController security"
# Task Description

`PasswordEncoderController`:
1. Has to be accessible only by user with admin role
2. Must not use path variables (use a form instead)
3. Should also follow the [How-To-Write-Controllers](https://strongbox.github.io/developer-guide/how-to-implement-spring-controllers.html) guide.

[2019-09-13 22:13] #1464 closed

[2019-09-15 07:43] Nishant-sehgal commented on #1335
@TylerHaze are you still working on it..If not will like to give an attempt on it.
CC @fuss86 Please tell if i can pick this up.

[2019-09-15 08:06] carlspring commented on #1335
@Nishant-sehgal : Please, feel free to pick it up!

[2019-09-15 22:48] pyashwanthkumar commented on #1443
Hi @carlspring @sbespalov

`removeTimestampedSnapshots` with keepPeriod parameter should call the new `removeTimestampedSnapshots` with keepDate parameter. How do we set this date? Should we derive it from keepPeriod?

[2019-09-16 16:24] mslowiak commented on #1456
Can I take this?
It's been two weeks when task was taken

[2019-09-16 21:17] carlspring commented on #1456
Yes, please, @mslowiak !

[2019-09-17 15:04] ptirador opened #1466 "Language-related error for shouldRequireAuthenticationAccess method in PasswordEncoderControllerTest"
# Bug Description

After merging PR #1465, the `shouldRequireAuthenticationAccess` method in `PasswordEncoderControllerTest` class fails if the system language is in German, as already happened in #1438.

This is happening due to Spring Security uses a `messages_{language}.properties` file to translate some security error messages, being English as default language.

# Steps To Reproduce

1. Chang

[2019-09-17 19:28] steve-todorov commented on #1466
Ahh... I didn't see this one coming. Thanks for reporting this @ptirador! Would you like to fix it or should I? :)

[2019-09-17 19:35] ptirador commented on #1466
Please, go ahead, all yours :)

[2019-09-18 14:21] ptirador commented on #1442
The difference between these two methods is the use (or not) of `basePath` as a property for the Cron task configuration to resolve the repository/artifact path:

`org.carlspring.strongbox.services.impl.ChecksumServiceImpl.java`:
[code]

- If `basePath` is NOT passed as a property (or with a null value), the operation to regenerate the checksum will use the repository path as its base path.

- If

[2019-09-18 14:33] ptirador commented on #1397
Hi, can I take this?

[2019-09-19 13:48] steve-todorov commented on #1460
@cbrianhill ping - have you had a chance to work and complete on this? :)

[2019-09-19 14:31] pyashwanthkumar commented on #1397
I am not working on this issue anymore :)

[2019-09-19 17:54] TheKeySpammer commented on #1457
If @ykabusalah is not working on this can I take this issue

[2019-09-19 18:18] carlspring commented on #1457
@TheKeySpammer : Feel free to pick it up! Thank you!

[2019-09-19 18:33] grantfar commented on #650
I would like to take on this issue

[2019-09-19 19:43] steve-todorov commented on #1456
There is an issue which prevents us from fully switching to AssertJ (spring-projects/spring-framework#21178). We have decided to leave it for now in the `strongbox-web-core` module to prevent introducing additional complexity into the test cases. Once spring-projects/spring-framework#21178 is fixed we can make the switch there as well.

[2019-09-19 20:49] steve-todorov commented on #650
Hey @grantfar and thanks for your interest in this task!

However, I'm not very sure this task is still relevant.
It sounds to me like the description is exactly describing what the `Routing` already does.

@carlspring did you had something else in mind when you wrote this?

[2019-09-19 20:54] #1466 closed

[2019-09-19 21:33] carlspring commented on #650
@grantfar : I think we have something more interesting for someone with a background in C# like yourself. Would you like to join our [chat channel](https://chat.carlspring.org/) and discuss it there?

[2019-09-19 21:40] grantfar commented on #650
What do you have in mind. I already joined the channel

Sent from Mail for Windows 10

From: Martin Todorov
Sent: Thursday, September 19, 2019 5:33 PM
To: strongbox/strongbox
Cc: grantfar; Mention
Subject: Re: [strongbox/strongbox] Implement repository accepted/deniedpatterns (#650)

@grantfar : I think we have something more interesting for someone with a background in C# like yourself. Would you

[2019-09-20 10:09] TheKeySpammer commented on #1457
Pull request #1468

[2019-09-21 09:35] Nishant-sehgal commented on #1335
@carlspring have some questions with the approach
was adding below as the property in strongbox.yaml.

configuration:
  XXX
  maven:
    metadata:
      expiration:
        timeSeconds: 3600

1. can you check if it should come under configuration directly?
2. i will need to map it to a POJO with name Maven which contains Metadata as reference inside it and expiration in metadata and so on.Is this

[2019-09-21 11:26] carlspring commented on #1335
@fuss86: Would you mind giving @nishant-sehgal some hints and tips?

@nishant-sehgal: It would probably be best to join our [chat channel](https://chat.carlspring.org/].

[2019-09-21 16:18] steve-todorov commented on #1335
Just FYI guys - this task has a new relationship with #1460

// cc @cbrianhill

[2019-09-22 13:00] fuss86 commented on #1335
Indeed it looks nicer. Thanks for your suggestion. Please us it.

Thanks for pointing this out. Indeed it's not a good option. We should create some generic interface (like `org.carlspring.strongbox.yaml.repository.RepositoryConfiguration` but for global providers configuration) and create implementations per repository providers if needed. `Maven` case will be the first one.

   reference inside

[2019-09-23 15:50] carlspring commented on #1460
@cbrianhill ,

Any updates on this? (I remember you were working on it and had some progress...?).

[2019-09-23 15:59] carlspring commented on #1443
@pyashwanthkumar : Did you open a pull request for this?

[2019-09-24 19:59] fuss86 commented on #1448
logging management is currently under reconstruction and migration to spring boot actuator (see also https://github.com/strongbox/strongbox/pull/1440). In my opinion we won't need `LoggingManagementController` soon. I talked with @steve-todorov about this so can also add a comment here. I suggest to drop `LoggingManagementController` and `LoggingManagementControllerTestIT` after successful migrati

[2019-09-24 20:17] carlspring commented on #1448
This test should probably be renamed to `ProxyRepositoryConnectionPoolConfigurationServiceImplTestIT`.

[2019-09-24 21:55] fuss86 opened #1475 "OrientDb stores java.util.Date without time"
# Bug Description

As described in the subject, `orientDb` stores `java.util.Date` without time. For example, once stored `org.carlspring.strongbox.domain.ArtifactEntry#created` is always at midnight.

# Steps To Reproduce

1. Run `org.carlspring.strongbox.services.impl.ArtifactEntryServiceTest` and watch the logs

# Expected Behavior

`org.carlspring.strongbox.domain.ArtifactEntry#created` and ot

[2019-09-25 20:30] evsikov commented on #1475
Please assign this on me.

[2019-09-25 20:40] carlspring commented on #1475
@evsikov ,

Please, feel free to dig into this task and to join our [chat channel](https://chat.carlspring.org/).

[2019-09-26 02:47] sbespalov opened #1476 "Get rid of static Rest Assured context"
# Bug Description

Currently we have static Rest Assured context used within `strongbox-web-core` tests, which leads to issues related with Spring Application Context in the case of concurrent tests execution. The issue is that we have different instances of Spring Application Context within our tests and Rest Assured in turn uses this contexts while doing REST invocations. So while we have static

[2019-09-26 12:43] bono007 commented on #1476
Hi. I am an engineer at Indeed and we are doing Hacktoberfest. I am interested in hacking on `strongbox`. This looks like a great 1st intro ticket.

Some background: I have been doing Java for quite a while now and have focused on Spring/Boot over the last 5 years. I will look for a "deeper" ticket to grab after this one.

[2019-09-26 13:14] carlspring commented on #498
@steve-todorov : Could you please confirm and close this, if this is so? Thanks!

[2019-09-26 13:40] bono007 commented on #1213
@carlspring I would love to take this one.

[2019-09-26 13:41] bono007 commented on #1476
After chatting more w/ @carlspring - I am going to take #1213 as @sbespalov is already heading out on this one.

[2019-09-26 13:52] bono007 commented on #1213
I am officially heading out on this issue later today. Just putting this here so that its known as tickets can't be assigned to noobs (me) just yet. :)

[2019-09-26 13:55] carlspring commented on #1213
Thanks, go for it, @bono! :)

[2019-09-28 00:26] carlspring opened #1479 "Investigate the SBT test failures in the strongbox-web-integration-tests"
# Task Description

We are getting the following error in the SBT tests of the [`strongbox-web-integration-tests`](https://github.com/strongbox/strongbox-web-integration-tests/):

[code]

The issue will need to be investigated and the fix for this will have to be done in the [`strongbox-web-integration-tests`](https://github.com/strongbox/strongbox-web-integration-tests/).

# Help

* [Our chat](ht

[2019-09-28 14:24] bono007 commented on #1213
### Initial analysis of the main usages of PackageFeed:

1. NuGetRepositoryFeatures
	- used by cron to sync the remote NuGet repo w/ the SB one
	- consumes an Atom feed from remote NuGet repo and writes it to SB NuGet repo
1. NuGetArtifactController
	- search endpoints will search the SB NuGet repo and transform the "hits" into an Atom feed which writes to output stream as XML

### Next step
Under

[2019-09-28 20:44] carlspring opened #1480 "Implement support for the npm login command"
# Task Description

We would like to add support for the `npm adduser` command. (This is the same as `npm login`).

# Tasks

The following tasks will need to be carried out:
* [x] Investigate what exactly needs to be done to implement this.
* [x] Implement the support for the command (in the [`NpmController`](https://github.com/strongbox/strongbox/blob/master/strongbox-web-core/src/main/java/org/c

[2019-09-28 21:08] carlspring opened #1481 "npm install @angular/core is broken and will return 400 bad request"
# Bug Description

Issuing the command below will return an HTTP 400:

[code]

# Expected Behavior

The command succeeds.

# Tasks

* [ ] Investigate the bug and provide steps to reproduce it.
* [ ] Fix the bug.
* [ ] Create a test case for this under the [`strongbox-web-integration-tests`](https://github.com/strongbox/strongbox-web-integration-tests/) project.

# Useful Information

The code for

[2019-09-28 22:09] carlspring opened #1482 "Minor package refactoring and cleanup under the strongbox-maven-metadata-api module"
# Task Description

The [`strongbox-maven-metadata-api`](https://github.com/strongbox/strongbox/tree/master/strongbox-storage/strongbox-storage-layout-providers/strongbox-storage-maven-layout/strongbox-maven-metadata-api) module requires some minor package refactoring.

# Tasks

The following tasks will need to be carried out:
* [ ] Create a new package called `org.carlspring.strongbox.storage.met

[2019-09-28 23:02] bono007 commented on #1213
@sbespalov @carlspring

So Spring leverages [ROME](https://rometools.github.io/rome/) for its RSS and AtomFeed implementations.

Really what AbstractAtomFeedView (via AtomFeedHttpMessageConverter) provides is automatic un/marshalling of the feed using the ROME Feed object model instead of the custom Strongbox PackageFeed and PackageEntry.

So that makes sense to get off of the hand-rolled solution

[2019-09-29 01:23] bono007 commented on #1169
@carlspring I am interested in this one - while I wait on outcome of 1213 I will take this one on.

[2019-09-29 01:27] carlspring commented on #1169
Go for it! :)

[2019-09-29 01:37] bono007 commented on #1169
Improvement for later: `PropertiesBooter.java` can be replaced w/ a `@ConfigurationProperties` prefixed on `strongbox.` and then the default system property setting portion should be replaced with an ApplicationContextInitializer to be on the same sife. `@PostConstruct` may be too late to set system properties.

[2019-09-29 01:56] carlspring commented on #1169
@strongbox/core-developers , @ptirador ,

What do you guys think?

[2019-09-29 03:29] leonmak commented on #1482
I would like to try this

[2019-09-29 05:35] bono007 commented on #1169
Some benefits of type safe configuration properties are validation, relaxed binding, better support in ide on clicking back forth between props class and props file. https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html#boot-features-external-config-typesafe-configuration-properties

[2019-09-29 08:13] fuss86 commented on #1169
Yes, I like this idea. 👍

[2019-09-29 08:14] ptirador commented on #1169
I like it too :+1:

[2019-09-29 08:36] carlspring commented on #1482
Okay! Go for it! :)

[2019-09-29 08:52] carlspring commented on #1169
@bono007 ,

Please, feel free to proceed!

[2019-09-29 09:09] fuss86 opened #1484 "Upgrade commons-io to version 2.6"
# Task Description

Since we plan to use https://github.com/apache/commons-io/blob/master/src/main/java/org/apache/commons/io/input/Tailer.java from commons-io we should upgrade commons-io to latest version since it contains some bug fixes.

# Useful Links
* https://github.com/apache/commons-io/pull/29
* https://github.com/apache/commons-io/commit/45fbfb82fd1f5168a7183e78ece89da7a60e21fe#diff-4f30

[2019-09-29 11:38] bono007 commented on #1169
Shall I keep the work under this ticket or create another and link it?

[2019-09-29 11:41] carlspring commented on #1169
I think you can use this one.

[2019-09-29 12:49] steve-todorov commented on #1479
@mslowiak Just FYI - this issue is related to some updates I did on our infrastructure. I'll fix it later today and restart your PR #1478. :)

[2019-09-29 19:25] steve-todorov commented on #1479
This is now solved. Thanks for reporting @carlspring !

[2019-09-29 19:25] #1479 closed

[2019-09-29 19:50] bono007 commented on #1169
Oh my... after digging in on my own suggestion...

So in regards to moving `PropertiesBooter` over to `@ConfigurationProperties` its not a good fit because...

1. The current properties have multiple deep paths off of `strongbox.` such as `strongbox.nuget.download.feed` and `strongbox.storage.booter.basedir`
1. The object property names do not match the actual property names (for ex: `getHomeDirec

[2019-09-29 22:12] #1457 closed

[2019-09-30 00:47] LeifBrooks commented on #1480
cool if I take this?

[2019-09-30 01:00] carlspring commented on #1480
Sure! Go for it! :)

[2019-09-30 01:07] carlspring commented on #1169
To be honest, I'm not a massive fan of all the empty classes used for pretty much nothing...

Perhaps, in this case we should park this task...? @strongbox/core-developers , @ptirador what do you guys think.

[2019-09-30 04:07] bono007 commented on #1169
Yeh i think the switch to configprops is not a good one after i dug into it. The latter part of moving the system prop setting into an app context initializer is still valid though.

I have a PR in for that now.

Once that PR is done i will get back to the initial motivation of this ticket - simplifying that resource loader and yaml props.

[2019-09-30 16:01] Nishant-sehgal commented on #1335
@fuss86  if i got it right inside strongbox.yaml you are suggesting something like this:

[code]

[2019-09-30 18:56] steve-todorov commented on #1480
@LeifBrooks in case you get error 400 - you might need to checkout #1481. I'm not sure if it won't interfere with this task. :)

[2019-09-30 23:00] fuss86 opened #1487 "Improve TempDirBooter and cleanup tmp related code"
# Task Description

We need to improve [TempDirBooter](https://github.com/strongbox/strongbox/blob/master/strongbox-commons/src/main/java/org/carlspring/strongbox/booters/TempDirBooter.java) and generally fix global `tmp` related code.

# Tasks

The following tasks will need to be carried out:
* [ ]  we should throw an exception in [TempDirBooter](https://github.com/strongbox/strongbox/blob/master

[2019-09-30 23:20] carlspring commented on #1487
@fuss86,

Thanks for creating this follow-up task!

@TheKeySpammer ,

Would you like to look into this as well?

[2019-10-01 02:29] bono007 commented on #1213
@carlspring
@sbespalov
@fuss86

Can I get some eyes on my last comment? Thanks

[2019-10-01 03:20] TheKeySpammer commented on #1487
Working on it.

[2019-10-01 13:46] LeifBrooks commented on #1480
@steve-todorov thanks I'll check it out

[2019-10-01 13:59] steve-todorov commented on #1213
Hi @bono007,

@sbespalov will be able to answer your questions most likely tomorrow :)

[2019-10-01 17:39] shubhamivane commented on #1481
Can I work on this issue?

[2019-10-01 18:05] carlspring commented on #1481
I believe @LeifBrooks and @pyashwanthkumar have already expressed an interest to look into it, but if you would still like to investigate, feel free to do so and report back your findings. Otherwise, you can have a look around our issue tracker for something else to pick up.

Please, feel free to join our [chat channel](https://chat.carlspring.org/).

[2019-10-01 19:07] pyashwanthkumar opened #1490 "npm publish is broken and will return 500 Server Error"
# Bug Description

Issuing the command below will return 500 server error:

`npm publish`

# Steps To Reproduce

1.  Clone this [repo](https://github.com/strongbox/strongbox-examples/tree/master/hello-strongbox-npm)
2. Execute the steps mentioned [here](https://github.com/strongbox/strongbox-examples/tree/master/hello-strongbox-npm#prepare-project-workspace)

# Expected Behavior

You should see th

[2019-10-01 19:09] ykabusalah commented on #1448
Has this one been taken completely? Or is there any room for me to try it?

[2019-10-01 19:10] ykabusalah commented on #1487
Can I try this?

[2019-10-01 19:10] ykabusalah commented on #1475
Can I try this?

[2019-10-01 19:37] evsikov commented on #1475
I am currently working on this issue.

[2019-10-01 19:55] PedroHReis22 commented on #1448
@carlspring, @fuss86 , thanks I'll apply the changes and create the PR.

[2019-10-01 20:04] carlspring commented on #1490
Actually, this is so by design. Proxy repositories should not allow you to deploy artifacts to them. They are simply proxies and their caches could be wiped out at any given time, thus, artifacts deployed to them would be lost.

[2019-10-01 20:04] #1490 closed

[2019-10-01 20:07] carlspring commented on #1448
@ykabusalah ,

Yes, @PedroHReis22 is already looking into this. Would you mind looking around our issue tracker for some other task and joining our [chat channel](https://chat.carlspring.org/)? :)

[2019-10-01 20:42] carlspring commented on #1487
@ykabusalah ,

@TheKeySpammer is already looking into this.

[2019-10-02 00:51] #1443 closed

[2019-10-02 00:52] carlspring commented on #1442
@pyashwanthkumar ,

Would you perhaps like to look into this? :)

[2019-10-02 07:54] sbespalov commented on #1213
@bono007 thanks for detailed research. As a result it seems there will be no benefits from getting custom ROME module so I suggest to leave this and close the issue.

cc @carlspring

[2019-10-02 09:57] carlspring commented on #1213
Thank you very much for spending some time to investigate and evaluate this task. It sounds like there is no point to carry on with it for now. I will, therefore, close it.

[2019-10-02 09:57] #1213 closed

[2019-10-02 11:04] bono007 commented on #1213
Sounds good. I will focus on 1169.

[2019-10-02 14:15] sainalshah commented on #1179
I would like to take up this issue. Can I confirm whether the scope of this issue is to validate PyPi metadata only?

[2019-10-02 14:20] carlspring commented on #1179
@sainalshah ,

Great! Thanks for offering to help!

Well, I hope that is indeed all. Give it a go and let us know how it works out. Please, feel free to join our [chat channel](https://chat.carlspring.org/) for more details.

[2019-10-02 17:27] TheKeySpammer commented on #1487
Regarding **System.getProperty("java.io.tmpdir")**
After doing research about tmp directory and how it is handled by java I came to following conclusion.

- Initially the System property java.io.tmpdir is set by JDK by calling underlying get_temp_directory() system call. Temp directories are handled by Operating System, therefore temp directory is always initially available to java. But, this syst

[2019-10-02 17:29] TheKeySpammer commented on #1487
@fuss86 Should I commit each task individually or complete all tasks and commit once and create a pull request.

[2019-10-02 18:04] TheKeySpammer commented on #1487
Regrading task
org.carlspring.strongbox.booters.PropertiesBooter#tempDirectory should be dropped as it is not used almost anywhere

tempDirectory is used in org.carlspring.strongbox.controllers.layout.maven.MavenArtifactControllerTest to build artifactdeployer
at line 828. How should we refactor it?

[2019-10-02 19:15] fuss86 commented on #1487
use property value under `java.io.tmpdir` key

[2019-10-02 21:16] steve-todorov commented on #1490
Ahh.. it looks like I did not pay attention to the repository you were deploying yesterday @pyashwanthkumar. Sorry. :)

[2019-10-02 21:47] carlspring opened #1493 "Upgrade org.hibernate:hibernate-validator to version 5.2.5.Final, 5.3.6.Final, 5.4.2.Final or higher"
# Task Description

Our current version of `hibernate-validator` is prone to arbitrary code execution, as reported [here](https://snyk.io/vuln/SNYK-JAVA-ORGHIBERNATE-451605).

We need to upgrade this in [strongbox-parent](https://github.com/strongbox/strongbox-parent/) to a newer version and validate that things still work. Please, pick the latest version that still works. If none of them are comp

[2019-10-02 21:47] pyashwanthkumar commented on #1481
Some findings on this issue -

get request is being made with the following uri `/storages/storage-npm/npmjs/@angular/core/-/core-9.0.0-next.8.tgz`

the error is cause of `<next.8>` does not match format `(\d+)\.(\d+)(?:\.)?(\d*)(\.|-|\+)?([0-9A-Za-z-.]*)?`

It's a semantic version format issue

[2019-10-02 21:49] pyashwanthkumar commented on #1490
Cool! NP!. Glad to know the issue :)

[2019-10-02 22:31] PrzemyslawCieslik commented on #1493
somebody doing this or can i take it?

[2019-10-02 22:52] carlspring commented on #1493
Hi @PrzemyslawCieslik ,

Please, feel free to pick it up and to join our [chat channel](https://chat.carlspring.org/)! :)

[2019-10-03 01:39] sbespalov commented on #1481
@pyashwanthkumar the version seems should be `9.0.0-next.8` but not just `next.8`, so probably we got wrong version somewhere in our code.

[2019-10-03 01:47] sbespalov commented on #1481
the problem can be related with Spring MVC mapping in `NpmArtifactController#downloadPackageWithScope`, so in case of version contains `-` it cuts the version and it starts from last `-` character.

if this assumption is true then we can try to use regular expressions within Spring MVC mapping, something similar with `NugetArtifactController.searchPackages`

[2019-10-03 02:16] erikweibust commented on #1117
I'd like to help with this issue

[2019-10-03 02:54] bsemexan commented on #1493
The hibernate validator is <version.hibernate.validator>6.0.7.Final</version.hibernate.validator>
in the repo i forked. Does ti need to be tested or something?

[2019-10-03 03:06] bono007 commented on #1487
Just a heads up that this has overlap w/ #1169 . However, this will go in before mine as we are leaving 1169 open and adding more functionality to it. I will keep the changes made here in mind.

[2019-10-03 12:00] carlspring commented on #1117
Thanks, @erikweibust , please proceed ! :)

[2019-10-03 12:16] carlspring commented on #1481
I would like to suggest that you create a thorough list of valid npm package names (including their versions) and add a test case that tries to resolve them. This way we can make sure we don't break it again in the future.

[2019-10-03 12:23] carlspring commented on #1493
@bsemexan ,

I seem to have forgotten to add an "acceptance test" section in the description. Could you please have a look now?

[2019-10-03 12:52] steve-todorov commented on #1481
That's a good idea. I actually found this issue by accident while doing a plain `npm install @angular/core`. It doesn't specify a version but will try to get the latest version which in this particular case happens to be `9.0.0-next.8`. :)

[2019-10-03 15:44] bono007 commented on #1169
So for the YamlFileManager and its kids, the behavior for current resource loading is this (using UsersFileManager values as an example - all of the kids follow this format)

1) If the "strongbox.users.config.yaml" property is set use its value as the path to load the yaml resource with

2) Otherwise, if there is an actual file at "$HOME/etc/conf/strongbox-security-users.yaml" load the yaml from t

[2019-10-03 20:43] carlspring opened #1496 "Module restructuring"
# Task Description

We are planning to do a refactoring that will:
* Bring the [`strongbox-parent`](http://github.com/strongbox/strongbox/) back under the [`strongbox`](http://github.com/strongbox/strongbox/) project.
* Bring the [`strongbox-npm-metadata`](http://github.com/strongbox/strongbox-npm-metadata/)  under the [`strongbox`](http://github.com/strongbox/strongbox/) project.

# Tasks

The fo

[2019-10-03 22:00] #1456 closed

[2019-10-03 22:45] #1484 closed

[2019-10-04 08:14] #1476 closed

[2019-10-04 09:01] steve-todorov opened #1497 "Use MediaType, HttpStatus and HttpHeaders instead of strings in our code base"
# Task Description

There are some left-overs in our code base where we are still using strings instead of the appropriate enums when setting headers and their values. You need to find all such classes/test cases and convert them to use the appropriate enums from:

[code]

Example:

1. If you happen to find test cases which have the following code:
[code]
    You should convert it to this:
[code]

[2019-10-04 09:35] cagans42 commented on #1497
Can I take this up ? @steve-todorov

[2019-10-04 09:59] steve-todorov commented on #1497
Hi @cagans42 - sure thing!

Feel free to [join our chat](https://chat.carlspring.org) if you have questions! :)

[2019-10-04 12:25] shubhamivane commented on #1373
@sbespalov May I work on this?

[2019-10-04 15:52] carlspring commented on #1169
It's a bit confusing, I know.

We have the `strongbox-distribution` and we have the `strongbox-web-core`. The `strongbox-distribution` is the final binary. The `strongbox-web-core` is just the REST API. Typically, we use the `strongbox-web-core` for development and rarely have to debug using the `strongbox-distribution`.

I think it's important to be able to specify the location of the respective

[2019-10-04 16:02] carlspring commented on #1166
@fuss86 / @sbespalov ,

What's the status of this task? Is this something we need to further discuss? Is there a value in it? Should we close it?

[2019-10-04 18:31] LeifBrooks commented on #1480
This is in progress. I've wired up the endpoint, but I might have a question or two for you guys in a bit.

[2019-10-04 18:36] bono007 commented on #1169
Ok so that makes sense why the former is tried first and if no file is there is uses the latter.

Can you tell me where each one is the default for? Its possible that there is another property that can be used to derive the default to use based on the "mode" (aka where its being run from) instead of having a custom loader.

[2019-10-04 18:59] mslowiak commented on #1390
Updated jackson to version 2.10.0

[2019-10-04 19:03] fuss86 commented on #1169
Hi @bono007 :)

Thank you for your comments. As you can see it looks overcomplicated and we would like to simplify it. At final stage we want to get rid of `ConfigurationResourceResolver`. In the time this project was started there was no `Spring Boot` (at least in the `strongbox` project it was not a part of initial technology stack). We decided to migrate to `Spring Boot` couple of months ago. S

[2019-10-04 19:06] anki2189 commented on #1497
@cagans42 : Have you picked this task ? If not can I work on it.?

[2019-10-04 20:25] #1390 closed

[2019-10-04 21:23] bono007 commented on #1169
Hi @fuss86 . Yw and ty for you reply.

Yep I got all of that - I totally get the context and evolution. Also, I actually have what you described implemented on my user branch. My main question is do we need those 2 level of defaults that is currently implemented? @carlspring comment makes its sound like it is required. Your's sounds like its not a hard requirement.

I will continue on w/ this simp

[2019-10-04 21:32] carlspring commented on #1169
@bono007 ,

My comments were more for your better understanding of why this looks like this. You can try it like @fuss86 has explained. If it works, we'll review it and see where it leads us. :)

[2019-10-04 23:42] carlspring commented on #1480
Shoot! :)

[2019-10-05 01:30] brunocriado commented on #368
Hey,

I'm reviewing some *good first issue* tickets and looks like we can close that one once we have some repo that was archived.

Thoughts?

[2019-10-05 09:17] TheKeySpammer commented on #1487
A question regarding task #1, throwing an exception in TempDirBooter Sytem.getProperty("java.io.tmpdir") == null. How should we handle the exception,

- Should we catch it in createTempDir and create a new tempDir in StrongboxHome?

- Or should we throw it out of the createTempDir function to be handled elsewhere?

[2019-10-05 10:33] ptirador opened #1500 "Use the built-in formatting in logging methods"
# Task Description
Passing concatenated strings into a logging method can incur a needless performance hit because the concatenation will be performed every time the method is called, whether or not the log level is low enough to show the message.

Specifically, the built-in string formatting should be used instead of string concatenation.

As of SLF4J, in the presence of multiple parameters and i

[2019-10-05 10:48] raksit31667 commented on #1500
Pretty straightforward, can I work on this issue?

[2019-10-05 10:55] carlspring commented on #1500
Go for it!

[2019-10-05 11:20] carlspring commented on #1497
@anki2189 , @harishmaA,

@ze12augusto has already submitted a pull request for this and it's already been approved (with a couple of minor change requests).

Please, join our [chat channel](https://chat.carlspring.org/), if you'd like to find out what else you can help with.

[2019-10-05 13:55] steve-todorov commented on #1376
@tizzymac have you started working on this yet?

[2019-10-05 14:20] mwvdev commented on #1374
Hey folks, I'd love to give this a go. I'll join the chat to get started.

[2019-10-05 14:39] carlspring commented on #1374
Hi @mwvdev,

Feel free to pick it up!

[2019-10-05 16:13] sainalshah commented on #1179
@carlspring I couldn't find the pypi-layout-provider branch. Is it deleted?

[2019-10-05 16:22] carlspring commented on #1179
@sainalshah ,

The branch has already been merged into the `master`. You can find the layout provider there. It's a work in progress.

[2019-10-05 16:44] sainalshah commented on #1179
@carlspring
Noted, thanks. What about the strongbox-web-integration-tests? Is it applicable for this task? Please advise.

[2019-10-05 18:07] carlspring commented on #1179
It is relevant, yes. This is where the [`strongbox-web-integration`](https://github.com/strongbox/strongbox-web-integration-tests) are located.

[2019-10-06 08:28] mwvdev commented on #1374
The `appassembler-maven-plugin` is used to generate the script in question, and reading the [docs](https://www.mojohaus.org/appassembler/appassembler-maven-plugin/index.html) I've been unable to find a clean way to make changes to the console command only. Changing settings per platform is possible, but I couldn't find a way to change settings per command. I suppose you could do post-processing of

[2019-10-06 09:48] fuss86 commented on #1487
If `Sytem.getProperty("java.io.tmpdir") == null` then we should not allow the application to start.

[2019-10-06 11:55] fuss86 opened #1501 "Update the documentation regarding tests and assertJ assertions"
# Task Description

Once we standardized tests assertions using [AssertJ](https://joel-costigliola.github.io/assertj/) we should amend the documentation related to `Writing tests` topic.

# Tasks

The following tasks will need to be carried out:
* [ ] Update https://strongbox.github.io/developer-guide/writing-tests.html page. Let people know we use [AssertJ](https://joel-costigliola.github.io/asse

[2019-10-06 11:56] fuss86 commented on #1501
@mslowiak would you mind picking up this task ?

[2019-10-06 12:26] carlspring commented on #1497
Closed via #1498

[2019-10-06 12:26] #1497 closed

[2019-10-06 12:28] HarishmaA commented on #1497
Sure..Thanks

On Sun, 6 Oct 2019, 17:56 Martin Todorov, <notifications@github.com> wrote:

[2019-10-06 12:39] mslowiak commented on #1501
Yup, I will handle that

[2019-10-06 18:36] TheKeySpammer commented on #1487
I have been trying to figure out a better way to solve this null value problem. ```System.getProperty("java.io.tmpdir") == null``` then the application should not start. If this is the case then there is no purpose of TempDirBooter, since we don't want setting up temp directory during run time. Since I am new to Spring Framework, I have been experimenting with quite a few different ideas. Here is

[2019-10-07 00:32] jjjimenez100 commented on #1500
@raksit31667 Hi, are you working on this one? If not, can I take it? :)

[2019-10-07 01:51] bono007 commented on #1169
I have a working solution that covers the above cases and looks like this in practice... (this is the entire UsersFileManager.java w/ the changes)....
[code]

Couple of things you will notice.

1. The Resource is loaded "automagically" using the `@Value` annotation to choose its path to the resource. This relies on the naming of the paths as described [here](https://docs.spring.io/spring/docs/3.2.

[2019-10-07 03:58] raksit31667 commented on #1500
I'm working on it, it takes a village to complete all of them since there are lots of logs there :(

[2019-10-07 05:02] sbespalov commented on #1374
@mwvdev thanks for research.

this seems not good for me as well.

As an option maybe there is some execution mode specific  ENV variables? If so then we can manage console logging this way.

[2019-10-07 07:23] raksit31667 commented on #1500
@carlspring Please kindly approve #1506, let me know if there are any concerns.

[2019-10-07 18:28] carlspring opened #1507 "Add a Stackoverflow badge"
# Task Description

We'd like to add a badge for Stackoverflow in our `README.md` file (under the list of other badges at the top).

[This is the link](https://stackoverflow.com/tags/strongbox/) to our tag on Stackoveflow.

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @fuss86
  * @sbespalov
  * @steve-todorov

[2019-10-07 18:31] iam-abbas commented on #1507
I would like to take this up

[2019-10-07 21:13] fuss86 opened #1511 "Make sure that no passwords are shown in the logs"
# Task Description

When a user authenticates, the logs may contain his hashed password. We should make sure that we don't leak any credential information in the logs (even hashed passwords).

# Tasks

The following tasks will need to be carried out:
* [ ] Enumerate all possible classes that uses credentials / passwords
* [ ] Make sure their `toString` methods do not contain sensitive data
* [ ] M

[2019-10-08 01:48] sbespalov opened #1512 "Implement strict checksum validation option for Repository"
# Task Description
We need to have an  `strictChecksum` option for `Repository` which will prevent of uploading artifacts with broken checksum. For now we have only `ERROR` log message in case of invalid checksum _(see `ArtifactManagementService.validateUploadedChecksumAgainstCache`)_.

This should be configurable.

# Tasks

The following tasks will need to be carried out:
* [ ] Add `strictChecksu

[2019-10-08 02:17] sbespalov opened #1513 "Unit test for RemoteRepositoryAlivenessCacheManager"
# Task Description
We need a Unit Test for `RemoteRepositoryAlivenessCacheManager` functionality.
The unredlaing cache within test should be Hazelcast cache instance (distributed).

# Tasks

There should be following test cases:

* [ ] check that `RemoteRepositoryAlivenessCacheManager.isAlive` return `true` if there is no cached value for particular repository
* [ ] check that `RemoteRepositoryAli

[2019-10-08 02:49] sbespalov opened #1515 "Rework `RepositoryManagementStrategy` repository initialization"
# Task Description
We are currently using the same `RepositoryManagementStrategy` when creating a new repository and when loading existing repositories from the configuration within application startup. This approach is wrong because all changes made for repository configuration (cron jobs, etc) will be overwritten on every application restart.

Within this task we need to use `RepositoryManagemen

[2019-10-08 04:10] sairamvudatha commented on #1511
@fuss86 Could I take this up?

[2019-10-08 12:09] n00ner commented on #1511
I want to help

[2019-10-08 12:15] carlspring commented on #1511
Feel free to dig in! :)

[2019-10-08 12:20] bono007 commented on #1511
I would recommend doing this for all PII. If we are already going to be scouring logs for creds - it woulld be worth doing that as well. Could be done in a follow on ticket as well.

[2019-10-08 13:29] carlspring commented on #1511
I'm assuming you're referring to "personally identifiable information"?

If so, I believe the only information that we keep a record of is the username/e-mail, so I'm not quite sure what else we could sanitize and restrict.

[2019-10-08 13:34] tomasdaneshjo commented on #1512
Hey, could I start working on this as my first issue?

[2019-10-08 13:49] carlspring commented on #1512
Hi!

Feel free to dig in! :)

[2019-10-08 13:52] bono007 commented on #1511
Yep. Email would be one.

[2019-10-08 15:43] bsemexan commented on #1493
When I have tried to build following this
https://strongbox.github.io/developer-guide/building-the-code.html

It's failing at this part

[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  01:59 min
[INFO] Finished at: 2019-10-08T11:42:20-04:00
[INFO]

[2019-10-08 15:47] mwvdev commented on #1374
@sbespalov You're welcome.

There could be, but I haven't been able find any that fit the bill.

[2019-10-08 15:48] mwvdev commented on #1513
I'd like to give this a go.

[2019-10-08 15:50] carlspring commented on #1513
Great! Go ahead and dig in! :)

[2019-10-08 21:26] fuss86 opened #1517 "Test and document Reverse Proxy Server settings working in front of strongbox"
# Task Description

We would like to have tested and documented configuration of some `Reverse Proxy Servers` (`nginx` and/or others) working in front of `strongbox`.

It might need to investigate things like `X-Forwarded-` headers and `server.use-forward-headers` property from https://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html

If things don't work -

[2019-10-08 22:18] PrzemyslawCieslik commented on #1111
somebody doing this or can I take it?

[2019-10-08 23:52] carlspring commented on #1111
@PrzemyslawCieslik ,

Feel free to try out the explanations above and confirm them.

[2019-10-09 05:07] har-vy commented on #1515
Hi @carlspring can I work on this? This is my first issue.

[2019-10-09 13:52] carlspring commented on #1515
Hi,

Feel free to look into it and to submit a pull request! :)

[2019-10-09 14:04] #1179 closed

[2019-10-09 14:06] carlspring commented on #1180
@sainalshah ,

Would you perhaps like to look into this...?

[2019-10-09 15:18] sainalshah commented on #1180
Sure, I'm working on this task.

[2019-10-09 15:21] carlspring commented on #1180
Thanks for picking it up! :)

[2019-10-09 19:26] fuss86 commented on #1517
@PrzemyslawCieslik please start working on this task :)

Please evaluate `nginx` first :)

Thank you :)

[2019-10-09 20:06] evsikov commented on #657
@carlspring, can I work on this one?

[2019-10-09 20:27] fuss86 commented on #657
I'm sure @carlspring would say `yes` :) Pick it up :)

[2019-10-09 20:48] carlspring commented on #657
Of course! Please, go ahead!

[2019-10-09 21:17] evsikov commented on #657
On it.

[2019-10-09 21:22] santhoshima10 commented on #1373
@carlspring is anyone working on this issue

[2019-10-09 21:28] erikgajdos1997 commented on #1512
Hi, can I try to make this?

[2019-10-09 22:18] carlspring commented on #1373
Feel free to pick it up, look into it and submit a pull request. Just leave a comment, if you decide to dig into it. Good luck! :)

[2019-10-09 22:25] carlspring commented on #657
You might want to look at #1373 as well. To be honest, I'm not sure, if that's not a duplicate (@fuss86 , @sbespalov : could you please confirm, thanks!).

[2019-10-10 00:01] mans4321 commented on #1401
Can I work on this?

[2019-10-10 00:04] carlspring commented on #1401
Go for it! :)

[2019-10-10 11:43] carlspring opened #1518 "Create a new test for the deployment and resolution of large artifacts"
# Task Description

We need to add a test that tries to deploy a large artifact (2 GB) to each of the currently supported layout providers (Maven, NPM, NuGet, Raw) and then also resolve it.

The new tests should be added under the [`strongbox-web-integration-tests`](https://github.com/strongbox/strongbox-web-integration-tests/). There should be a new test each of sub-modules.

Please, note:
* Tthi

[2019-10-10 12:50] #1475 closed

[2019-10-10 16:28] LeifBrooks commented on #1480
[Uploading adduser_twice_verdaccio.txt…]()

[2019-10-11 07:12] sbespalov commented on #657
#1373 is not dup

[2019-10-11 08:32] carlspring commented on #657
Okay, thanks!

[2019-10-11 13:49] lunodesouza commented on #1507
Please close this issue! :)

[2019-10-11 14:00] carlspring commented on #1507
Thanks for bringing it to my attention!

[2019-10-11 14:00] #1507 closed

[2019-10-11 16:38] LeifBrooks commented on #1480
As @sbespalov suggested in chat, I will:
1. Verify the npm user credentials in the NpmController, similar to how it is done in LoginController
2. Return success message that the user was created, or error message that user is not a strongbox user

[2019-10-11 16:52] theparselmouth commented on #1511
Has someone taken this up already ?

[2019-10-11 16:59] theparselmouth commented on #1312
This is my first attempt, can I take this up ?

[2019-10-11 17:22] theparselmouth commented on #834
Can I still do this ? This will be my first issue

[2019-10-11 17:22] carlspring commented on #1312
It might be a good idea to pick something that's not related to the AQL, but, sure, give it a go! :)

[2019-10-11 18:54] carlspring commented on #1511
@theparselmouth , @n00ner said they'd look into it, but as we haven't seen a pull request yet, I'd say it's probably up for grabs, so you can have a go at it, if you like.

[2019-10-11 20:01] carlspring commented on #834
@theparselmouth ,

As explained above, this is a sub-task of #829. We don't have support for Gems yet. If you would like to implement Ruby Gems support as a whole, then let me know (but that's quite an undertaking). :)

[2019-10-11 21:13] n00ner commented on #1511
@theparselmouth, try it =)

I just studying and work slowly.

[2019-10-11 22:13] santhoshima10 commented on #1373
@carlspring thanks for reply but i guess i will not be taking this issue since alot of areas are new to me

[2019-10-12 09:36] har-vy commented on #1515
@sbespalov I have started looking into the code and might need your help to understand it. I went through how repositories are being created and fetched from the same RepositoryManagementStrategy. But i couldn't understand how configurations for  are being overwritten during application startup.

[2019-10-12 11:07] Ankit-Singla commented on #1513
Hey, is @mwvdev still working on this one?
If not, I would love to give it a try.

[2019-10-12 11:16] mwvdev commented on #1513
Hey @Ankit-Singla - I'm still working on it. I have most of the tests in place but there's a few quirks here and there that I'm trying to iron out before doing a pull request.

[2019-10-12 11:17] dominusmars commented on #1518
@carlspring can i try to test it ?

[2019-10-12 17:10] carlspring opened #1519 "Authentication fails when concurrent requests to protected endpoints occur"
# Bug Description

Concurrent requests to protected endpoints fail with 401 Unauthorized.

# Steps To Reproduce

Save as `bug.sh`
[code]

Run `sh bug.sh` with a running `Strongbox` instance (i.e. from strongbox-web-core)

##  Received response upon 401

[code]

# Expected Behavior

The authentication attempts succeed.

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
 * @ste

[2019-10-12 18:20] wpater commented on #1518
@dominusmars I am working on it.

[2019-10-12 19:14] carlspring opened #1521 "Move the images for the Nuget (Visual Studio) example from the old wiki to the new one"
# Task Description

We have migrated our wiki from [the strongbox project](https://github.com/strongbox/strongbox/wiki) to [strongbox-docs](https://strongbox.github.io/) project. We appear to have some images still pointing to the old wiki and this prevents us from being able to shut down the old wiki, which is now obsolete and might be misleading people.

# Tasks

The following tasks will need to

[2019-10-12 19:17] carlspring commented on #1518
@dominusmars ,

Thanks for your interest! Feel free to join our [chat channel](https://chat.carlspring.org/) to find out what else you could help with!

[2019-10-12 19:34] JekRock commented on #1521
Can I take this issue?

[2019-10-12 19:44] carlspring commented on #1521
Hi @JekRock ,

Feel free to look into it! Thanks for offering to help! :)

[2019-10-12 20:08] carlspring commented on #503
@sbespalov ,

Would you mind updating the description with the proper names of the classes? Thanks! :)

[2019-10-12 21:03] carlspring opened #1522 "Better control of Spring beans component scan"
# Task Description

We have a real problem with Spring configuration classes and `@ComponentScan`. The problem is that all our modules share similar package names like `org.carlspring.strongbox.services` or `org.carlspring.strongbox.config` which can cause ambiguous behavior when using the `@ComponentScan` annotation. We can't say for sure what configuration will fetch beans from such packages and

[2019-10-12 21:08] carlspring commented on #1512
Dig into it and have fun, @newarcher36 ! :)

[2019-10-12 21:14] JekRock commented on #1521
Hi @carlspring ,

Glad to help!
I've made two pull request for this issue. Could you please check them out?

- [This](https://github.com/strongbox/strongbox-docs/pull/46) for copying images
- [This](https://github.com/strongbox/strongbox-examples/pull/16) for changing links for the images

[2019-10-12 21:25] carlspring opened #1523 "Add a new page to our wiki describing how to analyze the traffic of protocols of the different layout providers"
# Task Description

We need to add a new page in our [Developer's Guide](https://strongbox.github.io/developer-guide/getting-started.html) that explains how to analyze traffic in order to be able to implement features and debug issues for the protocols of the different layout providers.

The work for this will have to be done under the [strongbox-docs](https://github.com/strongbox/strongbox-docs)

[2019-10-13 01:16] carlspring commented on #1373
@shubhamivane ,

Feel free to look into it!

[2019-10-13 01:52] #1482 closed

[2019-10-13 16:32] bono007 commented on #1522
@fuss86
@carlspring

### Analysis:

* Each module has no separation from other modules by package name.
* Each module enables `@CopmonentScan` across a set of (usually wide) package names - which will bleed across modules

### Suggestion:

1. Disable component scanning in the main application class by switching from `@SpringBootApplication` to
[code]
Right now there is really nothing it can scan a

[2019-10-13 23:05] newarcher36 commented on #1512
Hi @sbespalov Just a quick question, which value do I set by default in the property strictChecksum in strongbox.yaml? Thanks

[2019-10-14 00:29] brunocriado commented on #817
Ok, I'm on it.

[2019-10-14 02:51] sbespalov commented on #1522
@bono007 thanks for looking into it. Your suggestion is just like I suppose it should be, but this will force all our code to be moved inside new packages and it looks like epic refactoring, too epic probably. :)
Anyway this option is still an option and we should see @strongbox/core-developers thoughts

Another option is following:
1. Use `@ComponentScan` only within `CommonConfig` and import it

[2019-10-14 02:52] rosstimm commented on #1523
I am interested in helping out with this task.

[2019-10-14 03:59] sbespalov commented on #1512
@newarcher36 let it be `true` by default

[2019-10-14 19:05] carlspring commented on #1522
Would it be possible to just move the `@Configuration`-annotated classes under their own per-module-packages? Would this suffice...?

@fuss86 : Any thoughts on this?

[2019-10-14 19:08] fuss86 commented on #1522
Re-package would be best, but as @sbespalov noticed, it is huge change.

Another alternative is to use `@Configuration`, `@Bean` and `constructor injection`. This would lead to better control of components creation. We could start from `strongbox-web-core` and go down module by module.

[2019-10-14 19:11] fuss86 commented on #1522
And my proposal above should be done with `@Configuration` classes re-package as suggested above by predecessors :)

[2019-10-14 19:18] carlspring commented on #1522
Would it be sufficient to just move the `@Configuration` classes and do the `@Bean` + constructor injection at first in order to drop the `@ComponentScan` annotations?

[2019-10-14 19:20] fuss86 commented on #1522
Yes, I believe so

[2019-10-14 19:26] carlspring commented on #1522
Okay, then I guess we're all on the same page. @bono007 , please feel free to proceed as discussed! :)

[2019-10-14 21:33] #1501 closed

[2019-10-15 03:41] steve-todorov opened #1527 "Allow passing token via cookie"
# Task Description

We need to make it possible to authenticate with a cookie called `access_token` which holds the JWT. This is necessary so that we can use `EventSource` on protected endpoints as there is no other way to authenticate. The current `EventSource` specs do not allow passing headers and passing the token into the URL is not very wise from a security point of view.

# Task Relationshi

[2019-10-15 10:45] bono007 commented on #1522
Sounds good. This will take a while but I will chip on it module/module over the week.

[2019-10-15 13:06] carlspring opened #1528 "Upgrade org.apache.commons:commons-compress to 1.19, or higher"
# Task Description

We need to upgrade to `org.apache.commons:commons-compress:1.19`, or higher, due to the following discovered vulnerability;

CVE-2019-12402 [More information](https://nvd.nist.gov/vuln/detail/CVE-2019-12402)
**high severity**
**Vulnerable versions:** >= 1.15, < 1.19
**Patched version:** 1.19
The file name encoding algorithm used internally in Apache Commons Compress 1.15 to 1.1

[2019-10-15 13:20] mslowiak commented on #1528
I can handle that

[2019-10-15 13:46] #368 closed

[2019-10-15 13:46] carlspring commented on #368
This task is obsolete. Thanks!

[2019-10-15 13:49] carlspring commented on #1528
Thanks! Please, make sure it doesn't break anything! :)

[2019-10-15 16:39] steve-todorov opened #1529 "Create a jtwig extension which converts byte size into human readable size"
# Task Description

We need to create a jTwig extension which is capable for converting the byte size into a human readable string. Although the `byte size` should in most cases be a `Long` this is going to be used in the templates and the value might sometimes also be a `String`. If the value cannot be properly converted - it should return the same value.

The extension should be placed a new pac

[2019-10-15 20:28] millimetha commented on #1529
I´ll work on this issue

[2019-10-16 03:01] pyashwanthkumar opened #1531 "Determine what version should be treated as latest for npm repositories"
# Task Description

Currently, when executing the command `npm install @angular/core`, it grabs the pre release version that is available from angular. Looking at the angular tags [here](https://github.com/angular/angular/releases), they are releasing both stable version(for example: 8.2.11) and a pre release version(example: 9.0.0-next.10). This task is to determine what version should be install

[2019-10-16 03:03] pyashwanthkumar commented on #1531
@carlspring @steve-todorov @sbespalov Please review the description and see if anything else needs to be added to the task description. :)

[2019-10-16 14:15] steve-todorov opened #1532 "NPE is showing while building the code"
# Bug Description

While building Strongbox, a NPE is being thrown sometimes at random tests. This is probably a concurrency issue which doesn't seem to be directly affecting any of the tests (i.e. they are not failing) but the exception is getting thrown nonetheless.

# Steps To Reproduce

1. Clone Strongbox
2. `mvn clean install -Dintegration.tests` (but it's happening randomly so it might take

[2019-10-16 16:22] #1527 closed

[2019-10-16 17:12] carlspring opened #1533 "Set up code coverage and quality analysis using Sonarqube"
# Task Description

This is the master task for setting up code coverage and quality analysis using Sonarqube.

# Tasks

The following tasks will need to be carried out:

**Code coverage tasks:**
* [ ] Get code coverage and code quality analysis to work with JaCoCo:
  * [ ] Get unit tests executed with the `maven-surefire-plugin` to produce JaCoCo coverage.
  * [ ] Get integration tests executed w

[2019-10-16 17:18] LeifBrooks commented on #1480
@sbespalov Ok so I ran into an issue, and I would like some design advice, if possible.

In my NpmLoginAuthenticationSupplier.java:

`@override
public boolean supports(@nonnull HttpServletRequest request)
{
this.npmUser = deserializeNpmUser(request);

    return "PUT".equalsIgnoreCase(request.getMethod()) &&
            request.getContentType()!=null &&
            request.getContentType().contain

[2019-10-16 18:12] LeifBrooks commented on #1480
@sbespalov, actually I think just looking for "/-/user/org.couchdb.user:" in the URI might be a better approach. We only care about requests with that.

[2019-10-16 19:54] carlspring opened #1534 "Implement support for generating test artifacts with a specified size"
# Task Description

We need to be able to create test artifacts with a specified size.

This is the master task to help track things and the work should be done in the respective tasks listed below.

# Tasks

The following tasks will need to be carried out:
* [x] Implement support for generating test artifacts with a specified size for Maven ( #1535 )
* [x] Implement support for generating test ar

[2019-10-16 19:59] wpater commented on #1534
Working on this one.

[2019-10-16 20:00] carlspring commented on #1534
Okay, thanks! I'll create the sub-tasks shortly. :)

[2019-10-16 20:04] carlspring opened #1535 "Implement support for generating test artifacts with a specified size for Maven"
# Task Description

We need to be able to create test artifacts with a specified size.

# Classes of Interest

* `org.carlspring.strongbox.artifact.generator.MavenArtifactGenerator`
* `org.carlspring.strongbox.testing.artifact.MavenTestArtifact`

# Tasks

The following tasks will need to be carried out:
* [ ] Apply the necessary changes to the `org.carlspring.strongbox.artifact.generator.MavenArti

[2019-10-16 20:19] carlspring opened #1536 "Implement support for generating test artifacts with a specified size for Npm"
# Task Description

We need to be able to create test artifacts with a specified size.

# Classes of Interest

* `org.carlspring.strongbox.artifact.generator.NpmArtifactGenerator`
* `org.carlspring.strongbox.testing.artifact.NpmTestArtifact`

# Tasks

The following tasks will need to be carried out:
* [ ] Apply the necessary changes to the `org.carlspring.strongbox.artifact.generator.NpmArtifactGe

[2019-10-16 20:19] carlspring opened #1537 "Implement support for generating test artifacts with a specified size for Nuget"
# Task Description

We need to be able to create test artifacts with a specified size.

# Classes of Interest

* `org.carlspring.strongbox.artifact.generator.NugetArtifactGenerator`
* `org.carlspring.strongbox.testing.artifact.NugetTestArtifact`

# Tasks

The following tasks will need to be carried out:
* [ ] Apply the necessary changes to the `org.carlspring.strongbox.artifact.generator.NugetArti

[2019-10-16 20:21] carlspring opened #1538 "Implement support for generating test artifacts with a specified size for Pypi"
# Task Description

We need to be able to create test artifacts with a specified size.

# Classes of Interest

* `org.carlspring.strongbox.artifact.generator.PypiArtifactGenerator`
* `org.carlspring.strongbox.testing.artifact.PypiTestArtifact`

# Tasks

The following tasks will need to be carried out:
* [ ] Apply the necessary changes to the `org.carlspring.strongbox.artifact.generator.PypiArtifac

[2019-10-16 21:08] carlspring opened #1540 "Implement support for generating test artifacts with a specified size for Raw"
# Task Description

We need to be able to create test artifacts with a specified size.

# Classes of Interest

* `org.carlspring.strongbox.artifact.generator.RawArtifactGenerator`
* `org.carlspring.strongbox.testing.artifact.RawTestArtifact`

# Tasks

The following tasks will need to be carried out:
* [x] Apply the necessary changes to the `org.carlspring.strongbox.artifact.generator.RawArtifactGe

[2019-10-16 22:20] carlspring opened #1541 "Migrate to from java.util.Date to the new JDK 8 classes."
# Task Description

As suggested by @ptirador , we should consider migrating from `java.util.Date` to the new date classes in JDK8.

# Tasks

The following tasks will need to be carried out:
* [ ] Investigate, if this will affect things for OrientDB.
* [ ] Migrate the code to the new date classes.

# Useful Links

* [Baeldung: Migrating to Java 8 Date/Time API](https://www.baeldung.com/migrating-t

[2019-10-16 22:31] fuss86 commented on #1541
It will not work with `orientDb` out-of-the box. See https://orientdb.com/docs/last/Types.html

[2019-10-16 22:33] juniorrhis commented on #1532
Working on it

[2019-10-16 23:09] carlspring commented on #1532
Thanks for picking it up! Feel free to join our [chat channel](https://chat.carlspring.org/)! :)

[2019-10-17 00:42] #1521 closed

[2019-10-17 02:06] sbespalov opened #1542 "Make DirectoryListingService instances be managed by Spring Application Context"
# Task Description

Currently, we have inline instantiation of  `DirectoryListingServiceImpl` with different `baseUrl` parameters within `LoggingManagementController` and `BrowseController`. In this task we should re-work it to inject `DirectoryListingService` instances through Spring.

As an option we can use classifiers to have different instances of same `DirectoryListingService` interface.

#

[2019-10-17 11:03] carlspring commented on #1541
Thanks for pointing this out, @fuss86 !

@ptirador , thanks for the suggestion, but I guess this will have to be put on hold, until OrientDB decide to do something about it. :(

[2019-10-17 11:10] carlspring opened #1543 "Implement support for the npm unpublish command"
# Task Description

Generally, unpublishing is poor practice, as it can break things for other projects, if they are already depending on the version of the artifact that is being remove. However, there are sometimes valid reasons to want to do so (for example, accidentally leaked credentials, or other sensitive data). Therefore, we would like to add support for the `npm unpublish` command.

For N

[2019-10-17 11:17] ptirador commented on #1541
@carlspring: No problem about it.
@fuss86: Thanks for clarifying :)

[2019-10-17 12:03] steve-todorov commented on #1529
Sure @millimetha! If you need help you can join our [chat](https://chat.carlspring.org)  :)

[2019-10-17 12:55] #1500 closed

[2019-10-17 18:33] mslowiak commented on #1528
@carlspring @steve-todorov Ready and tested locally :)

[2019-10-17 22:56] #1528 closed

[2019-10-17 23:59] carlspring opened #1545 "Create an article on how to write strongbox-web-integration-tests"
# Task Description

We need to write an article on how to write tests in the [`strongbox-web-integration-tests`](https://github.com/strongbox/strongbox-web-integration-tests/).

The documentation is located in the [`strongbox-docs`](https://github.com/strongbox/strongbox-docs/). Please, add the article under the `Writing Tests` section called `Strongbox Web Integration Tests`.

# Help

* [Our chat

[2019-10-18 01:09] carlspring opened #1546 "Implement support for pip search"
# Task Description

We need to implement support for the `pip sarch` command.

# Tasks

The following tasks will need to be carried out:
* [ ] Investigate how the command works.
* [ ] Collect some sample traffic and attach it here.
* [ ] Implement the functionality.
* [ ] Add a test the the [strongbox-web-integration-tests]().
* [ ] Update the documentation to reflect that this command is supporte

[2019-10-18 01:30] bono007 commented on #1522
Ok so digging into this and starting to do this approach turns out to be more "epic" than a package refactoring. The reason is that we are basically going to replace every auto-configured `@Component` and `@Service` with a manually configured `@Bean` counterpart. This is a HUGE effort. Additionally, it will be more risky as switching to bean-level configuration as its a change to the entire surfac

[2019-10-18 08:37] carlspring commented on #1522
In this case, perhaps you could pick another task, while we discuss this internally with the @strongbox/core-developers team and weigh the pros and cons of doing this right now...?

[2019-10-18 09:28] sbespalov commented on #1522
also as an option we can put bean class names somewhere under module `META-INF` and make Spring to scan only classes that defined there.

[2019-10-18 10:43] bono007 commented on #1522
Yep I think we should wait on this task until we upgrade to Spring 2.2 in which there is the [spring-context-indexer](https://docs.spring.io/spring/docs/5.1.2.RELEASE/spring-framework-reference/core.html#beans-scanning-index) in Spring 5.2 that will do this for us.

In fact, this could be the "business motivator" for doing the upgrade.

[2019-10-18 11:23] carlspring commented on #1522
@sbespalov , @fuss86 , @ptirador ,

Perhaps we should indeed investigate [spring-context-indexer](https://docs.spring.io/spring/docs/5.1.2.RELEASE/spring-framework-reference/core.html#beans-scanning-index) first?

@sbespalov : We need follow-up tasks for upgrading to the latest version of Spring Security and Spring Boot (where your pull request has been merged). Could you please create these tasks

[2019-10-18 11:50] carlspring commented on #1169
Can this now be closed?

[2019-10-18 13:09] carlspring opened #1547 "Add a dependency exclude for org.testng:testng"
# Task Description

We're not using `org.testng:testng` in this project, but it's coming as a transitive dependency via `org.codehaus.groovy:groovy-all@3.0.0-beta-3` › `org.codehaus.groovy:groovy-testng@3.0.0-beta-3` › `org.testng:testng@6.14.3`.

In term, this dependency has a vulnerabilty, as explained [here](https://app.snyk.io/vuln/SNYK-JAVA-ORGTESTNG-174823).

This will most-likely have to be

[2019-10-18 13:23] sa160690 commented on #1547
Hi, can I do this as part of hacktoberfest?

[2019-10-18 13:41] carlspring commented on #1547
@patro1322 has already prepared a pull request for this.

[2019-10-18 13:42] carlspring commented on #1547
@patro1322: Have you checked, if this affects the `strongbox-web-integration-tests`?

[2019-10-18 13:45] saratbeesa commented on #1542
Dear @carlspring ,

May I work on this task ?

[2019-10-18 13:53] bono007 commented on #1169
Let me get that other PR in we are talking about - its related to the cleanup

[2019-10-18 13:56] carlspring commented on #1542
Sure! Thanks for offering to help!

[2019-10-18 14:12] carlspring commented on #1169
Okay, cool! Thanks!

[2019-10-18 15:13] RutgerDOW commented on #1511
I'm participating at hacktoberfest and choose this issue to start working on.

[2019-10-18 15:41] carlspring commented on #1511
Hi @RutgerDOW ,

Feel free to look into it! Thanks for offering to help! :)

(As we haven't heard back from @n00ner , or seen a pull request, I believe it's safe to proceed).

[2019-10-18 16:06] carlspring commented on #1493
This issue is still not properly resolved. Something is transitively bringing `org.hibernate:hibernate-validator`. The upgrade that @PrzemyslawCieslik did, defines the newest version, which seems to be under the following coordinates (note the change in the `groupId`):
[code]

@PrzemyslawCieslik , @mslowiak : Would either of you like to pick this up? :)

[2019-10-18 16:21] mslowiak commented on #1493
I can look on it tomorrow :)

[2019-10-18 16:25] carlspring commented on #1493
Thanks, @mslowiak ! I've assigned it to you! :)

[2019-10-18 16:43] mslowiak commented on #1541
FYI: https://github.com/orientechnologies/orientdb/issues/3652

[2019-10-18 16:46] ptirador commented on #1541
Thanks for the info, @mslowiak! Let's vote it up!

[2019-10-18 17:54] RutgerDOW commented on #1511
- Enumerate all possible classes that uses credentials / passwords

Do you need tooling for it, or is manually search and output to enumeration satisfying? In last case, how will it be maintained?

- Make sure their toString methods do not contain sensitive data

Is a search and delete in the logged data the solution, or is must all password object or string be omitted from methods of toString obj

[2019-10-18 17:56] carlspring commented on #1511
I think you can start by ommitting things from the `toString` method and work your way through. Deleting things through the logger might be quite an undertaking...

[2019-10-18 20:19] #1535 closed

[2019-10-18 21:04] bono007 commented on #1459
The link on Baeldung (Spring Boot Application as a Service) just shows how to manually register a SpringBoot executable jar on each of 4 OS - different manners - I doubt we will want to own that process of setting up in N different ways - it would be a full time job of support and testing.

Not sure what else is available for service wrappers. Its been quite some time needing one.

However, I woul

[2019-10-18 23:37] steve-todorov commented on #1511
@carlspring / @fuss86 / @sbespalov in addition and as a fallback option, maybe we could try to configure `logback` to `mask` certain messages using [`replace`](http://logback.qos.ch/manual/layouts.html#replace) ([example](https://stackoverflow.com/questions/4607877/mask-passwords-with-logback))?

[2019-10-19 01:07] carlspring commented on #1459
Actually, we need come up with an alternative of the JSW and it needs to provide (at least) service scripts. This has to be packaged as part of the `strongbox-distribution`.

It's not a question of whether we'll do this. It's more of a question what we'll use as an analogue to the JSW.

[2019-10-19 01:10] carlspring commented on #1493
Closing this again as a false-positive reported by snyk.io.

Apologies, guys, but it did look real, as it kept being reported.

@mslowiak : Thanks for having another look!

[2019-10-19 01:10] #1493 closed

[2019-10-19 09:27] Bremys commented on #1543
I would like to start working on this.

[2019-10-19 10:45] carlspring commented on #1543
Okay! Please, proceed! :)

[2019-10-19 14:39] #1519 closed

[2019-10-20 09:04] Bremys commented on #1543
@carlspring There are two unpublish commands, one which unpublishes a single version and one which unpublishes the entire package (this one must have --force).
Do we need to support both?

[2019-10-20 10:18] carlspring commented on #1543
Yes, we do.

[2019-10-20 14:15] fuss86 commented on #1511
@steve-todorov I think it might be hard to prepare a regex for such purpose. We can't predict it I think.

[2019-10-21 13:07] sbespalov commented on #1487
@fuss86 @TheKeySpammer sorry for late response but this task seems a bit obsolete. We already have `LayoutFileSystem.getTempPath()` so we dont need this `TempDirBooter` and it should be dropped.
Regarding `MavenArtifactControllerTest` it was reworked within #954 and there is no direct temp dir usage there.

[2019-10-21 13:08] carlspring commented on #1487
Okay, in this case, let's close this.

@TheKeySpammer : Apologies for having wasted your time with this task!

[2019-10-21 15:01] carlspring opened #1552 "Upgrade Spring Boot + Spring Security"
# Task Description

We need to upgrade to the latest versions of Spring Boot and Spring Security.

# Tasks

The following tasks will need to be carried out:
* [ ] Upgrade Spring Boot.
* [ ] Upgrade Spring Security.
* [ ] Apply any necessary refactoring.

# Task Relationships

This task:
* Relates to: spring-projects/spring-security/pull/7025

# Help

May God be with you! :)

[2019-10-21 15:35] JuWeber99 commented on #1540
Hey I whould like to get assigned so that I could give this a try.
Whould that be fine?

[2019-10-21 15:38] carlspring commented on #1540
Hi!

Sure, have a look at the existing pull request in the parent task (that was already merged) for the Maven task to see how this was implemented there. You'll have to do something similar.

[2019-10-21 17:01] steve-todorov commented on #498
It seems to be working. Closing! :)

[2019-10-21 17:01] #498 closed

[2019-10-21 17:39] fuss86 commented on #1487
Shouldn't we drop `TempDirBooter` ? @carlspring  ?

[2019-10-21 17:57] carlspring commented on #498
Thanks for following up on this! :)

[2019-10-21 18:14] fuss86 opened #1553 "Investigate occasionally failing MavenMetadataExpirationSingleGroupCaseTest test"
# Bug Description

We sometimes encounter problems with the following test `MavenMetadataExpirationSingleGroupCaseTest.groupRepositoryVersionLevelMetadataShouldBeRefreshedAsItsSingleProxySubrepository`. Below is the error from `CI`. We should find out what is the reason of failing test and fix it.

[code]

Problem might be related with `MavenMetadataExpirationProxyCaseTest` and the thing that we r

[2019-10-21 18:58] fuss86 commented on #1487
@carlspring if we don't need `<systemProperty>java.io.tmpdir=%STRONGBOX_HOME%/tmp</systemProperty>` in the `strongbox-distribution` then I think we should drop `TempDirBooter` and all code related with `java.io.tmpdir`

[2019-10-22 02:21] sbespalov commented on #1552
Spring Security: v 5.2.0.RELEASE

[2019-10-22 07:29] mukuldhariwal94 commented on #1553
is this up for grabs?

[2019-10-22 07:32] carlspring commented on #1553
Hi,
Yes, please , feel free to dig in!

[2019-10-22 10:45] #1547 closed

[2019-10-22 10:47] carlspring commented on #1547
Thank you for your help, @patro1322 and congratulations on your first pull request! :)

[2019-10-23 06:00] katsadim commented on #1536
Hello, May I give it a try?

[2019-10-23 06:03] wpater commented on #1536
Hi, I am already on it. You can try with Raw or Nuget :).

[2019-10-23 06:04] katsadim commented on #1537
I would be interested in giving it a try

[2019-10-23 08:11] carlspring commented on #1537
Go for it!

[2019-10-23 08:34] m-podhajski commented on #1538
Hi, can I take this one?

[2019-10-23 08:43] carlspring commented on #1538
Hi!

Feel free to look into it! Thanks for offering to help! :)

[2019-10-23 21:11] #1487 closed

[2019-10-24 00:00] carlspring commented on #1543
@Bremys : How are things going?

[2019-10-24 05:36] logesr commented on #1376
Hi,

If this issue is still open, I would like to contribute.

[2019-10-24 16:01] Alov commented on #847
@carlspring Hi!
Can I take this feature? Any other from YUM-support pool?

[2019-10-24 16:08] carlspring commented on #847
@Alov :

Feel free to look into it, if you're experienced with `yum` and `rpm`. We are currently more focused on polishing up our support for `npm` and pushing forward with our implementation of the `pypi` layout support.

I think it would be best to discuss this on our [chat channel](https://chat.carlspring.org/). Looking forward to seeing you there! :)

[2019-10-24 20:06] grantfar opened #1557 "Two test files are named wrong and don't pass"
# Task Description
The tests in: `strongbox\strongbox-storage\strongbox-storage-layout-providers\strongbox-storage-nuget-layout-provider\src\test\java\org\carlspring\strongbox\cron\jobs`,  don't run because the files are named wrong. When renamed a lot of the tests fail.

# Tasks

The following tasks will need to be carried out:
* [ ] Rename the files to end in Test
* [ ] Fix tests that fail

# He

[2019-10-25 01:32] carlspring commented on #1480
Would it be possible to add a test case to the `strongbox-web-integration-tests` for this as well? :)

[2019-10-25 09:41] JuWeber99 commented on #1540
iĺl give it a shot... :)

[2019-10-25 09:42] carlspring commented on #1540
Okay, good luck! :)

[2019-10-25 10:05] sbespalov opened #1558 "Improve `npm view` command performance for remote repositories"
# Task Description

The `npm install @angular/core` (for example) execution currently can take about 20 seconds. The problem related with `NpmRepositoryFeatures.countPackages` method, SQL query that happens there counts `ArtifactEntries`  to check if there are cached entities or not. We can rework this by using something like `SELECT 1 FROM ArtifactEntry WHERE ... LIMIT 1`. Also we should be sure

[2019-10-25 10:45] JuWeber99 commented on #1540
hey @carlspring i cant seem to get the build complete...
I followed the instructions and curled the settings.xml
anyway.. the code in the strongbox-cron-api in the class CronJobDuplicationCheckStrategiesRegistry.java

maven gives me an error and says:
[26,109] unreported exception java.lang.InstantiationException; must be caught or declared to be thrown

I don't really wanna touch classes outside

[2019-10-25 11:06] carlspring commented on #1540
The build is passing under Linux, Windows and MacOS with JDK 8. We don't support newer versions.

[2019-10-25 12:27] carlspring commented on #1540
Feel free to join our [chat channel](https://chat.carlspring.org/) for more help.

[2019-10-25 14:01] bono007 commented on #1169
@carlspring this can be closed now.

[2019-10-25 14:05] carlspring commented on #1169
Thanks for improving how this works, @bono007 ! :)

[2019-10-25 14:05] #1169 closed

[2019-10-27 03:55] sbespalov opened #1560 "Limit CPU usage for remote repositories metadata downloading cron jobs"
# Task Description
We have a set of Quartz Cron Jobs which downloading artifacts metadata from remote repositories (`repo.maven.apache.org`, `registry.npmjs.org` etc.) . There is a lot of data fetched and also a lot of RemoteArtifact entries produced by this jobs. The problem is that because of many IO operations these Cron Jobs utilise a lot of CPU usage, so when you start the Strongbox applicati

[2019-10-27 14:37] JuWeber99 commented on #1540
hey @carlspring its fine now i just built it with docker ;)

[2019-10-27 15:04] carlspring commented on #1540
Okay! Great!

[2019-10-27 16:08] PrzemyslawCieslik commented on #1543
Can I take it or somebody doing this?

[2019-10-27 16:12] carlspring commented on #1543
Hi @PrzemyslawCieslik  ,

Feel free to look into it! Thanks for offering to help! :)

[2019-10-27 20:50] carlspring opened #1562 "Remove the maven-war-plugin from any pom.xml files that might be using it"
# Task Description

We are no longer producing a `war` file, since we've now migrated to Spring Boot. The [strongbox-parent](https://github.com/strongbox/strongbox-parent/) still has the settings for the `maven-war-plugin`. We should remove this from all `pom.xml` files

# Tasks

The following tasks will need to be carried out:
* [x] Remove this from the [strongbox-proto-parent](https://github.com

[2019-10-27 21:09] carlspring opened #1563 "Clean up properties in the strongbox-parent"
# Task Description

We've migrated to `restassured` and, recently. Spring Boot. We need to double-check, if we still need these properties defined in the strongbox-parent:

[code]

If we don't need them, then we should remove them and check, if the build still works.

# Tasks

The following tasks will need to be carried out:
* [ ] Remove this from the [strongbox-proto-parent](https://github.com/st

[2019-10-27 21:14] carlspring opened #1564 "Upgrade mockito to >= 3.1.0"
# Task Description

We are currently using Mockito 2.22. We should consider upgrading to >= 3.1.0.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the [strongbox-proto-parent](https://github.com/strongbox/strongbox-proto-parent/)) project.
* [ ] Update this from the [strongbox-parent](https://github.com/strongbox/strongbox-parent/)) project.

# Acceptance Test

* [ ] Buildi

[2019-10-27 21:19] carlspring opened #1565 "Drop the org.apache.tomcat:catalina dependency from any pom.xml files that might be using it"
# Task Description

We should no longer need this dependency. This task should verify this theory, and, if so, we should remove this from all `pom.xml` files.

# Tasks

The following tasks will need to be carried out:
* [ ] Remove this from the [strongbox-proto-parent](https://github.com/strongbox/strongbox-proto-parent/)) project.
* [ ] Remove this from the [strongbox-parent](https://github.com/s

[2019-10-27 21:23] carlspring opened #1566 "Upgrade awaitility to >= 4.0.1"
# Task Description

We are currently using Awaitility 3.1.2. We should consider upgrading to >= 4.0.1.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the [strongbox-proto-parent](https://github.com/strongbox/strongbox-proto-parent/) project.
* [ ] Update this from the [strongbox-parent](https://github.com/strongbox/strongbox-parent/) project.

# Acceptance Test

* [ ] Buil

[2019-10-28 06:45] retsbol commented on #1565
I'd like to try this.

[2019-10-28 09:48] carlspring commented on #1565
Go for it!

[2019-10-28 13:37] Phitrapy commented on #1566
Let's try this!

[2019-10-28 14:03] Phitrapy commented on #1566
Well, I'm not sure I've done everything th good way. But here's what I've done:

PR for the strongbox-proto-parent project
[strongbox-proto-parent PR#10](https://github.com/strongbox/strongbox-proto-parent/pull/10)

PR for the strongbox-parent project:
[strongbox-parent PR#49](https://github.com/strongbox/strongbox-parent/pull/49)

[2019-10-28 17:24] zedd-08 commented on #1563
I would like to work on this!

[2019-10-28 19:15] mkisser-tgm opened #1569 "Integration Tests fail in strongbox-web-core due to message mismatch with non english locale"
# Bug Description

Integration tests in strongbox-web-core fail when run on a system with non english locale.

# Steps To Reproduce

1. Clone repo
2. Set system locale to something other than english (tested on german)
3. Build repo with `mvn clean install -Dintegration.tests`

# Expected Behavior
Tests should not be affected by locale of the building system

# Environment
* Strongbox Version: 1.0

[2019-10-29 04:06] chace86 commented on #1564
@carlspring please review https://github.com/strongbox/strongbox-proto-parent/pull/12

[2019-10-29 04:13] chace86 commented on #1564
Also https://github.com/strongbox/strongbox-parent/pull/51

[2019-10-29 04:25] chace86 commented on #1564
I may need advice on how to go through acceptance test criteria.

[2019-10-29 10:59] praXin commented on #1565
I'd like to take up this issue.

[2019-10-29 13:29] carlspring commented on #1565
@praXin ,

Somebody already expressed an interest in this task, but -- sure -- go ahead, if you think you could do it quickly! :)

[2019-10-29 13:32] carlspring commented on #1564
@chace86 :

Do a `mvn clean install` of the `strongbox-parent` locally and then try building the `strongbox` and `strongbox-web-integration-tests` projects. If they build successfully, then things should work fine. Just follow the steps outlined in the acceptance tests above.

[2019-10-29 20:52] wpater commented on #1537
@katsadim Are you working on it?

[2019-10-29 20:53] wpater commented on #1538
@m-podhajski Are you working on it?

[2019-10-29 20:54] m-podhajski commented on #1538
yes, i am

[2019-10-29 21:03] carlspring commented on #1537
@wpater : As we still haven't see a pull request for this, please, feel free to pick it up. Thank you! :)

[2019-10-29 21:57] #1481 closed

[2019-10-30 04:55] chace86 commented on #1564
Done!

[2019-10-30 16:13] carlspring commented on #1564
Thank you!

Congratulations on your first pull request! :)

[2019-10-30 19:59] ragcrix commented on #1563
Hi, you can assign this task to me.

I will do it.

[2019-10-30 20:02] carlspring commented on #1563
Hey, @ragcrix !

I actually finished this last night but didn't get around to creating the pull requests.

[2019-10-30 20:04] carlspring commented on #1563
Would you mind picking another task? Please, feel free to join our [chat channel](https://chat.carlspring.org/) for more details.

[2019-10-30 20:06] ragcrix commented on #1563
ok then @carlspring.

I will look at other tasks.

Thanks.

[2019-10-30 22:16] carlspring commented on #1563
Thank you for your understanding! And once again -- my apologies!

[2019-10-30 22:48] chace86 commented on #1569
I can look into this one.

[2019-10-30 23:04] carlspring commented on #1569
Excellent! Go for it!

[2019-10-30 23:04] carlspring commented on #1569
@mkisser-tgm : You are not looking into this already, are you?

[2019-10-30 23:48] chace86 commented on #1569
Is there are particular integration test that fails or all of them. When I run, I get this one failing ` org.carlspring.strongbox.controllers.layout.npm.NpmArtifactControllerTest`. However it does not name specific test(s) that are failing...
[code]

[2019-10-31 01:30] #1563 closed

[2019-10-31 17:50] ragcrix commented on #1562
Is this task still open?

[2019-10-31 18:51] carlspring commented on #1562
Hi @ragcrix ,

Well, it's open, but there have already been two contributors offering pull requests for it. However, neither of them have responded to my request for them to sign the ICLA yet...

[2019-10-31 19:48] carlspring commented on #1557
@grantfar : Can this task be closed?

[2019-10-31 20:04] grantfar commented on #1557
@carlspring yes

[2019-10-31 20:04] #1557 closed

[2019-10-31 20:09] carlspring commented on #1557
Thanks for confirming! :)

[2019-11-01 15:51] #1565 closed

[2019-11-01 17:57] carlspring commented on #1512
@newarcher36 ,

Do you have a pull request for this in the `strongbox` project as well?

[2019-11-01 18:16] newarcher36 commented on #1512
Hi @carlspring , yes I am proceeding to upload the PR for this issue

[2019-11-02 18:10] wpater commented on #1540
@JuWeber99 are you working on it?

[2019-11-02 18:13] wpater commented on #1538
@m-podhajski do you need help with that one?

[2019-11-02 18:17] Cooks-Johns commented on #844
Is this issue still open

[2019-11-02 18:30] mkisser-tgm commented on #1569
Nope, currently not looking into it due to lack of time with my diploma thesis :/

@chace86 The `RepositoryFormTestIT#epositoryIdShouldDisallowIllegalCharacters()` of the strongbox-web-core artifact is failing.
As far as I've seen the messages for constraints are taken from `javax.validation.constraints`

The failing constraint is the Pattern contstraint which gets its localized messages from `jav

[2019-11-02 18:53] carlspring commented on #844
@Cooks-Johns ,

This task is still up for grabs! Feel free to dig in! :)

[2019-11-02 21:54] Cooks-Johns commented on #844
Cool, this is my first time working on an open source project.

[2019-11-03 01:07] carlspring commented on #844
Feel free to join our [chat channel](https://chat.carlspring.org/).

[2019-11-03 15:35] JuWeber99 commented on #1540
hey I saw u alrdy are doing it right now. its fine since I have no time right now ;)

[2019-11-03 22:21] carlspring opened #1573 "Create a proof-of-concept using Janusgraph and Cassandra"
# Task Description

We would like to investigate migrating to Janusgraph + Cassandra and completely dropping OrientDB.

We've invested at least about a year in getting different things to work with OrientDB and fixing its bugs. Their team is quite slow in their responses and turnarounds and we can't currently upgrade to OrientDB 3.x because of bugs in it.

# Tasks

The following tasks will need to

[2019-11-03 23:44] #1536 closed

[2019-11-04 19:52] mpoznyak commented on #817
Hi! I want to contribute to Strongbox and task with Docker layout support seems to be interesting. Can I get it? I'd like to start from the first point - DockerArtifactGenerator.

[2019-11-05 01:46] carlspring commented on #817
@mpoznyak :

Thanks for offering to help! The work on the Docker layout support is quite likely quite massive.

Would you like to join our [chat channel](https://chat.carlspring.org/), so that we could discuss things there and possibly other smaller tasks you could help out with as a start? :)

[2019-11-05 06:04] mpoznyak commented on #817
@carlspring
Yes, of course

[2019-11-05 19:12] #1397 closed

[2019-11-05 20:01] mpoznyak commented on #1543
I will look into it

[2019-11-06 07:59] saratbeesa commented on #1560
Hey @carlspring ,

Can I look into this issue ?

[2019-11-06 09:13] carlspring commented on #1560
Sure! Feel free to dig in! :)

[2019-11-07 02:57] pyashwanthkumar opened #1575 "Npm - Return 404 error if repository not found."
# Npm - Return 404 error if repository not found.

Npm command for example, `npm install @angular/core` would return return a `406` error if a wrong endpoint is provided in the `.npmrc` file i.e. `registry=http://localhost:48080/storages/storage-npm/`. Correct endpoint would be `registry=http://localhost:48080/storages/storage-npm/npmjs`, correct endpoint would have the repo i.e. `npmjs`. However,

[2019-11-07 04:06] #1462 closed

[2019-11-07 09:31] carlspring commented on #1575
This will probably have to be checked against all layout providers and be fixes in the `BaseArtifactContoller`, or in a more generic way.

[2019-11-07 20:43] #1046 closed

[2019-11-08 18:19] carlspring commented on #1512
@sbespalov : I've just realized that perhaps this won't be a great idea, if it's set to `true` by default. For Maven repositories, it's fine and perhaps we can default to it being `true` there, but how about for Nuget, NPM and PyPi ones...? Does nuget.org expose checksums as downloadable files by default? Does npmjs.org? How about PyPi...?

@newarcher36 : Perhaps you could check the questions abov

[2019-11-09 16:53] PuneetBabbar commented on #1575
Hey im new to open source and First Timers, can i start working on this issue ?

[2019-11-09 16:58] pyashwanthkumar commented on #1575
@PuneetBabbar i think @grantfar is already working on this. Please check with him. :)

[2019-11-09 17:00] PuneetBabbar commented on #1575
@grantfar hey are you working on this one, or i can take this one ?

[2019-11-09 17:16] mwvdev commented on #1513
Figured it was time to write a short update on this issue so here goes. I've been unable to find the root cause of why the Hazelcast caches aren't persisting in the unit test scenarios.

I've tried inspecting the Hazelcast caches through debugging and through the [Hazelcast management center](https://hazelcast.com/product-features/management-center/).

As for the debugging part, I can follow the `

[2019-11-09 17:17] TheCakeIsNaOH opened #1579 "Chocolatey.org nuget feed proxy fails with http 400"
# Bug Description

Strongbox proxying to chocolatey.org is not working. It fails silently on the client end, with `zero packages found`, but in the strongbox.log it has an `http 400 bad request error` under `Failed to fetch nuget remote feed [https://chocolatey.org/api/v2]`

Behavior found with both `nuget` and `choco` clients.

<details><summary>traceback from strongbox.log</summary><p>

---

[co

[2019-11-09 19:49] grantfar commented on #1575
@PuneetBabbar I was working on this, but I am having a hard time making any progress. You can take it if you want.

It is an issue with requests being routed to the wrong controller and I can't figure out why. NPM download requests with an invalid end point are being routed to the Maven download controller.

[2019-11-09 20:18] PuneetBabbar commented on #1575
@grantfar thanks.
@pyashwanthkumar @carlspring i will start working on this issue 👍.

[2019-11-09 20:18] carlspring commented on #1575
Thanks, @PuneetBabbar ! :)

[2019-11-09 20:42] carlspring commented on #1513
@fuss86 / @sbespalov ,

Any thoughts/advice on this?

[2019-11-09 21:18] carlspring commented on #1575
@grantfar ,

Would you mind sharing how you concluded that it's a routing issue?

I have some doubts that this is the case, as there's nothing that I can think that points to it being so. Would you mind elaborating?

[2019-11-09 21:33] grantfar commented on #1575
@carlspring I ran it in debug mode. The logs where showing that it was routing the requests to Maven Download method, so I put a break point there. I ran the npm install command and it stopped in the maven download method. I looked at the stack and couldn't figure out why it has happening.

[2019-11-09 21:58] carlspring commented on #1575
Thanks for clarifying! :)

@sbespalov, @fuss86 , @ptirador : any thoughts on why this is happening?

[2019-11-10 04:17] carlspring commented on #1579
@TheCakeIsNaOH ,

Do you have any of the requests, or responses that were sent? Could you please attach these too, if you have them?

Thanks! :)

[2019-11-10 04:35] TheCakeIsNaOH commented on #1579
I am not sure why, but I have been unable to get any traffic coming from strongbox. Requests and responses from clients to strongboxes are showing up fine, but requests from strongbox to the web are not showing up in my proxy program(fiddler). Maybe does strongbox not respect the system proxy? Or fiddler is not capturing everything for some reason. I am not sure why, but I am working on it.

[2019-11-10 11:18] fuss86 commented on #1575
@grantfar if you stopped in the maven download method, could you write what is the resolved `Repository repository` parameter value ?

[2019-11-10 11:24] fuss86 commented on #1575
@grantfar I believe this is some configuration issue. Please also show us your current `.npmrc` file.

[2019-11-10 12:06] carlspring opened #1580 "Add a "Tool Integration" section to the User Guide and migrate the existing docs for the supported tools to it"
# Task Description

We need to add a "Tool Integration" page to our "User Guide" and sub-pages for the various tools that we have examples for.

Please, note: This task can be handled by multiple developers as separate pull requests.

# Tasks

The following tasks will need to be carried out:
* [x] Migrate the Ant+Ivy example
  * [x] Verify that the example still works and apply any necessary chang

[2019-11-10 12:27] fuss86 opened #1581 "Document how to use Hazelcast Management Center for dev needs"
# Task Description

There is a tool called [Hazelcast management center](https://hazelcast.com/product-features/management-center/). It enables monitoring and management of nodes running Hazelcast. This includes monitoring the overall state of clusters, as well as detailed analysis and browsing of data structures in real time, updating map configurations, and taking thread dumps from nodes.

We us

[2019-11-10 12:28] fuss86 commented on #1581
@mwvdev would you like to pick it up ?

[2019-11-10 12:32] fuss86 commented on #1513
@mwvdev thanks for your engagement :) I've prepared a documentation task related to your experiments with management center tool https://github.com/strongbox/strongbox/issues/1581 - please pick it up if you are up for it :)

Referring to the issues you spotted here. I'll enter your branch and try to help :)

[2019-11-10 12:45] carlspring commented on #1562
Thanks, @ankii2189! :)

[2019-11-10 12:45] #1562 closed

[2019-11-10 13:06] fuss86 commented on #1513
@mwvdev could you please make sure that your branch compiles without problems ?

Here is the result of `mvn clean install -DskipTests=true` command:

[code]

and the result of ` mvn dependency:tree  -Dincludes=org.carlspring.strongbox:strongbox-commons` filtered to `strongbox-storage-api`:

[code]

[2019-11-10 13:39] carlspring opened #1582 "Rename the NullArtifactCoordinates, NullArtifactGenerator and NullRepository classes"
# Task Description

We need to rename the `NullArtifactCoordinates`, `NullArtifactGenerator` and `NullRepository` classes to be more consistent. These are meant to be used for the Raw layout proviver.

# Tasks

The following tasks will need to be carried out:
* [ ] Rename the `NullArtifactCoordinates` class to `RawArtifactCoordinates`.
* [ ] Rename the `NullArtifactGenerator` class to `RawArtifact

[2019-11-10 13:53] aayushbhan commented on #1580
@carlspring can i pick this up.

[2019-11-10 13:58] carlspring commented on #1580
Thanks, feel free to look into it. Please, add comments on which parts you'll be working, as maybe somebody else would like to pick a part of the work as well. Thanks! :)

[2019-11-10 14:34] carlspring opened #1583 "Re-structure the web modules and split some of the code into new ones"
# Task Description

We need to split out the current `strongbox-web-core` into two modules in order to be able to use the real core parts of it more easily. This module has now outgrown it's original design.

Note: This task should not be done before #954 has been merged.

# Tasks

The following tasks will need to be carried out:
* [ ] Create a new aggregator called `strongbox-web`.
* [ ] Move the

[2019-11-10 14:40] #1460 closed

[2019-11-10 14:44] grantfar commented on #1575
registry=http://localhost:48080/storages/storage-npm/test
_password="cGFzc3dvcmQ="
username=admin
email=grantfar@gmail.com
always-auth=true

[2019-11-10 14:51] aayushbhan commented on #1580
I'll pick up the maven and gradle examples and then once they're done if any others are left that haven't been picked up i can look into them.

[2019-11-10 14:53] carlspring commented on #1580
Great, thanks! :)

[2019-11-10 15:08] mwvdev commented on #1513
No problem! I don't have too much spare time these days but I don't mind trucking along on that documentation issue at my own pace.

Sure thing, I'll look into it.

[2019-11-10 15:15] mwvdev commented on #1581
Sure thing, I'll give it a shot. Might take me a bit because I'm a bit strapped for time these days.

[2019-11-10 15:27] steve-todorov opened #1584 "Remove usage of peek in tests where the endpoint is streaming files"
# Task Description

Some of our test cases have `.peek()` which is used to see the status code, headers and body of the response. Under normal circumstances this is acceptable, but when the tested endpoint is returning a file (i.e. artifact download/upload controller) this results in glitches in the consoles and sometimes build failures in Jenkins or JVM crashes.

Tests to be fixed:
- [x] `MavenAr

[2019-11-10 16:23] #1584 closed

[2019-11-10 19:13] #1537 closed

[2019-11-10 20:17] anki2189 commented on #1582
@carlspring @steve-todorov I would like to pick this task

[2019-11-10 20:18] carlspring commented on #1566
Resolved by @anki2189! :)

[2019-11-10 20:18] #1566 closed

[2019-11-10 20:21] carlspring commented on #1582
Great! Please, keep in touch with @wpater , as he's working on #1540 , which might be affected by this.

[2019-11-10 21:26] mwvdev commented on #1513
@fuss86 I had an issue with rebasing. @carlspring helped me sort it out - the branch should compile as expected now.

[2019-11-10 22:14] carlspring commented on #1579
Strongbox should be honouring your proxy settings for the repository. Could you please check, if this works, if you set a global proxy as well? You better remove all the non-NuGet repositories for the sake of your test.

[2019-11-11 07:40] sbespalov opened #1588 "Incremental Janusgraph schema updates"
# Task Description
We need to be able to manage Janusgraph schema with incremental versioned updates. This should be done with help of `JanusGraphManagement` which provide Java API to manage schema. We already have a `org.carlspring.strongbox.janusgraph.graph.schema.StrongboxSchema` class that creates initial schema and within this task we should make it work using step-by-step change-sets. The ch

[2019-11-11 07:49] fuss86 commented on #1575
Please change:

[code]
to:
[code]
and retry.

[2019-11-11 12:16] fuss86 commented on #1513
Hi @mwvdev ,

it looks like the problem is somehow related with our parent.

If you replace

[code]

[2019-11-11 12:23] fuss86 commented on #1513
I've added gist https://gist.github.com/fuss86/cf7ed264c6573814c85ac3ca1512794d comparing 2 parents in [your POC](https://github.com/mwvdev/strongbox-hazelcast-poc). There must be something wrong, please try to analyze it and let us know :)

[2019-11-11 12:55] carlspring commented on #1513
Here's a diff run on the dependency trees of the two:
[code]

[2019-11-11 12:56] carlspring commented on #1513
I think the main difference is coming from this bit:
[code]

Could `org.springframework.boot:spring-boot-starter-test:jar:2.1.5.RELEASE:test` be the culprit?

[2019-11-11 13:23] #1582 closed

[2019-11-11 15:17] anki2189 commented on #1529
@steve-todorov Is this still open?

[2019-11-11 15:25] steve-todorov commented on #1529
Yes, it looks like @millimetha hasn't had a chance to work on it so feel free to pick it up. :)

[2019-11-11 15:46] carlspring commented on #1529
Please, feel free to pick it up, @anki2189 ! :)

[2019-11-11 17:14] mwvdev commented on #1513
@fuss86 That's great news! Or it's at least a step in the right direction :)

@fuss86 Will do.

It seems likely. I'll do a bit of digging around.

[2019-11-11 17:15] mwvdev commented on #1513
@carlspring Come to think of it, this might also explain why I've observed this in a test scenario.

[2019-11-11 17:56] carlspring commented on #1513
@mwvdev ,

Would you be able to pick it up from here?

[2019-11-11 18:05] mwvdev commented on #1513
Yes, I've got a few things to try out now.

[2019-11-11 18:19] carlspring commented on #1513
Great! Good luck! :)

[2019-11-11 22:00] carlspring opened #1590 "Drop the INDEX field from the LayoutFileSystem"
# Task Description

We need to drop the `INDEX` field from the `LayoutFileSystem`, as this is specific only for the Maven layout provider. Perhaps a better place for this would be the `MavenRepositoryFeatures` class.

# Tasks

The following tasks will need to be carried out:
* [ ] Refactor the `LayoutFileSystem`, so that it no longer contains the `INDEX`.
* [ ] Make sure none of the other (non-Mav

[2019-11-11 22:04] carlspring opened #1591 "Investigate randomly failing test under Windows ([Operation [write:48] content size don't match.] )"
# Task Description

We need to investigate this exception that happens under Windows against our `master`:
[code]

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @fuss86
  * @sbespalov
  * @steve-todorov

[2019-11-12 04:33] anki2189 commented on #1590
@carlspring I am working on this task.

[2019-11-12 16:07] #1590 closed

[2019-11-13 01:01] steve-todorov opened #1595 "Update docker-compose files to point to the new docker images"
# Task Description

We have migrated our docker images into [strongbox/ci-build-image](https://github.com/strongbox/ci-build-images). During the refactoring we have also switched the naming convention for our images.

We need to upgrade the `docker-compose.yaml` files across all projects so that they point to the new tags. The images are published in [docker hub](https://hub.docker.com/u/strongbox

[2019-11-13 05:21] anki2189 commented on #1595
@steve-todorov I would like to pick this as i have these changes on my local machine. :)

[2019-11-13 07:52] user062 commented on #1515
Hi,
It appears to me that @har-vy is not working on this.
if this is so, and if nobody minds,may i work on it?

[2019-11-13 08:51] carlspring commented on #1515
Hi!
Yes, please!

[2019-11-13 15:10] #1595 closed

[2019-11-14 02:59] pyashwanthkumar commented on #1575
@carlspring I would like to work on this issue

[2019-11-14 05:27] grantfar commented on #1575
@fuss86 registry=http://localhost:48080/storages/storage-npm/npmjs works as expected
I miss spoke. I was VERY VERY tired and a little drunk when I wrote that. I stopped in CustomRequestMappingHandlerMapping.handleMatch . I stepped through decompiled class files until Spring was trying to make parameters for the maven download controller. It failed to make the parameters and through a 406 error

[2019-11-14 15:50] #1542 closed

[2019-11-15 01:33] #1538 closed

[2019-11-15 10:07] saratbeesa commented on #1533
@carlspring ,

I checked the parent pom for strongbox project, jacoco configuration is already present in it. I tried to generate the jacoco coverage by building the project, but for some reason it is not getting generated.

Due to these missing `.exec` files reporting fails to Codacy server , i think its hitting api.codacy.com service to log these metrics.

I'm currently investigating why the jac

[2019-11-15 13:47] anki2189 commented on #1532
@carlspring @cbrianhill @ptirador I tried to debug this issue below are my findings so far:

- When Test RepositoryHostedIndexCreatorTest#packedRepositoryIndexGeneratorShouldBeThreadSafe is executed TestRepositoryManagementContextSupport#beforeTestExecution callback is invoked before its execution which populates Context in ThreadLocal variable in class **TestRepositoryManagementApplicationContext

[2019-11-15 17:33] carlspring opened #1597 "Reduce the amount of debugging output that we have"
# Task Description

At the moment, the debugging output has become quite excessive. We need to reign in and get this under control

# Tasks

The following tasks will need to be carried out:
* [ ] Find out what packages/classes are producing the heaviest amount of output.
* [ ] Locate useless debugging output and remove it. (For example, this could be blocks of `logger.debug` calls that are really

[2019-11-15 17:52] #847 closed

[2019-11-15 19:34] #1529 closed

[2019-11-15 20:45] anki2189 commented on #1580
@carlspring Added Documentation NPM . Pls review :)

[2019-11-15 21:39] carlspring commented on #1442
@ptirador , @sbespalov ,

Is this task obsolete, or does it need to be looked into?

[2019-11-16 15:09] aayushbhan commented on #1580
@carlspring Documentation for Maven and Gradle. Please take a look.

[2019-11-17 10:06] TJoker024 commented on #1597
Hi, i am working on this issue from now !

[2019-11-17 12:12] carlspring commented on #1597
Hi @TJoker024 ,

Well, I believe @anki2189 is already look into this, but feel free to join our [chat channel](https://chat.carlspring.org/) where we can discuss it further! :)

[2019-11-17 12:42] carlspring opened #1599 "Investigate what test is creating the metadata resources under source directories and move them to a better place"
# Task Description

Investigate what test(s) are creating:
[code]
And make sure these test resources are not created under the source directories anymore, but in a more appropriate location under `target` instead, because test resources should not be generated under source directories, as they're temporary and will otherwise only litter the codebase.

# Help

* [Our chat](https://chat.carlspring.o

[2019-11-17 13:59] TJoker024 commented on #1599
I'm on it

[2019-11-17 16:17] fuss86 commented on #1532
Hi @anki2189 :)

Great hunt, great investigation !

I think we should try with [InheritableThreadLocal](https://docs.oracle.com/javase/8/docs/api/java/lang/InheritableThreadLocal.html).

@sbespalov , what do you think ?

[2019-11-17 19:22] carlspring commented on #1580
Thanks, @aayushbhan ! :)

[2019-11-18 17:06] carlspring commented on #1579
Just out of curiousity, have you tried setting the remote URL to one without the trailing backslash...?

[2019-11-18 23:33] TheCakeIsNaOH commented on #1579
I have tried without the backslash, no effect.

[2019-11-19 14:11] anki2189 commented on #1532
@sbespalov @fuss86 Should I go ahead with InheritableThreadLocal or the solution which I proposed above?

[2019-11-19 14:28] sbespalov commented on #1532
@anki2189 thanks for the excellent analysis. If I understand correclty we can get the `TestRepositoryManagementContext` instance within the `TestRepositoryProxyInvocationHandler` constructor and then use this instance when`TestRepositoryProxyInvocationHandler#invoke` method called with no matter of caller thread.

[2019-11-19 14:30] sbespalov commented on #1532
we should also apply this for `ArtifactManagementTestExecutionListener.TestArtifactProxyInvocationHandler` and `ArtifactManagementTestExecutionListener.ListInvocationHandler`.

[2019-11-19 18:04] carlspring commented on #1513
@anki2189 ,

Would you like to help @mwvdev with this issue?

[2019-11-19 18:49] ptirador commented on #1442
@carlspring: What I investigated is what I commented a few months ago. I don't think that we need to do something about this. I'd close it.

[2019-11-19 18:58] mwvdev commented on #1513
Any help would be appreciated, I've tried everything I could think of and I still haven't been able to identify why this works when using `spring-boot-starter-parent` and doesn't work when using `strongbox-parent`.

[2019-11-19 20:07] anki2189 commented on #1553
@fuss86 This issue should be fixed after https://github.com/strongbox/strongbox/pull/1601. What are your thoughts?

[2019-11-19 20:50] fuss86 commented on #1553
@anki2189 I don't think it's related, we are not spawning any additional Thread in `MavenMetadataExpirationProxyCaseTest#expiredProxyRepositoryMetadataPathShouldBeRefetchedRegardlessOfChecksum`. Maybe I'm missing something , please correct me or show me your doubts :)

Thanks :)

[2019-11-20 02:09] carlspring commented on #1580
Thanks to everybody who contributed! :)

[2019-11-20 02:09] #1580 closed

[2019-11-20 13:40] TJoker024 commented on #1599
@carlspring Hi ! Since i'm new on this project and i dont know the structure of the project yey, could you give me a few pointer on how i can generate these test ( i just finished installing the project and there is nothing in strongbox-we-core/src/test) and any int about what is creating these test? thank you !

[2019-11-20 16:07] savaliyagautam commented on #1599
@TJoker024 @carlspring  I have created pull request https://github.com/strongbox/strongbox/pull/1602

[2019-11-20 16:58] #1532 closed

[2019-11-20 16:58] steve-todorov commented on #1532
Awesome work! Thanks for fixing this @anki2189 ! :)

[2019-11-20 17:23] carlspring opened #1603 "Reduce the janino logging to ERROR"
# Task Description

We are getting a lot of these during build time:
[code]

The logging level should be set to `ERROR` for this package, as we don't need this noise.

# Task Relationships

This task:
* Relates to: #1597

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @fuss86
  * @sbespalov
  * @steve-todorov

[2019-11-20 17:56] anki2189 commented on #1603
@carlspring I am working on this.

[2019-11-20 18:11] carlspring commented on #1603
Great! Thanks! :)

[2019-11-20 19:01] #1603 closed

[2019-11-20 19:11] mwvdev commented on #1581
I've added support for easily enabling Hazelcast management center in Strongbox as part of this issue.

[2019-11-20 20:02] carlspring commented on #1581
Great! Is there a pull request for it?

[2019-11-20 20:03] mwvdev commented on #1581
There will be one shortly, just finishing all the testing steps in the PR template :-)

[2019-11-20 20:23] mwvdev commented on #1581
@carlspring Documentation has been added in [this PR](https://github.com/strongbox/strongbox-docs/pull/68) and accompanying code has been added in [this PR](https://github.com/strongbox/strongbox/pull/1605).

[2019-11-20 21:30] #1581 closed

[2019-11-20 22:38] carlspring commented on #1599
Thanks, @savaliyagautam! Could you please sign the ICLA, as described in the [Contributing](https://github.com/strongbox/strongbox/blob/master/CONTRIBUTING.md) page?

[2019-11-20 23:44] fuss86 commented on #1575
It looks like our solution is not ready for such a case when the repository is not found for specific storage.

Point of interest: `AbstractHandlerMethodMapping#lookupHandlerMethod`
Spring-mvc selects best match for request there. For many requests (even not related with maven) it chooses `MavenArtifactController#download` handler

and because of luck of (or invalid value of) `Accept` header, it r

[2019-11-20 23:53] fuss86 commented on #1575
The problem is that we do not identify `layout` for `storage`

[2019-11-21 17:07] GAlexMES commented on #1515
I will hava a look into this.

[2019-11-21 17:43] carlspring commented on #1515
Okay, great! Good luck with it! :)

[2019-11-22 01:55] sbespalov commented on #1575
we need to fix the `LayoutRequestCondition.getStorageAndRepositoryCondition`
currently it expects to have `/storages/{storageId}/{repositoryId}`
and the issue we have here is that URL contains only `/storages/{storageId}`
we should improve the `LayoutRequestCondition.getStorageAndRepositoryCondition` method to return `RepositoryNotFoundRequestCondition` even if there was no `{repositoryId}` in URL

[2019-11-22 12:15] carlspring commented on #1575
Sounds good to me!

@pyashwanthkumar : Could you please look into it? Thanks! :)

[2019-11-22 23:29] #1599 closed

[2019-11-24 00:59] pyashwanthkumar commented on #1575
![image](https://user-images.githubusercontent.com/18516640/69487595-c41ef580-0e2a-11ea-9017-efafb84066eb.png)

It is returning `RepositoryNotFoundRequestCondition` when we do `npm install @angular/core` against endpoint with a `repository` that doesn't exist.

[2019-11-24 09:29] fuss86 commented on #1575
Exactly as @pyashwanthkumar noted, `RepositoryNotFoundRequestCondition` is returned and the problem is related with the fact that we are not able to determine the proper endpoint to handle the requested path based on the `storage` only, because, as said above, we do not identify `layout` for `storage` (for example we have `public` storage, so we don't know which endpoint `/storages/public/non-exis

[2019-11-24 10:11] fuss86 opened #1609 "Help with Janusgraph PoC: run user-defined gremlin queries in Graphexp"
# Task Description

We have successfully connected [graphexp](https://github.com/erandal/graphexp) web graph visualization tool to gremlin server started by [strongbox-janusgraph-cassandra-poc](https://github.com/strongbox/strongbox-janusgraph-cassandra-poc).

We want to be able to run user defined-queries in [graphexp](https://github.com/erandal/graphexp).
against our gremlin server. There should

[2019-11-24 16:55] #1569 closed

[2019-11-24 19:47] carlspring commented on #846
Implemented in #1600 .

[2019-11-24 19:47] #846 closed

[2019-11-24 19:48] carlspring commented on #848
Implemented in #1600 .

[2019-11-24 19:49] #848 closed

[2019-11-24 20:12] anki2189 commented on #1513
@mwvdev @carlspring @fuss86 When `spring-boot-starter-parent` is replaced with `strongbox-parent`
strongbox-hazelcast-poc/target/strongbox/etc/logback-spring.xml (No such file or directory)
Exception is thrown. Hence test case is failing.

[2019-11-24 20:15] carlspring commented on #1513
@anki2189 ,

Add the following to the `pom.xml`:
[code]

and it will build.

[2019-11-24 20:32] #1119 closed

[2019-11-25 03:01] sbespalov commented on #1575
@fuss86 @pyashwanthkumar seems we have some confusion here. The initial issue condition was that we have following

in this case there is no `repositoryId` in URL, and requests like `GET http://localhost:48080/storages/storage-npm/` won't trigger `RepositoryNotFoundRequestCondition` as mentioned above. So this is the case, as well, and should be fixed.

The `406` behavior seems take place as well

[2019-11-25 13:09] anki2189 commented on #1513
Tried with parent pom as dependency and test case working.
[code]

[2019-11-25 18:31] carlspring commented on #1513
This is completely wrong! The parent should not be defined as a dependency. It should be defined as a `<parent/>`.

[2019-11-25 18:36] cvaram96 commented on #1546
Can I contribute on this task

[2019-11-25 23:35] carlspring commented on #1546
Hi @cvaram96!

Thanks for offering to help! I think it's too early for this task to be implemented! Feel free to join
our [chat channel](https://chat.carlspring.org/), if you'd like to find out what other tasks you could help with.

[2019-11-26 15:19] anki2189 commented on #1609
I would like to  work on this.

[2019-11-26 18:08] AkshayBabbar commented on #1597
Hi Can I work on this??

[2019-11-26 18:10] AkshayBabbar commented on #1560
Hi Can I help here?

[2019-11-26 18:45] carlspring commented on #1560
Hi @AkshayBabbar ,

Feel free to look into it! Thanks for offering to help! :)

Please, join our [chat channel](https://chat.carlspring.org/) for more details.

[2019-11-27 23:17] FernandaCG commented on #1583
Hi, can I work on this??

[2019-11-27 23:39] carlspring commented on #1583
Hi!

No, this task is on hold. Please, feel free to join our [chat channel](https://chat.carlspring.org/) to find out what else you could help with.

[2019-11-28 19:12] TheCakeIsNaOH opened #1613 "Proxy to Inedo Proget fails with unexpected error during response processing."
# Bug Description

Strongbox NuGet proxy to an instance of Inedo Proget is not working. It fails silently on the client end during a list of packages, with zero packages found, but in the strongbox.log it has `Failed to fetch Nuget remote feed [http://hostname/nuget/choco/]` with `javax.ws.rs.client.ResponseProcessingException: Unexpected error during response processing.`

Behavior found with bot

[2019-11-29 01:52] TheCakeIsNaOH commented on #1613
The exact same thing also happens with the chocolatey simple server, exact same traceback.

https://github.com/chocolatey/simple-server
https://chocolatey.org/docs/how-to-set-up-chocolatey-server

[2019-12-01 12:09] nightswimmings commented on #1456
Do you have in mind to make it possible in both MockMvcResultMatchers and MockRestRequestMatchers? That would be amazing, the world is so tired of hamcrest

[2019-12-03 01:40] sbespalov opened #1614 "Test the LDAP Authorization"
# Task Description
Strongbox have configurable authentication which can be setup with `strongbox-authentication-providers.yaml`. By default, only users who are stored in the database can be authorized. Additionally authorization can be configured through an external LDAP server as shown below:
[code]
Within this task we need to check how this configuration actually works with Strongbox distributio

[2019-12-05 20:44] steve-todorov commented on #1609
I'm putting this task on hold as we're exploring another solution for visualizing / running queries which might work better than GraphExp :)

[2019-12-05 22:43] #841 closed

[2019-12-06 15:41] sainalshah opened #1616 "Clean up temporary file after ArtifactOperationsValidatorTest run"
# Bug Description

Integration test fails when run without maven clean goal.

# Steps To Reproduce

1. Build and run integration tests with mvn install clean -DintegrationTests (or without clean goal)
2. Run integration tests with command mvn install -DintegrationTests

# Expected Behavior
Integration test result should be success.

# Environment

* Strongbox Version:
* OS: Ubuntu/ Linux
* Maven v

[2019-12-06 15:44] #1543 closed

[2019-12-09 02:00] sbespalov opened #1618 "`strongbox-janusgraph-cassandra-poc` failed to start with existing DB"
# Bug Description

First time starting the `strongbox-janusgraph-cassandra-poc` it will successfully launched with DB and schema created. If stopped and started again, with existing DB and schema, following error occurs:

[code]

# Steps To Reproduce

1. `$ cd strongbox-janusgraph-cassandra-poc`
2. `$ mvn spring-boot:run`
3. wait untill startup complete and then `ctrl+c` to stop the application`
4

[2019-12-09 10:54] pyro-dev opened #1619 "Database considered invalid"
Since a few days I'm experimenting errors with Strongbox.
I'm using KeepassXC on my desktop, up-to-date.
I'm not sure what triggered the faulty behavior, I would need to put more time on this and re-save my database with a former version of the tool.
Anyway here is what I get when trying to open the file on IOS. The file is opened properly on Keepass, KeepassXC and on Keepass2Android. I just have

[2019-12-09 11:12] pyro-dev commented on #1619
I'm very sorry, I realized I'm on the wrong repo (link error). Closing item right now.

[2019-12-09 11:12] #1619 closed

[2019-12-10 03:45] sbespalov opened #1620 "Store layout specific metadata in DB."
# Task Description
Strongbox currently supports multiply Layouts such as:
- Maven
- Npm
- Nuget
- Pypi
- Raw
Almost all of this layouts has specific artifacts metadata such as version, ID, dependencies, author, packaging and many other. Artifacts stored in DB as `ArtifactEntry`, there is also `ArtifactCoordinates` stored as one to many with `ArtifactEntry`. These entities just a part of all metada

[2019-12-11 13:34] #1616 closed

[2019-12-11 13:35] carlspring commented on #1616
Thanks, @sainalshah ! :)

[2019-12-12 04:02] sbespalov opened #1621 "Benchmarks for `strongbox-janusgraph-cassandra-poc`"
# Task Description
We need to improve `http://localhost:58080/entities` endpoint and make it respond with an average add time per each entity type. It would be also good to have simple dynamic progress which will be continuously written to response while it executes.
We also need to make another `http://localhost:58080/benchmarks` endpoint to compute benchmarks per each query within `org.carlsprin

[2019-12-14 22:14] carlspring commented on #812
(Apologies for the late reply, I seem to have missed this message). I mean downloading the package using `pip`.

[2019-12-15 17:23] ShraddhaBhojane commented on #1597
Hi, can I take this?

[2019-12-16 02:58] steve-todorov opened #1622 "Implement custom web console which allows to execute Gremlin and Cypher queries"
# Task Description

We need to create a user interface which can execute queries against the JanusGraph database.

# Tasks

The following tasks will need to be carried out:

* [x] Make it possible to configure the UI to connect to different backends
* [x] Have a query execution page where queires can be executed. Upon query execution, there should be three different query result views:
  * [x] JSO

[2019-12-16 05:44] sbespalov opened #1623 "Store Maven layout specific metadata in DB"
# Task Description
We need to store following `pom.xml` metadata for Maven artifacts:
[code]

# Tasks

The following tasks will need to be carried out:
* [ ] Create `MavenArtifactMetadata` entity
* [ ] Create liquibase changesets for `MavenArtifactMetadata`
* [ ] Create Unit Test with following case:
    * deploy maven artifact with `MavenArtifactsController`
    * read the `ArtifactEntry` from DB

[2019-12-16 06:21] sbespalov opened #1624 "Store NPM layout specific metadata in DB"
# Task Description
We need to store following `package.json` metadata for NPM artifacts:
* "description"
* "keywords"
* "repository"
* "homepage"
* "author"
* "contributors"
* "license"
* "main"
* "engines"
* "os"
* "cpu"
* "_rev"

# Tasks

The following tasks will need to be carried out:
* [ ] Create `NpmArtifactMetadata` entity
* [ ] Create liquibase changesets for `NpmArtifactMetadata`
* [ ] Cr

[2019-12-16 22:20] zhongjis commented on #1515
I am looking into this issue. I want to make sure no one else is working on this.

[2019-12-16 22:33] carlspring commented on #1515
Hi @zhongjis ,

Thanks for offering to help! Please, feel free to proceed!

[2019-12-16 23:26] zhongjis commented on #1515
Thank you @carlspring
So I dug into it a bit and here are some updates I have for you guys. It is my first time doing it so I believe it is better for me to get any input possible before/during file modifying (for good).

- [x] Confirm that RepositoryManagementStrategy behavior described above is relevant
1. I traced the behavior back to YamlFileManager.java'.
2. The YamlFileManager.store() method

[2019-12-17 02:59] sbespalov commented on #1515
@zhongjis thanks for your interest on this issue. Regarding your suggesion I would say that it goes a bit wrong direction. We shouldn't fix it in `YamlFileManager` because it used not only for `AbstractRepositoryManagementStrategy` and changes will affect other classes as well. The right solution will be something like we already have in [StoragesConfigurationController.java#L271](https://github.c

[2019-12-17 09:08] steve-todorov commented on #1622
This task is completed now. However it is far from being "perfect". I've spent a while trying to get the [`gremlin-javascript`](https://github.com/apache/tinkerpop/tree/3.4.4/gremlin-javascript/src/main/javascript/gremlin-javascript/lib) to work but unfortunately the official implementation is intended to be used in Node.js and cannot be used directly in a browser.

In general, the current UI will

[2019-12-17 09:08] steve-todorov commented on #1609
This task is now obsolete in favor of #1622.

@anki2189 thank you very much for looking into this and sorry for having to close your PR!

[2019-12-17 09:08] #1609 closed

[2019-12-17 09:34] #1622 closed

[2019-12-18 01:23] zhongjis commented on #1515
@sbespalov got it. will be looking into it

[2019-12-28 03:15] carlspring opened #1626 "Create a Docker image with Python and pip for use in the strongbox-web-integration-tests"
# Task Description

We need to create a Docker image with Python and pip for use in the [strongbox-web-integration-tests](https://github.com/strongbox/strongbox-web-integration-tests) project.

# Tasks

The following tasks will need to be carried out:
* [ ] Add Python
* [ ] Add `pip`

# Task Relationships

This task is a dependcy of: #811 ,  #816, strongbox/strongbox-web-integration-tests#59

[2019-12-28 03:17] carlspring commented on #1626
@anki2189 , @steve-todorov : FYI.

[2019-12-29 00:39] #1626 closed

[2019-12-29 10:50] deepank120896 commented on #1575
@carlspring
@sbespalov
@steve-todorov
Is anyone working on this?

[2019-12-29 11:51] carlspring commented on #1575
@deepank120896 ,

Would you mind picking another task instead?

[2019-12-29 13:05] deepank120896 commented on #1511
@carlspring
@fuss86
@sbespalov
@steve-todorov
Can I look into this?
Just a beginner, willing to learn about code

[2019-12-29 13:54] steve-todorov commented on #1511
Hi @deepank120896 - feel free to pick it up. You can also join our [chat](https://chat.carlspring.org/) if you have more questions. :)

[2019-12-30 14:24] VishnuLakkimsetty commented on #1511
Hi @deepank120896 - Are you contributing to this issue. If not I'm interested in contributing to this issue

[2019-12-31 14:52] Doc-Steve opened #1627 "please delete - wrong github"

[2019-12-31 14:56] Doc-Steve opened #1628 "please delete - wrong github"

[2019-12-31 14:57] Doc-Steve opened #1629 "Feature request: drag & drop support (iOS)"
### Platform:
iOS iPad

### Situation:
Sometimes you want to copy multiple fields (e.g. address fields) in side by side view. Inserting values with Paste is less convenient than drag&drop.

### Proposed solution:
Include a setting so that long press starts drag&drop instead of copy action.

### Example of similiar app:

Example screen capture showing drag&drop: on the left any web page in Safari a

[2020-01-01 10:27] #1629 closed

[2020-01-01 10:31] #1627 closed

[2020-01-01 10:34] #1628 closed

[2020-01-01 13:52] deepank120896 commented on #1511
@VishnuLakkimsetty Yes I am working on it

[2020-01-03 18:05] steve-todorov commented on #1627
Thanks for letting us know we need to delete this! :)

[2020-01-04 13:56] anki2189 commented on #807
Both pypi `tar.gz` and `whl` packages contains metadata file

- `tar.gz` has PKG-INFO file.

- `whl` has METADATA file. (`whl` is archive file compressed using gzip compression)

`pip search` command uses summary field from these metadata files.

[2020-01-05 00:45] #1545 closed

[2020-01-05 02:29] carlspring commented on #816
Thanks for implementing this, @anki2189 ! :)

[2020-01-05 02:29] #816 closed

[2020-01-05 02:30] #811 closed

[2020-01-05 03:09] carlspring opened #1631 "Implement support for the data-requires-python attribute as described in PEP 503"
# Task Description

We need to implement support for `data-requires-python` attribute as described in [PEP 503](https://www.python.org/dev/peps/pep-0503/).

# Tasks

The following tasks will need to be carried out:
* [ ] Investigate how this works
* [ ] Implement support for it in the `PypiArtifactController`.
* [ ] Add a test in the `PypiArtifactControllerTest`.
* [ ] Consider adding tests that r

[2020-01-05 08:47] anki2189 commented on #1631
@carlspring This feature is dependent on Pypi metadata persistence task.
The value of `data-requires-python` will be populated from `Requires-Python` metadata field from `PKG-INFO` file which we are not persisting in DB as of now.

[2020-01-05 09:27] sbespalov opened #1634 "Move `PypiArtifactController.getHtmlResponse` logic into `PypiBrowsePackageHtmlResponseBuilder` class"
# Task Description

We need to incapsulate logic needed to generate HTML response for `PypiArtifactController.getPackagePath` into standalone class.

# Tasks

The following tasks will need to be carried out:

* [ ]  Create  `PypiBrowsePackageHtmlResponseBuilder` class (it should be managed as Spring component bean)
* [ ] Replace `PypiArtifactController.getHtmlResponse` usage with `PypiBrowsePackag

[2020-01-05 11:53] carlspring commented on #1634
@anki2189 : Would you mind picking this up?

[2020-01-05 11:55] anki2189 commented on #1634
Sure will pick this.

[2020-01-06 02:13] zhongjis commented on #1515
Thank you @carlspring
So I dug into it a bit and here are some updates I have for you guys. It is my first time doing it so I believe it is better for me to get any input possible before/during file modifying (for good).

- [ ] Confirm that RepositoryManagementStrategy behavior described above is relevant (in progress)
- [ ] Suggest and approve solution
- [ ] Rework RepositoryManagementStrategy ac

[2020-01-06 15:44] #812 closed

[2020-01-07 09:35] sbespalov opened #1636 "Improve HTTP multipart content workaround for Nuget push under Mono"
# Task Description

Currenlty we have  unpleasant workaround in `NugetArtifactController.writePackagePart`, which targets to fix broken HTTP Multipart content provided by nuget cli under Mono. While implementing the `nuget.exe push` support we found that boundary in request content body has invalid set of bytes, and as a workaround this bytes fixed manually with `ReplacingInputStream`. However thi

[2020-01-07 11:25] sbespalov commented on #1515
@zhongjis seems you should update your branch with latest master. The code in `ConfigurationManagementServiceImpl` is not like in your sample. Also it's not clear how your questions related with the task.

[2020-01-08 13:07] #1634 closed

[2020-01-09 03:48] anki2189 commented on #1636
Checked with nuget 2 and mono 6 , issue still persists.

`NuGet Version: 3.5.0.1938`

[code]

**Exception :**
[code]

[2020-01-09 04:07] sbespalov commented on #1636
@anki2189 thanks for confirming. Would you mind proceed with `CustomMultipartResolver`?

[2020-01-09 14:44] carlspring commented on #1636
I have a question -- is this behaviour only broken in the 2.x version of the `nuget` client? Is it fixed in newer versions? If that is the case, then perhaps we need a workaround just for 2.x versions?

@sbespalov : You know more about this than me, I'm just trying to get a better understanding of the underlying problem myself.

@anki2189 : Would you mind checking it out and reporting your finding

[2020-01-09 16:27] anki2189 commented on #1636
@carlspring : There was some confusion due to ambiguity in comment above.

- If we are creating `MultipartFile` content explicitly by extracting `InputStream` from `HttpServletRequest` and not using `ReplacingInputStream` then push fails with both V2.x and V3.x

- If we use `MultipartFile` as parameter in `NugetArtifactController.putPackage` then everything works as per expectation.

[2020-01-10 18:58] anki2189 commented on #1579
@carlspring : Found the root cause for this issue. Below are the findings:

Url generated from Strongbox was incorrect . As per my understanding `includePrerelease` is mandatory parameter to invoke Search method on proxy server.

**Invalid Url :** `https://chocolatey.org/api/v2/Search()/$count?$filter=IsLatestVersion&searchTerm=%27%27&targetFramework=%27%27&%24top=1000`
**Valid Url:** `https://cho

[2020-01-10 19:08] carlspring commented on #1579
Great job, @anki2189 !

Would you like to create pull request for this? :)

[2020-01-10 19:12] anki2189 commented on #1579
Raised PR , Pls have a look. :)

[2020-01-11 09:05] anki2189 commented on #1613
@TheCakeIsNaOH : Can you pls test this against my [PR](https://github.com/strongbox/strongbox/pull/1638)

[2020-01-11 14:53] TheCakeIsNaOH commented on #1613
This one is not fixed by the PR, traceback appears the same.

[2020-01-11 18:35] anki2189 commented on #1613
From attached logs it is clear that `ReportAbuseUrl` is not returned in response so Null Pointer is thrown . I am fixing it and raising a PR .
@TheCakeIsNaOH : Can you please help to test this.

[2020-01-11 21:27] #1579 closed

[2020-01-11 23:22] #1613 closed

[2020-01-12 00:09] TheCakeIsNaOH opened #1640 "Nuget.org default proxy fetch remote cron job failing"
# Bug Description

Running a fresh/wiped instance of the strongbox, the nuget.org proxy cron job fails with `Illegal artifact path [测试更新包/1.0.0/测试更新包.1.0.0.nupkg` as shown in `strongbox-download-remote-feed-cron-job.log`

Looks like the parsing of the package name fails and then fails the download.

<details><summary>traceback from strongbox-download-remote-feed-cron-job.log</summary><p>

---

[co

[2020-01-12 00:15] carlspring commented on #1640
@anki2189 : Would you like to have a look at this one as well?

[2020-01-12 07:35] anki2189 commented on #1640
@carlspring : Cron is working fine on my machine. From the logs what I am able to understand is
`NUGET_PACKAGE_REGEXP` is not able to match String having chinese characters (`测试更新包/1.0.0/测试更新包.1.0.0.nupkg`)

[2020-01-13 23:36] zhongjis commented on #1515
@sbespalov

Sorry for the late reply and I am wondering if I got the issue wrong.

So basically, I want to check if the task here is:

Using **RepositoryManagementStrategy** when
- create a new repo -> stays the same
- load an existing repo from config -> first time loading an existing repo from config

[2020-01-14 07:48] atul46 commented on #1401
is this issue still open?

[2020-01-14 13:42] steve-todorov commented on #1614
@pyashwanthkumar hey, what's the state of this task?

[2020-01-16 15:23] #1540 closed

[2020-01-16 15:24] carlspring commented on #1534
Thanks for your help, guys! :)

[2020-01-16 15:24] #1534 closed

[2020-01-17 02:41] sbespalov commented on #1558
the problem is that currently we have `RemoteRepositorySearchEvent.predicate` which is used by `NpmRepositoryFeatures.SearchPackagesEventListener` to find cached packages and these `predicate` assumed to be based on `ArtifactEntry`. Regarding the issue requirments we should use `RepositoryArtifactIdGroupEntry` to build `predicate` search conditions and it should stay be based on `ArtifactEntry`. T

[2020-01-17 02:53] sbespalov commented on #1621
There is some more improvements which can be done for `http://localhost:58080/entities` endpoint:
- use `https://registry.npmjs.org/` as the data source for entities
- compare the result of generating entities for `neo4j-ogm` and `gremlin-dsl` based repositories

[2020-01-17 03:01] sbespalov opened #1645 "Fix `ArtifactEntity.tags` TODO in `ArtifactEntryRepositoryTest.crudShouldWork()`"
# Bug Description

Collection type properties seems broken in `neo4j-ogm`. It should be fixed probably somewhere in `GremlinRequest`.

# Steps To Reproduce

1. Uncomment TODO in `ArtifactEntryRepositoryTest#crudShouldWork()`
2. Run the test
3. `ArtifactEntity.tags` contents will be not as expected.

# Task Relationships

This bug:
* Relates to: #1573

[2020-01-18 07:14] atul46 commented on #1398
i'm interested in contributing to this issue.

[2020-01-19 17:50] steve-todorov opened #1647 "Migrate maven test cases to use https instead of http"
# Task Description

Our `master` is now broken because Maven Central is now enforcing `https` and would return `501` when accessed via `http`:

[code]

Failing test cases can be seen in our [Jenkins build #2559](https://jenkins.carlspring.org/job/strongbox/job/builds/job/strongbox/job/master/2559/#showFailuresLink).

[2020-01-19 22:14] #1647 closed

[2020-01-22 02:26] sbespalov opened #1649 "Migrate Strongbox from OrientDB to JanusGraph"
# Task Description

Due to many problems in using OrientDB, it was decided to switch to another database. JanusGraph was chosen as a new database.
As part of the PoC project we developed the core concept of Domain Model implementation based on [TinkerPop](http://tinkerpop.apache.org/docs/3.4.4/reference/) and [Spring Data Neo4j](https://docs.spring.io/spring-data/data-neo4j/docs/current/reference/

[2020-01-22 05:40] sbespalov opened #1650 "OrientDB Gremlin configuration"
# Task Description
Provide Spring configurations and related compnents for Gremlin.

# Tasks

The following tasks will need to be carried out:
* [x] Gremlin server configuation (should be optional based on environment variable)
* [x] [Spring Data Neo4j](https://docs.spring.io/spring-data/data-neo4j/docs/current/reference/html/#reference) configuation
* [x] Gremlin DSL interfaces
* [ ] ~[strongbox-

[2020-01-22 05:55] carlspring commented on #1650
Where can one find more details regarding the Gremlin server configuration? Could you please share these details and how you envision this? Thanks!

[2020-01-22 06:10] sbespalov commented on #1650
all the tasks should be done same way like it appears in [strongbox-janusgraph-cassandra-poc](https://github.com/strongbox/strongbox-janusgraph-cassandra-poc) (there is Gremlin Server configuration there)

[2020-01-22 06:30] sbespalov commented on #1650
also we probably should use [orientdb-gremlin](https://github.com/orientechnologies/orientdb-gremlin) here

[2020-01-22 07:19] sbespalov commented on #1650
there is also some documentation [here](http://orientdb.com/docs/3.0.x/tinkerpop3/OrientDB-TinkerPop3.html)

[2020-01-22 09:39] sbespalov opened #1651 "Implement Gremlin based entities for Artifact, ArtifactCoordinates and ArtifactGroup"
# Task Description
Every enitty should have new reopository class with Gremlin based CRUD and Spring Data Neo4j based custom Cypher queryes. Repositories should be placed under `org.carlspring.strongbox.gremlin.repositories`.

# Tasks

The following tasks will need to be carried out:
* [x] Rework `ArtifactEntry` class:
    - [x] Create `Artifact` interface
    - [x] Create `ArtifactEntity` class w

[2020-01-22 09:40] #1636 closed

[2020-01-22 12:09] anki2189 opened #1652 "Enable Disabled test cases for NugetArtifactControllerTest"
# Task Description
Some of the test cases were disabled in `NugetArtifactControllerTest` which uses multipart file.
Currently we are using restassured based `MockMvcRequestSpecification` in our test cases but it doesn't support `PUT` method with multipart file.

# Tasks

The following tasks will need to be carried out:
* [ ] Enable Test `NugetArtifactControllerTest#testPackageCommonFlow`
* [ ] Ena

[2020-01-22 15:29] carlspring commented on #1652
It looks like someone will need to report this to the [restassured](https://github.com/rest-assured/rest-assured/) project. We might even have to submit a pull request for this ourselves.

@anki2189 : Could you please open an issue in their issue tracker on Github and link it back, so that we could start the initial discussion and get things going? Thanks! :)

[2020-01-22 16:30] anki2189 commented on #1652
Created an issue (https://github.com/rest-assured/rest-assured/issues/1262) in restassured project.

[2020-01-22 16:37] carlspring commented on #1652
Thanks! :)

[2020-01-23 01:47] sbespalov opened #1653 "Implement Gremlin based UserEntry"
# Task Description

The `UserEnity` should have a new repository class with Gremlin based CRUD and Spring Data Neo4j based custom Cypher queries. The `UserRepository` should be placed under `org.carlspring.strongbox.gremlin.repositories`.

# Tasks

The following tasks will need to be carried out:
* [x] Re-work `UserEntry` class:
    - [x] Create a `UserEntity` class with `neo4j-ogm` annotations

[2020-01-23 01:49] sbespalov opened #1654 "Replace Embedded OrientDB with Embedded JanusGraph+Cassandra"
# Task Description

We need to adapt the developments made as part of PoC for strongbox.

# Tasks

The following tasks will need to be carried out:
* [x] Replace  OrientDB dependencies with JG+Cassandra dependencies in `strongbox-parent`
* [x] Rename `OrientDbServer` into `EmbeddedDbServer` in `strongbox-db` and provide implementation for JanusGraph+Cassandra
* [x] Replace `OrientDbServerConfigura

[2020-01-23 02:07] sbespalov commented on #1614
@anki2189 would you like to help with it?

[2020-01-23 13:33] steve-todorov commented on #1653
@sbespalov could you please add a few words about the purpose of each of the mentioned class and what they should be doing?

[2020-01-23 19:18] carlspring commented on #1653
Some questions:
* What should the `UserAdapter` be for exactly?
* What should one keep in mind while migrating the `OrientDbUserService` into `GremlinUserService`? Are there some common steps to follow that could be used for other such services that will have to be migrated? (If so, could you please list them here for future reference? Thanks!).

[2020-01-23 19:32] carlspring commented on #1650
Could you please be a bit more specific in regards to where the configuration is? Are these the only configuration resources?
* [src/main/resources/application.yaml](https://github.com/strongbox/strongbox-janusgraph-cassandra-poc/blob/master/src/main/resources/application.yaml)
* [src/main/resources/conf/gremlin-server/gremlin-server.yaml](https://github.com/strongbox/strongbox-janusgraph-cassandr

[2020-01-23 19:37] steve-todorov commented on #1650
@sbespalov could you please give more context:
1. Gremlin DSL interfaces - what interfaces do you think are necessary, do we already have something which needs to be migrated?
2. strongbox-database-ui configuration - what do you mean here?

[2020-01-23 19:59] kaansonmezoz commented on #1653
I'd like to work on this issue. But there are some things which should be cleared out.

-  What is the role of UserAdapter, what should be adapting from what ?
-  I've searched for OrientDbUserService in the code base and the only thing I found is that a variable named after orientDbUserService whose type is UserService. Is that what you meant by OrientDbUserService ? Do you mean UserService ?

[2020-01-23 20:03] carlspring commented on #1653
@kaansonmezoz ,

This is a proof-of-concept based on the [strongbox[(https://github.com/strongbox/strongbox/) project. The code will initially (@sbespalov , please confirm, if this is how you envision it) be in [strongbox-janusgraph-cassandra-poc](https://github.com/strongbox/strongbox-janusgraph-cassandra-poc) where we have Janusgraph + Cassandra all set up.

[2020-01-24 01:38] sbespalov commented on #1653
thank you all for interesing to this issue. There is some general explanations in master task, so please have a look at #1649. Also it would be good to see on how all the things implemented in [strongbox-janusgraph-cassandra-poc](https://github.com/strongbox/strongbox-janusgraph-cassandra-poc). If there still will be a general questions please ask at #1649 comments.

[2020-01-24 01:46] sbespalov commented on #1650
@steve-todorov

by Gremlin DSL interfaces I mean [EntityTraversalDsl](https://github.com/strongbox/strongbox-janusgraph-cassandra-poc/blob/master/src/main/java/org/carlspring/strongbox/janusgraph/gremlin/dsl/EntityTraversalDsl.java). There is some documentation [here](http://tinkerpop.apache.org/docs/current/reference/#dsl). So we alraady have it in PoC and this needs to be migrated to strongbox.

[2020-01-24 01:51] sbespalov commented on #1650
@carlspring

Not only resources. By configurations I mean Spring configuration in general. This is basically all that has the `@Configuration` annotation.

[2020-01-24 01:55] sbespalov commented on #1650
@carlspring

it should be implemented in strongbox. The main thing that need to be done is to make gremlin works with OrientDB and this requires some research which I'm currently working on, so I can't exaclty say what classes we need and how it should be configured.

[2020-01-24 02:07] carlspring commented on #1650
I see, thanks for the clarifications!

I was under the impression that you wanted to try this out in the PoC first.