[2020-10-14 06:41] liooh commented on #1873
First kkkk, I did a pull request for this task

[2020-10-14 17:20] steve-todorov commented on #1840
@madhukarbharti I've just found another corner case - `base64.encode({ALG}md5/sha1/bcrypt(mypassword))` (this seems to be another interpretation of the RFC).
Since you have already implemented the first two, would you please slightly modify the logic in the PasswordEncoder to cover this case as well? (and add additional test cases for it)

[2020-10-14 20:28] GeorgHenkel commented on #1916
Hi @carlspring, I would like to work on this.

[2020-10-14 20:35] carlspring commented on #1916
Hi @GeorgHenkel ,

Thanks for offering to help! Please, feel free to dig in! :)

[2020-10-15 12:06] luan-cestari commented on #1814
As the old PR closed, I opened a new one: https://github.com/strongbox/strongbox/pull/1919

[2020-10-15 17:13] AricMonary commented on #1917
@carlspring Can I work on this once #1916 is closed?

[2020-10-15 17:57] carlspring commented on #1917
I think it would be better, if the same person does it, but let's see, if he's interested first.

[2020-10-15 17:59] AricMonary commented on #1917
Okay. I accidently spent some time yesterday also working on the issue. I am familiar with the structure of the strongbox-npm-metadata project.

[2020-10-15 18:09] ptirador commented on #1819
I've added some new comments on https://github.com/strongbox/strongbox/pull/1914, I think it'll fix it.

[2020-10-15 18:36] steve-todorov commented on #1819
@sbespalov / @ptirador please correct me if I'm wrong, but isn't there a missing `servlet filter` part in this task's description? The `controller` is being called way too far in the pipeline and at that point the request would have received the entire file only to "deny" it. I believe there should be a filter in the beginning and directly deny the request once the `content-length` is bigger than

[2020-10-15 19:33] JanBucko commented on #1819
I was avare of this possible problem when I was figuring out the solution, but in case of embedded tomcat server that comes with spring boot, shouldnt be the servlet limit also configured ?

[2020-10-15 20:59] steve-todorov commented on #1819
We have replaced Tomcat with Jetty in our use case. Spring has `spring.servlet.multipart.max-file-size=1234` which can be configured for this. But you'd need to hardcode it into the `application.yaml` file. I was thinking that maybe we can use a placeholder `spring.servlet.multipart.max-file-size=${strongbox.max-file-size}` which can be taken from `strongbox.yaml`, but I am not entirely sure if we

[2020-10-15 21:19] JanBucko commented on #1819
As far as I know spring.servlet.multipart.max-file-size is only used to configure MultipartConfig element which is then being used through the app. Am I wrong ?

[2020-10-16 01:16] AricMonary commented on #1845
@carlspring Can I work on this issue? If so, could you clarify how to run the database locally to check the timezone?

[2020-10-16 01:42] sbespalov commented on #1819
@steve-todorov I think @JanBucko doing it right. We also could have MVC test to confirm that `MultipartConfigElement` works well.

[2020-10-16 09:50] sbespalov commented on #1840
@steve-todorov need some of your attention here

the initial purpose was a bit different:

could you please fix it in this task description?

[2020-10-16 10:21] JanBucko commented on #1819
Hello, @sbespalov. I am planning to add them soon.

[2020-10-16 15:54] carlspring commented on #1853
Fixed by @ptirador in strongbox/strongbox-parent#87.

[2020-10-16 15:54] #1853 closed

[2020-10-16 15:55] carlspring commented on #1854
Apologies for the late reply, yes, you can give this a go! :)

[2020-10-16 16:36] carlspring commented on #1819
@JanBucko / @sbespalov ,

Does the verification happen before, or after the payload has been uploaded? If so, then, as @steve-todorov suggested (in a chat), it might be too late for us, as we're uploading artifacts (some of which might be quite large) and we would like for this to fail early, rather than late, as failing late will mean incurred bandwidth and elapsed time. Could you please check an

[2020-10-16 16:54] #1873 closed

[2020-10-16 17:01] #1852 closed

[2020-10-16 18:11] kpx3 commented on #1727
a little overwhelmed i am still learning how to use maven.
i saw the related subtask. Should i use the classes you used for maven artifacts or other.
very sorry for this late reply had mid-terms

[2020-10-16 18:14] carlspring commented on #1727
Hi,

You can use them as reference of what will need to be done for the other layouts.

[2020-10-16 18:16] kpx3 commented on #1727
okay I will use them for reference purposes

[2020-10-16 19:26] steffisbootcampdrive commented on #1859
Hello, just checking in. I looked through all of the parent folders and files and I was unable to locate a specifically commons-codec version 1.11 to update and test. I did locate commons-beanutils. Commons-codec may be a dependency located within another dependency package, perhaps commons-beanutils, I see another person has https://github.com/strongbox/strongbox/issues/1847. Would it be alright

[2020-10-16 20:34] JanBucko commented on #1819
@carlspring The verification is running before the file is fully loaded.

[2020-10-16 20:47] carlspring commented on #1859
Hi @steffisbootcampdrive ,

You are welcome to pick this up. What I'd do, if I were you, would be to do a:
[code]

[2020-10-17 00:43] jperk224 opened #1922 "Documentation task: Fix typo on 'Building the Code' in the Developer Guide"
# Task Description
The 'Building the Code' section in the Developer Guide has a slight typo:

To execute a particular **tests**, run:

Should be:
To execute a particular **test**, run:

# Tasks

The following tasks will need to be carried out:
* [ ] Change 'tests' to 'test'
# Useful Links

* [Building the Code](https://strongbox.github.io/developer-guide/building-the-code.html)

# Help

* [Our cha

[2020-10-17 00:43] jperk224 commented on #1922
I'm going to grab this to submit my first PR to strongbox!

[2020-10-17 00:59] jperk224 commented on #1922
PR submitted over in strongbox-docs

[2020-10-17 10:00] JanBucko commented on #1819
@carlspring However I can additionally try to add header filter that attempts to find content-length header in request and if such header present, I can reject enormous request, but in the other case when that header wouldn't be present we would have to rely on SpringBoot multipart file handling after all.

[2020-10-17 17:34] carlspring commented on #1819
I don't think that either of the tools whose layout providers we have implemented don't support the `Content-Length` header. It's a critical pre-requisite for uploading binaries to a repository.

In my opinion, we should implement both the filter and have the Spring Boot check as a fallback.

You have to keep in mind that it might not be a big deal to fail late when you're uploading to on-premise

[2020-10-17 17:39] JanBucko commented on #1819
Okay I'll have a look on that :)

[2020-10-17 17:40] carlspring commented on #1819
Thank you very much! :)

[2020-10-17 19:06] #1916 closed

[2020-10-18 01:59] jperk224 commented on #1922
Making task more generic to cover more doc cleanup

[2020-10-18 19:01] everythings13 commented on #1523
Hi @carlspring, does it still need to be taken up?

[2020-10-18 20:13] carlspring commented on #1523
Hi @everythings13 ,

This task is up for grabs, but it requires someone wih experience with `tcpdump` and wireshark. If you're bot sufficiently comfortable with these tools, I would recommend picking another task instead.

[2020-10-19 16:31] #1846 closed

[2020-10-19 17:55] karannagi commented on #1847
is this done or shall i work on it?

[2020-10-19 18:05] carlspring commented on #1847
Hi, @karannagi ,

Feel free to pick it up!

[2020-10-20 13:07] carlspring commented on #1830
Thanks for your help @dotbg and @steve-todorov ! :)

[2020-10-20 13:07] #1830 closed

[2020-10-20 18:49] flaix commented on #1860
Is this moving forward?

[2020-10-20 18:54] carlspring commented on #1860
@flaix ,

No, it isn't, so please, feel free to pick it up! :)

[2020-10-20 19:47] flaix commented on #1860
@carlspring , wasn't that commons-collections?

Anyhow, this should be ready for review if I understood the directions correctly.

[2020-10-20 19:53] carlspring commented on #1860
Ah, yes, you're right. You can pick that one too, if you like. :)

[2020-10-20 20:35] GeorgHenkel commented on #1681
Hi @steve-todorov I would go for it. Can you please assign me to this task?

[2020-10-21 02:33] sbespalov commented on #1775
@carlspring above PRs are now latest related with #1775 and #1111.  All the other branches and PRs could be closed and deleted. I've rebased all to corresponding #1649 branches. The `spring-boot:run` with embedded cassandra works well for me. Next will check standalone cassandra and distribution.
The only issue I have for now is that I was forced to delete some Jersey customizations related with [

[2020-10-21 10:09] flaix commented on #1862
I suggest you rename the issue to reflect that it is only an upgrade from version 4.3 to 4.4 of commons-collections4, to reflect the change properly and prevent confusion.

I'll give you a pull request for this to get things moving again.

[2020-10-21 11:27] #1860 closed

[2020-10-21 13:03] #1862 closed

[2020-10-21 14:12] j4ckofalltrades commented on #1826
@carlspring I'd like to take this on, please assign to me when convenient.

[2020-10-21 14:14] carlspring commented on #1826
Thanks! Feel free to dig in and good luck! :)

[2020-10-21 14:47] steve-todorov commented on #1775
Thanks for the update @sbespalov!

What is the issue you've found with Jersey? Is this the last remaining issue with #1775 and #1111 or there are others?
I assume it's related to @ptirador 's recent changes in https://github.com/strongbox/strongbox-parent/pull/106. Maybe he can help you out? :)

[2020-10-21 15:17] flaix commented on #1854
Note, that branch `issues/1649` already updates rest-assured to version 4.2.0 in strongbox/stronbox-parent#62. This in going to lead to merge conflicts one way or another. Maybe this issue should wait for strongbox/stronbox-parent#62.

[2020-10-21 15:33] carlspring commented on #1854
Good observation! We've tried to limit the number of things that have been upgraded on the `issues/1649` branch. However, we don't currently have a timeframe of when it will be merged into the `master` and it could still be a while before that happens.

It would probably be a good idea to upgrade this on the `master` for now.

We could discuss this on our [chat channel](https://chat.carlspring.org

[2020-10-21 17:40] flaix commented on #1861
This looks like it could use a push. I'll prepare a PR.

[2020-10-21 18:31] carlspring commented on #1826
Thanks, @j4ckofalltrades ! :)

[2020-10-21 18:31] #1826 closed

[2020-10-21 18:34] carlspring commented on #1861
Thanks, @flaix ! :)

[2020-10-21 19:00] carlspring opened #1927 "Setup a Github Action that deploys our hello-strongbox-* to the Github Package Registry"
# Task Description

We need to create a Github Action for the [strongbox-examples](https://github.com/strongbox/strongbox-examples) that deploys the artifacts for each of layout providers (that we have an image for) to the Github Package Registry for the [strongbox-examples](https://github.com/strongbox/strongbox-examples).

# Tasks

The following tasks will need to be carried out:
* [ ] Create a

[2020-10-21 19:17] BjoernAkAManf commented on #1927
Hi,

this sounds easy. Should the actions somehow also use an installed strongbox installation or merely build + deploy to github actions. While the former sound complicated, the latter seems "pointless"? Am i missing something here?

Would gladly help otherwise :)

[2020-10-21 20:03] ecawlfield commented on #1870
Hey, is this one still up for grabs?

[2020-10-21 20:13] #1861 closed

[2020-10-21 20:24] carlspring commented on #1870
Yes, @ecawlfield ! Please, feel free to pick it up! :)

[2020-10-21 20:49] carlspring commented on #1825
Thanks for all the help! :)

[2020-10-21 20:49] #1825 closed

[2020-10-21 20:58] carlspring opened #1928 "Check if all of our artifacts contain a LICENSE file and add one where necessary"
# Task Description

We need to check, if all of our artifacts contain a `META-INF/LICENSE` file and add it, if wherever this may be missing.

You can find which modules don't have such a file quite easily:
1. Build the artifacts:
[code]
2. Check which artifacts don't have the `META-INF/LICENSE` (ignore `tests` artifacts, but it should be in the default jar, as well as in the `sources` one):
[code]

[2020-10-21 21:02] BjoernAkAManf commented on #1927
Ah thanks! Guess i'll go and write some github actions code then 😄 .

[2020-10-21 22:30] BjoernAkAManf commented on #1927
Took more attempts than i wanted it to, however now it builds jars into the package repository.
Just to clarify, is that what you meant by:
[ ]  Create a Github Action that deploys the hello-strongbox-maven into the Github Package Registry.

See:
https://github.com/BjoernAkAManf/strongbox-examples-actions/blob/main/.github/workflows/maven.yml
https://github.com/BjoernAkAManf/strongbox-examples-act

[2020-10-21 22:37] carlspring commented on #1927
Awesome, thanks! :)

So, you now have the Maven one covered! Would you like to do the rest of the ones that use Maven repositories as well (first)?

[2020-10-22 08:08] BjoernAkAManf commented on #1927
Sure i can do that.

[2020-10-22 09:26] sbespalov commented on #1775
not sure what was the issue but I've restored the jersey related changes and now it seems works fine. so never mind with this :)

[2020-10-22 09:47] BhuwanUpadhyay commented on #1928
may I work on this issue?

[2020-10-22 10:55] carlspring commented on #1928
Hi @BhuwanUpadhyay ,

Sure! Feel free to dig in! :)

[2020-10-22 15:15] j4ckofalltrades commented on #1927
@BjoernAkAManf @carlspring  I'm currently looking into `hello-strongbox-npm`. Also found this cool [project](https://github.com/nektos/act) that lets you run GitHub Actions locally.

[2020-10-22 16:27] carlspring commented on #1927
Thanks, @j4ckofalltrades ! This project looks quite useful and I'm sure we'll be using it to try out more of our Github Actions with it in the future!

cc: @steve-todorov

[2020-10-23 10:51] carlspring opened #1931 "Improve our tests in the strongbox-web-integration-tests"
# Task Description

We need to improve the tests that we have in the [strongbox-web-integration-tests](https://github.com/strongbox/strongbox-web-integration-tests/).

This is the master task for all of the work that will need to be done.

# Tasks

The following tasks will need to be carried out:
* [ ] Improve the tests for our Maven support in the [strongbox-web-integration-tests](https://github.

[2020-10-23 12:23] carlspring commented on #1927
@BjoernAkAManf : How are things going with the Maven-based actions?

[2020-10-23 18:54] AricMonary opened #1932 "Fix strongbox-npm-metadata-jackson Windows build error"
# Task Description
The [strongbox-npm-metadata](https://github.com/strongbox/strongbox-npm-metadata) project was configured to build only using Linux while the [strongbox](https://github.com/strongbox/strongbox) builds on both Linux and Windows. As a result, the Windows build fails upon integrating [strongbox-npm-metadata](https://github.com/strongbox/strongbox-npm-metadata) into [strongbox](https

[2020-10-23 23:51] kundra commented on #1847
Hey! Is this still pending?

[2020-10-24 00:01] carlspring commented on #1847
Hi @kundra ,

Yes, it is! Feel free to pick it up! :)

[2020-10-24 06:26] kundra commented on #1847
Hey, @carlspring Please assign this to me.

[2020-10-24 17:04] luan-cestari commented on #1814
Updated the PR to do all points of this issue, by the way there is no RpmArtifactGenerator or similar for RPM and for P2 there isn`t as well

[2020-10-24 18:45] carlspring commented on #1849
@VanessaSingh ,

Are you still looking into this?

[2020-10-24 19:39] carlspring commented on #1814
Please, ignore the P2 layout provider, as it was started and never completed. You are also right about the `RpmArtifactGenerator`. We have some active work the the RPM support a while ago, but the contributor who was working with me disappeared, so we have the code for this on a separate branch -- `rpm-layout-provider`. You can check [here](https://github.com/strongbox/strongbox/blob/rpm-layout-pr

[2020-10-24 21:32] #1928 closed

[2020-10-24 21:35] #1932 closed

[2020-10-24 21:54] carlspring commented on #1771
@gmlag ,

Thanks for reporting this and for proposing a fix! This was fixed differently by @AricMonary in #1932 (via strongbox/strongbox-parent#119).

[2020-10-24 21:54] #1771 closed

[2020-10-25 03:18] BhuwanUpadhyay commented on #1931
@carlspring may I work on this issue?

[2020-10-25 08:32] sbespalov opened #1933 "Fix the strongbox-distribution with embedded cassandra under JDK-11"
# Task Description
It should be fixed same was as for `spring-boot:run`, so there should be different `wrapper.conf` files depending on JDK environment.

Should be done in `issues/1649`.

# Tasks

The following tasks will need to be carried out:
* [ ] research how to use different `wrapper.conf` files depending on JDK
* [ ] create two `wrapper.conf` files, one for JDK 11 should contain additional

[2020-10-25 11:15] ptirador commented on #1848
Hi @carlspring! Can I work on this?

[2020-10-25 11:33] carlspring commented on #1848
Hi, Pablo!

Yes, please! And... yeah it needs to be upgraded to the latest one.

[2020-10-25 11:35] carlspring commented on #1931
Yes, but not yet. I need to create the sub-tasks with proper descriptions for this.

[2020-10-25 12:11] SolangeUG commented on #1871
Hi @carlspring ,

May I pick up this issue, as I see it's still open?

Thank you!

[2020-10-25 12:14] carlspring commented on #1871
@SolangeUG ,

Sure, please feel free to do so! :)

[2020-10-25 12:38] carlspring opened #1934 "Test our NPM support with the Github Package Registry and improve our strongbox-web-integration-tests"
# Task Description

We have already implemented support for the NPM layout via our [NPM layout provider](https://strongbox.github.io/developer-guide/layout-providers/npm-layout-provider.html). At the moment, we have one NPM proxy defined as [`storage-npm:npmjs`](https://github.com/strongbox/strongbox/blob/master/strongbox-resources/strongbox-storage-api-resources/src/main/resources/etc/conf/strong

[2020-10-25 12:40] carlspring commented on #1931
@BhuwanUpadhyay ,

You can have a look at #1934 , which is the first sub-task of this master issue that can be worked on. The other sub-tasks are either waiting on other tasks to be done first, or have still not been posted.

[2020-10-25 13:24] j4ckofalltrades commented on #1927
Just an fyi regarding authentication in GitHub Action workflows, this pertains to the `GITHUB_TOKEN` secret that is used when publishing artifacts to the GitHub Package Registry. This is automatically provided by GitHub for every repository and can be referenced with `${{ secrets.GITHUB_TOKEN }}`.

See https://docs.github.com/en/free-pro-team@latest/actions/reference/authentication-in-a-workflow#a

[2020-10-25 18:52] JanBucko commented on #1819
Hello, I apologize for the delay but it should be done now.

[2020-10-25 20:10] JanBucko commented on #1819
Hello, I am sorry for the delay, but the filter is now implemented and working.

[2020-10-25 21:54] #1848 closed

[2020-10-25 22:13] carlspring commented on #1814
@luan-cestari ,

Would you like to look into the `RpmArtifactGenerator`, as explained above?

[2020-10-25 22:36] carlspring commented on #1927
Thanks for the clarification, @j4ckofalltrades ! :)

There's something else that we'll need to address -- the non-Maven-based tool have no concept of snapshots, which means that every time we merge a pull request, the NPM, NuGet and so on Github Actions will fail. Is there a reasonable way in which we can handle this for these? Can we remove the artifacts before deploying them? (They're all using

[2020-10-25 22:43] carlspring commented on #1819
Thanks, @JanBucko !

@ptirador , @sbespalov , @steve-todorov : Could you please review? Thanks! :)

[2020-10-26 00:27] ecawlfield commented on #1854
@carlspring I noticed this issue doesn't have an assignee, but based on the comments, I'm wondering if it's taken?

[2020-10-26 00:35] carlspring commented on #1854
@ecawlfield : I don't believe anyone else is looking into this!

[2020-10-26 01:36] carlspring opened #1938 "Test our NuGet support with the Github Package Registry and improve our strongbox-web-integration-tests"
# Task Description

We have already implemented support for the NuGet layout via our [NuGet layout provider](https://strongbox.github.io/developer-guide/layout-providers/nuget-layout-provider.html). At the moment, we have one NuGet proxy defined as [`storage-nuget:nuget.org`](https://github.com/strongbox/strongbox/blob/master/strongbox-resources/strongbox-storage-api-resources/src/main/resources/e

[2020-10-26 01:49] sbespalov commented on #1933
after some research it's seems not possible to have different `wrapper.cont` files within same distribution due to limitations of `appassembler-maven-plugin`. Will consider to proceed with #1459 instead.

[2020-10-26 03:13] #1870 closed

[2020-10-26 12:52] j4ckofalltrades commented on #1927
Unfortunately this isn't possible for public repos / packages. From[ GitHub docs](https://docs.github.com/en/free-pro-team@latest/packages/publishing-and-managing-packages/deleting-a-package#about-public-package-deletion):

To avoid breaking projects that may depend on your packages, you cannot delete an entire public package or specific versions of a public package.

We could maybe skip the publi

[2020-10-26 12:58] carlspring commented on #1927
Yeah, we should probably do this.

[2020-10-26 15:44] #1681 closed

[2020-10-26 16:55] carlspring commented on #1681
Great work, @GeorgHenkel ! Thank you very much! :)

[2020-10-26 17:45] carlspring commented on #1927
@j4ckofalltrades : Could you please make the artifact names more consistent? If possible, they should all be using the following format: `hello-strongbox-*`?

[2020-10-26 18:28] BjoernAkAManf commented on #1927
Sorry to reply so late, have been unexpectedly busy the last couple of days.

I'll add the maven artifact to the github repository now, but otherwise i'll probably wont be able to help the next days.

[2020-10-26 20:52] carlspring commented on #1927
Thanks @BjoernAkAManf ! I think that it will be better, if @j4ckofalltrades does the remainder of the sub-tasks, as he's already done with most of the work anyway.

@j4ckofalltrades , @steve-todorov : Could you please review strongbox/strongbox-examples#28? Thanks! :)

[2020-10-26 23:09] steve-todorov opened #1939 "Migrate strongbox/strongbox-docs to Github Actions"
# Task Description

Migrate strongbox/strongbox-docs to Github Actions.

[2020-10-27 00:01] #1939 closed

[2020-10-27 00:24] #1834 closed

[2020-10-27 00:55] carlspring opened #1941 "Upgrade the maven-dependency-plugin from 3.1.1 to 3.1.2"
# Task Description

We need to upgrade `maven-dependency-plugin:3.1.1` to version `3.1.2`.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Apply any required code changes, or dependency excludes.
* [ ] Test and confirm that there are no issues with the core projects ([strongbox], [strongbox-web-integration-tests], etc) af

[2020-10-27 01:18] carlspring opened #1942 "Add explicit versions for the plugins that are missing such in the strongbox-parent"
# Task Description

We appear to still have a few plugins that are not defined with explicit versions in the [strongbox-parent] and we need to correct this.

Here's a list of some of them:
[code]

You can find a more detailed analysis, by running:
[code]

# Tasks

The following tasks will need to be carried out:
* [ ] Define explicit versions for all the plugins that don't have this in the [strong

[2020-10-27 01:42] sbespalov commented on #1785
fixed with #1924

[2020-10-27 01:43] #1785 closed

[2020-10-27 02:07] sbespalov commented on #1849
I would like to work on it if no one mind

[2020-10-27 02:11] steve-todorov opened #1943 "Revert strongbox-parent version to correct one."
# Task Description

We need to revert the `strongbox-parent` version back to the correct one which seems to have been changed by mistake in a previous PR. The right version is `1.0-SNAPSHOT`.

[2020-10-27 02:20] #1943 closed

[2020-10-27 10:20] #1849 closed

[2020-10-27 11:16] carlspring commented on #1858
Thanks for your help @mknutsen79 ! :)

[2020-10-27 11:16] #1858 closed

[2020-10-27 12:44] #1871 closed

[2020-10-27 13:05] carlspring opened #1945 "Test our Maven support with the Github Package Registry and improve our strongbox-web-integration-tests"
# Task Description

We have already implemented support for the Maven layout via our [Maven layout provider](https://strongbox.github.io/developer-guide/layout-providers/maven-layout-provider.html). At the moment, we have a bunch of pre-defined Maven proxies in the [`storage-common-proxies`](https://github.com/strongbox/strongbox/blob/master/strongbox-resources/strongbox-storage-api-resources/src/

[2020-10-27 15:06] #1942 closed

[2020-10-27 16:25] steve-todorov commented on #1865
Posting this here as well so people can find it easy.

Expected failure output:

* JDK != 8 || 11
[code]

[2020-10-27 16:26] steve-todorov commented on #1864
Posting this here so people can find it easy. (related to recent changes in https://github.com/strongbox/strongbox-parent/pull/107)

* MVN Version < 3.6.3:
[code]

[2020-10-27 16:32] steve-todorov opened #1948 "Fix deprecation notices in strongbox-web-ui"
# Task Description

Fix deprecation notices in [strongbox/strongbox-web-ui](https://github.com/strongbox/strongbox-web-ui).
This would include investigating and migrating to newer versions of deprecated packages or completely their replacements.

Some of the packages might not be updatable since they are inherited from Angular itself.
If that's the case - list them here.

# Task Relationships

Thi

[2020-10-27 16:33] steve-todorov commented on #1948
@GeorgHenkel hey, if you are still interested in this task could you please commend so I can assign it to you?

[2020-10-27 17:04] SolangeUG commented on #1941
Hi @carlspring ,
If that is alright with you, I can take this one, as it's very similar to the [one I just completed][1].

[1]: https://github.com/strongbox/strongbox/issues/1871

[2020-10-27 17:06] carlspring commented on #1941
Hey, @SolangeUG !

I actually did this one earlier in strongbox/strongbox-parent#127.

[2020-10-27 17:06] #1941 closed

[2020-10-27 17:10] carlspring commented on #1851
@ptirador ,

Would you like to follow-up on this?

[2020-10-27 17:14] #1865 closed

[2020-10-27 17:28] carlspring commented on #1780
@sbespalov : I'm assuming we can close this now? You've merged the necessary changes into the `issues/1649` branch, right?

[2020-10-27 17:29] ptirador commented on #1851
@carlspring, sure! Assign it to me.

[2020-10-27 17:31] carlspring commented on #1851
Beat you to it :)

(Thanks! :) )

[2020-10-27 17:38] SolangeUG commented on #1941
Cool, thanks! I will pick up another one! 😄

[2020-10-27 17:39] carlspring commented on #1941
Thanks and sorry about that! I've sent you a few you might be interested in in the chat.

[2020-10-28 01:00] carlspring commented on #1854
@ecawlfield : Could you please use the same versions as in the `issues/1649` branch? Thanks! :)

[2020-10-28 01:32] ecawlfield commented on #1854
As in upgrade to 4.2.0 instead of 4.3.1?

[2020-10-28 01:35] carlspring commented on #1854
You know what...? Perhaps the better thing to do would be to:
* Create a pull request for the `master`, make sure it works with `4.3.1` and
* We'll create another pull request against the `issues/1649` branch and test it there as well

It shouldn't be all that much extra work and we can thus make sure both branches will be on the same version.

[2020-10-28 01:44] ecawlfield commented on #1854
Well, I was getting a build error after upgrading to 4.3.1, so it was sort of stalled at the "make sure it works" part. If it's not a mistake I've introduced, I was thinking there might be some other changes needed for this upgrade?

[2020-10-28 02:11] #1780 closed

[2020-10-28 08:58] carlspring commented on #1854
"I was getting a build error" doesn't really tell us much about the error you're facing.

[2020-10-28 09:09] ecawlfield commented on #1854
Ah, I'm sorry--I put it in the chat earlier, and thought you'd probably seen it already. It was this one:

[code]

[2020-10-28 09:57] flaix commented on #1854
@ecawlfield, since the dependency upgrade is over a major version, there are some breaking changes in the interface to be expected. This is one of them. The interface `MockMvcRequestSpecification` got a new method which is not implemented in Strongbox's code, yet. You will have to add that.

You can have a look at the commit 8313414b71 which includes the update to the new RestAssured version on an

[2020-10-28 10:03] carlspring commented on #1854
Like @flaix said, there will be some detective work required. Have a look at [this](https://github.com/strongbox/strongbox/commit/8313414b715a798cf1d68793492ebb5a660b6b74#diff-86ff0fc80fd9017b0a0ce530660d8ad27e7a94c2a573e4a720592f1ea09b70a2R648-R652). Since all of this has already been done against the `issues/1649` branch, you could backport it to the `master`, get it to work and then upgrade to

[2020-10-28 10:24] flaix commented on #1854
@ecawlfield, just note, that you will usually not need *all* the changes from one diff to solve a problem. That is because the commit changed lots of things, so the changes needed for the dependency upgrade will often be mixed with other changes in one file. For the problem you encountered above, you will need all changes from that diff for that one file.
Later you will come across another compila

[2020-10-28 12:23] #1851 closed

[2020-10-28 18:09] carlspring commented on #1859
@steffisbootcampdrive ,

Any updates on this?

[2020-10-28 20:07] GeorgHenkel commented on #1948
@steve.todorov I have checked all deprecated dependencies of strongbox-web-ui. The only two that are not installed with angular 10 are ngx-progressbar and tslint. TSLint is deprecated in favor of ESLint but that means that all TSLint rules must be migrated.

I will update the ngx-progressbar, but what's with tslint?

[2020-10-28 20:34] flaix commented on #1859
`commons-codec` is a transitive dependency only brought in from `org.apache.httpcomponents:httpclient`. It is currently (with the httpclient already upgraded to 4.5.13) at version 1.13.

[2020-10-28 21:03] carlspring commented on #1859
Thanks! Could you please try overriding the one from the `org.apache.httpcomponents:httpclient` and use the latest version of the `commons-codec`? I remember there was some vulnerability being reported by snyk.io which is why I raised this, (if I recall correctly, and it was over a month ago).

[2020-10-28 21:09] flaix commented on #1854
@ecawlfield, I dunno how you're getting along with the fixes, but maybe this is a last tip that could prove useful. Sometimes the fix for a problem is [not in the same](https://github.com/strongbox/strongbox/commit/8313414b715a798cf1d68793492ebb5a660b6b74#diff-6e70cf984ab35577129f5ccc860e140c677f8a0f220ed5f11e46c2fb5668282f) file as the file the compiler error is reported for. This is often true i

[2020-10-28 21:24] flaix commented on #1859
I can do that if you really want to, but apart from [Snyk listing](https://snyk.io/vuln/SNYK-JAVA-COMMONSCODEC-561518) this as a minor vulnerability of Information Exposure in the Base32 codec, this is already fixed in 1.13.

[2020-10-28 21:35] carlspring commented on #1859
Okay. In this case we can close this task. Thanks for looking into it! :)

[2020-10-28 21:35] #1859 closed

[2020-10-28 21:36] carlspring commented on #1859
@flaix ,

Feel free to join our [chat channel](https://chat.carlspring.org/) where we could discuss some other tasks that you might be interested in help out with.

[2020-10-29 05:35] ecawlfield commented on #1854
Wow, thanks for all the help!

[2020-10-29 15:29] carlspring commented on #1927
@j4ckofalltrades , @BjoernAkAManf , @steve-todorov ,

There is another problem with the deployment of all these artifacts that I've realized. Basically, when an example sub-module has been changed, we will need to bump the versions for all of the other ones as well, because if they have already been deployed to the Github Package Registry, then the deployment for all of them will fail.

Do you guy

[2020-10-29 15:44] steve-todorov commented on #1927
`maven-versions-plugin` will only work for maven artifacts (sbt, mvn and maybe groovy?). `npm` uses the `package.json` and it would need additional work to update the version. We could try doing it :)

However, we'll then need to address this as well:
https://github.com/strongbox/strongbox-examples/pull/28#discussion_r513837469

[2020-10-29 16:03] j4ckofalltrades commented on #1927
One other option is to append the latest commit hash (maybe trimmed to first ~6-10 characters) to the version number. like in https://maven.apache.org/maven-ci-friendly.html and it should be fairly simple to do in other non-Maven based packages as well.

GitHub Actions provides it via the [GITHUB_SHA](https://docs.github.com/en/free-pro-team@latest/actions/reference/environment-variables) environm

[2020-10-29 16:14] carlspring commented on #1927
Another option would be to switch the version to `YYYYMMDD-hhmm` or something along these lines.

[2020-10-29 16:19] carlspring commented on #1927
The hash would probably be easier and cleaner...

[2020-10-30 06:44] flaix commented on #1854
Let us know if we can be of any other assistance to make you succeed.

[2020-10-30 15:21] j4ckofalltrades commented on #1927
@carlspring

Okay let's go with the append timestamp `yyyyMMdd-hhmm` to the version approach. I've opened pull requests for updating the existing gradle workflow strongbox/strongbox-examples#31 plus the other remaining mvn-based ones - sbt strongbox/strongbox-examples#30 and ant-ivy strongbox/strongbox-examples#32.

If all good then it should also be applied to the maven workflow.

[2020-10-31 15:25] flaix commented on #1847
Well, another week has passed and October is coming to an end. This is actually a dependency that should get updated due to existing security vulnerabilities in the current version. Just so you know, I have a PR on stand-by.

[2020-10-31 16:16] carlspring commented on #1847
Hi @flaix ,

Thanks for looking into this.

There is a problem here. @dependabot opened an automated pull request for this against the `master`. That worked back then (and needs to be re-tested). However, when @anki2189 was verifying this a while ago, this actuatlly caused some issue under the `issues/1649`. It's crucial that these upgrades don't break this branch, as we're doing some heavy develo

[2020-10-31 16:34] flaix commented on #1847
It works against master, I checked that already. Will check `issues/1649`.

[2020-10-31 16:36] carlspring commented on #1847
Thanks! :)

[2020-10-31 17:11] flaix commented on #1847
Are the integration tests currently passing for `issues/1649`? They are failing for me. On the current branch tip, without the beanutils update. So I don't have a stable base to compare against.

Integration tests for Web Core are failing.
[code]

[2020-10-31 19:13] flaix commented on #1847
A `mvn clean install` on `issues/1649` with the `commons-beanutils` updated to version 1.9.4 runs successfully.

Running `mvn clean install -Dintegration.tests` fails at the same tests as the current branch tip with version 1.9.3.

The usual test running Strongbox shows no errors.

Soo, the behaviour on branch `issues/1649` is the same with and without the update, but for my it has failing integra

[2020-10-31 19:24] carlspring commented on #1847
@flaix ,

Could you please provide more details regarding the failures in the `strongbox-web-integration-tests`? Also, what is the complete output of your `mvn --version`?

Would you mind joining
our [chat channel](https://chat.carlspring.org/), so we could discuss this furher?

@sbespalov : Are the tests passing for you from your branch?

[2020-10-31 19:26] Rama000777 commented on #1111
@carlspring is somebody working on this? can i work on this?

[2020-10-31 19:32] flaix commented on #1847
I did not run the `strongbox-web-integration-tests`, I ran `mvn clean install -Dintegration.tests`. I'm not sure what details you are looking for?

[code]

[2020-10-31 22:10] flaix commented on #1847
I have run with `-Dintegration.tests` in the directory `strongbox-web-core`, but I don't think I can sensibly provide more detail from that than what is also available in the end result.

[code]

I'll leave you a PR, so you can verify against master that it is still running, if you like. And you could cherry pick the commit to test the `issues/1649` branch on your system, should the normal tip run

[2020-10-31 22:26] carlspring commented on #1847
If you could open one against the `issues/1649` branch, we could test that in Jenkins as well.

[2020-10-31 22:29] carlspring commented on #1111
Hi @Rama000777 ,

Thanks for offerring to help! Perhaps you could have a look at #1782 and investigate the reason for that failing test under JDK11?

[2020-10-31 22:45] flaix commented on #1847
Same procedure with renaming the parent version and then referencing the changed parent version in strongbox/strongbox?

What would the branch names have to be for your automation to work?

[2020-10-31 22:48] carlspring commented on #1847
Only part of the CI build runs when a new pull request has been submitted, or a push notification has been recieved. If we see that passes, we trigged the whole build manually. We turn some very complex and expensive tests on our own infrastructure and it's not feasible to have this enabled for every commit/push, as it takes around 30 minutes in total.

The process is the same -- a pull for the `s

[2020-10-31 22:48] carlspring commented on #1847
The complete build pipeline against the `master` [has pased](https://jenkins.carlspring.org/blue/organizations/jenkins/strongbox%2Fbuilds%2Fstrongbox/detail/PR-1951/2/pipeline).

[2020-10-31 22:52] carlspring commented on #1847
Also, regarding the branch names, it should either be `issue-1234`, or `issues/1234`. Otherwise, our Jenkins will not kick in.

[2020-11-01 00:46] carlspring opened #1952 "Remove our Travis Github check"
# Task Description

We were using Travis for our builds under MacOS. This used to work in the past, however, lately it constanly times out, simply because our complete build takes a while to complete and Travis simply kills it, if it exceeds the time.

# Tasks

The following tasks will need to be carried out:
* [ ] Remove the Travis script.
* [ ] Remove our Travis hooks. (@steve-todorov ?)

# Help

[2020-11-01 00:47] Rama000777 commented on #1782
@carlspring  iam getting this issue in this branch. (issues/1649)

Is this the new issue with jdk 11?

01:44:34.933 | E | 1-worker-3 | o.j.g.database.StandardJanusGraph     | Could not commit transaction [1] due to storage exception in system-commit
org.janusgraph.core.JanusGraphException: Could not execute operation due to backend exception

caused by: org.springframework.beans.BeanInstantiationE

[2020-11-01 00:53] carlspring commented on #1782
This looks like a different error. What's the complete utput of `mvn --version`?

[2020-11-01 10:29] Rama000777 commented on #1782
Apache Maven 3.6.3 (cecedd343002696d0abb50b32b541b8a6ba2883f)

[2020-11-01 10:38] carlspring commented on #1782
Could you please paste the complete output?

[2020-11-01 10:54] sainalshah commented on #1818
@carlspring I can work on this task.

[2020-11-01 11:08] carlspring commented on #1818
Hi @sainalshah ,

Feel free to do so, if you think that the current task is clear enough.

[2020-11-01 11:13] Rama000777 commented on #1782
D:\fullstack\strongbox>mvn --version
Apache Maven 3.6.3 (cecedd343002696d0abb50b32b541b8a6ba2883f)
Maven home: D:\apps\maven\bin\..
Java version: 11.0.9, vendor: Oracle Corporation, runtime: C:\Program Files\Java\jdk-11.0.9
Default locale: en_US, platform encoding: Cp1252
OS name: "windows 10", version: "10.0", arch: "amd64", family: "windows"

[2020-11-01 11:16] Rama000777 commented on #1782
out log from mvn clean install

[output.txt](https://github.com/strongbox/strongbox/files/5470624/output.txt)

[2020-11-01 19:08] SolangeUG commented on #1845
@carlspring I would like to help with this one... if it's still up for grabs 😃

[2020-11-01 20:47] carlspring commented on #1845
Go for it!

[2020-11-02 02:13] carlspring commented on #1847
Thanks! You can use some custom names, but @steve-todorov can tell you more about that. We had it in the wiki somewhere.

[2020-11-02 07:15] BhuwanUpadhyay commented on #1934
@carlspring May I start with this task?

[2020-11-02 07:27] BhuwanUpadhyay commented on #1931
@carlspring ok I will complete all subtask with this issue.

[2020-11-02 10:04] carlspring commented on #1934
Hi!

Yes, please!

[2020-11-02 18:54] steve-todorov commented on #1847
Hey,
I've added some clarifications in the [docs](https://strongbox.github.io/developer-guide/upgrading-dependencies-and-plugins.html#1-strongbox-parent) regarding the versions.
You are mixing naming conventions which is why it's not working.
I've fixed the `strongbox-parent` version for you, but you will need to fix the pom versions in strongbox/strongbox#1951 yourself so that it points to the pr

[2020-11-02 18:57] flaix commented on #1847
Already done it. You can go ahead and run a build to test it.

[2020-11-03 20:29] flaix commented on #1847
New PRs based on clearer branch names.

[2020-11-04 20:51] Rama000777 commented on #1782
@carlspring is this my local issue or need to be fixed? Please let us know whether i can continue this task ?

[2020-11-04 20:57] carlspring commented on #1782
This appears to be a different error. Are you testing this in your own foek, or against our `issues/1649` branch? If it's a fork, perhaps you need to sync and rebase it. You can join our [chat channel](https://chat.carlspring.org/).

@sbespalov : Do your JDK 11 fixes work under Windows?

[2020-11-05 04:38] sbespalov commented on #1782
it should work

[2020-11-07 15:44] j4ckofalltrades commented on #1952
@steve-todorov

Regarding discussion in chat about JDK8 and the macOS build environment in Travis CI; from the [docs](https://docs.travis-ci.com/user/reference/osx/#jdk-and-macos):

So something like this should work:

[code]

Alternatively, we can use the [homebrew addon](https://docs.travis-ci.com/user/installing-dependencies/#installing-packages-on-macos) and set `JAVA_HOME` to this jdk.

[code

[2020-11-07 18:22] steve-todorov opened #1956 "Upgrade Travis CI to use JDK 8 >= 222"
# Task Description

Since we are now enforcing JDK versions, we need to upgrade our `.travis.yml` setup so it uses a MacOS instance which has JDK 8 >= update 222 so that the build can pass.

Check [strongbox/strongbox-parent#pom.xml](https://github.com/strongbox/strongbox-parent/blob/master/pom.xml#L425)

# Task Relationships

This task:
* Relates to: #1864, #1865

# Help

* [Our chat](https://cha

[2020-11-07 18:24] steve-todorov commented on #1952
Hey, thanks for checking into it! I've created a separate task for this #1956. If you're up for upgrading the JDK - feel free to comment under it and I'll assign it to you. :)

You can try with the `jdk: [ -openjdk8 ]` approach - if the JDK is >= 1.8.0_222 then it'll work. Otherwise you'll probably need to go the `homebrew` path.

[2020-11-07 21:09] #1847 closed

[2020-11-07 21:43] steve-todorov opened #1957 "Upgrade our mkdocs-material docker image to the latest 6.x version and fix any potential issues"
# Task Description

Upgrade our mkdocs docker image to the latest [mkdocs-material - 6.1.4](https://github.com/squidfunk/mkdocs-material) version.
The `Dockerfile` is located in our [strongbox/ci-build-images](https://github.com/strongbox/ci-build-images/blob/master/images/mkdocs/Dockerfile.mkdocs) repository.

# Tasks

The following tasks will need to be carried out:
* [ ] Upgrade our mkdocs dock

[2020-11-09 12:13] Suiiyush commented on #1957
May I work on this issue?

[2020-11-09 12:18] carlspring commented on #1957
Hi @Suiiyush ,

Thanks for offering to help! Feel free to pick this up! :)

[2020-11-09 14:50] j4ckofalltrades commented on #1956
@steve-todorov

I can take a look at this. Not sure how I can test it out though...

[2020-11-10 01:18] steve-todorov commented on #1957
It looks like @sroopsai has already created a PR for this which seems to be complete. @Suiiyush could you please pick another task to avoid duplicating PRs?

[2020-11-10 02:05] Suiiyush commented on #1957
Yeah no problem

[2020-11-10 19:26] Rprabudeva commented on #1957
I would like to contribute this one

[2020-11-10 19:33] carlspring commented on #1957
@Rprabudeva ,

Thanks for offering, but, as you can see above, there's already someone working on it. Would you mind picking up another task?

[2020-11-11 14:30] steve-todorov commented on #1956
@j4ckofalltrades if you fork the project, you should be able to setup Travis to run builds for your fork. Normally you'd add your fork from the [Dashboard](https://travis-ci.com/dashboard) or by [syncing your account](https://travis-ci.com/account/repositories). It should directly pickup the `.travis.yml` file and start a build but first you need to have the fork repository registered in Travis (a

[2020-11-14 17:22] j4ckofalltrades opened #1958 "MavenProxyRepositoryProviderTestIT failing test cases"
# Task Description

Fix the failing test cases in MavenProxyRepositoryProviderTestIT

- whenDownloadingArtifactMetadaFileShouldAlsoBeResolved()
- whenDownloadingArtifactDatabaseShouldBeAffectedByArtifactEntry()
- whenDownloadingArtifactMetadataFileShouldBeMergedWhenExist()
- testMavenCentral()

Error logs:

[code]

# Other info

[Travis build log](https://travis-ci.org/github/j4ckofalltrades/stron

[2020-11-15 07:57] j4ckofalltrades commented on #1958
This seems like a permissions issue for the repo at [repo.spring.io](https://repo.spring.io/libs-release/org/carlspring/) which returns a HTTP 401 error.

I'm able to access the [Maven Central repo](https://repo1.maven.org/maven2/org/carlspring/) without any issues.

[2020-11-15 14:30] carlspring commented on #1958
The https://repo.spring.io/ repositories now appear to expect you to be logged in. This seems to be some recent change.

@j4ckofalltrades : Could you please try using one of Google's mirrors (for example the EU one) like this: https://storage-download.googleapis.com/maven-central/index.html, or, even better try accessing it via Bintray? (I don't have the exact URL, but I know that JFrog are mirror

[2020-11-15 15:40] j4ckofalltrades commented on #1958
That did the trick and the Travis CI build's also passing now. I've updated the linked pr in #1956.

[2020-11-15 17:24] carlspring commented on #1958
Awesome! I'm glad it worked! :)

[2020-11-15 23:54] carlspring commented on #1814
I've had a quick look at the [`RpmArtifactGenerator`](https://github.com/strongbox/strongbox/blob/rpm-layout-provider/strongbox-storage/strongbox-storage-layout-providers/strongbox-storage-rpm-layout-provider/src/test/java/org/carlspring/strongbox/artifact/generator/RpmArtifactGenerator.java) class and it looks like there's nothing to do there.

Thanks for your help, @luan-cestari ! :)

[2020-11-15 23:54] #1814 closed

[2020-11-16 02:40] sbespalov commented on #1840
@madhukarbharti @steve-todorov task description updated with `LdapUserDetailsMapper` approach

[2020-11-16 04:03] carlspring commented on #1840
Thanks, @sbespalov ! :)

[2020-11-17 10:52] #1956 closed

[2020-11-17 10:52] #1958 closed

[2020-11-17 13:02] steve-todorov opened #1960 "Investigate what needs to be done to upgrade our Nuget support to use API 3"
# Task Description

The Nuget team has made an [announcement](https://github.com/NuGet/Announcements/issues/48) which states they are deprecating API v2 and will begin blocking 3rd party clients in February 2021.

Today and tomorrow (November 17th and 18th) they will be temporarily blocking all requests coming from older clients.
This is why our master is currently not building.

Example request &

[2020-11-17 13:28] sbespalov commented on #1960
@steve-todorov one small clarification which may be important here. This probably not means that we should fully support Nuget v3 API for strongbox. This is only about for strongbox to support proxeing of Nuget v3 reositories.

[2020-11-17 13:43] sbespalov commented on #1960
In other words we could just investigate would it be possible to proxy Nuget v3 thru Nuget v2.

[2020-11-18 00:58] #1779 closed

[2020-11-18 16:46] #1957 closed

[2020-11-18 20:11] joelverhagen commented on #1960
Thanks for linking to the associated announcement as this notified me of another affected customer. I am happy to provide information regarding the V2 or V3 API in NuGet. To clarify, 3rd party clients are welcome to use either our officially support V2 endpoints or using the documented V3 API. There is not restriction on 3rd party clients, per se, but rather a restriction on certain V2 OData queri

[2020-11-18 21:14] carlspring commented on #1960
Hi @joelverhagen ,

Thank you very much for reaching out to us and for providing these useful details!

The end-points that we support can be found [here](https://github.com/strongbox/strongbox/blob/master/strongbox-web-core/src/main/java/org/carlspring/strongbox/controllers/layout/nuget/NugetArtifactController.java). In a nutshell, this is what we currently support:
* This is used for deleting ar

[2020-11-18 21:27] joelverhagen commented on #1960
Looks fine. Example request:
`DELETE https://www.nuget.org/api/v2/package/{packageId}/{version}`

Looks fine as long as `$filter` is not provided. The `$filter` parameter requires DB access for us and is extremely expensive at scale. Consider changing the approach.

Without `$filter`, it works fine.

https://int.nugettest.org/api/v2/Search()/$count
or
https://www.nuget.org/api/v2/Search()/$count

[2020-11-18 21:45] carlspring commented on #1960
@sbespalov ,

As the lead developer on the NuGet implementation, is there anything else you would like to add?

All credits go to @sbespalov who spent about a year absorbing, improving and further developing the JNuGet project (which is now dead) into Strongbox! :)

[2020-11-18 21:47] carlspring commented on #1960
@j4ckofalltrades , @anki2189 , @madhukarbharti ,

Would either of you fine gentlemen be insterested in working on this issue? :)

[2020-11-23 13:02] sbespalov commented on #1960
as per comments above we seems just need to check how we rely on deprecated API. First of all we need to know if this affects on `strogbox-web-integration-tests` and if does affects then find out exact API calls that causing issues. Then we need to check whether it is possible to do without deprecated API calls if needed.
Based on the results it will be possible to make conclusions how we could co

[2020-11-23 14:01] anki2189 commented on #1727
@carlspring Pypi packages doesn't support list of licenses. https://docs.python.org/3/distutils/setupscript.html#additional-meta-data

[2020-11-23 14:05] carlspring commented on #1727
Interesting. Well, we can still add it as a list in our implementation and then just write one license and make it fail, if there are is more than one license.

[2020-11-23 19:16] carlspring commented on #1727
@anki2189 ,

Would you like to look into this?

[2020-11-24 07:34] anki2189 commented on #1727
Yes, I am working on it.

[2020-11-24 08:53] carlspring commented on #1727
Excellent! Thank you! :)

[2020-11-24 17:01] anki2189 commented on #1725
@carlspring I will pick this one if no one is working on it.

[2020-11-24 17:41] carlspring commented on #1725
Thanks, @anki2189 ! :+1:

[2020-11-25 11:34] carlspring opened #1962 "Re-work the licenses annotations to use SPDX, instead of hard-coded values"
# Task Description

Currently, we've hard-coded some more common licenses in the `LicenseType` enum class. We should replace this with the [Java SPDX library](https://github.com/spdx/Spdx-Java-Library) and drop the need for this class, or make it work with SPDX.

# Tasks

The following tasks will need to be carried out:
* [ ] Introduce the SPDX library to Strongbox.
* [ ] Investigate what will nee

[2020-11-26 16:04] sainalshah commented on #1818
@carlspring Can I clarify whether the UI changes in strongbox-web-ui are part of this task, or I just need to ensure that the checksum request could be updated from UI?

My understanding is, I could define the supported list of checksums in Maven2LayoutProvider class and per repository configuration could be retrieved from RepositoryData. Whenever the metadata is built/ rebuilt, the checksum would

[2020-11-26 17:01] anki2189 commented on #1728
@carlspring `RpmArtifactGenerator` is not yet implemented, pls correct me if I am missing something.

[2020-11-26 17:02] carlspring commented on #1728
Hi,

This is on a branch. I believe the latest code was on the `rpm-layout` branch.

[2020-11-27 16:35] steve-todorov commented on #1818
@sainalshah the frontend part is located in the [strongbox-web-ui](https://github.com/strongbox/strongbox-web-ui) project. What @carlspring meant was that when you go in the UI at the `Storages` module and attempt to add/update a `Repository` - there should be a checkbox or a dropdown for this.

I'm unsure if you should be able to select one or both checksum options @carlspring ?

[2020-11-28 00:02] steve-todorov opened #1964 "Improve test compatibility between UnboundID and OpenLDAP"
# Task Description

The default `UnboundID` instance provided by Spring Boot can be partially configured, but unfortunately it lacks the ability to `addAdditionalBindCredentials()` and import multiple LDIF files (you can define only one via `spring.ldap.embedded.ldif`).

Not being able to configure additional bind credentials causes conflicting configuration issues:

1. `UnboundID` instance provid

[2020-11-28 02:26] carlspring commented on #1818
I think there should be a checkbox for this for both. By default, it should be using `md5` and `sha1`.

[2020-11-30 07:57] ecawlfield commented on #1854
I am no longer working on this issue; it's up for grabs.

[2020-11-30 12:35] carlspring commented on #1854
@ecawlfield ,

Thanks for letting us know!

@flaix , @ptirador ,

Are you interested in picking this up? :)

[2020-12-01 09:12] anki2189 commented on #1726
@carlspring I would like to pick this one.

[2020-12-01 09:13] steve-todorov commented on #1726
It's yours! Have fun! :)

[2020-12-01 09:56] anki2189 commented on #1726
licenseUrl attribute is deprecated now (link)[https://docs.microsoft.com/en-us/nuget/reference/nuspec#licenseurl]

[2020-12-01 10:40] #1727 closed

[2020-12-01 13:11] steve-todorov commented on #1964
This has been fixed as part of PR #1909.

[2020-12-01 14:48] JohanDelValleV commented on #1703
Is this issue still open? I'm looking for OP projects to contribute @carlspring

[2020-12-01 14:59] carlspring commented on #1703
Hi @JohanDelValleV ,

Yes, it's still open and nobody's working on it. Feel free to pick it up! :)

[2020-12-01 20:49] #1840 closed

[2020-12-01 20:49] #1964 closed

[2020-12-02 08:04] anki2189 commented on #1854
@carlspring There is already a PR raised. It was tested with version `4.3.0` , will try it with `4.3.1`

[2020-12-05 06:44] sbespalov commented on #1459
seems we had spring-projects/spring-boot/issues/17796 within #1963
the exception was:
[code]

fixed with `-Dsun.misc.URLClassPath.disableJarChecking=true`

[2020-12-05 06:58] sbespalov commented on #1459
now there is following issues:
- [ ] exception during startup
[code]
- [ ] no file logs

truing to fix it as well

[2020-12-05 16:59] carlspring commented on #1459
It seems like we need to do enable [this](https://stackoverflow.com/questions/58539657/com-fasterxml-jackson-databind-exc-mismatchedinputexception-cannot-deserialize) for single-values. Would you mind trying it, if you haven't done so already? Thanks! :)

[2020-12-06 23:07] steve-todorov opened #1967 "Refactor the setup-jdk script"
# Task Description

The [`setup-jdk.sh`](https://github.com/strongbox/ci-build-images/blob/5aab53304122f0b917edf22d289a18eec995df48/common-scripts/setup-jdk.sh) script file needs to be refactored so that it's more portable and usable in `Vagrant`, `Ansible` and still work in `Docker`.

# Tasks

The following tasks will need to be carried out:

* [x] Convert the env variables to options, but fallba

[2020-12-07 02:52] #1967 closed

[2020-12-08 22:52] #1725 closed

[2020-12-10 02:38] #1726 closed

[2020-12-10 02:39] carlspring commented on #1728
@anki2189 ,

Would you like to pick this up? :)

[2020-12-10 09:51] sbespalov opened #1968 "Implement JanusGraph id block queues"
# Task Description

# Tasks

The following tasks will need to be carried out:
* [x] Make it possible to have custom `GraphDatabaseConfiguration`
* [x] Implement a `TransactionVertexIDAssigner` attached to corresponding ID queue
* [x] Make `VertexIDAssigner` stored as a resource of `TransactionSynchronizationManager`
* [x] Provide corresponding `TransactionManager` for cron job tasks execution
* [x

[2020-12-11 10:09] anki2189 commented on #1854
@carlspring I have raised separate PR for [master](https://github.com/strongbox/strongbox/pull/1701) and [issues/1649](https://github.com/strongbox/strongbox/pull/1969), pls review the changes.

[2020-12-11 14:26] carlspring commented on #1854
Thanks, @anki2189 !

As mentioned in our private chat, the pull against the `master` will be merged. The one against the `issues/1649` branch will be tested in Jenkins and, if it passes, it will be closed. @sbespalov will then pick it up from the `master` when he next rebases his branch (`issues/1649`) in order to avoid noise in the rebase.

[2020-12-14 09:47] kanwarpreet25 commented on #1815
hey! Can I help on this issue ?

[2020-12-14 15:34] steve-todorov opened #1970 "Fix gradle build issues"
# Bug Description

Some of the operations in `setup-mvn.sh` are causing issues in other images (i.e. gradle), because it relies on `$(id -u):$(id -g)`. This causes the `$HOME` path to be `chowned` by `root` user instead of the correct user.

# Tasklist

- [ ] Move the `settings.xml` related logic into a separate script which can accept `--user` arguments to allow for manually overriding the `$USER

[2020-12-14 17:53] #1970 closed, assigned to steve-todorov

[2020-12-16 16:52] Radhika14soni commented on #1815
Hi! I would like to contribute. Can I help on this issue?

[2020-12-16 16:55] carlspring commented on #1815
@kanwarpreet25 , @Radhika14soni ,

Have you guys had a look at the code mentioned above? That's the starting point. Have you built the project?

[2020-12-19 00:02] carlspring commented on #1818
@sainalshah ,

How're things going?

[2020-12-19 05:54] sainalshah commented on #1818
I implemented some of the logic, but faced some difficulty when it came to implementing the test cases. Since it's my first time touching this part of the codebase, it's taking bit long for me. Plus I was bit busy these days.

[2020-12-19 09:15] carlspring commented on #1818
Sure, no problem! Let us know, if you have any problems, or questions. Good luck! :)

[2020-12-27 02:42] carlspring commented on #1819
@JanBucko ,

Any reason why you've closed these pull requests?

[2020-12-30 06:20] sbespalov opened #1972 "Fix failing tests in NpmArtifactControllerTestIT"
# Bug Description

The following tests were disabled due to Jersey client issue:
 - `NpmArtifactControllerTestIT#testViewArtifactViaProxy`
 - `NpmArtifactControllerTestIT.testSearchArtifactViaProxy`

# Steps To Reproduce

Mostly reproducible on Jenkins build
1. Enable the tests above (using branch `issues/1649`)
2. Trigger a Jenkins build

# Useful Links

* [Seems like a similar issue](https://sta

[2020-12-30 06:51] sbespalov opened #1973 "Fix the DownloadRemoteMavenIndexCronJobTestIT and ClearTrashCronJobFromMaven2RepositoryTestIT tests"
# Bug Description

Following tests was disabled due to Jenkins windows build failures:
- `ClearTrashCronJobFromMaven2RepositoryTestIT#testRemoveTrashInRepository`
[code]
- `DownloadRemoteMavenIndexCronJobTestIT#testDownloadRemoteIndexAndExecuteSearch`
[code]

# Steps To Reproduce

Mostly reproducible on Jenkins windows build

1. Enable tests (using branch `issues/1649`)
2. Run Jenkins build

# Tas

[2021-01-08 18:55] carlspring opened #1976 "Make the log files rolling"
# Task Description

We're using Logback and SLF4J. We need to add rolling logs.

The logging configuration is in `strongbox-resources/strongbox-common-resources/src/main/resources/logback-spring.xml`.

# Tasks

The following tasks will need to be carried out:
* [ ] Rolling logs should be generated on a daily basis.
* [ ] Rolled log files should be compressed using `gz`.
* [ ] Log files should not

[2021-01-08 19:17] #1976 closed, assigned to nobody

[2021-01-08 19:18] carlspring commented on #1976
Well, they actually _**are**_ rolling. My bad!

[2021-01-08 19:26] steve-todorov commented on #1976
This task was finished very fast! 😀

[2021-01-08 19:28] carlspring commented on #1976
Yeah... :rofl:

[2021-01-10 07:56] kmeet commented on #1819
Hello,

Looking for my first contribution with this issue, specifically these points:

- Implement support for this in the org.carlspring.strongbox.controllers.configuration.ServerConfigurationController.
- Implement support for this in the org.carlspring.strongbox.controllers.configuration.StoragesConfigurationController.
- Implement support for this in the org.carlspring.strongbox.controllers.Ba

[2021-01-10 20:42] carlspring commented on #1819
@JanBucko ,

What happened with your pull requests for this issue? Would you like to pair up with @kmeet ?

[2021-01-11 08:56] JanBucko commented on #1819
Hello, I apologise, but I can't work on this issue currently due to lack of time, surely @kmeet could use changes that I've already made to the controllers if he wants to.

[2021-01-22 09:54] sbespalov commented on #1968
fixed with #1971

[2021-01-22 09:54] #1968 closed, assigned to sbespalov

[2021-01-24 04:44] carlspring opened #1978 "Make the controllers use constants instead of hard-coded values for the HTTP response codes"
# Task Description

There are many places across the controllers where the numeric response codes are hard-coded like this:

[code]

We should use constants for these.

The controllers are located under `strongbox-web-core/src/main/java/org/carlspring/strongbox/controllers`.

# Tasks

The following tasks will need to be carried out:
* [ ] Find which class to use these contants from (`org.springfra

[2021-01-24 10:39] bhargav-khalasi commented on #1978
@carlspring I am interested in working on this issue. Let me know when can I start working on the same.

[2021-01-24 12:51] sbespalov opened #1979 "Rework NugetODataFilterQueryParser"
# Task Description

# Tasks

The following tasks will need to be carried out:
* [ ] Task 1
* [ ] Task 2
* [ ] Task 3

# Task Relationships

This task:
* Is a sub-task of:
* Depends on:
* Is a follow-up of:
* Relates to:

# Useful Links

* [link1]()
* [link2]()
* [link3]()

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @steve-todorov

[2021-01-24 13:00] sbespalov opened #1980 "Complete `TODO` at `NpmArtifactControllerTestIT.testSearchArtifactViaProxy`"
# Task Description
Need to be done after strongbox search will be re-implemented.

# Tasks

The following tasks will need to be carried out:
* [ ] Task 1
* [ ] Task 2
* [ ] Task 3

# Task Relationships

This task:
* Is a sub-task of:
* Depends on:
* Is a follow-up of:
* Relates to:

# Useful Links

* [link1]()
* [link2]()
* [link3]()

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of

[2021-01-24 13:29] carlspring commented on #1980
@sbespalov ,

Could you add a proper description in this task, please? Thanks!

[2021-01-24 13:30] carlspring commented on #1979
@sbespalov ,

Could you please add a proper description for this? Thanks!

[2021-01-27 00:28] steve-todorov commented on #1782
This test seems to have been fixed in `issues/1649` so the issue is obsolete. Closing it. Thanks to all participants! :)

[2021-01-27 00:28] #1782 closed

[2021-01-27 00:35] steve-todorov commented on #1745
This test seems to have been fixed in `issues/1649` so the issue is obsolete. Closing it. Thanks to all participants! :)

[2021-01-27 00:35] #1745 closed

[2021-01-27 00:39] steve-todorov commented on #1973
It looks like this issue has been half-fixed - enabling `DownloadRemoteMavenIndexCronJobTestIT#testDownloadRemoteIndexAndExecuteSearch` doesn't seem to be failing in Jenkins.

[2021-01-27 00:43] carlspring commented on #1775
Could this task now be closed, or is there anything that still needs to be done?

Are the two sub-tasks (above) still relevant and what is their status:
* [ ] Check how it affects the build times of `strongbox-against-strongbox`.
* [x] Fix our `wrapper.conf` problems with the Tanuki wrapper for the `strongbox-distribution`, or replace the Tanuki wrapper with a different solution such as Spring Boo

[2021-01-27 01:24] steve-todorov commented on #1111
@carlspring / @sbespalov do we have more JDK11 issues which need to be fixed or is this task ready to be closed? :)

[2021-01-27 01:30] carlspring commented on #1111
Thanks to everyone involved! :)

@steve-todorov: We don't have JDK11 related tasks, per se, (or, at least -- not that I'm aware of), but we do have that one follow-up task for the migration away from the Tanuki wrapper.

[2021-01-27 01:30] #1111 closed

[2021-01-27 02:01] carlspring commented on #1109
Closing this as we now have support for JDK 8 and 11 (the JDK 11 support will be added via #1676).

[2021-01-27 02:01] #1109 closed

[2021-01-27 02:43] steve-todorov commented on #1775
We are not using `Tanuki` anymore so this can be removed / checked. I'll trigger an `sb-against-sb` task to check if it all works, but this task should be closed since we upgraded to 4.0-beta2 a while ago.

[2021-01-27 02:49] carlspring commented on #1775
Okay, please, follow-up on this task and close it, when you have checked things. Thanks!

[2021-01-28 15:51] sainup commented on #1978
@carlspring I am interested too if anyone isn't working on it. I would very much like to help as I am beginner and it would help me with learning. Thank you!

[2021-01-29 18:03] anishansu100 commented on #1978
@carlspring  I am interested as well as for it would be good starting point for me to learn as a beginner while gain experience in the open source environment

[2021-01-30 11:50] sbespalov opened #1981 "Fix `strongbox-security-users.yaml`"
# Bug Description

Within application startup the `strongbox-security-users.yaml` file is overwritten with the wrong format. The problem is that `users.user.roles` collection contains objects instead of strings which is expected by `UserDto`

# Steps To Reproduce

1. Run distribution with `./bin/strongbox console`
2. Startup process failed with following exception:
[code]
# Task Relationships

Thi

[2021-01-31 03:25] sbespalov opened #1983 "Fix `Port 48080 was already in use.`"
# Bug Description

Strongbox distribution fails with `Port 48080 was already in use.`

# Steps To Reproduce

1. Run distribution with `./bin/strongbox console`
2. Startup process failed with following exception:
[code]
# Task Relationships

This bug:
* Relates to:  #1676

[2021-02-02 19:51] raw-letisso commented on #1887
Hi everyone, i tried to reproduce this bug but it did not. Is this bug still actual?

[2021-02-02 19:53] carlspring commented on #1887
Hi @raw-letisso ,

Under what resolutions did you try it?

[2021-02-02 19:56] raw-letisso commented on #1887
@carlspring
am, i install window resizer in chrome extensions and tried in there

[2021-02-02 19:58] carlspring commented on #1887
Under what resolutions? Also, have you tried actually changing to that resolution as well?

[2021-02-02 20:01] raw-letisso commented on #1887
in settings screen resolution is 1920x1080
No, i didn't try change actually

[2021-02-02 20:22] carlspring commented on #1887
Well, the resolution under which this is known to happen is 2560 x 1600.

[2021-02-02 20:37] steve-todorov commented on #1887
Hey @raw-letisso, yes this issue is indeed active. You can try with resolutions which are lower than like `1280x768` maybe? I was able to reproduce it a while ago using `Ctrl ++` to zoom the page.

[2021-02-02 21:02] raw-letisso commented on #1887
Thank you @steve-todorov
Yes, then i increase zoom of page some visual problems stats to appear
then i decrease zoom nothing, and that's why i was confused

[2021-02-02 22:05] shaxxs commented on #1978
Hello, since anyone started this task, I take it, it would be done in an hour :)

[2021-02-02 22:22] carlspring commented on #1978
Thanks and good luck!

[2021-02-03 23:04] steve-todorov commented on #1981
Thanks for fixing this issue @sbespalov! :)

I tried this and it works.

However there is another issue which is that the initial `strongbox-security-users.yaml` file is still being overwritten at runtime.
I haven't looked into the "how", but to me this is yet another bug which we should fix (outside of the JG migration), because it can lead to harmful data loss (i.e. when you comment out portion

[2021-02-04 03:27] carlspring commented on #1981
@steve-todorov : Could you please raise a follow-up task for this? It looks like we'll have to address it separately.

[2021-02-04 12:09] steve-todorov opened #1985 "The strongbox-security-users config file is overwritten at runtime"
# Bug Description

The initial `strongbox-security-users.yaml` file is being overwritten at runtime.

I haven't looked into the "how", but this can lead to harmful data loss (i.e. when you comment out portion of the yaml with the idea to come back to it later).

I noticed this is happening somewhere around the `StorageBooter` stage while watching for changes to the file via `watch -n 1 -- cat etc/

[2021-02-04 19:40] #1981 closed, assigned to sbespalov

[2021-02-09 03:05] brendoncheung opened #1986 "Unsolved references when opening the project using IntelliJ"
Hello all,

First time making an issue,

I am trying to make my first contribution but when I cloned the project into my IntelliJ, I got all sorts of unsolved references, does anybody know how to fix this? thank you!

<img width="1792" alt="Screen Shot 2021-02-08 at 10 03 25 PM" src="https://user-images.githubusercontent.com/18616565/107309987-7c997f00-6a59-11eb-8f1e-6781e046aedb.png">

[2021-02-09 03:20] steve-todorov commented on #1986
Hi and welcome!

You should check our developer documentation which is located here:
https://strongbox.github.io/developer-guide/index.html

This not an issue with the project, but with your environment. Most likely you haven't configured your `settings.xml` file properly which is why maven / Idea could not resolve the dependencies. I'm closing this issue - if you need help you might want to join

[2021-02-09 03:20] #1986 closed, assigned to nobody

[2021-02-09 04:45] brendoncheung commented on #1978
Hello, I'm trying to work on this and is this even possible? I kept getting the error that the value must be a constant

[2021-02-12 20:11] steve-todorov commented on #1983
Thanks for fixing this! Closing. :)

[2021-02-12 20:11] #1983 closed, assigned to sbespalov

[2021-02-14 02:17] steve-todorov commented on #1978
Hi @shaxxs and everybody involved!

We are sorry but it looks like this task will introduce more problems than it will actually fix (i.e. make the code much harder to read and possibly add conflicts by using wrong imports). Therefore we'll be marking this as `won't fix` and closing the task and the PR submitted by @shaxxs. Apologies for this!

Thanks for your time and contribution!

[2021-02-14 02:17] #1978 closed, assigned to nobody

[2021-02-15 21:55] steve-todorov opened #1987 "Upgrade to Angular 11"
# Task Description

We need to upgrade our `@angular/*` dependencies from `10.*` to version `11.*`.

# Notable changes

* [Angular >= 11 drops support for IE 9, 10 and Mobile](https://blog.angular.io/version-10-of-angular-now-available-78960babd41#c357)
* Angular requires TypeScript 4.0+.
* Allows for opt-in to webpack 5 by using Yarn and adding "resolutions": {"webpack": "^5.0.0"} to your package

[2021-02-17 07:10] sbespalov opened #1988 "Fix `ConfigurableProviderManagerTest.testExternalUserShouldBeReplacedWhenExpired()`"
# Bug Description

Test fails with following error:
[code]

# Task Relationships

This bug:
* Relates to:  #1676 and #1753

[2021-02-17 07:24] sbespalov commented on #1988
I've added some logs and it shows that such error shouldn't happen:
[code]

so the last lines here is about that it should be `test-duplicate` and not clear why we have `test-concurrent`, which is from another test case:
[code]
trying to investigate this strange error, but for now it's seems that `userRepository.save(userEntry)` returns wrong entity from another transaction, which seems like reall

[2021-02-18 02:21] steve-todorov commented on #1985
Most likely this issue is being caused by `UsersConfig.init` which calls:

1. `userService.setUsers(securityUsers);` which then goes into
2. `YamlUserService#modifyInLock` which calls
3. `doStoreUsers` and finally ends at
4. `usersFileManager.store()` (`UsersFileManager.store`)

[2021-02-18 11:58] anki2189 commented on #1988
An issue was already created for this https://github.com/strongbox/strongbox/issues/1802.
This issue is very weird , I also tried to debug it was not able to fix it.

[2021-02-19 02:54] steve-todorov commented on #1802
Thanks for reporting this! Closing in favor of #1988 :)

[2021-02-19 02:54] #1802 closed

[2021-02-19 02:56] steve-todorov commented on #1988
Thanks @anki2189 for mentioning this! I've closed the other ticket since we're tracking it here. :)

[2021-03-02 00:08] #1887 closed

[2021-03-08 21:22] dawsonnnnnnnn commented on #1126
Hi! It looks like there's some folks being assigned and unassigned to this. I'd love to help out with the REST API docs once and for all  😁 Let me know if I could jump in.

[2021-03-15 05:09] KenCox94 commented on #1915
Could I contribute to this project?

[2021-04-21 20:15] okynSan commented on #1373
Is this still actual to work on?

[2021-04-28 17:32] AdrianMirica commented on #1731
Hello, the issue is still blocked ? If no, maybe I can help with it.

[2021-05-03 19:36] gdguesser commented on #1575
@carlspring anyone working on this one atm?

[2021-05-09 04:53] sophiya02 commented on #1815
Hi!. I am totally new to contributing to open source, even though I have forked some repositories but this is going to be my first technical contribution. Can I fork this repository and have a look at the documentation part?

[2021-05-15 13:18] ajitluhach commented on #1515
Hi, if no one else is working on the issue, I'd like to take this up.

[2021-05-19 17:17] GligorAvram opened #1991 "Unable to clone repository on Windows - filename too long error"
# Bug Description

When I tried to clone the repository on Windows 7 and 10 I receive some "filename too long" errors.

# Steps To Reproduce

1. Use IntelliJ or Git to clone the repository on Windows

# Expected Behavior
Cloning git successful

# Screenshots
![strongbox bug](https://user-images.githubusercontent.com/23247516/118855330-55670f00-b8de-11eb-8b7b-78c20c776943.png)

# Environment
Window

[2021-05-19 18:57] steve-todorov commented on #1991
Thanks for submitting this issue, but I'm afraid you haven't read the [developer guide](https://strongbox.github.io/developer-guide/building-the-code.html#common-build-problems). This is not a bug and is not something we can fix. It's a Windows issue.

[2021-05-19 18:57] #1991 closed, assigned to nobody

[2021-07-17 18:56] KuhanPrakash commented on #1815
Hi, is anyone working on this atm,  can I contribute to this?

[2021-07-24 09:49] Shubhojeetban commented on #1375
Is there anyone who is still working on this issue or I can take this

[2021-08-04 10:45] KishkinJ10 commented on #485
@carlspring Greetings , can I work on this ?

[2021-08-04 11:01] carlspring commented on #485
@KishkinJ10 : This is on hold.

[2021-08-08 11:55] realtonyig opened #1992 "Please add support for yandex OTP"
# Task Description
Recently, keepass plugin KeePassOTP added the support for yandex OTP.  Is it possible that strongbox adds the same feature?

# Tasks

The following tasks will need to be carried out:
* [ ] Task 1
* [ ] Task 2
* [ ] Task 3

# Task Relationships

This task:
* Is a sub-task of:
* Depends on:
* Is a follow-up of:
* Relates to:

# Useful Links

* [KeePassOTP](https://github.com/Rooki

[2021-08-08 13:39] carlspring commented on #1992
Hi,

You've posted this issue to the wrong project. I assume you're referring to the [strongbox-password-safe/Strongbox project](https://github.com/strongbox-password-safe/Strongbox). I'm therefore closing this bug report.

Kind regards,

Martin

[2021-08-08 13:39] #1992 closed, assigned to nobody

[2021-08-08 13:56] realtonyig commented on #1992
Hi Martin,

Oh, I'm so sorry for the mistake.
I've posted it to the right place. Thank you.

Best Regards,
Tony

[2021-08-08 14:50] carlspring commented on #1992
No problem! :)

[2021-08-13 08:20] steve-todorov opened #1993 "Upgrade mkdocs to v7"
# Task Description

The following tasks will need to be carried out:

* [x] Upgrade our mkdocs fork image to 7
* [ ] Make the necessary migration upgrades in [strongbox/strongbox-docs](https://github.com/strongbox/strongbox-docs)

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @steve-todorov

[2021-09-05 18:40] shubham-singh-748 commented on #1649
How can i join awesome_for_beginners chat communtiy?

[2021-09-08 17:28] Kamil78dahelo opened #1994 "docs.github"
https://docs.github.com/

[2021-09-29 18:52] #1719 closed

[2021-10-08 00:39] Olya-Grygorian commented on #1915
Hi. Can I work on this?

[2021-10-08 00:39] Olya-Grygorian commented on #1917
Hi. Can I work on this?

[2021-12-02 22:44] juanbretti opened #1996 "Delete"

[2021-12-02 22:47] #1996 closed, assigned to nobody

[2021-12-06 19:09] aaryan078 commented on #1730
i would like to work on this

[2021-12-06 19:11] aaryan078 commented on #1730
please explain me what i have to do i am confuse somewhat

[2021-12-12 10:36] sakshi2207 commented on #1815
Hi, @steve-todorov is this issue closed? I have gone through the documentation there i find the Test Repository and Test Artifact already there. Is there anything that I can do? If you could give me some context I would like to work on it.

[2022-01-07 08:38] belinsky874 opened #1997 "Feature request: Password (not PIN code numbers)"
~Hello! I am strongly considering to take the plunge on the pro app, but I would like the PIN code to also have a password option, not just numbers.~

~If you plan to include this in the future, may I ask how long it would take to make a feature like this? No rush of course but I am curious if it will be easier because the app already has PIN numbers.~

Sorry, wrong repo!

[2022-01-07 08:39] #1997 closed, assigned to nobody

[2022-01-07 13:16] carlspring commented on #1997
Hi,

You've posted this issue to the wrong project. I assume you're referring to the [strongbox-password-safe/Strongbox project](https://github.com/strongbox-password-safe/Strongbox). I'm therefore closing this bug report.

Kind regards,

Martin

[2022-01-11 05:17] lvca commented on #1649
Hi guys, OrientDB has a successor and its name is ArcadeDB. It's much faster, lighter, 100% java (no JNA/JNI), and supports the same SQL from OrientDB (it's actually the only piece of SW we copied). It supports also Gremlin (the latest version), Cypher, and much more. Also used embedded has minimal dependencies, the entire engine is a few MB.

I am the original author of OrientDB and now working o

[2022-01-28 19:02] ggold7046 commented on #1216
@carlspring , @sbespalov  , @fuss86

what is to be added into the files "The strongbox.yaml file",  "The strongbox-authorization.yaml file" , "The strongbox-cron-tasks.yaml file", "The strongbox-security-users.yaml file" ?

[2022-01-28 19:05] ggold7046 commented on #1126
Hi, could any body guide me to the rest api document file link?

[2022-02-07 17:55] maybe-why-not opened #1998 "Non-resolvable parent POM"
# Bug Description

Non-resolvable parent POM

# Steps To Reproduce

[code]
# Expected Behavior

# Screenshots
![image](https://user-images.githubusercontent.com/29968903/152844534-a56742d6-61af-4aef-b87b-dd2b9c0d4a8a.png)

# Environment

* Strongbox Version:
* OS:
* Maven version (please provide the full output of `mvn --version`):
* Browser (if related to UI):

# Additional context

# Proposed So

[2022-02-14 03:53] #1640 closed

[2022-03-20 01:03] ryanberckmans opened #1999 "Strongbox 1.16.13 crashes when creating a new password entry"
# Bug Description

Describe the bug/issue you have.

Since new UI/big update, create any new entry, click apply changes or click "generate password", hard crash. Macbook Air M1 latest update

[2022-03-20 01:05] carlspring commented on #1999
Hi,

You've posted this issue to the wrong project. I assume you're referring to the [strongbox-password-safe/Strongbox project](https://github.com/strongbox-password-safe/Strongbox). I'm therefore closing this bug report.

Kind regards,

Martin

[2022-03-20 01:05] #1999 closed, assigned to nobody

[2022-03-20 01:10] ryanberckmans commented on #1999
Thank you

On Sat, Mar 19, 2022 at 8:05 PM Martin Todorov ***@***.***>
wrote:

[2022-03-20 01:13] carlspring commented on #1999
No problem! :)

[2022-04-21 19:14] DSkilton commented on #1511
Hiya. Is this issue still open, could I have a go at it?

[2022-04-21 22:38] Syntax753 commented on #1511
Gosh I forgot about that - I didn't make progress so +1 from my side :)

On Thu, 21 Apr 2022 at 20:14, Duncan Skilton ***@***.***>
wrote:

[2022-07-04 13:11] elharo opened #2000 "UX: Create New Record --> Create New Account"
# Bug Description

The tooltip on the key icon says "Create New Record"

Describe the bug/issue you have.

This has two problems:

1. The corresponding menu item is "Create New Entry" (not record)
2.  "Record" is not a term understood by non-developer end users. "Entry" is only marginally better.

Both should probably be "Create New Account". Perhaps someone can think of a better word here than "A

[2022-09-07 11:04] amund-ersland opened #2002 "Have a title displayed other than the db name"
In e.g. keepassxc, it is possible to name the database, and thereby have the name displayed in the tab. If no name is given, the filename is displayed. As far as I can see,  the title is the same as the db name (without .kdbx).

It would be nice to be able to set the name of db explicetly.

[2022-09-07 11:40] carlspring commented on #2002
Hi,

You've posted this issue to the wrong project. I assume you're referring to the [strongbox-password-safe/Strongbox project](https://github.com/strongbox-password-safe/Strongbox). I'm therefore closing this bug report.

Kind regards,

Martin

[2022-09-07 11:40] #2002 closed, assigned to nobody

[2022-09-07 11:58] amund-ersland commented on #2002
ah I see, sorry, thank you for pointing it out

[2022-10-01 08:56] pk97 commented on #1513
Is this issue still open?