[2018-12-28 11:07] kdpapado commented on #965
Hi @sbespalov . I' d like to try this..

[2018-12-28 14:53] #884 closed

[2018-12-28 23:19] carlspring opened #966 "Upgrade Jackson to 2.9.8 due to "Deserialization of Untrusted Data" vulnerability"
See [here](https://app.snyk.io/vuln/SNYK-JAVA-COMFASTERXMLJACKSONCORE-72451) for more details.

[2018-12-29 13:37] carlspring opened #968 "Update the documentation for the etc/conf/strongbox-authentication-providers.yml"
@sbespalov,

Could you please update the [strongbox-authentication-providers](https://github.com/strongbox/strongbox/wiki/The-strongbox%E2%80%90authentication%E2%80%90providers.xml-File) page? Both the page's name and the documentation are still referring to XML. Could you please make sure that any pages pointing to this one have their links corrected as well? Thanks! :)

[2018-12-29 13:49] carlspring opened #969 "Add documentation for the etc/conf/strongbox-authorization.xml config file"
We need to add a page for this configuration file.
Could either of you pick it, or perhaps you could each contribute to this page?

This issue relates to #965.

[2019-01-07 15:59] steve-todorov commented on #958
@hexadecimal16A Hi, Have you already started working on this? :)

[2019-01-07 16:24] carlspring commented on #958
If not, @ptirador , would you like to maybe pick it up?

[2019-01-07 16:35] hexadecimal16A commented on #958
Yes, please pick it up.

On Jan 7, 2019 21:54, "Martin Todorov" <notifications@github.com> wrote:

If not, @ptirador <https://github.com/ptirador> , would you like to maybe
pick it up?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/strongbox/strongbox/issues/958#issuecomment-451991485>,
or mute the thread
<https://github.co

[2019-01-07 18:45] ptirador commented on #958
Yes, I'll take it.

[2019-01-10 14:25] steve-todorov opened #974 "Return appropriate 404 error when `storageId` does not exist (StoragesConfigurationController)"
Some of the methods in the `StoragesConfigurationController` (i.e. `addOrUpdate`) do not check if the `storageId` exists before proceeding with the operation. This results in `NPE` such as the one below and an error 500 which cannot be handled by the UI's form and will only display a popup notification that an error has occurred.

[code]

We need to have a step which checks if the `storageId` exis

[2019-01-10 17:14] jgolatkar commented on #974
@steve-todorov i am learning to contribute to the opensource projects. i would like to work on this issue if it is still not assigned to somebody.

[2019-01-10 20:43] steve-todorov commented on #974
Hi @jgolatkar! Feel free to pick this task - nobody else is currently working on it! :)

[2019-01-13 21:57] #955 closed

[2019-01-13 22:33] carlspring opened #979 "Add tests for transitive dependencies in the strongbox-web-integration-tests"
The [`strongbox-web-integration-tests`](https://github.com/strongbox/strongbox-web-integration-tests/) contains a set ot tests for the various build tools whose layout formats we support. These tests are simple "Hello, World!"-styled applications, that check a few minimal things required to validate whether things for the given layout provider + tool work properly. Typically, these are:
* Resolve

[2019-01-15 05:55] puneethps commented on #979
Hi @carlspring I have just started contributing to open source projects. Can I start working on this issue?

[2019-01-15 20:52] carlspring commented on #948
Re-opening, due to random test failures.

[2019-01-15 21:09] carlspring commented on #947
Re-opening, due to failing tests.

[2019-01-17 01:23] carlspring opened #984 "Investigate the random test failures in the org.carlspring.strongbox.providers.layout.Maven2LayoutProviderTest"
The `org.carlspring.strongbox.providers.layout.Maven2LayoutProviderTest` is randomly failing in Jenkins under Ubuntu:

**Error Message for `org.carlspring.strongbox.providers.layout.Maven2LayoutProviderTest.testDeleteArtifact`**
[code]
**Error Message for `org.carlspring.strongbox.providers.layout.Maven2LayoutProviderTest.testDeleteArtifactDirectory`**
[code]

**Environment details:**
[code]

Plea

[2019-01-17 02:25] carlspring opened #985 "Investigate the random test failures in the org.carlspring.strongbox.controllers.layout.npm.NpmArtifactControllerTestIT"
This test is currently `@Disabled` and you will have to remove this annotation in order to execute it

This task is a sub-task of #948.

**Error Message for `org.carlspring.strongbox.controllers.layout.npm.NpmArtifactControllerTestIT`:**

[code]

[2019-01-25 16:26] #974 closed, assigned to nobody

[2019-01-25 17:18] #958 closed

[2019-01-27 18:30] carlspring commented on #984
@sbespalov : Is this now fixed by #986?

[2019-01-28 01:07] sbespalov commented on #984
@carlspring I think it should be fixed.

[2019-01-29 13:41] carlspring commented on #984
If it is, would you mind trying it out and re-enabling the test, please?

[2019-01-30 17:50] ptirador commented on #965
Hi @kdpapado, are you still working on this? If not, I'd like to take it.

[2019-01-30 17:55] carlspring commented on #965
Thanks, @ptirador !

Please, feel free to proceed! :)

[2019-01-30 22:24] fuss86 opened #992 "Exclude JUnit 4.x from the project dependencies"
Since we upgraded to junit 5.X (see #616, #667, #803) we should exclude all possible transitive dependencies to junit 4.X so for example `org.junit.Test` will no longer be accessible in the project.

[2019-01-31 21:51] carlspring opened #993 "Implement YUM metadata"
This is the master task for the implementation of YUM metadata.

The following tasks will need to be implemented in order for us to support YUM's metadata formats:
* [ ] Implement support for primary.xml.gz
* [ ] Implement support for filelists.xml.gz
* [ ] Implement support for other.xml.gz
* [ ] Implement support for repomd.gz

[2019-01-31 21:53] carlspring opened #994 "Implement YUM metadata support for primary.xml.gz"

[2019-01-31 21:53] carlspring opened #995 "Implement YUM metadata support for filelists.xml.gz"
This is a sub-task of #993.

This task will require at least basic knowledge of Linux and some previous experience with `yum` and `rpm`.

# Task description

As described [here](http://createrepo.baseurl.org/), this file stores the complete file and directory listings for the packages. The package is identified by: name, epoch, version, release, architecture and package checksum id.

Tasks:
* [ ]

[2019-01-31 21:53] carlspring opened #996 "Implement YUM metadata support for other.xml.gz"

[2019-01-31 21:53] carlspring opened #997 "Implement YUM metadata support for repomd.gz"

[2019-01-31 22:18] carlspring opened #998 "Implement YUM metadata support for groups.xml.gz"
As described [here](http://createrepo.baseurl.org/), this file is tentatively described. The intention is for a common package-groups specification as well. There are still some sections for this format that need to be fleshed out.

This task will require some research and requirement gathering in order to figure out what exactly we'll need to implement in order fully support this functionality. P

[2019-01-31 23:00] carlspring commented on #993
Raised [this question](https://stackoverflow.com/questions/54470463/is-there-a-specification-for-the-yum-metadata) on Stackoverflow.

[2019-02-01 02:04] carlspring opened #999 "Document the YUM metadata implementation"
This is a sub-task of #993 and depends on #994, #995, #996, #997 and #998.

Once the YUM metadata implementation is ready, we will need proper documentation for it in our wiki in a page called [YUM Metadata](https://github.com/strongbox/strongbox/wiki/YUM-Metadata).

[2019-02-01 02:14] carlspring opened #1000 "Configure Spring Boot Actuators"
The code for this should be under the the [strongbox-web-core](https://github.com/strongbox/strongbox/tree/master/strongbox-web-core) module.

# Tasks:
* [ ] Configure Spring Boot Actuators
* [ ] Secure the Spring Boot Actuator end-points

# Useful links
* [Spring Boot: Actuators](https://docs.spring.io/spring-boot/docs/current/reference/html/production-ready-endpoints.html)
* [Baeldung: Spring Bo

[2019-02-01 02:38] steve-todorov opened #1001 "CronTaskController is unable to return list of tasks"
The `CronTaskController#getConfigurations` is unable to return the list of cron tasks - it returns `406 Could not find acceptable representation`. This is likely because of broken serialization to JSON. We need to create a test case which checks if the endpoint actually returns a valid response with at least one result inside.

NOTE: The returned crontasks JSON should look like this:

[code]

[2019-02-01 02:39] steve-todorov commented on #1001
@ptirador would you be interested in picking this one? :)

[2019-02-01 07:04] ptirador commented on #1001
Sure! I'll take it.

[2019-02-02 11:59] ptirador commented on #965
Hi @sbespalov @steve-todorov, I have a question, what do I do about any controller methods related with this? For example:

[code]

Do I need to convert it to this?

[code]

[2019-02-02 12:07] sbespalov commented on #965
I think it should be just GET without `/xml` or `/yaml`. Content
negotiation should work out of the box in Spring depending on `Accept`
header.

сб, 2 февр. 2019 г. в 18:59, Pablo Tirado <notifications@github.com>:

[2019-02-02 13:34] steve-todorov commented on #965
I agree with @sbespalov :+1: :)

[2019-02-03 03:14] steve-todorov opened #1003 "Saving group repositories does not preserve the order"
When you go to the UI and try to add a Group Repository, the order of the grouped repositories **MUST** be the way it's ordered - otherwise, this could lead to possible invalid `maven-metadata.xml` due to the way Strongbox would generate the metadata.

[2019-02-03 10:30] fuss86 opened #1005 "Add checksums to `ArtifactEntry`"
# Task Description

When the artifact is physically stored (see [here](https://github.com/strongbox/strongbox/blob/master/strongbox-storage/strongbox-storage-api/src/main/java/org/carlspring/strongbox/services/ArtifactManagementService.java#L167)) we save its metadata in the [ArtifactEntry](https://github.com/strongbox/strongbox/blob/master/strongbox-storage/strongbox-storage-api/src/main/java/org

[2019-02-03 10:46] ptirador commented on #1003
Hi! Could you give me an example? Thanks!

[2019-02-03 16:20] steve-todorov commented on #1003
Yes, sure. Do a `mvn clean install` and then `mvn clean spring-boot:run`. Then:

1. Go to `http://localhost:48080/admin/storages/storage-common-proxies/group-common-proxies/update`
2. Reorder the repositories in the `Group repositories` tab
3. Save (and remember the ordering you did)
4. `cat strongbox-web-core/strongbox/etc/conf/strongbox.xml | grep -i -A 8 'id="group-common-proxies"'` - result wi

[2019-02-03 18:11] #1003 closed

[2019-02-03 22:06] Forbob commented on #1005
@fuss86 @carlspring may i be assigned to this issue?

[2019-02-04 01:20] sbespalov commented on #984
as I see it's already enabled in `master`

[2019-02-04 01:20] #984 closed

[2019-02-04 22:21] carlspring opened #1008 "Add script generation for MacOS for the strongbox-distribution"
# Task Description

We need to enable the generation of shell scripts for MacOS in the `strongbox-distribution`.

Have a look at the [appassembler plugin](https://github.com/strongbox/strongbox/blob/master/strongbox-distribution/pom.xml#L179).

In theory, the work has already been done, but has never been tested under MacOS.

# Hints:

* https://github.com/strongbox/strongbox/blob/master/strongbox

[2019-02-05 22:49] fuss86 opened #1011 "Implement controller support for search by fully-qualified class name (fqcn) in Maven repositories"
## Task description:
In the `strongbox-web-core` module, in the [MavenArtifactController](https://github.com/strongbox/strongbox/blob/master/strongbox-web-core/src/main/java/org/carlspring/strongbox/controllers/layout/maven/MavenArtifactController.java) we need to add additional method to search for maven artifacts by fully-qualified class name (`FQCN`). We should return a collection of DTOs based

[2019-02-06 03:04] sbespalov commented on #1011
Currently we use only AQL to search artifacts on UI, so probably we don't need any extra endpoints for this.

We should think how to add layout specific Class Name search support in AQL.

[2019-02-06 03:10] carlspring commented on #1011
Could you please give us links to the classes involved?

[2019-02-06 03:59] sbespalov commented on #1011
it probably should be done with `AQL.g4`, but first we need to decide how it should look like in terms of grammar

[2019-02-06 23:35] carlspring opened #1012 "Fix the deprecation compilation warnings in the strongbox-npm-layout-provider"
Investigate this issue and sort out the deprecation warnings:

[code]

[2019-02-08 09:53] carlspring opened #1014 "The artifact ordering when browsing is incorrect"
# Issue Description

As seen in the screenshot, the artifact browsing seems randomly ordered, instead of starting with `..` and then being alphabetical.

![screenshot from 2019-02-08 08-38-36](https://user-images.githubusercontent.com/1436265/52470741-f22a9600-2b86-11e9-8eb3-3379db61b186.png)

Occurs under chrome Version 63.0.3239.108 (Official Build) (64-bit)

# Help

* [Our chat](https://chat.ca

[2019-02-08 16:39] steve-todorov commented on #1014
I was able to reproduce this issue. Here's the JSON returned for `http:/localhost:48080/api/browse/storage-common-proxies`:

[code]

We need to also fix the [`.sort()`](https://github.com/strongbox/strongbox-web-ui/blob/master/src/app/shared/layout/components/directory-listing/directory-listing.component.ts#L65) function in the UI where I seem to have missed to add the property which will be used

[2019-02-08 18:12] #1014 closed

[2019-02-08 22:26] carlspring commented on #1014
Thanks for fixing this!

[2019-02-09 10:10] ptirador opened #1016 "Upgrade org.junit.jupiter to version 5.4.0 and org.junit.platform to 1.4.0"
We need to upgrade to the latest version of JUnit. This implies changing the version from groups `org.junit.jupiter` to version `5.4.0` and `org.junit.platform` to `1.4.0`.

Among the new features, we have:

- New `junit-jupiter` dependency-aggregating artifact for simplified dependency management in build tools. This would change a Maven build from this:

[code]

to this:

[code]

## Release note

[2019-02-13 10:54] SheikhHamza commented on #1000
Hi @carlspring,
I am new to opensource contributions and I would love to take this issue as an oppurtunity to get started. Is this issue still open? Is someone already working on it?

[2019-02-13 10:58] carlspring commented on #1000
Hi!

Feel free to give it a go and good luck! :)

[2019-02-13 11:02] carlspring commented on #1000
Also, feel free to join our [chat](https://chat.carlspring.org/) for more help.

[2019-02-13 16:59] adavid9 commented on #929
@carlspring Hi, can I work on this one?

[2019-02-13 17:15] carlspring commented on #929
Hi!

Yes, of course!

There are also a few more tasks relating to JUnit in the issue tracker. Feel free to have a look at those as well!

[2019-02-15 14:00] carlspring opened #1027 "Rename the strongbox.config.xml property to strongbox.config"
# Task Description

As we'll be migrating to YAML soon, it would be a good idea to rename the `strongbox.config.xml` property to `strongbox.config`. This is also applicable for `AuthenticationResourceManager.PROPERTY_AUTHENTICATION_PROVIDERS_LOCATION`.

This task relates to #965.

# Help

* [Our chat](https://chat.carlspring.org/)

[2019-02-15 14:10] carlspring opened #1028 "Remove the jetty-maven-plugin configurations and the associated profiles from the pom.xml files"
# Task Description

As we've moved to Spring Boot and we can run it in the `strongbox-web-core`, as well as in the `strongbox-distribution`, we can now safely remove the need for the `jetty-maven-plugin` configurations and the related Maven profiles from the `pom.xml` files.

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-02-15 20:09] adavid9 commented on #985
@carlspring This test is fixed, isn't it? I went into this test and ran it without any errors few times. Also there is no @Disabled annotation as you mentioned above, so probably someone already fixed this issue.

[2019-02-15 20:17] carlspring commented on #985
@adavid9 ,

You'll have to run this off the `SB-1323` branch, I believe.

At the moment, the class on the `master` has the `@IntegrationTest` annotation and that's got `@Execution(ExecutionMode.SAME_THREAD)`. This should actually be `@Execution(ExecutionMode.CONCURRENT)` (either on this test, ot in the `@IntegrationTest`, which is what I believe was on the `SB-1323` branch).

The problem appears w

[2019-02-15 23:27] carlspring opened #1030 "java.lang.RuntimeException: Could not delete the role"
# Task Description

The `org.carlspring.strongbox.controllers.configuration.security.authorization.AuthorizationConfigControllerTestIT.roleShouldNotBeDeleted` causes the following exception to be thrown:

[code]

If this is a real issue, we need to investigate it. If it's an expected exception, then we should use the respective JUnit methods to intercept this and keep it silent, as the output logs

[2019-02-15 23:30] carlspring opened #1031 "NullPointerException: Failed to update the proxy configuration!"
# Task Description

The `org.carlspring.strongbox.controllers.configuration.ProxyConfigurationControllerTestIT.testSetGlobalProxyConfigurationNotFound` causes the following exception to be thrown:

[code]

If this is a real issue, we need to investigate it. If it's an expected exception, then we should use the respective JUnit methods to intercept this and keep it silent, as the output logs should

[2019-02-15 23:35] carlspring opened #1032 "java.io.IOException: Remote resource path [...] does not support range requests."
# Task Description

The `org.carlspring.strongbox.testing.TestCaseWithMavenArtifactGenerationAndIndexing.assertStreamNotNull` causes the following exception to be thrown:

[code]

If this is a real issue, we need to investigate it. If it's an expected exception, then we should use the respective JUnit methods to intercept this and keep it silent, as the output logs should not throw unnecessary exc

[2019-02-15 23:42] carlspring opened #1033 "Remove the jetty-maven-plugin configurations from the pom.xml files"
# Task Description

As we've migrated to Spring Boot, we will now have to perform a clean up of the `pom.xml` files. Most-likely, this will only involve the `strongbox-web-core`.

**Tasks**
* [ ] Drop the Maven profiles that contain the invocations of the `jetty-maven-plugin`.
* [ ] Drop all the profile that are providing variables for the `jetty-maven-plugin`.

# Help

* [Our chat](https://chat.c

[2019-02-16 00:06] carlspring opened #1034 "org.carlspring.strongbox.artifact.ArtifactNotFoundException: null"
# Task Description

The `org.carlspring.strongbox.controllers.layout.maven.MavenArtifactControllerTest.testNonExistingArtifactDownload` causes the following exception to be thrown:

[code]

If this is a real issue, we need to investigate it. If it's an expected exception, then we should use the respective JUnit methods to intercept this and keep it silent, as the output logs should not throw unnec

[2019-02-16 00:13] carlspring opened #1035 "org.carlspring.logging.exceptions.LoggerNotFoundException: Logger 'org.carlspring.strongbox.test' not found!"
# Task Description

The `org.carlspring.strongbox.controllers.LoggingManagementControllerTestIT.testDeleteLoggerNotFoundWithJsonAcceptHeader` causes the following exception to be thrown:

[code]

If this is a real issue, we need to investigate it. If it's an expected exception, then we should use the respective JUnit methods to intercept this and keep it silent, as the output logs should not throw

[2019-02-16 14:31] carlspring opened #1037 "Fix NugetLayoutProvider deprecation usages"
# Task Description

The `NugetLayoutProvider` uses or overrides a deprecated API and this will have to be investigated and fixed.

[code]

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-02-16 14:34] carlspring opened #1038 "Fix the deprecation warnings in the strongbox-data-service module"
# Task Description

The strongbox-data-service module uses or overrides a deprecated API and this will have to be investigated and fixed.

[code]

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-02-16 16:49] adavid9 commented on #1037
#885 maybe could fix this, because the `@Deprecated` method in `LayoutProvider.java` has been moved into another class, so the `NugetLayoutProvider.java` will not implement this method.

[2019-02-16 16:54] yupitsleen commented on #1033
I'm going to work on this.

[2019-02-16 16:57] carlspring commented on #1033
Hi!

Great, thanks!

[2019-02-16 16:58] carlspring commented on #1033
Feel free to join our [chat](https://chat.carlspring.org/) for more details and help.

[2019-02-16 17:58] yupitsleen commented on #1033
Thanks!

[2019-02-16 23:05] adavid9 commented on #1031
This is duplication of issue #1040

[2019-02-17 00:40] steve-todorov commented on #710
There is a bigger issue here which I'm not very sure we can "fix". Most of the (including the `ProxyConfigurationController`) are using `BaseController.getExceptionResponseEntity` when an exception of some kind occurs. This method will return a `JSON` or `PLAIN` response to the client with an "user friendly error message" and at the same time it will log the `error` in the console with a stack tra

[2019-02-17 19:32] carlspring commented on #1000
@SheikhHamza ,

Are you still looking into this? I'm asking, as @adavid9 is also interested in working on it.

[2019-02-18 04:04] carlspring commented on #944
Relates to #1023.

[2019-02-18 04:10] SheikhHamza commented on #1000
Sure, @adavid9 can work on it.

[2019-02-18 19:24] efedchen commented on #1028
I would like to give it a try

[2019-02-18 19:28] carlspring commented on #1028
Hi,

I'm afraid this task was just implemented last night by @yupitsleen. Would you like to pick a different task, or join our [chat](htrps://chat.carlspring.org/]?

[2019-02-18 19:55] carlspring commented on #1028
Ah! I seem to have created a duplicate task (#1033)! My apologies!

[2019-02-18 19:55] #1028 closed

[2019-02-18 21:01] yupitsleen commented on #1028
Almost done

[2019-02-18 21:21] fuss86 commented on #1000
@adavid9 pick it, if you are on it, please 🌝

[2019-02-18 21:26] efedchen commented on #992
I will take it

[2019-02-18 22:05] fuss86 commented on #992
Great, assign it to yourself, please :)

[2019-02-18 22:40] fuss86 opened #1046 "Use the Spring Boot Actuator logger management instead of our own solution"
# Task Description

After we integrate with Spring Boot Actuators (#1000), we should migrate our logging management to `spring-boot` (see https://docs.spring.io/spring-boot/docs/current/actuator-api/html/#loggers). We will drop `LoggingManagementController` and we need to update `LoggingManagementControllerTestIT` (also rename it) to test that are actuator config works fine in terms of loggers. We

[2019-02-18 23:12] #1035 closed

[2019-02-19 00:32] carlspring commented on #965
I also agree with @sbespalov and @steve-todorov.

[2019-02-19 02:41] #1033 closed

[2019-02-19 21:44] #1001 closed

[2019-02-20 18:34] carlspring opened #1048 "Fix the deprecation warnings in the strongbox-default-authentication-provider module"
# Task Description

The `strongbox-default-authentication-provider` module uses or overrides a deprecated API and this will have to be investigated and fixed.

[code]

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-02-21 12:36] carlspring commented on #1005
@Forbob ,

Are you still interested in this task?

[2019-02-21 15:00] steve-todorov opened #1055 "Add Strongbox related information in the EnvironmentInfoController"
We need to add the following Strongbox related information into the `EnvironmentInfoController`:

1. `storages` - the total count of storages in Strongbox
2. `repositories` - the total count of repositories in Strongbox
3. `users` - the total count of users in Strongbox.

This should be done in the `getEnvironmentInfo` method as an additional:
[code]

[2019-02-21 17:39] carlspring commented on #944
@sbespalov , @ptirador , @fuss86 ,

Could we now close this?

[2019-02-21 18:32] ptirador commented on #944
@carlspring: In my opinion, yes, we could.

[2019-02-21 18:55] adavid9 commented on #1055
@steve-todorov I can work on that one :)

[2019-02-21 19:15] #1027 closed

[2019-02-21 19:19] steve-todorov commented on #1055
Sure, pick it up! :)

[2019-02-22 00:46] carlspring commented on #944
@sbespalov ,

Please confirm! :)

[2019-02-22 00:54] sbespalov commented on #944
confirmed
this was resolved with `spring.servlet.multipart.enabled=false`

[2019-02-22 00:54] #944 closed

[2019-02-22 14:59] #1000 closed

[2019-02-22 15:29] carlspring commented on #1046
@adavid9 ,

If you're interested in following up on the Spring Boot Actuators, perhaps this task would also be of interest to you...?

[2019-02-22 15:31] #1055 closed

[2019-02-22 16:42] #1048 closed

[2019-02-22 17:00] #1030 closed

[2019-02-22 17:34] steve-todorov opened #1058 "Update the project structure in the wiki"
The project structure in the [wiki](https://github.com/strongbox/strongbox-docs/blob/master/docs/developer-guide/project-structure.md) has become out-of-date and we need to update it. (Please, note that the actual changes are in a different project on Github).

* [x] Remove all modules that no longer exist.
* [x] Update any modules have been renamed.
* [x] Add a line, or two for each module (unles

[2019-02-22 17:44] steve-todorov opened #1059 "Drop the org.apache.tomcat:catalina:6.0.53 dependency from the strongbox-event-api"
# Task Description

Drop the `org.apache.tomcat:catalina:6.0.53` dependency from the `strongbox-event-api` and apply any necessary changes to the code. This dependency should no longer be required, as we implemented this with Spring instead.

Affected classes:
- [ ] `EventExecutorFactoryBean`

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov

[2019-02-22 18:43] adavid9 commented on #1059
I can work on that issue.

[2019-02-23 00:19] carlspring opened #1062 "Make the *ArtifactControllerTests not print the contents of artifacts to the console"
# Task Description

The `*ArtifactControllerTest`-s are printing out the contents of artifacts to the console. This causes:
- Windows consoles to break
- IntelliJ terminals (under Windows) to break
- An awful lot of unnecessary and human-unintelligible output in the console

We need to silence this output when the tests below are executed.

Affected tests:
- [ ] `MavenArtifactControllerTest`
- [ ]

[2019-02-23 01:05] carlspring commented on #1059
@sbespalov , @fuss86 ,

Could you please review the description and add any hints that might be useful? @adavid9 will be looking into this and he could use the advice.

Thanks! :)

[2019-02-23 01:08] #1012 closed

[2019-02-23 01:40] carlspring commented on #842
Closing as outdated!

[2019-02-23 01:40] #842 closed

[2019-02-23 01:42] carlspring opened #1064 "Fix the deprecation compilation warnings in the strongbox-cron-api module"
# Task Description

Investigate this issue and sort out the deprecation warnings:

[code]

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-02-23 01:46] carlspring opened #1065 "Fix the deprecation compilation warnings in the strongbox-storage-raw-layout-provider module"
# Task Description

Investigate this issue and sort out the deprecation warnings:

[code]

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-02-23 15:26] adavid9 commented on #956
I can work on that one.

[2019-02-23 15:49] carlspring commented on #956
@adavid9 : Could you actually hang on with this one? I think @steve-todorov , @sbespalov and @fuss86  will have to clarify the requirements for this one in particular. (Sorry!).

[2019-02-23 16:24] steve-todorov commented on #956
I think we are already doing this partially in the `LoginControllerTest`. We will probably just need to add an `JWT expiration` test which confirms expired tokens are not permitted. @sbespalov what do you think? :)

[2019-02-23 19:29] EkremC commented on #1065
@carlspring Hi, can I work on this issue?

[2019-02-23 19:32] carlspring commented on #1065
Hi!

Welcome! Yes, indeed! Please, feel free to join our [chat](https://chat.carlspring.org/).

[2019-02-24 00:25] juliodias commented on #1016
Hi @ptirador, can I do this?

[2019-02-24 00:32] #1064 closed

[2019-02-24 00:35] carlspring commented on #1016
@juliodias ,

Please, feel free to pick up this issue and to also join out [chat](https://chat.carlspring.org/)! :)

[2019-02-24 00:48] #1065 closed

[2019-02-24 14:09] adavid9 commented on #1046
Sure I will take this one 😃

[2019-02-24 23:10] ShumailAhmed123 commented on #1058
Hi,

Can I help to do this but I will need your help because I don't know about the full project.

thanks

[2019-02-24 23:13] carlspring commented on #1058
Hi @ShumailAhmed123 ,

Thanks for offering to help! Have a look at the modules that are listed and check if they exist under the [`strongbox`](https://github.com/strongbox/strongbox/) project. If they don't then just remove them from the wiki page. Update the page with the new ones and so on.

If you have questions about any of the modules, just ask here, or feel free to join our [chat](https://ch

[2019-02-24 23:14] ShumailAhmed123 commented on #1058
okay, sure.

Thank You

[2019-02-24 23:29] ShumailAhmed123 commented on #1058
It will be done by tomorrow fully.
Thanks

[2019-02-24 23:55] carlspring opened #1071 "Expose versioning information using Spring Boot Actuator"
# Task Description

We need to expose our versioning information using Spring Boot Actuators.

In Maven we have the following properties in place:
* `${project.version}` – a built-in Maven property, that shows what the version of the artifact that is being produced is.
* `${strongbox.revision}` – a property, exposd via the `org.codehaus.mojo:buildnumber-maven-plugin` that could be used to get the

[2019-02-25 00:09] carlspring commented on #1058
Great! Thank you! :)

[2019-02-25 01:19] #1059 closed

[2019-02-25 01:59] carlspring opened #1072 "Enable metrics, scheduledtasks, shutdown, threaddump and Spring Boot Actuators"
# Task Description

We need the following Spring Boot Actuators to be enabled:
* `metrics`
* `scheduledtasks`
* `shutdown`
* `threaddump`

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-02-25 03:33] sbespalov commented on #1072
@carlspring we don't use HTTP `sessions` on our backend, so we probably don't need this.

[2019-02-25 03:53] sbespalov commented on #956
@steve-todorov as I see there is no JWT related test cases in `LoginControllerTest`.

@carlspring @adavid9 regarding this issue we probably should expose `SpringSecurityTest.testJWTAuth()` and `SpringSecurityTest.testJWTExpire()` methonds into new test class `JwtAuthenticationTest.
Also `/api/users/user/authenticate` should be changed to `/api/login`.

[2019-02-25 03:56] sbespalov commented on #956
the `/api/users/greet` probably can be also changed to `/api/users/{username}`

[2019-02-25 06:51] adavid9 commented on #956
@sbespalov Okay, so I will create a new separate class where I will test these methods you mentioned above.

[2019-02-25 07:38] adavid9 commented on #1072
@carlspring consider that what @sbespalov if you will decide that we thought add them I could do it, `metrics` is already enabled.

[2019-02-25 16:17] carlspring commented on #1072
@sbespalov ,

Thanks for clarifying! :)

[2019-02-25 16:18] carlspring commented on #956
The `/api/users/greet` path was just for some testing a previous developer did a very long time ago. I think this should be removed.

[2019-02-25 16:23] steve-todorov commented on #1072
Out of curiosity, is there an `restart` endpoint which can be enabled? This could be very handy in the near future.

[2019-02-25 16:31] steve-todorov commented on #956
I agree with @carlspring , I don't think we need the `/api/users/greet` anymore.

[2019-02-25 19:18] fuss86 commented on #1072
As far as I see, there is a [shutdown](https://docs.spring.io/spring-boot/docs/current/actuator-api/html/#shutdown) "native" method, but I think _restart_ can be implemented too, by hand :)

[2019-02-25 20:30] ShumailAhmed123 commented on #1058
Hi,

I have fork the project and updated the file but I am having some issues. I am not able to make a hyperlink in the module name as you have made in old files.

here is the link can you please have a look at this,

https://github.com/ShumailAhmed123/strongbox-docs/blob/master/docs/developer-guide/project-structure.md

[2019-02-25 21:53] carlspring commented on #1058
@ShumailAhmed123 ,

Just use markdown links like this:

[code]

[2019-02-25 23:06] ShumailAhmed123 commented on #1058
oh! thank You

[2019-02-26 04:30] steve-todorov commented on #1058
In addition to @carlspring 's comment - it is usually better to use reference links:
[code]

This makes it easier to read the sentence and in case you are using the same link multiple times, you can easily replace it when necessary.

[2019-02-27 09:20] mujahid opened #1077 "Building instruction in README.md redirects to https://github.com/strongbox/strongbox"
Unable to find building instructions that is mentioned in README.md.
The link https://github.com/strongbox/strongbox/wiki/Building-the-code redirects to https://github.com/strongbox/strongbox.

[2019-02-27 09:39] carlspring commented on #1077
Hi @mujahid ,

Thanks for reporting this! We've recently migrated our wiki. The correct link is [this one](https://strongbox.github.io/developer-guide/building-the-code.html). Would you like to fix this?

[2019-02-27 12:35] ShumailAhmed123 commented on #1058
Hi,

I have updated the wiki page. Please have a look at it and give your feedback on this.

Thanks

[2019-02-27 12:37] carlspring commented on #1058
Hi,

Could you please create a pull request for this?

Thanks! :)

[2019-02-27 12:59] ShumailAhmed123 commented on #1058
Hi,

I did it.

Thanks

[2019-02-27 15:51] carlspring commented on #1077
This is a complete list of the files and links that need to be updated:

[code]

[2019-02-27 17:01] carlspring commented on #1077
@Eika96 , @alanihre , @AntonLilja , @nicklashersen , @UberlyMaxxor,

Please, feel free to report any other broken links here. Thanks! :)

[2019-02-28 23:33] carlspring opened #1079 "Drop the need for the little-proxy-maven-plugin and replace any tests that need with an alternative solution"
# Task Description
* [ ] Drop the `little-proxy-maven-plugin` from the `strongbox-security/strongbox-security-api/pom.xml` and any references to it in Maven profiles.
* [ ] Check what tests (if there are still any) need this plugin.
* [ ] Remove the `little-proxy-maven-plugin` from the [`strongbox-parent`](https://github.com/strongbox/strongbox-parent/).
* [ ] Remove the `little-proxy-maven-plugin

[2019-02-28 23:35] carlspring opened #1080 "Drop the need for the unboundid-maven-plugin and replace any tests that need with an alternative solution"
# Task Description
* [ ] Drop the `unboundid-maven-plugin` from the `strongbox-security/strongbox-security-api/pom.xml` and any references to it in Maven profiles.
* [ ] Check what tests (if there are still any) need this plugin.
* [ ] Remove the `unboundid-maven-plugin` from the [`strongbox-parent`](https://github.com/strongbox/strongbox-parent/).
* [ ] Remove the `unboundid-maven-plugin` from th

[2019-03-01 19:49] ogryniuk commented on #1005
Hi @carlspring ,

This issue interests me and I would much appreciate if you could assign it to me.

[2019-03-01 19:53] carlspring commented on #1005
@ogryniuk ,

Please, feel free to proceed with this task!

[2019-03-01 23:15] adavid9 commented on #1072
@fuss86 @steve-todorov @sbespalov How do you think, should we implement other actuators or this task should be closed?

[2019-03-02 01:38] pgmpofu commented on #1062
@carlspring @sbespalov @fuss86 may I work on this?

[2019-03-02 02:27] carlspring commented on #1062
@pgmpofu ,

Please, feel free to pick up this task! It would be of great help! Also, please feel free to join our [chat](https://chat.carlspring.org/) for more help! :)

[2019-03-02 04:54] steve-todorov commented on #1072
I think you've missed to add `scheduledtasks, shutdown, threaddump` in your PR. But other than that - I don't know. If the restart works, then we can close it (I haven't had time to check it out). :)

[2019-03-02 09:54] fuss86 commented on #1072
I think we can enable https://docs.spring.io/spring-boot/docs/current/actuator-api/html/#caches too but it can be done in the follow up task :)

[2019-03-02 20:05] #885 closed

[2019-03-02 20:14] #956 closed

[2019-03-02 20:32] adavid9 commented on #1071
I can work on this one ;)

[2019-03-02 21:18] steve-todorov commented on #1072
Yeah, we can open up a new task for this :)

[2019-03-03 00:55] carlspring opened #1083 "Implement a custom annotation for the creation of test repositories"
# Task Description

We need to implement a custom annotation that will handle the generation and clean up of test repositories. Each test case (and method) should create its own isolated test resources and not share them with other tests. This way, tests can safely be executed in parallel.

## Current Implementation

Excerpt from `MavenArtifactControllerTest.init()`, (the same kind of examples cou

[2019-03-03 00:56] carlspring opened #1084 "Implement a custom annotation for the generation and clean up of test artifacts"
# Task Description

We need to implement a set of custom annotations that will handle the generation and clean up of test artifacts. Each test case (and method) should create its own isolated test resources and not share them with other tests. This way, tests can safely be executed in parallel.

## Current Implementation

Excerpt from `MavenArtifactControllerTest.init()`, (the same kind of example

[2019-03-03 02:04] carlspring opened #1086 "Investigate the com.hazelcast.transaction.TransactionException in the MavenProxyRepositoryProviderTestIT"
We need to investigate what has suddenly started to cause the `MavenProxyRepositoryProviderTestIT.whenDownloadingArtifactMetadataFileShouldBeMergedWhenExist`:

[code]

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-03-03 13:39] #1072 closed

[2019-03-03 22:08] carlspring opened #1087 "Update the "Getting Started With Persistence" page to have a section on OrientDB Studio"
# Task Description

We need to update the wiki with some explanations on how to get the OrientDB enabled for development and debugging.

# Tasks

* [ ] Check the OrientDB properties on the [Application Properties](https://strongbox.github.io/user-guide/application-properties.html) page and the [Getting Started With Persistence](https://strongbox.github.io/developer-guide/getting-started-with-persi

[2019-03-03 22:13] carlspring commented on #1077
@steve-todorov : Handing this over to you for when the Cron Task refactoring is ready, as a reminder to update the links in the `README.md`.

[2019-03-04 01:18] carlspring opened #1090 "Investigate the random test failures of the CronTaskControllerTest occurring under Windows"
# Task Description

We need to investigate these random test failures which seem to only be occurring under Windows.

# Error Message
[code]

# Standard Output
[code]

[2019-03-04 22:18] carlspring commented on #1090
Thanks, @fuss86! :-)

[2019-03-06 10:34] kalski commented on #611
Hey guys, I like your project and the extensive docs you wrote!

Will you assign me this issue to help you out?

[2019-03-06 11:10] carlspring commented on #611
Hi,

Please, feel free to take over this task and implement it from scratch!

[2019-03-06 14:33] kalski opened #1094 "Document default url and credentials for strongbox UI"
# Task Description

There is a very nice section for `User Interface` in the `User Guide` [here](https://strongbox.github.io/). We should add a section, or perhaps a new page on what the default URL and built-in users are.

The documentation is handled via the [`strongbox-docs`](https://github.com/strongbox/strongbox-docs) project.

The default usernames are:
* `admin:password`
* `deployer:passwor

[2019-03-06 20:22] fuss86 commented on #1086
Fixed in #1092

[2019-03-06 20:22] #1086 closed

[2019-03-07 01:59] carlspring opened #1096 "Cleanup the pom.xml files from dependency exclusions and extract them to the strongbox-parent"
# Task Description

We have `pom.xml` files that have `<exclusions>`. These will have to be migrated to the [`strongbox-parent`](https://github.com/strongbox/strongbox-parent/), where this makes sense.

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-03-07 19:50] fuss86 opened #1097 "Investigate non-deterministic NullPointerException at MavenIndexerSearchProviderTest.setUp(MavenIndexerSearchProviderTest.java:75)"
# Task Description

During Jenkins build we encountered

[code]

This problem is non-deterministic, most often non-reproducible.

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-03-08 07:46] prbobba commented on #1038
Can I have a take at this?

[2019-03-08 09:34] carlspring commented on #1038
Hi @prbobba ,

Yes, please! Also, feel free to join our [chat](https://chat.carlspring.org/)!

[2019-03-08 18:16] carlspring commented on #1090
@fuss86 : What is the status of this task?

[2019-03-09 03:15] carlspring opened #1099 "Investigate random test failures with ArtifactDirectoryLocatorTest"
# Task Description

We are getting the following randomly occurring test failure:

[code]

We need to investigate and fix this.

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-03-09 08:38] spasbelev commented on #1083
Planning to have a look at this issue

[2019-03-09 18:33] divyad1508 commented on #1096
Hi @carlspring ,

As per our discussion, I'll be taking up this task.

[2019-03-09 23:23] carlspring commented on #1096
Great! Thanks for looking into this! :)

[2019-03-10 01:54] #840 closed

[2019-03-10 02:26] #1071 closed

[2019-03-10 07:18] fuss86 commented on #1090
fixed

[2019-03-10 07:18] #1090 closed

[2019-03-10 20:56] carloshpb commented on #1097
Can I try? I never did any contribution to any project at Github before, but I want to try this one,

[2019-03-10 21:16] carlspring commented on #1097
Hi Carlos,
Thanks for offering to help! Please, feel free to pick up this task!

[2019-03-10 21:36] carlspring commented on #1097
Also, please, feel free to join our [chat channel](https://chat.carlspring.org/), if you'd like to learn more about the project and/or like to find out what else you could help with.

[2019-03-10 23:17] carlspring opened #1100 "Add instructions on how to build the code under Windows 7 and 10 in regards to long paths"
# Task Description

Building the code under Windows 7 and 10 causes similar errors to occur:

[code]

There are workarounds for Windows that could be used and we need to add instructions to our [wiki](strongbox.github.io) on how to do this.

Please, note that the documentation pages are located under the [strongbox-docs)(https://github.com/strongbox/strongbox-docs) project.

# Useful Links

* [Win

[2019-03-10 23:25] carlspring opened #1101 "Investigate random test failures with the MavenMetadataExpirationMultipleGroupCaseTest"
# Task Description

We are getting the following randomly occurring test failure:

[code]

We need to investigate and fix this.

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-03-11 04:00] divyad1508 commented on #1096
I have commited the changes & raised pull requests in both springbox-parent & springbox. Following are the URL for the same.

[](https://github.com/strongbox/strongbox-parent/pull/9)

[](https://github.com/strongbox/strongbox/pull/1103)

Thanks!

[2019-03-11 07:58] prbobba commented on #1038
#1098

[2019-03-11 13:43] #1038 closed

[2019-03-12 06:01] prbobba commented on #1101
I will take a look at this.

[2019-03-12 08:39] carlspring commented on #1101
Okay, thanks! :)

[2019-03-12 18:22] pgmpofu commented on #1062
I am no longer working on this. Anyone may take over. Thanks

[2019-03-12 19:47] msarfrazanwar commented on #1100
I will do this. Do we know the solution to the problem ? and whats the format for the file?

[2019-03-12 20:18] carlspring commented on #1100
Hi @msarfrazanwar ,

Welcome to our project! I would recommend you join our [chat](https://chat.carlspring.org/).

As most of us are using Linux and aren't hitting any such issues, it would be great, if someone who has Windows could look into this and document the workarounds. Which version of Windows for you have?

[2019-03-12 20:59] carlspring commented on #1062
Thanks for confirming!

[2019-03-13 04:27] msarfrazanwar commented on #1100
I am using windows 10. I will join the chat and then see where can I help.

[2019-03-13 14:12] prbobba commented on #1101
I have run this test about 100 times from IntelliJ (Windows 8, Java 1.8.181). Also ran this 25 times from the command line (Ubuntu 18) using `mvn clean install -Dintegration.tests -s ~/.m2/stronsettings.xml`. It didn't fail once.

![Clipboard - March 12, 2019 11_54 AM](https://user-images.githubusercontent.com/14883250/54285288-ac1e8300-45c7-11e9-99b8-2db39cd1332e.png)

What we can do is to add mo

[2019-03-13 16:25] LeifBrooks commented on #1099
@carlspring It looks like there might be an issue with the concurrent execution. When I change the execution parameter to @Execution(SAME_THREAD), it starts passing consistently.

[2019-03-13 16:27] carlspring commented on #1099
Hi @LeifBrooks ,

Then perhaps we need to run this test with `@Execution(SAME_THREAD)`. Would you like to create a pull request for this?

[2019-03-13 16:28] LeifBrooks commented on #1099
@carlspring Will do

[2019-03-13 20:09] #1099 closed

[2019-03-13 20:20] steve-todorov commented on #1100
Hi @msarfrazanwar,

Thanks for your interest in our project and volunteering for this ticket! Our docs can be found at [strongbox/strongbox-docs](https://github.com/strongbox/strongbox-docs/blob/master/docs/developer-guide/building-the-code.md). The link is pointing to the specific page where these instructions should be located :)

This should be added in the `Common Build problems` section with

[2019-03-14 11:58] denizseaside82 commented on #1084
Any possibility to help you with this one or another one? That would be my first experience and I am open to discuss in which areas I might be helpful to you.

[2019-03-14 12:20] carlspring commented on #1084
Hi @denizseaside82 ,

Thanks for offering to help, but we were just discussing this with @sbespalov earlier today and, given that he's already implemented #1083 in #1105 , he will look into this task as well.

Would you like to join our [chat](https://chat.carlspring.org/)? We could discuss some tasks there, if you like.

[2019-03-14 12:28] denizseaside82 commented on #1084
Great! Is there any exact time which you all gather and discuss issues in your chat?

[2019-03-14 12:37] carlspring commented on #1084
There's always someone around.

[2019-03-14 13:22] carlspring opened #1109 "Test our build with JDK 9 and fix any issues with it"
# Task Description

We need to test our builds against JDK 9. If any issues are discovered, we need to list them and address them.

[code]

# Tasks

* [ ] Attempt building with JDK 9.
* [ ] Report any build issues.
* [ ] Investigate and fix all build issues.

# Acceptance Test

* [ ] Building the code and running `mvn spring-boot:run` in the `strongbox-web-core` still starts up the application cor

[2019-03-14 13:23] carlspring opened #1110 "Test our build with JDK 10 and fix any issues with it"
# Task Description

We need to test our builds against JDK 10. If any issues are discovered, we need to list them and address them.

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-03-14 13:23] carlspring opened #1111 "Test our build with JDK 11 and fix any issues with it"
# Task Description

We need to test our builds against JDK 11. If any issues are discovered, we need to list them and address them.

Please, note that the languages level (both `source` and `target`) should be preserved at `1.8`. The Jenkins infrastructure building and testing the code is still at 1.8, (running a JDK 8), so this code should still be compilable and runnable under a 1.8 JDK.

# Task

[2019-03-14 13:24] carlspring opened #1112 "Test our build with JDK 12 and fix any issues with it"
# Task Description

We need to test our builds against JDK 12. If any issues are discovered, we need to list them and address them.

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-03-14 17:12] carlspring commented on #1037
@adavid9 ,

What's the status of this task? Could it now be closed?

[2019-03-14 17:17] carlspring commented on #891
@fuss86 , @steve-todorov ,

Could you please, remove the "on hold" label, when you're done with the refactoring? Thanks!

[2019-03-14 17:22] adavid9 commented on #1037
@carlspring Yes it can be closed, because previous ticket fixed this deprecation issue.

[2019-03-14 17:23] carlspring commented on #1037
Thanks for confirming! :)

[2019-03-14 17:23] #1037 closed

[2019-03-14 17:46] carloshpb commented on #1097
Was it tested using the same procedures from the building guide? With or without the Docker?

[2019-03-14 18:07] carlspring commented on #1097
It was tested with:
[code]

And, yes, it does occur under Docker. You can try it with `strongboxci/alpine:jdk8-mvn-3.5`, if you like. Check [here](https://strongbox.github.io/developer-guide/building-the-code-with-docker.html) for more details.

[2019-03-14 19:31] LeifBrooks commented on #1016
I can take this, if it is not currently being worked on

[2019-03-14 19:33] carlspring commented on #1016
Go for it!

[2019-03-15 02:24] carlspring opened #1113 "Test the NuGet support with Chocolatey"
# Task Description

We need feedback on how well our NuGet layout provider works with Chocolatey.

You might find the [`strongbox-examples`](https://github.com/strongbox/strongbox-examples/) useful. Perhaps creating a similar example using Chocolatey would be helpful.

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-03-15 03:34] steve-todorov commented on #891
Thanks for the reminder! :)

[2019-03-15 17:47] #1016 closed

[2019-03-15 19:36] carlspring commented on #992
@efedchen , what is the status of this task?
Can we close it?

[2019-03-15 20:26] LeifBrooks commented on #1096
I can take this task

[2019-03-15 22:40] carlspring commented on #1096
Okay @LeifBrooks !

[2019-03-16 01:08] #611 closed

[2019-03-16 01:43] carlspring opened #1115 "Investigate GNU/Posix MacOS distribution issues"
# Task Description

We are seeing the following issue with MacOS builds:
[code]

@forbob contributed #1008, which I had to revert (as part of #1068), because it was causing the `strongbox-web-core-1.0-SNAPSHOT-spring-boot.jar` to have it’s name truncated in the `strongbox-distribution` to something like `strongbox-web-core-1.0-SNAPSHOT`, inside the `strongbox-distribution` ‘s `tar.gz`.

We need a

[2019-03-16 02:04] carlspring opened #1116 "Add a dependency exclusion for guava in org.carlspring.maven:maven-commons"
# Task Description

It seems that `org.carlspring.maven:maven-commons` depends on a vulnerable version Guava. Snyk.io is reporting the following:

*Deserialization of Untrusted Data*

Vulnerable module: `com.google.guava:guava`
Introduced through: `org.carlspring.maven:maven-commons@1.4`
Detailed paths and remediation
Introduced through: `org.carlspring.strongbox:strongbox-cron-tasks@1.0-SNAPSHOT`

[2019-03-16 02:28] carlspring opened #1117 "Remove unused Maven dependencies from project"
# Task Description

Running:
[code]

Produces the following (slightly abbreviated for the sake of this task description's) output:

[code]

We seem to have quite a few unused dependencies. The could be:
* Left-overs from previous times
* Transitive dependencies which we're not using directly for which we should define Maven dependency `<exclusions/>` in the [`strongbox-parent`](https://github.com/

[2019-03-16 03:23] carlspring commented on #929
@adavid9 ,

What is the status of this task? Is there indeed still work to be done?

[2019-03-16 07:54] BGhass commented on #1117
I would like to take a look at this.

[2019-03-16 15:06] adavid9 commented on #929
@carlspring Hi, there left just 2 tests that should be rewritten, `LoggingManagementControllerTestIT` has been `@Disabled` and is not in use, so you can cross out this one.

[2019-03-16 19:24] spasbelev commented on #1111
Running with JDK 11  had to add
[code]
to the strongbox-configuration component

Then had 2 failing tests with following output :https://gist.github.com/spasbelev/d092e6c4ca5f392267b39678ec95b55f

[2019-03-16 19:25] spasbelev commented on #1109
With JDK 9 had to
`        <dependency>
            <groupId>javax.xml.bind</groupId>
            <artifactId>jaxb-api</artifactId>
            <version>2.3.0</version>
        </dependency>
`
to the strongbox-client to make the build to compile and tests pass

[2019-03-16 19:48] spasbelev commented on #1110
JDK 10 needs same fix as JDK9 to the strongbox-client pom.xml file
<dependency>
<groupId>javax.xml.bind</groupId> <artifactId>jaxb-api</artifactId> <version>2.3.0</version> </dependency>
Without the added dependency will have following failure: https://gist.github.com/spasbelev/94b3670614110a58dd48117216fd00be

[2019-03-16 20:43] BGhass commented on #1113
I will take a look at this.

[2019-03-16 22:25] carlspring commented on #1113
Hi!

Feel free to do so! :)

[2019-03-16 23:18] carlspring commented on #1109
@spasbelev ,

Thanks for looking into this!

The dependency needs to be defined in the [`strongbox-parent`](https://github.com/strongbox/strongbox-parent/) under the `<dependencyManagement/>` section. You should then use it under the `strongbox-client`'s `pom.xml` file (and wherever else necessary) without a version.

[2019-03-16 23:39] carlspring opened #1119 "Test the NPM support with yarn"
# Task Description

We need feedback on how well our NPM layout provider works with `yarn`.

You might find the [`strongbox-examples`](https://github.com/strongbox/strongbox-examples/) useful. Perhaps creating a similar example using `yarn` would be helpful.

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-03-17 00:40] carlspring opened #1120 "Upgrade our OrientDB dependencies to 3.0.17, or higher"
# Task Description

We need to consider upgrading all of our OrientDB dependencies, as we're occasionally getting `ConcurrencyModificationException`-s with no reasonable stacktraces associated with our own code. Here is an example:

[code]

There is already a version `3.0.17` and we should consider either upgrading to it (via the [`strongbox-parent`](https://github.com/strongbox/strongbox-parent/)

[2019-03-17 01:02] carlspring opened #1121 "Rename the org.carlspring.strongbox.storage.metadata.nuget.metadata as to not repeat itself"
There seems to now be a packaged called `org.carlspring.strongbox.storage.metadata.nuget.metadata`. This is a bit too repetitive. It should just be `org.carlspring.strongbox.storage.metadata.nuget`.

This task is a continuation of #611 and #1106.

[2019-03-17 02:17] adavid9 commented on #929
@carlspring This issue can be closed, because all tests has been parameterized. One of them it is `Logging` is to cross out, because this one was disabled by Przemyslaw.

[2019-03-17 02:33] carlspring commented on #929
Thanks for clarifying this, @adavid9, and thanks for all your help! :)

[2019-03-17 02:33] #929 closed

[2019-03-17 02:38] #1121 closed

[2019-03-17 03:59] carlspring opened #1123 "Re-work our REST API doc generation"
# Task Description

This is the master task for the re-working of our REST API-s doc generation.

# Tasks

* [ ] Restore the generation of our Swagger documentation (#1124)
* [ ] Set up our documentation to work with Spring Boot + Springfox + Swagger (#1125)
* [ ] Stylize our REST API's docs (#1126)

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbesp

[2019-03-17 04:00] carlspring opened #1124 "Restore the generation of our Swagger documentation"
# Task Description

At the moment, our Swagger documentation is no longer being generated. This used to be done in the [`strongbox-webapp`](https://github.com/strongbox/strongbox/), check [here](https://github.com/strongbox/strongbox-webapp/blob/master/pom.xml#L204). However, with our recent migration to Spring Boot, we dropped the need for the [`strongbox-webapp`](https://github.com/strongbox/str

[2019-03-17 04:00] carlspring opened #1125 "Set up our documentation to work with Spring Boot + Springfox + Swagger"
# Task Description

Now that we've migrated to Spring Boot, we would like to use Springfox with our Swagger generation.

The REST API should be accessible via http://localhost:48080/docs/rest/api.html.

This task is a sub-task of #1123 and depends on #1124.

# Todo:

- [ ] [Update the docs](https://github.com/strongbox/strongbox-docs/edit/master/docs/user-guide/rest-api.md) when this task is compl

[2019-03-17 04:00] carlspring opened #1126 "Stylize out REST API's docs"
# Task Description

As a follow-up to #1124 and #1125, we would like to change the style of the docs to match that of our project.

Please note, that this task depends on #1124 and #1125 and that it cannot be implemented without them being done first.

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-03-17 04:27] mujahid commented on #1062
It seems the method `peek()` in `RestAssuredResponseOptionsImpl` is printing the response.

[2019-03-17 04:29] carlspring commented on #1062
Great! Would you mind submitting a pull request for this? We'd really appreciate the help!

Also, please feel free to join [our chat](https://chat.carlspring.org/).

[2019-03-17 05:33] mujahid commented on #1062
I'll submit a pull request

[2019-03-17 06:50] BGhass commented on #1113
thanks, It's my first participation in StrongBox. So, I think that I will need some help. :)

[2019-03-17 11:32] adavid9 commented on #1125
@carlspring I can take this one.

[2019-03-17 18:16] carlspring commented on #1125
Thanks, @adavid9 ! I'm assigning it to you then! :)

[2019-03-17 18:19] carlspring commented on #1113
@BGhass : Okay, no problem! Have you used NuGet / Chocolatey before?

[2019-03-17 19:07] carlspring opened #1128 "Upgrade the swagger-maven-plugin to 3.1.8, or higher"
# Task Description

We will need to upgrade the `swagger-maven-plugin` to `3.1.8`, or higher. This might have some implications, such as having to upgrade the Swagger dependencies.

The versions of the plugin and the associated dependencies will have to be defined in the [`strongbox-parent`](https://github.com/strongbox/strongbox-parent/) and be used versionless in the respective `pom.xml` files.

[2019-03-17 20:33] carlspring opened #1129 "Re-work the MutableStorage to not use System.getProperties, but the Spring Boot Environment instead"
# Task Description

As a continuation of #1023, we need to re-work the `MutableStorage` class to not use `System.getProperties` to work out the `basedir` of the respective storage.

The folllowing code should be dropped/re-worked:

[code]

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-03-17 21:26] BGhass commented on #1113
NuGet yes I did, Chocolatey No?

[2019-03-17 21:31] carlspring commented on #1113
Okay, good luck and please report back any issues! :)

[2019-03-17 21:44] carlspring opened #1130 "Stabilize our dependencies"
# Task Description

We have the following list of snapshot dependencies:
* Our own projects:
  * [ ] Return the [`strongbox-parent`](https://github.com/strongbox/strongbox-parent/) to be a sub-module of the [`strongbox`](https://github.com/strongbox/strongbox/) project.
  * [ ] Make the the [`strongbox-db`](https://github.com/strongbox/strongbox-db/) not extend the [`strongbox-parent`](https://git

[2019-03-17 23:56] #1058 closed

[2019-03-18 00:12] carlspring opened #1131 "Drop the dependencies to jnuget-core and jnuget-server"
# Task Description

This task is a follow-up to #611 (#1106) and is required for #1130.

Dropping these dependencies currently causes compilation error, as it's looking for a few more classes from JNuGet.

# Tasks

The goal of this issue it to move the rest of **JNuget** classes under the respective sub-packages of `org.carlspring.strongbox`:
* [ ] `ru.aristar.jnuget.files.Framework`
* [ ] `ru.ari

[2019-03-18 07:42] mujahid commented on #1062
@carlspring

-  `NugetArtifactControllerTest`
-  `RawArtifactControllerTest`

[2019-03-18 07:50] kalski commented on #1121
@carlspring there is a notion in nuget's nuspec called metadata - https://docs.microsoft.com/en-us/nuget/reference/nuspec#general-form-and-schema

That's why I kept the classes representing it under `org.carlspring.strongbox.storage.metadata.nuget.metadata`.

It's not the best package name I could think of but I thought it's better to have it than to put those 18 classes in the same namespace.

BT

[2019-03-18 12:10] vikss commented on #1129
I am checking this.

[2019-03-18 12:12] carlspring commented on #1129
Hi @vikss ,

Thanks for looking into this! Would you like to join our [chat channel](https://chat.carlspring.org/) as well?

[2019-03-18 13:40] prbobba commented on #1120
I can give this a shot.

[2019-03-18 14:47] carlspring commented on #1120
Great, go for it! :)

[2019-03-18 17:36] matevarga commented on #1101
Guys, this and #1097 both look like concurrency issues -- the test is marked with CONCURRENT so there's a threadpool executing the threads but the test methods are not pure functions, they mutate shared state. Just my 2c.

[2019-03-18 17:42] carlspring commented on #1101
@matevarga ,

Would you like to have a look at the code and investigate it further? Also, please feel free to join our
[chat channel](https://chat.carlspring.org/).

[2019-03-18 20:04] #1062 closed

[2019-03-18 20:33] carlspring commented on #1079
Won't drop.

[2019-03-18 20:33] #1079 closed

[2019-03-18 20:34] carlspring commented on #1080
Won't drop.

[2019-03-18 20:34] #1080 closed

[2019-03-18 21:36] cheemcheem commented on #1111
Running with JDK 11 on macOS I had to add the same dependency as above to both strongbox-configuration and strongbox-client before I could reach the same 2 failing tests.

So now the following is in both `strongbox-client/pom.xml` and `strongbox-configuration/pom.xml`:
[code]
and the following failures occurred:

[Maven Output](https://gist.github.com/cheemcheem/bced12b4c9d59ce676ae7bd1eb4dc549)
[

[2019-03-19 14:49] yugander-krishan-singh commented on #1128
@carlspring  I am looking into this issue.

[2019-03-19 16:38] LeifBrooks commented on #1034
I'll take this task

[2019-03-19 16:42] carlspring commented on #1034
Great! Thanks! :)

[2019-03-19 17:27] LeifBrooks commented on #1034
This exception is output from the logger in `ProxyRepositoryProvider.resolvePathExclusive(...)`
[code]

Which is caught and swallowed in `ArtifactResolutionServiceImpl.resolvePath(...)`
[code]

Should we silence the logger output and let the clients of `ArtifactResolutionServiceImpl.resolvePath(...)` decide if they want to throw an exception based on the return value of null?

[2019-03-19 17:28] LeifBrooks commented on #1034
or just get rid of the stacktrace in the logger output?

[2019-03-19 19:06] carlspring commented on #1100
This issue is still open for testing under Windows 7.

@kalski : Would you like to try it out?

[2019-03-19 19:56] carlspring commented on #1034
Does the artifact exist on the remote?

[2019-03-19 20:10] LeifBrooks commented on #1034
No. Its testing that the artifact isn't there. `testNonExistingArtifactDownload()`

[2019-03-19 20:12] fuss86 opened #1137 "Investigate issues running strongbox in docker on Windows OS using docker-compose"
There is a [developer guide ](https://strongbox.github.io/developer-guide/building-the-code-with-docker.html) about how to run strongbox on docker container using docker-compose. Running strongbox based on the [run-strongbox](https://strongbox.github.io/developer-guide/building-the-code-with-docker.html#run-strongbox) paragraph does not work on Windows 10 using [docker toolbox](https://docs.docker

[2019-03-19 20:14] carlspring commented on #1034
Well, in this case shouldn't the test be using JUnit's feature to expect that the exception is thrown?

[2019-03-19 20:17] LeifBrooks commented on #1034
I can do that, but as I said the exception is just being logged and then ignored, so there isn't an exception to be caught. We would have to pass it a long.

[2019-03-19 21:40] carlspring commented on #1034
Thanks for investing this one! It looks like it's by design and that there's no better way to silence it!

I will close this.

[2019-03-19 21:40] #1034 closed

[2019-03-19 21:53] #1031 closed

[2019-03-19 22:09] LeifBrooks commented on #1096
Blocked by #1130

[2019-03-19 23:55] #1083 closed

[2019-03-20 01:30] carlspring opened #1138 "Drop the default test users"
# Task Description

We have some test users (`deployer`, `developer01`, `maven`, `user`) added to a production resource (`strongbox-security/strongbox-user-management/src/main/resources/etc/conf/strongbox-security-users.xml`; please, note that with the implementation of #965, the `xml` extension will become `yaml`). We need to remove the `developer01`, `maven`, `user` these from there. When tests

[2019-03-20 09:53] Ade400 commented on #1087
Hi,
 I have looked at your label and seen you want someone to contribute to the documentation. I am a beginner and would like to contribute to the documentation. Please let me know if I can be of any help.

[2019-03-20 10:25] carlspring commented on #1087
Hi @Ade400 ,

Would you like to take this task?

[2019-03-20 11:08] Ade400 commented on #1087
Hi carlspring,
Please I would love to. Please if you can kindly direct me how you want the documentation done since I am a newbie it would be very much appreciated.  Thanks ever so much for getting in touch and will be looking forward for your directions and guidance.

[2019-03-20 11:18] carlspring commented on #1087
@Ade400 ,

Have a look at strongbox/strongbox-docs and feel free to join our
[chat channel](https://chat.carlspring.org/).

[2019-03-20 12:35] denizseaside82 commented on #1119
As we discussed yesterday, Martin, could you please assign this task to me? I will give it a try. Thanks :)

[2019-03-20 12:44] carlspring commented on #1119
Hi,

Please, feel free to pick this up!

[2019-03-20 15:34] prbobba commented on #1120
Trying with 3.1.0-M2
` Building the code in strongbox-db and running the tests still works.` -- Pass
` Building the code and running mvn spring-boot:run in the strongbox-web-core still starts up the application correctly.` -- Pass

[2019-03-20 15:41] carlspring commented on #1120
Hi,

Great! Could you please create a pull request for this? Thanks!

[2019-03-20 17:23] symposion commented on #1101
It's worth noting that, for me, at any rate, this test can be made to fail locally a lot more regularly by changing the junit.jupiter.execution.parallel.config.fixed.parallelism value in junit-platform.properties to e.g. 4 (I'm on a quad-core machine) Various different tests start failing at this point in non-deterministic ways. I haven't seen the exact error listed on this ticket but I do get a n

[2019-03-21 12:57] denizseaside82 opened #1140 "Test failures strongbox-web-core on Windows 10"
# Task Description

After following "Getting Started" section on developer gulde page, proceeding with "mvn clean install" causes an errror like in the following.

My Enviroment:
Maven 3.5.4
JDK 1.8

Error message:
[code]

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-03-21 13:08] symposion opened #1141 "ParallelDownloadRemoteArtifactTest is not idempotent"
# Task Description

When running the tests for `strongbox-storage-maven-layout-provider`, you have to clean between each run, because the tests are not idempotent. I believe that there are several tests within the package `org.carlspring.strongbox.providers.repository` that are guilty of this, but the one that I've looked at most is `ParallelDownloadRemoteArtifactTest`. This uses the proxy reposit

[2019-03-21 18:51] adavid9 commented on #1140
@denizseaside82 I've also `Windows 10` with the same `maven` and `jdk` and I can not reproduce this issue.

[2019-03-21 23:30] carlspring commented on #1140
@denizseaside82 ,

Do you have any other local modifications? Is this the latest version of the code? Which revision is it?

[2019-03-22 00:59] #1096 closed

[2019-03-22 01:15] carlspring opened #1142 "org.xml.sax.SAXParseException: XML document structures must start and end within the same entity"
# Task Description

We are occasionally seeing the following random test failure:

[code]

We need to investigate and fix this.

# Related Tasks

* This test has been disabled in the `master` until #965 has been fixed. @ptirador , @fuss86 : If no one has fixed it by then, (or if you haven't fixed in on your branch), could you please pick this up?

* This task may somehow be related to #1105 (uncon

[2019-03-22 01:58] carlspring commented on #1096
Thanks for carrying out this clean up, @LeifBrooks! :)

[2019-03-22 02:05] steve-todorov opened #1143 "UI: Implement routing management module"
## Task description

We need to create a new ng module called `routing-management` which should have the following pages:

1. List all existing [Artifact Routing Rules](https://strongbox.github.io/user-guide/artifact-routing-rules.html)
2. Add / Edit page from where you can update the route

## Listing routes page

The listing of the routes should look like `localhost:4200/admin/users` - a table w

[2019-03-22 04:11] #1084 closed

[2019-03-22 08:36] sbespalov opened #1145 "Make all Artifact Generators implement the ArtifactGenerator interface"
# Task Description

Currently we have following Artifact Generator classes:
* [x] `NpmPackageGenerator` ( #1294 )
* [x] `NugetPackageGenerator` ( #1295 )
* [x] `MavenArtifactGenerator` ( [#1161](https://github.com/strongbox/strongbox/pull/1161/files#diff-4b3b4bc5d7d8f083159e61a288e2d201R62) )
* [x] `PypiArtifactGenerator` ( #1298 )

We need to make all this classes implement the `org.carlspring.st

[2019-03-22 09:22] sbespalov opened #1146 "Get rid of TempNupkgFile"
1. Move `TempNupkgFile.loadNuspec` method logic into separate class `org.carlspring.strongbox.nuget.NuspecExtractor`.
2. Use `RepositoryPathResolver` to resolve the `RepositoryPath` and then store it with `ArtifactManagementService.validateAndStore` method directly from the `InputStream` we have in request.
3. Get the checksums from `ArtifactEntry` (you can get the `ArtifactEntry` wtih `Repository

[2019-03-22 09:35] sbespalov opened #1147 "Implement the TestRepository.RemoteRepository annotation support"
# Task Description

Currently there is `TestRepository` annotation, which can be used to create and inject `Repository` instance in **JUnit** tests.
This feature should be improved with Proxy repositories support.
* [ ] Create the `TestRepository.RemoteRepository` annotation like below:
[code]
* [ ] Add the `TestRepositoryContext.remoteRepository` field
* [ ] Provide the `RemoteRepository` instanc

[2019-03-23 12:27] carlspring commented on #1142
It seems Jenkins is still unhappy with this running under Windows.

[2019-03-23 15:08] sbespalov commented on #1142
@carlspring this seems other issue

[2019-03-24 01:01] carlspring opened #1149 "Add documentation on how to get the project working in Eclipse"
# Task Description

Most of us are using IntelliJ where there are no extra settings required. Developers using Eclipse seem to need more steps in order to configure things in their IDE. We should add a section (or, if necessary, a separate page) for this in the [`strongbox-docs`](https://github.com/strongbox/strongbox-docs/).

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:

[2019-03-24 17:27] LeifBrooks commented on #1143
I can take this task

[2019-03-24 17:38] carlspring commented on #1143
Thanks for offering to help, @LeifBrooks ! :)

[2019-03-24 19:51] carlspring opened #1150 "Upgrade the version of Gradle in the strongbox-web-integration-tests to 5.3, or higher"
# Task Description

We should investigate what needs to be done in order to support newer versions of Gradle (>= 5.3) in the [`strongbox-web-integration-tests`][strongbox-web-integration-tests] and upgrade.

# Acceptance Test

* [ ] The tests in the [`strongbox-web-integration-tests`][strongbox-web-integration-tests] still run properly.

# Help

* [Our chat](https://chat.carlspring.org/)
* Points

[2019-03-25 03:16] carlspring opened #1151 "Test our RPM distribution and update our docs on how to use it"
# Task Description

We recently started publishing an RPM distribution and we need to be properly tested and have the steps on how to install it documented.

# Tasks

The following tasks will need to be carried out:
* [x] Test the RPM `strongbox-distribution`.
* [x] Document the steps on how to install the RPM.

# Task Relationships

This task is a follow-up of #840.

# Help

* [Our chat](https://

[2019-03-25 08:35] michiboo commented on #1151
Hi I would like to try tackle this issue!

[2019-03-25 10:29] carlspring commented on #1151
Hi @michiboo,

Thanks for offfering to help! We need multiple people to test it and provide feedback, as well as to help polish our documentation!

@cbrianhill has also offered to help with this.

@michiboo, feel feel to join our
[chat channel](https://chat.carlspring.org/) to discuss things further.

[2019-03-25 17:54] vikss commented on #1129
This is up for grabs.

[2019-03-25 19:50] #1142 closed

[2019-03-26 05:48] yugander-krishan-singh commented on #1145
@sbespalov, @carlspring I would like to work on this issue.

[2019-03-26 06:00] carlspring commented on #1145
Hi,

Please, felt free to pick it up and to join our
[chat channel](https://chat.carlspring.org/).

[2019-03-26 10:20] kalski opened #1153 "Fix strongbox ANTLR4 generated-sources eclipse compilation issues"
I am experiencing compilation issues with the `anltr4` generated-sources for the `NugetODataFilter.g4` grammar in `strongbox-storage-nuget-layout-provider` and for the `aql-dynamic-grammar.groovy` produced `AQL.g4` grammar inn `strongbox-aql`.

Seems like eclipse doesn't play well with package declarations in grammar `@header` or with non-default `antlr4-maven-plugin` `outputDirectory` which is no

[2019-03-26 10:28] kalski commented on #1153
I am experiencing compilation issues with the `anltr4` generated-sources for the `NugetODataFilter.g4` grammar in `strongbox-storage-nuget-layout-provider`.

Seems like eclipse doesn't play well with package declarations in grammar `@header`

![image](https://user-images.githubusercontent.com/1196858/54990079-1dbae180-4f77-11e9-80ed-51d54584c8ad.png)

[2019-03-26 12:28] #1150 closed

[2019-03-26 16:38] #1153 closed

[2019-03-27 17:20] kalski opened #1157 "Fix aql-dynamic-grammar.groovy compilation in eclipse and allow for debugging it"
I am experiencing compilation issues with the `aql-dynamic-grammar.groovy` in `strongbox-aql` once its `src/main/groovy` source directory is linked to the project.
Another issue is this script can't be stepped into to debug `strongbox-aql` `mvn clean install`.

**Steps to reproduce:**
* Window -> Show View -> Other -> Git -> Git Repositories
* From the Git Repositories view -> Clone a Git Reposito

[2019-03-28 02:11] cbrianhill commented on #1115
I reproduced this problem.  On MacOS, users with very large UIDs / GIDs are not able to create the tar archives, the `mvn install` failing with the message reported above.  Users with smaller UID / GID are able to build successfully.

I discovered much more about the issue where filenames were truncated.  As reported above, configuring the maven-assembly-plugin to use POSIX tar file format extensi

[2019-03-28 02:17] cbrianhill commented on #1008
I tested creating the distribution on MacOS, and found the following to work:
- `mvn install` succeeds.
- The resulting archives (zip and tar) work on MacOS and on Linux for installing and running strongbox.
I'll work on documenting some install procedures for MacOS.

[2019-03-28 02:40] carlspring commented on #1008
Excellent news! Thanks for the update! :)

[2019-03-28 09:54] kalski commented on #1100
@carlspring I checked the changed docs and `git clone` before / after applying the setting - docs are fine, setting fixes the problem which I also reproduce.

[2019-03-28 10:03] #1157 closed

[2019-03-28 10:25] steve-todorov commented on #1100
@kalski and @msarfrazanwar - thank you very much for confirming this works for win 7 and 10!

[2019-03-28 10:28] kalski commented on #1149
@carlspring can you please assign me this one? All the issues I found with eclipse are fixed now so I can document how to setup the project there now.

[2019-03-28 14:21] carlspring commented on #1100
Thanks for your help, guys! :)

[2019-03-28 14:21] #1100 closed

[2019-03-28 15:25] kalski commented on #1100
Just a clarification - I checked W7.

[2019-03-28 21:05] evrimnurcelik commented on #1138
can you please assign tis one to me? I'm a first timer trying to start with contributing to open source projects.

[2019-03-28 22:18] carlspring commented on #1138
@evrimnurcelik ,

Feel free to give it a go, as well as to join our
[chat channel](https://chat.carlspring.org/)! :)

[2019-03-29 01:43] carlspring commented on #1008
Thanks for your help!

[2019-03-29 01:43] #1008 closed

[2019-03-29 20:31] carlspring commented on #1145
@yugander-krishan-singh , you can have a look at #1161 and do the same for the npm and nuget generators.

[2019-03-29 23:14] carlspring commented on #965
@ptirador / @fuss86 ,

Could you guys please also look into updating our documentation?
Thanks! :)

[2019-03-30 22:55] carlspring opened #1165 "Migrate the Maven layout provider tests to use the new annotations"
# Task Description

We recently implemented #1083 and #1084 and we now need to re-work tests listed below to use these annotations.

Please, note:
* This task is quite large, but the intention is for it to be done in chunks -- you can fix one, or more tests and create a pull request and link it to this task.
* Multiple people can work on this task. For this to work out properly, please add a comme

[2019-03-30 23:08] carlspring commented on #1145
@yugander-krishan-singh

Thank you for your contribution!

Would you mind signing the ICLA, as described in the [Contributing](https://github.com/strongbox/strongbox/blob/master/CONTRIBUTING.md) page?

Kind regards,

Martin

[2019-03-31 07:34] fuss86 opened #1166 "Merge (if possible) ObjectMapper implementations: StrongboxYamlMapper and CustomObjectMapper"
# Task Description

Soon, we will be using two implementations of `com.fasterxml.jackson.databind.ObjectMapper`:

- `org.carlspring.strongbox.mapper.CustomObjectMapper` for JSON
- `org.carlspring.strongbox.yaml.StrongboxYamlMapper` for YAML

We should try to merge these implementations and use only one. Once it's done, we should try to use single instance of `MappingJackson2HttpMessageConverter` f

[2019-03-31 08:36] fuss86 opened #1167 "Replace application.properties by yaml equivalent"
# Task Description

See also https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html#boot-features-external-config-yaml

# Acceptance Test

* [ ] Building the code and running `mvn spring-boot:run` in the `strongbox-web-core` still starts up the application correctly.
* [ ] Building the code and running the `strongbox-distribution` from a `zip` or `tar.gz`

[2019-03-31 08:44] fuss86 opened #1168 "Drop ResourceCloser and replace it with try-with-resources statements"
# Task Description

We should drop `org.carlspring.strongbox.resource.ResourceCloser` and use [native SDK features]( https://docs.oracle.com/javase/tutorial/essential/exceptions/tryResourceClose.html) instead.

# Tasks

The following classes are affected:
* [ ] `org.carlspring.strongbox.artifact.generator.NugetPackageGenerator`
* [ ] `org.carlspring.strongbox.services.ArtifactManagementServiceImpl

[2019-03-31 09:00] fuss86 opened #1169 "YamlFileManager should not rely on ConfigurationResourceResolver"
# Task Description

`org.carlspring.strongbox.yaml.YamlFileManager` classes are too complex and should be simplified.

We should benefit from [spring boot configuration order](https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html) and keep the defaults in the application.properties (or YAML equivalent, see #1167).

# Tasks

* [x] Get rid of `org.carlspri

[2019-03-31 09:37] fuss86 opened #1170 "Drop Role#repository field"
# Task Description

We should drop the `repository` field from the following classes:

* `org.carlspring.strongbox.authorization.domain.Role`
* `org.carlspring.strongbox.authorization.dto.RoleDto`
* `org.carlspring.strongbox.forms.RoleForm`

This field is currently unused and demands unnecessary attention from the developers.

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:

[2019-03-31 09:48] fuss86 opened #1171 "Drop privileges from authorization configuration"
# Task Description

We should drop the `privileges` field from the following classes:

- `org.carlspring.strongbox.authorization.dto.AuthorizationConfigDto`
- `org.carlspring.strongbox.authorization.domain.AuthorizationConfig`

It will also affect `strongbox-authorization.yaml`/`strongbox-authorization.xml`.

@carlspring I don't see any benefit from keeping this field. How do you want to use these

[2019-03-31 10:55] fuss86 commented on #965
https://github.com/strongbox/strongbox-docs/pull/10

@ptirador feel free to update it.

@carlspring this part of doc depends on:
* pre-defined set of roles and privileges:
  * we need to list and explain them in the docs (it's missing now, is that correct ?)
* security-users (I think @sbespalov knows best how it currently works, honestly)
* cron-tasks (this will probably be reworked somehow, see S

[2019-03-31 15:09] carlspring commented on #965
Just saw your comments, @fuss86! strongbox/strongbox-docs#10 looks like it's shaping up quite well, thanks!

[2019-04-01 00:42] carlspring commented on #1115
Thanks for the detailed investigation and explanations! Closing as advised!

[2019-04-01 00:42] #1115 closed

[2019-04-01 02:09] sbespalov commented on #1166
I think we don't need to do this. These Mappers is not the same because it used for different purposes. Also changes on Configuration serialization shouldn't affect on Web serialization. If there is something common there and you want to improve it then we should extract just this common parts and use them for both Mappers.

[2019-04-01 13:50] prbobba commented on #1170
I can look into. I hope the acceptance criteria is the builds and Integration Tests passing?

[2019-04-01 13:54] prbobba commented on #1168
I can take a look at this.
For better understanding -- https://www.baeldung.com/java-try-with-resources

[2019-04-01 14:13] prbobba commented on #1170
PR #1172

[2019-04-01 14:19] carlspring commented on #1168
Please, feel free to pick this up, @prbobba!

[2019-04-01 17:20] carlspring commented on #1165
On hold. Looks like we'll need to polish up the annotations a bit first.

[2019-04-01 20:43] sudhs22 commented on #1167
Can I take this up?

[2019-04-01 20:44] denizseaside82 commented on #1140
Hi Martin, Sorry for late answer. I have no local modification. I just followed installing instructions. I hope ,you mean with revision in the following;
    <parent>
        <groupId>org.carlspring.strongbox</groupId>
        <artifactId>strongbox-parent</artifactId>
        <version>1.0-SNAPSHOT</version>
        <relativePath/>
    </parent>

[2019-04-01 21:12] carlspring commented on #1140
Is it still failing?

[2019-04-01 21:13] carlspring commented on #1167
Hi @sudhs22 ,

Go ahead and please feel free to join our [chat channel](https://chat.carlspring.org/)! :)

[2019-04-01 22:57] carlspring commented on #1171
@sbespalov , any thoughts on this?

[2019-04-02 02:12] sbespalov commented on #1147
done within [#1159](https://github.com/strongbox/strongbox/pull/1159)

[2019-04-02 02:12] #1147 closed

[2019-04-02 03:32] #965 closed

[2019-04-02 11:46] carlspring commented on #1140
Closing this issue, as it seems to be due to old hardware (the machine running it is around 10 years old -- not the best environment to build the code).

[2019-04-02 11:46] #1140 closed

[2019-04-02 19:39] fuss86 commented on #1166
We're using `StrongboxYamlMapper` for Web serialization too (there is a possibility to download the yaml configuration). At least we should try to use some base class for them.

[2019-04-02 19:55] fuss86 opened #1173 "Stop identifying group repositories as a single String"
# Task Description

We have at least 3 places where we identify group repositories using `String` object:

- `org.carlspring.strongbox.storage.repository.Repository#getGroupRepositories`
- `org.carlspring.strongbox.storage.repository.ImmutableRepository#groupRepositories`
- `org.carlspring.strongbox.storage.repository.MutableRepository#groupRepositories`

There are 2 possible values of this object

[2019-04-02 23:32] carlspring commented on #1101
This seems to still be happening randomly. Would anybody like to further investigate it?

We're seeing this randomly in our Jenkins:
[code]

[2019-04-03 02:19] cbrianhill commented on #1124
PR #1175 uses the `springfox-swagger` module to render OpenAPI at runtime rather than at build time.  There is an additional dependency on a webjar, `springfox-swagger-ui`, which provides Swagger UI so that the application can render a web page as well.

Because we use our own resource handler mappings, making `swagger-ui` render from strongbox required some changes to these mappings, one to add t

[2019-04-03 13:59] atutko2 commented on #1087
I would like to contribute to this. Would you please assign me this issue?

[2019-04-03 14:19] carlspring commented on #1087
@atutko2 ,

Please, feel free to pick this up and join our
[chat channel](https://chat.carlspring.org/).

[2019-04-03 14:22] #1149 closed

[2019-04-03 18:23] sudhs22 commented on #1167
Hi, I have done my changes (converted the application.properties to application.yml), ran the maven with all Tests, started the application.
- Is there any test I have to do other than ones mentioned above?
- I am unaware of how to proceed with GIT check in and push for this project. If anyone can point me to any document or link, it would be great.

Not sure if I should have buzzed it here on in

[2019-04-03 18:37] carlspring commented on #1167
Hi,

You will have to fork the project and push to your own fork. Hen you need to open a pull request against our project. As suggested, you can get more help on our channel.

[2019-04-03 18:39] carlspring commented on #1167
I have added a description section for the acceptance testing.

[2019-04-04 15:33] carlspring opened #1176 "Implement a PypiWheelDependencyFormatter"
# Task Description

We will need to be able to generate dependency snippets that a user would be able to cut and paste in their `requirements.txt` when they search for an artifact. For this we will need `org.carlspring.strongboxdependency.snippet.PypiWheelDependencyFormatter` to be implemented under the `strongbox-storage-pypi-layout-provider` module.

The scope of this task will cover:
* Implemen

[2019-04-04 18:02] sudhs22 commented on #1167
thanks @carlspring

[2019-04-04 20:00] carlspring opened #1177 "Fix the typo in the NpmArtifactCoordinates"
# Task Description

Fix the typo in the `NpmArtifactCoordinates.caclulatePackageId` and correct it to `NpmArtifactCoordinates.calculatePackageId`. This is probably used in a few other places, so correct them as well.

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-04-04 21:47] bfalter commented on #1177
PR: https://github.com/strongbox/strongbox/pull/1178

[2019-04-05 02:13] #1129 closed

[2019-04-05 02:32] carlspring opened #1179 "Implement PyPi package distribution metadata"
# Task Description

We need to implement the PyPi metadata as specified [here](https://packaging.python.org/specifications/core-metadata/). The implementation of this metadata will have to check the validity of the data, as described in the specification.

The implementation should be based on the `pypi-layout-provider` branch.

# Task Relationships

This is a sub-task of #807.

# Help

* [Our cha

[2019-04-05 02:40] carlspring opened #1180 "Implement a PyPi version validator"
# Task Description

We need to implement version validators for PyPi.

For details on the PyPi spec for versions, check [here](https://www.python.org/dev/peps/pep-0440/).

For examples of existing version validators in Strongbox, check [here](https://strongbox.github.io/knowledge-base/artifact-coordinate-validators/artifact-coordinate-validators.html) and [here](https://strongbox.github.io/knowled

[2019-04-05 02:45] #1177 closed

[2019-04-05 02:56] sbespalov commented on #1131
within this issue the rest of *JNuget* classes should be moved under `org.carlspring.strongbox` package:
[code]

Also `ru.aristar.jnuget.Version` usage should be replaced with `org.semver.Version` same way as it was implemented within [#611](https://github.com/strongbox/strongbox/issues/611)

[2019-04-05 03:00] sbespalov commented on #1131
the follow-up tasks will be to get rid of `Hash`, `NuspecFile`, `NuspecFile` files and rework `PackageFeed.writeXml` method with `org.springframework.web.servlet.view.feed.AbstractAtomFeedView` based controller.

[2019-04-05 15:55] prbobba commented on #1168
I will definitely need some more time on this.

[2019-04-06 14:52] carlspring commented on #1131
I've updated the description, as per @sbespalov 's explanation.

@sbespalov : Should we have a separate task for this:

(I think it would make more sense).

[2019-04-06 15:17] divyad1508 commented on #657
Hi @fuss86 / @carlspring .

I am thinking of picking up this issue. Please can you help me understanding the issue better.

Thanks!

[2019-04-06 18:30] carlspring opened #1183 "Drop the /greet resource"
# Task Description

In the past, we has some tests using the `/greet` path in the layout provider controllers. We need to remove these methods from the controllers and tests.

# Acceptance Test

* [ ] Building the code with `mvn clean install -Dintegration.tests` still works.
* [ ] Running `mvn spring-boot:run` in the `strongbox-web-core` still starts up the application correctly.
* [ ] Building t

[2019-04-06 23:54] carlspring opened #1184 "Drop the deprecated validateAndStore method from the ArtifactManagementService"
# Task Description

We need to drop the `@Deprecated` method `validateAndStore(String storageId, String repositoryId, String path, InputStream is)` from the `ArtifactManagementService` and replace all usages of it with `validateAndStore(RepositoryPath repositoryPath, InputStream is)`:
[code]

Also, the replacement method no longer throws a `NoSuchAlgorithmException`, so that should be removed from

[2019-04-07 01:22] carlspring commented on #1173
@sbespalov , @steve-todorov ,

What are your thoughts on this?

[2019-04-07 02:48] carlspring opened #1185 "Implement Pypi Feeds"
# Task Description

We need to implement support for PyPi feeds.

# Tasks

The following tasks will need to be carried out:
* [ ] [Newest Packages Feed](https://warehouse.pypa.io/api-reference/feeds/#newest-packages-feed)
* [ ] [Latest Updates Feed](https://warehouse.pypa.io/api-reference/feeds/#latest-updates-feed)
* [ ] [Project and release activity details](https://warehouse.pypa.io/api-referen

[2019-04-07 07:54] akhil10x5 commented on #1184
Hi, I would like to take this up.

[2019-04-07 09:17] carlspring commented on #1184
Hi,

Feel free to do so! :)

[2019-04-07 12:11] akhil10x5 commented on #1184
PR #1186

[2019-04-07 12:19] carlspring opened #1187 "Spring Boot is not starting using the logback-spring-debug.xml"
# Task Description

At the moment, when you build the code and do:
[code]

For some reason, it's not starting up Spring Boot using the `logback-spring-debug.xml`. We need to fix this in order to be able to see debugging output.

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-04-08 01:20] carlspring commented on #811
# Uploading
[code]

[2019-04-08 02:09] carlspring opened #1188 "The HeaderMappingRegistry does not support multiple User-Agent-s per layout provider"
# Task Description

We need to add support for multiple `User-Agents` per layout provider in the `HeaderMappingRegistry`.

# Acceptance Test

* [ ] Building the code with `mvn clean install -Dintegration.tests` still works.
* [ ] Running `mvn spring-boot:run` in the `strongbox-web-core` still starts up the application correctly.
* [ ] Building the code and running the `strongbox-distribution` from

[2019-04-08 03:04] #1187 closed

[2019-04-08 23:13] #1188 closed

[2019-04-09 02:23] #1184 closed

[2019-04-09 05:28] sbespalov opened #1191 "Version list support for @TestArtifact annotation"
The `@TestArtifact` annotation should allow to define version list like below:
[code]

[2019-04-09 17:16] akhil10x5 commented on #1183
Hi! I would like to fix this.

[2019-04-09 23:53] #1191 closed

[2019-04-10 00:02] #1005 closed

[2019-04-10 09:39] carlspring commented on #1146
Hi @ogryniuk ,

Thanks for offering to help! Do you understand what needs to be done? Do you need further clarifications? Are you familiar with NuGet?

[2019-04-10 09:53] ogryniuk commented on #1146
@carlspring

I think I understand what needs to be done.
For now I do not need further information. The instructions are quite detailed but if I struggle, I will ask questions.
No, I am not familiar with NuGet. However, I just looked up on the Net what it serves for and, based on the description of the issue itself, the task does not require much knowledge of NuGet per se

[2019-04-10 09:57] carlspring commented on #1146
Okay!

If you  need help, @sbespalov and @kalski would know more.

[2019-04-10 16:37] LeifBrooks commented on #1143
Hey @fuss86! Would you mind looking over this first PR whenever you have a few minutes?

[2019-04-11 01:27] sbespalov opened #1198 "Maven classifiers support for @TestArtifact annotation"
It should be possible to generate Maven specific artifacts with classifiers using `@TestAtrifact` annotation. This can be done generic way using generator strategy interface below:
[code]
For Maven there will be `MavenArtifactWithClassifiersGeneratorStrategy` implementation, which will generate common classifiers like `sources`, `javadoc` etc. So the `@TestArtifact` annotation usage will looks lik

[2019-04-11 02:44] carlspring commented on #809
Implemented by @alecg956 in #1197.

[2019-04-11 02:44] #809 closed

[2019-04-11 08:35] marregui commented on #1141
Hi,

I would like to have a look at this issue, if nobody else is.

Thank you

[2019-04-11 10:16] marregui commented on #1141
Pull request: https://github.com/strongbox/strongbox/pull/1200
Turned out to be rather trivial.

[2019-04-11 20:09] whalenda commented on #1176
From PEP 440 (https://www.python.org/dev/peps/pep-0440/#version-ordering-across-different-metadata-versions on Version Identification and Dependency Specification)

"The strict version comparison operator (==) is intended primarily for use when defining dependencies for repeatable deployments of applications while using a shared distribution index."

because this is meant to be used for repeatable

[2019-04-11 20:10] carlspring commented on #1141
Thanks, @marregui! :)

[2019-04-11 20:10] #1141 closed

[2019-04-12 00:11] matias9477 commented on #1126
Hello, I'd like to help in this taks, how can I do it?

[2019-04-12 01:06] steve-todorov commented on #1126
Hi @matias9477! We appreciate your interest in this task! However it is currently `on hold` and I will be picking it up once all of the required other tasks have been completed. Please have a look at the other available issues and feel free to join [our chat](https://chat.carlspring.org/channel/community) if you have questions or need help! :)

[2019-04-12 09:57] #1198 closed

[2019-04-12 19:22] carlspring opened #1202 "Create a database to maven-indexer exporter"
# Task Description

For our Maven support, we need to create an index exporter. This will be used by cron tasks to produce Lucene indexes and incremental indexes using the [`maven-indexer`](https://github.com/apache/maven-indexer/), so that other repository managers, as well as IDE-s could be able to integrate with our repository manager.

Initially, our implementation was such that we were using

[2019-04-13 06:51] theomails opened #1204 "Running mvn install in MacOS causes error"
Running mvn install in MacOS causes this error:

`failed: group id '884470207' is too big ( > 2097151 ). Use STAR or POSIX extensions to overcome this limit`

Refer similar issue in other projects:
https://github.com/mdht/mdht-models/pull/88
https://github.com/elastic/elasticsearch/issues/11824

[2019-04-13 09:05] prbobba opened #1205 "The MavenMetadataManagementControllerTest fails intermittently"
# Bug Description

Observed issue:

[code]

This test should be re-worked to use the new test annotations for creating test repositories and artifacts.

# Task Relationships

This task relates to #1165.

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-04-13 09:07] theomails commented on #1183
Hi all,
I'm just starting to work on this issue.

The following controllers are impacted:

1. MavenArtifactController.java
2. NpmArtifactController.java
3. NugetArtifactController.java

And also the Rest Client:

1. RestClient.java

Shall I remove the `greet` path from the `controllers` and the `rest client`? Or only the `controllers` for now?

[2019-04-13 12:50] carlspring commented on #1205
@prbobba ,

Would you like to work on this? You will have to have a look at the tests that have already been fixed for #1165 and follow the same way of re-working the generation of their test repositories and artifacts using the new annotations that we have for this.

[2019-04-13 13:22] carlspring commented on #1204
@cbrianhill ,

I remember you investigated this in #1115, right?

@theomails , have a look at the issue and perhaps you and @cbrianhill could have another look at the issue?

[2019-04-13 13:41] #1183 closed

[2019-04-13 15:36] rivalez commented on #1205
@carlspring ,

I can pick this one.

[2019-04-13 15:39] carlspring commented on #1205
Hi @rivalez!

Feel free to do so and to join our [chat channel](https://chat.carlspring.org/) for more details and help! :)

[2019-04-13 18:54] LeifBrooks commented on #1032
This looks like it is working as designed. The test is making sure that "does not support range requests." is in the exception message, but ProxyRepositoryProvider.resolvePathExclusive() is logging the error as well as throwing it.

[2019-04-13 22:38] carlspring commented on #1165
Anyone wishing to help, could now feel free to join in. Please, have a look at the linked issues and pull requests to get a better idea of how to do things.

[2019-04-14 00:24] carlspring opened #1211 "Update the inceptionYear in all pom.xml files to 2019"
# Task Description

Go over all the `pom.xml` files and update the `<inceptionYear>` to `2019`.

These changes will have to be applied to the following projects:
* [x] [`strongbox`](https://github.com/strongbox/strongbox/)
* [x] [`strongbox-db`](https://github.com/strongbox/strongbox-db/)
* [x] [`strongbox-npm-metadata`](https://github.com/strongbox/strongbox-npm-metadata/)
* [ ] [`strongbox-examp

[2019-04-14 04:09] syakubov commented on #1211
On it.

[2019-04-14 10:13] carlspring commented on #1211
Hi @syakubov!

Thank you for your contribution!

Would you mind signing the ICLA, as described in the [Contributing](https://github.com/strongbox/strongbox/blob/master/CONTRIBUTING.md) page?

If the tag hasn't been added to the `pom.xml` files of the rest of the repositories, then we need to add it with the correct year.

Also, please, feel free to join our [chat channel](https://chat.carlspring.o

[2019-04-14 12:26] fuss86 commented on #1173
Any progress, @akhil10x5  ?

[2019-04-14 14:11] akhil10x5 commented on #1173
Hi @fuss86, i did not pick up this issue. However regarding this, i tried few things earlier which did not work out but the changes were committed in a local branch which later got pushed to remote when i created a PR for another issue. I am not working on this anymore.

[2019-04-14 14:48] timur27 commented on #810
Hi @carlspring . Is someone working on it now, or is it free to pick up?

[2019-04-14 14:53] carlspring commented on #810
Hi @timur27!

Would you like to join our [chat channel](https://chat.carlspring.org/) so that we could discuss things further?

[2019-04-14 15:23] carlspring commented on #504
I will be closing this task. The review and documentation has been done. The follow-up work on absorbing the bits of the JNuGet project into our code base is handled in other tasks.

[2019-04-14 15:23] #504 closed

[2019-04-14 15:36] evrimnurcelik commented on #1094
I can start working on this, after #1138 is merged, Is that ok?

[2019-04-14 15:40] #1138 closed

[2019-04-14 15:55] carlspring opened #1213 "Re-create our own implementation of ru.aristar.jnuget.rss.PackageFeed using Spring's AbstractAtomFeedView"
# Task Description

As a follow up of #611 and in relation to #1131 , we need to replace our code that depends on the `ru.aristar.jnuget.rss.PackageFeed` and implement our own class that uses a `org.springframework.web.servlet.view.feed.AbstractAtomFeedView` based controller instead.

# Task Relationships

This task:
* Is a sub-task of #1215
* Is a follow-up of: #611
* Is required for: #1130
* Rel

[2019-04-14 16:01] timur27 commented on #1213
Hi @carlspring. I'll take a look at it if you don't mind.

Thanks :)

[2019-04-14 16:02] carlspring commented on #1213
Thanks for offering to help and good luck! :)

[2019-04-14 16:29] carlspring opened #1214 "Drop our dependency on the semantic-versioning project and remove the fork"
# Task Description

We only need one class from the `semantic-versioning` project which we now have a fork of.

# Tasks

The following tasks will need to be carried out:
* [x] Copy the original class to our project and call it `SemanticVersion`.
* [x] Drop our dependency on `semantic-versioning` from the `pom.xml`-s.
* [ ] Delete the fork.
* [ ] Delete the Jenkins job.

# Task Relationships

This

[2019-04-14 16:39] carlspring opened #1215 "NuGet 2.0 layout support finalization"
# Task Description

This is the master task for the NuGet 2.0 protocol support.

# Tasks

The following tasks will need to be carried out:
* [ ] #1131 : Drop the dependencies to jnuget-core and jnuget-server
* [ ] #1214 : Drop our dependency on the semantic-versioning project and remove the fork
* [ ] #1146 : Get rid of TempNupkgFile

[2019-04-14 16:50] carlspring commented on #1094
Yes, please! :)

[2019-04-14 16:56] carlspring opened #1216 "Update our documentation regarding the configuration files"
# Task Description

As a follow-up to #965, we need to update our documentation. We should:
* [ ] Add a page called "The strongbox.yaml file" to the "User Guide" in the [strongbox-docs](https://github.com/strongbox/strongbox-docs).
* [ ] Add a page called "The strongbox-authorization.yaml file" to the "User Guide" in the [strongbox-docs](https://github.com/strongbox/strongbox-docs).
* [ ] Add a pa

[2019-04-14 17:33] #1214 closed

[2019-04-14 18:09] carlspring commented on #1171
@sbespalov , if you're okay with this, perhaps @evrimnurcelik could look into it as well, as she recently did #1138 and it might be a good task for her. Could you please confirm?

[2019-04-14 22:42] carlspring commented on #611
@kalski , @sbespalov ,

Just as a confirmation, are both tasks in the check-list above done? They are both ready, right? (Or, do we need to create any follow-up tasks for them as well?).

[2019-04-14 23:06] carlspring commented on #1176
Thanks for you help, @whalenda! :)

[2019-04-14 23:06] #1176 closed

[2019-04-15 07:40] sbespalov opened #1219 "Implement the TestRepository.GroupRepository annotation support"
# Task Description

It should be possible to create Group Repositories using the  `@TestRepository` annotation.

It should look like below:
[code]

[2019-04-15 15:50] syakubov commented on #1211
@carlspring ,

I wanted to ask in chat but for whatever reason the server is not responding for the past hour.

In  [`strongbox`](https://github.com/strongbox/strongbox/) for example, there are pom.xml files without the tag as well. So, just to be clear, **we want every single pom.xml file to contain <inceptionYear>2019</inceptionYear/>**, even in the repos that contain other pom.xml files that ha

[2019-04-15 15:57] carlspring commented on #1211
Hi,

I was actually thinking of the same thing. Could you please go over all the `pom.xml` files in each of the listed project and:
* If they don't have the `inceptionYear` defined, add it and set it to `2019`
* If they have it, then update the version accordingly

Thanks! :)

[2019-04-15 16:00] syakubov commented on #1211
I see, and as long as the tag is a direct child of the root tag, that should be fine?

[2019-04-15 16:05] carlspring commented on #1211
Not sure what you mean by this.

The chat is working fine. Do you have proxy/firewall issues?

[2019-04-15 16:34] syakubov commented on #1211
Sorry, I meant at the top level of the hierarchy, i.e. not nested in any other tags. Upon further analysis I think that is the case, I'll put it close to the top of the file.

[2019-04-15 18:42] ogryniuk commented on #1168
@prbobba

Do you still work on this issue?

[2019-04-15 18:45] carlspring commented on #1168
@ogryniuk : It's been 10 days since @prbobba said he'd look into this. I believe it's safe for you to pick it up, as we'd have probably seen a PR for it by now. So, please feel free to proceed! :)

[2019-04-15 23:46] #1211 closed

[2019-04-15 23:47] carlspring commented on #1211
Thanks for your help, @syakubov and congratulations on your first set of pull requests! :)

[2019-04-16 02:06] cbrianhill commented on #1124
I've updated PR https://github.com/strongbox/strongbox/pull/1175 to render the docs at our customary URI, `/docs/rest/api.html`.  To do this, I've included an altered version of `/swagger-ui.html` and `springfox.js` from https://github.com/springfox/springfox/tree/master/springfox-swagger-ui, which use updated path information to find the resources they need.

I investigated whether we could use c

[2019-04-16 05:05] SergeyHydra commented on #1180
@carlspring Hello! If you don't mind, I want to take it.

[2019-04-16 07:34] carlspring commented on #1180
Hi @SergeyHydra,

Sounds great to me! Please join our [chat channel](https://chat.carlspring.org/) for more details and help! Thanks!

[2019-04-16 20:10] #1170 closed

[2019-04-16 23:26] #1219 closed

[2019-04-17 00:05] carlspring opened #1226 "Get rid of the Hash and NuspecFile in our Nuget layout provider implementation"
# Task Description

After absorbing JNuGet in #1131, we need to do a bit of a clean up and remove the dependency on some of the original classes.

# Tasks

The following tasks will need to be carried out:
* [ ] Drop the need for the `Hash` class
* [ ] Drop the need for the `NuspecFile` class

# Task Relationships

This task:
* Is a sub-task of: #1215
* Depends on:  #1131

# Help

* [Our chat](http

[2019-04-17 02:01] syakubov commented on #1204
Just to add to this, I just built it on mine and it worked fine. My ID's are rather low though, < 500. So I guess I could just confirm that it's not the case on all macs. Also, I did use mvn clean install, so maybe that was different.

[2019-04-17 02:04] syakubov commented on #368
I take it that this still needs to be done?

[2019-04-17 06:42] theomails commented on #1204
If you look at the first external issue that I referred to:
https://github.com/mdht/mdht-models/pull/88

The solution is simply to change the **tarLongFileMode** from **gnu** to **posix**

If tar file mode `posix` supersedes `gnu` in every way, then we could simply upgrade.

If someone has a good idea about tar modes, they could confirm whether this would be a general fix!

[2019-04-17 15:02] kalski commented on #1146
@carlspring I can take this one, please assign it to me.

[2019-04-17 16:08] #1131 closed

[2019-04-17 16:45] syakubov commented on #1204
So the issue is to see whether changing it to posix would cause any problems?

[2019-04-17 21:17] carlspring commented on #1204
@theomails , @syakubov : Have you guys had a look at #1115?

@cbrianhill : Ping? :)

[2019-04-18 02:36] #1124 closed

[2019-04-18 02:44] cbrianhill commented on #1204
Hi @theomails, the issue with the posix tar file extensions is that some utilities don't support them.  See the comment at https://github.com/strongbox/strongbox/issues/1115#issuecomment-477416930 for an example, the Midnight Commander (mc) Linux utility doesn't support them, and unfortunately ends up extracting files with truncated paths.  It was a tough call, but we wanted the tar files to work

[2019-04-18 02:53] carlspring commented on #1204
We're open to advice and if anyone is interested in further investigating this under Mac, please, let us know!

[2019-04-18 02:55] carlspring commented on #1128
@cbrianhill : Is this now an obsolete task?

[2019-04-18 02:58] carlspring commented on #1125
@cbrianhill : would you mind updating the `strongbox-docs`, as described above? Thanks! :)

[2019-04-18 03:05] carlspring commented on #1128
Closing as obsolete! Thanks, @cbrianhill!

[2019-04-18 03:05] #1128 closed

[2019-04-18 13:03] steve-todorov opened #1230 "Swagger documentation is not working under strongbox-distribution"
# Task Description

After merging #1124 we noticed that it works only when you start it via `spring-boot:run` but doesn't work in the `strongbox-distribution`. This needs to be investigated and fixed.

Steps to reproduce:

[code]
---
[code]

[2019-04-18 13:04] steve-todorov commented on #1230
@cbrianhill let me know if you would like to have a go at this task so I can assign it to you :)

[2019-04-18 21:04] carlspring commented on #1230
Assigning it @cbrianhill , as he's our expert on this! :)

[2019-04-18 23:21] jcoelho93 commented on #874
I'll take this one.

[2019-04-18 23:31] carlspring commented on #874
Ola, Jose! :)

Are you familiar with PHP Composer? If "yes", feel free to look into this! Otherwise, we have many other tasks we could also use help with. Please, feel free to join our [chat channel](https://chat.carlspring.org/).

[2019-04-18 23:33] jcoelho93 commented on #874
I am familiar with Composer ;)

[2019-04-18 23:39] carlspring commented on #874
Excellent! :)

[2019-04-18 23:47] carlspring commented on #874
I have updated the lilnks in the master task, as they were outdated (we recently migrated our wiki).

[2019-04-19 01:34] carlspring commented on #1165
@yugander-krishan-singh: Would you like to pick `MavenMetadataExpirationSingleGroupCaseTest` next?

[2019-04-19 14:11] kalski commented on #1146
@sbespalov , regarding these:

To read the Nuspec necessary to build the file name to be used when resolving the `RepositoryPath` in 2. I have to run `NuspecExtractor#loadNuspec` from 1. This method receives an `InputStream` - the request `InputStream`. Once the `InputStream` is read for this, 2. can no longer use it.

So I see 2 options here for the request `InputStream`:
1. Write it to a tempora

[2019-04-19 14:15] kalski commented on #1226
is already removed with #1131.

[2019-04-19 14:23] carlspring commented on #1226
Great! Any others to tick off the list?

[2019-04-19 14:27] kalski commented on #1226
That's the only one left:

Can you ellaborate what do you want to do with this file ? I see that it is mainly xml binding to the Nuspec from the Nupkg file specification.

[2019-04-19 21:37] smolamarcin commented on #1168
Hello. Please, assign this task to me.

[2019-04-19 23:32] cbrianhill commented on #1230
Yup, @carlspring, I'll take care of this.

[2019-04-19 23:45] carlspring commented on #1168
Hi, @smolamarcin !

@ogryniuk is currently looking into this. Would you like to join our
our [chat channel](https://chat.carlspring.org/) to find out more on what other tasks you could help with? :)

[2019-04-20 01:28] carlspring opened #1235 "Should not return www-authenticate request method is OPTIONS"
# Task Description

This used to work, but for some reason it's broken now (not sure if it's a newer Chrome version or we just broke it somehow).
In general, when a browser is trying to access an `api` endpoint, it would first send an `OPTIONS` request to check the `CORS` settings of the server and then send the actual request. The first request will **not** contain the `X-Requested-With` header (

[2019-04-20 02:02] AlekNiebla commented on #1235
I'll be taking a look at this issue

[2019-04-20 02:03] carlspring commented on #1235
Okay! Good luck! :)

[2019-04-20 02:27] steve-todorov opened #1237 "Swagger documentation is using the wrong base url"
# Task Description

Swagger seems to be using a hard-coded base url which points to `http://carlspring.org/strongbox/api/**`. This URL needs to actually be the current domain under which you have opened the documentation (i.e. `http://localhost:48080/api/**`,  `http://domain.com/api` or whatever the domain is)

[2019-04-20 03:24] #1230 closed

[2019-04-20 07:46] ogryniuk commented on #1168
Hi @smolamarcin

Yes, I am on this issue now. But there are plenty of others that are available

[2019-04-20 14:33] cbrianhill commented on #1151
After testing, noted one issue, which was fixed with https://github.com/strongbox/strongbox/pull/1239.  Have just added some docs to explain how to use the RPM via https://github.com/strongbox/strongbox-docs/pull/19.

[2019-04-20 21:49] carlspring commented on #1151
@cbrianhill ,

Would you mind also updating our wiki, as necessary? Thanks! :)

[2019-04-20 21:52] #1237 closed

[2019-04-20 23:13] carlspring opened #1241 "Implement Docker layers"
# Task Description

We need to figure out how Docker layers work and implement support for this.

# Task Relationships

This task:
* Is a sub-task of: #817
* Relates to: #819

# See Also

* [Moby: Download Frozen Image](https://github.com/moby/moby/blob/master/contrib/download-frozen-image-v2.sh)
* [Docker Registry Debug](https://github.com/samalba/docker-registry-debug)
* [Serverfault: Downloadin

[2019-04-21 09:27] DevSachinGupta commented on #817
Hi @carlspring ,
I want to work on this task and how how i am able to understand this task you want it run on the docker platform
Regards,
Sachin Gupta

[2019-04-21 11:15] #1125 closed

[2019-04-21 11:31] evrimnurcelik commented on #1165
Can I work on RemoveTimestampedMavenSnapshotCronJobTestIT and RebuildMavenIndexesCronJobTestIT?

[2019-04-21 12:11] carlspring commented on #1165
@evrimnurcelik : Yes, please!

[2019-04-21 12:18] carlspring commented on #1165
@evrimnurcelik :
Notes:

To enable the (deprecated) Maven Indexer, use `-Dmaven.indexer.enabled=true -Dspring.profiles.active=test`.

[2019-04-21 12:19] #1094 closed

[2019-04-21 12:27] carlspring commented on #817
Hi @DevSachinGupta,

Thanks for offering to help!

I believe you've probably misunderstood the goal of this master task. We can already run our application under Docker. We have `Dockerfile`-s, `docker-compose.yaml` scripts and all that.

The goal of this master task is to implement support for the Docker protocol and implement the necessary functionality that can cover this layout format.

If you

[2019-04-21 12:40] carlspring commented on #1202
@fuss86 ,

I've asked @cbrianhill to investigate the requirements and continue your work on this. Could you please guide him when necessary?

@cbrianhill ,

Please, feel free to gather all questions and finding here for future references.

Thanks! :)

[2019-04-21 12:54] yugander-krishan-singh commented on #1165
@carlspring I am looking into `ArtifactManagementServiceImplTest` and after that I can pick up `MavenMetadataExpirationSingleGroupCaseTest`

[2019-04-21 12:56] carlspring commented on #1202
Also, @cbrianhill ,

Perhaps @slachiewicz will also be able to advise, or help with this task.

[2019-04-21 13:00] carlspring commented on #1165
Okay, @yugander-krishan-singh. I've updated the list. Please, feel free to proceed!

[2019-04-21 13:41] #1151 closed

[2019-04-21 13:42] carlspring commented on #1151
Thank you very much! :)

[2019-04-22 06:54] DevSachinGupta commented on #817
So now the task is to create the docker of the strongbox-storage/strongbox-storage-layout-providers repository

Please correct me if I am wrong.

[2019-04-22 10:41] carlspring commented on #817
I have no idea what you're talking about and if you can't explain it, perhaps you should pick another task.  I have the feeling we're talking about different things.

[2019-04-22 21:34] carlspring opened #1244 "Add dynamic fields and validation for Cron Jobs in the CronTaskController"
# Task Description

Each `Cron Task` can have it's own `optional` or `required` fields based on the work it will be doing. This means, that we need to be able to "describe" these fields so that the UI would dynamically generate them and show them to the user and then have a way to actually validate the input. For now, we will only support the very basic field types such as `string`, `int` and `boo

[2019-04-23 02:14] carlspring opened #1245 "Investigate Antlr grammar processing issues for the AQL"
# Task Description

We are getting the following warnings and need to look into the issue and resolve it:
[code]

# Acceptance Test

* [ ] Building the code with `mvn clean install -Dintegration.tests` still works.
* [ ] Running `mvn spring-boot:run` in the `strongbox-web-core` still starts up the application correctly.
* [ ] Building the code and running the `strongbox-distribution` from a `zip`

[2019-04-23 13:59] smolamarcin commented on #892
Please, assign this task to me. In case of any problems, I'll contact with you via chat.
BR

[2019-04-23 14:04] carlspring commented on #892
Hi!

Feel free to pick this up and to join our chat!

[2019-04-23 17:10] fuss86 commented on #1202
Hi @cbrianhill ,

have you had a chance to start working on it ? Do you have any questions ?

[2019-04-23 20:50] carlspring commented on #892
@smolamarcin,

Feel free to pick this up!

I would recommend you join our [chat channel](https://chat.carlspring.org/).

[2019-04-23 23:33] carlspring opened #1247 "Investigate more dynamic options to import Spring contexts than how're using the @Import annotation"
# Task Description

At the moment, we're using the `@Import` to import other configuration contexts. This means that we need to (currently) hard-code the config contexts for the layout providers, (for example). This is not really dynamic and we should explore alternatives to doing the following:

[code]

# Acceptance Test

* [ ] Building the code with `mvn clean install -Dintegration.tests` still

[2019-04-23 23:49] carlspring opened #1248 "Investigate why the ArtifactManagementServiceImplTest is failing"
# Task Description

We've had to disable the `ArtifactManagementServiceImplTest`, as a follow-up to #1246. We need to re-enable this test and resolve it's issues with high priority. This test needs to be re-worked to use the new test annotations, as explained in #1165. Once the test is re-enabled, it should start failing in our Travis build, as Travis is building the code under MacOS, where it see

[2019-04-24 08:13] kalski commented on #1247
We could use [ImportSelector](https://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/context/annotation/ImportSelector.html) this way:

1. Implement in our layout configs a new marker interface - say `LayoutProviderConfig`. Like this:

`Maven2LayoutProviderConfig implements LayoutProviderConfig`

2. Create a `LayoutProviderConfigsImportSelector`, implementing `ImportSelector` t

[2019-04-24 08:28] carlspring commented on #1247
By the looks of this great example, I'd say you've already done most of the task. Would you like to handle the task?

[2019-04-24 13:40] sbespalov commented on #1247
@carlspring I thinks we should better try to do this with Spring Boot [Auto-configuration](https://docs.spring.io/spring-boot/docs/current/reference/html/using-boot-auto-configuration.html). Also there is something similar to Java SPI in Spring Boot, so we can have `META-INF` for every Layout Provider module which will define this "SPI" for this module.

[2019-04-24 13:59] carlspring commented on #1247
@sbespalov , I believe this is what @SergeyHydra was suggesting on our chat channel, right...?

[2019-04-25 16:02] yugander-krishan-singh commented on #1248
@carlspring I was able to reproduce the test failure in `ArtifactManagementServiceImplTest` class. And investigated the cause of failure of `ArtifactManagementServiceImplTest.testConcurrentReadWrite`.

As per my understanding this test is failing due to multiple race condition occurring between different threads in the following piece of code(`getResult()` inside `ArtifactManagementServiceImplTest

[2019-04-25 16:36] carlspring commented on #1248
@yugander-krishan-singh : Thanks for your extensive investigation and detailed description of the problem.

@fuss86 : Would you mind reviewing?

[2019-04-25 22:45] fuss86 commented on #1248
Hi @yugander-krishan-singh,

thank you for deep investigation, but unfortunately it does not highlight the real issue here.

The idea of this test is to ensure that N threads are able to store/read to/from the same location.

I agree with you that these 2 operations are not atomic together. Expression `aBoolean.getAndSet(!aBoolean.get())` provides some kind of randomness, that's fine. But we can b

[2019-04-26 06:15] yugander-krishan-singh commented on #1248
@fuss86 Thanks for the explanation.
@carlspring I will remove the changes made and update the PR.

[2019-04-26 11:29] faissalwise commented on #1247
@carlspring , I thinks the simplest way to do is with Spring Boot Auto-configuration. We can manage this through component scanning ,if we add ```@SpringBootApplication(scanBasePackages = {"org.carlspring.strongbox","org.carlspring.logging"} ``` in the root of StrongboxSpringBootApplication so all the annoted classes will be picked up by Spring’s component scanning and instantiated as a bean in th

[2019-04-26 15:50] steve-todorov opened #1251 "OrientDB Studio does not work in strongbox-distribution"
# Task Description

OrientDB Studio is not reachable at `http://localhost:2480/studio/index.html` when Strongbox is started from the `strongbox-distribution.tar.gz`. However, if you are starting it via `cd strongbox-web-core && mvn spring-boot:run` it's working as expected. It looks like OrientDB Studio is unable to locate the resources it needs.

We have added a smoke test for this.

# Acceptance

[2019-04-27 11:35] carlspring opened #1252 "Implement a test that creates a raw proxy repository and attempts to download an artifact through it"
# Task Description

We need a new test to be added to the [`strongbox-web-integration-tests`](https://github.com/strongbox/strongbox-web-integration-tests/) project that creates a raw proxy repository and resolves an artifact through it.

# Tasks

The following tasks will need to be carried out:
* [ ] Create a new module called `raw` under the [`strongbox-web-integration-tests`](https://github.com

[2019-04-27 12:55] carlspring opened #1253 "Set up a new module for smoke tests and add basic tests"
# Task Description

We need a new test to be added to the [`strongbox-web-integration-tests`](https://github.com/strongbox/strongbox-web-integration-tests/) project that creates a raw proxy repository and resolves an artifact through it.

# Tasks

The following tasks will need to be carried out:
* [ ] Create a new module called `smoke-tests` under the [`strongbox-web-integration-tests`](https://gi

[2019-04-27 12:57] carlspring commented on #1253
@steve-todorov: Could you please provide a list of things you'd like for us to be testing? Thanks! :)

[2019-04-27 13:09] carlspring opened #1254 "Upgrade to spring-boot >= 2.1.4.RELEASE"
# Task Description

We need to upgrade to Spring Boot >= `2.1.4.RELEASE`.

# Acceptance Test

* [ ] Building the code with `mvn clean install -Dintegration.tests` still works.
* [ ] Running `mvn spring-boot:run` in the `strongbox-web-core` still starts up the application correctly.
* [ ] Building the code and running the `strongbox-distribution` from a `zip` or `tar.gz` still works.
* [ ] The test

[2019-04-27 13:17] carlspring opened #1255 "Upgrade the version of Jetty that we use to 9.4.18.v20190425"
# Task Description

We need to upgrade to Jetty >= `9.4.18.v20190425`.

# Acceptance Test

* [ ] Building the code with `mvn clean install -Dintegration.tests` still works.
* [ ] Running `mvn spring-boot:run` in the `strongbox-web-core` still starts up the application correctly.
* [ ] Building the code and running the `strongbox-distribution` from a `zip` or `tar.gz` still works.
* [ ] The tests i

[2019-04-27 13:23] carlspring opened #1256 "Investigate if and how we can introduce and benefit from SPF4J in our tests"
# Task Description

We need to find out, if we can benefit from some of the great features provided by SPF4J and use them for our tests. For example, we might be able to somehos use it to reduce our excessive logging during development and testing.

Please, feel free to add your thoughts on how this could be done (and, maybe, pick this task up :smile:)!

# Help

* [Our chat](https://chat.carlsprin

[2019-04-27 20:55] carlspring opened #1257 "Minor refactoring of the strongbox-data-service module"
# Task Description

We need a minor refactoring of the `strongbox-data-service` module.

# Tasks

The following tasks will need to be carried out:
* OrientDB configuration-related refactoring:
  * [ ] Create package called `org.carlspring.strongbox.config.orientdb`.
  * [ ] Move `InMemoryOrientDbConfig` under `org.carlspring.strongbox.config.orientdb`.
  * [ ] Move `EmbeddedOrientDbConfig` under `

[2019-04-28 18:36] timur27 commented on #1245
From 8 Warnings here we have two groups of issues actually:
1. Token LAYOUT_COORDINATE_NPM_EXTENSION unreachable because of LAYOUT_COORDINATE_MAVEN_EXTENSION, which overlaps it. After some research in generated grammar files I found, that both extensions have the same value 'extension' in generated AQL.g4, so I think that is the problem. The question is if we want to change something here, since t

[2019-04-28 18:54] carlspring commented on #1245
@timur27 : Thanks for having a look at this!

@sbespalov : Any thoughts?

[2019-04-29 10:48] faissalwise commented on #1257
Hi ,

Can I take this up?

[2019-04-29 10:58] carlspring commented on #1257
Hi @faissalwise!

Thanks for offering, but I'm afraid this has already been done by @rathan-naik in #1258.

[2019-04-29 19:56] faissalwise commented on #1120
Trying with 3.1.0-M2

 Building the code and running mvn spring-boot:run in the strongbox-web-core still starts up the application correctly.But  when running clean install -Dintegration.tests many tests fails .
Below the output :

[code]
I will investigate   failed test ..

[2019-04-30 11:28] faissalwise commented on #1255
Hi ,

Can I take this up?

[2019-04-30 11:28] faissalwise commented on #1254
Hi ,

Can I take this up?

[2019-04-30 23:15] fuss86 commented on #1251
@steve-todorov , how did you try to run the distribution ? Using wrapper executable ?

1. If we try to run the distribution as `java -jar strongbox-distribution-1.0-SNAPSHOT/strongbox-1.0-SNAPSHOT/lib/strongbox-web-core-1.0-SNAPSHOT-spring-boot.jar` then `setenv.conf` does not have effect and all values are taken from `application.properties` from `strongbox-commons` module.

2. running windows ex

[2019-05-01 00:34] #1257 closed

[2019-05-01 12:42] cbrianhill commented on #1251
I've finally found the issue.  For me, at least, the root DB path when I start strongbox from the distribution contains a relative path that uses `..` to go back up the directory tree.  You can see the line in OrientDB source code I'm referring to here:

https://github.com/orientechnologies/orientdb/blob/develop/server/src/main/java/com/orientechnologies/orient/server/network/protocol/http/command

[2019-05-01 13:06] cbrianhill commented on #1251
After conversation with @carlspring, we will not invest in a major refactor wrapper, and we do not want to include `strongbox-vault` inside the application install directory because we want that directory to be independent to better support upgrades.  We'll update the wrapper to explicitly list `/opt/strongbox-vault` as the data directory, and add some notes to the documentation to instruct users

[2019-05-01 23:03] AlekNiebla commented on #1235
I've been able to reproduce the error and found out that the tokens of the authentication is inside the BasicAuthorizationSupplier.java
But I'm having troubles understanding the desired solution, could you explain to me what is the expected result?

[2019-05-02 00:38] carlspring opened #1260 "Create a Pypi metadata parser"
# Task Description

We need to implement a parser for the handling of various PyPi metadata files. Typically these files use `key:value` pairs (one per line).

For the moment, we should treat all the data fields as `String`-s.

This work will be needed for the PyPi layout provider's implementation and the `pypi-layout-provider` branch should be used for this.

## Sample Data

[code]

## Requiremen

[2019-05-02 00:42] carlspring opened #1261 "Fix the "loggingPath_IS_UNDEFINED" issue in the strongbox-web-core"
# Task Description

When you build the `strongbox-web-core` and run `mvn spring-boot:run` in this module, you will notice a `loggingPath_IS_UNDEFINED` directory is being created. It appears that the property is not being set correctly. This needs to be investigated and fixed.

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-05-02 00:56] carlspring commented on #1251
We should avoid hardcoding things at all cost. We should either consider submitting a patch to OrientDB, or think of a better way to do it.

[2019-05-02 00:59] carlspring commented on #1260
@timur27,

As discussed, would you like to take this?

[2019-05-02 01:20] carlspring opened #1262 "Cleanup our dependency tree and make sure we have no dependencies on commons-collections 3.x"
# Task Description

Some of our dependencies seem to be bringing along vulnerable versions of `commons-collections`. We should scan the Maven dependency for all modules and define dependency exclusions for any dependencies that are bringing along versions of `commons-collections`, such as version `3.2.1`. The dependency exclusions should be defined in the [`strongbox-parent`](https://github.com/st

[2019-05-02 01:29] carlspring opened #1263 "Upgrade com.mchange:c3p0 to version 0.9.5.4 or higher"
# Task Description

We are affected by [SNYK-JAVA-COMMCHANGE-174481](https://app.snyk.io/vuln/SNYK-JAVA-COMMCHANGE-174481). In order to resolve it, we need to upgrade `com.mchange:c3p0` to version `0.9.5.4` or higher in the [`strongbox-parent`](https://github.com/strongbox/strongbox-parent).

# Acceptance Test

* [ ] Building the code with `mvn clean install -Dintegration.tests` still works.
* [ ]

[2019-05-02 01:48] carlspring opened #1264 "Upgrade the maven-* and plexus-* dependencies to the latest in maven-commons"
# Task Description

We depend heavily on our [`maven-commons`](https://github.com/carlspring/maven-commons/) for our implementation of the Maven layout provider. However, our transitive dependencies for `maven-*` and `plexus-*` are quite old and need to be brought up-to-date.

Please, note that:
* The work for this will have to be done in the [`maven-commons`](https://github.com/carlspring/maven-c

[2019-05-02 01:50] carlspring commented on #1235
@steve-todorov , @fuss86 , @ptirador : Any thoughts?

[2019-05-02 17:32] timur27 commented on #1260
Hi @carlspring ,
yes, I would like to take this

[2019-05-02 18:48] akhil10x5 commented on #1263
PR: https://github.com/strongbox/strongbox-parent/pull/21

[2019-05-02 22:48] Gcolon021 commented on #1264
@carlspring I would like to claim this issue?

[2019-05-02 23:00] carlspring commented on #1264
Hi @Gcolon021,

Would you like to join our [chat channel](https://chat.carlspring.org/) first?

[2019-05-02 23:03] Gcolon021 commented on #1264
Thanks for the response @carlspring. I joined the chat channel.

[2019-05-03 16:59] Gcolon021 commented on #1253
@carlspring Claiming.

[2019-05-03 20:16] AlekNiebla commented on #1235
#1265

[2019-05-04 02:21] #1087 closed

[2019-05-04 02:21] carlspring commented on #1087
Thanks for your help, @cbrianhill! :)

[2019-05-04 12:37] carlspring commented on #1263
@akhil10x5 ,

I believe there's more to this than just adding a dependency to the `<dependencyManagement/>` section of the `strongbox-parent`. You'll need to also add an exclusion for the older version used in `quartz` and quite likely it will make sense to upgrade that dependency as well.

Then, all `pom.xml`-s defining a dependency to `quartz` will need to have the `c3p0` dependency right above

[2019-05-04 16:33] sainalshah commented on #1261
@carlspring I can work on this issue

[2019-05-04 16:42] carlspring commented on #1261
@sainalshah :

Feel free to pick it up!

[2019-05-04 18:49] sainalshah commented on #1261
@carlspring I am not able to replicate the issue with latest codebase. Can I have more information on replicating this issue?

[2019-05-05 08:57] carlspring commented on #1261
What are the steps you've followed?

[2019-05-05 10:00] #1235 closed

[2019-05-05 18:29] cbrianhill commented on #1251
This is now working from strongbox-distribution, with only the caveat that, when starting Strongbox with OrientDB Studio enabled, the path to `strongbox-vault` needs to be an absolute path without `..` as a path segment.

Strongbox documentation at https://strongbox.github.io/developer-guide/getting-started-with-persistence.html has been updated to provide this instruction for our users.

The foll

[2019-05-05 19:59] carlspring commented on #1251
Thanks for following up on this @cbrianhill ! :)

[2019-05-06 09:41] sbespalov commented on #1248
The initial implementation of `ArtifactManagementServiceImplTest.getResult` condition was the `i % 2 == 0`, to have same number of reads and writes, unlike of `aBoolean.getAndSet(!aBoolean.get())` which seems really not thread safe and makes test results more unpredictable.

Anyway, is there any stack trace for this random `ArtifactManagementServiceImplTest.testConcurrentReadWrite` failures?

[2019-05-06 10:10] sbespalov commented on #1248
@fuss86  thanks for explanation, actually I thought that this case should work fine because we start writing only after lock accrued by writer thread, but maybe you right and we should have a test for it.

@carlspring  I will do the unit test for the above scenario, and try to fix it if there will be any issues with it.

[2019-05-06 10:15] carlspring commented on #1248
Okay, thanks for looking into it, @sbespalov ! :)

[2019-05-06 10:25] sbespalov commented on #1245
@timur27 can you add a test case in `AqlParserTest` for quoted and unquoted token value to be sure that it works fine after your changes?

[2019-05-06 22:02] thecodingdoc1 commented on #483
Does this issue still need to be handled?

[2019-05-06 22:13] carlspring commented on #483
Hi!

Yeah, this is up for grabs!

Would you like to join
our [chat channel](https://chat.carlspring.org/)?

[2019-05-07 09:10] sbespalov opened #1268 "Create custom MVC mapping annotation for Artifact Controllers"
### Problem

Common Spring MVC `@RequestMapping` not supports multiple values mapping for same header name. So below example will not work as expected:
[code]

### Solution

We need to implement custom mapping annotation which will be used to define custom MVC mapping for Artifact Controller classes:
[code]

### How to do

We can make it similar with [this](https://stackoverflow.com/a/10336769/682

[2019-05-07 18:07] timur27 commented on #1245
@sbespalov, thanks for the response!

I added 2 tests for valid and invalid STRING rule parsing accordingly. I hope I understood you in a right way. You will find the appropriate commit above.

Thanks for your time!

[2019-05-07 19:32] fuss86 commented on #1248
Yes, but it failed many times because `new Fetch` Threads were able to be called many times before `new Store` Threads

it's not meant to be thread safe but ensure `new Store` is called by the first Thread

it brings more randomness in the number of `new Store`/`new Fetch` operations

It's easily reproducible on my end. [Here is the gist](https://gist.github.com/fuss86/0cff07f190fc171452c431ab0451

[2019-05-07 20:44] carlspring commented on #1245
@timur27 ,

Two things:
* Did you sign the ICLA?
* Have you opened a PR for this?

Thanks! :)

[2019-05-08 01:24] cbrianhill commented on #1202
Hi @fuss86, I just got into this last night.  Mostly read the code in your branch, rebased, and looked at the old, deprecated implementation.  No questions just yet!

[2019-05-08 02:53] ganeshselvaraj86 commented on #1262
Hello

This is Ganesh. I would like to contribute to the project. I am facing dependency issues while trying to build this project. Can someone help?

I have cloned this project locally and ran mvn clean install.

Could not find artifact org.carlspring.strongbox:strongbox-db-server:jar:1.0-SNAPSHOT

Thanks

[2019-05-08 03:51] pavanp73 commented on #1262
Hello,

I would like to work on this.

Thanks.

[2019-05-08 08:10] carlspring commented on #1262
@ganeshselvaraj86 : I don't think you've followed the Developer's Guide very well, in particular the [Getting Started](https://deploy-preview-26--strongbox.netlify.com/developer-guide/getting-started.html) and [How To Build The Code](https://deploy-preview-26--strongbox.netlify.com/developer-guide/building-the-code.html) articles.

[2019-05-08 08:11] carlspring commented on #1262
@pavanp73 , @ganeshselvaraj86 , would you like to join our [chat channel](https://chat.carlspring.org/)?

[2019-05-08 08:30] carlspring opened #1270 "Add Bazel dependency formatter for Maven artifacts"
# Task Description

We would like to add support for copy-pasteable dependencies for [Bazel](https://www.bazel.build/) to be used in the search engine. The format is outlined [here](https://docs.bazel.build/versions/master/be/workspace.html#maven_jar).

# Tasks

* [ ] Implement `BazelDependencyFormatter`.
* [ ] Implement a test case for it that checks things with different combinations of Maven ar

[2019-05-08 17:57] ganeshselvaraj86 commented on #1262
I am able to fix the problem. I have missed the Getting Started section.

[2019-05-08 18:46] fuss86 commented on #1202
Great, let me know if there is anything :)

[2019-05-08 21:02] fuss86 commented on #1202
@carlspring ,

could you please confirm that we **will no longer need** the ability to search for artifacts using the `maven indexer` ?

[2019-05-08 21:27] carlspring commented on #1202
Yeah, I think that all of our searching should be done through OrientDB.

[2019-05-09 00:04] carlspring opened #1271 "Add Apache Buildr dependency formatter for Maven artifacts"
# Task Description

We would like to add support for copy-pasteable dependencies for [Apache Buildr](https://buildr.apache.org/) to be used in the search engine. The format is outlined [here](https://buildr.apache.org/artifacts.html).

# Tasks

* [ ] Implement `BuilderDependencyFormatter`.
* [ ] Implement a test case for it that checks things with different combinations of Maven artifact coordinat

[2019-05-09 00:21] #1168 closed

[2019-05-10 13:55] ogryniuk commented on #1271
Hello @carlspring ,
I have read the task and understand what needs to be done. I would like to do it if nobody took it yet.
Cheers :)

[2019-05-10 14:28] carlspring commented on #1271
Hi @ogryniuk ,

Feel free to proceed! Thanks!

[2019-05-10 14:32] Declan-Young commented on #1270
I have read the tasks and understand what is required. Could I please work on this issue?

[2019-05-10 15:09] carlspring commented on #1270
Hi @Declan-Y ,

Feel free to proceed! :)

[2019-05-10 22:20] #1244 closed

[2019-05-11 17:36] akhil10x5 commented on #1263
Hi @carlspring

after adding the c3p0 dependency in parent pom.xml, executed mvn depedency:tree command and here is the output i got

[INFO] +- org.quartz-scheduler:quartz:jar:2.3.0:compile
[INFO] | +- com.mchange:c3p0:jar:0.9.5.4:compile
[INFO] | +- com.mchange:mchange-commons-java:jar:0.2.11:compile
[INFO] | - org.slf4j:slf4j-api:jar:1.7.25:compile

As the output shows older version of c3p0 got

[2019-05-11 22:47] carlspring commented on #1263
If it picked up the newer version, then that's all that's needed! Thanks! :)

[2019-05-12 04:47] AlekNiebla commented on #1235
Hey since most of the questions I asked and reports of my progress were done through the strongbox community [chat](https://chat.carlspring.org/channel/community). I think it would better for the community that the findings on this issue are shown in public.

The issue occurred inside the `Http401AuthenticationEntryPoint.java` class. Since the updates on some browsers, pre-flight OPTIONS calls are

[2019-05-12 11:10] arjanvanderborg commented on #1116
Hello Carl, found out about the Strongbox project and would like to help. Okay if I pick up this one?

[2019-05-12 11:23] arjanvanderborg commented on #1116
@carlspring Okay if I pick up this one?

[2019-05-12 13:32] carlspring commented on #1235
Thanks for following up with an explanation! :)

[2019-05-12 13:42] carlspring commented on #1116
Yes, feel free to pick it up! :)

[2019-05-13 09:40] akhil10x5 commented on #1263
The latest available quartz is v2.3.1 (http://central.maven.org/maven2/org/quartz-scheduler/quartz/2.3.1/quartz-2.3.1.pom)
which has a dependency c3p0 with version 0.9.5.3 (http://central.maven.org/maven2/org/quartz-scheduler/quartz/2.3.1/quartz-2.3.1.pom)
If we upgrade quartz then it still would not serve our purpose of getting c3p0 to version 0.9.5.4
Any suggestion?

[2019-05-13 10:37] carlspring commented on #1263
* Upgrade to the newest `quartz` in the `strongbox-parent`
* Define a dependency `exclusion` under `quartz` for `c3p0`
* Explicitly define a dependency to the latest `c3p0` where `quartz` is used

[2019-05-13 13:33] EmilThungstrom commented on #1117
I'm gonna take a look at this one

[2019-05-13 14:28] carlspring commented on #1117
Thanks, @EmilThungstrom! Please, join our [chat channel](https://chat.carlspring.org/) for more details.

[2019-05-13 18:41] AlekNiebla commented on #1213
I like how this issue sounds, I'll take a look at it

[2019-05-13 20:46] carlspring commented on #1213
@AlekNiebla , okay -- go for it! @sbespalov will be your point of contact for this, as he's one of our experts.

[2019-05-15 01:16] sbespalov commented on #1248
I also found a deadlock within this task
[thread dump](https://gist.github.com/sbespalov/b92ad29b9b4ec2fd6256be6dca455ec8)

[2019-05-15 16:00] #1255 closed

[2019-05-15 23:16] #1263 closed

[2019-05-16 02:24] #1268 closed

[2019-05-16 03:42] #1271 closed

[2019-05-16 10:44] ptirador commented on #1254
Hi, I'd like to take this if there's no problem.

[2019-05-16 10:54] ptirador commented on #1254
Okay, I've just realized that PR was created: https://github.com/strongbox/strongbox-parent/pull/20
@carlspring, please take a look.

[2019-05-16 10:56] carlspring commented on #1254
@ptirador : Would you like to test and approve it?

[2019-05-16 11:00] ptirador commented on #1254
I've just tested it, but I have no permissions to do that  in `strongbox-parent`.

[2019-05-16 11:08] carlspring commented on #1254
Can you try it locally?

[2019-05-16 11:10] ptirador commented on #1254
I've tried all steps locally, but what I meant is that I can't approve it.

[2019-05-16 11:10] carlspring commented on #1254
Oh, okay, thanks for taking a look!

[2019-05-16 21:06] carlspring commented on #528
@sbespalov : How will your changes from #1269 affect this?
@ptirador : Would you like to pick this up?

[2019-05-17 11:39] #1270 closed

[2019-05-18 02:50] carlspring opened #1279 "Implement abbreviations for the core AQL keywords"
# Task Description

We need to be able to abbreviate the following AQL keywords:

| keyword      | abbreviation |
|----------------|-----------------|
| `storage`     | `s`                |
| `repository` | `r`                 |
| `layout`       | `l`                  |
| `version`     | `v`                 |

[2019-05-19 06:03] BartoszDabek commented on #1261
Hi. Can I take this?

[2019-05-19 08:28] carlspring commented on #1261
Hi, @BartoszDabek !

Go for it! Also, feelnfree to join our [chat channel](https://chat.carlspring.org/) for help and more details.

[2019-05-19 15:16] Firstmol commented on #811
### **1. UPLOAD ARTIFACTS**

_Command_: `twine upload --repository-url http://localhost:80 dist/dokr-0.1-py3-none-any.whl`

**Request:**
_Method_:POST
_URI_: /
_Content-Type_: multipart/form-data
_Accept-Encoding:_ gzip, deflate
_Authorization_: Basic knRzdjk1QadtYWlsLmNvbto4MTI4MTk5cQ==

**Response:**
_Status code_: 200
_Content-Length_: 0
_Content-Type_: text/html; charset=UTF-8

### **2. SEARCH

[2019-05-19 15:21] Firstmol commented on #811
### **1. UPLOAD ARTIFACTS**

_Command_: `twine upload --repository-url http://localhost:80 dist/dokr-0.1-py3-none-any.whl`

**Request:**
_Method_:POST
_URI_: /
_Content-Type_: multipart/form-data
_Accept-Encoding:_ gzip, deflate
_Authorization_: Basic knRzdjk1QadtYWlsLmNvbto4MTI4MTk5cQ==

**Response:**
_Status code_: 200
_Content-Length_: 0
_Content-Type_: text/html; charset=UTF-8

### **2. SEARCH

[2019-05-19 19:10] carlspring commented on #811
Thanks for providing all this really useful information, @Firstmol!

Please, feel free to dig into my `issue-811` branch and to continue my initial work on this.

[2019-05-21 05:00] sbespalov commented on #1247
@carlspring it looks much similar of what I mean

@SergeyHydra can you please provide some details of how it can be applied to our project?

[2019-05-21 05:55] sbespalov commented on #1146
@kalski seems you right about file name issue, so we can to do it a bit more complex way.

Regarding your proposals the thing is that we already write `InputStream` into temporary location using `InputStream` decorators from `StorageFileSystemProvider`, we also able to have Layout specific decorators within concrete `LayoutFileSystemProvider` implementations, so I think it will be good to have suc

[2019-05-21 06:35] sbespalov commented on #1226
@carlspring it seems both classes was already dropped so we can probably close this.

[2019-05-21 07:54] sbespalov commented on #1202
@carlspring  this probably means that we should drop the `ArtifactSearchServiceImpl` and `SearchProvider` in favor of `AqlController` and `AqlSearchService`.

is there an issue for this?

[2019-05-21 07:58] sbespalov commented on #1202
BTW, we can try to use [Lucene FullText Index](http://orientdb.com/docs/3.0.x/indexing/Full-Text-Index.html) within this task. This will be probably the best way in case if it will suit

[2019-05-21 08:13] carlspring commented on #1226
@sbespalov / @kalski : If both of these have been removed, I will close it. @kalski , could you please confirm?

[2019-05-21 19:00] #808 closed

[2019-05-21 21:13] carlspring opened #1284 "Implement test annotations for use with PyPi test classes"
# Task Description

In continuation of #1105, #1199, we need to create similar annotations for `PypiWheelTestArtifact` and `PypiTestRepository`.

This is the master task for:
* [x] #1305 : Create a `PypiTestRepository` annotation
* [x] #1306 : Create a `PypiWheelTestArtifact` annotation

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fus

[2019-05-21 21:18] carlspring opened #1285 "Upgrade to jackson 2.9.9"
# Task Description

We need to upgrade to Jackson 2.9.9.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version of the Jackson dependencies in the [`strongbox-parent`](https://github.com/strongbox/strongbox-parent/) project.
* [ ] Update the version of the Jackson dependencies in the [`strongbox-proto-parent`](https://github.com/strongbox/strongbox-proto-parent/) proje

[2019-05-21 22:44] carlspring opened #1286 "Fix typo in the UiController"
# Task Description

Fix the typo in `intexWithRoute` to `indexWithRoute`:
[code]

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-05-22 03:12] sbespalov commented on #528
this issue probably need to be done somewhere within `CustomRequestMappingHandlerMapping`.

[2019-05-22 08:23] #1167 closed

[2019-05-22 09:49] #1254 closed

[2019-05-22 18:11] ptirador commented on #1286
Hi, I'd like to take this up.

[2019-05-22 18:11] ptirador commented on #1285
Hi, I'd like to take this up.

[2019-05-22 18:16] carlspring commented on #1285
Go for it!

[2019-05-22 18:17] carlspring commented on #1286
Go for it!

[2019-05-22 18:50] ptirador commented on #1285
@carlspring: I've created 3 PRs,one for each project, they're referenced here. Please take a look whenever you can.

[2019-05-23 00:36] #1285 closed

[2019-05-23 01:04] carlspring commented on #1260
Implemented by @timur27 in #1288.

[2019-05-23 01:04] #1260 closed

[2019-05-23 11:50] ptirador commented on #528
Hi, I'd like to take this.

[2019-05-23 11:55] carlspring commented on #528
Great, @ptirador ! I've assigned it to you!

[2019-05-23 19:06] carlspring opened #1289 "Investigate the storage.openFiles.limit OrientDB messages that we're seeing"
# Task Description

We are seeing the following seemingly benign (warning?) message a lot lately:
[code]

This needs to be investigated and a fixed.

# Task Relationships

This task might potentially be related to #1120 and we might have to upgrade to a newer version of OrientDB.

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-05-23 23:50] #1286 closed

[2019-05-24 15:58] ptirador commented on #1120
Hi, I've tried upgrading version to `3.0.19` (check [here](https://github.com/orientechnologies/orientdb/releases/tag/3.0.19)), but when executing `mvn clean install -Dintegration.tests`, many tests fails, similar to previous comment:
[code]

[2019-05-24 16:35] carlspring commented on #1120
Interesting. Would you like to try a slightly older version, or a few versions older to see what the latest version where this still works is? Then we could perhaps go over the release notes and see, if there's anything apparent which might be causing this?

[2019-05-24 16:39] ptirador commented on #1120
Sure! I'll try and I'll tell you.

[2019-05-24 22:50] ptirador commented on #1120
After trying all possible versions, the newest version which works correctly is... `3.0.1`. All versions from `3.0.2` onwards are failing (with the same errors as above) when executing `mvn clean install -Dintegration.tests`.

Here are the [release notes](https://github.com/orientechnologies/orientdb/wiki/OrientDB-3.0-Release-Notes#302---5-june-2018) (I'm not able to see anything related).

Should

[2019-05-24 22:56] carlspring commented on #1120
Interesting! :(

@fuss86 , @sbespalov : Any thoughts on how we should proceed with this?

Here's the commit log for [orientechnologies/orientdb/commits/3.0.2](https://github.com/orientechnologies/orientdb/commits/3.0.2).

[2019-05-26 18:20] vikss commented on #1205
@carlspring
Can I take this?

[2019-05-26 18:40] carlspring commented on #1205
Hi @vikss ,

Sure, if you can reproduce and fix it, that'll be great! :)

[2019-05-27 05:52] sbespalov opened #1292 "Implement `@RepositoryAttributes` annotation support"
New annotation should allow following Repository attributes configuration:
[code]

[2019-05-27 11:49] carlspring opened #1294 "Make the NpmArtifactGenerator implement the ArtifactGenerator interface"
# Task Description

As part of #1145, we need to refactor the `NpmArtifactGenerator` to implement the `ArtifactGenerator`. This will require re-working some of the code in the generator, as well as some of the tests.

# Task Relationships

This task:
* Is a sub-task of: #1145
* Relates to: #1295

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov

[2019-05-27 11:49] carlspring opened #1295 "Make the NugetArtifactGenerator implement the ArtifactGenerator interface"
# Task Description

As part of #1145, we need to refactor the `NugetArtifactGenerator` to implement the `ArtifactGenerator`. This will require re-working some of the code in the generator, as well as some of the tests.

# Task Relationships

This task:
* Is a sub-task of: #1145
* Relates to: #1294

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespal

[2019-05-27 11:59] carlspring commented on #1261
It seems this has become obsolete. Thanks to everyone who had a look at it.

[2019-05-27 11:59] #1261 closed

[2019-05-27 17:59] #1262 closed

[2019-05-27 18:46] ptirador commented on #1116
@carlspring: Does this still apply?

[2019-05-27 18:48] carlspring commented on #1116
@ptirador :

I'm not 100% sure, but there's definitely quite a few things you can help us fix in the `maven-common` dependencies, if you're up for it.

[2019-05-28 09:14] Sorcecoder commented on #1289
After reading a little in the Orient manual and docs i think the quick fix might be to simply set the value higher in the config orientdb-server-config.xml but i am not sure if that wont repeat if the new higher value is reached due to not closing the files, but i dont have enough background informations on what exactly is happening with the files

[2019-05-28 09:46] carlspring commented on #1289
Hi @Sorcecoder ,

Would you like to play around with it and try to fix it?

[2019-05-28 10:08] ogryniuk commented on #1294
Hi there @carlspring ,
Could I look into this issue for a couple of days?

[2019-05-28 10:42] carlspring commented on #1294
Hi @ogryniuk ,

Please, feel free to do so!

[2019-05-28 18:11] vikss commented on #1295
I would like to take this.

[2019-05-28 19:00] carlspring opened #1298 "Make the PypiArtifactGenerator implement the ArtifactGenerator interface"
# Task Description

As part of #1145, we need to refactor the `PypiArtifactGenerator` to implement the `ArtifactGenerator`.

# Task Relationships

This task:
* Is a sub-task of: #1145
* Relates to: #1294 , #1295

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-05-28 19:45] fuss86 opened #1299 "When Spring Context is refreshed/recreated some Cron Tasks configurations are duplicated in the strongbox-cron-tasks.yaml file"
# Task Description

Some cron tasks are created during the server startup (for example [DownloadRemoteFeedCronJob](https://github.com/strongbox/strongbox/blob/master/strongbox-storage/strongbox-storage-layout-providers/strongbox-storage-nuget-layout-provider/src/main/java/org/carlspring/strongbox/cron/jobs/DownloadRemoteFeedCronJob.java)) (see also [NugetRepositoryManagementStrategy](https://githu

[2019-05-28 19:50] fuss86 opened #1300 "CronTaskConfigurationDto should base on java.util.UUID not on java.lang.String"
# Task Description

We need to change the [CronTaskConfigurationDto#uuid](https://github.com/strongbox/strongbox/blob/master/strongbox-cron/strongbox-cron-api/src/main/java/org/carlspring/strongbox/cron/domain/CronTaskConfigurationDto.java#L21) type from `String` to [UUID](https://docs.oracle.com/javase/8/docs/api/java/util/UUID.html)

It will affect following classes (at least):
Changes should be

[2019-05-28 20:40] carlspring commented on #1295
@vikss ,

Feel free to give it a go! :)

[2019-05-28 21:08] carlspring opened #1301 "Create an NpmTestRepository annotation"
# Task Description

As part of our on-going efforts to re-work our tests, so that they're simpler and easier to parallelize an in continuation of our recent work on getting test annotations for the easier generation of test repositories and artifacts, we need to implement an NPM-specific annotation for test repositories. Please, refer to the [documentation](https://strongbox.github.io/developer-gu

[2019-05-28 21:08] carlspring opened #1302 "Create an NpmTestArtifact annotation"
# Task Description

As part of our on-going efforts to re-work our tests, so that they're simpler and easier to parallelize an in continuation of our recent work on getting test annotations for the easier generation of test repositories and artifacts, we need to implement an NPM-specific annotation for test artifacts. Please, refer to the [documentation](https://strongbox.github.io/developer-guide

[2019-05-28 21:12] carlspring opened #1303 "Create a NugetTestRepository annotation"
# Task Description

As part of our on-going efforts to re-work our tests, so that they're simpler and easier to parallelize an in continuation of our recent work on getting test annotations for the easier generation of test repositories and artifacts, we need to implement an NuGet-specific annotation for test repositories. Please, refer to the [documentation](https://strongbox.github.io/developer-

[2019-05-28 21:12] carlspring opened #1304 "Create a NugetTestArtifact annotation"
# Task Description

As part of our on-going efforts to re-work our tests, so that they're simpler and easier to parallelize an in continuation of our recent work on getting test annotations for the easier generation of test repositories and artifacts, we need to implement an NuGet-specific annotation for test artifacts. Please, refer to the [documentation](https://strongbox.github.io/developer-gui

[2019-05-28 21:19] carlspring opened #1305 "Create a PypiTestRepository annotation"
# Task Description

As part of our on-going efforts to re-work our tests, so that they're simpler and easier to parallelize an in continuation of our recent work on getting test annotations for the easier generation of test repositories and artifacts, we need to implement a PyPi-specific annotation for test repositories. Please, refer to the [documentation](https://strongbox.github.io/developer-gu

[2019-05-28 21:21] carlspring opened #1306 "Create a PypiWheelTestArtifact annotation"
# Task Description

As part of our on-going efforts to re-work our tests, so that they're simpler and easier to parallelize an in continuation of our recent work on getting test annotations for the easier generation of test repositories and artifacts, we need to implement an PyPi-specific wheel annotation for test artifacts. Please, refer to the [documentation](https://strongbox.github.io/develope

[2019-05-28 21:26] carlspring commented on #1300
@ptirador ,

As you've already done some work on the cron tasks before, would you perhaps like to look into this?

[2019-05-28 21:30] carlspring commented on #1299
@ptirador ,

Would this be something you'd like to look into?

[2019-05-28 22:11] fuss86 opened #1308 "Strongbox distribution proper `etc/conf` directory usage"
# Task Description

When we build fresh distribution package, following directories are created:

[code]

However, when we run the distribution using `java -jar lib/strongbox-web-core-1.0-SNAPSHOT-spring-boot.jar` new directory is created called `strongbox` (see below)

[code]

which contains another `etc/conf` directory
[code]

We should use the same directory to read and write the configurations

[2019-05-28 22:58] carlspring commented on #1308
@fuss86 ,

It seems to me that you're starting the application incorrectly. Have a look at this:

[code]

[2019-05-29 01:08] carlspring opened #1309 "Minor class name refactoring in the strongbox-aql module"
# Task Description

The classes in the `strongbox-aql` project under the `org.carlspring.strongbox.aql` package are inconsistently named. All classes starting with `AQL*` should be renamed to `Aql*`.

# Tasks

The following classes will need to be renamed:

* [ ] `AqlExpressionDialect`
* [ ] `AQLExpressionVisitor`
* [ ] `AqlMapping`
* [ ] `AQLPaginatorVisitor`
* [ ] `AqlQueryParser`
* [ ] `AQLQuer

[2019-05-29 01:31] carlspring opened #1310 "Make it possible to define the layout providers and their artifact coordinates during runtime"
# Task Description

We need to figure out a way to be able to define layout providers and their artifact coordinates during runtime, because currently, this is done during compilation.

This currently means that:
* The `strongbox-aql` module needs to have all of the layout providers as dependencies in order for the `AQL.g4` to be compileable in a state where all the layout providers are supported.

[2019-05-29 01:46] carlspring opened #1311 "Implement checksum keyword"
# Task Description

Please, note: This task requires knowledge of Antlr.

We need to implement support for searching by checksums. For this we will need to introduce a `checksum` keyword.

The code for this is located in the `strongbox-aql` module.

We will need test cases to be implemented for this.

# Useful Links

* [Strongbox AQL](https://strongbox.github.io/user-guide/artifact-query-language.

[2019-05-29 01:50] carlspring opened #1312 "Make the keywords in the AQL Antlr grammar case insensitive"
# Task Description

Please, note: This task requires knowledge of Antlr.

We need to make the AQL's keywords case insensitive.

The code for this is located in the `strongbox-aql` module.

We will need test cases to be implemented for this.

# Task Relationships

This task:
* Relates to: #721, #729.

# Useful Links

* [Strongbox AQL](https://strongbox.github.io/user-guide/artifact-query-language.h

[2019-05-29 02:19] carlspring opened #1313 "Implement more thorough tests that test each keyword of our AQL Antlr grammar"
# Task Description

Please, note: This task requires knowledge of Antlr.

We need to implement more thorough tests that check each keyword of our `AQL.g4` Antlr grammar.

The code for this is located in the `strongbox-aql` module.

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @fuss86

[2019-05-29 08:09] #1292 closed

[2019-05-29 10:16] ptirador commented on #1300
@fuss86 @carlspring : When we dispatch a cron event:
[code]

What should be passed, the cron task name or the cron task UUID?

[2019-05-29 10:26] carlspring commented on #1300
What do you propose? I think it should probably be the UUID, but I'm not sure...

[2019-05-29 10:29] ptirador commented on #1300
Currently the name is being used, I think it should probably be the UUID too.

[2019-05-29 10:30] carlspring commented on #1300
It looks like we're on the same page. Please, proceed with converting it to use UUID instead.

[2019-05-29 10:51] #1248 closed

[2019-05-29 20:20] fuss86 commented on #1308
@carlspring could you please wait for the strongbox instance to be started completely and then list `/java/strongbox/strongbox-distribution/target/strongbox-distribution-1.0-SNAPSHOT/strongbox-1.0-SNAPSHOT` directory ? Thanks

[2019-05-29 20:40] fuss86 commented on #1308
Sorry, I though we are able to run the `fat-jar` using directly `java` command too.

I'm closing this ticket.

[2019-05-29 20:40] #1308 closed

[2019-05-29 21:47] LeifBrooks commented on #503
What is this RepositoryFileSystemProvider class mentioned in the description?

[2019-05-30 11:17] ogryniuk commented on #1294
This issue is free since now. Anyone is welcome to pick it up

[2019-05-30 12:45] abhishek-iitj commented on #1309
Would like to work on this one.
@carlspring Should I proceed?

[2019-05-30 12:47] carlspring commented on #1309
Hi @abhishek-iitj ,

Please, feel free to proceed and to join our [chat channel](https://chat.carlspring.org/).

Thanks!

[2019-05-30 15:00] bamarch commented on #1294
I will pick up this issue

[2019-05-30 15:49] LeifBrooks commented on #1301
I can take this task

[2019-05-30 16:25] carlspring commented on #1301
Great! Please, proceed! :)

[2019-05-30 20:09] vikss commented on #1205
@prbobba
This command - "mvn install -Dintegration.tests -l output.log" - returned success with no failed/crashed test cases inside the strongbox-web-core folder.
Can you help me reproduce this issue?

[2019-05-30 22:34] carlspring commented on #1205
@vikss :
What's your `mvn --version` output?

[2019-05-30 22:36] carlspring commented on #1294
Thanks, @bamarch ! :)

[2019-05-31 01:46] sbespalov opened #1317 "Make the `ArtifactEntryServiceTest` to be safe within concurrent tests execution"
The reason why it's not safe is following `ArtifactEntryService` method calls:
- `artifactEntryService.deleteAll();`
- `artifactEntryService.count()`
- `artifactEntryService.findAll()`

These methods affects/affected with tests executed in other threads.

[2019-05-31 04:05] vikss commented on #1205
mvn --version
Apache Maven 3.5.4 (1edded0938998edf8bf061f1ceb3cfdeccf443fe; 2018-06-18T00:03:14+05:30)
Maven home: /opt/apache-maven-3.5.4
Java version: 1.8.0_201, vendor: Oracle Corporation, runtime: /usr/lib/jvm/java-8-oracle/jre
Default locale: en_IN, platform encoding: UTF-8
OS name: "linux", version: "4.4.0-148-generic", arch: "i386", family: "unix"

[2019-05-31 11:02] #1317 closed

[2019-06-01 09:36] vikss commented on #1205
@carlspring
Nevertheless, I have made the necessary changes. Could you please verify my pull request?

[2019-06-02 11:07] bamarch commented on #1294
not working on this - @carlspring from rocketchat it looks like Oleksandr is working on this

[2019-06-02 11:58] bamarch commented on #1252
I will start working on this issue

[2019-06-02 13:41] bamarch commented on #1252
- [ ]  Create a new module called raw under the strongbox-web-integration-tests project.

[2019-06-02 16:50] bamarch commented on #1252
work-in-progress branch:
https://github.com/strongbox/strongbox-web-integration-tests/commit/558d45cf6f8b0b82361035545e1adb25373bbe6a

todo:

- [ ] debug adding the proxy repo
- [ ] download the artifact

[2019-06-03 01:33] sbespalov commented on #503
@LeifBrooks this is now called `StorageFileSystemProvider`.

[2019-06-03 02:48] sbespalov commented on #503
also there was #1005 implemented, so now you should first try to read checksums from `ArtifactEntry` if there is one, and only after this from checksum files.

[2019-06-03 17:11] fuss86 opened #1322 "Drop maven-commons"

[2019-06-03 18:00] ptirador commented on #1322
What about the issue #1264? I guess that it must be closed in this case.

[2019-06-03 19:16] fuss86 commented on #1322
Thanks @ptirador for heads up ! I changed #1264 label to "on hold" .

[2019-06-03 19:44] carlspring commented on #1322
Correct! @ptirador , please don't work on it, if you've started looking into it.

[2019-06-03 19:49] ptirador commented on #1322
Don't worry about it, I hadn't started yet.

[2019-06-03 19:55] carlspring commented on #1322
Good, thanks!

[2019-06-04 03:59] sbespalov opened #1323 "Make the `MavenIndexerSearchProviderTest` to use `@MavenRepository` and `@MavenTestArtifact` annotations"
# Task Description

We need to make the `MavenIndexerSearchProviderTest` to be safe within concurrent execution and  follow the [Writing tests](https://strongbox.github.io/developer-guide/writing-tests.html) guide.

# What need to be done
1. Rework test methods to use injected `Reposiutory` and `Path` instances as method parameters according to current `MavenIndexerSearchProviderTest.setUp()` logi

[2019-06-04 04:51] vikss commented on #1323
I will take this.

[2019-06-04 09:55] #1300 closed

[2019-06-04 10:55] ptirador commented on #1299
@fuss86 @carlspring Let's assume that a new cron task is created, and it has a different UUID but the same job class as a task in the yaml file. Should we assume that this new cron task is in fact a duplicate, and we should skip it and don't add it to the file?

[2019-06-04 11:04] carlspring commented on #1299
Hi @ptirador ,

Yes, you should, because you can have cron tasks for different repositories. For example, you can have a cron task that removes all the snapshots from a snapshot repository for all artifacts tha have been released. So, this could be set up per repository. OBviously, these different configurations will be using the same class, but will have different names.

[2019-06-04 12:42] ptirador commented on #1299
Great, thanks!

[2019-06-04 14:30] ogryniuk commented on #1289
Hi @carlspring ,
I sent you a new info about this warning in the chat.
In a nutshell, previously from my Linux configuration the warning used to appear from time to time. Now it disappeared completely

[2019-06-05 02:55] sbespalov commented on #1251
@steve-todorov can you please verify the PR above?

[2019-06-05 07:50] steve-todorov commented on #1251
@sbespalov It looks like your PR fixes it. Thanks! :)

[2019-06-05 08:13] #1251 closed

[2019-06-05 09:40] #1284 closed

[2019-06-05 09:42] #1305 closed

[2019-06-05 09:42] #1306 closed

[2019-06-05 16:37] ptirador commented on #1299
@carlspring @fuss86 : Hi! I still have doubts with the cron tasks duplicates in the yaml file.
So, just to be clear, let's suppose we have this yaml file:

[code]

Are the 2nd and the 3rd element duplicates of the first one?
The second is exactly the same except for the UUID.
The third element is the same except for the UUID and name.

[2019-06-05 16:46] carlspring commented on #1299
I see what you mean.
In this case, we have two options:
* Let it be
* Warn the user in the UI

I think we should probably warn in the UI, but, on the other hand, if you decide to call it like that, then you should live with your silly naming.

What do you think?

[2019-06-05 17:31] bamarch commented on #1252
Ran into something that gave me pause...

___________________________

When I docker-compose in my new module, and run my test, the intention is:
- create a new storage
- create a new repository - but, it fails 😞
- ... I will do other stuff later

my work-in-progress branch is here, this is the part where I add a new repository
github.com/strongbox/strongbox-web-integration-tests/blob/558d45cf6f8b

[2019-06-06 02:59] evilmopey commented on #1294
Can I try to solve #1294?

[2019-06-06 03:21] Shubhang-Sharma commented on #483
is this still up-for-grabs?
I would like to solve it

[2019-06-06 06:31] bamarch commented on #1294
Before, I only got as far as speccing out the issue:

—————————————

- rename NpmPackageGenerator to NpmArtifactGenerator and have it implement the ArtifactGenerator interface

- update docs / tests as needed

MavenArtifactGenerator is done already https://github.com/strongbox/strongbox/pull/1161/files#diff-4b3b4bc5d7d8f083159e61a288e2d201R62

Implementing ArtifactGenerator:

1) add the methods fr

[2019-06-06 07:27] SergeyHydra commented on #1247
@sbespalov @carlspring my idea consist of creating some starter with configurations or starters for each conf  of layout providers. So for score we will need only inject dependency in pom and configurations will be import.

[2019-06-06 08:34] steve-todorov commented on #483
Hi @Shubhang-Sharma,

Sure, feel free to pick this up. You will need to create a PR in the [strongbox-docs](https://github.com/strongbox/strongbox-docs) repository. Please add this as a page under the `User Guide`.

[2019-06-06 08:35] sbespalov commented on #1247
@carlspring would you mind assigning this task for @SergeyHydra ?

[2019-06-06 08:57] carlspring commented on #1247
Hi,

@sbespalov : Thanks for following up on this and for clarifying the approach that should be followed.

@SergeyHydra : Could you please, proceed with implmenting it? Thanks! :)

(Github only allows us to assign tasks to members of our teams. In order to become a member of the OSS team, you will need to implement a few tasks and to contribute on a more regular basis. This is just a formality --

[2019-06-06 09:15] carlspring commented on #483
We need to clarify things with the `ulimit` issue under Linux (#1289).

[2019-06-06 17:12] evilmopey commented on #1294
Where is the NpmArtifactGenerator? I looked through the code and could not find it.

P.S. I am new to the open source community.

[2019-06-06 17:18] carlspring commented on #1294
@evilmopey ,

Please, leave this task to @bamarch.

[2019-06-06 17:20] carlspring commented on #1294
The original name of the class is `NpmPackageGenerator`, but it should be renamed to `NpmArtifactGenerator` for consistency.

[2019-06-07 22:24] #1301 closed

[2019-06-07 23:48] LeifBrooks commented on #1302
I can take this task

[2019-06-07 23:53] LeifBrooks commented on #503
@sbespalov , thanks!

[2019-06-08 02:35] carlspring commented on #1302
Thanks! Please, proceed! :)

[2019-06-08 02:39] cbrianhill commented on #1202
A couple of questions for @carlspring , @fuss86 :

1. Do we wish to maintain the API functionality to rebuild indexes?
2. Do we want to completely remove the old indexer, or leave it for some time, using properties to switch between the two?

[2019-06-08 02:46] carlspring commented on #1202
@cbrianhill .

1. For the moment, please don't concern yourself with the cron tasks for rebulding the indexes.
2. We don't want to completely drop the `maven-indexer` for the moment. It's actually not really used anywhere anymore and we've disabled the code for it.

This task concerns only the exporting of the data from OrientDB to a Maven index.

[2019-06-08 09:00] ptirador commented on #1303
Hi! I'd like to take this up.

[2019-06-08 09:09] carlspring commented on #1303
Great! I've assigned it to you!

[2019-06-08 12:28] #528 closed

[2019-06-08 13:12] #1303 closed

[2019-06-08 13:16] carlspring commented on #1304
@ptirador ,

Would you like to look into this as well?

[2019-06-08 14:35] carlspring opened #1327 "Re-work the NuGet tests to use the new annotations"
# Task Description

As a follow-up to #1295 , #1303 , #1304 , we need our existing tests for the NuGet layout provider to be re-worked to use the `NugetTestArtifact` and `NugetTestRepository` annotations instead.

Please, note:
* This task involves quite a few test cases and it can be done in chunks -- you can fix one, or more tests and create a pull request and link it to this task.
* Multiple pe

[2019-06-08 14:45] carlspring opened #1328 "Re-work the NPM tests to use the new annotations"
# Task Description

As a follow-up to #1294 , #1301 , #1302 , we need our existing tests for the NuGet layout provider to be re-worked to use the `NpmTestArtifact` and `NpmTestRepository` annotations instead.

Please, note that this task is good for new joiners who have sufficient experience with JUnit and testing and will quickly help them learn more about the project.

# What Needs To Be Done

*

[2019-06-08 14:57] ptirador commented on #1304
Sure! Count me in!

[2019-06-08 15:59] ptirador commented on #1304
@carlspring: I think I need to implement #1295 first.

[2019-06-08 16:16] carlspring commented on #1304
Okay, feel free to pick it up.

[2019-06-08 16:23] #1245 closed

[2019-06-08 19:43] carlspring commented on #1295
@vikss ,

@ptirador will take this task.

[2019-06-09 00:25] carlspring commented on #1226
@sbespalov / @kalski : Could you please confirm, if this task can be closed? Thanks! :)

[2019-06-09 05:29] VishwajeetNehra commented on #1328
Hi, I'd like to work on this issue

[2019-06-09 05:55] ajaybhat commented on #1327
I can pick this up.

[2019-06-09 08:38] fuss86 commented on #1165
picking  `org.carlspring.strongbox.repository.group.BaseMavenGroupRepositoryComponentTest`

[2019-06-09 11:18] ptirador commented on #1295
Hi, I have one problem.

Looking into the class `NugetPackageGenerator` (which I will rename to `NugetArtifactGenerator`), it has this method:
[code]

When I find the usages of this method, the last parameter, `dependencyList`, is never passed. The important thing is, the `ArtifactGenerator` interface which has to be implemented by this class, has these methods:
[code]

These methods don't use tha

[2019-06-09 12:18] ajaybhat commented on #1169
I would like to work on this.

[2019-06-09 12:40] vikss commented on #1295
@ptirador
I had the same doubt until I took a look at this - https://github.com/strongbox/strongbox/pull/1161/files#diff-4b3b4bc5d7d8f083159e61a288e2d201R62
See if it helps.

[2019-06-09 13:07] carlspring commented on #1169
@ajaybhat ,

Thanks! Feel free to have a look at it and to propose a pull request for it! :)

[2019-06-09 18:24] michan94 commented on #1309
If this issue hasn't been resolved yet, I can go through it quickly

[2019-06-09 19:10] carlspring opened #1332 "Create a MavenTestRepository annotation"
# Task Description

As part of our on-going efforts to re-work our tests, so that they're simpler and easier to parallelize and, in continuation of our recent, work on getting test annotations for the easier generation of test repositories and artifacts, we need to implement an Maven-specific annotation for test repositories. Please, refer to the [documentation](https://strongbox.github.io/develop

[2019-06-09 20:11] carlspring commented on #1309
@michan94 ,

Thanks for offering to help, but @abhishek-iitj , has already implemented this in #1321 . We're still waiting for him to sign the ICLA. If he hasn't done so within the next 3-4 days, we can close #1321 and you can have a go at it.

[2019-06-09 21:55] Firstmol opened #1333 "Incorrect parsing in PypiArtifactCoordinates"
<h1>Task Description</h1>

In `PypiArtifactCoordinates` supports two forms:
1. `{artifactName}-{artifactVersion}.tar.gz`
2. `{artifactName}/{artifactVersion}/{artifactName}-{artifactVersion}.tar.gz`

But I got parsing error when I call `parse` method with param `test-1.tar.gz`. It happend because I pass version with one digit, also, there are can be version forms with letters(0.1.0a1 and the like)

[2019-06-10 09:33] ptirador commented on #1295
Hi @vikss:

Yes, I was looking at that class too, but that's not resolving my issue... or do you mean that `public void generate(String gavtc, String packaging, String... versions)` is not being used but `public void generate(Artifact artifact)` does?

[2019-06-10 13:39] vikss commented on #1295
@ptirador,
I think the overridden methods can call the generate method without this parameter. Better I let them answer it (@sbespalov @fuss86 @carlspring @steve-todorov).

[2019-06-10 17:24] sarthak-sopho commented on #1332
Hi! I want to take up this issue. Can anyone tell me how to get started? :)
Thanks

[2019-06-10 19:16] fuss86 commented on #1332
Have you read the [documentation](https://strongbox.github.io/developer-guide/writing-tests.html) ?

[2019-06-10 19:36] bamarch commented on #1252
back from hols, and I spent today finishing up PR #1334

I will continue on this task (#1252) later in the week

[2019-06-10 19:56] fuss86 opened #1335 "Maven metadata expiration time should be configurable in application.yaml"
# Task Description

Currently `maven-metadata.xml` is considered as expired (see [Maven2LayoutProvider ](https://github.com/strongbox/strongbox/blob/master/strongbox-storage/strongbox-storage-layout-providers/strongbox-storage-maven-layout/strongbox-storage-maven-layout-provider/src/main/java/org/carlspring/strongbox/providers/layout/Maven2LayoutProvider.java#L101)) after 10 seconds of last modifi

[2019-06-10 23:50] carlspring commented on #1333
I have been thinking about this a lot.

It seems that we will have to make it possible to support multiple artifact coordinates for layout providers.

What do you propose?

[2019-06-11 00:53] carlspring commented on #1332
This has actually already been implemented as the `MavenRepository` annotation.
(My bad).

[2019-06-11 00:53] #1332 closed

[2019-06-11 02:17] ajaybhat commented on #1335
I can do this. Shall I name the value as `maven.metadata.expirationtime`?

[2019-06-11 03:57] sbespalov commented on #1295
@ptirador this `dependencyList` parameter used within `s-w-i-t` (btw, you should rename generator class there as well).

anyway, within this task we can not use this parameter, just delegate `ArtifactGenerator` method calls without `dependencyList`

[2019-06-11 04:14] AngelChristianPimentelNoriega commented on #1180
Hello!, is this feature still available?
Thanks

[2019-06-11 04:48] abhishek-iitj commented on #1309
I just emailed the signed ICLA to Carl.

Thanks & Regards

--
Abhishek Sah
https://abhishek-iitj.github.io

On Mon, 10 Jun 2019, 01:41 Martin Todorov, <notifications@github.com> wrote:

[2019-06-11 08:45] carlspring commented on #1180
Hi @AngelChristianPimentelNoriega ,

Yes, this is still up for grabs. Does is sound like something you can implement? Please join our [chat channel](https://chat.carlspring.org/) for more details and help! Thanks!

[2019-06-11 08:47] #1309 closed

[2019-06-11 08:54] carlspring commented on #1335
@ajaybhat ,

I've updated the description. Please, feel free to proceed! :)

[2019-06-11 09:01] #1294 closed

[2019-06-11 12:25] vikss commented on #1323
I am starting to work on it.

[2019-06-11 12:27] carlspring commented on #1323
Great! Thank you!

[2019-06-11 13:08] steve-todorov opened #1337 "Improve ConnectionCheckerTestIT to use random free ports"
# Task description

Every now and then the `ConnectionCheckerTestIT#testConnectToInvalidService` fails, because the static port it uses is assumed to be "free". Instead of using a static port, we could use `org.springframework.util.SocketUtils.findAvailableTcpPort()` to get a free port and mitigate the possibility of this issue popping up again.

[2019-06-11 19:14] #1337 closed

[2019-06-11 19:56] #1077 closed

[2019-06-11 20:41] fuss86 commented on #1173
@sbespalov , @steve-todorov do you have any thoughts  ? :)

[2019-06-11 20:59] Firstmol commented on #1333
Hm, what do you mean by multiple artifact coordinates? I think, currently it happens because there is semantic version with strict version format. We can leave it at that, but then we will strict version format as d.d.d.

[2019-06-12 09:10] steve-todorov commented on #1216
@carlspring what is expected to be updated in the `Application Properties` page?

[2019-06-12 22:41] steve-todorov commented on #1256
@ptirador would you be interested in checking this out?

[2019-06-13 02:52] pyashwanthkumar commented on #1165
@carlspring  Can I pick ```org.carlspring.strongbox.cron.jobs.RebuildMavenMetadataCronJobTestIT```?

[2019-06-13 07:57] carlspring commented on #1165
@pyashwanthkumar ,

Yes, please, go ahead!

[2019-06-13 10:21] ptirador commented on #1256
@steve-todorov Sure, let me take a look.

[2019-06-13 14:18] ptirador commented on #1256
@carlspring / @steve-todorov:
One of the main problems that I've seen is the compile time [dependency](http://www.spf4j.org/spf4j-slf4j-test/dependencies.html) with **JUnit 4**.
So I don't think this can be done till this library migrates to JUnit 5.

[2019-06-13 19:10] bamarch commented on #1252
In my pom.xml, which I based off the npm one, I had to make a change that resolves a recursive expression cycle

It was only my IDE that complained, not running mvn on the command line (although my IDE shoud be using system mvn...)

My change works fine locally but it might cause issues on jenkins?

![image](https://user-images.githubusercontent.com/24650490/59460469-759f1100-8e1f-11e9-84e3-3425fe

[2019-06-13 19:29] Firstmol opened #1342 "Using PypiCoordinates for both wheel and source packages"
# Task description

Currently, we have two package type for pypi artifact:
- source packages (`.tar.gz` extension)
- wheel packages (`.whl` extension and additional params in the name)

And for every package type we have separate coordinates class, but difference between them is not very big and we can use one coordinates class. Also, it also makes it easier working with artifacts.

# Task Relatio

[2019-06-13 19:56] bamarch commented on #1252
this was a great tip

I could run strongbox using spring boot, directly in my IDE, and then run my raw s-w-i-t with
`mvn -DskipJetty clean install -U`

this meant I could debug the requests as they came in and were handled

[2019-06-13 20:42] bamarch commented on #1252
ok raw proxy repo created, just left is todo:

- download the artifact
- cleanup

[2019-06-13 21:37] carlspring commented on #1252
@bamarch ,

You shouldn't have to modify any of these properties. What was the reason to do so?

[2019-06-14 06:42] bamarch commented on #1252
@carlspring

If I run  maven lifecycle goals via IDEA (clean/install...) I get errors i.e. ‘recursive expression cycles’.

This is due to apparently cyclical definitions of strongbox.host and strongbox.port...

I only get this in IDEA, not when running via the command line (even though  I configured IDEA to use the system maven, not the bundled one)

I’m wondering if there is some setting that nee

[2019-06-14 06:54] bamarch commented on #1252
@carlspring so I had another look at the maven settings

it detected profiles in the pom.xml, as so:

![image](https://user-images.githubusercontent.com/24650490/59489179-c182a200-8e81-11e9-8cc4-57abf064d122.png)

if I just removed them from the box

![image](https://user-images.githubusercontent.com/24650490/59489252-f131aa00-8e81-11e9-8c26-ce3709eb67d8.png)

Then it will run in IDEA, even with t

[2019-06-14 08:46] abuukasyah commented on #1112
can I try this one

[2019-06-14 08:53] carlspring commented on #1112
Hi!

It would probably be better to start off with #1109 and then work your way through #1110, #1111 and then do #1112 .

[2019-06-14 08:58] abuukasyah commented on #1109
is still open to try ?

[2019-06-14 09:06] carlspring commented on #1109
Yes, feel free to look into it!

[2019-06-14 09:21] ptirador commented on #1256
After investigating further, I found two alternative options:

## First option: TestWatcher
There is a new JUnit 5 feature in `5.4.0` version (we'd need to upgrade), which allows [test result processing](https://junit.org/junit5/docs/current/user-guide/#extensions-test-result-processing) by using `TestWatcher` class, which defines an API for extensions that wish to process the results of test meth

[2019-06-16 17:51] bamarch commented on #1252
OK @carlspring the branch is basically ready, it works when I run it via maven

But, I am having issues when running it inside a container via docker-compose

running `cd raw && mvn -U clean install` (works)
![image](https://user-images.githubusercontent.com/24650490/59567523-2bac6a00-906f-11e9-8a97-d805f19b3790.png)

running `cd raw && docker-compose up` (exits)
![image](https://user-images.githu

[2019-06-16 17:59] bamarch commented on #1252
`docker-compose --verbose up`
![image](https://user-images.githubusercontent.com/24650490/59567696-336d0e00-9071-11e9-90f4-40651648210c.png)

[code]

[2019-06-16 18:21] bamarch commented on #1252
not much extra info when also passing --debug flag to mvn command

![image](https://user-images.githubusercontent.com/24650490/59567962-3f0e0400-9074-11e9-88c3-64706498617f.png)

[2019-06-16 19:16] bamarch commented on #1252
Opening this PR https://github.com/strongbox/strongbox-web-integration-tests/pull/49

to see if the issue still happens on Jenkins

[2019-06-18 10:01] #1171 closed

[2019-06-21 10:34] #1295 closed

[2019-06-21 12:04] ptirador commented on #1304
@carlspring/@sbespalov, I have a question:
While creating the annotation for NuGet, what's exactly the id? Could you give me an example?
[code]

[2019-06-21 12:25] carlspring commented on #1304
This would be the `id` of the package. Have a look at the `NugetArtifactCoordinates` class for more details.

[2019-06-21 14:37] carlspring commented on #1302
@LeifBrooks ,

I'll be re-assigning this to @Firstmol .

[2019-06-21 14:42] Firstmol commented on #1298
You can close this issue. The feature was done in https://github.com/strongbox/strongbox/pull/1291/files

[2019-06-21 17:20] #1322 closed

[2019-06-21 20:28] amogh-jrules commented on #1311
Hey, Im interested in working on this

[2019-06-21 20:55] carlspring commented on #1311
Hi,

Feel free to look into this and to join our [chat channel](https://chat.carlspring.org/).

[2019-06-22 20:22] SergeyHydra commented on #1247
pr ready: https://github.com/strongbox/strongbox/pull/1349

[2019-06-22 21:59] fuss86 opened #1350 "Startup time improvements"

[2019-06-23 18:32] Gcolon021 commented on #1165
@carlspring Can I pick `org.carlspring.strongbox.services.ConfigurationManagementServiceImplTest`?

[2019-06-23 20:15] carlspring commented on #1165
@Gcolon021 ,

Yes, of course! Have fun! :)

[2019-06-23 21:48] #1302 closed

[2019-06-23 21:54] carlspring commented on #1298
Implemented by @Firstmol.

[2019-06-23 21:54] #1298 closed

[2019-06-23 21:55] carlspring commented on #1145
Done! :)

Thanks to all of you who helped! :)

[2019-06-23 21:55] #1145 closed

[2019-06-24 07:20] Firstmol commented on #812
What do you mean by `Resolving PyPi packages`?

[2019-06-24 10:37] steve-todorov commented on #1350
@fuss86 could you please add some description for this task?

[2019-06-24 11:00] ogryniuk commented on #1323
Good day @vikss :)
Are you still interested in this issue?

[2019-06-24 11:27] carlspring commented on #1323
@ogryniuk ,

I believe that it's safe for you to take it. Please, proceed! Thanks!

[2019-06-24 18:48] fuss86 commented on #1350
sorry, it was my misunderstanding of the problem. Internal SB-1404 has been created properly

[2019-06-24 18:48] #1350 closed

[2019-06-25 05:26] hajosc opened #1354 "Split-view UI scrolls when entering data"
In split view, when entering data, e.g. a password, the UI keeps scrolling up/down by about 1/2 text line every time a character is typed. This only happens if before typing the data, the view on the right was scrolled all the way to the bottom.

[2019-06-25 05:27] hajosc commented on #1354
Deepest apologies. Looks like I’m in the wrong repository :-(

[2019-06-25 05:27] #1354 closed

[2019-06-25 05:51] vikss commented on #1205
@carlspring
You can close this one out.

[2019-06-25 19:26] ogryniuk commented on #1323
Hi @sbespalov ,
This issue turned out to be too challenging. Maybe you could advise on why the heading of the method below fails to load the ApplicationContext? :

    @ExtendWith({RepositoryManagementTestExecutionListener.class, ArtifactManagementTestExecutionListener.class})
    @Test
    public void shouldBeCapableToSearchByPartialSha1Checksum(TestInfo testInfo,

[2019-06-25 19:50] carlspring commented on #1323
You're using the `MavenTestArtifact` annotation incorrectly.

This:
[code]

Should be something like:
[code]

Could you please have a look at the [Maven Artifact Coordinates](https://strongbox.github.io/developer-guide/layout-providers/maven-2-layout-provider.html#artifact-coordinates) in the wiki.

[2019-06-26 08:00] ogryniuk commented on #1323
@carlspring

[2019-06-26 08:01] ogryniuk commented on #1323
@carlspring
Thanks

[2019-06-26 19:53] steve-todorov commented on #1354
No worries! Thanks for closing and commenting on this! I was a bit confused while checking my emails. :D

[2019-06-26 23:12] steve-todorov opened #1358 "Investigate issues with insensitive Jackson databind enums"
# Task description

According [this](https://stackoverflow.com/questions/24157817/jackson-databind-enum-case-insensitive/44217670#44217670) question and the answers, Jackson 2.9.* should be configurable so that it can accept case insensitive enums. Following the answers and documentation of Jackson & Spring Boot the below `application.yaml` file should be properly configuring Jackson to accept cas

[2019-06-27 11:30] carlspring commented on #1256
@ptirador :

Which option do you think would be better?

[2019-06-27 11:34] ptirador commented on #1256
@carlspring : The first option, `TestWatcher`, seems the perfect choice to me, and we can personalize it as we wish.

[2019-06-27 11:37] carlspring commented on #1256
Okay! I was thinking the same thing.

How much of an effort do you think implementing this would be?

[2019-06-27 12:35] steve-todorov commented on #1256
Food for thought - if we approach the `TestWatcher` method, would it be possible to store per test case logs without displaying them in the console in a folder i.e. `module/target/buildLogs/org.carlspring.foo.MyTest.log` and display the log in the console when the test case fails? It would be also good if we could both display the log in the console and store it upon fail, but only if this is poss

[2019-06-28 03:18] TylerHaze commented on #1335
Looks like not much has happened on this so I'd be willing to pick it up! I jumped into chat, trying to understand a few things. Where does the `maven.metadata.expiration.time` come from? Is the YAML creating that? If not, where are these coming from? Thanks.

[2019-06-29 20:19] BartoszDabek commented on #1109
Everything works fine with OracleJDK 9.
For OpenJDK 9 there was one dependency that was required to update: strongbox/strongbox-parent#32.

The versioning of Java in open jdk 9 has changed and aspectj dependency resolves it it as version 1.4. version. More details [here](https://bugs.eclipse.org/bugs/show_bug.cgi?id=515612).

One more problem I occured was related with security issues.
`java.lang.

[2019-06-30 09:30] fuss86 commented on #1335
@TylerHaze , yeah, pick this task up, please.

We do store properties in [application.yaml](https://github.com/strongbox/strongbox/blob/master/strongbox-commons/src/main/resources/application.yaml). You should put there a global key `strongbox.maven.metadata.expiration.timeSeconds` and value `3600`.

Also, as @carlspring mentioned, there should also be an option to configure it per repository.

Fo

[2019-06-30 14:38] fuss86 commented on #1120
Related with https://github.com/orientechnologies/orientdb/issues/8272 and fix https://github.com/orientechnologies/orientdb/commit/9538c7902c9aa5c5a0713de7a8e53256a02ee914

We will no longer need to provide cascade save on our side.

Strongbox upgrade in progress.

[2019-06-30 14:45] fuss86 commented on #1120
Thanks @ptirador for your effort ! Your investigation helped a lot :)

[2019-06-30 15:22] fuss86 commented on #1120
orientDb guys fixed cascade Set store/update but unfortunately removal does not work. Upgrade in progress [here](https://github.com/strongbox/strongbox/pull/1363/files)

[2019-06-30 17:16] BartoszDabek commented on #1110
JDK 10 compiles and runs well with changes applied in #strongbox/strongbox-parent#32.

Tested with OracleJDK 10.0.2 and OpenJDK 10.0.2.

- [x]  Building the code and running mvn spring-boot:run in the strongbox-web-core still starts up the application correctly.
- [x] Building the code and running the strongbox-distribution from a zip or tar.gz still works.
- [x] The tests in the strongbox-web-int

[2019-06-30 19:26] TylerHaze commented on #1335
Ok, so I think for the I just do something like...

[code]
But how do you actually get this code into Java? Like, if I want to get that value `3600` from my application.yaml, what is it that does that?

[2019-06-30 19:29] fuss86 commented on #1335
Search for `@Value` annotation around in the source code :)

[2019-07-01 09:03] ogryniuk commented on #1323
To @sbespalov and everyone concerned,

From now on the issue is free and anyone is welcome to take it

[2019-07-01 11:04] #1304 closed

[2019-07-01 12:30] ptirador commented on #1327
I'd like to pick this up if @ajaybhat is not working on it.

[2019-07-01 12:30] carlspring commented on #1327
Go for it!

[2019-07-01 17:32] ptirador commented on #1165
Hi! I have one question:
In some tests, there's artifact creation with snapshot:
[code]

This method is equivalent to this annotation?
[code]

Or there's another simpler way to create an artifact with a specific number of builds?

[2019-07-01 17:55] carlspring commented on #1165
@ptirador : Yes, this is correct! We need to change this everywhere possible.

[2019-07-01 19:14] pyashwanthkumar commented on #1165
@carlspring  I am picking this MavenProxyRepositoryProviderTestIT.

[2019-07-01 19:41] carlspring commented on #1165
@pyashwanthkumar : Excellent! Thank you! :)

[2019-07-01 22:42] fuss86 commented on #1120
I have prepared a working test case confirming that orientDb can handle removal from `Set` operation, in https://github.com/fuss86/orientdb-tryouts/pull/1/commits/a157b9fcd638f2c1c452350611b0f0514e4f5da8 so there is a chance something is wrong within our code :(

[2019-07-03 18:32] ptirador commented on #1323
Related to #1165.

[2019-07-04 16:39] ptirador commented on #1165
@sbespalov / @carlspring, I have another question:
I'm trying to generate 2 artifacts in the same test method, both with the same version, but one has a classifier "sources" and the other not.
[code]

The result is that only the first artifact is generated, but not the second with classifier:
![](http://oi64.tinypic.com/15hd7a.jpg)

Any ideas?

[2019-07-04 18:03] carlspring commented on #1165
@ptirador ,

I think it's because you're using the same version. If you use the `@MavenTestArtifact` annotation and specify `classifiers = { "sources" }`, it should also create a `jar`, if I recall correctly.

[2019-07-04 20:05] fuss86 opened #1368 "Handle Checked Exceptions With Lambda Expression"
# Task Description

We should introduce helper classes/methods like [here](https://dzone.com/articles/how-to-handle-checked-exception-in-lambda-expressi) to help us deal with limitations of lambda expressions and checked exceptions. We should at least create 2 classes/methods:

* [ ] `ThrowingFunction.unchecked`
* [ ] `ThrowingConsumer.unchecked`
* [ ] `ThrowingSupplier.unchecked`

and try to get

[2019-07-04 22:04] carlspring commented on #1165
@sbespalov : Is my theory right?

[2019-07-05 09:02] ptirador commented on #1165
@carlspring : If I try what you said, just one annotation and specify one classifier, it's generating an artifact BUT as equal as my screenshot above: `maven-snippet-1.0.jar`
It's like is not taking into account the annotation attribute `classifiers`...

[2019-07-05 09:06] sbespalov commented on #1165
yes, it should like this, with one annotation

[2019-07-05 09:13] sbespalov commented on #1165
@ptirador, you can try to debug how the `MavenArtifactGeneratorStrategy` works in your case so that you can figure out why you have what it is :)