[2020-01-24 02:08] sbespalov commented on #1650
no, all this tasks is for strongbox. Most of the work done with the PoC and now we need to migrate it to strongbox.

[2020-01-24 18:57] carlspring opened #1656 "Upgrade org.springframework:spring-webmvc to version 5.2.3 or higher"
# Task Description

We should upgrade `org.springframework:spring-webmvc` to version `5.2.3` or higher, in order to fix a cross-site request forgery (as explained [here](https://snyk.io/vuln/SNYK-JAVA-ORGSPRINGFRAMEWORK-542933)) and a reflected file download vulnerability (as explained [here](https://snyk.io/vuln/SNYK-JAVA-ORGSPRINGFRAMEWORK-542935)).

The dependency upgrade should be done in the

[2020-01-24 20:30] Rinita-De commented on #1656
Hi @carlspring - can i take up the issue if no one else is working on it?

[2020-01-24 20:50] carlspring commented on #1656
Sure, feel free to dig into it! Thanks!

[2020-01-26 07:53] Vatsalgarg1617 commented on #1656
Hey @carlspring - Can I also look into this issue?

[2020-01-26 13:06] carlspring commented on #1656
Sure, @Vatsalgarg1617 , feel free to look into it.

[2020-01-26 13:58] Dhiraj072 commented on #1656
@carlspring I am also looking into this

[2020-01-27 14:25] anki2189 commented on #1618
Please find below my findings:

- When CassandraDaemon is initialized it initially load only two schemas/keyspaces `system` and `system_schema` and then it fetches non-system keyspaces from table `system_schema.keyspaces`

- Cassandra has one more table `system.prepared_statement` in which it stores all the prepared statements to be replayed for faster node recovery.

- As cassandra first writes d

[2020-01-28 11:44] carlspring commented on #1618
Thanks for your help, @anki2189 and thanks for reviewing, @sbespalov ! :)

[2020-01-28 11:44] #1618 closed

[2020-01-28 17:46] #1342 closed

[2020-01-28 19:13] F3000 opened #1661 "Feature request : copy OTP code to clipboard automatically after autofill is used"

[2020-01-28 19:31] carlspring commented on #1661
@F3000 : Are you sure you have the right project?

[2020-01-28 20:17] F3000 commented on #1661
Oh sorry . I thought that this is project for the strongbox iOS app 👍

[2020-01-28 20:17] #1661 closed

[2020-01-28 22:46] carlspring commented on #1661
Thanks for clarifying and closing it!

[2020-01-28 23:39] #1448 closed

[2020-01-30 09:27] anki2189 commented on #1614
@sbespalov @carlspring I am picking this task.

[2020-01-30 10:51] gretel opened #1662 "Cannot use choco list on nuget repositories"
# Bug Description

The default configuration has `ANONYMOUS_ROLE` set but trying to browse a nuget directory does always require authentication.

# Steps To Reproduce

1. Deploy strongbox using default configuration
2. Enable "Allow directory browsing" in `nuget-storage`
3. Try to do any `api` transaction anonomously (like `choco list`)

# Expected Behavior

Anonoymous users should be able to brow

[2020-01-30 11:07] gretel opened #1663 "proxy repository for nuget does not actually use configured proxy"
# Bug Description

log showing a timeout when trying to access the configured remote uri of the repository. seems like the proxy configuration is ignored.

# Steps To Reproduce

1. create new 'proxy repository nuget'
2. configure 'remote url' to point to something live (i.e. `https://chocolatey.org/api/v2/`)
3. check `Allow directory browsing`
4. set 'Proxy settings' to a working proxy

# Expected

[2020-01-30 11:10] gretel opened #1664 ""Out of service" storages can not be removed and zombie around"
# Steps To Reproduce

1. create a 'proxy repository'
2. set 'Status' to `Out of Service`
3. try to 'Delete Repository"
4. note the error message:
[code]

# Expected Behavior

storage should get deleted.

# Environment

* Strongbox Version: `{"strongbox":{"version":"1.0-SNAPSHOT","revision":"eccd13064b1e3bfa"}}`
* OS: `adoptopenjdk/openjdk8:jdk8u232-b09-alpine`

[2020-01-30 11:19] carlspring commented on #1664
Thanks for reporting this! :)

[2020-01-30 11:20] steve-todorov commented on #1664
Thanks for reporting this! Is there any logs in Strongbox which you can share as well?

[2020-01-30 11:21] carlspring commented on #1664
@gretel : Is this only happening on the UI side of things? Does it work, if you try it through the REST API?

[2020-01-30 11:23] carlspring commented on #1663
Thanks for reporting!

Why do you think this is related to #860?

[2020-01-30 11:26] gretel commented on #1663
just using the UI.

afaik the proxying is related to the layout type.. just for the reference.

[2020-01-30 11:27] gretel commented on #1664
did only try using the `UI` for now

[2020-01-30 11:35] carlspring commented on #1663
We don't have Nuget protocol v3 support yet, we only have v2, which is why I was a bit startled to see the link between the issues. #860 is for the implementation of support for Nuget 3.

[2020-01-30 11:40] gretel commented on #1664
[code]

[2020-01-30 12:17] steve-todorov commented on #1662
These might be two different problems. Are you talking about `choco list` or about browsing `/api/browse/storage/nuget-repository` ?

[2020-01-30 12:20] gretel commented on #1662
@steve-todorov `choco list` should be possible anonymously.

[2020-01-30 14:07] savaliyagautam commented on #1664
@carlspring  `resloveArgument` in `org.carlspring.strongbox.web.RepositoryMethodArgumentResolver` is throwing `ServiceUnavailableException` if service status is other than `In Service`

[code]

[2020-01-30 14:11] carlspring commented on #1664
@savaliyagautam ,

Could you please try it out and prepare a pull request with a proper test case, if this fixes it?

[2020-01-30 18:24] steve-todorov commented on #1664
@savaliyagautam you are correct. It looks like we are also missing a test case for the `RepositoryMapping` annotation. Would you like to add one (maybe something like the [CsrfTokenArgumentResolverTests](https://github.com/spring-projects/spring-security/blob/5.1.5.RELEASE/web/src/test/java/org/springframework/security/web/method/annotation/CsrfTokenArgumentResolverTests.java)).

This annotation a

[2020-01-30 22:13] gretel commented on #1663
no worries i was just wrong.

[2020-01-31 13:55] #1656 closed

[2020-01-31 19:57] carlspring commented on #1664
Hi @savaliyagautam ,

Thank you for your contribution!

Would you mind signing the ICLA, as described in the [Contributing](https://github.com/strongbox/strongbox/blob/master/CONTRIBUTING.md) page?

Also, please, feel free to join our [chat channel](https://chat.carlspring.org/), if you'd like to learn more about the project and/or like to find out what else you could help with.

Kind regards,

Ma

[2020-02-01 16:23] haikubabe commented on #1137
I'd like to take this one

[2020-02-01 16:53] carlspring commented on #1137
Okay! Go for it! :)

[2020-02-01 17:21] steve-todorov opened #1667 "Update SBT to the appropriate 1.3 version"
# Task Description

Our current docker images with SBT contain version 1.1 and are incorrectly tagged with 1.3.

[code]

We need to update the image with the right SBT image.

[2020-02-01 17:43] #1667 closed

[2020-02-02 04:29] savaliyagautam commented on #1664
@carlspring  I have already signed ICLA document and also I am part for chat channel.

[2020-02-02 09:15] declare2006 commented on #1376
I wonder if this issue still open. If yes, I intend to do some contribution.

[2020-02-02 11:55] sbespalov opened #1669 "Embed the `strongbox-database-ui` into` strongbox` application"
# Task Description

There is [strongbox-database-ui](https://github.com/strongbox/strongbox-database-ui) which provide a UI to execute Gremlin and Cypher queryes on strongbox database. Within this task we need to make it available under `http://localhost:48080/db-ui` URL in strongbox distribution.

# Tasks

The following tasks will need to be carried out:
* [ ] Add `strongbox-database-ui` dependen

[2020-02-02 17:00] anki2189 commented on #1614
Findings and testing done so far:

- LDAP configuration is getting applied to Strongbox instance

- Users are getting authenticated against external ldap

- Configured role mappings working fine for LDAP users

Below are assumptions or changes made to test the functionality.

- `strongbox.ldif` has raw password strings and `PasswordAuthenticationProvider` uses `BCryptPasswordEncoder` to validate p

[2020-02-02 17:06] anki2189 commented on #1614
Ideally `ldap.managerDn` should be configured using `strongbox.ldif` like `managerDn: ou=Managers, ou=Employees, ou=Groups, dc=carlspring, dc=com` but not able to figure out why its not working , it is giving **Invalid credentials** while binding managerDn,
and `managerDn: uid=mtodorov,ou=Users,dc=carlspring,dc=com` is working fine.

@strongbox/core-developers : Could you pls help me on how to pro

[2020-02-02 21:21] carlspring commented on #1664
Sorry, you're right! It seems I have forgotten. Thanks for reminiding me! :)

[2020-02-02 21:24] carlspring commented on #1376
@declare2006 ,

Thanks for offering to help! I think we should park this task for now. There are many tasks you could help with, if you like. Feel free to join our [chat channel](https://chat.carlspring.org/) for more details.

[2020-02-03 00:43] steve-todorov commented on #1614
I've already mentioned to @anki2189 privately, but am adding it here for the archive.

The `managerDn` is usually configured at server level. Sometimes this is done with a [config file](https://www.openldap.org/doc/admin23/quickstart.html), sometimes using [slapd.ldif](https://www.openldap.org/doc/admin24/quickstart.html). It depends on the LDAP server and version.
If you are using Active Director

[2020-02-03 19:10] steve-todorov opened #1671 "Investigate and fix randomly failing tests"
# Bug Description

The `master` currently has a few randomly failing test cases which have been causing build failures:

1. `org.carlspring.strongbox.providers.repository.MavenProxyRepositoryProviderTestIT#whenDownloadingArtifactMetadataFileShouldBeMergedWhenExist`
2. `org.carlspring.strongbox.cron.jobs.CleanupExpiredArtifactsFromProxyRepositoriesCronJobTestIT#expiredArtifactsCleanupCronJobShouldC

[2020-02-04 04:17] sbespalov commented on #1671
I managed to reproduce `MavenProxyRepositoryProviderTestIT`, working on fixing it now.

[2020-02-06 10:21] anki2189 commented on #1662
@gretel : Please share source used for command  `choco list ` .

[2020-02-06 10:45] gretel commented on #1662
[code]

[2020-02-06 17:34] anki2189 commented on #1662
There is a method in NugetArtifactController `NugetArtifactController#greet()` which is used to
 check storage availability.
This method requires `ARTIFACTS_DEPLOY` role , hence `choco list` or `nuget list` command prompt for authentication.

Issue can be fixed by changing `ARTIFACTS_DEPLOY` to `ARTIFACTS_RESOLVE` or by removing  auth from greet() method.

[2020-02-06 19:38] carlspring commented on #1662
The `greet` method is absolutely useless and can be removed. Will that solve your problem altogether? :-D

[2020-02-06 19:40] gretel commented on #1662
i guess i would solve mine, too :)

[2020-02-06 19:42] steve-todorov commented on #1662
There's actually a comment for this in the code - the `greet` method is necessary because Nuget will ping it to determine if the repository is healthy or not. In this case we should probably use `ARTIFACTS_RESOLVE` for this case.

[2020-02-06 19:44] carlspring commented on #1662
Upon closer look this is actually doing something. We used to have these `greet` methods long before we migrated to restassured and Spring Boot which were purely for testing purposes and should have been removed a long time ago. Perhaps it would be better to rename the method to something more meaningful...(?)

[2020-02-06 19:46] gretel commented on #1662
btw, `repository is healthy or not` - how is this determined?

[2020-02-06 22:42] sayeedkhannabil commented on #1591
I would like to help on that. Can you help me on what I need to do?

[2020-02-06 22:46] #1671 closed

[2020-02-07 01:24] sbespalov commented on #1662
this comment also say that Nuget using this method to check that authentication required. AFAIK it will fail to deploy with `ARTIFACTS_RESOLVE` on this method.

[2020-02-07 01:39] sbespalov commented on #1662
@anki2189 can you please check it with Nuget v2 and v3? Also from your previous comment it's become unclear how choco determines the need for authentication?

[2020-02-07 04:10] anki2189 commented on #1662
`choco list` command fails after trying multiple times.

`choco list -Source http://192.168.1.2:48080/storages/storage-nuget/nuget-releases/`
[code]

Whereas `nuget list` prompts for username.
[code]

[2020-02-07 04:17] anki2189 commented on #1662
Behaviour  is same using both nuget 2 and 3 exe.

`NuGet Version: 2.8.60717.93`

`NuGet Version: 3.5.0.1938`

[code]

[2020-02-07 07:15] sbespalov commented on #1662
@anki2189 why `choco` fails with `Invalid credentials specified.`? Does it send any credentials?

[2020-02-07 07:37] sbespalov commented on #1662
I mean that we should find the root cause of why `choco` is not request the authentication like Nuget. Maybe it expect another Authentication Entry Point or send Authentication which is not supported by strongbox.

[2020-02-07 09:29] carlspring commented on #1591
Hi @sayeedkhannabil ,

If you are able to reproduce it, then sure -- go for it! :)

Good luck and thanks!

[2020-02-07 15:51] anki2189 commented on #1662
From documentation it doesn't . https://github.com/chocolatey/choco/wiki/CommandsList

[2020-02-07 16:18] gretel commented on #1662
`choco` can send credentials on each command, this is how i work around this issue currently.

[2020-02-07 16:26] anki2189 commented on #1662
By default it assumes username to be empty it not provided.

[2020-02-07 16:27] anki2189 commented on #1662
Also there is no Authorization header in request for `choco list` command.

[2020-02-07 16:29] anki2189 commented on #1662
By default it assumes username to be empty it not provided.

[2020-02-08 11:39] sbespalov commented on #1662
@anki2189 does it requests the authentication for `push` command?

[2020-02-08 14:04] anki2189 commented on #1662
Only api-key

[2020-02-08 14:43] anki2189 commented on #1662
Yes, api-key

[2020-02-08 19:13] anki2189 commented on #1664
I am working on this task.

[2020-02-10 02:26] sbespalov commented on #1662
ok, let's try  `@PreAuthorize("hasAuthority('ARTIFACTS_RESOLVE')")` then for `greet`. @anki2189 can you pelase check how Nuget `push` and `list` will work with it?

[2020-02-10 08:08] MuraliSRao commented on #1289
Is this still an issue?

[2020-02-10 10:54] carlspring commented on #1289
No. I will close it, thanks!

[2020-02-10 10:54] #1289 closed

[2020-02-10 10:55] carlspring commented on #1654
@sbespalov : Just a reminder -- could you please add a proper description for this placeholder task? Thanks!

[2020-02-10 11:06] MuraliSRao commented on #1515
Who is working on this issue now?

[2020-02-10 11:14] carlspring commented on #1515
Nobody in particular. Would you like to pick it up?

[2020-02-10 11:20] MuraliSRao commented on #1515
@carlspring  Thanks for your reply. Let me see whether I can make a progress.

[2020-02-11 04:19] sbespalov commented on #1662
PR #1674 seems works fine, so I suggest to merge it and resolve the issue. Just to be clear regarding
the `ARTIFACTS_DEPLOY` authority which we had on `greet` method before then it probably was needed when there was no API Key authentication implemented. So since we have the  API Key authentication `ARTIFACTS_RESOLVE` seems works fine as well.

[2020-02-11 09:28] #1662 closed

[2020-02-11 09:37] carlspring commented on #1662
@gretel : Could you please test this out?

[2020-02-11 13:36] #1664 closed

[2020-02-11 13:42] gretel commented on #1664
thanks!

[2020-02-11 19:17] gretel commented on #1662
@carlspring the pipeline eats the github snapshot.. dont have any maven running :(

[2020-02-11 19:32] carlspring commented on #1662
@steve-todorov : Could you please take a look? Thanks!

[2020-02-11 19:39] steve-todorov commented on #1662
It's already in the `master` and on github as `1.0-SNAPSHOT`. You can download the compiled version from there.

[2020-02-11 19:40] gretel commented on #1662
@steve-todorov ah i didnt notice the merge. can bump the deployment tomorrow. regards

[2020-02-12 02:55] sbespalov commented on #1650
Won't fix, due to inappropriateness of spending much time with OrientDB issues. The problem was that seems there is no easy way to use Graph API  together with Object API within same transaction.

[2020-02-12 02:55] #1650 closed

[2020-02-14 00:29] carlspring commented on #1513
@sbespalov : Just a reminder to check, if we can now close this task with your recent changes...?

[2020-02-14 01:36] steve-todorov commented on #1480
Looks like this issue did not auto close so I'm doing it now :)

[2020-02-14 01:36] #1480 closed

[2020-02-14 04:09] anki2189 commented on #1513
POC tests are still failing.

[2020-02-17 10:00] sbespalov commented on #1654
this is done witin [PR #1676](https://github.com/strongbox/strongbox/pull/1676)

[2020-02-17 10:00] #1654 closed

[2020-02-17 23:02] steve-todorov opened #1677 "Implement proxy connection support"
# Task Description

We need to complete the proxy connection implementation. Currently we have:

1. Configuration endpoint which is capable of managing `proxy connection configuration` into `strongbox.yaml`
2. Configuration endpoint which is capable of managing storage `repositories` and also save their `proxy connection configuration`.
3. There is also UI for this.

However, the actual apache htt

[2020-02-18 01:48] steve-todorov opened #1678 "Improve search engine and user experience while searching"
# Task Description

Our current search engine is quite complicated and hard to use by newcomers.
We need to improve it and make it much easier for people to find what they are looking for right away even if they are using Strongbox for the first time.

# UI/UX

TODO

# Backend

TODO

# Tasks

The following tasks will need to be carried out:
* [ ] Task 1
* [ ] Task 2
* [ ] Task 3

# Help

* [Our ch

[2020-02-18 18:41] anki2189 commented on #1677
@carlspring @sbespalov : Why there are two implementation for http Client in `ProxyRepositoryConnectionPoolConfigurationServiceImpl`

- `ProxyRepositoryConnectionPoolConfigurationServiceImpl#getRestClient()`

- `ProxyRepositoryConnectionPoolConfigurationServiceImpl#getHttpClient()`

[2020-02-19 01:09] sbespalov commented on #1677
One is probably for REST and another for other HTTP interactions.

[2020-02-19 14:55] carlspring commented on #1677
I believe we should be using Apache's `httpclient` for everything. We shouldn't use the classes from the JDK for this.

I believe that `ProxyRepositoryConnectionPoolConfigurationServiceImpl#getRestClient()` should be renamed to `ProxyRepositoryConnectionPoolConfigurationServiceImpl#getHttpClient()` and the `ProxyRepositoryConnectionPoolConfigurationServiceImpl#getRestClient()` should be removed.

[2020-02-20 11:18] sbespalov commented on #1677
@carlspring they both using same `poolingHttpClientConnectionManager`. So we can say that Rest Client is just provide JAXRS interfaces above `httpclient`.

[2020-02-20 11:32] carlspring commented on #1677
Okay, thanks for the clarification!

[2020-02-20 14:52] anki2189 commented on #1677
Below are the usages of ProxyRepositoryConnectionPoolConfigurationServiceImpl#getHttpClient()

- HttpGetRemoteRepositoryCheckStrategy#isAlive()

- RepositoryProxyIndexCreator#fetchIndex()

ProxyRepositoryConnectionPoolConfigurationServiceImpl#getRestClient()

- NugetRepositoryFeatures#downloadRemoteFeed()

- NugetRepositoryFeatures.RepositorySearchEventListener#handle()

- NpmRepositoryFeatures#fe

[2020-02-21 00:59] #1614 closed

[2020-02-21 00:59] steve-todorov opened #1679 "Figure out how to deal with LDAP's base64 encoded passwords"
# Task Description

In LDAP the `userPassword` attribute contains the hash of the password encoded as `base64` and the end result in LDAP will be something like this `{ALG}base64.encode(md5/sha1/bcrypt(mypassword))`. The `PasswordEncoder` in Spring, however, expects that the part after `{ALG}` is actually the `hash` which causes login failures. If you have saved the `userPassword` using [PasswordE

[2020-02-21 01:44] steve-todorov opened #1680 "Improve how we process authentication providers"
# Task Description

TODO - add a proper description.

https://github.com/strongbox/strongbox/pull/1670/files#diff-7c7c863414b33e4473c07443547e0387R62

# Task Relationships

This task:
* Is a follow-up of: #1614 #1670

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @steve-todorov

[2020-02-21 15:14] steve-todorov opened #1681 "Upgrade to Angular 10"
# Task Description

Upgrade strongbox/strongbox-web-ui to Angular 10

# This task

- [x] Depends on ng-select/ng-select#1499 and ng-select/ng-select#1519 (fixed)
- [x] Depends on ngxs/store#1532 (fixed)
- [ ] Sass 1.23 uses a new module system which will require some work to migrate. (ng 9+ uses [`sass 1.26.3`](https://github.com/angular/angular-cli/blob/9.1.x/packages/angular_devkit/build_angular

[2020-02-21 16:00] JulienVig commented on #892
Hi @smolamarcin @carlspring ! Is someone taking care of this issue? I would like to help.

[2020-02-21 16:08] carlspring commented on #892
@JulienVig ,

// cc @steve-todorov

I think this task should be put on hold until we've planned our security refactoring.

@JulienVig ,

We could use your help with many of the other tasks we have. Feel free to join our [chat channel](https://chat.carlspring.org/) for more details.

[2020-02-21 16:29] steve-todorov commented on #892
I agree with @carlspring :)

[2020-02-22 15:25] Syntax753 commented on #1511
@deepank120896 Are you still working on this?

I've done a quick initial investigation and happy to continue. These would be the first files to look into:
[code]

[2020-02-22 17:05] steve-todorov commented on #1511
@Syntax753 feel free to pick this up if you're still interested and open a PR :)

[2020-02-24 13:46] adbjo commented on #1109
Hello! We are a group of CS students interested in solving this issue. Should be done by friday.

[2020-02-24 13:49] adbjo commented on #1398
Hello! We are a group of CS students interested in solving this issue. Should be done by friday (28/2).
@carlspring

[2020-02-24 16:21] carlspring commented on #1335
@Nishant-sehgal

What is the status of this task?

[2020-02-24 16:22] carlspring commented on #1333
@anki2189 ,

Is this something that we can now close?

[2020-02-24 16:23] carlspring commented on #1146
@sbespalov ,

Is this task still something we would like to look into?

[2020-02-24 18:28] carlspring commented on #1398
@adbjo,

Feel free to pick this upand to join our [chat channel](https://chat.carlspring.org/), where you can find some more details on what sort of tasks you could help out with.

[2020-02-25 01:47] sbespalov commented on #1146
yes, but we probably need to update the description
will do it

[2020-02-25 04:58] anki2189 opened #1683 "Refactor/rename NpmArtifactController.greet() Mtehod"
# Task Description

`NpmArtifactController` has `greet()` Method , find out if it is required or not.
If it is required we should rename `greet() ` method to a better relevant name.

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @fuss86
  * @sbespalov
  * @steve-todorov

[2020-02-25 05:04] anki2189 opened #1684 "Refactor/rename MavenArtifactController.greet() method"
# Task Description

`MavenArtifactController` has greet() Method , find out what is the use of this `greet()` method in the controller.
If it is required, we should rename this method to a better relevant name.

# Tasks

The following tasks will need to be carried out:
* [ ] Find out usage of `MavenArtifactController.greet()`
* [ ] Drop `MavenArtifactController.greet()` if not required.
* [ ] Rena

[2020-02-25 06:38] anki2189 commented on #1333
@carlspring Yes , we can close this , it was fixed in https://github.com/strongbox/strongbox/pull/1633

[2020-02-25 07:26] anki2189 opened #1685 "Test case for anonymous nuget list command"
# Task Description
`s-w-i-t` has test case for `nuget list` command, it should be able to list packages without credentials.

# Task Relationships

This task:
* Relates to: https://github.com/strongbox/strongbox/issues/1662

# Useful Links

* https://github.com/strongbox/strongbox-web-integration-tests

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @fu

[2020-02-25 08:06] carlspring commented on #1333
Thanks for confirming!

[2020-02-25 08:07] #1333 closed

[2020-02-25 11:48] steve-todorov commented on #1685
That would be a great to have! Eventually when chocolatey/choco#1827 gets merged we should create a docker image with `choco` as well, since `choco` doesn't work very well with recent `mono` versions (which is why we don't have it in `s-w-i-t`)

[2020-02-25 11:57] steve-todorov commented on #1683
Just a note - you can check the source code of [npm/cli](https://github.com/npm/cli) and see if anything is using it. And you can also comment the endpoint out and try running the `strongbox-web-integration-tests/npm` to see if it fails. :)

[2020-02-25 14:31] carlspring commented on #1683
For NPM it should be safe to remove this method along with any test related to it.

[2020-02-25 20:57] wherkamp opened #1686 "Wont start"
# Bug Description
So I start StrongBox and I get stuck on a Loading Documentation. So I checked the logs and I see this. https://paste.ee/p/5wXOH#BIRS3oR51tpoqXrt7A8Gy36kTbB3wv4x
# Steps To Reproduce

1. Start
2.
3.
4.

# Expected Behavior
It to start and work

# Screenshots
https://imgur.com/AkT2YAX

# Environment

* Strongbox Version:  I can't but I am using 1.0-SNAPSHOT.
* OS: Ubuntu 18.04 Linu

[2020-02-25 23:17] carlspring commented on #1686
@wherkamp ,

Thanks for reporting!

Could you please add the screenshot and log here, possibly as a gist instead?

Have you tried with the latest Maven?

Are you running it from a distribution? Could you please provide some more details...?

[2020-02-25 23:20] wherkamp commented on #1686
Screenshot
https://imgur.com/AkT2YAX
Log:
https://paste.ee/p/5wXOH#BIRS3oR51tpoqXrt7A8Gy36kTbB3wv4x
And what do you mean by `Are you running it from a distribution? Could you please provide some more details...?`

[2020-02-25 23:22] wherkamp commented on #1686
I do want to add it was working for a bit.

[2020-02-25 23:38] steve-todorov commented on #1686
I can't reproduce your issue - [startup.log](https://gist.github.com/steve-todorov/4a23515b5e8fa34c7d1bdd16ac7a1cd5). Can you check the chat?

[2020-02-25 23:46] wherkamp commented on #1686
This is honestly weird.
https://paste.ee/p/6KFuv
and https://paste.ee/p/mtLDR
Should I try reinstalling it?

[2020-02-25 23:54] steve-todorov commented on #1686
I suggest we move this discussion into the [chat](https://chat.carlspring.org/channel/community) to avoid making this issue too long with comments.

[2020-02-26 01:15] steve-todorov commented on #1686
After some discussion in the chat with @wherkamp we found the cause and I've updated the issue's description with proper steps to reproduce as well as the actual cause. Thanks for reporting this @wherkamp! :)

[2020-02-26 02:06] sbespalov commented on #1683
@carlspring if I remember correctly NPM using this endpoint, and there is a comment there. But I was not able to find out why it using it.

[2020-02-26 02:12] sbespalov commented on #1685
@anki2189 thanks for the issue, I was thinking to do the same but you got ahead of me :+1:

[2020-02-26 02:26] sbespalov commented on #1684
it seems we have similar methods in every controller. I want to say that whether these methods are used or not within concrete protocol we probably could have it just for test purpose, to check that repository avaliable for example. My suggestion is to move this method into `BaseArtifactController` with approproate name (maybe `checkRepositoryAccess` like we have it in `NugetArtifactController`) a

[2020-02-26 06:03] shuklashwin commented on #1597
Hi, interested to work on this.

[2020-02-26 20:57] TSchifferG commented on #1684
Hello I would like the opportunity to take this task. Should I implement it in the style suggested by sbespalov?

[2020-02-27 11:15] carlspring commented on #1684
@TSchifferG ,

Yes, could you please follow @sbespalov 's advice? Also, please join our [chat channel](https://chat.carlspring.org/) for help and more details. Thanks! :)

[2020-02-27 11:32] steve-todorov commented on #1597
Hi @shuklashwin - there is already an open PR for this #1607. Can you choose another task? :)

[2020-02-27 12:05] steve-todorov opened #1687 "Limit the URI scope which support authentication via access_token cookie"
# Bug Description

In most browsers, when you open a link it will try to pre-fetch some assets before actually loading the entire page. While doing so, it will send any existing `cookies` with the request which is standard. However, in our case we are hitting a corner case while the browser tries to find `/favicon.ico` which results in a preliminary `basic authentication` windows popping up even b

[2020-02-27 12:35] #1687 closed

[2020-02-27 22:45] steve-todorov opened #1690 "Fix strongbox-web-ui installation under windows"
# Task Description

The [strongbox/strongbox-web-ui](https://github.com/strongbox/strongbox-web-ui) project has a `patch-antlr4` script which currently only works on Linux/Unix because of the replace path style. We need to improve this so that it works on Windows as well.

# Tasks

The following tasks will need to be carried out:

* [x] Create a `tools` folder in the `strongbox-web-ui` root path.

[2020-02-27 22:53] aosousa commented on #1690
As mentioned in the chat, can I be assigned to this task?

[2020-02-27 22:53] steve-todorov commented on #1690
Sure - feel free to pick it up! :)

[2020-02-29 17:33] aosousa commented on #1690
Successfully tested a solution for this following the steps above in both Windows and Linux environments. Will create a pull request after handling the ICLA some time this weekend :)

[2020-03-01 14:24] carlspring commented on #1690
Excellent! Thank you! I'm looking forward to your pull request and signed ICLA.

[2020-03-02 10:38] anki2189 commented on #1686
I would like to pick this. :)

[2020-03-02 11:33] carlspring commented on #1686
Great! Feel free to pick it up!

[2020-03-02 14:46] steve-todorov opened #1691 "Improve strongbox-web-ui build process using custom-webpack"
# Task Description

Up until now we have been using a rather hackish way to build and package [strongbox-web-ui](https://github.com/strongbox/strongbox-web-ui). Although it has been working fine, it introduces some complexity which we can remove with some small changes and switching to `@angular-builders/custom-webpack`. These changes will result in more flexibility and less overall complexity.

#

[2020-03-02 15:45] #1690 closed

[2020-03-02 21:34] dscntr17 commented on #1109
Hello,

Is this open for me to take a look at this?

[2020-03-02 22:29] carlspring commented on #1109
You can try building and running it, bit it should work. We should put this on hold, as we don't have the infrastructure to run the tests under a different SDK right now.

[2020-03-03 18:08] steve-todorov commented on #1109
@dscntr17 if you are interested, you could checkout #1111 since it is more likely for us to support only the LTS versions which as of now are JDK8 and JDK11. We could get Github Actions to run the main build (excluding s-w-i-t) :)

[2020-03-03 21:19] rob3c opened #1693 "feature request: allow arrow keys to navigate mac search results"
I love the additional search flexibility in Strongbox now. Often my searches result in multiple results, as intended by my use of keywords/tags/etc.

I tend to prefer keyboard vs mouse interactions whenever possible on desktops, and it would be a nice additional tweak if we could use up/down arrows to select among search results instead of having to select them with the mouse.

Thanks in advance!

[2020-03-03 21:32] steve-todorov commented on #1693
Hi @rob3c, I believe you have opened issue in the wrong project :)

[2020-03-03 21:37] #1693 closed

[2020-03-03 21:42] rob3c commented on #1693
oops - sorry! Google tricked me this time :-)

[2020-03-03 23:04] steve-todorov commented on #1693
No worries! Thanks for confirming! :)

[2020-03-03 23:56] #1691 closed

[2020-03-04 00:08] steve-todorov commented on #1677
@anki2189 ping - have you had a chance to look into this yet? :)

[2020-03-04 00:37] steve-todorov opened #1694 "Boot screen should actually countdown the remaining seconds until reconnect"
# Task Description

The `strongbox/strongbox-web-ui` can run independently from `strongbox/strongbox` during the development. When you start `strongbox-web-ui` via `npm start` or `ng serve` it becomes accessible at `localhost:4200`. When you hit that address you will see the "booting" screen which will try to connect to the backend at `localhost:48080` so it can report on the booting progress.

Ri

[2020-03-04 04:30] anki2189 commented on #1677
@steve-todorov : Yes, I am working on it , didn't get the time to test the flow.

[2020-03-04 10:21] steve-todorov commented on #1677
Okay, thanks for the update! :)

[2020-03-04 14:12] steve-todorov commented on #1395
This task still depends on #1373, but in the mean time we can do partial UI for the tasks in the list with `(proceed)` at the end.

[2020-03-04 15:03] steve-todorov commented on #1653
@sbespalov what is the state of this task? I believe @carlspring mentioned this has already been done and committed into #1653 ? Can we now close this or is there anything else needed to be done?

[2020-03-04 15:26] steve-todorov opened #1695 "Configure Github Actions to run matrix jdk builds"
# Task Description

We would like to setup Github Actions to test our `master` and `PR`s using the latest LTS versions which as of this moment are `jdk8` and `jdk11`. The build steps should only attempt to do build the project similarly to how we do it in the OS/Linux build stage in our Jenkins. Testing with `s-w-i-t` and `smoke-tests` is out of the scope of this task.

This task will result in be

[2020-03-04 19:00] steve-todorov opened #1696 "Update colors, logo and sass assets"
# Tasks

The following tasks will need to be carried out:
* [ ] Remove dead/unused variables
* [ ] Improve scss variable names where possible
* [ ] Update logo(s)
* [ ] Introduce css vars
* [ ] Dark & Light mode

[2020-03-05 00:47] sbespalov commented on #1653
@steve-todorov it's not implemented. probably @carlspring can clarify better what is the status.

[2020-03-05 00:51] carlspring commented on #1653
@steve-todorov : There seems to be some sort of confusion.
@sbespalov : I thought I saw this implemented on your branch. :-D

[2020-03-05 01:26] sbespalov commented on #1653
I've just fixed User related compilation issues, but this is just stubs withut implementation

[2020-03-05 23:48] steve-todorov opened #1697 "Create a dashboard which shows live graphs of the current cpu, ram and some jvm stats"
# Task Description

We need to create a dashboard page which displays a line chart for the current cpu,ram and some JVM stats. Most of the statistics should be available under `localhost:48080/api/monitoring/metrics/`.
This task will require usage of `chart.js` and `rxjs`.

# Tasks

The following tasks will need to be carried out:
* [x] Install and use [ng2-charts](https://github.com/valor-softwar

[2020-03-06 00:07] aosousa commented on #1697
As mentioned in the chat, will get started on it this weekend :)

[2020-03-07 00:26] carlspring opened #1698 "Implement downloading of log files"
# Task Description

There are currently two types of log files:
* Actively being written to (`*.log`)
* Archived (`*.gz)

It should be possible to download log files. We need to have a download link button/icon.

If a `*.log` file is clicked, it should be streamed.

If a `*.gz` file is clicked, it should be downloaded.

# Tasks

The following tasks will need to be carried out:
* [ ] Make it possib

[2020-03-07 00:27] carlspring commented on #1698
This task is currently blocked by another issue.

@steve-todorov : Could you please create a task for that and link it back as a dependency, thanks? :)

[2020-03-07 22:55] carlspring opened #1699 "Implement UI for the management of the HTTP connection pool settings"
# Task Description

It should be possible to manage the configuration settings of the HTTP connection pool. At the moment, we have a controller for this (and tests), but no UI for it.

It should be possible to:
* [ ] Set the number of connections for a proxy repository
* [ ] Get the pool stats for a proxy repository
* [ ] Set/view the default number of connections for proxy repositories
* [ ] Set/

[2020-03-11 01:53] sbespalov commented on #1645
this seems no longer relevant, the `ArtifactEntity.filenames` property seems works fine in [Migrate Strongbox from OrientDB to JanusGraph #1676](https://github.com/strongbox/strongbox/pull/1676).

[2020-03-11 01:53] #1645 closed

[2020-03-11 01:54] steve-todorov commented on #1645
Thanks for the update @sbespalov ! :)

[2020-03-11 02:19] sachinmukherjee commented on #1684
Is this issue open?

[2020-03-11 02:19] sachinmukherjee commented on #1683
Is this issue open?

[2020-03-11 02:23] pkkht commented on #1684
Hi there.. Carl asked me to assign this issue to myself yesterday.. am trying to do that.. :)

[2020-03-11 02:53] pkkht commented on #1684
working on this

[2020-03-11 02:55] sachinmukherjee commented on #1683
@carlspring  I would love to work on this issue.

[2020-03-11 03:27] carlspring commented on #1683
@sachinmukherjee : You can have a look at @sbespalov 's comment and check with him, after having a look at the controller.

[2020-03-11 07:27] dai640 opened #1700 "About the database's last synchronization time"
Can you add a function to the app, regarding the last synchronization time of the database, because sometimes network reasons may occur, the latest data is not synchronized in time, or the newly created database project is not synchronized, so you can clearly see Whether the last synchronization time of the data matches.
![1](https://user-images.githubusercontent.com/8486208/76392566-c9d62200-63ac

[2020-03-11 09:54] steve-todorov commented on #1700
Hey @dai640 ! I believe you have added an issue to the wrong project. :)

[2020-03-11 10:01] #1700 closed

[2020-03-16 18:03] anki2189 opened #1702 "Not able to remove Proxy Settings for repository."
# Bug Description

Once Proxy Settings for repository  are configured , we can not remove these proxy configurations from UI.

# Steps To Reproduce

1. Login to Strongbox Instance (http://localhost:48080/).
2. Go to any proxy repository (http://localhost:48080/admin/storages/storage-common-proxies/)
3. Configure proxy settings in repository (http://localhost:48080/admin/storages/storage-common-pro

[2020-03-16 18:17] anki2189 opened #1703 "Non-Proxy Host cannot be set from UI"
# Bug Description

Non-Proxy host cannot be set from UI

# Steps To Reproduce

1. Login to Strongbox Instance (http://localhost:48080/).
2. Go to Global repository Settings (http://localhost:48080/admin/server-settings) or any proxy repository (http://localhost:48080/admin/storages/storage-common-proxies/) or

# Expected Behavior
We should be able to add non-proxy hosts list from UI.

# Screenshot

[2020-03-16 18:22] steve-todorov commented on #1703
Thanks for reporting this issue. It's not exactly a bug but rather a feature needed to be implemented in the UI. I've added a label for it and if anybody would like to pick it up - feel free! :)

[2020-03-16 18:25] steve-todorov commented on #1702
This issue is related to the form validation logic which would probably need to be modified a bit to allow clearing the form. Maybe we should add a `clear` button should be added which sets the proxy fields to `null`.

[2020-03-16 18:28] #1697 closed

[2020-03-17 17:17] steve-todorov opened #1704 "Implement StrongboxUriComponentsBuilder to centralize generating urls"
# The issue

Strongbox has a configuration field in the `strongbox.yaml` called `baseUrl`. This field contains the `baseUrl` (i.e. `http://my-domain.com`) which is used when generating URLs for search results, download links and so on. This introduces a few inconveniences:

1. The field requires the user to actually configure it properly or else it will point to `localhost` which will result in "s

[2020-03-18 14:20] despoinasr commented on #1698
I am interested in working on this issue when it's unblocked.

[2020-03-18 18:14] carlspring opened #1705 "Workout which Groovy dependencies we really need"
# Task Description

We currently have several places that are using the groovy dependencies. For example:
* The `strongbox-data-services`. In #1649 this is coming via the `gremlin-*` and `tinkerpop-*` dependencies.
* The `strongbox-cron-api` and `strongbox-cron-tasks`. In #1649 this is coming via the `strongbox-data-services` dependency. In the `master` this is `groovy-all`.

We need to be more sp

[2020-03-25 19:29] carlspring commented on #1685
Hey guys,

chocolatey/choco#1827 has finally been merged! :)

[2020-03-25 22:28] steve-todorov commented on #1685
Awesome! :)

@anki2189 I'm currently working on other tasks. Would you be interested in playing around with some docker? Essentially a new image based on [Dockerfile.alpine.jdk(8|11)-mvn3.6-mono5-nuget3.4](https://github.com/strongbox/ci-build-images/blob/master/images/alpine/jdk8/Dockerfile.alpine.jdk8-mvn3.6-mono5-nuget3.4) needs to be created. You can checkout [this](https://hub.docker.com/r/th

[2020-03-26 06:36] anki2189 commented on #1685
Sure.

[2020-03-26 18:20] rljoia commented on #1694
Hi, I'll try to solve this issue following the initial tip: "you can do it with rxjs (which is relatively the same as rxjava since your background is Java). Thanks!

[2020-03-28 01:43] ykabusalah commented on #1695
Can I try this?

[2020-03-28 01:43] ykabusalah commented on #1685
Can I attempt this?

[2020-03-28 01:44] ykabusalah commented on #1705
Can I attempt doing this?

[2020-03-28 01:45] ykabusalah commented on #1684
Is this still going for pkkht? Or can I get assigned this?

[2020-03-28 01:45] ykabusalah commented on #1683
Can I get assigned this?

[2020-03-28 01:47] steve-todorov commented on #1695
Sure! Please join our chat as well. Also note that you will need to sign an ICLAas mentioned on our [Contributing](https://strongbox.github.io/contributing.html) page.

[2020-03-28 02:19] pkkht commented on #1684
Please assign to yourself

Cheers
Hari

On Sat, 28 Mar 2020, 14:45 Yousef Abu-Salah, <notifications@github.com>
wrote:

[2020-03-28 02:44] carlspring commented on #1684
Feel free to proceed.

[2020-03-28 13:27] steve-todorov opened #1709 "Create a chocolatey docker image"
# Task Description

We need to create a chocolatey docker image so we can test `choco` in `strongbox-web-integration-tests`.

# Task Relationships

This task:
* Relates to: #1685, #1662, #1113

# Useful Links

* [Docker multi-stage build](https://docs.docker.com/develop/develop-images/multistage-build/)
* [Dockerfile.alpine.jdk(8|11)-mvn3.6-mono5-nuget3.4](https://github.com/strongbox/ci-build-ima

[2020-03-28 13:31] steve-todorov commented on #1685
Hi @ykabusalah , thanks for your interest in this task. @anki2189 are you working on this task right now? AFAIK you're working on #1709 only, right?

[2020-03-29 02:13] steve-todorov opened #1710 "Add per-repository support for robots.txt"
# Task Description

We need to add support for `robots.txt` for each repository.

// TODO - expand this description

# Tasks

The following tasks will need to be carried out:
* [ ] Task 1
* [ ] Task 2
* [ ] Task 3

# Task Relationships

This task:
* Is a sub-task of:
* Depends on:
* Is a follow-up of:
* Relates to:

# Useful Links

* [link1]()
* [link2]()
* [link3]()

# Help

* [Our chat](https://

[2020-03-29 02:33] carlspring opened #1711 "Sort out the Maven warnings for the org.vafer:jdeb plugin"
# Task Description

We need to sort out this warning:
[code]

# Tasks

In order to fix this, you will need to:
* [ ]  Define the plugin in the `<pluginManagement/>` section of the [`strongbox-parent`](https://github.com/strongbox/strongbox-parent/) and explicitly define a version.
* [ ] Set the version of the `strongbox-parent` to `1.0-PR-${your-pr-number-goes-here}`.
* [ ] Open a pull request for

[2020-03-29 11:26] anki2189 commented on #1685
Right @steve-todorov , I am working #1709. @ykabusalah feel free to pick this task. :)

[2020-03-29 12:35] steve-todorov commented on #1685
Thanks for confirming! @ykabusalah If you are still interested let me known so I can assign this task to you.

[2020-03-29 16:22] carlspring commented on #1711
@ykabusalah,

Would you like to look into this?

[2020-03-29 19:10] anki2189 opened #1714 "Integration test cases with chocolatey"
# Task Description

Strongbox has Nuget support which is why we are indirectly supporting `choco`.
We need to add some integration tests to [strongbox/strongbox-web-integration-tests](https://github.com/strongbox/strongbox-web-integration-tests) which cover all of the commands you would need to use in order to work with `choco`.

# Tasks

The following tasks will need to be carried out:
* [ ] [Rea

[2020-03-29 19:22] steve-todorov commented on #1714
This is temporarily on hold while I fix some issues around strongbox/ci-build-images#8 hopefully within the next few hours. @TheCakeIsNaOH would you be interested in helping out with writing the integration test case and finalizing strongbox/strongbox-examples#15 (if there is anything more to be done there) ? Sorry for the long delay, but we were simply blocked by chocolatey. :)

[2020-03-30 19:35] steve-todorov opened #1715 "Upgrade our mkdocs-material docker image and fix any issues"
# Task Description

We need help with migrating our documentation to [mkdocs-material - 5.0.0](https://github.com/squidfunk/mkdocs-material/issues/1498) when it is released. A live preview of the latest RC is available [here](https://deploy-preview-1486--mkdocs-material-preview.netlify.com/).

# Tasks

The following tasks will need to be carried out:
* [x] Upgrade our docker image so it uses the l

[2020-03-31 02:33] #1709 closed

[2020-03-31 11:18] anki2189 commented on #1685
@ykabusalah Are you working on this task ?

[2020-03-31 11:20] carlspring commented on #1685
@anki2189 ,

Feel free to pick it up.

[2020-03-31 19:17] anki2189 commented on #1714
May I pick this.?

[2020-03-31 21:35] carlspring commented on #1714
Please, proceed!

[2020-04-01 00:22] sbespalov commented on #1649
[PermanentLockingException while committing one of the concurrent transactions #2065
](https://github.com/JanusGraph/janusgraph/issues/2065)

[2020-04-01 11:48] #1711 closed

[2020-04-02 01:40] TheCakeIsNaOH opened #1719 "Import packages from local path (Drop Path)"
# Task Description

[Inedo Proget](https://inedo.com/proget) has a nice feature called [drop path(s)](https://docs.inedo.com/docs/proget/core-concepts/feeds#drop). It is a feature to import packages to a repository from a folder mounted on the local system. The folder may be on a local drive, or on a network drive. It can be enabled per repository by selecting a folder. By default, it is scanned e

[2020-04-02 14:01] carlspring commented on #1685
@anki2189 ,

Could this now be closed?

[2020-04-02 14:12] anki2189 commented on #1685
Yes, we can close this now.

[2020-04-02 14:17] carlspring commented on #1685
Thanks for confirming! :)

[2020-04-02 14:17] #1685 closed

[2020-04-02 15:38] steve-todorov commented on #1719
@TheCakeIsNaOH thank you very much for this suggestion! We will take it into consideration at some point.

[2020-04-03 03:36] ronaldl opened #1720 "Implement option to not autohide entry when focus is switched to another application"
# Bug Description

Currently any open entries are automatically hidden when the focus is switched to another application. There are times when it would be useful to reference information in an entry (such as the notes field). It would be good to add an option to disable this behavior.

# Environment

* Strongbox Version: 1.13.7 (2901)
* OS: macOS 10.15.3

[2020-04-03 08:33] carlspring commented on #1720
Hi,

You've reported this to the wrong project

[2020-04-03 08:33] #1720 closed

[2020-04-03 09:45] adbjo commented on #1715
Me and @rbratfors would like to pick this one up if available

[2020-04-03 12:05] steve-todorov commented on #1715
Hi @adbjo and @rbratfors! Thanks for your interest in this issue! I've assigned it to @adbjo (@rbratfors please comment so I can add you to the assignee list). Feel free to work on this, but a heads up - `mkdocs-material` version `5.0` has not been released yet. There are only `RC` versions available at the moment. :)

There are two options:
1) You should be able to do most of the work using the `

[2020-04-03 18:47] steve-todorov commented on #1518
@wpater could you please let us know what's the state of this issue? You have created a draft PR - is it completed, is it ready for review?

[2020-04-06 12:03] carlspring opened #1722 "Re-work the ArtifactDirectoryLocatorTest to not replace the System.out"
# Task Description

We need to re-work the ArtifactDirectoryLocatorTest to not replace the System.out, as is affects other tests which are running in parallel and when it hijacks the output, the output of those tests becomes hidden.

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @steve-todorov

[2020-04-06 13:03] steve-todorov commented on #1694
Hi @rljoia, any update on this task? :)

[2020-04-06 13:16] rljoia commented on #1694
Hi @steve-todorov ! I will start at this week. So many work on masters :-)

[2020-04-06 13:38] steve-todorov commented on #1694
Thanks for the update! :)

[2020-04-06 20:15] carlspring opened #1723 "Make it possible to specify the license types of test artifacts"
# Task Description

It should be possible to specify under what license a generated test artifact is. This should be controllable via the implementation of the `org.carlspring.strongbox.testing.artifact.TestArtifact` annotation and `org.carlspring.strongbox.artifact.generator.ArtifactGenerator` implementations for the respective layout provider.

An artifact can have no, one, or more licenses.

#

[2020-04-06 21:16] carlspring opened #1724 "Make it possible to specify the license types of Maven test artifacts"
# Task Description

It should be possible to specify under what license a generated test artifact is. This should be controllable via the implementation of the `org.carlspring.strongbox.testing.artifact.MavenTestArtifact` annotation and `org.carlspring.strongbox.artifact.generator.MavenArtifactGenerator`.

An artifact can have no, one, or more licenses. By default, it should not have one.

# Notes

[2020-04-06 21:51] carlspring opened #1725 "Make it possible to specify the license types of NPM test artifacts"
# Task Description

It should be possible to specify under what license a generated test artifact is. This should be controllable via the implementation of the `org.carlspring.strongbox.testing.artifact.NpmTestArtifact` annotation and `org.carlspring.strongbox.artifact.generator.NpmArtifactGenerator`.

An artifact can have no, one, or more licenses. By default, it should not have one.

# Tasks

Th

[2020-04-06 21:57] carlspring opened #1726 "Make it possible to specify the license types of Nuget test artifacts"
# Task Description

It should be possible to specify under what license a generated test artifact is. This should be controllable via the implementation of the `org.carlspring.strongbox.testing.artifact.NugetTestArtifact` annotation and `org.carlspring.strongbox.artifact.generator.NugetArtifactGenerator`.

An artifact can have no, one, or more licenses. By default, it should not have one.

# Tasks

[2020-04-07 00:12] carlspring opened #1727 "Make it possible to specify the license types of Pypi test artifacts"
# Task Description

It should be possible to specify under what license a generated test artifact is. This should be controllable via the implementation of the `org.carlspring.strongbox.testing.artifact.PypiTestArtifact` annotation and `org.carlspring.strongbox.artifact.generator.PypiArtifactGenerator`.

An artifact can have no, one, or more licenses. By default, it should not have one.

# Tasks

[2020-04-07 00:13] carlspring opened #1728 "Make it possible to specify the license types of RPM test artifacts"
# Task Description

It should be possible to specify under what license a generated test artifact is. This should be controllable via the implementation of the `org.carlspring.strongbox.testing.artifact.RpmTestArtifact` annotation and `org.carlspring.strongbox.artifact.generator.RpmArtifactGenerator`.

An artifact can have no, one, or more licenses. By default, it should not have one.

# Tasks

Th

[2020-04-07 07:02] valiobojinov commented on #1728
@carlspring I can take over those license type related once

[2020-04-07 07:26] rbratfors commented on #1715
@steve-todorov Didn't see that I had to comment, but here I am!

[2020-04-07 10:54] steve-todorov commented on #1695
@ykabusalah what's the state of this task? :)

[2020-04-07 12:41] valiobojinov commented on #1591
I digged a bit in the logs it is a java.nio.file.AccessDeniedException on a test rsource see the attached file.
[1591-stacktrace.txt](https://github.com/strongbox/strongbox/files/4444267/1591-stacktrace.txt)

Given that it happens really rarely, and it does look as something within the Windows specific provider, I don't think it is an issue with the resource closure, but this could be a clue for f

[2020-04-07 13:10] carlspring commented on #1591
Thanks for having a look! I suggest we come back to, if it ever re-occurs.

[2020-04-07 16:01] steve-todorov commented on #1715
FYI @rbratfors and @adbjo - [`mkdocs-material-5.0`](https://github.com/squidfunk/mkdocs-material/releases/tag/5.0.0) has been just released :)

[2020-04-08 00:57] sbespalov commented on #1651
this wil be done as followup task.

[2020-04-08 00:57] #1651 closed

[2020-04-08 01:11] carlspring commented on #1653
Will be done as part of #1649 via #1676 .

[2020-04-08 01:12] carlspring commented on #1651
Will be done as part of #1649 via #1676 .

[2020-04-08 10:02] steve-todorov commented on #1512
This task is now up for grabs.

[2020-04-08 10:10] steve-todorov commented on #1695
This task is now up for grabs. @adbjo and @rbratfors you guys might be interested in this task.

[2020-04-08 19:40] #1714 closed

[2020-04-08 20:03] steve-todorov commented on #1518
This task is now up for grabs! :)

[2020-04-09 05:49] mv93 commented on #1724
can I take this up?

[2020-04-09 07:53] mv93 commented on #1722
can I work on this @carlspring ?

[2020-04-09 08:39] carlspring commented on #1722
Hi @mv93 ,

Yes, please! This would be very helpful! :)

[2020-04-09 08:43] carlspring commented on #1724
I would rather you hold on with one. If you join
our [chat channel](https://chat.carlspring.org/), we could discuss it.

[2020-04-09 10:28] tobx opened #1729 "Disable Handoff for clipboard"
When copying a password and "Handoff" is enabled the clipboard gets copied to other devices automatically. E.g. an iOS app can read the password after it has been copied on a Mac.

This should be disabled for security reasons. E.g. KeePassXC disables Handoff when copying passwords. At least an option to disable this would be good.

# Tasks

The following tasks will need to be carried out:
* [ ] Di

[2020-04-09 10:29] carlspring commented on #1729
Hi,

You've posted this issue to the wrong project.

[2020-04-09 10:29] #1729 closed

[2020-04-09 10:34] tobx commented on #1729
Oh, I am sorry!

[2020-04-09 10:39] carlspring commented on #1729
No problem!

[2020-04-09 12:11] steve-todorov commented on #1698
This task is unfortunately now obsolete and I'll mark it as won't fix. The better part of it has been fixed within #1704. The streaming part is something we will be skipping for now as we will explore a few ways to actually achieve it.

[2020-04-09 12:13] #1698 closed

[2020-04-09 13:01] carlspring commented on #1698
@despoinasr ,

Thanks for your interest! Please, join our [chat channel](https://chat.carlspring.org/), so we could discuss what tasks you might be able to help out with.

[2020-04-09 14:38] #1180 closed

[2020-04-09 16:34] carlspring commented on #1715
@gluckzhang, if you're also looking for tasks to work on, let us know! Also, guys, feel free to join our [chat channel](https://chat.carlspring.org/) for more details.

[2020-04-09 17:24] steve-todorov opened #1730 "Research possible solutions for centralizing common documentation links"
# Task Description

Our documentation is using [mkdocs-material](https://squidfunk.github.io/mkdocs-material/) which generates our website at https://strongbox.github.io/. Since we are using [reference links](https://github.com/strongbox/strongbox-docs#guidelines-for-contributors) in the docs, it should be, in theory, possible to create a sort of `meta` markdown page which we can include into othe

[2020-04-09 17:52] steve-todorov opened #1731 "Use UriComponentsBuilder.clone() instead of workaround"
# Task Description

This is a follow-up task to switch back to using `UriComponentsBuilder.clone()` instead of a workaround we had to introduce as part of #1704 since we were hitting spring-projects/spring-framework#24772.

# Task Relationships

This task:
* Depends on: `spring-web@5.2.6` being released at some point in early May 2020 (maybe?).
* Is a follow-up of: #1704 (PR #1708)
* Relates to: s

[2020-04-09 19:53] rljoia commented on #1694
@steve-todorov , I think I solved the issue. I will ask to Andre to test. After that, we will submit the change.

[2020-04-10 02:47] #710 closed

[2020-04-10 07:55] AkzharkynDM commented on #1723
Hello,

Would you mind if I take this as my first contribution?
I have a couple of question, this is my first time contributing so I apologize for any redundant questions.

- Regarding **strongbox-storage/strongbox-storage api/src/test/resources/licenses/${license_short_name}**:  should it be in src/test or src/main?
- Regarding **Define constants for these (probably an enum would be best)**: wher

[2020-04-10 08:33] carlspring commented on #1723
Hi,

Thanks for your interest! I have already done some work on this and, as well as the one for the Maven layout provider, and will commit it today. If you wouldn't mind waiting a few hours up to s day, maybe you could pick up some of the sub-tasks?

I would like to invite you to our our [chat channel](https://chat.carlspring.org/) where we could further discuss this.

[2020-04-10 17:07] carlspring opened #1733 "Test contexts are not being closed properly for test repositories"
# Bug Description

We are experiencing some issues with test repository contexts not being cloed under Windows.

# Stacktraces

* **Stacktrace 1**
[code]

* **Stacktrace 2**
[code]

# Steps To Reproduce

The steps to reproduce this consistently are unknown, but this seems to only be happening under Windows with the following command:

[code]

# Expected Behavior

The build passes successfully unde

[2020-04-10 21:13] #1694 closed

[2020-04-10 21:14] gluckzhang commented on #1715
Hi @carlspring , thanks for the invitation. I am one of the TAs in the courses and I won't have time to contribute now. Maybe later I will join the project :smile:

[2020-04-11 03:55] carlspring commented on #1722
@mv93 ,

Any updae on this?

[2020-04-11 14:27] carlspring opened #1734 "Add a "System Requirements" section to the "Getting Started" page"
# Task Description

We should improve our "Getting Started" page by adding a "System Requirements" section before the "Installation" steps.

The changes should be applied to the [strongbox-docs](http://github.com/strongbox/strongbox-docs/) project.

This [question](https://stackoverflow.com/questions/61157478/what-are-the-hardware-requirements-for-building-and-developing-strongbox/) was raised by

[2020-04-11 16:01] TheCakeIsNaOH commented on #1734
I think this already exists at #483

[2020-04-11 16:05] #483 closed

[2020-04-11 16:05] carlspring commented on #1734
Thanks for pointing it out. I've closed the older task.

[2020-04-11 16:55] #1724 closed

[2020-04-11 16:59] carlspring commented on #1723
@AkzharkynDM ,

I've merged #1732 into the `master`. @despoinasr will take #1723, #1726 and #1727. Feel free to look into #1728. You can join our chat channel for more details.

[2020-04-11 18:36] carlspring commented on #1722
There is no reasonable way to test this without doing a sizeable refactoring, just for the sake of testing the `ArtifactDirectoryLocator`. The need for this test has become obsolete. This is already being tested by various tests that invoke this sort of functionality transitively, such as, for example `ArtifactMetadataServiceReleasesTest` and `ArtifactMetadataServiceSnapshotsTest`.

I will simply

[2020-04-11 20:00] #1722 closed

[2020-04-11 21:03] steve-todorov opened #1737 "Figure out what's wrong with strongbox-web-ui build under windows"
# Task Description

It has been brought to our attention that there are some issues starting the [strongbox/strongbox-web-ui](https://github.com/strongbox/strongbox-web-ui) project under Windows. When you do `npm run start` and try to go to `http://localhost:4200` it will produce a `404 not found` instead of actually serving the assets. This issue has been introduced with strongbox/strongbox#1691

[2020-04-12 10:19] despoinasr commented on #1725
I am working on it.

[2020-04-12 10:19] despoinasr commented on #1726
I am working on it.

[2020-04-12 10:20] despoinasr commented on #1727
I am working on it.

[2020-04-12 16:50] carlspring opened #1739 "Re-work the NugetArtifactControllerTest to not replace the System.out"
# Task Description

We need to re-work the `NugetArtifactControllerTest` to not replace the `System.out`, as is affects other tests which are running in parallel and when it hijacks the output, the output of those tests becomes hidden.

# Task Relationships

This task:
* Relates to: #1722

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @s

[2020-04-12 20:26] anki2189 commented on #1705
We don't need `groovy-all` dependency as it pull many transitive dependencies which are not compatible with this project. Below are the required groovy dependencies.

- groovy

- groovy-json

- groovy-xml

 After https://github.com/strongbox/strongbox/pull/1701 minimum required version will be 3.0.2

[2020-04-12 20:32] carlspring commented on #1705
@anki2189 ,

Thanks for the update!

Please, bear in mind that:
* We need to make sure this works in @sbespalov 's branch for #1649 ( pull request #1676 ).
* Apparently, in IntelliJ, we need the dependencies also defined in the `strongbox-aql`.

Could you please make sure this works properly on Sergey's branch?

[2020-04-13 04:29] sbespalov opened #1741 "Fix RegenerateNugetChecksumCronJobTestIT test"
# Task Description

We need to fix this test against the `issues/1649` branch.

Example Jenkins build [here](https://jenkins.carlspring.org/blue/organizations/jenkins/strongbox%2Fbuilds%2Fstrongbox/detail/PR-1676/105/tests).

This is most likely due to concurrent execution and you may not always get this result locally.

Stack trace:
[code]
# How to fix

We should extract the `RegenerateNugetCheck

[2020-04-13 04:33] sbespalov opened #1742 "Fix ActuatorEndpointControllerTest"
# Task Description

We need to fix this test against the `issues/1649` branch.

The example of failed Jankins build is [here](https://jenkins.carlspring.org/blue/organizations/jenkins/strongbox%2Fbuilds%2Fstrongbox/detail/PR-1676/105/tests)

# Task Relationships

This task:
* Is a sub-task of: #1649

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbesp

[2020-04-13 04:35] sbespalov opened #1743 "Fix NpmArtifactControllerTest.packageNameTestBadRequest"
# Task Description

We need to fix this test against the `issues/1649` branch.

The failed Jenkins build is [here](https://jenkins.carlspring.org/blue/organizations/jenkins/strongbox%2Fbuilds%2Fstrongbox/detail/PR-1676/105/tests)

# Task Relationships

This task:
* Is a sub-task of: #1649

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @s

[2020-04-13 10:17] valiobojinov commented on #1741
I'm currently investigating this one, please assign to me:
So far
It is locally reproducible by: mvn  -Dtest=RegenerateNugetChecksumCronJobTestIT -Djunit.jupiter.execution.parallel.enabled=true  -Djunit.jupiter.execution.parallel.mode.default=concurrent test
The test sometimes passes but when it fails it is because either one of

- strongbox/strongbox-storage/strongbox-storage-layout-providers/str

[2020-04-13 10:27] sbespalov opened #1744 "Fix AuthorizationConfigControllerTestIT.roleShouldBeDeleted"
# Task Description

We need to fix this test against the `issues/1649` branch.

Failed Jenkins build [here](https://jenkins.carlspring.org/blue/organizations/jenkins/strongbox%2Fbuilds%2Fstrongbox/detail/PR-1676/108/tests)

The problem seems related with JG issue that returrns single object value for `Cardinality.set` properties that contains only one element in collection. As a workaround we curr

[2020-04-13 11:02] #1739 closed

[2020-04-13 11:44] anki2189 commented on #1744
@sbespalov @carlspring I will pick this.

[2020-04-13 11:47] carlspring commented on #1744
I see that @sbespalov has marked this as `on hold`. Pehaps you could pick one of the other ones?

@sbespalov : What is this blocked by?

[2020-04-13 12:35] anki2189 commented on #1743
May I pick this?

[2020-04-13 12:38] carlspring commented on #1743
Please, proceed!

[2020-04-13 14:10] carlspring opened #1745 "Fix the CleanupExpiredArtifactsFromProxyRepositoriesCronJobTestIT"
# Task Description

We need to fix this test against the `issues/1649` branch.

# Stacktrace

[code]

# Task Relationships

This task:
* Is a sub-task of: #1649

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @sbespalov
  * @carlspring
  * @steve-todorov

[2020-04-13 14:10] carlspring opened #1746 "Fix the WhenRepositoryIsNotAliveDontCleanExpiredArtifactsTestIT"
# Task Description

We need to fix this test against the `issues/1649` branch.

Failed Jenkins build [here](https://jenkins.carlspring.org/blue/organizations/jenkins/strongbox%2Fbuilds%2Fstrongbox/detail/PR-1676/112/tests)

# Task Relationships

This task:
* Is a sub-task of: #1649

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @sbespalov
  * @carlspring
  * @steve-to

[2020-04-13 14:31] #1734 closed

[2020-04-13 18:36] anki2189 commented on #1743
This test is failing because `NpmArtifactCoordinates#setVersion` method is removed . This method was having Version validation, hence invalid package names test is failing.

[2020-04-13 19:56] anki2189 commented on #1742
Test `ActuatorEndpointControllerTest#testEndpointsWithAuthorizedUser` for parameter `/health` is failing becuase neo4j is not intialized when this test is trigged hence healthcheck for neo4j is failing resulting in `/health` endpoint failure.

Possible solution can be :

- Initialize Neo4j before test.

- Exclude neo4j from health check.

[2020-04-13 19:58] anki2189 commented on #1742
There is one more failure for parameter `/health/db` as this url is gving 404 . Will try to find out reason for this, assumption is Cassandra DB is not discoverable.

[2020-04-13 20:01] carlspring commented on #1742
Should we really have a check for `Neo4J`? We're not using Neo4J, we're just using some of their OSS API-s.

[2020-04-13 20:06] anki2189 commented on #1742
we don't have check for `Neo4j`. I believe it is automatically getting picked from classpath

[2020-04-13 20:09] carlspring commented on #1742
Interesting... Is there a way to disable it via a property?

[2020-04-13 20:17] anki2189 commented on #1742
Yes, can be diabled using property `management.health.neo4j.enabled`

[2020-04-13 20:19] carlspring commented on #1742
Could you try, if disabling would solve this for us and open a pull request, if it does? Thanks! :)

[2020-04-13 20:20] anki2189 commented on #1742
Yes, working fine. Now, I am debugging why `/health/db` is not working

[2020-04-14 01:50] sbespalov commented on #1742
@anki2189 we shouldn't check `neo4j` health because we don't have the `neo4j` db. We only use `neo4j-ogm`. So could you please disable it?

[2020-04-14 04:19] sbespalov commented on #1744
@anki2189 I've updated description, plees proceed with it if you like.

[2020-04-14 08:55] anki2189 commented on #1742
@carlspring We can close this issue.

[2020-04-14 08:55] anki2189 commented on #1743
@carlspring We can close this issue.

[2020-04-14 08:55] anki2189 commented on #1744
Sure @sbespalov

[2020-04-14 09:17] carlspring commented on #1743
Thanks for looking into it! :)

[2020-04-14 09:17] #1743 closed

[2020-04-14 10:19] carlspring commented on #1742
Thanks, @anki2189 ! :)

[2020-04-14 10:19] #1742 closed

[2020-04-14 16:07] carlspring commented on #1728
@AkzharkynDM ,

Would you like to look into this?

[2020-04-14 20:08] carlspring commented on #1649
@sbespalov .

Here are my findings...

Building strongbox against strongbox locally (via `mvn spring-boot:run` in  the `strongbox-web-core`) eventually fails with the attached logs. Part of the build passes, but then it suddenly crashes.

Here are the logs:
* [strongbox-web-core-spring-boot-run.log.gz](https://github.com/strongbox/strongbox/files/4477477/strongbox-web-core-spring-boot-run.log.gz)

[2020-04-15 00:53] sbespalov commented on #1649
@carlspring could you please clarify what it means?

[2020-04-15 02:32] carlspring commented on #1649
I don't have the log files in front of me right now, but I believe that there were failing transactions while writing (?)...

[2020-04-15 02:55] sbespalov commented on #1649
ok, thanks for clarifying
I'll create a task to fix it

[2020-04-15 13:56] #1653 closed

[2020-04-19 07:11] anki2189 commented on #1744
@sbespalov Issue seems different here.
Exception `java.lang.ClassCastException: java.lang.String cannot be cast to java.util.Collection` is due to conversion of `CUSTOM_ROLE` (role queried for using IN clause) to collection.
Not sure this is related to https://stackoverflow.com/questions/49663376/cypher-query-for-searching-through-a-list or not but my assumption is we need to fix the way we are qu

[2020-04-19 18:51] #1715 closed

[2020-04-19 19:14] steve-todorov commented on #1715
@adbjo , @rbratfors thank you guys for your excellent work on this task! Congratulations on your first merged PR! :)

If you are looking for more devops related tasks - please ping me in the chat and we'll find you something!

[2020-04-19 20:57] adbjo commented on #1715
Thanks Steve, it was great working with you guys, might contribute more in the future :)

[2020-04-20 03:18] sbespalov commented on #1744
@anki2189 can you please clarify your guess?

The cause described in issue description and corresponds to the error log in Jenkins.
I would suggest to proceed with proposed solution and see how it works.

[2020-04-20 04:55] anki2189 commented on #1744
Attaching debugger screenshots where this is failing
<img width="1170" alt="Screen Shot 2020-04-20 at 10 21 45 AM" src="https://user-images.githubusercontent.com/7271803/79715408-3e2bab80-82f1-11ea-8fbb-b49586f82b23.png">
<img width="1169" alt="Screen Shot 2020-04-20 at 10 23 08 AM" src="https://user-images.githubusercontent.com/7271803/79715409-3ff56f00-82f1-11ea-8c8f-fe881da57443.png">

[2020-04-20 05:10] sbespalov commented on #1744
@anki2189 the problem is not with `CUSTOM_ROLE` value, if you'll check what huppens inside `predicate.test` method then you will see that it tryes to cast an empty string to collection.

[2020-04-20 07:41] anki2189 commented on #1744
@sbespalov Tried without empty string and two elements in `user.roles` but still getting Same Exception.

[2020-04-20 07:53] sbespalov commented on #1744
could you please create `UserRepositoryTest` with cases for `findUsersWithRole`?

[2020-04-20 08:12] sbespalov opened #1752 "Extract `ArtifactArchiveListing` into standalone Vertex"
# Task Description

# Tasks

The following tasks will need to be carried out:
* [ ] Task 1
* [ ] Task 2
* [ ] Task 3

# Task Relationships

This task:
* Is a sub-task of:
* Depends on:
* Is a follow-up of:
* Relates to:

# Useful Links

* [link1]()
* [link2]()
* [link3]()

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @fuss86
  * @sbespalov
  * @steve-

[2020-04-20 10:54] anki2189 commented on #1744
@sbespalov created `UserRepositoryTest`

[2020-04-21 02:38] sbespalov commented on #1744
the problem may be related with `cypher-for-gremlin`  bug, so now the resulting query is:
[code]
but most likely it should be:
[code]
I propose to do as follows:
1. The `EntityTraversalDsl` part should be done within this task as it's seems needed anyway.
2. I'll create a followup task to rework `User.roles` into standalone Vertex related with `User`, this seems required as well to search user by

[2020-04-21 09:00] anki2189 commented on #1744
@sbespalov Changes done as suggested, pls review.

[2020-04-23 14:52] carlspring commented on #1744
Thanks for your help, @anki2189 , @sbespalov ! :)

[2020-04-23 14:52] #1744 closed

[2020-04-24 01:51] sbespalov opened #1753 "Extract `UserEntity.roles` into standalone vertex"
# Task Description
Within #1649  it was found that `IN` operator has some issues with `cypher-for-gremlin` query interpreter and this affects on `UserRepository.findUsersWithRole(String role)` query. Another thing is that such query implementation most likely not optimal for using indexes when searching users by role.
The solution to avoid the `IN` operator issue and to use indexes for user by rol

[2020-04-24 02:30] sbespalov opened #1754 "Sort out the Strongbox performance issues"
# Task Description
Strongbox have some performance issues after migrating to JanusGraph+Cassandra:
- build time increased for [continuous-integration/jenkins/pr-head](https://jenkins.carlspring.org/blue/organizations/jenkins/strongbox%2Fbuilds%2Fstrongbox/activity?branch=PR-1676)
- about 3x build time increased for Cold phase of [/strongbox-against-strongbox-from-sources](https://jenkins.carlsprin

[2020-04-24 02:40] sbespalov opened #1755 "Disable automatic JanusGraph schema creation"
# Task Description
We should use strict schema within definitions in `StrongboxSchema` class.

# Tasks

The following tasks will need to be carried out:
* [ ] Set the `schema.default = none` for JanusGraph instance within `EmbeddedJanusGraphWithCassandraServer` and `InMemoryJanusGraphServer`
* [ ] Enable all posible [Schema contstraints](https://docs.janusgraph.org/basics/schema/#schema-constraint

[2020-04-25 09:16] anki2189 commented on #1752
I will work on this. @strongbox/core-developers FYI..

[2020-04-25 10:06] carlspring commented on #1752
Thanks, @anki2189 ! :)

[2020-04-25 11:30] sbespalov commented on #1752
@anki2189 it will be good if you could have a look at #1755 first

[2020-04-25 16:26] johnnybigoode commented on #1737
So the web-ui was working until -for some reason- it just wasn't anymore.
If anyone is looking over this and is having some sort of error like this:

[code]

Use `npm install node@12.11.1` to get it to work. This seems to be related by the reply provided [here](https://github.com/manuelbieh/geolib/issues/208#issuecomment-595461630) and it seems to be a [nodejs thing about running EC Modules](https

[2020-04-25 16:47] steve-todorov commented on #1737
Thanks for sharing @johnnybigoode! I'm using `node@v12.16.2` on a Linux machine - haven't bumped into the issue you are mentioning above but I assume somebody using a lower version might.

[2020-04-25 17:42] johnnybigoode commented on #1737
Here's the kicker then:
If I try using `"node": "^12.16.2",`  I'll get the same problem.
Maybe it's a Windows 10 thing?

[2020-04-27 07:39] anki2189 commented on #1755
@carlspring This issue can be closed.

[2020-04-27 09:52] carlspring commented on #1755
Thanks for your help! :)

[2020-04-27 09:52] #1755 closed

[2020-04-29 09:26] valiobojinov commented on #1745
I belive I was able to reproduce it here's the stacktrance for convenience
[`12:22:52.386] | E | 1-worker-3 | o.j.g.database.StandardJanusGraph     | Could not commit transaction [26] due to exception
org.janusgraph.diskstorage.locking.PermanentLockingException: Local lock contention
	at org.janusgraph.diskstorage.locking.AbstractLocker.writeLock(AbstractLocker.java:327)
	at org.janusgraph.disksto

[2020-04-29 09:37] valiobojinov commented on #1745
[stacktrace.txt](https://github.com/strongbox/strongbox/files/4550867/stacktrace.txt)

[2020-04-30 11:14] carlspring commented on #1393
Closing this, as it will become obsolete with #1649 ( #1676 ).

[2020-04-30 11:14] #1393 closed

[2020-04-30 11:18] carlspring commented on #1373
@sbespalov , will this become obsolete with #1649 ( #1676 )?

[2020-04-30 11:20] carlspring commented on #1120
Closing this, as it will become obsolete with #1649 ( #1676 ).

[2020-04-30 11:20] #1120 closed

[2020-04-30 11:20] carlspring commented on #606
Closing this, as it will become obsolete with #1649 ( #1676 ).

[2020-04-30 11:20] #606 closed

[2020-04-30 11:21] carlspring commented on #1117
Closing as obsolete.

[2020-04-30 11:21] #1117 closed

[2020-04-30 11:24] carlspring commented on #1541
@sbespalov :

Would this make sense after #1649 ( #1676 ), or has it already been looked at? I believe I noticed you're already using this for the entities in Janusgraph/Cassandra.

Should we close this task, or keep it as a follow-up of #1649 ?

[2020-04-30 11:27] carlspring commented on #1011
@sbespalov / @anki2189 ,

Would this be a follow-up of #1752 , or should we close it?

[2020-04-30 13:42] sbespalov commented on #1373
no, we just need a new name for `OrientDBJobStore` :)

чт, 30 апр. 2020 г. в 18:19, Martin Todorov <notifications@github.com>:

[2020-04-30 13:43] sbespalov commented on #1541
we should keep it

[2020-04-30 13:47] carlspring commented on #1541
Okay, I'll leave it open.

[2020-04-30 14:08] carlspring commented on #1373
How about simply `CronJobRepository`?

[2020-04-30 23:14] steve-todorov commented on #1011
I vote we close it. I've also added a relation in #1678 and we can decide on how to achieve this at a later stage or as a follow-up to #1678.

[2020-05-01 04:31] sbespalov commented on #1011
I agree with @steve-todorov

[2020-05-01 13:12] sbespalov commented on #1752
There is a small requirements update. We probably don't need the `storageId` and `repositoryId` for `ArtifactArchiveListing` vertex. Also we don't need `Artifact` entity for `ArtifactArchiveListing` entity, because the `ArtifactHasArtifactArchiveListing` edge will only be used to search artifacts.

[2020-05-04 03:38] sbespalov commented on #1373
the `JobStore` is more like a service then repository. The implementations commonly named by persistence provider like `PostgresJobStore`. So in our case most likely it should be `JanusGraphJobStore`

[2020-05-04 03:41] sbespalov commented on #1741
the problem seems related with `testRegenerateNugetChecksumInStorages` test method because it affects on all storages and as a result it goes out of `@NugetRepository` sychronozation. The proposed solution added to the issue description.

[2020-05-04 08:46] sbespalov commented on #1679
@steve-todorov @anki2189 is this task relevant?

[2020-05-04 09:51] sbespalov opened #1761 "Get rid of RemoteArtifact inheritance"
# Task Description
Within current implementation we have `RemoteArtifact` entity inherided from `Artifact` entity. Both entities have the `uuid` index which affects on JG commit performance when adding new entities. We could drop this inheritance and put `cached` attribute dirrectly into `Artifact` entity for the sake of performance.

# Tasks

The following tasks will need to be carried out:
* [x]

[2020-05-04 10:41] steve-todorov commented on #1679
Yes it is, but I believe we can fix it in another way which we'd need to discuss first.

[2020-05-04 14:32] carlspring commented on #1752
In your example:

I believe that the name of the class should be using the FQDN ( for example `com.foo.bar.Blah` ), as can be seen in Maven Central.

[2020-05-04 16:52] valiobojinov commented on #1741
I've been trying to reverse engineer the annotations based synchronization, not really successfully.- Where I bumped seriously I guess is: TestRepositoryContext#closeInternal - the bit where RepositoryManagementService#removeRepository - gets closed twice if for the annotations that return cleanup -> true; but that is since the initial version.
  I've seen in the history - that at some point the t

[2020-05-05 04:00] sbespalov commented on #1741
The synchronization happening at `TestRepositoryManagementApplicationContext.tryToStart()` with `TestRepositoryManagementApplicationContext.lock()` method call.

[2020-05-05 08:09] sbespalov commented on #1761
fixed

[2020-05-05 13:46] #1761 closed

[2020-05-06 11:25] steve-todorov commented on #1011
Closing this :)

[2020-05-06 11:25] #1011 closed

[2020-05-08 16:29] jillguardian commented on #1746
Hello. I'd like to start contributing by writing and fixing tests. Is this still up for grabs? [I sent a message in the group chat, too.]

BTW, the linked build is blank for me. Is there anything I need to do? Thank you.

[2020-05-08 16:36] carlspring commented on #1746
Hi,

Thanks for offering to help! You would have to re-enable the test and run the build and track the bug.

[2020-05-08 17:15] carlspring commented on #1746
The linked build no longer exists in Jenkins, but you should be able to reproduce it locally when running all the tests with `mvn clean install -Dintegration.tests`.

[2020-05-08 19:18] sainalshah commented on #810
@carlspring Is anyone working on this task? If not, I'd like to work on this.

[2020-05-08 23:25] carlspring commented on #810
@sainalshah ,

Feel free to pick up any of the tasks related to the finalization of the support for the PyPi layout support ( #807 ). However, please bear in mind that any work requiring access to a database would have to wait for #1649 ( #1676 ) to be completed.

I think it would be great, if we could discuss this on our [chat channel](https://chat.carlspring.org/).

[2020-05-09 04:09] carlspring commented on #1746
This has either already been solved by previous changes, or will be fixed with #1764 .

[2020-05-09 04:10] carlspring commented on #1745
This has either already been solved by previous changes, or will be fixed with #1764 .

[2020-05-09 04:12] jillguardian commented on #1746
I'll pick up some other task then. Thank you.

[2020-05-09 04:25] carlspring commented on #1746
It seems that this is still failing. Feel free to dig into it.

[2020-05-09 07:51] jillguardian commented on #1746
Relevant logs from [failing test](https://jenkins.carlspring.org/blue/organizations/jenkins/strongbox%2Fbuilds%2Fstrongbox/detail/PR-1764/5/tests/) in commit 9e7b8b0:

[code]

I can't reproduce the issue on my machine, but it seems like the issue is that the path to the repository is incorrect.

[2020-05-11 05:15] saz9zo commented on #1684
Hi, Can I work on this issue?

[2020-05-11 08:28] pkkht commented on #1684
Hi
You can!

On Mon, May 11, 2020 at 5:15 PM sakul thakuri <notifications@github.com>
wrote:

[2020-05-11 08:56] parth704131 commented on #1684
hi i think greet method is only checks user is authenticated or not and i think some this is method is made only for testing purpose.

[2020-05-11 20:11] Jackxu9946 commented on #1728
Hey, Im new to open source projects and would like to try this issue. Do I need understanding of the entire strongbox library or would I be fine just understanding the files that need to be changed i.e (org.carlspring.strongbox.testing.artifact.RpmTestArtifact and org.carlspring.strongbox.artifact.generator.RpmArtifactGenerator)

[2020-05-12 06:09] saz9zo commented on #1702
Hi, I like to work on this issue, and also may I know the location of UI files.

[2020-05-12 09:40] steve-todorov commented on #1702
Hi, feel free to pick it up. The UI code is at [strongbox/strongbox-web-ui](https://github.com/strongbox/strongbox-web-ui/tree/master/src/app/modules/storage-management/pages/manage-repository)

[2020-05-13 18:20] gmlag opened #1771 "error during building strongbox-npm-metadata on windows"
[ERROR] Failed to execute goal org.jsonschema2pojo:jsonschema2pojo-maven-plugin:1.0.0-alpha4:generate (default) on project strongbox-npm-metadata-jackson: Execution default of goal org.jsonschema2pojo:jsonschema2pojo-maven-plugin:1.0.0-alpha4:generate failed: Unrecognised URI, can't resolve this: file://C:buildsstrongbox-npm-metadata2strongbox-npm-metadata-jackson/target/generated-resources/META-I

[2020-05-13 18:27] gmlag commented on #1771
I don't know how to create a pull request, so here is a fix:
[1771.txt](https://github.com/strongbox/strongbox/files/4623886/1771.txt)

[2020-05-13 20:05] carlspring commented on #1771
Hi @gmlag ,

Thanks for reporting this!

Could you please paste the complete output of your `mvn --version`? What version of Windows are you running this on?

You can also have a look at these links:
* https://strongbox.github.io/developer-guide/getting-started.html
* https://strongbox.github.io/developer-guide/git/rebase-vs-merge.html

In order to create a pull request, you need to fork the repos

[2020-05-14 03:32] sbespalov commented on #1771
I would wait for PR to say something :)

[2020-05-14 05:28] saz9zo commented on #1669
Hi, can you please give little idea on how to config UI from dependency in webConfig. It has to be similar to web-ui, right, but I don't see how it was implemented.

[2020-05-14 06:19] gmlag commented on #1771
Apache Maven 3.6.3 (cecedd343002696d0abb50b32b541b8a6ba2883f)                                                                                                                 Maven home: C:\builds\APPS\apache-maven-3.6.3\bin\..                                                                                                                          Java version: 1.8.0_232, vendor: Azul Systems, Inc.,

[2020-05-14 06:26] gmlag commented on #1771
replaceAll method treat strings as regexp's, so it won't work for windows paths.
but changing replaceAll() -> replace() doesn't solve all the problems and to make it work on all platform it's better to use standard class to build file URI, instead of manual string construction

[2020-05-14 16:14] carlspring commented on #1771
I would strongly recomment upgrading to the latest versions of Maven 3.x and JDK8.

[2020-05-18 07:41] gmlag commented on #1771
https://github.com/strongbox/strongbox-npm-metadata/pull/13

[2020-05-18 16:07] carlspring opened #1775 "Upgrade to Cassandra to 4.0-alpha4 or higher"
# Task Description

We should consider upgrading to `org.apache.cassandra:cassandra-all:4.0-alpha4`, as it can help us with our performance issues.

# Tasks

The following tasks will need to be carried out:
* [ ] Create a branch off `issues/1649` against strongbox/strongbox-parent and bump the version.
* [ ] Sort out the issues that pop up.
* [ ] Check how it affects the build times of `strongbox-

[2020-05-23 05:01] sevmamba opened #1778 "ios app store loads incorrect version of strongbox"
# Bug Description
ios app store loads incorrect version of strongbox
Describe the bug/issue you have.

# Steps To Reproduce

1. on an ios device with 9.3.6 (latest version for ipad 2), delete the strongbox app
2. on apple device go to app store, select "purchased", then "strongbox"
3. device asks if you want to download old version, click yes.
4. then dowloaded version is strongbox 1.48.5 which is

[2020-05-23 13:46] carlspring commented on #1778
Hi,

You've posted this issue to the wrong project. I assume you're referring to the strongbox-password-safe/Strongbox project. I'm therefore closing this bug report.

Kind regards,

Martin

[2020-05-23 13:46] #1778 closed

[2020-05-23 16:23] carlspring opened #1779 "Fix the java.lang.InstantiationException and java.lang.NoSuchMethodException reported in CronJobDuplicationCheckStrategiesRegistry with JDK11"
# Task Description

As part of our effort to evaluate and migrate to JDK11, we need to re-work the `org.carlspring.strongbox.util.ThrowingFunction` and `org.carlspring.strongbox.cron.jobs.CronJobDuplicationCheckStrategiesRegistry` classes. Both of these are currently working fine under JDK8, but with JDK11, the following compilation error occurs:

In addition, the code should be changed from:
[cod

[2020-05-23 18:02] carlspring opened #1780 "Fix the java.lang.NoClassDefFoundError: sun/reflect/Reflection in the strongbox-ldap-authentication-provider when building under JDK 11"
# Task Description

As part of our effort to evaluate and migrate to JDK11, we need to fix the `java.lang.NoClassDefFoundError: sun/reflect/Reflection` that occurs in the `strongbox-ldap-authentication-provider`.

# Tasks

The following tasks will need to be carried out:
* [x] Fix the exception
* [x] Make sure the code still works under JDK8.

# Task Relationships

This task:
* Is a sub-task of: #

[2020-05-24 21:44] carlspring opened #1781 "Fix the test failures in the NpmArtifactControllerTestIT under JDK11"
# Task Description

Under JDK11, on the `issues-1775-jdk11` branch, we are getting the following test failures (for tests which are otherwise passing under JDK8):
* `testViewArtifactViaProxy`:
[code]
* `testSearchArtifactViaProxy`:
[code]

Maven / JDK versions:
[code]

Please, note that the work for this should be done on branch created off the `issues-1775-jdk11` branch.

# Tasks

The following t

[2020-05-24 21:57] carlspring opened #1782 "Fix the test failures in the ParallelDownloadRemoteArtifactTest under JDK11"
# Task Description

Under JDK11, on the `issues/1649` branch, we are getting the following test failure (for tests which are otherwise passing under JDK8):
[code]

Please, note that:
* This test will most-likely pass, if executed on its own in an IDE. It will have to be executed together with all the other parallel tests in the `strongbox-storage-maven-layout-provider` in order to be reproduced.
*

[2020-05-24 22:28] carlspring commented on #1779
Will be fixed via #1783 .

[2020-05-24 22:28] carlspring commented on #1780
Will be fixed via #1783 .

[2020-05-25 19:25] carlspring commented on #1695
Done. This will only be enabled for `jdk-11.0.3` and has been done as part of #1783. Relates to #1111 .

[2020-05-25 19:25] #1695 closed

[2020-05-27 08:32] anki2189 commented on #960
@carlspring We can close this now, this was fixed in https://github.com/strongbox/strongbox/pull/1670

[2020-05-27 10:36] carlspring commented on #960
Thanks for following up on this!

[2020-05-27 10:36] #960 closed

[2020-05-27 11:55] anki2189 commented on #1560
@sbespalov : Suggested changes are not making improvement.

**Current Implementation.**

<img width="415" alt="Screen Shot 2020-05-27 at 5 21 42 PM" src="https://user-images.githubusercontent.com/7271803/83015956-da5a7800-a03e-11ea-9e44-6fa69d209ae3.png">

**After Changes:**

<img width="409" alt="Screen Shot 2020-05-27 at 4 54 53 PM" src="https://user-images.githubusercontent.com/7271803/83015968

[2020-05-27 14:46] anki2189 opened #1785 "Strongbox instance startup fails on jdk11"
# Task Description

Strongbox instance startup fails while running `mvn spring-boot:run` in `stronbox-web-core` in the `issues-1775` branch.

**Stacktrace**

[code]

# Tasks

The following tasks will need to be carried out:
* [x] Find out the root cause for exception.
* [x] Apply the fix to the `strongbox-web-core`.
* [ ] Apply the fix to the `strongbox-distribution`.

# Task Relationships

This t

[2020-05-27 17:11] anki2189 commented on #1785
I will try to debug this.

[2020-05-27 18:59] anki2189 commented on #1785
There was an issue raised in cassandra for this https://issues.apache.org/jira/browse/CASSANDRA-15468.

Cassandra tries to access jdk internal classes via Reflection and in jdk11 they have put strict checks on internal classes access.

Workaround provided was pass internal class as jvm argument using `--add-exports --add-opens` option.

[2020-05-27 19:00] anki2189 commented on #1785
So, now to run strongbox we have to use below command with `jdk11`

[code]

[2020-05-27 19:10] carlspring commented on #1785
Can we add these parameters to the `spring-boot` plugin?

[2020-05-28 06:44] yusufaslancaliskan commented on #1782
Hey, May I help you on this ?

[2020-05-28 08:23] carlspring commented on #1782
Yes, please! Try and reproduce it and please join our [chat channel](https://chat.carlspring.org/).

[2020-05-29 20:13] carlspring commented on #1781
Thanks for fixing this, @anki2189 ! :)

[2020-05-29 20:13] #1781 closed

[2020-05-31 11:25] sbespalov opened #1787 "Reduce the Gremlin query complexity for ArtifactCoordinates hierarchy queries"
# Task Description

`ArtifactCoordinates` stored in DB as `GenericArtifactCoordinates` vertex which is connected with one of the particular `ArtifactCoordinates` type vertices throught `Extends` edge. There could be seven of such vertices:
- `RawArtifactCoordinates`
- `MavenArtifactCoordinates`
- `NpmArtifactCoordinates`
- `NugetArtifactCoordinates`
- `PypiArtifactCoordinates`
- `RpmArtifactCoordi

[2020-06-03 11:18] WaterHashira commented on #1523
can i take  this task??

[2020-06-03 11:31] carlspring commented on #1523
@WaterHashira ,

Do you know how to use tools like `tcpdump` and WireShark, etc?

[2020-06-06 00:59] pclemon commented on #1683
Is anyone actively working on this? If not I would like to give it a try!

[2020-06-07 19:46] carlspring opened #1789 "Repositories generated using the @MavenRepository do not set the basedir variable"
# Bug Description

When using the `@MavenRepository` (and most-likely the other similar test annotations for NPM, Nuget, PyPi, etc) does not set a value for the `basedir`, which then makes it impossible to get the path to the base directory of the repository.

# Steps To Reproduce

Given:
[code]
You should be able to do:
[code]

However, this currently returns `null`.

# Expected Behavior

This sh

[2020-06-09 23:25] steve-todorov commented on #1737
Hi @Echidna93 and thanks for your interest in this issue! @johnnybigoode has already made a PR and it fixed the issue. I'll need to `rebase` it and merge it, but unfortunately I haven't had a chance to do that since I'm working on another task right now.

[2020-06-11 03:12] steve-todorov opened #1790 "Make it possible to use standalone cassandra"
# Task Description

We need to allow usage of standalone Cassandra instances for cases where you'd like to run a cluster of Cassandra instances.
There should be an environment variable called `STRONGBOX_REMOTE_CASSANDRA` and a `strongbox.yaml` configuration variable which would need to be an array of strings as shown in JG's docs ([storage.hostname](https://docs.janusgraph.org/basics/configuration

[2020-06-11 03:20] sbespalov commented on #1790
we already have the `strongbox.db.janus-graph.profile` which cold be one of the following:
[code]
within this task I would implement the `janusgraph_REMOTE`

[2020-06-11 03:20] steve-todorov commented on #1787
I'm closing this task since it's now merged! Thanks for this!

[2020-06-11 03:20] #1787 closed

[2020-06-11 03:24] steve-todorov opened #1791 "Improve performance by customizing Cassandra and JanusGraph settings"
# Task Description

We need to optimize our Cassandra and JanusGraph settings to improve the overall performance.

# Task Relationships

This task:
* Is a sub-task of: #1754

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring
  * @sbespalov
  * @steve-todorov

[2020-06-11 03:28] sbespalov commented on #1790
this probably will be better to rename the property to `strongbox.db.profile`

[2020-06-11 04:47] steve-todorov commented on #1790
I agree renaming the property to keep consistency. Will the env vars work as well?

[2020-06-11 04:51] #1791 closed

[2020-06-11 17:35] indhupriya commented on #1789
@carlspring @sbespalov Can I take a shot at this?

[2020-06-13 02:06] carlspring commented on #1789
@indhupriya ,

I believe @anki2189 may already be working on this. @anki2189 , have you, or do you plan on working on this?

@indhupriya ,

Feel free to join our [chat channel](https://chat.carlspring.org/) for more details. I'm sure we can find you some tasks to work on, if you like.

[2020-06-15 03:15] sbespalov commented on #1790
regarding the backend cluster they assume that all storage hosts should have same port, so probably it won't be possible to have different ports within hosts
the configuration should be like follows:
[code]

[2020-06-15 04:14] sbespalov commented on #1790
regarding the configuration the purpose is to have `db_<strongbox.db.profile>.yaml` file under `etc/conf` folder. This configuration file will have profile dependent configuration properties like below (`db_REMOTE.yaml` configuration example for cassandra cluster):
[code]
The appropriate configuration file will be picked up based on `-Dstrongbox.db.profile` or `STRONGBOX_JANUSGRAPH_PROFILE` value.

[2020-06-15 04:16] sbespalov commented on #1790
@steve-todorov would this suit to our environments?

[2020-06-16 05:10] rtandle04 commented on #1753
Hi Sergey,
Can I work on this.

I have 2+ Years of experience in java related technologies, JPA, Hibernate and Ibatis

Regards,
Ramakanth.

[2020-06-16 10:51] carlspring commented on #1113
@TheCakeIsNaOH , @anki2189 , @gretel, @steve-todorov ,

Are we okay to now close this?

[2020-06-16 10:52] carlspring commented on #1264
Closing as obsolete.

[2020-06-16 10:52] #1264 closed

[2020-06-16 11:06] carlspring commented on #1522
This task is blocked by #1649 and can only be looked at once it is complete.

[2020-06-16 11:50] steve-todorov commented on #1113
Yes, we have tests for it now and it's included in the main pipeline.

[2020-06-16 11:50] #1113 closed

[2020-06-16 13:32] HongmouZhang opened #1794 "StrongBox crashes immediately"
# Bug Description

Today I have updated to the newest version of strongbox (1.48.13), but I cannot use it at all, the software crashes immediately after I launch it, and tried several times and restart my iphone, doesn't work. My phone is iphone 11 pro, IOS version is 13.5.1.

[2020-06-16 13:40] carlspring commented on #1794
Hi,

You've posted this issue to the wrong project. I assume you're referring to the [strongbox-password-safe/Strongbox project](https://github.com/strongbox-password-safe/Strongbox). I'm therefore closing this bug report.

Kind regards,

Martin

[2020-06-16 13:40] #1794 closed

[2020-06-16 17:41] Echidna93 commented on #1684
Hi is help still needed with this?

[2020-06-16 18:04] carlspring commented on #1684
Hi @Echidna93 ,

Yes, but please be advised, that there is a set of tasks like this one for the controllers of each of our layout providers. Feel free to pick it up! We had a contributor, who I believe didn't sign our ICLA, hene we were unable to accept their pull request.

[2020-06-18 14:52] sbespalov commented on #1790
implemented.
Now there are following configuration files under `etc/conf`:
- `db_EMBEDDED.yaml`
- `db_MEMORY.yaml`
- `db_REMOTE.yaml`
each of the configuration files contains DB connection properties corresponding to specific profile. Profile could be set with `-Dstrongbox.db.profile` JVM argument or `STRONGBOX_DB_PROFILE` environment variable. Configuration files could be customized within docker

[2020-06-19 07:56] sbespalov commented on #1560
@anki2189 is there any PR for this?

[2020-06-19 07:58] sbespalov commented on #1679
the suggestion is to make `DelegatingPasswordEncoder ` decorator that will try to base64 decode password if first match failed.

[2020-06-19 10:59] steve-todorov commented on #1679
I believe we can make it more reliable by simply using LDAP authentication bind which means to attempt to `bind` to the LDAP server as the user/password trying to login. This way the LDAP server will do the necessary checks for us and we won't have to worry about all the possible configuration variations you might have.

Maybe @sbespalov can share some thoughts on how to do this in our current cod

[2020-06-19 11:11] anki2189 commented on #1560
No, tried the changes on my machine. @sbespalov

[2020-06-19 11:22] carlspring commented on #1679
@sbespalov / @steve-todorov ,

Could you guys please work on improving the desription of the task with:
* An improved clearer description
* Classes on interest
* Task list

Thanks!

[2020-06-20 01:34] Echidna93 commented on #1684
Great I will start looking at it over the weekend! :)

[2020-06-21 02:15] #1789 closed

[2020-06-22 02:35] sbespalov commented on #1560
would it be possible to create a PR so we could have a look?

[2020-06-22 02:58] sbespalov commented on #1679
Recently we discussed that there should be both LDAP authentication types available, which is bind and manager DN. We could also have it configurable so user could make it work as required for particular case.
I think we should fix the manager DN authentication anyway. On the other hand it will take much less time then implementing bind authentication (which will also require some UI work as well)

[2020-06-22 03:12] sbespalov opened #1796 "Rework `UserController.getUsers` method so that it takes `skip` and `limit` parameters"
# Task Description

Current implementation fetches all users from DB, which wont work well in real life. We should be able to paginate users on UI with `skip` and `limit` parameters.

# Tasks

The following tasks will need to be carried out:
* [ ] Create `UserRepository.findUsers(Long skip, Integer limit)` method (see `ArtifactIdGroupQueries.findArtifacts` as example)
* [ ] Rework  `UserController

[2020-06-22 03:12] sbespalov commented on #1796
@steve-todorov this will also require some work on UI

[2020-06-22 17:05] carlspring commented on #1515
This task is now up for grabs.

[2020-06-23 11:48] carlspring commented on #1703
@anki2189 : What do you mean by "non-proxy" host? Would you mind adding some screenshots? Thanks!

[2020-06-23 11:53] carlspring commented on #1677
@anki2189 ,

What is the status of this task?

[2020-06-23 11:56] carlspring commented on #1591
Closing this issue, as it doesn't seem to be occurring anymore. (Will re-open it, if it does).

[2020-06-23 11:56] #1591 closed

[2020-06-23 12:01] carlspring commented on #1558
@sbespalov ,

Is this something that can now be worked on based on the `issue-1649` branch?

[2020-06-23 12:05] carlspring commented on #1552
@sbespalov ,

Do you know what things will need to be refactored, once we've upgraded to the newest version of Spring Security? Could you add a list to the task, please? Thanks!

[2020-06-23 12:11] carlspring commented on #1442
@sbespalov : Are you happy with us closing this?

[2020-06-23 12:22] carlspring commented on #1146
@sbespalov ,

What would you like to update in the description? Would you mind looking into it?

[2020-06-23 12:24] carlspring commented on #1335
This task is now once again up for grabs.

[2020-06-23 12:28] carlspring commented on #1166
@sbespalov . @steve-todorov ,

Any further thoughts on this? Should we add it to #hacktoberfest / #ghc2020 , or should we close it?

[2020-06-23 12:38] carlspring commented on #1116
Closing as obsolete.

[2020-06-23 12:38] #1116 closed

[2020-06-23 19:45] steve-todorov commented on #1166
To be honest, I think we should actually `remove` the ability to `GET` the configuration. This could leak some passwords in the future. It does make sense to have an option to `PUT`, but this would still be a security issue - there would need to be a `root` admin and only he should be able replace the `strongbox.yaml` config. In the long run it might be worth researching ways of incorporating `etc

[2020-06-23 21:58] carlspring commented on #1166
Okay, I'll close this issue for now.

[2020-06-23 21:58] #1166 closed

[2020-06-24 04:42] sbespalov commented on #1146
@carlspring probably we should put this "on hold" to better times.

[2020-06-24 04:44] sbespalov commented on #1558
we should check and see how it works in `issue-1649`

[2020-06-24 05:12] sbespalov commented on #1552
@carlspring tasks updated

[2020-06-24 05:13] sbespalov commented on #1442
closing, thanks :)

[2020-06-24 05:13] #1442 closed

[2020-06-24 17:45] carlspring opened #1797 "Storage provider naming refactoring"
# Task Description

Currently, we have only one storage provider -- the `org.carlspring.strongbox.providers.datastore.FileSystemStorageProvider`. This is the default provider and it writes directly to the file system (on the hard disk). We need to make this more flexible for future implementations that might be working with cloud providers, for example.

We have a registry called `org.carlspring.s

[2020-06-25 09:57] navkumar258 commented on #1553
I am looking for my first contribution, is the issue still open or is someone working on it?

[2020-06-25 10:06] carlspring commented on #1553
Hi,

If you can reproduce and fix it, that would be great! It might however be obsolete, if you can't. Give it a go and report back any findings. Thanks!

Also, feel free to join our [chat channel](https://chat.carlspring.org/).

[2020-06-25 12:37] navkumar258 commented on #1553
@carlspring didn't mean to bother you...is the build passing?....my build is failing at web-core module due to an org.json package symbol not found error in the JWTAuthenticationController class....please help.

[2020-06-25 12:42] carlspring commented on #1553
Yes, the build is passing. We have a chat channel for build help. Have you followed the [Getting Started](https://strongbox.github.io/developer-guide/getting-started.html) and [Building The Code](https://strongbox.github.io/developer-guide/building-the-code.html) sections in our "Developer's Guide"?

[2020-06-25 13:01] navkumar258 commented on #1553
@carlspring yes...i followed the link...able to build other modules but it gives compilation error when building the above mentioned module.Below is the error:

`[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.3:testCompile (default-testCompile) on project strongbox-web-core: Compilation failure
[ERROR] /D:/nk00427541/GitHub_Contribs/strongbox/strongbox/strongbox-we

[2020-06-25 13:04] carlspring commented on #1553
As I said, please use our chat channel for build issues.

[2020-06-26 17:08] Echidna93 commented on #1684
So it sounds like these have already been determined to be essential for strongbox, but your previous contributor didn't sign the agreement so you couldn't merge. So then all that needs done is the renaming of the greet functions to something more relevant in every layout provider.

[2020-06-26 18:10] carlspring commented on #1684
More, or less, yes. These are simple set of cleanup tasks. We do require a signing of our ICLA and if such is not provided within reasonable time, we close them. Feel free to have a go at it. It's not much work.

[2020-06-29 06:14] anki2189 commented on #1753
@carlspring I am working on this .

[2020-07-01 09:16] anki2189 commented on #1796
I would like to pick the backend part of this task.

[2020-07-01 09:25] carlspring commented on #1796
That's great! Please, proceed! Thanks!

[2020-07-01 21:26] steve-todorov opened #1800 "Investigate ways to use custom id generator for JG"
# Task Description

JanusGraph uses the storage backend to `coordinate` multiple instances. Each node needs to be configured to `allocate` a `block` of `ids` to be used when inserting new data ([`ids.block-size`](https://docs.janusgraph.org/basics/configuration-reference/#ids)). Although this is a cleaver way to avoid `id` collision between different JG instances and removes the need of a `coordin

[2020-07-01 21:27] steve-todorov commented on #1800
Hey @ptirador, I hear you are interested in this task? (no pressure) :D

[2020-07-01 21:39] carlspring commented on #1800
You mean he was volunteered, right? :-D

[2020-07-02 10:11] ptirador commented on #1800
Hey @steve-todorov @carlspring! Sure, I'll look into it!

[2020-07-02 11:14] anki2189 opened #1801 "Fix failing test RawArtifactControllerTestIT"
# Task Description
All the tests of `RawArtifactControllerTestIT` because `http://slackbuilds.org ` is not working.
Test uses above url to download raw file.

# Tasks

The following tasks will need to be carried out:
* [x] Change `REMOTE_URL` from `http://slackbuilds.org` to  `https://github.com/`
* [x] Change value `testResolveArtifact.pathStr` to any github file.

# Useful Links

* [Failing buil

[2020-07-03 05:38] anki2189 commented on #1752
@sbespalov Is this task still relevant?

[2020-07-03 06:31] anki2189 commented on #1796
@sbespalov Should we keep default value of `skip` and `limit` or make it mandatory param in `UserController`.?

[2020-07-03 10:22] ptirador commented on #1800
@steve-todorov:

Custom Long vertex ids are supported in JanusGraph. Note that only Long ids are supported and they must be converted to valid JanusGraph ids for use in `g.addVertex(T.id, id)`. [JavaDoc](https://github.com/JanusGraph/janusgraph/blob/master/janusgraph-core/src/main/java/org/janusgraph/graphdb/tinkerpop/JanusGraphBlueprintsTransaction.java#L91-L97) for this `addVertex` method specif

[2020-07-03 16:41] steve-todorov commented on #1800
Thanks for your investigation @ptirador! This aligns with what I've found as well. Can you do some digging and find the places where the `IDManager` is being used? Maybe we could introduce different `IDManager`s depending on the configured options?

[2020-07-03 16:49] carlspring commented on #1800
Would it be possible to re-work this in the Janusgraph code base so that we could have the multiple "providers" (implementations) of these ID-s? For example, `LongIdManager` and `UUIDIdManager`.

I understand that this is outside the scope of our project and that it might be a big chunk of work on the side of Janusgraph.

What are our options here? For large instances, (such as what we hope ours c

[2020-07-04 14:57] sbespalov commented on #1752
@anki2189 this task most likely is still `on hold`, we better get back to it when Elasticsearch indexes will be implemented.

[2020-07-05 02:08] anki2189 opened #1802 "Enable test ConfigurableProviderManagerTest#testExternalUserShouldBeReplacedWhenExpired"
# Task Description
Currently testcase `ConfigurableProviderManagerTest#testExternalUserShouldBeReplacedWhenExpired` is failing with reason

[code]

# Tasks

The following tasks will need to be carried out:
* [ ] Find root cause of failure
* [ ] Apply fix to fix
* [ ] Enable test case.

# Task Relationships

This task:
* Is a follow-up of: #1753

# Help

* [Our chat](https://chat.carlspring.org/)
*

[2020-07-05 17:08] carlspring commented on #1753
@anki2189 , @sbespalov ,

I assume that this task can now nowbe closed?

[2020-07-06 04:00] anki2189 commented on #1753
Yes, we should close this task now.

[2020-07-06 04:06] #1753 closed

[2020-07-07 10:08] ptirador commented on #1800
@steve-todorov, @carlspring, @sbespalov:

As you can see in the [IdManager](https://github.com/JanusGraph/janusgraph/blob/master/janusgraph-core/src/main/java/org/janusgraph/graphdb/idmanagement/IDManager.java) class, it's exclusively based on long ids. I think that this could be re-worked to allow multiple implementations depending on type, but I'm not sure of the final impact of these changes (I

[2020-07-07 10:50] carlspring commented on #1800
Thanks, @ptirador !

Would you like to have a closer look at the Janusgraph codebase and investigate this further?

[2020-07-09 18:42] carlspring opened #1806 "Disable our Quartz cron tasks"
# Task Description

We need to disable Quartz, so that it doesn't start up the cron tasks below. At the moment we have bigger issues to debug and this is getting the way. We will have a follow-up task at a later time to re-enable these.

Optimally, this should be controllable via a property in the `strongbox.yaml`. Quartz provides a property for this as well.

### List of Cron jobs to be disabled

[2020-07-09 23:45] carlspring opened #1807 "Implement a service for managing Quartz"
# Task Description

We need to be able to enable and disable Quartz programatically via a service class.

We currently have the `strongbox-cron` modules for the common cron task related code.

# Tasks

The following tasks will need to be carried out:
* [ ] Make it possible to enable/disable Quartz programmatically via a service class.
* [ ] The configurations should be stored in the `strongbox.yam

[2020-07-11 21:54] carlspring opened #1808 "Storage refactoring"
# Task Description

We need to re-think and improve our storage implementation.

This is the master task.

# Tasks

The following tasks will need to be carried out:
* [ ] Storage provider naming refactoring ( #1797 )
* [ ] Make the artifact generators use the associated storage provider for the repository.
* [ ] Each storage should have an associated `storageProvider` and this should be the defaul

[2020-07-11 23:03] carlspring opened #1809 "Each storage should have an associated storageProvider and this should be the default for each repository in it"
# Task Description

Storages will need to have a new field called `storageProvider`. When this field is defined, all repositories under the storage will default to using this `storageProvider` and this field can be omitted for these repositories.

# Tasks

The following tasks will need to be carried out:
* [ ] Implement the required changes
* [ ] Implement tests

# Task Relationships

This task:
*

[2020-07-11 23:07] carlspring opened #1810 "Make the artifact generators use the associated storage provider for the repository"
# Task Description

At the moment, the different implementatinos of the `ArtifactGenerator` don't take into account what the `storageProvider` for the respective repository is and they use the local file system instead. We need to improve this in order to be able to create other implementations for storage providers.

# Tasks

The following tasks will need to be carried out:
* [ ] Apply the requir

[2020-07-11 23:26] #1797 closed

[2020-07-12 01:17] carlspring opened #1811 "Storage provider module refactoring"
# Task Description

We need to create a separate aggregator for storage providers and extract the default (`local`) storage provider into a s separate module below it.

# Tasks

The following tasks will need to be carried out:
* [ ] Create a new aggregator under `strongbox-storage` called `strongbox-storage-providers`.
* [ ] Extract the default storage provider (`org.carlspring.strongbox.providers

[2020-07-12 01:34] carlspring opened #1812 "Implement a strongbox-jimfs-storage-provider for the sake of testing storage providers using JIMFS"
# Task Description

We should implement a storage provider using JIMFS (Java In-Memory File System). This would be beneficial for testing our support for more than just the default (local) file system storage provider.

# Tasks

The following tasks will need to be carried out:
* [ ] Implement a strongbox-jimfs-storage-provider for the sake of testing storage providers using JIMFS.
* [ ] Implement

[2020-07-12 03:11] carlspring commented on #1703
@anki2189 : Ping? :)

[2020-07-13 05:55] anki2189 commented on #1703
@carlspring `non-proxy` is list/set of hosts which should not be used as proxy host. We should be able to set non-proxy host from UI too. `ProxyConfigurationForm` has https://github.com/strongbox/strongbox/blob/61c822993262ad395d9ffcefce59ceab52b8335c/strongbox-web-forms/src/main/java/org/carlspring/strongbox/forms/configuration/ProxyConfigurationForm.java#L41 , so backend supports non-proxy host

[2020-07-13 08:26] Maganpreet commented on #1704
Hi, I would like to take this up, I am new to open source projects so help me out to understand a little if possible and let me know if I can start on digging down into it.

[2020-07-13 08:28] steve-todorov commented on #1704
Hi @Maganpreet - you are commenting under a finished pull request (in other words the task is completed). Maybe choose another task? :)

[2020-07-13 09:02] carlspring commented on #1704
@steve-todorov ,

If the work for this is ready, could you please merge the pull requests, so we can close it? Thanks! :)

[2020-07-13 09:06] Maganpreet commented on #1704
Hi @steve-todorov , my bad couldn't figure it out so the tasks having label help-wanted are gonna be the open issues right? or can you assign me anything if that's alright?

[2020-07-13 10:08] carlspring commented on #1704
@Maganpreet ,

You can join our [chat channel](https://chat.carlspring.org/) for such discussions.

[2020-07-13 14:46] szymon-jedrzejewski commented on #1726
Hi, I'd like to try solving this issue

[2020-07-13 14:46] carlspring commented on #1726
Go for it! :)

[2020-07-13 15:40] anki2189 commented on #1806
List of Cron jobs and tests.

- CleanupExpiredArtifactsFromProxyRepositoriesCronJobTestIT
- DownloadRemoteMavenIndexCronJobTestIT
- ImmediateExecutionCronJobTestIT
- FetchChangesFeedCronJobTestIT
- MergeMavenGroupRepositoryIndexCronJobTestIT
- OneTimeExecutionCronJobTestIT
- RebuildMavenIndexesCronJobTestIT
- RebuildMavenMetadataCronJobTestIT
- RegenerateMavenChecksumCronJobTestIT
- RegenerateNuge

[2020-07-13 15:44] Gugatke commented on #1513
i'll do it

[2020-07-13 16:36] carlspring commented on #1806
@anki2189 ,

Are you interested in picking this up?

[2020-07-13 16:40] carlspring commented on #1703
Thanks for the clarification!

[2020-07-13 16:55] anki2189 commented on #1806
Yes, will pick this task.

[2020-07-13 16:56] carlspring commented on #1806
Great! Thank! :)

[2020-07-13 21:52] steve-todorov commented on #1806
@anki2189 I've made some modifications to the task description. We need to disable the listed cron tasks at runtime by default - not to disable **all** cron tasks and their tests.

[2020-07-14 16:06] #1801 closed

[2020-07-14 21:50] carlspring opened #1814 "Reduce the use of File, FileInputStream, FileOutputStream and path existence checking with alternatives from Files where possible"
# Task Description

As part of the storage and repository refactoring, we need to reduce the use of the following as much as possible and replace it with respective implementations from `Files`:
- `new File(...)` with `basePath.resolve(path)` (where `path` is a `String`)
- `File.exists(...)` with `Files.exists(path)`
- `new FileInputStream(...)` with `Files.newInputStream(path)`
- `new FileOutputS

[2020-07-14 22:42] svaddadhi commented on #1814
Hey, could I takeover this issue?

[2020-07-14 22:47] carlspring commented on #1814
@svaddadhi ,

Thanks for offering to help! That would be great! I've already done some work on re-working the `MavenArtifactGenerator` already. Perhaps you could have a look at how I've done it and apply similar fixes to the rest of the `ArtifactGenerator` implementations...?

For more details, please join our [chat channel](https://chat.carlspring.org/).

[2020-07-14 22:49] svaddadhi commented on #1814
That sounds great @carlspring , I will go ahead and get working on that, and I will join the chat channel as well

[2020-07-14 22:59] carlspring commented on #1814
We should have a discussion on the chat first.

[2020-07-15 11:32] anki2189 commented on #1807
Currently some of the cron jobs(which are creating problem) have hard coded cron expression, we should provide cron expression using `storage:repository:repositoryConfiguration` from `strongbox.yaml`.
We can introduce new field **cronEnabled**  in `storage:repository:repositoryConfiguration` to manage Quartz Job.

[2020-07-15 11:39] carlspring commented on #1807
This sounds reasonable to me. Would you like to look into it?

[2020-07-15 12:33] anki2189 commented on #1807
Sure , @carlspring

[2020-07-15 14:11] carlspring commented on #1807
Thanks! :)

[2020-07-16 16:12] carlspring opened #1815 "Write documentation for our test artifact generators, test artifact and test repository annotations"
# Task Description

We need to document how to use the `@TestArtifact` and `@TestRepository` (and their alias annotations for the various layout providers) work.

The page should be placed under the [`Developer's Guide`](https://strongbox.github.io/developer-guide/) under the `Writing Tests` and be called `Test Repository And Test Artifact Annotations`.

# Tasks

The following tasks will need to b

[2020-07-17 19:51] carlspring commented on #1800
@sbespalov ,

Would you like to share your thoughts about this?

[2020-07-19 14:07] #1806 closed

[2020-07-20 08:13] sbespalov commented on #1800
I don't think that id generator could cause any tangible performance degradation for us. The only problem that could be is loosing some id ranges while restarting JG server, but with for example 5k ids batch size it won't be a big problem as well.

[2020-07-20 09:05] sbespalov commented on #1800
anyway, regarding the string Vertex ids we probably could use current `IdManager` contract and make long hash from UUID string.

[2020-07-20 09:11] sbespalov commented on #1800
there is also [issues/1221](https://github.com/JanusGraph/janusgraph/issues/1221) for String ids in JG

[2020-07-21 19:32] steve-todorov commented on #1807
@anki2189 your suggestion sounds like a totally separate task. The current task is aiming at actually having a way to disable cron tasks globally for cases where you might be running into issues. Furthermore - there is a `strongbox-cron-tasks.yaml` file which holds all of the configuration for the cron tasks. It would make more sense to store any related configuration there like `cronTaskConfigura

[2020-07-22 01:53] steve-todorov commented on #1800
### Thoughts

It seems like you are right on point! Thanks for pointing me in this direction! I looked at the sources yesterday and the database - it confirms your thoughts. This query also gives longs from the cassandra database:

`SELECT blobAsVarint(key), blobAsVarint(column1), value FROM strongbox.janusgraph_ids`

It really depends on the amount of data you will be inserting and how fast you w

[2020-07-23 10:05] vjtadepalli commented on #1814
Hi, I would like to contribute. How to get started?

[2020-07-23 16:00] AlexanderSherrow commented on #1814
Hello! I'd like to contribute too if theres anything I could help with!

[2020-07-23 16:02] carlspring commented on #1814
Guys, thanks for offering to help! Please, join our [chat channel](https://chat.carlspring.org/) for more details.

[2020-07-25 22:58] parameswaranmarimuthu commented on #1731
@steve-todorov , I would like to start on this. Could you please assign this to me?

[2020-07-25 23:08] parameswaranmarimuthu commented on #1684
@carlspring , anyone working on it? I can pick it up if its open.

[2020-07-26 00:04] carlspring commented on #1684
Go for it!

[2020-07-26 00:06] carlspring commented on #1684
@parameswaranmarimuthu : I believe @Echidna93 did a pull request for this, but never applied the changes I requested. @Echidna93 , will you be applying the changes anytime soon...?

[2020-07-26 16:57] #1684 closed

[2020-07-26 19:56] steve-todorov commented on #1731
@parameswaranmarimuthu hi and thanks for your interest in this issue. However it's still blocked (as the labels show). Maybe check another issue?

[2020-07-28 06:43] sbespalov commented on #1683
link #1684

[2020-07-31 17:59] carlspring opened #1818 "Improve our checksum support for Maven metadata"
# Task Description

We should imrpove our support for checksums for `maven-metadata.xml` files. This seems to be a problem for Gradle artifacts and there is now support for `sha256` and `sha512` in Gradle. Maven Central (running on Nexus 2.x) now supports this.

* gradle/gradle#11053 : Add sha-256 and sha-512 checksums when publishing
* gradle/gradle#11308 : `maven-metadata.xml` SHA256 and SHA512

[2020-08-04 18:39] simrandeep11 commented on #1815
@carlspring
I would like to contribute on this. Let me know how to get started on this.

[2020-08-04 20:56] carlspring commented on #1815
@simrandeep11 ,

You could start by taking a look at the classes mentioned above and writing an article in the `strongbox-docs` project as mentioned in the task's description.

[2020-08-05 05:14] Huzaib commented on #485
Hello sir,
I am a beginner to contributions
Can I work on this if it's still open?

[2020-08-05 16:09] julienmnr opened #1819 "Maximum upload size exceeded"
# Original Bug Description

For a work project I had to set up a strongbox repository with which I would look for sources via chocolatey.
So I have to configure this one with the right URL for the push etc.
But when wanted to push my package with my nupkg file I got this error message in my strongbox log file.
I am therefore looking to be able to increase my maximum upload size exceeded
Can you he

[2020-08-05 16:23] carlspring commented on #1819
Hi,

So, how large is your file?

[2020-08-05 16:24] carlspring commented on #1819
Also, please don't ever take screenshots of consoles and copy & paste the output instead.

[2020-08-05 19:48] julienmnr commented on #1819
Yes sorry for the screenshot , my package is large like 120MB

[2020-08-05 21:08] carlspring commented on #1819
What is the exact command you executed and the full output (on both the client side and the server side)?

[2020-08-05 21:09] carlspring commented on #1819
@anki2189 ,

Would you like to look into this?

[2020-08-05 21:40] steve-todorov commented on #1819
I believe we should be able create a dummy 1G file and include it in the `nuspec`. It looks like you can define a [`<files>`](https://docs.microsoft.com/en-us/nuget/reference/nuspec#including-assembly-files) section which points to the file and it should get included in the  package (I assume, but have not tested it).

[code]

[2020-08-05 22:13] carlspring commented on #485
@Huzaib ,

Would you like to pick something else instead?

[2020-08-06 04:02] Huzaib commented on #485
Can you suggest me something??

[2020-08-06 07:18] julienmnr commented on #1819
Hello back, I just want to push with this : choco push --source "%REPO_URL%" --force

[2020-08-06 11:00] Tapan123456 commented on #1815
This looks interesting I can get started on this

[2020-08-06 16:14] simrandeep11 commented on #1815
Ok I will have a look and get back.

[2020-08-09 18:26] simrandeep11 commented on #1815
@carlspring
I had a glance over the code and I am sorry I will not be able to devote sufficient time for this task right now as I am occupied with some important office work for next 2 weeks.
@Tapan123456
If you are still interested you can take over.

[2020-08-10 11:05] AkshayBabbar opened #1821 "strongbox-checks.xml dtd is not defined."
# Bug Description
strongbox-checks.xml dtd is not defined properly.
It is not pointing to valid checks.

# Steps To Reproduce

1. Clone Repo.
2. mvn clean install
3. Repo check

# Expected Behavior
DTD should be defined.

# Environment

* OS: Windows 10
* Maven version (please provide the full output of `mvn --version`):3.6.0
* Browser (if related to UI): NA

[2020-08-10 11:42] carlspring commented on #1821
How should it be defined?

What checks are invalid Could you be more specific?

What do you mean by repo check?

As per my understanding, these are checkstyle rules (which we're currently not using). What DTD do you need to define? These are in the XML file. I'm not sure I get what you're trying to explain, so it would be great, if you could try to go into more detail.

[2020-08-12 08:51] julienmnr commented on #1819
Hi, do you have any update ?

Regards,

[2020-08-12 09:40] carlspring commented on #1819
Hi Julien,

There is no update on this. The issue is up for grabs, if you would like to work on it and fix it. We appreciate pull requests very much! :)

[2020-08-12 09:54] julienmnr commented on #1819
I search to much to fixe it but I find nothing..
But ok thanks anyway.

[2020-08-12 11:41] carlspring commented on #1819
You should be able to configure this via the `application.yaml` file. Have a look at these links:
* https://spring.io/guides/gs/uploading-files/#:~:text=constrained%20as%20follows%3A-,spring.,file%20size%20cannot%20exceed%20128KB.
* https://stackoverflow.com/questions/40271484/spring-upload-file-size-limit

[2020-08-12 14:29] anki2189 commented on #1819
@julienmnr : Can you please test your use case against PR (https://github.com/strongbox/strongbox/pull/1822)
Before testing you have to change values for `max-file-size` and `max-request-size` in `application.yaml` according to your file size.

[2020-08-12 15:02] julienmnr commented on #1819
Hi anki, application.yaml is a file of Spring ?

[2020-08-12 15:31] carlspring commented on #1819
@julienmnr ,

You will have to update the `application.yaml` with a value for the max size and then build the code from pull request #1822 and install Strongbox from the produced zip in the `strongbox/strongbox-distribution/target` directory.

[2020-08-12 15:31] anki2189 commented on #1819
No, application.yaml of Strongbox which is located at `strongbox-commons/src/main/resources/application.yaml`

[2020-08-12 15:34] navkumar258 commented on #1819
Hi, looking for my first contribution - is the issue still open or is someone working on it or can i take it. thanks :smile:

[2020-08-12 16:23] julienmnr commented on #1819
Idk why I dont have this folder in my strongbox.. I dont see strongbox-commons idk why

[2020-08-12 16:30] carlspring commented on #1819
@navkumar258 ,

Thanks for offering to help, but, as you can see, @anki2189 is already working on it. Please, feel free to join our [chat channel](https://chat.carlspring.org/) to find out how you help with other tasks.

[2020-08-12 16:32] carlspring commented on #1819
@julienmnr ,

This project is not French-speaking. We all speak English here.

As I explained earlier, if you would like to try out the pull request, you will have to checkout the code and build it from the pull request that @anki2189 has proposed.

[2020-08-12 17:56] julienmnr commented on #1819
Man calm down no ? It’s just my google chrome who corrected the sentence in French okay ?

[2020-08-12 18:16] carlspring commented on #1819
Just thought I'd let you know. :)

[2020-08-14 13:52] AkshayBabbar commented on #1821
I am not sure what is the correct but,

"http://www.puppycrawl.com/dtds/configuration_1_3.dtd" is not referencing anything.
Do let me know if this has to be handled or not.

[2020-08-14 19:25] Gyanesha commented on #1727
Hey, I would like to resolve this issue. I am new at this, so I might ask you for some guidance or some queries.

[2020-08-14 21:08] carlspring commented on #1727
Hi @Gyanesha ,

Feel free to pick it up and to join our [chat channel](https://chat.carlspring.org/).

[2020-08-18 13:56] cuichenli commented on #1683
Hi guys,

I was playing around with this project and did some investigation on this issue. Following are my findings.

1. This endpoint is not used in `npm/cli`. The way I tested it is set a break-point in the `greet` method and run the `npm` commands against it. The break-point is never triggered. I have also tried comment it out and ran integration test against it, looks alright.

2. My feeling

[2020-08-18 14:24] carlspring commented on #1683
Hi @cuichenli .

Thanks for looking into this!

I also don't think that this method is used for NPM. Could you please list out which `npm` commands you ran your check with?

Thanks!

Martin

[2020-08-19 12:54] KamilSynowiec commented on #1814
Hi, do you still need some help?

[2020-08-19 23:14] julienmnr commented on #1819
Hi all, thanks to @anki2189  for its solution, this one was the right one and everything worked well, thanks again.

[2020-08-20 11:36] cuichenli commented on #1683
I tried those commands:

- npm [adduser|login]
- npm publish
- npm install
- npm view
- npm search
- npm unpublish

[2020-08-20 11:39] carlspring commented on #1683
Feel free to submit a pull request that removes this method from the controller. Thanks for checking!

[2020-08-20 13:02] carlspring commented on #1819
@julienmnr : This was a temporary solution. @anki2189 will work on a more permanent configurable solution.

[2020-08-20 13:53] cuichenli opened #1824 "Npm integration test - npm-add-user-tests failed to send login request"
# Bug Description
The integration test is failing on `npm/npm-add-user-tests`. When the test program tries to send login request, it is not recognizing the `.npmrc` file under the `npm-add-user-test` directory and send request to `localhost`, instead, it is sending login request to `https://registry.npmjs.org/-/v1/login`.

This behaviour is causing the integration test hang and fail eventually - w

[2020-08-20 14:11] carlspring commented on #1824
Hi @cuichenli ,

Thanks for reporting this!

It would be more helpful, if you could attach the actual logs, instead of the screenshots of the consoles.

Would you mind testing it with the version of `npm` that we have in our docker images and check your suspicion...?

[2020-08-20 20:37] carlspring opened #1825 "Upgrade the versions of the tools we use in the strongbox-web-integration tests"
# Task Description

We need to upgrade the versions of the tools that we use in the [strongbox-web-integration-tests]. This is the master task to cover this work.

# Tasks

The following tasks will need to be carried out:
* [x] Upgrade the version of Chocolatey in [strongbox-web-integration-tests] to the latest ( #1826 )
* [x] Upgrade the version of Gradle in [strongbox-web-integration-tests] to t

[2020-08-20 20:37] carlspring opened #1826 "Upgrade the version of Chocolatey in strongbox-web-integration to the latest"
# Task Description

As part of #1825 , we need to upgrade the version of Chocolatey in [strongbox-web-integration-tests] to the latest.

# Tasks

The following tasks will need to be carried out:
* [x] Update [ci-build-images] to use the latest version of Chocolatey for Linux.
* [x] Rebuild the images for Chocolatey.
* [x] Check if all the tests in the [strongbox-web-integration-tests] still pass.

[2020-08-20 20:37] carlspring opened #1827 "Upgrade the version of Gradle in strongbox-web-integration to the latest"
# Task Description

As part of #1825 , we need to upgrade the version of Gradle in [strongbox-web-integration-tests] to the latest.

# Tasks

The following tasks will need to be carried out:
* [ ] Update [ci-build-images] to use the latest version of Gradle for Linux.
* [ ] Rebuild the images for Gradle.
* [ ] Check if all the tests in the [strongbox-web-integration-tests] still pass.

# Task Rela

[2020-08-20 20:38] carlspring opened #1828 "Upgrade the version of NPM in strongbox-web-integration to the latest"
# Task Description

As part of #1825 , we need to upgrade the version of NPM in [strongbox-web-integration-tests] to the latest.

# Tasks

The following tasks will need to be carried out:
* [ ] Update [ci-build-images] to use the latest version of NPM for Linux.
* [ ] Rebuild the images for NPM.
* [ ] Check if all the tests in the [strongbox-web-integration-tests] still pass.

# Task Relationships

[2020-08-20 20:38] carlspring opened #1829 "Upgrade the version of Nuget in strongbox-web-integration to the latest"
# Task Description

As part of #1825  , we need to upgrade the version of Nuget in [strongbox-web-integration-tests] to the latest.

# Tasks

The following tasks will need to be carried out:
* [ ] Update [ci-build-images] to use the latest version of Nuget for Linux.
* [ ] Rebuild the images for Nuget.
* [ ] Check if all the tests in the [strongbox-web-integration-tests] still pass.

# Task Relati

[2020-08-20 20:38] carlspring opened #1830 "Upgrade the version of SBT in strongbox-web-integration to the latest"
# Task Description

As part of #1825 , we need to upgrade the version of SBT in [strongbox-web-integration-tests] to the latest.

# Tasks

The following tasks will need to be carried out:
* [ ] Update [ci-build-images] to use the latest version of SBT for Linux.
* [ ] Rebuild the images for SBT.
* [ ] Check if all the tests in the [strongbox-web-integration-tests] still pass.

# Task Relationships

[2020-08-23 19:01] mohamedelkashif commented on #1819
@anki2189 Started on it.

[2020-08-25 00:43] sbespalov commented on #1741
fixed

[2020-08-25 00:43] #1741 closed

[2020-08-25 02:13] sbespalov commented on #1745
most likely it could be fixed same way as #1831

[2020-08-25 02:14] sbespalov commented on #1746
most likely it could be fixed same way as #1831

[2020-08-25 10:17] carlspring commented on #1754
@sbespalov  @steve-todorov : What is the status of this task? Could it now be considered complete?

[2020-08-25 10:17] carlspring commented on #1790
@sbespalov @steve-todorov : What is the status of this task? Could it now be considered complete?

[2020-08-26 00:52] sbespalov commented on #1790
@carlspring the development was completed. Maybe we need to get confirmation from @steve-todorov that it works as needed. Also we probably need to make `sb-against-sb` Jenkins jobs to use standalone cassandra instance.

[2020-08-26 00:54] sbespalov commented on #1754
need to clarify whether we use standalone Cassandra with with proper JG settings for `sb-against-sb` in Jenkins and how it affected on build times.

[2020-08-26 07:36] ZivGrin commented on #1815
I would love to try helping this project, may I?

[2020-08-26 10:37] carlspring commented on #1815
Hi @ZivGrin ,

Feel free to give it a go and to join our [chat channel](https://chat.carlspring.org/)!

[2020-08-27 21:18] PayalSainathMehta commented on #1819
Hi I would like to contribute to this.

[2020-09-01 15:46] pp2411 commented on #1815
hey! I wanted to work on thi issue. may I ?

[2020-09-01 16:18] carlspring commented on #1815
Hi!
Feel free to do so!

[2020-09-01 22:27] steve-todorov commented on #1790
Sorry guys, I have been busy with other tasks and haven't been able to test this just yet. Will try to go over it this week. :/

[2020-09-03 01:22] carlspring commented on #1819
@mohamedelkashif : Any progress...? :)

[2020-09-03 13:42] steve-todorov commented on #1679
I agree with @sbespalov's suggestion - it should work in the short-term. The task list should be something like this:
* [StrongboxSecurityConfig.java] -
   * This class currently serves no purpose - maybe we should remove it?
   * The `passwordEncoder` part should be moved in [SecurityConfig.java] and refactored to use a custom version of `org.springframework.security.crypto.password.DelegatingPas

[2020-09-04 02:52] sbespalov commented on #1800
To avoid id allocation using storage backend, the following options are possible in JG:
1. Use `IDManager.toVertexId(long id)` and make corresponding changes within strongbox-data-service (requires `graph.set-vertex-id` option to be enabled)

    This is the easiest way which won't require any changes in JG. We could get the unique IDs using `long` hash from `UUID` value. Changes need to be done f

[2020-09-07 01:43] sbespalov commented on #1679
@steve-todorov thanks for update!
Purposed sub-tasks seems right in general, just one thing which I would slightly adjust:

this class purpose is for `@ComponentScan`  at most, so the `strongbox-security-api` module could scan the appropriate subpackages. Instead of removing this configuration class I would suggest to rename `org.carlspring.strongbox.config.SecurityConfig` to `org.carlspring.stron

[2020-09-07 12:03] steve-todorov commented on #1679
Thanks for clarifying! I'll add another task related to this one with the description.

In that case - it'd be better to rename it to `StrongboxSecurityApiConfig` (following the module name), because otherwise it will leaves the false sense that it is the `WebSecurityConfig`, but in reality the entire web security configuration is under `strongbox-web-core` in the `SecurityConfig` class (we should

[2020-09-08 00:33] carlspring commented on #1800
https://tools.ietf.org/html/rfc4122#section-3

[2020-09-09 19:29] Sanketh-Maturi commented on #1111
Hey, can I take this up?

[2020-09-12 08:10] rakeswain commented on #1814
Hi, Can I contribute to this issue?

[2020-09-14 15:13] aminnb commented on #1814
Hi, I would like to contribute to this issue. Do you still need help?

[2020-09-14 15:15] carlspring commented on #1814
Guys, you can just go ahead nad pick this up and proceed with it.

[2020-09-15 09:13] carlspring opened #1834 "Create pages for hackfests"
# Task Description

We need to add pages for hackfests, especially now, with the Grace Hopper Opensource Day and #Hacktoberfest beiing right around the corner.

# Tasks

The following tasks will need to be carried out:
* [x] Create a new section in the wiki for Hackfests
* [x] Create a new generic page for hack fests
* [x] Create a new page for Grace Hopper Celebration Opensource Day
* [x] Create

[2020-09-15 23:17] carlspring opened #1835 "Add documentation on how to upgrade dependencies and plugins"
# Task Description

We need to add a page in our wiki that clearly defines how to upgrade Maven dependencies and plugins, as well as how to test if things are really working properly after an upgrade.

# Tasks

The following tasks will need to be carried out:
* [x] Add a page that outlines the steps that will need to be taken.
* [x] Create a new issue template for this.
* [x] Update all of our exi

[2020-09-16 16:04] dreameral commented on #1401
Can I work on this?

[2020-09-16 17:12] carlspring commented on #1401
@dreameral : This task is on hold. Perhaps you could look for another one? :)

[2020-09-17 15:26] dreameral commented on #1515
Can I work on this?

[2020-09-17 17:26] carlspring commented on #1573
@sbespalov / @steve-todorov ,

I assume we can we proceed with closing this task?

[2020-09-17 17:37] steve-todorov commented on #1573
Lol... Yeah I believe we're way past the PoC part. :)

[2020-09-17 17:42] carlspring commented on #1573
Amen for that! :)

[2020-09-17 17:42] #1573 closed

[2020-09-21 01:38] carlspring commented on #1800
@steve-todorov ,

Here's an issue @sbespalov found that's related to this research JanusGraph/janusgraph/issues/1514.

[2020-09-21 23:07] patrickstigler opened #1839 "Import / Export / Sync from/to iCloud Keychain"
# Task Description

I would like to migrate all my passwords from iCloud Keychain. In the best case I'd like to sync my Passwords from/to iCloud with my Keepass container. Since I also use different OS/Hardware I don't want to Lookup my updated password I updated using my iphone on the PC and update it in the Keepass container manually.

# Tasks

The following tasks will need to be carried out:
*

[2020-09-21 23:11] #1839 closed

[2020-09-21 23:11] carlspring commented on #1839
Hi,

You've posted this issue to the wrong project. I assume you're referring to the [strongbox-password-safe/Strongbox project](https://github.com/strongbox-password-safe/Strongbox). I'm therefore closing this bug report.

Kind regards,

Martin

[2020-09-22 01:06] sbespalov commented on #1800
Regarding the options above probably the only reasonable for us now is `2.` It could take few weeks to be done, including conversations with JG team.

Last research shows that `1.` will require JG improvements as well ([janusgraph/issues/1514](https://github.com/JanusGraph/janusgraph/issues/1514)) and this makes that option a losing one compared to the `2.`, and the `3.` is still to complex and do

[2020-09-22 11:25] carlspring commented on #1800
In my opinion, we'll need janusgraph/issues/1514 either way, regardless of which option we pick. This is correct, right, @sbespalov ?

[2020-09-22 11:37] sbespalov commented on #1800
with `2.` we don't need this, it needed only for `1.`

[2020-09-22 11:41] carlspring commented on #1800
Right, would you mind clarifying why?

[2020-09-22 11:49] sbespalov commented on #1800
because with `1.` we need to provide IDs manually and [`JanusGraph/janusgraph#1514](https://github.com/JanusGraph/janusgraph/issues/1514) is about manual assigned IDs
with `2.` we don't need to manually assign IDs, so it don't need [`JanusGraph/janusgraph#1514](https://github.com/JanusGraph/janusgraph/issues/1514)

[2020-09-22 20:19] steve-todorov opened #1840 "Improve password encoding support for LDAP"
# Bug Description

In LDAP the `userPassword` attribute contains the hash of the password encoded as `base64` and the end result in LDAP will be something like this `{ALG}base64.encode(md5/sha1/bcrypt(mypassword))`. The `PasswordEncoder` in Spring, however, expects that the part after `{ALG}` is actually the `hash` which causes login failures. If you have saved the `userPassword` using [PasswordEn

[2020-09-22 20:28] steve-todorov opened #1841 "Implement LDAP bind authentication"
# Task Description

We need to implement `bind` authentication support in order to improve the reliability of our LDAP authentication support.
Currently, we're using `password comparison` to lookup and validate the user. However, as mentioned in https://github.com/strongbox/strongbox/issues/1679#issuecomment-686501024, this won't always work and won't work for sure for AD installations where you c

[2020-09-22 20:28] steve-todorov commented on #1679
I'm closing this in favor of #1840 and #1841. Thanks for your help in clearing the specs @sbespalov ! :)

[2020-09-22 20:28] #1679 closed

[2020-09-24 00:51] sbespalov opened #1842 "Replace property literals with `Properties` constants"
# Task Description
All the vertices and edges property literals should be replaced with corresponding constant from `org.carlspring.strongbox.db.schema.Properties`. This should be fixed mostly in `org.carlspring.strongbox.gremlin.adapters` package.

# Task Relationships

This task:
* Is a sub-task of: #1649

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contact:
  * @carlspring

[2020-09-24 01:17] sbespalov opened #1843 "Change default cassandra credentials for `db_EMBEDDED` profile"
# Task Description
We should change the default cassandra credentials in case of `-Dstrongbox.db.profile=db_EMBEDDED`.  This requires to find the proper way to set custom credentials within first start of the embedded cassandra instance.

# Tasks

The following tasks will need to be carried out:
* [ ] propose and agree on a suitable way for changing the cassandra login and password
* [ ] make the

[2020-09-24 01:57] sbespalov opened #1844 "Implement the rest of common `GremlinRepository` methods"
# Task Description
Methods which throws `UnsupportedOperationException` should be implemented with Gremlin query language.

# Tasks

The following tasks will need to be carried out:
* [ ] provide methods implementation
* [ ] make unit tests

# Task Relationships

This task:
* Is a sub-task of: #1649

# Useful Links

* [Gremlin](https://docs.janusgraph.org/basics/gremlin/)

# Help

* [Our chat](htt

[2020-09-24 02:27] sbespalov opened #1845 "Store dates in UTC"
# Task Description
All dates that we store in DB should have UTC time zone. The example is `UserEntity.lastUpdated`.

# Tasks

The following tasks will need to be carried out:
* [ ] set the JVM default timezone to UTC within application startup
* [ ] check that all dates stored in UTC
* [ ] convert dates to UTC if needed

# Task Relationships

This task:
* Is a sub-task of: #1649

# Help

* [Our c

[2020-09-25 13:27] carlspring opened #1846 "Backport the fixes related to replacing ApacheDS with UnboundID from pull #1783 to the master"
# Task Description

We should backport the fixes from #1783 that related to ApacheDS being replaced with UnboundID to the `master`. The version of the `com.unboundid:unboundid-ldapsdk:5.0.1` (see [here](https://github.com/strongbox/strongbox/pull/1783/files#diff-f96b8068a631d962b8fd30f5eaaedb24R164)) should be extracted to the [strongbox-parent](https://github.com/strongbox/strongbox-parent/) proj

[2020-09-27 21:53] soapdogg commented on #1552
Hi,

I'm new to contributing and would love to work on this refactoring task. Thanks!

[2020-09-27 22:55] carlspring commented on #1552
@soapdogg (and anyone else for this matter),

Please, only pick this task, if you have experience with Spring Boot and Spring Security.

I would also like to invite you to join our [chat channel](https://chat.carlspring.org/) where you can find more details regarding what other tasks you might be able to help with.

[2020-09-28 01:03] carlspring commented on #1821
I don't believe this is an issue. If you have evidence this isn't so, please feel free to provide it and make your case. I am closing it for now.

[2020-09-28 01:03] #1821 closed

[2020-09-29 21:03] carlspring opened #1847 "Upgrade commons-beanutils from 1.9.3 to 1.9.4"
# Task Description

We need to upgrade `commons-beanutils:commons-beanutils:1.9.3` to `1.9.4`, as it fixes security vulnerabilites.

An automated pull request ( strongbox/strongbox-parent#78 )  was raised by `dependabot`.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Apply any required code changes, or dependency exclud

[2020-09-29 23:35] carlspring opened #1848 "Upgrade Jetty from 9.4.18.v20190429 to 9.4.31.v20200723"
# Task Description

We need to upgrade Jetty from version `9.4.18.v20190429` to `9.4.31.v20200723`.

Please, note that you might need to override some of the `spring-boot` Jetty-related dependencies.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Apply any required code changes, or dependency excludes.
* [ ] Test and con

[2020-09-30 00:00] carlspring commented on #1819
This task is now up for grabs.

[2020-09-30 00:20] carlspring opened #1849 "Remove the net.sf.ehcache:ehcache-core dependency from the strongbox-parent and all strongbox modules"
# Task Description

We are no longer using EHCache. However, we still seem to have the dependency in both the [strongbox-parent] and [strongbox] modules. These dependencies need to be removed.

# Tasks

The following tasks will need to be carried out:
* [ ] Drop the dependency from the [strongbox-parent] project and check, if this causes any issues.
* [ ] Test and confirm that there are no issues

[2020-09-30 00:25] carlspring opened #1850 "Upgrade our slf4j dependencies from 1.7.24 to 1.7.30"
# Task Description

We need to upgrade our slf4j dependencies from `1.7.24` to `1.7.30`.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Apply any required code changes, or dependency excludes.
* [ ] Test and confirm that there are no issues with the core projects ([strongbox], [strongbox-web-integration-tests], etc) afte

[2020-09-30 00:30] carlspring opened #1851 "Upgrade org.apache.httpcomponents:httpclient from 4.5 to 4.5.12"
# Task Description

We need to upgrade `org.apache.httpcomponents:httpclient` from `4.5` to `4.5.12`.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Apply any required code changes, or dependency excludes.
* [ ] Test and confirm that there are no issues with the core projects ([strongbox], [strongbox-web-integration-test

[2020-09-30 00:39] carlspring opened #1852 "Upgrade our JUnit dependencies from 5.4.0 to 5.7.0"
# Task Description

We need to upgrade our JUnit dependencies from `5.4.0` to `5.7.0`.

Please, note that we are using JUnit Jupiter and that our dependency tree should not be showing any `junit` dependencies from the `4.x` series.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Add a dependency exclusion for `junit` unde

[2020-09-30 00:50] carlspring opened #1853 "Upgrade our hamcrest dependencies from 1.3 to 2.2"
# Task Description

We need to upgrade our `hamcrest` dependencies from `1.3` to `2.2`.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Apply any required code changes, or dependency excludes.
* [ ] Test and confirm that there are no issues with the core projects ([strongbox], [strongbox-web-integration-tests], etc) after

[2020-09-30 00:53] carlspring opened #1854 "Upgrade our rest-assured dependencies from 3.1.1 to 4.3.1"
# Task Description

We need to upgrade our `rest-assured` dependencies from `3.1.1` to `4.3.1`.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Apply any required code changes, or dependency excludes.
* [ ] Test and confirm that there are no issues with the core projects ([strongbox], [strongbox-web-integration-tests], et

[2020-09-30 00:58] carlspring opened #1855 "Upgrade our Quartz dependencies from 2.3.0 to 2.3.2"
# Task Description

We need to upgrade our Quartz dependencies from `2.3.0` to `2.3.2`.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Apply any required code changes, or dependency excludes.
* [ ] Test and confirm that there are no issues with the core projects ([strongbox], [strongbox-web-integration-tests], etc) after

[2020-09-30 01:02] carlspring opened #1856 "Upgrade our awaitility dependencies from 3.1.2 to 4.0.3"
# Task Description

We need to upgrade `awaitility dependencies from `3.1.2` to `4.0.3`.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Apply any required code changes, or dependency excludes.
* [ ] Test and confirm that there are no issues with the core projects ([strongbox], [strongbox-web-integration-tests], etc) afte

[2020-09-30 01:18] carlspring opened #1857 "Upgrade our swagger dependencies from 1.5.18 to 1.6.2"
# Task Description

We need to upgrade our swagger dependencies from `1.5.18` to `1.6.2`.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Apply any required code changes, or dependency excludes.
* [ ] Test and confirm that there are no issues with the core projects ([strongbox], [strongbox-web-integration-tests], etc) aft

[2020-09-30 01:22] carlspring opened #1858 "Upgrade our UnboundID dependencies from 4.0.9 to 5.1.1"
# Task Description

We need to upgrade UnboundID dependencies from `4.0.9` to `5.1.1`.

It would probably be a good idea to do this task together with #1846 (which is not much work).

# Tasks

The following tasks will need to be carried out:
* [x] Update the version in the [strongbox-parent] project.
* [x] Apply any required code changes, or dependency excludes.
* [x] Test and confirm that there a

[2020-09-30 01:38] carlspring opened #1859 "Upgrade commons-codec:commons-codec from 1.11 to 1.15"
# Task Description

We need to upgrade `commons-codec:commons-codec` from `1.11` to `1.15`.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Apply any required code changes, or dependency excludes.
* [ ] Test and confirm that there are no issues with the core projects ([strongbox], [strongbox-web-integration-tests], etc) a

[2020-09-30 01:41] carlspring opened #1860 "Upload commons-fileupload:commons-fileupload from 1.3.3 to 1.4"
# Task Description

We need to upgrade `commons-fileupload:commons-fileupload` from `1.3.3` to `1.4`.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Apply any required code changes, or dependency excludes.
* [ ] Test and confirm that there are no issues with the core projects ([strongbox], [strongbox-web-integration-test

[2020-09-30 01:58] carlspring opened #1861 "Upgrade commons-io:commons-io from 2.5 to 2.8.0"
# Task Description

We need to upgrade `commons-io:commons-io` from `2.5` to `2.8.0`.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Apply any required code changes, or dependency excludes.
* [ ] Test and confirm that there are no issues with the core projects ([strongbox], [strongbox-web-integration-tests], etc) after u

[2020-09-30 02:12] carlspring opened #1862 "Upgrade from commons-collections:commons-collections:3.2.2 to org.apache.commons:commons-collections4:4.4"
# Task Description

We need to upgrade `commons-collections:commons-collections:3.2.2` to `org.apache.commons:commons-collections4:4.4`. Please, note that this will probably require code changes as well.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Apply any required code changes, or dependency excludes.
* [ ] Test and

[2020-09-30 02:35] carlspring opened #1864 "Add a rule using the maven-enforcer plugin that requires Maven 3.6.3"
# Task Description

We should add a Maven Enforcer rule that requires Maven 3.6.3 in order to build the code.

# Tasks

The following tasks will need to be carried out:
* [ ] Add this rule in the [strongbox-parent].
* [ ] Apply this rule to the [strongbox] project.
* [ ] Apply this rule to the [strongbox-web-integration-tests].

# Help

* [Our chat](https://chat.carlspring.org/)
* Points of contac

[2020-09-30 02:42] carlspring opened #1865 "Add a rule using the maven-enforcer plugin that requires JDK 8 (or 11)"
# Task Description

We should add a Maven Enforcer rule that requires:
* JDK 1.8 (if possible, `1.8.0_241` or higher) in order to build the code. This check should be in a Maven profile that's triggered, unless the JDK is 11.x.
* JDK 11 (if possible, `11.3`, or a higher `11.x`) in order to build the code. This check should be in a Maven profile that's triggerred only if the JDK is not JDK 1.8.

Pl

[2020-09-30 02:58] Baibhab97 commented on #1850
Hi @carlspring , I would like to take this up. Please assign it to me. I will raise the PR after 1st October.

[2020-09-30 03:09] carlspring commented on #1850
Hi @Baibhab97 ,

Thanks for offering to help! If no one else has picked it up during the Grace Hopper Celebration (Opensource Day), which will be on October 1st, then feel free to look into it.

[2020-09-30 12:44] suryaprakashraja commented on #1865
@carlspring I can work on adding maven enforcer rule for Java 8) over the weekend. Never worked with JDK 11. But i will give it a try. Can you pls assign this to me?

[2020-09-30 14:38] steve-todorov commented on #1865
Hi @suryaprakashraja - this task is currently meant for the participants in the GraceHopperOSD event. Are you in our slack channel?

[2020-09-30 15:42] suryaprakashraja commented on #1865
Hello @steve-todorov , I am not in slack channel. but I would love to be a part of this project. Since this issue was tagged for hacktoberfest2020, I took the liberty of requesting assignation.

[2020-09-30 15:45] carlspring commented on #1865
Hi @suryaprakashraja ,

This task is open for both the Grace Hopper Open Source Day (GHC OSD) and #Hacktoberfest. GHC OSD is taking place on the 1st of October. If nobody takes this task on the day, then it's all yours.

You can also join our [chat channel](https://chat.carlspring.org/) for more details.

[2020-09-30 16:55] ptirador commented on #1852
Hi @carlspring! Can I take this with my beloved JUnit?

[2020-10-01 03:20] R85858 opened #1868 "Some creation"
# Bug Description

Describe the bug/issue you have.

# Steps To Reproduce

1.
2.
3.
4.

# Expected Behavior

# Screenshots

# Environment

* Strongbox Version:
* OS:
* Maven version (please provide the full output of `mvn --version`):
* Browser (if related to UI):

# Additional context

# Proposed Solution

# Known Workarounds

# Useful Links

* [link1]()
* [link2]()
* [link3]()

# Task Relationsh

[2020-10-01 03:21] R85858 opened #1869 "Upergation"
# Task Description

We need to upgrade `com.foo:bar` to version `1.2.3`.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Apply any required code changes, or dependency excludes.
* [ ] Test and confirm that there are no issues with the core projects ([strongbox], [strongbox-web-integration-tests], etc) after upgrading.

#

[2020-10-01 07:48] madhukarbharti commented on #1864
@carlspring
@sbespalov
@steve-todorov May I work on this

[2020-10-01 07:48] Puneethkumarck commented on #1861
@carlspring I see bunch of issues related to library upgrades shall i take those upgrade for strongbox parent and test in child projects and raise pull request. as you mentioned in other issue i will wait for today GHC OSD to finish , if not done planning to pick this up tomorrow. Any comments?

[2020-10-01 08:01] dms-yondy commented on #1858
May I work on this and #1858 please?

[2020-10-01 09:44] carlspring commented on #1864
Hi @madhukarbharti ,

If you're taking part in the Grace Hopper Open Source Day later on today, then -- yes, please! If not, or if you're taking part in #Hacktoberfest, then please wait until the 2nd of October, before picking this up.

Please, feel free to join our [chat channel](https://chat.carlspring.org/) for more details.

[2020-10-01 09:46] carlspring commented on #1869
@R85858 ,

If you're experimenting with Github, then please create your own repository and do so there.

[2020-10-01 09:46] #1869 closed

[2020-10-01 09:46] #1868 closed

[2020-10-01 09:50] carlspring commented on #1861
Hi @Puneethkumarck ,

Sounds good to me! Just wait for GHC OSD to finish today, (October 1st), and, if not taken, go for it! :)

Also, please feel free to join our [chat channel](https://chat.carlspring.org/).

[2020-10-01 11:37] ripudaman1320 commented on #1864
Hi @carlspring ,

Can i work on this issue as part of #Hacktoberfest.

Thanks!
-Ripu

[2020-10-01 11:41] carlspring commented on #1864
Okay, go for it.

[2020-10-01 14:16] carlspring opened #1870 "Upgrade the maven-surefire-plugin and maven-failsafe-plugin to 3.0.0-M5"
# Task Description

We need to upgrade both plugins to version to version `3.0.0-M5`.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Test and confirm that there are no issues with the core projects ([strongbox], [strongbox-web-integration-tests], etc) after upgrading.

# Help

* Check our article on [how to upgrade depen

[2020-10-01 14:18] carlspring opened #1871 "Upgrade the maven-resources-plugin from 3.0.2 to 3.2.0"
# Task Description

We need to upgrade the `maven-resources-plugin` from `3.0.2` to `3.2.0`.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Test and confirm that there are no issues with the core projects ([strongbox], [strongbox-web-integration-tests], etc) after upgrading.

# Help

* Check our article on [how to upgrad

[2020-10-01 14:19] carlspring opened #1872 "We need to upgrade the maven-jar-plugin from 3.0.2 to 3.2.0"
# Task Description

We need to upgrade the `maven-jar-plugin` from `3.0.2` to `3.2.0`.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Test and confirm that there are no issues with the core projects ([strongbox], [strongbox-web-integration-tests], etc) after upgrading.

# Help

* Check our article on [how to upgrade depe

[2020-10-01 14:21] carlspring opened #1873 "We need to upgrade the appassembler-maven-plugin from 2.0.0 to 2.1.0"
# Task Description

We need to upgrade the `org.codehaus.mojo:appassembler-maven-plugin` from `2.0.0` to `2.1.0`.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Test and confirm that there are no issues with the core projects ([strongbox], [strongbox-web-integration-tests], etc) after upgrading.
* [ ] Check and confirm t

[2020-10-01 14:23] carlspring opened #1874 "Upgrade the org.codehaus.mojo:build-helper-maven-plugin from 1.9.1 to 3.2.0"
# Task Description

We need to upgrade the `org.codehaus.mojo:build-helper-maven-plugin` from `1.9.1` to `3.2.0`.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Test and confirm that there are no issues with the core projects ([strongbox], [strongbox-web-integration-tests], etc) after upgrading.

# Help

* Check our arti

[2020-10-01 14:24] carlspring opened #1875 "Upgrade the maven-source-plugin from 2.2.1 to 3.2.1"
# Task Description

We need to upgrade the `maven-source-plugin` from `2.2.1` to `3.2.1`.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Test and confirm that there are no issues with the core projects ([strongbox], [strongbox-web-integration-tests], etc) after upgrading.

# Help

* Check our article on [how to upgrade d

[2020-10-01 14:26] carlspring opened #1876 "Upgrade the maven-enforcer-plugin from 3.0.0-M1 to 3.0.0-M3"
# Task Description

We need to upgrade the `maven-enforcer-plugin` from `3.0.0-M1` to `3.0.0-M3`.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Test and confirm that there are no issues with the core projects ([strongbox], [strongbox-web-integration-tests], etc) after upgrading.

# Help

* Check our article on [how to u

[2020-10-01 14:28] carlspring opened #1877 "Upgrade the maven-assembly-plugin from 3.1.1 to 3.3.0"
# Task Description

We need to upgrade `maven-assembly-plugin` from `3.1.1` to `3.3.0`.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Test and confirm that there are no issues with the core projects ([strongbox], [strongbox-web-integration-tests], etc) after upgrading.
* [ ] Check and confirm that the `tar.gz` and `zip`

[2020-10-01 14:32] carlspring opened #1878 "Upgrade the org.jacoco:jacoco-maven-plugin from 0.8.2 to 0.8.6"
# Task Description

We need to upgrade the `org.jacoco:jacoco-maven-plugin` from `0.8.2` to `0.8.6`.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Test and confirm that there are no issues with the core projects ([strongbox], [strongbox-web-integration-tests], etc) after upgrading.

# Help

* Check our article on [how t

[2020-10-01 14:39] cunhazera commented on #1878
I can take care of it

[2020-10-01 14:41] bmsbharathi commented on #1877
@carlspring  can I work on this?

[2020-10-01 14:43] carlspring commented on #1878
@cunhazera ,

Thanks for offering to help!

This particular task is mainly for an event that we're hosting today with the Grace Hopper Celebration Open Source Day. Would you mind holding off for day (if no one picks it up during the event, it's yours), (or picking a non-dependency/plugin upgrade task)? For more details, you can join our [chat channel](https://chat.carlspring.org/) where we can dis

[2020-10-01 14:45] bmsbharathi commented on #1875
@carlspring Can I work on this?

[2020-10-01 14:47] cunhazera commented on #1878
@carlspring thanks for the response. No worries at all :)
Maybe this one (https://github.com/strongbox/strongbox/issues/1873) would be better?

[2020-10-01 17:23] DLambros91 commented on #1859
I will look into this upgrade.

[2020-10-01 17:26] tanvimehta commented on #1878
I am a GHC OSD participant. I would like to work on this task

[2020-10-01 17:28] MrunalRajput commented on #1876
Hello! I am a Grace Hopper attendee. I would like to take this one.

[2020-10-01 17:38] shravyags commented on #1850
Hello! I am a Grace Hopper attendee. Can I work on this?

[2020-10-01 17:47] roshinisebastian commented on #1857
@carlspring @sbespalov @steve-todorov I am GHC attendee. May I work on this issue?

[2020-10-01 17:50] ratisaxena commented on #1851
Can I pick this up ?

[2020-10-01 17:57] steve-todorov commented on #1851
Sure! :)

[2020-10-01 18:01] steve-todorov commented on #1877
Hi @bmsbharathi - are you from GHC?

[2020-10-01 18:07] yuhanzz commented on #1872
Hi @carlspring, I'm a GHC attendee. Can I work on this one?

[2020-10-01 18:12] steve-todorov commented on #1875
@bmsbharathi Are you from GHC ?

[2020-10-01 18:13] steve-todorov commented on #1872
Sure! :)

[2020-10-01 18:23] steve-todorov commented on #1876
Feel free! :)

[2020-10-01 18:24] psharma14 commented on #1860
Can I pick this up @carlspring ? :)

[2020-10-01 18:25] carlspring commented on #1860
Yes, please! Go for it! :)

[2020-10-01 18:35] steve-todorov commented on #1850
Sure you can @shravyags! :)

[2020-10-01 18:37] steve-todorov commented on #1859
@DLambros91 are you from GHC? :)

[2020-10-01 18:41] ratisaxena commented on #1851
Facing the following issue when running the integration tests `mvn clean install -Dintegration.tests` . However the test passes when ran individually.
[code]

[2020-10-01 18:50] mknutsen79 commented on #1874
Hello I am a WSU student and would like to take this one

[2020-10-01 18:52] bmsbharathi commented on #1877
@steve-todorov I am not from GHC.

[2020-10-01 18:56] bmsbharathi commented on #1875
@steve-todorov I am not from GHC

[2020-10-01 18:58] bmsbharathi commented on #1873
@carlspring Can I work on this?

[2020-10-01 19:00] carlspring commented on #1873
Hi,

Yes, please! Go for it! :)

[2020-10-01 19:00] carlspring commented on #1878
Hi @tanvimehta ,

Yes, please! Go for it! :)

[2020-10-01 19:04] carlspring commented on #1875
@bmsbharathi ,

Thanks for offering to help!

All the Grace Hopper OSD 2020 tasks are marked with the label `GraceHopperOSD`, please avoid these today (the 1st of October, unless you are a participant in the event). If these are not implemented by tomorrow, then feel free to pick them up.

For more details, you can join our [chat channel](https://chat.carlspring.org/) where we can discuss what oth

[2020-10-01 19:05] steve-todorov commented on #1858
Hi @dms-yondy - are you from GHC?

[2020-10-01 19:12] DLambros91 commented on #1859
@steve-todorov I am not, just an interested open-source contributor. If being from GHC is a requirement, you may ignore the previous message

[2020-10-01 19:20] steve-todorov commented on #1859
Thanks for your reply! The GraceHopperOSD labeled issues are only for participants in the Grace Hopper Celebration. If nobody takes this task today you can work on it tomorrow. :)

[2020-10-01 19:20] MadisonReese commented on #1848
GHC

[2020-10-01 19:22] carlspring commented on #1848
@MadisonReese ,

Feel free to proceed and good luck! :)

[2020-10-01 19:22] steffisbootcampdrive commented on #1859
Hello! I am with GHC. I will take this issue.

[2020-10-01 19:25] carlspring commented on #1859
Great to have you, @steffisbootcampdrive!

Feel free to pick it up and good luck! :)

[2020-10-01 19:36] shiylxinsse commented on #1862
GHC, @carlspring please assign to me this task. thank you!

[2020-10-01 19:45] hirva10 commented on #1877
@carlspring I am from GHC and want to work on this issue

[2020-10-01 19:47] steve-todorov commented on #1877
Hi @bmsbharathi ,

Thanks for offering to help!

This particular task is mainly for an event that we're hosting today with the Grace Hopper Celebration Open Source Day. Would you mind holding off for day (if no one picks it up during the event, it's yours), (or picking a non-dependency/plugin upgrade task)? For more details, you can join our chat channel where we can discuss what other tasks might

[2020-10-01 19:49] carlspring commented on #1862
Hi @shiylxinsse ,

Feel free to pick it up and dig into it!

[2020-10-01 19:56] dms-yondy commented on #1858
no, I am doing stuff for hacktoberfest.

[2020-10-01 20:14] steve-todorov commented on #1858
Thanks for offering to help!

This particular task is mainly for an event that we're hosting today with the Grace Hopper Celebration Open Source Day. Would you mind holding off for day (if no one picks it up during the event, it's yours), (or picking a non-dependency/plugin upgrade task)? For more details, you can join our chat channel where we can discuss what other tasks might be of interest to

[2020-10-01 20:17] VanessaSingh commented on #1849
Hey @carlspring @sbespalov @steve-todorov ,

I am GHC attendee. Can I take up this issue?

[2020-10-01 20:19] dms-yondy commented on #1858
No problem. I'll join the chat and have a look at some other tasks. I am sure I can find something!

Thanks for your time :)

[2020-10-01 20:20] steve-todorov commented on #1858
Thank you for your understanding! The event will end in about 5 hours so if you nobody picks it and you are still interested - just leave a comment and start working on it.

[2020-10-01 20:24] Superbbbb commented on #1875
Hi I am a GHC participant. Can I work on this issue?

[2020-10-01 20:26] carlspring commented on #1849
Hi @VanessaSingh ,

Yes, please! Thanks for looking into it! :)

[2020-10-01 20:30] rycuda commented on #1846
Hi, GHC participant here. I'll grab this one if that's okay?

[2020-10-01 20:33] carlspring commented on #1846
Hi, Jay,

Please, feel free to pick this up! Thanks for your help! :)

[2020-10-01 20:35] carlspring commented on #1875
Hi @Superbbbb ,

Yes, please feel free to pick this up! :)

[2020-10-01 20:42] VanessaSingh commented on #1849
I have removed net.sf.ehcache:ehcache-core dependency (https://github.com/strongbox/strongbox-parent/blob/master/pom.xml#L429). Should I also remove ehcache from systemPropertyVariables (https://github.com/strongbox/strongbox-parent/blob/master/pom.xml#L186) ?

[2020-10-01 20:49] carlspring commented on #1849
Yes, absolutely! Thank you! :)

[2020-10-01 20:50] steve-todorov commented on #1849
Hmm - could you check if `ehcache.disk.store.dir` is not being used in the strongbox/strongbox project? If not - it's probably safe to remove.

[2020-10-01 20:57] carlspring commented on #1849
All references in the code to `ehcache` should be safe to remove. Also, if you could do a:
[code]
and check for any transitive `ehcache` dependencies that could be excluded via the `strongbox-parent`, that would be highly appreciated! :+1:

[2020-10-01 22:34] sijingx commented on #1871
I'm a GHC attendee, can I take this issue? Thanks a lot.

[2020-10-01 22:35] carlspring commented on #1878
Join our [chat channel](https://chat.carlspring.org/) and we'll find you something! :)

[2020-10-01 22:37] carlspring commented on #1871
Hi @sijingx ,

Thanks for offering! Please, feel free to pick it up! :)

[2020-10-01 22:51] steve-todorov opened #1882 "Attach local .m2 in the docker-compose container"
# Task Description

On some occasions you would want to do `docker-compose up` to do a quick build.
However, the current `docker-compose.yaml` file in strongbox/strongbox does not contain the local `.m2` which might lead to exceptions like
[code]

An example fix is available here:
https://github.com/strongbox/strongbox-web-integration-tests/blob/master/sbt/docker-compose.yml

# Help

* [Our chat](

[2020-10-01 22:54] hirva10 commented on #1882
Can I take this up?

[2020-10-01 23:47] sreejadas commented on #1842
Hi, I am one of the mentors for Grace Hopper OSD. Can I work on this?

[2020-10-01 23:56] #1882 closed

[2020-10-02 00:56] #1872 closed

[2020-10-02 01:00] carlspring commented on #1877
Thank you for your contribution, @hirva10 ! :)

[2020-10-02 01:00] #1877 closed

[2020-10-02 01:13] #1850 closed

[2020-10-02 01:30] steve-todorov opened #1887 "UI breaks for storages on some resolutions"
# Bug Description

The Storage page has some issues when displaying under some resolutions like `2560 x 1600`.

# Screenshots

![Snip20201001_105](https://user-images.githubusercontent.com/2303663/94879105-f5634b80-0467-11eb-8e9e-f82a3b82de20.png)

[2020-10-02 03:00] krithikasekhar commented on #1871
Can I work on this issue? Thanks.

[2020-10-02 05:08] shambhand commented on #1827
@carlspring I would like to work on this issue

[2020-10-02 07:20] Someshbose commented on #1870
Hi @carlspring  I want to work on this upgrade. Also need some help on testing.

[2020-10-02 09:56] ankitaugale23 commented on #1847
can I work on this?

[2020-10-02 10:05] ariffebr commented on #1852
I've updated junit version and exclude the junit.
please review for Hacktoberfest.
https://github.com/strongbox/strongbox-parent/pull/86

[2020-10-02 10:22] carlspring commented on #1847
Hi @ankitaugale23 ,

Yes, please! Good luck!

[2020-10-02 12:07] ariffebr commented on #1870
kindly check this PR https://github.com/strongbox/strongbox-parent/pull/86

[2020-10-02 12:34] kosuruvarunkumar commented on #1728
Hi, I would like to work on this.
I am new to this project, Can you please help me figure out how to start looking into this issue?
@carlspring
@sbespalov
@steve-todorov

[2020-10-02 14:00] Puneethkumarck commented on #1861
@carlspring shall i pick this ? if yes could you please assign me?

[2020-10-02 14:34] kosuruvarunkumar commented on #1856
Hi, I would like to pick this up.

[2020-10-02 14:34] mknutsen79 commented on #1875
I see this one is open again, may I take this on?

[2020-10-02 16:11] carlspring commented on #1856
Hi @kosuruvarunkumar ,

Feel free to look into it! Thanks for offering to help! :)

[2020-10-02 16:16] ptirador commented on #1853
Hi @carlspring! Can I take this one?

[2020-10-02 16:35] pavluchenko commented on #1887
Hi, could you assign this issue to me, please? I want to fix it

[2020-10-02 16:44] carlspring commented on #1887
Hello @pavluchenko ,

Feel free to pick this up! :)

[2020-10-02 16:54] carlspring commented on #1853
Hi Pablo!

Yes, please!

[2020-10-02 16:56] carlspring commented on #1861
Hi,

Please, feel free to pick this up! :)

[2020-10-02 18:15] AkshayBabbar commented on #1855
Can I try this?

[2020-10-02 18:31] AkshayBabbar commented on #1855
is this already done?

`<version.quartz>2.3.2</version.quartz>`

I can see this in Strongbox-parent pom.xml. Please let me know... :)

[2020-10-02 18:35] carlspring commented on #1855
Yes, please! :)

[2020-10-02 18:42] AkshayBabbar commented on #1854
How to complete this I have done the necessary changes.

[2020-10-02 18:48] carlspring commented on #1855
Thanks for flagging this! I will close it.

[2020-10-02 18:48] #1855 closed

[2020-10-02 19:17] sulemangit commented on #1878
I see there is a merge (Issue#1878) , is it still open for work ??

[2020-10-02 20:36] #1878 closed

[2020-10-02 21:07] carlspring commented on #1842
@sreejadas ,

Sorry, I've only just seen your message! Yes, please feel free to look into this. Please, note that the work for this should be done against the `issues/1649` branch.

[2020-10-02 22:25] #1875 closed

[2020-10-02 22:25] carlspring commented on #1875
Thank you, @Superbbbb ! Congratulations on your first pull request! :)

[2020-10-02 22:59] sulemangit commented on #1871
picking this up

[2020-10-03 00:06] steve-todorov commented on #1862
Hey @shiylxinsse - did you perhaps forget to push your changes or maybe you are no longer interested in this task? :)

[2020-10-03 00:53] #1828 closed

[2020-10-03 01:47] AkshayBabbar commented on #1855
Please close it if you can under my name in so that it can be shown in Hacktober Fest Progress if possible?
Thanks for the help.

Regards,
Akshay Babbar

[2020-10-03 11:33] jain13tushar commented on #1887
Hi @carlspring and @steve-todorov ,

I tried to build your project and I'm getting build failure after properly checking the settings.xm

![image](https://user-images.githubusercontent.com/41324499/94990502-48d5b680-059a-11eb-8999-d9fa81e90039.png)

Can you please help me with the build ?

Regards,
Tushar

[2020-10-03 12:27] steve-todorov commented on #1887
@jain13tushar thanks for your interest! However, this task is assigned to @pavluchenko. Can you check another one?

As for your build issue - check the developer guide in our docs: https//strongbox.carlspring.org . You likely are hitting either the long path issue in windows or are using jdk > 8. Join our [chat](https://chat.carlspring.org) for help.

[2020-10-03 12:30] mehtakaran9 commented on #1553
@carlspring I would like to take a crack at this, can I try this out?

[2020-10-03 12:32] mehtakaran9 commented on #1111
Can I try this out? @carlspring

[2020-10-04 00:47] carlspring commented on #1553
Hi @mehtakaran9 ,

Thanks for offering to help! Feel free to try and reproduce it and report back your findings! Please, let use know either way! :)

[2020-10-04 00:55] wiltonoliveira commented on #1876
Hello is the task still open? I would like to try.

[2020-10-04 00:58] carlspring commented on #1876
Ola @wiltonoliveira ! :)

Yeah, I believe @MrunalRajput is still working on it. Would you mind picking up another one of our tasks and joining our [chat channel](https://chat.carlspring.org/)?

@MrunalRajput : Would you mind confirming? I believe you still had to provide a test pull request agains the `strongbox` projec.

[2020-10-04 01:23] wiltonoliveira commented on #1876
No problem! Thank you

[2020-10-04 01:28] liooh commented on #1874
Hi, I am working in the task

[2020-10-04 01:30] carlspring commented on #1874
@liooh ,

I believe @mknutsen79 is already looking into it. Would you mind picking another one of our tasks?

[2020-10-04 01:33] liooh commented on #1874
What other task do you suggest?

[2020-10-04 01:40] liooh commented on #1814
Hi,I would like to work in the task, however I don't understand the pipeline:

 Re-work the MavenArtifactGenerator.
 Re-work the NugetArtifactGenerator.
 Re-work the NpmArtifactGenerator.
 Re-work the PypiArtifactGenerator.
 Re-work the RawArtifactGenerator.
 Re-work the RpmArtifactGenerator.

[2020-10-04 07:36] rsuroju commented on #1848
I would like to work on this, if anyone has not taken up this task.

[2020-10-04 09:36] carlspring commented on #1848
@madisonreese: Are you still looking into this?

[2020-10-04 10:17] dotbg commented on #1830
please, mark the repositories above with a 'hacktoberfest' tag :)

[2020-10-04 12:14] carlspring commented on #1830
What exactly do you mean? The issues are already tagged.

[2020-10-04 17:21] AkshayBabbar commented on #1855
Hi Please close this with the label -> "hacktoberfest-accepted"

Thanks, Team.

[2020-10-04 17:32] carlspring commented on #1855
There is no need for this. This is not a pull request, but an issue and it won't count towards your efforts for #hackroberfest. For more details, please check [here](https://hacktoberfest.digitalocean.com/hacktoberfest-update).

[2020-10-04 17:38] AkshayBabbar commented on #1855
Ok Cool np thanks for informing :)

[2020-10-04 17:48] carlspring commented on #1830
@dotbg : Done! Thanks! :)

[2020-10-05 03:16] luan-cestari commented on #1814
I just opened a PR https://github.com/strongbox/strongbox/pull/1892 for MavenArtifactGenerator . I will wait the pipeline to check all the changes necessary to continue

[2020-10-05 15:24] shiylxinsse commented on #1862
@steve-todorov my apologies for the late response. I'm working on it and will send a PR soon. I also noticed that the commons-collections have already been replaced with commons-collections4 in [issue-1262 PR](https://github.com/strongbox/strongbox-parent/commit/a9c01d1d5ca4fa1c09f771d933b15af9786e280b). This PR will be a minor release upgrade.

[2020-10-05 15:39] carlspring commented on #1862
Thanks for double-checking and looking into this!
I'm looking forward to seeing your pull requests! :)

[2020-10-05 15:58] j4ckofalltrades commented on #1829
@carlspring Is it okay if I take this on?

[2020-10-05 16:21] carlspring commented on #1829
Hi,

Yes, please!

[2020-10-05 19:22] AricMonary commented on #1865
May I be assigned to this task?

[2020-10-05 19:46] mknutsen79 commented on #1858
I see no one is yet assigned to this ask is it okay to start working on this?

[2020-10-05 20:01] carlspring commented on #1865
@AricMonary ,

Please, feel free to pick it up.

[2020-10-05 20:02] carlspring commented on #1865
Hi @suryaprakashraja ,

Thanks for offering to help! My reply is a bit late, so I do apologize! Would you like to pick another task instead?

Much appreciated!

[2020-10-05 21:04] carlspring commented on #1858
@dms-yondy , @mknutsen79 ,

This task consists of two parts which should be done together - #1846 + #1858 , so whoever decides to pick this up, should optimally don both.

@mknutsen79 , I know that you need at least two more tasks, so I am therefore more inclinded for you to pick it up, as you've already done one.

@dms-yondy : I hope you're not offended! Would you mind picking one of our many oth

[2020-10-05 23:00] carlspring commented on #1876
@wiltonoliveira ,

Please, feel free to pick any other task. Thanks! :)

[2020-10-06 00:42] #1876 closed

[2020-10-06 02:10] mknutsen79 commented on #1858
I appreciate that, thank you!

[2020-10-06 10:50] carlspring opened #1901 "Copy our pull request template to the rest of the Strongbox projects"
# Task Description

The Strongbox project already has a [pull request template](https://github.com/strongbox/strongbox/blob/master/.github/PULL_REQUEST_TEMPLATE.md) and we need to copy this across the rest of the sub-projects.
The template should have the following line changed (in all the sub-projects) from:
[code]
To:
[code]

# Tasks

The following tasks will need to be carried out:
* [x] Copy t

[2020-10-06 10:56] pawelpaszki commented on #1901
@carlspring can you assign me to this please?

[2020-10-06 10:57] carlspring commented on #1901
@pawelpaszki ,

Thanks for offering to help! Please, feel free to pick this up! :)

[2020-10-06 13:05] j4ckofalltrades commented on #1827
@carlspring Can you assign this to me if no one else has picked it up?

[2020-10-06 13:10] carlspring commented on #1827
@j4ckofalltrades : Done! Thanks! Feel free to pick up the other such tasks as well.

[2020-10-06 13:11] carlspring commented on #1827
@shambhand : I'm sorry, I've only just seen your comment offering to help! Please, feel free to pick up one of our other tasks! :)

[2020-10-06 17:51] steve-todorov opened #1905 "Remove the version from the env vars used in strongbox-web-integration-tests and ci-build-images"
# Task Description

The [strongbox-web-integration-tests](https://github.com/strongbox/strongbox-web-integration-tests) project depends on these environment variables to work:

[code]

We need to remove the `V3` part from the environment variable so that it becomes:
[code]

This change is necessary to allow for different major versions to  be used without the needing of code changes.

# Tasks

The

[2020-10-06 18:02] #1901 closed

[2020-10-06 21:52] shravyags commented on #877
@carlspring is it required for the same person to raise PR for this issue and [#876](https://github.com/strongbox/strongbox/issues/876) ? Or can this issue be worked separately?

[2020-10-06 22:08] #1864 closed

[2020-10-06 22:58] carlspring opened #1906 "Set up our project to be able to work with Github Codespaces"
# Task Description

We would like to set up our project so that it can work with Github Codespaces.

This project can currently only work with JDK8 (in all branches) and it will fail to compile with newer versions. We need to figure out how to set things up so that the Docker image which is being used has JDK8, instead of JDK11.

For the `issues/1649` branch, we need to add configuration for both

[2020-10-06 23:00] steve-todorov commented on #1906
This might be helpful.

https://docs.github.com/en/free-pro-team@latest/github/developing-online-with-codespaces/configuring-codespaces-for-your-project#creating-a-custom-codespace-configuration

[2020-10-07 00:02] j4ckofalltrades commented on #1905
@steve-todorov I'd like to take this on. Can you assign this issue to me? Thanks.

[2020-10-07 00:42] carlspring commented on #877
@shravyags ,

Are you familiar with PHP and Composer?

This task is sub-task of #872 and could only be implemented, after #873, #874, #875 and #876 are implemented. I was asking whether you're experienced with PHP and Composer, because the whole set of tasks would require someone with sufficient knowledge and experience in both Java and PHP/Composer, as they would have to work on the whole set of

[2020-10-07 01:26] steve-todorov commented on #1905
I've merged your other change in the master branch. Feel free to start working on this :)

[2020-10-07 01:41] j4ckofalltrades commented on #1905
Cool, thank you.

[2020-10-07 04:26] tanvimehta commented on #1857
Is this issue available to be worked on? If so, I'd like to give it a shot

[2020-10-07 04:41] tanvimehta commented on #1826
Can I pick up this task?

[2020-10-07 06:13] devshashankb commented on #1123
Can i work on this?

[2020-10-07 06:41] shravyags commented on #877
Oh okay. I am familiar with PHP but have not worked extensively on that. But not aware of Composer. Probably I will not take this issue as all 5 issues combined would required a good skill on PHP, composer.

[2020-10-07 08:11] carlspring commented on #1123
Yes, you pick #1126.

[2020-10-07 12:44] madhukarbharti commented on #1840
@carlspring and @steve-todorov May I work on this issue? Can you please assign this to me?

[2020-10-07 13:32] #1856 closed

[2020-10-07 13:37] madhukarbharti commented on #1840
Thanks @carlspring :)

[2020-10-07 13:43] kosuruvarunkumar commented on #1844
@carlspring, May I start looking into it? If yes, can you please help with some code pointers?
Thank you

[2020-10-07 13:45] carlspring commented on #1840
Yes, please! Feel free to dig into this!

Your points of contact for this (in case you need help), will be @steve-todorov and @sbespalov . Feel free to ask questions either here, or on our [chat channel](https://chat.carlspring.org/).

Good luck! :)

[2020-10-07 13:48] carlspring commented on #1844
@kosuruvarunkumar ,

You will need to create a branch for this off the `issues/1649` branch and work on it there. If you have a look at the class, you'll see that it has a lot of `// TODO` comments for the unimplemented methods. You will need to:
* [ ] Assemble a task list of the methods that will need to be implemented
* [ ] Implement tests for them

Your point of contact for this will be @sbespa

[2020-10-07 13:56] kpx3 commented on #1727
hello I would like to take this up, I am new to open source so I might need help.

[2020-10-07 13:57] carlspring commented on #1727
Hi @kpx3  ,

Feel free to pick it up and to join our [chat channel](https://chat.carlspring.org/).

[2020-10-08 00:36] Vishant93 commented on #1854
Hi @carlspring, can I take on this issue?

[2020-10-08 01:19] liooh commented on #1842
Hi, I've interest in work in this task, however. @sreejadas has some update?

[2020-10-08 01:38] carlspring commented on #1842
Hi @liooh ,

I don't think she has done any work on this! Feel free to pick it up! :)

[2020-10-08 01:44] liooh commented on #1842
Ok, thanks!

[2020-10-08 01:45] liooh commented on #1842
Ok, I will start the development

[2020-10-08 12:45] StanislavFranko commented on #1137
Is this issue available? @haikubabe Are you still working on this?

[2020-10-08 12:51] carlspring commented on #1137
Hi @StanislavFranko ,

This issue is up for grabs! Feel free to dig into it and to join our [chat channel](https://chat.carlspring.org/).

[2020-10-08 14:04] carlspring commented on #1842
Okay, @liooh ! Your point of contact for this will be @sbespalov .

[2020-10-08 14:20] #1874 closed

[2020-10-08 19:01] #1827 closed

[2020-10-09 00:16] liooh commented on #1842
Should Edges.java and Vertices.java files be removed?

[2020-10-09 01:59] sbespalov commented on #1842
no, you should use constants defined there instead of hardcoded literals within all the code.

[2020-10-09 06:16] suryaprakashraja commented on #1865
@carlspring Sure. Thanks

[2020-10-09 07:11] kosuruvarunkumar commented on #1844
The task is open for pickup.
Thank you

[2020-10-09 12:26] liooh commented on #1842
Ok

[2020-10-09 13:29] #1829 closed

[2020-10-09 16:23] ptirador commented on #1851
Hi @carlspring,

After investigating a little, I've realized that this error is provoked due to a bug with Jersey dependency, which should be updated from `2.23.1` (Jun, 2016) to the latest `2.32` (Sep, 2020). I've just tried in my local environment and integration tests pass. Should we create an issue for this?

[2020-10-09 16:49] vivekmthr commented on #1848
Hey, if no one has touched this yet could I try it?

[2020-10-09 16:52] carlspring commented on #1848
Hey @vivekmthr ! Go for it!

[2020-10-09 17:07] carlspring commented on #1851
Hi @ptirador ,

That's fantastic! So, what would that mean? You'll fix the Jersey issue separately and then this @ratisaxena 's pull request will be merged?

[2020-10-09 17:14] ptirador commented on #1851
Yes @carlspring , that's what I meant.

[2020-10-09 17:16] carlspring commented on #1851
Okay, great! Thanks! :)

Let me know when I should merge things.

[2020-10-09 17:17] carlspring commented on #1851
Hi @ratisaxena !

Thank you for your contribution!

Would you mind signing the ICLA, as described in the [Contributing](https://github.com/strongbox/strongbox/blob/master/CONTRIBUTING.md) page?

Also, please, feel free to join our [chat channel](https://chat.carlspring.org/), if you'd like to learn more about the project and/or like to find out what else you could help with.

Kind regards,

Martin

[2020-10-09 17:42] ptirador opened #1910 "Upgrade our Jersey dependencies from 2.23.1 to 2.32"
# Task Description

We need to upgrade our `jersey` dependencies from `2.23.1` to `2.32`.

# Tasks

The following tasks will need to be carried out:
* [ ] Update the version in the [strongbox-parent] project.
* [ ] Apply any required code changes, or dependency excludes.
* [ ] Test and confirm that there are no issues with the core projects ([strongbox], [strongbox-web-integration-tests], etc) aft

[2020-10-09 23:20] liooh commented on #1910
Hi, I'm interested in working on this task, can it be part of the issues for hacktoberfest?

[2020-10-10 02:36] carlspring commented on #1910
Hi @liooh ,

Pablo is already working on a fix for this. Would you like to pick another task and to join our [chat channel](https://chat.carlspring.org/) where we can discuss what other tasks you could pick?

[2020-10-10 11:56] JanBucko commented on #1819
Hello, i woult like to take a shot on this :)

[2020-10-10 12:23] carlspring commented on #1819
Hi @JanBucko

Feel free to pick it up!

[2020-10-10 12:56] JanBucko commented on #1819
Thank you. Just one last question, could you please point me towards classes where the uploading is handled ?

[2020-10-10 13:22] carlspring commented on #1819
Have a look at the `BaseArtifactController` and the extending classes.

[2020-10-10 13:22] JanBucko commented on #1819
Thank you very much :)

[2020-10-10 15:20] carlspring commented on #1857
Implemented by @roshinisebastian via strongbox/strongbox-parent#85.

[2020-10-10 15:20] #1857 closed

[2020-10-10 15:20] carlspring commented on #1857
@tanvimehta : Would you like to maybe pick another task? Thanks! :)

[2020-10-10 15:51] #1910 closed

[2020-10-10 16:38] carlspring commented on #1851
@ratisaxena ,

Could you please re-test this now? You might have to [rebase your code](https://strongbox.github.io/developer-guide/git/rebase-vs-merge.html).

[2020-10-10 19:27] #1905 closed

[2020-10-11 01:02] carlspring commented on #1826
Hi @tanvimehta ,

I believe that @avinash28196 is already working on this in strongbox/ci-build-images#17. Are you familiar with Chocolatey? If you are, please feel free to dig in! If you like, you can try out @tanvimehta 's changes and try to further improve his work, by helping to figure out the issue he's facing? Thanks!

Alternatively, feel free to pick up another issue, or to give us a shout

[2020-10-11 01:40] carlspring commented on #1727
@kpx3 : How's it going? Any luck?

[2020-10-11 03:07] carlspring opened #1913 "Re-work the licensing and contributing pages"
# Task Description

We need to re-work the licensing and contributing pages, as they are way too long and need to be split up accordingly.

# Tasks

The following tasks will need to be carried out:
* [ ] Re-work the licensing pages.
* [ ] Re-work the contributing page.

[2020-10-11 04:00] carlspring commented on #1111
@mehtakaran9 ,

Are you familiar with JDK 11?

[2020-10-11 13:15] #1835 closed

[2020-10-12 10:22] carlspring commented on #1887
@pavluchenko ,

Any updates on this?

[2020-10-13 08:06] herkura commented on #1873
hi,
@carlspring  Can I work on this?

[2020-10-13 08:34] carlspring commented on #1873
Yes, please!

[2020-10-13 09:19] herkura commented on #1873
@carlspring  can you please guide me on how to do it since this is my first contribution to an open-source project.

[2020-10-13 09:37] carlspring commented on #1873
@whalenda ,

I can't guide you beyond:

* Check our article on [how to upgrade dependencies and plugins](https://strongbox.github.io/developer-guide/upgrading-dependencies-and-plugins.html).

Could you please read the description and try to work it out? Thanks!

[2020-10-13 09:40] herkura commented on #1873
@carlspring  thank you. will check the article.

[2020-10-13 10:19] JanBucko commented on #1819
Hi, I was trying to add support for this change to the Web UI, I have forked and cloned the project with the local spring boot server running but when I started ng serve and opened my browser on localhost:4200 I came across an error: Cannot GET /static/assets is there anything I forgot to do before starting the angular dev server ?

[2020-10-13 10:29] steve-todorov commented on #1819
@JanBucko can you please ping me in the [chat](https://chat.carlspring.org)? This might be because of a build issue under windows (if you are running Windows). You can try if this fixes it for you  https://github.com/strongbox/strongbox-web-ui/pull/40. If not - ping me in the chat.

[2020-10-13 13:11] ripudaman1320 commented on #1873
Hello @carlspring ,

I have the strongbox setup running in my local. Can i work on this issue as part #hacktoberfest?

Thanks!
-Ripu

[2020-10-13 14:34] carlspring commented on #1873
Well, what could I say -- whoever does it first, wins! :)

[2020-10-13 17:23] carlspring opened #1915 "Refactoring of the strongbox-npm-metadata project"
# Task Description

We need to re-organize our implementation of the NPM layout provider.

This is the parent task for the work described below.

# Tasks

The following tasks will need to be carried out in exactly this order, as they will depend on each other:
* [ ] Clean up of the NPM layout provider ( # ).
* [ ] Absorb the `strongbox-npm-metadata` project into `strongbox` ( # ).
* [ ] Archive th

[2020-10-13 17:26] carlspring opened #1916 "Clean up minor build issues with the strongbox-npm-metadata project"
# Task Description

We need to a minor clean up of our [strongbox-npm-metadata](https://github.com/strongbox/strongbox-npm-metadata) project.

# Tasks

The following tasks will need to be carried out:
* [x] Drop the need for the [strongbox-npm-metadata-parent](https://github.com/strongbox/strongbox-npm-metadata/blob/master/strongbox-npm-metadata-parent/pom.xml)
  * [x] This module should be remove

[2020-10-13 17:28] carlspring opened #1917 "Absorb the strongbox-npm-metadata project into strongbox"
# Task Description

We need to re-organize our implementation of the NPM layout provider.

The whole project builds in 31 secs, when it's built for the first time and the dependencies haven't been download yet; when they're already cached, it only takes 5 secs. There is no good benefit of having the code outside the main codebase for this, as it creates a highly de-coupled modular build and adds a

[2020-10-13 22:38] carlspring commented on #1819
@sbespalov , @ptirador : Any thoughts on this? :)